<!-- ###FULLDOC### begin -->
<div class="typo3-fullDoc">
    <!-- Page header with buttons, path details and csh -->
    <div id="typo3-docheader">
        <div id="typo3-docheader-row1">
            <div class="buttonsleft">###BUTTONLIST_LEFT###</div>
            <div class="buttonsright">###BUTTONLIST_RIGHT###</div>
        </div>
        <div id="typo3-docheader-row2">
            <div class="docheader-row2-left"><div class="docheader-funcmenu">###FUNC_MENU###</div></div>
            <div class="docheader-row2-right">###PAGEPATH######PAGEINFO###</div>
        </div>
    </div>
    <!-- Content of module, for instance listing, info or editing -->
    <div id="typo3-docbody">
        <div id="typo3-inner-docbody">
            ###CONTENT###
        </div>
    </div>
</div>
<!-- ###FULLDOC### end -->

<!-- Grouping the icons on top -->

<!-- ###BUTTON_GROUP_WRAP### -->
    <div class="buttongroup">###BUTTONS###</div>
<!-- ###BUTTON_GROUP_WRAP### -->

<!-- ###BUTTON_GROUPS_LEFT### -->
<!-- ###BUTTON_GROUP1### -->###SAVE###<!-- ###BUTTON_GROUP1### -->
<!-- ###BUTTON_GROUPS_LEFT### -->

<!-- ###BUTTON_GROUPS_RIGHT### -->
<!-- ###BUTTON_GROUP1### -->###SHORTCUT###<!-- ###BUTTON_GROUP1### -->
<!-- ###BUTTON_GROUPS_RIGHT### -->