<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
		 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
		 xmlns:c="http://typo3.org/ns/HDNET/Calendarize/ViewHelpers">

	<f:layout name="Default_Single"/>

	<f:section name="Main">
				<f:render partial="{index.configuration.partialIdentifier}/Detail" arguments="{index: index}"/>
	</f:section>
</div>
