<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:c="http://typo3.org/ns/HDNET/Calendarize/ViewHelpers">

	<f:layout name="Default" />

	<f:section name="Main">
	
				<c:loop.monthsInYear date="{date}" iteration="year">
			
						<f:render partial="Month" arguments="{date: year.calendar.date, indices:indices}" /> 
					
				</c:loop.monthsInYear>
	</f:section>
</div>
