{namespace vh=In2code\Powermail\ViewHelpers}
<f:layout name="Default" />

Render Powermail Thx Page
{powermail_rte}									Variable is filled with values from RTE in backend
{powermail_all}									Outputs all fields
{mail}											Complete Mail Object
{marker1}, {firstname}, etc.. 					Outputs a field
{label_marker1}, {label_firstname}, etc... 		Outputs a label to a field
{ttContentData}									All values from content element with plugin
{uploadService}									All values from uploaded files
NOTE: See example section after main section



<f:section name="main">
	<f:flashMessages class="powermail_message powermail_message_error" />

	<div class="powermail_create" data-powermail-form="{mail.form.uid}">
		<div class="container-fluid">
			<div class="row">
				<div class="powermail_column powermail_check_column">
					<img src="/fileadmin/default/images/check_blue.png">
				</div>
				<div class="powermail_column powemail_headline_column">
				<f:if condition="{f:cObject(typoscriptObjectPath: 'lib.language')} == 'de'">
				<f:then>
					<h3>Ihre Nachricht wurde an uns geschickt.</h3>
					<p>
						Wir werden uns schnellstmöglich um Ihr Anliegen kümmern.<br>
						(Eine Sendebestätigung wurde an Ihre E-Mail Adresse geschickt.)
					</p>
				</f:then>
                <f:else>
				<h3>Thank you for your message.</h3>
					<p>
						We have received your request and our team will contact you shortly.
					</p>
				</f:else>
                </f:if>				
				</div>
			</div>
	</div>
	</div>
</f:section>