{namespace vh=In2code\Powermail\ViewHelpers}
<f:layout name="Default" />
Render Powermail Form
{form} 			All Forms with their Pages and their Fields
{ttContentData}		All values from content element with plugin
<f:section name="main">
  <f:flashMessages class="powermail_message powermail_message_error" />
  <f:if condition="{form}">
    <f:then>
      <div class="content-container"><div class="row"><a class="tx_locationsearch_back_button"><span>
        <f:translate key="confirmation_prev" />
        </span></a>
        <f:form
						action="{action}"
						name="field"
						enctype="multipart/form-data"
						additionalAttributes="{vh:Validation.EnableParsleyAndAjax(form:form)}"
						addQueryString="{settings.misc.addQueryString}"
						class="powermail_form powermail_form_{form.uid} {form.css} {settings.styles.framework.formClasses} {vh:Misc.MorestepClass(activate:settings.main.moresteps)}">
          <div class="col-xs-12">
            <f:if condition="{form.css} != 'layout3'">
              <h3>{form.title}</h3>
            </f:if>
          </div>
          <f:render partial="Misc/FormError" arguments="{_all}" />
          <f:for each="{form.pages}" as="page" iteration="formIterator">
            <f:render partial="Form/Page" arguments="{_all}" />
          </f:for>
          <f:form.hidden name="mail[form]" value="{form.uid}" class="powermail_form_uid" />
          <f:render partial="Misc/HoneyPod" arguments="{form:form}" />
        </f:form>
		</div>
      </div>
    </f:then>
    <f:else>
      <f:translate key="error_no_form" />
    </f:else>
  </f:if>
</f:section>
