{namespace vh=In2code\Powermail\ViewHelpers}
<f:layout name="PowermailAll" />

	Render Powermail All Part
		Available variables:
		{mail} 					Complete Mail
		{settings}				TypoScript and FlexForm values
		{section}				Contains "web" or "mail"
		{type}					Caller "createAction", "confirmationAction", "sender", "receiver"


Section for Web view

<f:section name="web">
	<table class="table table-striped table-hover table-responsive">
		<f:for each="{mail.answers}" as="answer">
			<f:if condition="{vh:Condition.isNotExcludedFromPowermailAll(answer:answer, type:type, settings:settings)}">
				<f:if condition="{settings.misc.showOnlyFilledValues}">
					<f:then>
						<f:if condition="{vh:Condition.IsNotEmpty(val:'{answer.value}')}">
							<f:render partial="PowermailAll/Web" arguments="{_all}" />
						</f:if>
					</f:then>
					<f:else>
						<f:render partial="PowermailAll/Web" arguments="{_all}" />
					</f:else>
				</f:if>
			</f:if>
		</f:for>
		<tr>
			<td class="powermail_all_label">URL:</td>
			<td class="powermail_all_value"><f:uri.page pageUid="{backto}" absolute="true"></f:uri.page></td>
		</tr>
	</table>
</f:section>



Section for Mails

<f:section name="mail">
	<table class="powermail_all">
		<f:for each="{mail.answers}" as="answer">
			<f:if condition="{vh:Condition.isNotExcludedFromPowermailAll(answer:answer, type:type, settings:settings)}">
				<f:if condition="{settings.misc.showOnlyFilledValues}">
					<f:then>
						<f:if condition="{vh:Condition.IsNotEmpty(val:'{answer.value}')}">
							<f:render partial="PowermailAll/Mail" arguments="{_all}" />
						</f:if>
					</f:then>
					<f:else>
						<f:render partial="PowermailAll/Mail" arguments="{_all}" />
					</f:else>
				</f:if>
			</f:if>
		</f:for>
		<tr>
			<td valign="top"><b>URL:</b></td>
			<td valign="top"><f:uri.page pageUid="{backto}" absolute="true"></f:uri.page></td>
		</tr>
	</table>
</f:section>
