<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  xmlns:s="http://typo3.org/ns/ApacheSolrForTypo3/Solrfluid/ViewHelpers">

<f:section name="Facets">
	<div id="tx-solr-faceting">
		<f:if condition="{resultSet.facets.used -> f:count()}">
			<div id="tx-solr-facets-in-use">
				<ul class="facets">
					<li class="facets-remove-all">
						<a href="{s:uri.facet.removeAllFacets()}" class="solr-ajaxified">
							<s:translate key="faceting_removeFilter">Remove filter</s:translate>
						</a>
					</li>
				</ul>
			</div>
		</f:if>

		<s:facet.area.group groupName="main" facets="{resultSet.facets.available}">
			<div class="facet-area-main">
				<div class="solr-facets-available secondaryContentSection">
					<div class="csc-header">
						<h3 class="csc-firstHeader"><s:translate key="faceting_narrowSearch">Narrow Search</s:translate></h3>
					</div>
					<ul class="facets">
						<f:for each="{areaFacets}" as="facet">
							<li class="facet facet-type facet-type-{facet.type}">
								<f:render partial="Facets/{facet.partialName}" arguments="{resultSet:resultSet, facet:facet}"/>
							</li>
						</f:for>
					</ul>
				</div>
			</div>
		</s:facet.area.group>

	</div>

</f:section>
