@CHARSET "UTF-8";
/*******************************************************************************\
*                                                                               *
*  WebChat Integration Sample © 2012 Avaya, All rights reserved.            *
*                                                                               *
\*******************************************************************************/



/*****************************************************************************\
* basic default settings
\*****************************************************************************/
body
{
  margin:0;
  border:0;
  padding:0;
  height:100%;
  max-height:100%;
  font-family: 'robotobold';
  font-size: 18pt;
  background-color: #ededed;
  color: #072a5b;
  overflow: hidden;
}
form#ChatForm
{
	margin:0pt;
	padding:0pt;
}


/*****************************************************************************\
* the little area where tool buttons are display
\*****************************************************************************/
div#ToolBar
{
	padding:2pt 12pt 2pt 12pt;
	text-align:right;
}


/*****************************************************************************\
* the message display in the middle
\*****************************************************************************/
div#ChatDisplay {
	font-size: 9pt;
	overflow:hidden;
	background-color: #F0F0F0;
	padding:3pt 12pt 3pt 12pt;
}
span#ChatDisplayStateLabel
{
    font-weight: bold;
}
span#ChatDisplayState
{
	font-size: 10pt;
}
div#ChatMessageHistory
{
    font-size: 9pt;
    color: black;
    height: 90%;
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 1pt;
    overflow:auto;
    padding:3pt;
    margin-top:3pt;
    margin-bottom:3pt;
    background-color: #FFFFFF;
}


/*****************************************************************************\
* the message input and send control
\*****************************************************************************/
div#ChatControl
{
	font-size: 10pt;
	width:100%;
	height:150pt;
	overflow:hidden;
	padding: 0pt 12pt 0pt 12pt;
	margin: 0pt;
	vertical-align: top;
	text-align: left;
}
div.ChatSendLabel 
{
    font-size: 10pt;
    font-weight: bold;
	padding: 0pt 22pt 0pt 0pt;
	overflow:auto;
}
textarea#ChatSendInput
{
	margin-top: 2pt;
	font-size: 12pt;
	background-color: #d5e0f3;
    height:90pt;
    width:92%;
}
input#ChatSendButton
{
    width:92%;
	background-color: #ededed;
	border-color: #072a5b;
    cursor: auto;    
}

/*****************************************************************************\
* text messages outfit (mainly used in java script)
\*****************************************************************************/
.ChatRecordOutSender
{
	font-weight:bold;
	color:#072a5b;
}
.ChatRecordOutText
{
	display:block;
	padding-left:20px;
	color:#072a5b;
}
.ChatRecordInSender
{
	font-weight:bold;
	color:Black;
}
.ChatRecordInText
{
	display:block;
	padding-left:20px;
	color:Black;
}

.ChatSystemMessage
{
	border-top-color:white;
	border-top-style:solid;
	border-top-width:1px;
	margin-top:10px;
	display:block;
	padding-left:20px;
	color:#072a5b;
}
