@CHARSET "UTF-8";
/*******************************************************************************\
*                                                                               *
*  WebChat Integration Sample © 2012 Avaya, All rights reserved.            *
*                                                                               *
\*******************************************************************************/




/*****************************************************************************\
* basic default settings
\*****************************************************************************/
body {
	font-family: 'robotobold';
	font-size: 18pt;
	background-color: #ededed;
	padding: 0px;
	margin: 0px;
}
p, ul, ol, li, div,span,  table, tr, td, th, address, blockquote {
    font-size: 12pt;
    font-family: 'robotobold';
    color: #072a5b;
}


/*****************************************************************************\
* page layout table
\*****************************************************************************/
table.Layout {
	border: 0pt;
	border-collapse: collapse;
	width: 100%;
	margin: 0pt;
	padding: 0pt;
}
td.ChatLauncherComment{
	vertical-align: top;
	text-align: left;
	margin: 0pt;
	padding: 0pt;
}
td.ChatLauncher {
	vertical-align: top;
	text-align: left;
	margin: 0pt;
	padding: 0pt;
}


/*****************************************************************************\
* central chat launching section
\*****************************************************************************/
div#ChatLauncher {
	margin-left: 12pt;
	padding: 3pt;

}
div#ChatLauncherTitle {
	padding-top: 30px;
	font-size: 12pt;
	font-weight: bold;
	margin-right: 6pt;
	padding-bottom: 6pt;
}
select#ChatLauncherTopicID {
	border: 1pt;
	background-color: #d0d0d0;
	width: 200pt;
}
input#ChatLauncherNickName {
	border: 1pt;
	background-color: #d0d0d0;
	width: 200pt;
}
input#ChatLauncherEmail {
	border: 1pt;
	background-color: #d0d0d0;
	width: 200pt;
}
input#ChatLauncherNumber {
	border: 1pt;
	background-color: #d0d0d0;
	width: 200pt;
}
textarea#ChatLauncherInitialQuestion {
	border: 1pt;
	width: 200pt;
	height: 60pt;
}
input#ChatLauncherPrivacyCheck {
	border: 5pt;
}
td#ChatLauncherFooter {
	text-align: right;
}
input#ChatLauncherStartButton {
  	width: auto;
  	height: auto;
    padding: 10px;
    background-color: #ededed;
	border-color: #072a5b;
	border-width: 2px;
	border-style:solid;
   	vertical-align: middle;
   	margin: auto;
   	display: block;
    margin-top:5px;
    cursor: pointer;
    text-align: center;
    font-family: 'robotomedium';
    font-size: 23px;
	color: #072a5b;
}
div#closeFormButton
  {
    position: fixed;
    top:0px;
    right: 0px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
    text-align: center;
    padding-top: 3px;
    box-sizing:border-box;
    cursor: pointer;
  }

div.ChatLauncherComment {
	font-size:10pt;
	margin-right: 6pt;
	padding-bottom: 6pt;
}
div.ChatLauncherLabel {
	font-size: 12pt;
	margin-right: 6pt;
	padding-bottom: 6pt;
}

