{namespace vh=In2code\Powermail\ViewHelpers}

<f:if condition="{field.css}=='layout1'">
    <f:then>
	<div class="col-sm-12  col-xs-12 powermail_fieldwrap powermail_fieldwrap_type_captcha powermail_fieldwrap_{field.marker} {field.css} {settings.styles.framework.fieldAndLabelWrappingClasses}">
    </f:then>
	<f:else>
	<div class="col-sm-6  col-xs-12 powermail_fieldwrap powermail_fieldwrap_type_captcha powermail_fieldwrap_{field.marker} {field.css} {settings.styles.framework.fieldAndLabelWrappingClasses}">
	</f:else>
</f:if>

	<label for="powermail_field_{field.marker}_{field.uid}" class="{settings.styles.framework.labelClasses}" title="{field.description}">
		<vh:string.RawAndRemoveXss>{field.title}</vh:string.RawAndRemoveXss><span class="mandatory">*</span>
	</label>

	<div class="{settings.styles.framework.fieldWrappingClasses} {vh:Validation.ErrorClass(field: '{field}', class: 'powermail_field_error')}">
		<f:form.textfield
				id="powermail_field_{field.marker}_{field.uid}"
				property="{field.marker}"
				value=""
				class="powermail_captcha {settings.styles.framework.fieldClasses} {vh:Validation.ErrorClass(field:field, class:'powermail_field_error')}"
				additionalAttributes="{vh:Validation.CaptchaDataAttribute(field:field)}" />

		<img src="{vh:Validation.Captcha(field:field)}" alt="captcha" class="powermail_captchaimage" id="powermail_captchaimage" />

		<f:if condition="{settings.validation.client}">
			<div class="powermail_field_error_container powermail_field_error_container_{field.marker}"></div>
		</f:if>
	</div>
</div>
