<f:if condition="{field.css}=='layout1'">
    <f:then>
<div class="col-sm-8 col-xs-12 powermail_fieldwrap powermail_fieldwrap_type_submit powermail_fieldwrap_{field.marker} {field.css} {settings.styles.framework.fieldAndLabelWrappingClasses}">
    </f:then>
	<f:else>
<div class="col-xs-12 powermail_fieldwrap powermail_fieldwrap_type_submit powermail_fieldwrap_{field.marker} {field.css} {settings.styles.framework.fieldAndLabelWrappingClasses}">
	</f:else>
</f:if>
	<!--<div class="{settings.styles.framework.fieldWrappingClasses} {settings.styles.framework.offsetClasses}">-->
	<div class="{settings.styles.framework.fieldWrappingClasses}">
		<f:form.submit value="{field.title}" class="powermail_submit btn btn-primary" />
	</div>
</div>