<f:if condition="{field.css}=='layout1'">
    <f:then>
<div class="col-sm-4 anfrage col-xs-12 powermail_fieldwrap powermail_fieldwrap_type_text powermail_fieldwrap_{field.marker} {field.css} {settings.styles.framework.fieldAndLabelWrappingClasses}">
    </f:then>
	<f:else>
<div class="col-sm-6  col-xs-12 powermail_fieldwrap powermail_fieldwrap_type_text powermail_fieldwrap_{field.marker} {field.css} {settings.styles.framework.fieldAndLabelWrappingClasses}">
	</f:else>
</f:if>
	<div class="{settings.styles.framework.fieldWrappingClasses}">
		<div class="powermail-text-only">
			<f:format.nl2br>{field.text}</f:format.nl2br>
		</div>
	</div>
</div>
