  

<f:if condition="{indices -> f:count()}">
	<f:then>
		<f:if condition="{settings.hidePagination}">
		
		{settings.hidePagination}
			<f:then>
				<f:for each="{indices}" as="index" iteration="i">
					<f:if condition="{i.total} = 3">
						<f:then>
					
								<f:render partial="{index.configuration.partialIdentifier}/ListItemTE-04" arguments="{index: index}" />
						
						</f:then>
						<f:else>
							<f:render partial="{index.configuration.partialIdentifier}/ListItem" arguments="{index: index}" />
							
							
						</f:else>
					</f:if>
					
				</f:for>
			</f:then>
			<f:else>
			
				<!--<f:widget.paginate objects="{indices}" as="paginatedIndices" configuration="{itemsPerPage: 100, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 10}">	-->
					<f:for each="{paginatedIndices}" as="index">
						<f:render partial="{index.configuration.partialIdentifier}/ListItem" arguments="{index: index}" />
						
					</f:for>
				<!--</f:widget.paginate>	-->
			
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		<f:translate key="no_events" />
	</f:else>
</f:if>

