<f:layout name="Default"/>
<f:section name="Main">

    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '3'}"/>
	 <f:render partial="Navigation/Breadcrumb" arguments="{_all}"/>

    <div class="container">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}"/>
    </div>

</f:section>
