<f:layout name="Default" />
	<f:section name="Main">
		<div class="container">
			<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}"/> 
				<div class="location_template module">
					<div class="content_modul">
						<div class="row sameheight">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7">
								<div class="location_content" >
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 nopadding setheight location_content_person" >
										<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '1'}" />				
									</div>
									<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 nopadding setheight location_content_form" >
										<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '2'}"/> 
									</div>
								</div>
								<div class="location_content_more">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7 location_content_more_form">
										<div class="row">
										<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '3'}"/> 
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '4'}"/> 
		</div>
	</f:section>