<f:layout name="Default" />
<f:section name="Main">
<div class="container_marginal">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content_top nopadding container">
		<div class="row">
			<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '3'}"/> 
		</div>
	</div>
	<f:render partial="Navigation/Breadcrumb" arguments="{_all}"/>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content_top nopadding">
		<div class="row">
			<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '2'}"/> 
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content_marginal">
		<div class="row">
			<div class="content_modul">
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 subcontent-wrap ">	
					<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '1'}" />
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 right-content-wrap" >				
					<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}" />
				</div>
			</div>
		</div>
	 </div>
	 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content_bottom">
		 <div class="row">
			<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '4'}"/> 
		 </div>
	 </div>
</div>
</f:section>