<f:layout name="Default"/>
<f:section name="Header">

    <f:render partial="Header/All" arguments="{_all}" />

</f:section>
<f:section name="Main">

    <f:if condition="{menu}">
        <div class="row" data-equalheight="container">
            <f:for each="{menu}" as="page">
                <f:if condition="{page.files.0}">
                    <f:if condition="{page.files.0.type} == 2">

                        <div class="col-xs-6 col-sm-4">
                            <f:link.page pageUid="{page.data.uid}" title="{page.title}" class="thumbnail" data="{equalheight: 'item', toggle: 'tooltip'}">
                                <div class="thumbnail-image">
                                    <f:media file="{page.files.0}" width="{settings.media.width}" height="{settings.media.height}" />
                                </div>
                                <div class="thumbnail-caption">
                                    <f:if condition="{page.title}">
                                        <h3><f:format.crop maxCharacters="{settings.title.crop}">{page.title}</f:format.crop></h3>
                                    </f:if>
                                    <f:if condition="{page.data.abstract}">
                                        <p><f:format.crop maxCharacters="{settings.abstract.crop}">{page.data.abstract}</f:format.crop></p>
                                    </f:if>
                                </div>
                            </f:link.page>
                        </div>

                    </f:if>
                </f:if>
            </f:for>
        </div>
    </f:if>

</f:section>
