<footer>
  <section class="footer_content">
    <div class="container">
      <div class="row">
	  <f:cObject typoscriptObjectPath="footer_info"/>
        <div class="footer_nav">
          <nav style="text-align: center;">
            <f:cObject typoscriptObjectPath="footer_nav"/>
            <div class="copyright"><f:cObject typoscriptObjectPath="copyright"/></div>
          </nav>
        </div>
      </div>
    </div>
  </section>
</footer>

<f:cObject typoscriptObjectPath="spezielle_nav" />