<?php

/**
 * @copyright Copyright (c) Metaways Infosystems GmbH, 2013
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 */

$enc = $this->encoder();

/** client/html/common/content/baseurl
 * Path to the content directory or content base URL to a server
 *
 * This option must point to the base path or URL of the used content (images,
 * downloadable files, etc.).
 *
 * If you use an absolute URL prefer the https protocol to avoid issues with mixed
 * content. Browsers avoid to load files via http if the page was retrieved via
 * https. 
 *  
 * @param string Relative path or absolute URL
 * @since 2014.03
 * @see client/html/common/content/baseurl
 */
$contentUrl = $this->config( 'client/html/common/content/baseurl' );

/** client/html/catalog/filter/default/button
 * Displays the "Search" button in the catalog filter if Javascript is disabled
 *
 * Usually the "Search" button is shown in the catalog filter if the browser
 * doesn't support Javascript or the user has disabled Javascript for the site.
 * If you are using parts of the catalog filter to e.g. render a menu, the
 * button shouldn't be displayed at all. This can be explicitely set via this
 * configuration option.
 *
 * @param boolean A value of "1" to enable the button, "0" to disable it
 * @since 2014.03
 * @category User
 * @category Developer
 */
$button = $this->config( 'client/html/catalog/filter/default/button', true );

$listTarget = $this->config( 'client/html/catalog/list/url/target' );
$listController = $this->config( 'client/html/catalog/list/url/controller', 'catalog' );
$listAction = $this->config( 'client/html/catalog/list/url/action', 'list' );
$listConfig = $this->config( 'client/html/catalog/list/url/config', array() );

$attrMap = $this->get( 'attributeMap', array() );
$filterMap = $this->get( 'filterMap', array() );
$attrIds = $this->param( 'f_attrid', array() );
$attrIdsM = $this->param( 'f_attridm', array() );
$attrTypes = $this->param( 'f_attrtype', array() );
$params = $this->param(); unset( $params['target'] );
if(!empty($params['curr_page'])){
    $listTarget=$params['curr_page'];
}
$filterAvailable = $this->get('filterAvailable', array());

$globalFilters=$categoryFilters = array();
foreach( $filterMap as $id => $filter ) {
    if ($filter->getType()=='global') {
        $globalFilters[]=$filter;
    }else{
        $categoryFilters[]=$filter;
    }
}

$categoryList = $this->get( 'cetegoryItems', array() );
$currentCategory = $this->get( 'currentCetegoryItem', null );
$isGlobal=1;
if($currentCategory){
    foreach ($currentCategory->getRefItems( 'attribute', 'AT_GlobalWebfilter') as $global ){
        if($global->getLabel()==='0'){
            $isGlobal=0;
        }
    }
}

?>
<?php if(count($categoryList)==0 && empty($params['f_search']) && (!empty($params['f_catid']) || !empty($params['d_prodid']))) :?> 
<?php if( !empty( $filterMap ) ) : ?>
<div class="content-webcode">
<section class="catalog-filter-attribute">
    <?php	if( !empty( $attrIds) || !empty( $attrTypes) || !empty( $attrIdsM) ) : ?>
                	<div class="attribute-selected">
                		<ul class="attr-list" style="display:none;">
                <?php		foreach( $attrMap as $attrType => $attributes ) : ?>
                <?php			foreach( $attributes as $id => $attribute ) : ?>
                <?php				if( isset($attrIds[$attribute->getId()]) || (isset($attrTypes[$attribute->getType()]) && reset(explode(';',$attrTypes[$attribute->getType()]))==$attribute->getLabel()) ) : ?>
                <?php                   $current = $params;?>
                <?php                   if( empty($current['f_search'])) { unset($current['f_search']); } ?>
                <?php					if( is_array( $current['f_attrid'] ) ) { unset( $current['f_attrid'][$attribute->getId()] ); } ?>
                <?php                   if( is_array( $current['f_attrtype'] ) ) { unset( $current['f_attrtype'][$attribute->getType()] ); } ?>
                			<li class="attr-item"><a class="attr-name" href="<?php echo $enc->attr( $this->url( $listTarget, $listController, $listAction, $current, array(), $listConfig ) ); ?>"><?php echo $enc->html( $attribute->getName(), $enc::TRUST ); ?></a></li>
                <?php				endif; ?>
                <?php			endforeach; ?>
                <?php		endforeach; ?>
                		</ul>
                <?php	if( (count( $attrIds )+count( $attrTypes ) + count($attrIdsM)) > 0 ) : ?>
                <?php		$current = $params; unset( $current['f_attrid'],$current['f_attridm'],$current['curr_page'], $current['f_attrtype'],$current['f_search']); ?>
                		<a class="selected-all" href="<?php echo $enc->attr( $this->url( $listTarget, $listController, $listAction, $current, array(), $listConfig ) ); ?>"><?php echo $enc->html( $this->translate( 'client/html', 'clear all' ), $enc::TRUST ); ?></a>
                <?php	endif; ?>
                	</div>
    <?php	endif; ?>
    <div class="attribute-lists">
    	<?php if( !empty($globalFilters) && $isGlobal) : ?>	
    		<div class="stahl-global-filter">
    			<?php	foreach( $globalFilters as $id => $filter ) : ?>
    			<?php   $filterType = !empty($filter->getWebType()) ?  $filter->getWebType() : 'default'; ?>
    			<?php   echo $this->partial( 'client/html/catalog/filter/attribute/'.strtolower($filterType), 'catalog/filter/attribute/default-item-default.html', array( 'filter' => $filter, 'attrMap' => $attrMap, 'filterAvailable' => $filterAvailable) ); ?>
    			<?php	endforeach; ?>
    	   </div>
    	<?php endif;  ?>
    	<?php if( !empty($categoryFilters)) :  ?>  
    	    <div class="stahl-category-filter" data-addfilter="<?php echo $enc->html( $this->translate( 'client/html', 'Add a filter' ), $enc::TRUST ); ?>" data-addfilter_cancel="<?php echo $this->translate( 'client/html', 'Cancel' ); ?>">
    			<?php   foreach( $categoryFilters as $id => $filter ) : ?>
    			<?php   $filterType = !empty($filter->getWebType()) ?  $filter->getWebType() : 'default'; ?>
    			<?php   echo $this->partial( 'client/html/catalog/filter/attribute/'.strtolower($filterType), 'catalog/filter/attribute/default-item-default.html', array( 'filter' => $filter, 'attrMap' => $attrMap, 'filterAvailable' => $filterAvailable) ); ?>
    			<?php   endforeach; ?>
    	    </div>
    	<?php endif;?>
    </div>

    <?php echo $this->attributeBody; ?>
    <?php if( $button ) : ?>
    	<noscript>
    		<button class="filter standardbutton btn-action" type="submit"><?php echo $enc->html( $this->translate( 'client/html', 'Show' ), $enc::TRUST ); ?></button>
    	</noscript>
    <?php endif; ?>
</section>
</div>
<?php endif; ?>
<?php endif; ?>