<?php

/**
 * @copyright Copyright (c) Metaways Infosystems GmbH, 2012
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 */

$listTarget = $this->config( 'client/html/catalog/list/url/target' );
$listController = $this->config( 'client/html/catalog/list/url/controller', 'catalog' );
$listAction = $this->config( 'client/html/catalog/list/url/action', 'list' );
$listConfig = $this->config( 'client/html/catalog/list/url/config', array() );

$listParams = array();
$params = $this->param();

$currentPageId=$this->config( 'client/html/catalog/list/url/target');

if(!empty($params['curr_page'])){
   $currentPageId=$params['curr_page'];
}


foreach( array( 'f_name', 'f_sort' , 'f_catid', 'f_attrid', 'f_attrtype') as $name ) {
	if( isset( $params[$name] ) ) { $listParams[$name] = $params[$name]; }
}
$url = $this->url( $listTarget, $listController, $listAction, $listParams, array(), $listConfig );
$ajaxLsitParam = $listParams;
unset($ajaxLsitParam['f_catid']);
$ajaxurl = $this->url( $this->config( 'client/html/catalog/ajaxlist/url/target'), $listController, $listAction, $ajaxLsitParam, array(), $this->config( 'client/html/catalog/ajaxlist/url/config') );

$searchResultUrl = $this->url( $this->config( 'client/html/catalog/searchresult/url/target'), $listController, $listAction, array(), array(), $this->config( 'client/html/catalog/searchresult/url/config') );


$enc = $this->encoder();

if(isset($params['d_prodid']) && !empty($params['d_prodid'])){
   $detailTarget = $this->config( 'client/html/catalog/list/url/target' );
   $detailController = $this->config( 'client/html/catalog/detail/url/controller', 'catalog' );
   $detailAction = $this->config( 'client/html/catalog/detail/url/action', 'detail' );
   $detailConfig = $this->config( 'client/html/catalog/detail/url/config', array() );
//   if(!empty($params['curr_page'])){
//       $detailTarget=$params['curr_page'];
//   }
    foreach( array( 'f_search', 'f_attrid', 'f_attrtype', 'f_sort', 'd_prodid', 'f_catid' ) as $name ) {
        if(isset($params[$name]) && !empty($params[$name])) {
            $listParams[$name] = $params[$name]; 
        }
    }
    $url = $this->url( $detailTarget, $detailController, $detailAction, $listParams, array(), $detailConfig);
    $ajaxLsitParam = $listParams;
    unset($ajaxLsitParam['f_catid'],$ajaxLsitParam['d_prodid']);
    $ajaxurl = $this->url( $this->config( 'client/html/catalog/ajaxlist/url/target'), $detailController, $detailAction, $ajaxLsitParam, array(), $this->config( 'client/html/catalog/ajaxlist/url/config'));
    $product = $this->get('filterProduct',false);
}


?>
<?php if( !$product || ( $product && $product->getType()=='select') ) : ?>
<?php if( isset( $this->filterErrorList ) ) : ?>
	<ul class="error-list">
<?php	foreach( (array) $this->filterErrorList as $errmsg ) : ?>
		<li class="error-item"><?php echo $enc->html( $errmsg ); ?></li>
<?php	endforeach; ?>
	</ul>
<?php endif; ?>

<?php if( isset($this->cetegoryNeighbors) && empty($paramі['f_search'])) : ?>
<div class="product_category_headline_tabs module gutter-8">
  <div class="content-container">
    <div class="row">
<?php foreach ($this->cetegoryNeighbors as $item) : ?>
        <?php if( $item->getStatus() > 0 ) : ?>
        <?php       $id = $item->getId(); $config = $item->getConfig(); ?>
        <?php       $listParams['f_name'] = $item->getName( 'url' ); $listParams['f_catid'] = $id; ?>
      <div class="col-sm-3 col-xs-6 teaser">
        <a class="cat-item <?php echo $item->getId()==$this->currentCetegoryItem->getId()?'active':''; ?>" href="<?php echo $enc->attr( $this->url( $listTarget, $listController, $listAction, $listParams, array(), $listConfig ) ); ?>"><div class="headline_tab <?php echo $item->getId()==$this->currentCetegoryItem->getId()?'active':''; ?>">
        <?php $dName = reset($item->getRefItems('text', 'DisplayName')); ?> 
        <?php echo $enc->html( ($dName && !empty($dName->getContent())) ? $dName->getContent() :  $item->getName(), $enc::TRUST ); ?>
        </div></a>
      </div>
      <?php endif; ?>
<?php endforeach; ?>
    </div>
  </div>
</div>
<?php endif; ?>
<div class="module gutter-8 product_filter"><div>
		<form class="aimeos catalog-filter" method="POST" action="<?php echo $enc->attr( $url ) ?>">
		<input type="hidden" name="searchurl" id="searchurl" value="<?php echo $enc->attr( $searchResultUrl ) ?>" />
		<input type="hidden" name="ajaxurl" id="ajaxurl" value="<?php echo $enc->attr( $ajaxurl ).'&ai[curr_page]='.$currentPageId; ?>" />
		<span id="filterlabel" style="display:none;"><?php echo $enc->html( $this->translate( 'client/html', 'Add filter' ), $enc::TRUST ); ?></span>
		<span id="filtercancellabel" style="display:none;"><?php echo $enc->html( $this->translate( 'client/html', 'Cancel' ), $enc::TRUST ); ?></span>
		<?php foreach ($listParams as $key => $val) : ?>
		      <?php if(is_array($val)) : ?>
			      <?php foreach ($val as $k => $v) : ?>
			          <input type="hidden" name="ai[<?php echo $key ?>][<?php echo $k ?>]" value="<?php echo $v ?>" />
			      <?php endforeach; ?>
		      <?php else: ?>
		           <input type="hidden" name="ai[<?php echo $key ?>]" value="<?php echo $val ?>" />
		      <?php endif; ?>
		<?php endforeach; ?>
<?php /*        <input type="hidden" name="ai[d_prodid]" value="<?php echo isset($params['d_prodid']) ? $params['d_prodid']:'' ?>" />  */ ?>
<!-- catalog.filter.csrf -->
<?php echo $this->csrf()->formfield(); ?>
<!-- catalog.filter.csrf -->
<?php echo $this->get( 'filterBody' ); ?>
		</form>
</div>
</div>
<?php endif; ?>
