<?php

/**
* @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
* @copyright Copyright (c) Metaways Infosystems GmbH, 2012
* @copyright Aimeos (aimeos.org), 2015
*/

$enc = $this->encoder();

$path = $this->get('path', array());
$params = $this->get('params', array());

$target = $this->config('client/html/catalog/list/url/target');
$controller = $this->config('client/html/catalog/list/url/controller', 'catalog');
$action = $this->config('client/html/catalog/list/url/action', 'list');
$config = $this->config('client/html/catalog/list/url/config', array());
$langCode = $this->get('langCode', '');

$categoryList = $this->get('cetegoryItems', array());
$pr = $this->param();
$extended = 'compact';
$defaultImageBaseUrl = '';//'/fileadmin/' . $this->config('client/html/common/images/baseurl', '');
$hyphenation = array();
foreach ($this->config('client/html/catalog/words/hyphenation', array()) as $elm){
    $hyphenation[$elm['key']]=$elm['val'];
}
?>

<?php if (isset($this->currentCetegoryItem)) : ?>
<?php foreach ($this->currentCetegoryItem->getRefItems('attribute', 'AT_WebTemplate') as $textItem) : ?>
<?php $extended = $textItem->getLabel(); ?>
<?php endforeach; ?>

<?php if ($extended == 'extended') : ?>
<?php if (count($categoryList) && empty($pr['f_search'])) : ?>
<div class="product_teaser_row bilder_accordion module gutter-8">
    <div class="content-container">
        <div class="row sameheight">
            <div class="col-xs-12 content-row">
                <div class="row">
                    <?php foreach ($categoryList as $item): ?>
                    <?php if ($item instanceof MShop_Catalog_Item_Interface && $item->getStatus() > 0) : ?>
                    <?php $id = $item->getId();
                    $config = $item->getConfig(); ?>
                    <?php //$params['f_name'] = $item->getName('url');
                    $params['f_catid'] = $id; ?>
                    <div class="col-sm-3 col-xs-6 small teaser">
                        <a class="cat-item" href="<?php echo $enc->attr($this->url($target, $controller, $action,$params, array(), $config)); ?>">
                            <div class="teaserboxen_normal_drei_raster_image">
                                <?php $mediaItems = $item->getRefItems('media', 'default',array('RF_Teaser')); ?>
                                <?php if (count($mediaItems)): ?>
                                <?php   $mediaItem = reset($mediaItems);
                                        foreach ($mediaItems as $_mediaItem) {
                                            if ($_mediaItem->getLanguageId() == $langCode) {
                                                $mediaItem = $_mediaItem;
                                                break;
                                            }
                                        }
                                ?>
                                        <?php if ($mediaItem): ?>
                                        <?= $this->partial( 'client/html/common/partials/media-lazy', 
                                                       'common/partials/media-lazy.html', 
                                                       ['item' => $mediaItem, 
                                                               'itemAttributes' => [
                                                                       'class' => 'img-responsive lazy',
                                                                       'width' => '278',
                                                                       'height' => '204'
                                                               ]
                                                       ]); ?>
                                        <?php endif; ?>
                                 <?php else: ?>
                                         <img class="img-responsive lazy" src="" data-src="/fileadmin/user_upload/artikel_4.jpg" width="278" height="204" alt="">
                                 <?php endif; ?>
                              </div>
                              <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                                   <h3>
                                      <?php $dName = reset($item->getRefItems('text', 'DisplayName')); ?>
                                      <?php $elName = ($dName && !empty($dName->getContent())) ? $dName->getContent() : $item->getName();?>
                                      <?php echo $enc->html(strtr($elName,$hyphenation),$enc::TRUST); ?>
                                   </h3>
                              </div>
                        </a>
                    </div>
                    <?php elseif($item instanceof StdClass): ?>
                        <div class="col-sm-3 col-xs-6 small teaser">
                            <a class="cat-item" href="<?php echo $item->link;?>"  target="<?php echo (isset($item->target)?$item->target:''); ?>">
                                <div class="teaserboxen_normal_drei_raster_image">
                                     <img class="img-responsive lazy" src="" data-src="<?php echo $item->image; ?>" width="278" height="204" alt="">
                                </div>
                                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                                    <h3><?php echo $enc->html(strtr($item->name,$hyphenation),$enc::TRUST); ?></h3>
                                </div>
                            </a>
                        </div>
                    <?php endif; ?>
                    <?php endforeach; ?>
                </div>
            </div>

                        <?php echo $this->get('categoryBody'); ?>
                    </div>
                </div>
            </div>
        <?php endif; ?>

        <?php //echo $this->partial( 'client/html/catalog/filter/category/extended', 'catalog/filter/category/category-extended-default.html', array('category'=>$this->currentCetegoryItem,'cetegoryItems' =>$categoryList )); ?>
    <?php else: ?>

        <?php if (count($categoryList) && empty($pr['f_search'])) : ?>
            <div class="col-xs-12 content-row">
                <div class="row">
                    <?php foreach ($categoryList as $item): ?>
                        <?php if ($item->getStatus() > 0) : ?>
                            <?php $id = $item->getId();
                            $config = $item->getConfig(); ?>
                            <?php //$params['f_name'] = $item->getName('url');
                            $params['f_catid'] = $id; ?>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <a class="cat-item"
                                   href="<?php echo $enc->attr($this->url($target, $controller, $action, $params,
                                       array(), $config)); ?>"/>
                                <div class="teaserboxen_normal_drei_raster_image">
                                    <?php $mediaItems = $item->getRefItems('media', 'default', array('RF_Teaser')); ?>
                                    <?php if (count($mediaItems)) :
                                        $mediaItem = reset($mediaItems);
                                        foreach ($mediaItems as $_mediaItem) {
                                            if ($_mediaItem->getLanguageId() == $langCode) {
                                                $mediaItem = $_mediaItem;
                                                break;
                                            }
                                        }
                                        ?>
                                        <?php if ($mediaItem) : ?>
                                        <?= $this->partial( 'client/html/common/partials/media-lazy', 
                                                       'common/partials/media-lazy.html', 
                                                       ['item' => $mediaItem, 
                                                               'itemAttributes' => [
                                                                       'class' => 'img-responsive lazy',
                                                                       'width' => '370',
                                                                       'height' => '268'
                                                               ]
                                                       ]); ?>
                                    <?php else: ?>
                                        <img class="img-responsive" src="" src-data="/fileadmin/user_upload/branche_1.jpg"
                                             width="370" height="268" alt="">
                                    <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                                <div class="teaserboxen_normal_drei_raster_image_content setheight blue"
                                     style="height: 68px;">
                                    <h3>
                                        <?php $dName = reset($item->getRefItems('text', 'DisplayName')); ?>
                                        <?php $elName = ($dName && !empty($dName->getContent())) ? $dName->getContent() : $item->getName();?>
                                        <?php echo $enc->html(str_replace(array_keys($hyphenation),array_values($hyphenation),$elName),$enc::TRUST); ?>
                                    </h3>
                                </div>
                            </div>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </div>
            </div>

            <?php echo $this->get('categoryBody'); ?>
            </div>
            </div>
            </div>

        <?php endif; ?>

    <?php endif; ?>
<?php endif; ?>