<?php

/**
 * @copyright Copyright (c) Metaways Infosystems GmbH, 2012
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 */

$enc = $this->encoder();
$params = $this->param();

?>
<?php if( !isset($params['d_prodid']) && isset($this->currentCetegoryItem) && $catItem = $this->currentCetegoryItem ) :?>
    <title>
<?php $dName = reset($catItem->getRefItems('text', 'AT_SEO_Title_calc')); ?> 
<?php echo $enc->html( ($dName && !empty($dName->getContent())) ? $dName->getContent() :  $catItem->getName(), $enc::TRUST ); ?>
    </title>
<?php   foreach( $catItem->getRefItems( 'text', 'AT_SEO_Keywords', 'default' ) as $textItem ) : ?>
    <meta name="keywords" content="<?php echo $enc->attr( strip_tags( str_replace('</br>',',',$textItem->getContent()) ) ); ?>" />
<?php   endforeach; ?>
<?php foreach( $catItem->getRefItems( 'text', 'AT_SEO_Description', 'default' ) as $textItem ) : ?>
    <meta name="description" content="<?php echo $enc->attr( strip_tags( $textItem->getContent() ) ); ?>" />
<?php   endforeach; ?>
<?php endif; ?>
<?php /*if(isset($params['d_prodid']) && !isset($params['d_parent'])):?>
    <meta name="robots" content="nofollow">
<?php elseif(isset($params['d_parent'])):?>
    <meta name="robots" content="noindex, nofollow">
<?php else:*/?>
    <meta name="robots" content="index,follow">
<?php /*endif;*/?>
<?php /*  ?>  <link rel="canonical" href="<?php echo $enc->attr( $this->url( $listTarget, $listController, $listAction, $params, array(), $listConfig ) ); ?>" /><?php */ ?>
    <meta name="application-name" content="Aimeos" />
<?php echo $this->get( 'categoryHeader' ); ?>