<?php

/**
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 * @copyright Copyright (c) Metaways Infosystems GmbH, 2012
 * @copyright Aimeos (aimeos.org), 2015
 */

$enc = $this->encoder();
$counts = $this->config( 'client/html/catalog/count/enable', true );

/** client/html/common/partials/tree
 * Relative path to the category tree partial template file
 *
 * Partials are templates which are reused in other templates and generate
 * reoccuring blocks filled with data from the assigned values. The tree
 * partial creates an HTML block of nested lists for category trees.
 *
 * The partial template files are usually stored in the layouts/partials/ folder
 * of the core or the extensions. The configured path to the partial file must
 * be relative to the layouts/ folder, e.g. "common/partials/address-default.html". 
 *
 * @param string Relative path to the template file
 * @since 2015.08
 * @category Developer
 */

/** client/html/catalog/filter/tree/force-search
 * Use the current category in full text searches
 *
 * Normally, a full text search finds all products that match the entered string
 * regardless of the category the user is currently in. This is also the standard
 * behavior of other shops.
 *
 * If it's desired, setting this configuration option to "1" will limit the full
 * text search to the current category only, so only products that match the text
 * and which are in the current category are found.
 *
 * @param boolean True to enforce current category for search, false for full text search only
 * @since 2015.10
 * @category Developer
 * @category User
 */

$param = $this->param();
$extended = '';
$langCode = $this->get( 'langCode', '' );
$params = $this->get( 'params', array() );

$target = $this->config( 'client/html/catalog/list/url/target' );
$controller = $this->config( 'client/html/catalog/list/url/controller', 'catalog' );
$action = $this->config( 'client/html/catalog/list/url/action', 'list' );
$config = $this->config( 'client/html/catalog/list/url/config', array() );
$rootCatalogList = $this->config( 'client/html/catalog/webcodelist/category', array() );
$catalogCategoryList = $this->get('catalogCategoryList',array());


//sorting nodes
$sorting = array();
if( isset( $this->treeCatalogTree )){
    $nodes = $this->treeCatalogTree->getChildren();
    foreach ($nodes as $node){
        $i = false;
        if($node instanceof MShop_Catalog_Item_Interface){
            $i = reset($node->getRefItems( 'attribute', array('DisplaySequence')));
        }
        $sorting[$i?$i->getName().$node->getId():$node->getId()] = $node;
    }
    ksort($sorting);
}
?>

<?php if( isset( $this->treeCatalogTree ) && count($this->treeCatalogTree->getChildren())) : ?>
<div class="product_headline_flyout_extended direct_flyout module gutter-8">
    <div class="content-container">
        <div class="row">
            <div class="col-xs-12 headline-row ">
                <h1 class="short_h1"><?php echo $enc->html( $this->translate( 'client/html', 'R. STAHL PRODUCTS'), $enc::TRUST ); ?></h1>
            </div>
        </div>
    </div>
</div>  

<?php foreach( $sorting as $item ) : ?>
    <?php if($item->getStatus() > 0 ) : ?>
        <?php $id = $item->getId(); $config = $item->getConfig(); ?>
        <?php $par = array_search($id,$rootCatalogList) ? array_search($id,$rootCatalogList):6; ?>
        <?php $url = $GLOBALS['TSFE']->cObj->typoLink_URL(array('parameter' => $par,'forceAbsoluteUrl' => false)); ?>
        <?php $dName = reset($item->getRefItems('text', 'DisplayName')); ?>
<div class="filter_module product_cat module gutter-8">
  <div class="content-container">
          <div class="cat_wrapper">
                <div class="headline-row">
                        <a class="cat-item" href="<?php echo $url ?>">
                        <h2>
                        <?php echo $enc->html( ($dName && !empty($dName->getContent())) ? $dName->getContent() :  $item->getName(), $enc::TRUST ); ?>
                        </h2>
                        </a>
                </div>
                <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                		<?php    $values = array( 'nodes' => $item->getChildren(), 'params' => $this->get( 'treeFilterParams', array() ), 'langCode'=>$langCode,'catalogCategoryList'=>$catalogCategoryList ); ?>
                		<?php    echo $this->partial( 'client/html/common/partials/tree', 'common/partials/home-default.html', $values ); ?>
                </div>
                </div>		
          </div> 
  </div>
</div>
    <?php endif; ?>
<?php endforeach; ?>
<?php endif; ?>
