<?php

/**
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 * @copyright Metaways Infosystems GmbH, 2013
 * @copyright Aimeos (aimeos.org), 2015
 */

$enc = $this->encoder();
$phrase = $enc->attr( $this->param( 'f_search' ) );
$name = $enc->attr( $this->formparam( 'f_search' ) );
$params = $this->param();
$hint = $this->translate( 'client/html', 'Please enter at least three characters' );

$suggestTarget = $this->config( 'client/html/catalog/suggest/url/target' );
$suggestController = $this->config( 'client/html/catalog/suggest/url/controller', 'catalog' );
$suggestAction = $this->config( 'client/html/catalog/suggest/url/action', 'suggest' );
$suggestConfig = $this->config( 'client/html/catalog/suggest/url/config', array() );
$suggestUrl = $enc->attr( $this->url( $suggestTarget, $suggestController, $suggestAction, array(), array(), $suggestConfig ) );

$webcodelistTarget = $this->config( 'client/html/catalog/webcodelist/url/target' );
$webcodelistController = $this->config( 'client/html/catalog/webcodelist/url/controller', 'Catalog' );
$webcodelistAction = $this->config( 'client/html/catalog/webcodelist/url/action', 'webcodelist' );
$webcodelistConfig = $this->config( 'client/html/catalog/webcodelist/url/config', array() );
//$this->url( $webcodelistTarget, '', '', array(), array(), array() ) ;


$catId=isset($params['f_catid']) ? $params['f_catid']: (isset($this->currentCetegoryItem)? $this->currentCetegoryItem->getId() : (!empty($this->filterProductCatalog) ? $this->filterProductCatalog->getId() : $this->config('client/html/catalog/filter/tree/startid', '' )));
$webcodelistUrl = $GLOBALS['TSFE']->cObj->typoLink_URL(array('parameter' => $webcodelistTarget,'forceAbsoluteUrl' => false,'additionalParams'=>(!empty($catId)?'&ai[f_catid]='.$catId:'')));

?>
<?php if(empty($params['products'])) : ?>
<div class="content-webcode">
<section class="catalog-filter-search">
	<h2><?php echo $enc->html( $this->translate( 'client/html', 'Search' ), $enc::TRUST ); ?></h2>
	<input class="value" type="text" name="<?php echo $name; ?>" value="<?php echo $phrase; ?>" data-url="<?php echo $suggestUrl; ?>" data-hint="<?php echo $hint; ?>" placeholder="<?php echo $this->translate( 'client/html', 'Product name or webcode' ); ?>" />
	<button class="standardbutton" type="button"><?php //echo $enc->html( $this->translate( 'client/html', 'Go' ), $enc::TRUST ); ?></button>

    	<a href="<?php echo $webcodelistUrl; ?>"><?php echo $enc->html( $this->translate( 'client/html', 'Webcode overview' ), $enc::TRUST ); ?></a>
<?php echo $this->get( 'searchBody' ); ?>
</section>
</div>
<?php endif; ?>
