<?php

/**
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 * @copyright Copyright (c) Metaways Infosystems GmbH, 2012
 * @copyright Aimeos (aimeos.org), 2015
 */

$enc = $this->encoder();
$counts = $this->config( 'client/html/catalog/count/enable', true );

/** client/html/common/partials/tree
 * Relative path to the category tree partial template file
 *
 * Partials are templates which are reused in other templates and generate
 * reoccuring blocks filled with data from the assigned values. The tree
 * partial creates an HTML block of nested lists for category trees.
 *
 * The partial template files are usually stored in the layouts/partials/ folder
 * of the core or the extensions. The configured path to the partial file must
 * be relative to the layouts/ folder, e.g. "common/partials/address-default.html". 
 *
 * @param string Relative path to the template file
 * @since 2015.08
 * @category Developer
 */

/** client/html/catalog/filter/tree/force-search
 * Use the current category in full text searches
 *
 * Normally, a full text search finds all products that match the entered string
 * regardless of the category the user is currently in. This is also the standard
 * behavior of other shops.
 *
 * If it's desired, setting this configuration option to "1" will limit the full
 * text search to the current category only, so only products that match the text
 * and which are in the current category are found.
 *
 * @param boolean True to enforce current category for search, false for full text search only
 * @since 2015.10
 * @category Developer
 * @category User
 */

$param = $this->param();
$extended = '';
$langCode = $this->get( 'langCode', '' );

?>
<?php if( isset($this->currentCetegoryItem) && isset( $this->treeCatalogTree ) && count($this->treeCatalogTree->getChildren()) && !isset($this->filterProduct) && empty($param['f_search'])) : ?>
    <?php foreach( $this->currentCetegoryItem->getRefItems('attribute', 'AT_WebTemplate') as $textItem ) : ?>
    <?php     $extended = $textItem->getLabel(); ?> 
    <?php endforeach; ?>
    
<div class="<?php echo $extended=='extended'? 'product_headline_flyout_extended' : 'teaserboxen_normal_drei_raster' ?> direct_flyout module gutter-8">
  <div class="content-container">
    <div class="row">
      <div class=" col-xs-12 headline-row">
        <div class="fylout_icon"> </div>
<?php if( $this->config( 'client/html/catalog/filter/tree/force-search', false ) ) : ?>
    <input type="hidden" name="<?php echo $enc->attr( $this->formparam( array( 'f_catid' ) ) ); ?>" value="<?php echo $enc->attr( $this->param( 'f_catid' ) ); ?>" />
<?php endif; ?>
<?php if( isset( $this->treeCatalogTree ) && $this->treeCatalogTree->getStatus() > 0 ) : ?>
<?php    $values = array( 'nodes' => $this->treeCatalogTree->getChildren(), 'params' => $this->get( 'treeFilterParams', array() ), 'treeProducts'=> $this->get('treeProducts', array()), 'langCode'=>$langCode ); ?>
    <div class="flyout_container">
    <?php     echo $this->partial( 'client/html/common/partials/tree', 'common/partials/tree-default.html', $values ); ?>
    </div>

           <h1 class="head-line-h1">
           <?php $dName = reset($this->currentCetegoryItem->getRefItems('text', 'DisplayName')); ?>
           <?php echo $enc->html( ($dName && !empty($dName->getContent())) ? $dName->getContent() :  $this->currentCetegoryItem->getName(), $enc::TRUST ); ?>
           </h1>
<?php endif; ?>

<?php echo $this->get( 'treeBody' ); ?>
      </div>



    <?php if($extended=='extended') : ?>
    <?php $items = $this->get( 'downloadMap', array() ); ?>
    <?php $mediaItems = $this->get( 'categoryMediaItems', array() ); ?>
    <?php echo $this->partial( 'client/html/catalog/filter/category/extended', 'catalog/filter/category/category-extended-default.html', array('category'=>$this->currentCetegoryItem,'cetegoryItems' =>$categoryList, 'items'=>$items,'mediaItems'=>$mediaItems,'suggestItems' => $this->get( 'suggestItems', array() ),'suggestPosItems' => $this->get( 'suggestPosItems', array() ), 'langCode' => $langCode )); ?>
        </div>
  </div>
</div>
    <?php endif; ?>
      


<?php else: ?>

<?php if( isset( $this->currentCetegoryItem ) && !isset($this->filterProduct) && empty($param['f_search'])) : ?>
<div class="filter_module module gutter-8">
  <div class="content-container">
    <div class="row">
      <div class=" col-xs-12 headline-row with-text">
                    <h1 class="two_thirds head-line-h1">
                        <?php $dName = reset($this->currentCetegoryItem->getRefItems('text', 'DisplayName')); ?> 
                        <?php echo $enc->html( ($dName && !empty($dName->getContent())) ? $dName->getContent() :  $this->currentCetegoryItem->getName(), $enc::TRUST ); ?>
                    </h1>

                        <?php if( count($this->currentCetegoryItem->getRefItems('text', 'AT_WebMarketingTextShort')) ) : ?>    
                            <?php foreach( $this->currentCetegoryItem->getRefItems('text', 'AT_WebMarketingTextShort') as $textItem ) : ?> 
                                <p class="two_thirds" >
                                    <?php echo $enc->html( nl2br($textItem->getContent()), $enc::TRUST ); ?>
                                </p>
                            <?php endforeach; ?>
                        <?php endif; ?>
                <?php if( count($this->currentCetegoryItem->getRefItems('text', 'AT_WebMarketingTextLong')) || 
                          count($this->currentCetegoryItem->getRefItems('text', 'AT_WebHighlights')) ) : ?>
<?php /*?>                    <a class="button slide_button" href="#" detail_id="text_1">
                       <span><?php echo $enc->html($this->translate( 'client/html','Show more'), $enc::TRUST ); ?></span>
                    </a>
<?php */?>                    
                        <div id="text_1" class="slide_p">

                        <?php if( count(empty( $this->currentCetegoryItem->getRefItems('text', 'AT_WebMarketingTextLong'))) ) : ?>    
                            <?php foreach( $this->currentCetegoryItem->getRefItems('text', 'AT_WebMarketingTextLong') as $textItem ) : ?> 
                                <p class="two_thirds">
                                    <?php echo $enc->html( nl2br($textItem->getContent()), $enc::TRUST ); ?>
                                </p>
                            <?php endforeach; ?>
                        <?php endif; ?>
                        <?php if( count($this->currentCetegoryItem->getRefItems('text', 'AT_WebHighlights')) ) : ?>
                        <div class="highlights">
                            <?php foreach($this->currentCetegoryItem->getRefItems('text', 'AT_WebHighlights') as $textItem ) : ?> 
                                        <ul>
                                        <?php $values = (array)explode('</br>',$textItem->getContent()); ?>
                                         <?php foreach ($values as $v) :?>
                                               <li><?php echo $enc->html( $v, $enc::TRUST ); ?></li>
                                          <?php endforeach; ?>
                                        </ul>
                            <?php endforeach; ?>
                        </div>
                        <?php endif; ?>
                        </div>
            <?php endif; ?>
            
      </div>
      <div class=" col-xs-12 headline-row">
             <?php if(isset($this->currentCetegoryItem) && count($this->currentCetegoryItem->getRefItems('product', null, array('default')))>0 ):  ?>
                    <?php if($textItem = reset($this->currentCetegoryItem->getRefItems('text', 'AT_TitleFilter'))):?>
                        <h2><?php echo $enc->html( $textItem->getContent(), $enc::TRUST ); ?></h2>
                    <?php elseif(isset($this->webClassificationCategory)): ?>
                         <?php if($textItem = reset($this->webClassificationCategory->getRefItems('text', 'AT_TitleFilter'))):?>
                            <h2><?php echo $enc->html( $textItem->getContent(), $enc::TRUST ); ?></h2>
                         <?php endif;?>
                    <?php endif;?>
        
                    <?php if($textItem = reset($this->currentCetegoryItem->getRefItems('text', 'AT_DescriptionFilter'))):?>
                        <p><?php echo $enc->html( $textItem->getContent(), $enc::TRUST ); ?></p>
                    <?php elseif(isset($this->webClassificationCategory)): ?>
                        <?php if($textItem = reset($this->webClassificationCategory->getRefItems('text', 'AT_DescriptionFilter'))):?>
                            <p><?php echo $enc->html( $textItem->getContent(), $enc::TRUST ); ?></p>
                        <?php endif;?>
                    <?php endif;?>
                        
            <?php endif;?>
      	</div>
    </div>
  </div>
</div>

<?php else: ?>
<?php if(isset( $this->filterProduct) && empty($param['f_search'])) : ?>
 <div class="filter_module module gutter-8 xxx">
  <div class="content-container">
    <div class="row">
      <div class=" col-xs-12 headline-row with-text">
        <h1 class="head-line-h1">
          <?php if(!empty($param['products'])) : ?>
		 
            <?php echo $this->translate( 'client/html','Compare products').':'; ?>
        <?php endif; ?>
                <?php if(count($this->filterProduct->getRefItems('text', 'TitleProductSubSeries'))>1): ?>
                    <?php foreach ($this->filterProduct->getRefItems('text', 'TitleProductSubSeries') as $lProduct): ?>
                        <?php if($lProduct->getLanguageId()==$langCode):?>
                        	<?php $dName = $lProduct;?>
                        <?php endif;?>
                    <?php endforeach;?>
                <?php else: ?>
	               <?php $dName = reset($this->filterProduct->getRefItems('text', 'TitleProductSubSeries')); ?>
                <?php endif; ?>
        <?php echo $enc->html( ($dName && !empty($dName->getContent())) ? $dName->getContent() :  $this->filterProduct->getName(), $enc::TRUST ); ?>
        </h1>
		<?php 
		 if($param['listType']=='downloads'){
		 	echo '<div class="close_table_download"><a href="./">'.$this->translate( "client/html","to the product").'</a></div>';
		 }
		?>

          <?php /*if( count($this->filterProduct->getRefItems('text', 'AT_FunctionalDescription')) ||
              count($this->filterProduct->getRefItems('text', 'AT_Highlights'))) : ?>
              <a class="button slide_button" href="#" detail_id="text_1">
                  <span><?php echo $enc->html($this->translate( 'client/html','Show more'), $enc::TRUST ); ?></span>
              </a>
              <div id="text_1" class="slide_p" style="display:none;"> */?>
              <div id="text_1" class="slide_p">
                  <?php if( count($this->filterProduct->getRefItems('text', 'AT_FunctionalDescription')) ) : ?>
                      <p class="two_thirds">
                          <?php foreach($this->filterProduct->getRefItems('text', 'AT_FunctionalDescription') as $textItem ) : ?>
                              <?php echo $enc->html( $textItem->getContent(), $enc::TRUST ); ?>
                          <?php endforeach; ?>
                      </p>
                  <?php endif; ?>

                  <?php if( count($this->filterProduct->getRefItems('text', 'AT_Highlights')) ) : ?>
                      <div class="highlights">
                          <?php foreach($this->filterProduct->getRefItems('text', 'AT_Highlights') as $textItem ) : ?>
                              <ul>
                                  <?php $values = (array)explode('</br>',$textItem->getContent()); ?>
                                  <?php foreach ($values as $v) :?>
                                      <li><?php echo $enc->html( $v, $enc::TRUST ); ?></li>
                                  <?php endforeach; ?>
                              </ul>
                          <?php endforeach; ?>
                      </div>
                  <?php endif; ?>
              </div>
          <?php //endif; ?>


      </div>

      <?php if(empty($param['products']) && $param['listType']!='downloads') : ?>
          <div class=" col-xs-12 headline-row">
             <?php if(isset($this->filterProductCatalog) && $this->filterProductCatalog instanceof \MShop_Catalog_Item_Interface): ?>
                <?php if($textItem = reset($this->filterProductCatalog->getRefItems('text', 'AT_TitleFilter2'))):?>
                    <h2><?php echo $enc->html( $textItem->getContent(), $enc::TRUST ); ?></h2>
                <?php elseif(isset($this->webClassificationCategory)): ?>
                    <?php if($textItem = reset($this->webClassificationCategory->getRefItems('text', 'AT_TitleFilter'))):?>
                    <h2><?php echo $enc->html( $textItem->getContent(), $enc::TRUST ); ?></h2>
                    <?php endif;?>
                <?php endif;?>
        
                <?php if($textItem = reset($this->filterProductCatalog->getRefItems('text', 'AT_DescriptionFilter2'))):?>
                    <p><?php echo $enc->html( $textItem->getContent(), $enc::TRUST ); ?></p>
                <?php elseif(isset($this->webClassificationCategory)): ?>
                    <?php if($textItem = reset($this->webClassificationCategory->getRefItems('text', 'AT_DescriptionFilter2'))):?>
                        <p><?php echo $enc->html( $textItem->getContent(), $enc::TRUST ); ?></p>
                    <?php endif;?>
                <?php endif;?>
            <?php endif;?>
          </div>
      <?php endif;?>
      
      
      
    </div>
  </div>
</div>
<?php endif; ?>

<?php endif; ?>


<?php endif; ?>
