<?php

/**
 * @copyright Copyright (c) Metaways Infosystems GmbH, 2012
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 */

$enc = $this->encoder();
$params = $this->param();
$searchText = $this->param('f_search', null);
$classes = '';
foreach ((array)$this->get('listCatPath', array()) as $cat) {
    $config = $cat->getConfig();
    if (isset($config['css-class'])) {
        $classes .= ' ' . $config['css-class'];
    }
}

if (isset($params['d_prodid']) && !empty($params['d_prodid'])) {
    $detailTarget = $this->config('client/html/catalog/list/url/target');
    $detailController = $this->config('client/html/catalog/detail/url/controller', 'catalog');
    $detailAction = $this->config('client/html/catalog/detail/url/action', 'detail');
    $detailConfig = $this->config('client/html/catalog/detail/url/config', array());

    foreach (array('f_attrid', 'f_attridm','f_attrslider', 'f_attrtype', 'f_sort', 'd_prodid', 'd_parent', 'l_page', 'f_catid') as $name) {
        if (isset($params[$name])) {
            $listParams[$name] = $params[$name];
        }
    }

    $listParams['listType'] = 'compare';
    if (!empty($params['curr_page'])) {
        $detailTarget = $params['curr_page'];
    }

    $url = $this->url($detailTarget, $detailController, $detailAction, $listParams, array(), $detailConfig);

    $listParamsDownloads = array_merge($listParams,['listType'=>'downloads']);
    $urlDownloads = $this->url($detailTarget, $detailController, $detailAction, $listParamsDownloads, array(), $detailConfig);
}

$totalVariant = $this->get('listProductTotal', 0);
?>
<?php if($totalVariant> 0 || $searchText != null || isset($params['f_attrid'])) :?>

<div class="<?php echo (isset($params['d_prodid']) && !empty($params['d_prodid'] && !is_array($params['d_prodid']) && !isset($this->listCompareProductItems))?'product_item_table background': (isset($this->listCompareProductItems) ? 'products_compare_table' :'product_series')); ?> module gutter-8 listtable">
    <div class="content-container">
        <div class="row">
            <?php if( isset( $this->listErrorList ) ) : ?>
            <ul class="error-list">
                <?php foreach( (array) $this->listErrorList as $errmsg ) : ?>
                <li class="error-item"><?php echo $enc->html( $errmsg ); ?></li>
                <?php endforeach; ?>
            </ul>
            <?php endif; ?>
            <?php if(!isset($this->listCompareProductItems) && isset($params['d_prodid'])  && !is_array($params['d_prodid']) && $totalVariant> 0) : ?>
            <form id="product-compare" method="POST" action="<?php echo $enc->attr( $url ); ?>" autocomplete="off">
                <?php if(isset($params['d_prodid'])) : ?>
                <input type="hidden" name="ai[d_prodid]" value="<?php echo $params['d_prodid'] ?>" />
                <?php endif; ?>
                <div class="col-xs-12 headline-row">
                    <h2><?php echo $totalVariant .' '.$this->translate( 'client/html', 'Product'.($totalVariant > 1 ?'s':'') ) ; ?></h2>
                </div>
                <div class="col-xs-12">
                    <button type="submit" class="button"><span><?php echo $this->translate( 'client/html','Compare products') ; ?>&nbsp;(<span class="selected-item">0</span>/<span class="total-items"><?php echo $totalVariant?></span>)</span></button>
                    <button type="button" class="button" onclick="location.href='<?php echo $urlDownloads ?>'"><span><?php echo $this->translate( 'client/html','Downloads') ; ?></span></button>
                    <?php if(isset($this->filterProduct)): ?>
                    	<?php $product_ = $this->filterProduct; ?>
                        <?php $directLink = reset($product_->getRefItems('text', 'AT_DirectLink')); ?>
                    	<?php $directLinkTitel = reset($product_->getRefItems('text', 'AT_DirectLink_Titel')); ?>
                    	<?php //$directLinkIcon = reset($product_->getRefItems('text', 'AT_DirectLink_Icon')); ?>
                    	<?php $directLinkTarget = reset($product_->getRefItems('text', 'AT_DirectLink_Target')); ?>
                    	<?php $dName = $this->translate( 'client/html', $directLinkTitel?$directLinkTitel->getContent():'Configurator'); ?>
                    	<?php if($directLink):?>
                    		<button type="button" class="button" onclick="window.open('<?php echo $directLink->getContent() ?>','<?php echo ($directLinkTarget?$directLinkTarget->getContent():'_blank'); ?>')"><span><?php echo $dName ; ?></span></button>
                    	<?php endif;?>
                	<?php endif;?>
                </div>
                <?php endif; ?>
                <?php echo $this->get( 'listBody' ); ?>
                <?php if(!isset($this->listCompareProductItems) && isset($params['d_prodid']) && $totalVariant> 0) : ?>
        </div>
        </form>
        <?php endif; ?>
    </div>
</div>
</div>
<?php endif; ?>
