<?php

/**
 * @copyright Copyright (c) Metaways Infosystems GmbH, 2012
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 */

$enc = $this->encoder();
$catPath = $this->get( 'listCatPath', array() );
$searchText = $this->param( 'f_search', null );

/** client/html/catalog/list/head/text-types
 * The list of text types that should be rendered in the catalog list head section
 *
 * The head section of the catalog list view at least consists of the category
 * name. By default, all short and long descriptions of the category are rendered
 * as well.
 *
 * You can add more text types or remove ones that should be displayed by
 * modifying these list of text types, e.g. if you've added a new text type
 * and texts of that type to some or all categories.
 * 
 * @param array List of text type names
 * @since 2014.03
 * @category User
 * @category Developer
 */
$param = $this->param();
$textTypes = $this->config( 'client/html/catalog/list/head/text-types', array( 'short', 'long' ) );
$totalSeries = $this->get( 'listProductTotal', 0 );
$totalVariant = $this->get( 'listProductTotalVariants', 0 );
?>
<div class="col-xs-12 headline-row">
<?php if( $totalSeries > 0  && !isset($this->listCompareProductItems) && !isset($param['d_prodid']) ) : ?>
     <h2><?php echo $totalSeries .' '.$this->translate( 'client/html', isset($param['d_prodid']) && !is_array($param['d_prodid']) ? 'Product'.($totalSeries>1?'s':''):'Serie'.($totalSeries>1?'s':'') ) ; ?>
         <?php if( $totalVariant > 0 ) : ?>
            <?php echo '(' .$totalVariant .' '.$this->translate( 'client/html','Product'.($totalVariant>1?'s':'')).')' ; ?>
         <?php endif; ?>
     </h2>
<?php endif; ?>

<?php if($searchText != null || isset($param['f_attrid'])) : ?>
	<div class="head-search">
<?php	if( ( $total = $totalSeries ) > 0 ) : ?>
<?php		//$msg = $this->translate( 'client/html', 'Search result for <span class="searchstring">"%1$s"</span> (%2$d article)', 'Search result for <span class="searchstring">"%1$s"</span> (%2$d articles)', $total ); ?>
<?php		//echo $enc->html( sprintf( $msg, $enc->html( $searchText ), $total ), $enc::TRUST ); ?>
<?php	else : ?>
<?php		echo $enc->html( sprintf( $this->translate( 'client/html', 'No articles found for <span class="searchstring">"%1$s"</span>. Please try again with a different keyword.' ), $enc->html( $searchText ) ), $enc::TRUST ); ?>
<?php	endif; ?>
	</div>
<?php endif; ?>
<?php echo $this->get( 'headBody' ); ?>
</div>
