<?php

/**
 * @copyright Copyright (c) Metaways Infosystems GmbH, 2012
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 */

$enc = $this->encoder();



$listTarget = $this->config( 'client/html/catalog/list/url/target' );
$listController = $this->config( 'client/html/catalog/list/url/controller', 'catalog' );
$listAction = $this->config( 'client/html/catalog/list/url/action', 'list' );
$listConfig = $this->config( 'client/html/catalog/list/url/config', array() );

$detailTarget = $listTarget;//$this->config( 'client/html/catalog/detail/url/target' );
$detailController = $this->config( 'client/html/catalog/detail/url/controller', 'catalog' );
$detailAction = $this->config( 'client/html/catalog/detail/url/action', 'detail' );
$detailConfig = $this->config( 'client/html/catalog/detail/url/config', array() );

$langCode = $this->get( 'langCode', '' );
$atexCodes = $this->get( 'atexCodes','');

$position = $this->get( 'itemPosition', 0 );
$isWebcode = $this->get( 'isWebcode', false );

$catalogList = $this->get('catalogList',array());

$params = $this->param();
$hidden_products = array_unique($this->param('products',[]));
$catid = isset($params[f_catid])?$params[f_catid]:null;
$filterParams = array();
if(!isset($params['d_prodid'])){
    foreach( array('f_attrid', 'f_attrtype','f_attridm','f_attrslider') as $name ) {
        if(isset($params[$name])) {
            $filterParams[$name] = $params[$name]; 
        }
    }
}

if(!empty($params['f_search']) && $isWebcode){
   $filterParams['listType']='downloads';
}

if(!empty($params['curr_page'])){
   $detailTarget=$params['curr_page'];
}
$attrTypes = $this->get( 'attributeTypes', array() );
$defaultImage=$this->config( 'client/html/common/defaultimage', '' );
$defaultImageBaseUrl='';//'/fileadmin/'.$this->config( 'client/html/common/images/baseurl', '' );
$filterAttributes = $this->get( 'filterAttributes', array() );
$altLabel='Please select products you want to compare';

?>
<?php if(!isset($params['d_prodid']) || (!isset($params['d_prodid']) && !empty($params['f_search']))) :?>
<div class=" col-xs-12 content-row">
<?php foreach( $this->get( 'listProductItems', array() ) as $id => $productItem ) : $firstImage = true; ?>
<?php   $params = array( 'd_prodid' => $id/*, 'l_pos' => $position++*/);
    if($catid){
        $params['f_catid'] = $catid;
    }elseif ($cl = $productItem->getCatalogListFirst()){
        $params['f_catid'] = $cl->getParentId();
    }
?>
<?php   $params = array_merge($params, $filterParams);  ?>
<?php  if(isset($catalogList[$productItem->getId()])): ?>
<?php   $detailTarget = $catalogList[$productItem->getId()]; ?>
<?php  endif;?>
<?php   $productUrl = $this->url( $detailTarget, $detailController, $detailAction, $params, array(), $detailConfig ); ?>

        <div class="list_item">
            <div class="images_block">
                <div class="small_images">
	                 <?php   $mediaItems = $productItem->getRefItems( 'media', 'default', array('RF_IconsCalc') );?>
					 <?php   if( count( $mediaItems ) > 0 ) : ?>
					 <?php       foreach( $mediaItems as $id => $mediaItem ) : ?>
					 <?php       echo str_replace('tx_aimeos//WEB_HighRes','tx_aimeos/WEB_HighRes',$this->media( $mediaItem,$defaultImageBaseUrl)); ?>
					 <?php       endforeach; ?>
					 <?php   endif; ?>   
                </div>
                
                <?php if(count($productItem->getRefItems('media', 'default', array('RF_PrimaryImage')))>1): ?>
                    <?php foreach ($productItem->getRefItems( 'media', 'default', array('RF_PrimaryImage')) as $_item): ?>
                        <?php if($_item->getLanguageId()==$langCode):?>
                        	<?php $mediaItemPrimary = $_item;?>
                        <?php endif;?>
                    <?php endforeach;?>
                <?php else:?>
                    <?php $mediaItemPrimary = reset($productItem->getRefItems('media', 'default', array('RF_PrimaryImage'))); ?>
                <?php endif; ?>
                             <div class="main_img">
                             <a href="<?php echo $enc->attr( $productUrl ); ?>">
                              <?php if($mediaItemPrimary) : ?>
                              <?= $this->partial( 'client/html/common/partials/media-lazy', 
                                                       'common/partials/media-lazy.html', 
                                      ['item' => $mediaItemPrimary, 'itemAttributes' => ['class' => '']]); ?>
                              <?php else: ?>
                                    <img src="<?php echo $defaultImage; ?>">
                             <?php endif; ?>
                             </a>
                             </div>
            </div>
            
            <div class="text_block">
            <h3>
            <a href="<?php echo $enc->attr( $productUrl ); ?>">
                <?php if(count($productItem->getRefItems('text', 'TitleProductSubSeries'))>1): ?>
                    <?php foreach ($productItem->getRefItems('text', 'TitleProductSubSeries') as $lProduct): ?>
                        <?php if($lProduct->getLanguageId()==$langCode):?>
                        	<?php $dName = $lProduct;?>
                        <?php endif;?>
                    <?php endforeach;?>
                <?php else: ?>
	                <?php $dName = reset($productItem->getRefItems('text', 'TitleProductSubSeries')); ?>
                <?php endif; ?>
                <?php echo $enc->html( ($dName && !empty($dName->getContent())) ? $dName->getContent() :  $productItem->getName(), $enc::TRUST ); ?>
            </a>
            </h3>
                <?php foreach( $productItem->getRefItems('text', 'AT_Highlights') as $textItem ) : ?> 
                            <ul>
                            <?php $values = (array)explode('</br>',$textItem->getContent()); ?>
                             <?php foreach ($values as $v) :?>
                                   <li><?php echo $enc->html( $v, $enc::TRUST ); ?></li>
                              <?php endforeach; ?>
                            </ul>
                <?php endforeach; ?>
            </div>
    </div>
<?php endforeach; ?>
</div>
<?php elseif(isset($params['d_prodid']) && !empty($params['d_prodid']) && !is_array($params['d_prodid']) && !isset($this->listCompareProductItems)): ?>

<div class=" col-xs-12 content-row">
<?php  foreach( $this->get( 'listProductItems', array() ) as $id => $productItem ) : $firstImage = true; ?>
<?php    $params = array( 'd_prodid' => $id, 'd_parent' => $this->filterProduct->getId(), 'f_catid'=> $catid ); ?>
<?php   $params = array_merge($params, $filterParams); ?>

        <div class="detail">
          <div class="top">
            <div class="checkbox_div">
                <?php
                    $checked = false;
                    if(($_kCheked = array_search($productItem->getId(),$hidden_products)) !== false){
                        $checked = true;
                        unset($hidden_products[$_kCheked]);
                    }
                ?>
              <input type="checkbox" name="ai[products][]" id="product_<?php echo $productItem->getId(); ?>" value="<?php echo $productItem->getId(); ?>" <?php echo $checked ? 'checked' : '';?>>
              <label for="product_<?php echo $productItem->getId(); ?>"></label>
              <span class="checkbox-alt"><?php echo $enc->translate( 'client/html', $altLabel); ?></span>
            </div>
            <h3>
            <a href="<?php echo $enc->attr( $this->url( $detailTarget, $detailController, $detailAction, $params, array(), $detailConfig ) ); ?>">
                <?php if(count($this->filterProduct->getRefItems('text', 'TitleProductSubSeries'))>1): ?>
                    <?php foreach ($this->filterProduct->getRefItems('text', 'TitleProductSubSeries') as $lProduct): ?>
                        <?php if($lProduct->getLanguageId()==$langCode):?>
                        	<?php $dName = $lProduct;?>
                        <?php endif;?>
                    <?php endforeach;?>
                <?php else: ?>
	                <?php $dName = reset($this->filterProduct->getRefItems('text', 'TitleProductSubSeries')); ?>
                <?php endif; ?>
                <?php echo $enc->html( ($dName && !empty($dName->getContent())) ? $dName->getContent() :  $productItem->getName(), $enc::TRUST ); ?>
            </a>
            </h3>
          </div>
          <div class="bottom status-available_from_stock">
            <div class="left">
	            <div class="images">
	            <?php if(count($productItem->getRefItems('media', 'default', array('RF_PrimaryImage')))>1): ?>
                    <?php foreach ($productItem->getRefItems( 'media', 'default', array('RF_PrimaryImage')) as $_item): ?>
                        <?php if($_item->getLanguageId()==$langCode):?>
                        	<?php $mediaItem = $_item;?>
                        <?php endif;?>
                    <?php endforeach;?>
                <?php else:?>
                    <?php $mediaItem = reset($productItem->getRefItems('media', 'default', array('RF_PrimaryImage'))); ?>    
                <?php endif; ?>
	            
	                <?php if(!$mediaItem): ?>
	                	            <?php if(count($this->filterProduct->getRefItems('media', 'default', array('RF_PrimaryImage')))>1): ?>
                                        <?php foreach ($this->filterProduct->getRefItems( 'media', 'default', array('RF_PrimaryImage')) as $_item): ?>
                                            <?php if($_item->getLanguageId()==$langCode):?>
                                            	<?php $mediaItem = $_item;?>
                                            <?php endif;?>
                                        <?php endforeach;?>
                                    <?php else:?>
                                        <?php $mediaItem = reset($this->filterProduct->getRefItems('media', 'default', array('RF_PrimaryImage'))); ?>
                                    <?php endif; ?>
	                <?php endif; ?>
	                    <?php if($mediaItem) : ?>
	                    <?= $this->partial( 'client/html/common/partials/media-lazy', 
                                                       'common/partials/media-lazy.html', 
	                            ['item' => $mediaItem, 'itemAttributes' => ['class' => '']]); ?>
                        <?php else: ?>
                            <img src="<?php echo $defaultImage; ?>">
                        <?php endif; ?>
	            </div>
	            <div class="description">
	                <div class="data">
	                  <table>
	                    <tbody>
		                      <tr>
		                      <?php foreach( $productItem->getRefItems( 'attribute', array('AT_SAP_MainMaterialID')) as $item ) : ?> 
								    <td><?php echo $enc->html( isset($attrTypes[$item->getType()]) ? $attrTypes[$item->getType()] : $item->getTypeLabel(), $enc::TRUST ).': '; ?></td>
								    <td><?php echo $enc->html( $item->getLabel()); ?></td>
 							  <?php endforeach; ?>
 							  <?php foreach( $productItem->getRefItems( 'text', 'AT_ProductType') as $item ) : ?> 
								    <td><?php echo $enc->html( isset($attrTypes['AT_ProductType'])? $attrTypes['AT_ProductType'] : $item->getTypeLabel(), $enc::TRUST ).': '; ?></td>
								    <td><?php echo $enc->html( $item->getContent()); ?></td>
    							<?php endforeach; ?>
		                      </tr>
	                    </tbody>
	                  </table>
	                 </div>
	             <div class="copy">

	                  <div>
	                       <?php if(isset($filterAttributes[$productItem->getId()])): ?>
	                       <?php foreach($filterAttributes[$productItem->getId()] as $type => $value): ?>
	                           <div><?php echo $enc->html( isset($attrTypes[$type])? $attrTypes[$type] : '', $enc::TRUST ).': '; ?>
	                           <?php sort($value); echo nl2br(implode(', ',(array)$value));  ?></div>
	                       <?php endforeach; ?>
	                       <?php endif; ?>
	                  </div>
	              
                 </div>
	            </div>
            </div>

              <!--   TO DO
                if user logined need add class to .right-section "login-success"
                and from back-end can add in style background-color
              -->
              <div class="right-section ">
                  <div class="vertical-align">
                     <?php echo $this->partial( 'catalog/html/common/partials/stock', 'common/partials/stock-default.html', array('productItem'=>$productItem, 'mode'=>'list') ); ?>
                  </div>
              </div>
<?php /* ?>
              <div class="right">
	            <div class="table_details smaller">
	               <table>
    	               <?php foreach( $productItem->getRefItems( 'attribute', 'AT_ProductDescription') as $item ) : ?> 
						<tr>
						    <td><?php echo $enc->html( isset($attrTypes[$item->getType()]) ? $attrTypes[$item->getType()] : $item->getTypeLabel(), $enc::TRUST ).': '; ?></td>
						    <td><?php echo $enc->html( $item->getLabel()); ?></td>
						</tr>   
						<?php endforeach; ?>
						
						<tr>
						<?php foreach( $productItem->getRefItems( 'text', 'AT_ProductType') as $item ) : ?> 
						    <td><?php echo $enc->html( isset($attrTypes['AT_ProductType'])? $attrTypes['AT_ProductType'] : $item->getTypeLabel(), $enc::TRUST ).': '; ?></td>
						    <td><?php echo $enc->html( $item->getContent()); ?></td>
						<?php endforeach; ?>
						</tr>
    	               <?php foreach( $productItem->getRefItems( 'attribute', 'AT_SAP_MainMaterialID') as $item ) : ?> 
						<tr>
						    <td><?php echo $enc->html( isset($attrTypes[$item->getType()]) ? $attrTypes[$item->getType()] : $item->getTypeLabel(), $enc::TRUST ).': '; ?></td>
						    <td><?php echo $enc->html( $item->getLabel()); ?></td>
						</tr>   
						<?php endforeach; ?>
	               </table>
	            </div>
            </div>
<?php */ ?>
            
            
          </div>  
    </div>
<?php endforeach; ?>

    <?php if(count($hidden_products)): ?>
        <?php foreach($hidden_products as $p_id): ?>
            <input type="hidden" name="ai[products][]" value="<?php echo $enc->attr($p_id); ?>" />
        <?php endforeach; ?>
    <?php endif; ?>

</div>
<div class="col-xs-12">
<button type="submit" class="button"><span><?php echo $this->translate( 'client/html','Compare products') ; ?>(<span class="selected-item">0</span>/<span class="total-items"><?php echo $this->get( 'listProductTotal', 0 )?></span>)</span></button><br>
</div>

<?php elseif(isset($this->listCompareProductItems)) : ?>
<?php 
 $attrMap = $this->get( 'attributeMap', array() );
 $attrTypes = $this->get( 'attributeTypes', array() );
 $attrGroups = $this->get( 'attributeGroups', array() );
 $unitValues = $this->get( 'unitValues', array() );
 
 unset($params['listType'],$params['target']);
 $hasDimensionImage = $hasMainMaterialID = false;
?>
      <div class="col-xs-12 content-row">
        <div class="table_wrapper">
        <div class="close_table">
            <a href="<?php echo $enc->attr( $this->url( $listTarget, $listController, $listAction, array_merge($params, $filterParams), array(), $listConfig ) ); ?>">
                <?php echo $this->translate( 'client/html','Close comparison view') ; ?>
            </a>
        </div>
           <div class="left_column">
            <div class="head">
                <div class="options"></div>
                <span class="options-alt"><?php echo $enc->translate( 'client/html', 'Edit Selection: Delete and Move'); ?></span>
                <span class="move-alt"><?php echo $enc->translate( 'client/html', 'Move'); ?></span>
                <span class="delete-alt"><?php echo $enc->translate( 'client/html', 'Delete'); ?></span>
                <span class="close-alt"><?php echo $enc->translate( 'client/html', 'Close'); ?></span>
            </div>
            <?php foreach( $this->listCompareProductItems as $productItem ) : ?>
                <?php if(reset($productItem->getRefItems( 'media', 'default', 'RF_TechnicalDrawing'))): ?>
                    <?php $hasDimensionImage=true;?>
                <?php endif;?>
                <?php if(reset($productItem->getRefItems( 'attribute', array('AT_SAP_MainMaterialID')))): ?>
                    <?php $hasMainMaterialID=true;?>
                <?php endif;?>
            <?php endforeach; ?>
            
            <?php if($hasMainMaterialID):?>
                <div><?php echo $enc->html( isset($attrTypes['AT_SAP_MainMaterialID']) ? $attrTypes['AT_SAP_MainMaterialID'] : '', $enc::TRUST ).': '; ?></div>
            <?php endif;?>
            <div><?php echo $enc->html( isset($attrTypes['AT_ProductType']) ? $attrTypes['AT_ProductType'] : '', $enc::TRUST ).': '; ?></div>
                <?php foreach( $attrMap as $type => $attrItems ) :?>
                    <div><?php echo $enc->html(isset($attrTypes[$type]) ? $attrTypes[$type]: '');?></div>
                <?php endforeach; ?>
            <?php if($hasDimensionImage): ?>
                <div><?php echo $enc->html( $this->translate( 'client/html', 'Dimensions' ), $enc::TRUST ); ?></div>
            <?php endif;?>
          </div>
          
          <div id="item_carousel" class="owl-carousel">
          <?php foreach( $this->listCompareProductItems as $productItem ) : ?>
          <?php $attribute = $productItem->getRefItems('attribute'); ?>
          <?php $text = $productItem->getRefItems('text'); ?>
          <?php $params = array( 'd_prodid' => $productItem->getId(), 'd_parent'=>$this->filterProduct->getId() ); ?>
          <div class="product_item">
              <div class="head">
                <div class="image">
	            <?php if(count($productItem->getRefItems('media', 'default', array('RF_PrimaryImage')))>1): ?>
                    <?php foreach ($productItem->getRefItems( 'media', 'default', array('RF_PrimaryImage')) as $_item): ?>
                        <?php if($_item->getLanguageId()==$langCode):?>
                        	<?php $mediaItem = $_item;?>
                        <?php endif;?>
                    <?php endforeach;?>
				<?php else:?>
                    <?php $mediaItem = reset($productItem->getRefItems('media', 'default', array('RF_PrimaryImage'))); ?>
                <?php endif; ?>
	            
	                <?php if(!$mediaItem): ?>
	                	            <?php if(count($this->filterProduct->getRefItems('media', 'default', array('RF_PrimaryImage')))>1): ?>
                                        <?php foreach ($this->filterProduct->getRefItems( 'media', 'default', array('RF_PrimaryImage')) as $_item): ?>
                                            <?php if($_item->getLanguageId()==$langCode):?>
                                            	<?php $mediaItem = $_item;?>
                                            <?php endif;?>
                                        <?php endforeach;?>
                        				<?php else:?>
                                            <?php $mediaItem = reset($this->filterProduct->getRefItems('media', 'default', array('RF_PrimaryImage'))); ?>
                                    <?php endif; ?>
	                <?php endif; ?>
                <?php if($mediaItem) : ?>
                        <a href="<?php echo $enc->attr( $this->url( $detailTarget, $detailController, $detailAction, $params, array(), $detailConfig ) ); ?>">
                            <?= $this->partial( 'client/html/common/partials/media-lazy', 
                                                       'common/partials/media-lazy.html', 
	                            ['item' => $mediaItem, 'itemAttributes' => ['class' => 'lazy']]); ?>
                        </a>
                 <?php else :?>
                        <a href="<?php echo $enc->attr( $this->url( $detailTarget, $detailController, $detailAction, $params, array(), $detailConfig ) ); ?>">
                             <img src="<?php echo $defaultImage; ?>"/>
                        </a>
                  <?php endif; ?>
                        
                  <div class="change_pos">
                    <div class="left"></div>
                    <div class="right"></div>
                  </div>
                  <div class="remove"></div>
                </div>
               <div class="product_name">
                    <a href="<?php echo $enc->attr( $this->url( $detailTarget, $detailController, $detailAction, $params, array(), $detailConfig ) ); ?>">
                        <?php if(count($this->filterProduct->getRefItems('text', 'TitleProductSubSeries'))>1): ?>
                            <?php foreach ($this->filterProduct->getRefItems('text', 'TitleProductSubSeries') as $lProduct): ?>
                                <?php if($lProduct->getLanguageId()==$langCode):?>
                                	<?php $dName = $lProduct;?>
                                <?php endif;?>
                            <?php endforeach;?>
                        <?php else: ?>
        	                <?php $dName = reset($this->filterProduct->getRefItems('text', 'TitleProductSubSeries')); ?>
                        <?php endif; ?>
                        <?php echo $enc->html( ($dName && !empty($dName->getContent())) ? $dName->getContent() :  $productItem->getName(), $enc::TRUST ); ?>
                    </a>
                <br>
              </div>
              </div>
                              <?php if($hasMainMaterialID):?>
                              <?php foreach( $productItem->getRefItems( 'attribute', array('AT_SAP_MainMaterialID')) as $item ) : ?> 
                                    <div><?php echo $enc->html( $item->getLabel()); ?></div>
                               <?php endforeach; ?>
                               <?php endif;?>
                               
                               <?php foreach( $productItem->getRefItems( 'text', 'AT_ProductType') as $item ) : ?> 
                                    <div><?php echo $enc->html( $item->getContent()); ?></div>
                                <?php endforeach; ?>
                <?php foreach( $attrMap as $group => $attrItems ) : ?>
                    <?php $values=array(); $img_ATEX = ''; ?>
                    <?php   foreach( $attrItems as $attrItem ) : ?>
                        <?php if(isset($attribute[$attrItem->getId()]) || isset($text[$attrItem->getId()])): ?>
                            <?php $values[]= str_replace('</br>',', ', isset($attribute[$attrItem->getId()]) ? 
                                            ($langCode=='de' && is_numeric($attrItem->getName()) ? str_replace('.', ',', $attrItem->getName()) : $attrItem->getName()).
                                                    ( ($attrItem->getUnit() || $attrItem->getUnitvalue()) && 
                                                     (isset($unitValues['UnitID'][$attrItem->getUnit()]) || isset($unitValues['UnitID'][$attrItem->getUnitvalue()]))?' '.
                                                     !empty($unitValues['UnitID'][$attrItem->getUnitvalue()]) ? ' '.$unitValues['UnitID'][$attrItem->getUnitvalue()] :' '.$unitValues['UnitID'][$attrItem->getUnit()]:''): 
											(isset($text[$attrItem->getId()]) ? $attrItem->getContent() : ''));
                                              ?>
                            <?php if(in_array($attrItem->getType(),$atexCodes)){
                                $img_ATEX = '<img src="/fileadmin/tx_aimeos/icons/02198.png" alt="" title="" class="imgATEX">';
                            }?>

                        <?php endif; ?>
                    <?php endforeach; ?>
                    <?php if(count($values)): ?>
                        <div>
                            <?php echo $img_ATEX.implode(', ',$values);?>
                        </div>
                    <?php else: ?>
                        <div>
                            <?php if(count($this->filterProduct->getRefItems('text', $attrItem->getType()))>0): ?>
                            <?php $v = reset($this->filterProduct->getRefItems('text', $attrItem->getType())); ?>
                            <?php echo $v->getContent();?>
                            <?php else: ?>
                            &nbsp;
                            <?php endif;?>
                            </div>
                    <?php endif; ?>
                <?php endforeach; ?>
                
                <?php if($hasDimensionImage): ?>
                    <?php $mediaItem= reset($productItem->getRefItems( 'media', 'default', 'RF_TechnicalDrawing')); ?>
                    <?php if($mediaItem) : ?>
                        <div class="image">
                        <?= $this->partial( 'client/html/common/partials/media-lazy', 
                                                       'common/partials/media-lazy.html', 
	                            ['item' => $mediaItem, 'itemAttributes' => ['class' => 'lazy']]); ?>
                        </div>
                    <?php else :?>
                        <div>&nbsp;</div> 
                    <?php endif; ?>
                <?php endif;?>
          </div>
          
          <?php endforeach; ?>
          
          
        </div>
      </div>
      </div>

<?php endif; ?>