<?php

/**
 * @copyright Copyright (c) Metaways Infosystems GmbH, 2012
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 */

$enc = $this->encoder();

$listTarget = $this->config( 'client/html/catalog/list/url/target' );
$listController = $this->config( 'client/html/catalog/list/url/controller', 'catalog' );
$listAction = $this->config( 'client/html/catalog/list/url/action', 'list' );
$listConfig = $this->config( 'client/html/catalog/list/url/config', array() );

$params = $this->get( 'listParams', array() );
$sort = $this->param( 'f_sort', 'relevance' );
$sortname = ltrim( $sort, '-' );
$param= $this->param();
if(isset($params['l_products'])){
    unset($params['l_products']);
}

$currentPageId=$this->config( 'client/html/catalog/detail/url/target');

if(!empty($param['curr_page'])){
    $currentPageId=$param['curr_page'];
}
if(!empty($param[f_search])){
    $currentPageId = $this->config( 'client/html/catalog/searchresult/url/target');
}
$listTarget = $currentPageId;
/*
$pagerlistTarget = $this->config( 'client/html/catalog/ajaxlist/url/target' );

$ajaxLsitParam= array();
foreach( array( 'f_sort' , 'f_attrid', 'f_attrtype') as $name ) {
    if( isset( $param[$name] ) ) { $ajaxLsitParam[$name] = $param[$name]; }
}

$ajaxurl = $this->url( $pagerlistTarget, $listController, $listAction, $ajaxLsitParam, array(), $this->config( 'client/html/catalog/ajaxlist/url/config') );

if(isset($params['d_prodid']) && !empty($params['d_prodid'])){
    $detailController = $this->config( 'client/html/catalog/detail/url/controller', 'catalog' );
    $detailAction = $this->config( 'client/html/catalog/detail/url/action', 'detail' );
    $detailConfig = $this->config( 'client/html/catalog/detail/url/config', array() );
    foreach( array( 'f_search', 'f_attrid', 'f_attrtype', 'f_sort') as $name ) {
        if(isset($param[$name]) && !empty($params[$name])) {
            $ajaxLsitParam[$name] = $param[$name];
        }
    }
    $ajaxurl = $this->url( $pagerlistTarget, $detailController, $detailAction, $ajaxLsitParam, array(), $this->config( 'client/html/catalog/ajaxlist/url/config'));
}


$pagerAjaxUrl = $ajaxurl."&ai[curr_page]={$currentPageId}&ai[l_page]={$this->get('pagiPageNext',1)}";
*/

$nameDir = '';
$priceDir = '';
$loadMore='load more subseries';
if(!empty($param['d_prodid'])){
   $loadMore='load more products';
}
$paginator_class = $this->get( 'paginatorClass' , 'orange');
$total = $this->listProductTotal;
$current = $this->listPageCurr;
$first = $this->pagiPageFirst;
$last = $this->pagiPageLast;
$prev = $this->pagiPagePrev;
$next = $this->pagiPageNext;
$view = $this;
$getUrl = function($nav_params) use ($view,$listTarget, $listController, $listAction,$params,$listConfig,$enc){
    return $enc->attr( $view->url( $listTarget, $listController, $listAction, $nav_params + $params, array(), $listConfig ) );
};
?>
<?php if( $this->get( 'listProductTotal', 0 ) > 0 && !isset($param['listType']) ) : ?>
<div class="catalog-list-pagination">
	<nav class="pagination<?php echo (isset($params['d_prodid']) ? ' pagination-white' : ''); ?>">
<?php if( $this->get( 'pagiPageLast', 1 ) > 1) : ?>
		<div class="browsers page-navigation">

            <ul class="f3-widget-paginator">

                <?php if($current != $first): ?>
                    <li class="previous">
                        <a href="<?php echo $getUrl([ 'l_page' => $prev ]); ?>" rel="prev"></a>
                    </li>
                <?php endif; ?>

                <?php $page = 1;  while($last != $page-1): ?>
                    <?php if(
                        $page == $first
                        || $page == $current
                        || $page == ($current-1)
                        || $page == ($current+1)
                        || $page == $last
                    ): ?>
                        <li class="page <?php echo $page == $current ? 'current' : '' ?>">
                            <a href="<?php echo $getUrl([ 'l_page' => $page ]); ?>">
                            <?php echo $page ?>
                            </a>
                        </li>
                     <?php elseif(
                        ($page == ($current-2) && $page != $first)
                        || ($page == ($current+2) && $page != $last)
                    ): ?>
                        <li class="doddet">....</li>
                    <?php endif; ?>
                <?php $page++;  endwhile; ?>

                <?php if($current != $last): ?>
                    <li class="next">
                        <a href="<?php echo $getUrl([ 'l_page' => $next ]); ?>" rel="next"></a>
                    </li>
                <?php endif; ?>
            </ul>

		</div>
<?php endif; ?>
<?php echo $this->get( 'pagiBody' ); ?>
	</nav>
</div>
<?php endif; ?>
