<f:layout name="Default" />
<f:section name="Main">
  <div class="container_marginal">
    <div class="content_top content_header">
      <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '3'}"/>
    </div>
    <f:render partial="Navigation/Breadcrumb" arguments="{_all}"/>
    <div class="content_top">
      <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '2'}"/>
    </div>
    <div class="content_marginal gutter-8">
      <div class="content-container">
        <div class="row">
          <div class="col-sm-8 col-xs-12 subcontent-wrap">
            <div class="row">
              <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '1'}" />
            </div>
          </div>
          <div class="col-sm-4 col-xs-12 right-content-wrap">
            <div class="row">
              <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content_bottom">
      <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '4'}"/>
    </div>
  </div>
</f:section>
