<f:if condition="{data.tx_mask_buehne_video}">
  <f:for each="{data.tx_mask_buehne_video}" as="data_item">
    <f:if condition="{data_item.tx_mask_list}">
      <f:switch expression="{data_item.tx_mask_list}">
        <f:case value="2"><div class="slider hm_01 gutter-8" 
          
          <f:if condition='{data.tx_mask_background_3}'>
            <f:switch expression='{data.tx_mask_background_3}'>
              <f:case value='1'>theme='light' </f:case>
              <f:case value='2'>theme='light' </f:case>
            </f:switch>
          </f:if>
          >
          <div class="ex_explorer_logo "></div>
          <f:for each="{data_item.tx_mask_image}" as="file">
            <div class="hero_image">
              <f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" class="img-responsive" />
            </div>
          </f:for>
          <f:for each="{data_item.tx_mask_image_mobile_buehne}" as="file">
            <div class="hero_image hidden">
              <f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" class="img-responsive" />
            </div>
          </f:for>
          <div class="hero_content">
            <div class="hero-wrapper">
              <div class="hero-wrapper_content">
                <div class="content-container">
                  <div class="hero-wrapper_content_block"><h1>{data_item.tx_mask_haedline}</h1><if condition="{data_item.tx_mask_subline}"><f:format.html parseFuncTSPath="lib.parseFunc"><p>{data_item.tx_mask_subline}</p></f:format.html></f:if>
                    <f:if condition="{data_item.tx_mask_image_buehne_video}">
                      <f:for each="{data_item.tx_mask_image_buehne_video}" as="data_item_item">
                        <f:if condition="{data_item_item.tx_mask_tx_mask_cta_link}">
                          <f:link.page class="button" pageUid="{data_item_item.tx_mask_tx_mask_cta_link}"> <span>{data_item_item.tx_mask_tx_mask_cta_name}</span></f:link.page>
                        </f:if>
                      </f:for>
                    </f:if>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          </f:case>
          <f:case value="1"> <div class="slider hm_01 small_video gutter-8" 
            
            <f:if condition='{data.tx_mask_background_3}'>
              <f:switch expression='{data.tx_mask_background_3}'>
                <f:case value='1'>theme='light' </f:case>
                <f:case value='2'>theme='light' </f:case>
              </f:switch>
            </f:if>
            >
            <div class="ex_explorer_logo "></div>
            <f:for each="{data_item.tx_mask_image}" as="file">
              <div class="hero_image">
                <f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" class="img-responsive" />
              </div>
            </f:for>
            <f:for each="{data_item.tx_mask_image_mobile_buehne}" as="file">
              <div class="hero_image hidden">
                <f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" class="img-responsive" />
              </div>
            </f:for>
            <div class="col-xs-12">
              <div class="row">
                <div class="col-lg-8 col-xs-12">
                  <div class="hero_video_headline"><h1>{data_item.tx_mask_haedline}</h1></div>
                </div>
                <div class="col-lg-4 col-xs-12">
                  <div class="vorschau_video">
                    <f:if condition="{data_item.tx_mask_youtube_video_image}">
                      <f:for each="{data_item.tx_mask_youtube_video_image}" as="data_item_item">
                        <f:link.page pageUid="{data_item_item.tx_mask_cta_video_link}"  class="html5lightbox">
                          <f:for each="{data_item_item.tx_mask_vorschaubild}" as="file">
                            <f:image image="{file}" alt="{file.alternative}" title="{file.title}"  />
                          </f:for>
                        </f:link.page>
                      </f:for>
                    </f:if>
                  </div>
                </div>
                <f:if condition="{data_item.tx_mask_youtube_video}">
                  <f:if condition="{data_item.tx_mask_youtube_video}">
                    <f:for each="{data_item.tx_mask_youtube_video}" as="data_item_item">
                      <div class="col-lg-4 col-xs-12">
                        <div class="vorschau_video">
                          <f:link.page pageUid="{data_item_item.tx_mask_cta_video_link}">
                            <f:if condition="{data_item_item.tx_mask_vorschaubild}">
                              <f:for each="{data_item_item.tx_mask_vorschaubild}" as="file">
                                <f:image image="{file}" alt="{file.alternative}" title="{file.title}" />
                              </f:for>
                            </f:if>
                          </f:link.page>
                        </div>
                      </div>
                    </f:for>
                  </f:if>
                </f:if>
              </div>
            </div>
            </div>
          </f:case>
      </f:switch>
    </f:if>
  </f:for>
</f:if>