<f:if condition="{data.tx_mask_buehne}">
  <f:for each="{data.tx_mask_buehne}" as="data_item">
    <f:if condition="{data_item.tx_mask_list}">
      <f:switch expression="{data_item.tx_mask_list}">
        <f:case value="1"><div class="slider anker gutter-8" 
          <f:if condition='{data.tx_mask_background_2}'>
            <f:switch expression='{data.tx_mask_background_2}'>
              <f:case value='1'>theme='light' </f:case>
              <f:case value='2'>theme='dark' </f:case>
            </f:switch>
          </f:if>
          >
          <div class="ex_explorer_logo"></div>
          <f:for each="{data_item.tx_mask_image}" as="file">
            <div class="hero_image">
              <f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" class="img-responsive" />
            </div>
          </f:for>
          <div class="hero_content">
            <div class="hero-wrapper">
              <div class="hero-wrapper_content">
                <div class="content-container">
                  <div class="hero-wrapper_content_block">
				  <f:if condition="{data_item.tx_mask_haedline}"><f:format.html parseFuncTSPath="lib.parseFunc"><h1>{data_item.tx_mask_haedline}</h1></f:format.html>
				  </f:if>
				  <f:if condition="{data_item.tx_mask_subline}"><f:format.html parseFuncTSPath="lib.parseFunc"><p>{data_item.tx_mask_subline}</p></f:format.html></f:if>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <f:if condition="{data_item.tx_mask_anker}">
            <div class="anker_header_modul">
              <div class="content-container anker_blue">
                <div class="row">
                  <f:for each="{data_item.tx_mask_anker}" as="data_item_item">
                    <div class="col-sm-3 col-xs-6">
                      <f:switch expression="{data_item_item.tx_mask_target_blank}">
                        <f:case value="1">
                          <f:link.page pageUid="{data_item_item.tx_mask_cta_link}" target="_blank">
                            <div class="anker_item <f:if condition='{data_item_item.tx_mask_active_items}'><f:switch expression='{data_item_item.tx_mask_active_items}'><f:case value='1'>active</f:case><f:case value='2'>inactive</f:case><f:case value='3'></f:case></f:switch></f:if>">
                              <div class="anker_image">
                                <f:if condition="{data_item_item.tx_mask_anker_image}">
                                  <f:for each="{data_item_item.tx_mask_anker_image}" as="file">
                                    <f:image image="{file}" alt="{file.alternative}" title="{file.title}" width="200" />
                                  </f:for>
                                </f:if>
                              </div>
                              <div class="anker_content">
                                <f:if condition="{data_item_item.tx_mask_anker_subline}">
                                  <f:format.nl2br>{data_item_item.tx_mask_anker_subline}</f:format.nl2br>
                                </f:if>
                              </div>
                            </div>
                          </f:link.page>
                        </f:case>
                        <f:case value="2">
                          <f:link.page pageUid="{data_item_item.tx_mask_cta_link}" >
                            <div class="anker_item <f:if condition='{data_item_item.tx_mask_active_items}'><f:switch expression='{data_item_item.tx_mask_active_items}'><f:case value='1'>active</f:case><f:case value='2'>inactive</f:case><f:case value='3'></f:case></f:switch></f:if>">
                              <div class="anker_image">
                                <f:if condition="{data_item_item.tx_mask_anker_image}">
                                  <f:for each="{data_item_item.tx_mask_anker_image}" as="file">
                                    <f:image image="{file}" alt="{file.alternative}" title="{file.title}" width="200" />
                                  </f:for>
                                </f:if>
                              </div>
                              <div class="anker_content">
                                <f:if condition="{data_item_item.tx_mask_anker_subline}">
                                  <f:format.nl2br>{data_item_item.tx_mask_anker_subline}</f:format.nl2br>
                                </f:if>
                              </div>
                            </div>
                          </f:link.page>
                        </f:case>
                      </f:switch>
                    </div>
                  </f:for>
                </div>
              </div>
            </div>
          </f:if>
          </div>
          </f:case>
          <f:case value="2"> <div class="slider anker gutter-8"  
            
            
            
            <f:if condition='{data.tx_mask_background_2}'>
              <f:switch expression='{data.tx_mask_background_2}'>
                <f:case value='1'>theme='light' </f:case>
                <f:case value='2'>theme='dark' </f:case>
              </f:switch>
            </f:if>
            >
            <div class="ex_explorer_logo "></div>
            <f:for each="{data_item.tx_mask_image}" as="file">
              <div class="hero_image">
                <f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" class="img-responsive" />
              </div>
            </f:for>
            <div class="hero_content">
              <div class="hero-wrapper">
                <div class="hero-wrapper_content">
                  <div class="content-container">
                    <div class="hero-wrapper_content_block"> <f:if condition="{data_item.tx_mask_haedline}"><f:format.html parseFuncTSPath="lib.parseFunc"><h1>{data_item.tx_mask_haedline}</h1></f:format.html>
				  </f:if>
				  <f:if condition="{data_item.tx_mask_subline}"><f:format.html parseFuncTSPath="lib.parseFunc"><p>{data_item.tx_mask_subline}</p></f:format.html></f:if>
                      <f:if condition="{data_item.tx_mask_image_buehne}">
                        <f:for each="{data_item.tx_mask_image_buehne}" as="data_item_item">
                          <f:if condition="{data_item_item.tx_mask_tx_mask_cta_link}">
                            <f:link.page class="button" pageUid="{data_item_item.tx_mask_tx_mask_cta_link}"> <span>{data_item_item.tx_mask_tx_mask_cta_name}</span></f:link.page>
                          </f:if>
                        </f:for>
                      </f:if>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </f:case>
          <f:case value="3"> <div class="slider anker small_video gutter-8"  
            
            
            
            <f:if condition='{data.tx_mask_background_2}'>
              <f:switch expression='{data.tx_mask_background_2}'>
                <f:case value='1'>theme='light' </f:case>
                <f:case value='2'>theme='dark' </f:case>
              </f:switch>
            </f:if>
            >
            <div class="ex_explorer_logo"></div>
            <div class="hero_image">
              <f:for each="{data_item.tx_mask_image}" as="file">
                <f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" class="img-responsive" />
              </f:for>
			  <div class="row">
                        
                      	<div class="col-md-4 col-xs-12 col-md-offset-7 hidden-xs hidden-sm">
                          <div class="vorschau_video" style="position:absolute; bottom:-68px; z-index:2">
                            <f:if condition="{data_item.tx_mask_youtube_video_image}">
                              <f:for each="{data_item.tx_mask_youtube_video_image}" as="data_item_item">
                                <f:link.page pageUid="{data_item_item.tx_mask_cta_video_link}"  class="html5lightbox">
                                  <f:for each="{data_item_item.tx_mask_vorschaubild}" as="file">
                                    <f:image image="{file}" alt="{file.alternative}" title="{file.title}" class="img-responsive" />
                                  </f:for>
                                </f:link.page>
                              </f:for>
                            </f:if>
                          </div>
                        </div>
                      </div>
            </div>
            <div class="hero_content">
              <div class="hero-wrapper">
                <div class="hero-wrapper_content">
                  <div class="content-container">
                    <div class="hero-wrapper_content_block">
                      <div class="row">
                        <div class="col-md-12 col-xs-12"><f:if condition="{data_item.tx_mask_haedline}"><f:format.html parseFuncTSPath="lib.parseFunc"><h1>{data_item.tx_mask_haedline}</h1></f:format.html>
				  </f:if></div>
                      	<div class="col-md-4 col-xs-12 col-md-offset-8 hidden-md hidden-lg">
                          <div class="vorschau_video">
                            <f:if condition="{data_item.tx_mask_youtube_video_image}">
                              <f:for each="{data_item.tx_mask_youtube_video_image}" as="data_item_item">
                                <f:link.page pageUid="{data_item_item.tx_mask_cta_video_link}"  class="html5lightbox">
                                  <f:for each="{data_item_item.tx_mask_vorschaubild}" as="file">
                                    <f:image image="{file}" alt="{file.alternative}" title="{file.title}" class="img-responsive" />
                                  </f:for>
                                </f:link.page>
                              </f:for>
                            </f:if>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </f:case>
      </f:switch>
    </f:if>
  </f:for>
</f:if>