<f:if condition="{data.tx_mask_hero}">
<div class="slider gutter-8">
  <div class="ex_explorer_logo"></div>
  <div id="home_slider" class="owl-carousel ">
    <f:for each="{data.tx_mask_hero}" as="data_item">
		<f:if condition="{data_item.tx_mask_list}">
		<f:switch expression="{data_item.tx_mask_list}">
			<f:case value="2"><div class="video"></f:case>
			<f:case default="TRUE"><div></f:case>
		</f:switch>
		</f:if>
        <f:for each="{data_item.tx_mask_image}" as="file">
          <div class="hero_image">
            <f:image additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" class="img-responsive lazy"/>
              <f:comment>
            <!--<f:image src="{file.uid}"  alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" class="img-responsive owl-lazy"  />-->
              </f:comment>
          </div>
        </f:for>
        <f:if condition="{data_item.tx_mask_list}">
          <f:switch expression="{data_item.tx_mask_list}">
            <f:case value="1">
              <div class="hero_content">
                <div class="hero-wrapper">
                  <div class="hero-wrapper_content">
                    <div class="content-container">
                      <div class="hero-wrapper_content_block <f:switch expression='{data_item.tx_mask_background_1}'><f:case value='2'>dark</f:case><f:case default='TRUE'></f:case></f:switch> ">
					  <f:format.html parseFuncTSPath="lib.parseFunc"><span class="slider_header">{data_item.tx_mask_headline}</span></f:format.html>
					  <f:if condition="{data_item.tx_mask_teaser}"><f:format.nl2br><p>{data_item.tx_mask_teaser}</p></f:format.nl2br></f:if>				  			
						<f:switch expression="{data_item.tx_mask_lightbox_1}">
						<f:case value="2"> 
							<f:link.page class="button html5lightbox" pageUid="{data_item.tx_mask_cta_video_link}"><span>{data_item.tx_mask_cta_name}</span> </f:link.page>
						</f:case>
						<f:case default="TRUE"> 
							<f:link.page class="button" pageUid="{data_item.tx_mask_cta_link}"><span>{data_item.tx_mask_cta_name}</span> </f:link.page>
						</f:case>
						</f:switch>
	
					 </div>
                    </div>
                  </div>
                </div>
              </div>
            </f:case>
            <f:case value="2">
              <f:if condition="{data_item.tx_mask_cta_video_link}">
                <f:link.page pageUid="{data_item.tx_mask_cta_video_link}" class="html5lightbox">
                  <div class="video_wrapper" video="{data_item.tx_mask_cta_video_link}"><img src="fileadmin/user_upload/gfx/play_button.png"> </div>
                </f:link.page>
              </f:if>
            </f:case>
          </f:switch>
        </f:if>
      </div>
      </f:for>
    </div>
  </div>
</f:if>