<div class="content_toggle module gutter-8" >
  <div class="content-container">
    <div class="row">
      <div class="col-xs-12">
        <f:if condition="{data.tx_mask_toggle_image}">
        <f:for each="{data.tx_mask_toggle_image}" as="file">
        <figure><f:image image="{file}" alt="{file.alternative}" title="{file.title}"  /></f:for></f:if><f:if condition="{data.tx_mask_toggle_text}"><figcaption><f:format.nl2br>{data.tx_mask_toggle_text}</f:format.nl2br></figcaption></figure></f:if>
        <div class="content_toggle_headline">
          <f:if condition="{data.tx_mask_toggle_headline}"><h2><f:format.html parseFuncTSPath="lib.parseFunc">{data.tx_mask_toggle_headline}</f:format.html></h2></f:if>
        </div>
        <f:if condition="{data.tx_mask_toggle_content}">
          <div class="content_toggle_content">
           <div class="row">
            <div class="toggle_close"></div>
            <f:for each="{data.tx_mask_toggle_content}" as="data_item">
              <div class="col-md-3 col-xs-6" ><f:if condition="{data_item.tx_mask_image}"><f:for each="{data_item.tx_mask_image}" as="file"><f:image image="{file}" alt="{file.alternative}" title="{file.title}" class="img-responsive" /></f:for></f:if><f:if condition="{data_item.tx_mask_subline}"><h4>{data_item.tx_mask_subline}</h4></f:if><f:if condition="{data_item.tx_mask_content}"><f:format.nl2br><p>{data_item.tx_mask_content}</p></f:format.nl2br></f:if><f:link.page class="toggle_more" pageUid="{data_item.tx_mask_cta_link}">{data_item.tx_mask_cta_name}</f:link.page></div></f:for>
          </div>
        </f:if>
      </div>
	</div>
    </div>
  </div>
</div>
