<f:if condition="{data.tx_mask_bild_video_einbettung}">
  <div class="bild_video_einbettung module gutter-8">
    <div class="content-container">
      <div class="row">
        <f:for each="{data.tx_mask_bild_video_einbettung}" as="data_item">
          <div class="col-xs-12 bild_video_einbettung_content_all">
            <f:if condition="{data_item.tx_mask_bild_position}">
              <f:switch expression="{data_item.tx_mask_bild_position}">
                <f:case value="1">
                  <div class="bild_video_einbettung_content">
                    <f:if condition="{data_item.tx_mask_content}">
                      <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data_item.tx_mask_content}</f:format.html>
                    </f:if>
                  </div>
                  <div class="bild_video_einbettung_image">
                    <f:if condition="{data_item.tx_mask_image}">
                    <f:for each="{data_item.tx_mask_image}" as="file">
                    <f:if condition="{data_item.tx_mask_youtube_link}">
                    <f:then>
                    <figure>
                    <f:link.page pageUid="{data_item.tx_mask_youtube_link}"  class="html5lightbox">
					<f:image image="{file}" alt="{file.alternative}" title="{file.title}" class="img-responsive" />
					<div class="video_wrapper" video="{data_item.tx_mask_youtube_link}">
					<img src="/fileadmin/user_upload/gfx/play_button.png">
					</div>
                    </f:link.page>
                    </f:then>
                    <f:else>
                    <figure>
                      <f:image image="{file}" alt="{file.alternative}" title="{file.title}" class="img-responsive" />
                      </f:else>
                      </f:if>
                      </f:for>
                      </f:if>
                      <f:if condition="{data_item.tx_mask_text}">
                      <figcaption>
                        <f:format.nl2br>{data_item.tx_mask_text}</f:format.nl2br>
                      </figcaption>
                    </figure>
                    </f:if>
                  </div>
                </f:case>
                <f:case value="2">
                  <div class="bild_video_einbettung_image">
                    <f:if condition="{data_item.tx_mask_image}">
                    <f:for each="{data_item.tx_mask_image}" as="file">
                    <f:if condition="{data_item.tx_mask_youtube_link}">
                    <f:then>
                    <figure>
                    <f:link.page pageUid="{data_item.tx_mask_youtube_link}"  class="html5lightbox">
                      <f:image image="{file}" alt="{file.alternative}" title="{file.title}" class="img-responsive" />
                    </f:link.page>
                    </f:then>
                    <f:else>
                    <figure>
                      <f:image image="{file}" alt="{file.alternative}" title="{file.title}" class="img-responsive" />
                      </f:else>
                      </f:if>
                      </f:for>
                      </f:if>
                      <f:if condition="{data_item.tx_mask_text}">
                      <figcaption>
                        <f:format.nl2br>{data_item.tx_mask_text}</f:format.nl2br>
                      </figcaption>
                    </figure>
                    </f:if>
                  </div>
                  <div class="bild_video_einbettung_content_left" >
                    <f:if condition="{data_item.tx_mask_content}">
                      <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data_item.tx_mask_content}</f:format.html>
                    </f:if>
                  </div>
                </f:case>
              </f:switch>
            </f:if>
          </div>
        </f:for>
      </div>
    </div>
  </div>
</f:if>
