<f:if condition="{data.tx_mask_content_tabelle_elements}">
<div class="tabelle_elements module gutter-8">
<div class="content-container">
   <div class="row">
     <f:if condition="{data.tx_mask_tabelle_headline}">
       <div class="col-xs-12 headline-row with-p"> <h2>{data.tx_mask_tabelle_headline}</h2>  </div>
     </f:if>
     
  <div class="col-xs-12">
    <table class="contenttable"><tbody>
      <f:for each="{data.tx_mask_content_tabelle_elements}" as="data_item">
      <tr>
      <f:if condition="{data_item.tx_mask_format}"><td class="date"><h3>{data_item.tx_mask_year}</h3></td></f:if>
      <td><f:format.html parseFuncTSPath="lib.parseFunc"><h3>{data_item.tx_mask_copy_content}</h3></f:format.html></td>
      <td>
       <f:if condition="{data_item.tx_mask_link}">
                      <f:link.page class="button_download" pageUid="{data_item.tx_mask_link}"  target="_blank">
                        <f:if condition="{data_item.tx_mask_format}">
                          <f:switch expression="{data_item.tx_mask_format}">
                            <f:case value="1"><span class="file-ext">pdf</span></f:case>
                            <f:case value="2"><span class="file-ext">doc</span> </f:case>
                            <f:case value="3"><span class="file-ext">zip</span> </f:case>
                            <f:case value="4"><span class="file-ext">xls</span> </f:case>
                            <f:case value="5"><span class="file-ext">jpg</span> </f:case>
                            <f:case value="6"><span class="file-ext">ppt</span></f:case>
                            <f:case value="7"><span class="file-ext">ldt</span> </f:case>
                            <f:case value="8"><span class="file-ext">pxf</span> </f:case>
                            <f:case value="9"><span class="file-ext">eprt</span> </f:case>
                            <f:case value="10"><span class="file-ext">igs</span> </f:case>
                            <f:case value="11"><span class="file-ext">step</span> </f:case>
                          </f:switch>
                        </f:if>{data_item.tx_mask_cta_name} </f:link.page>
                    </f:if>
      </td>
      </tr>
        
      </f:for>
      </tbody>
    </table>
  </div>
  </div>
</div>
</div>
</f:if>