<f:if condition="{data.tx_mask_key_facts_promozeile}">
  <div class="key_facts module">
   <div class="key_facts_promozeile">
    <div class="content_modul"><div class="row">
      <f:for each="{data.tx_mask_key_facts_promozeile}" as="data_item">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 key_facts_modul_item padding-7">
          <f:link.page pageUid="{data_item.tx_mask_link}">
          <div class="key_facts_top">
            <div class="key_facts_top_image">
              <f:if condition="{data_item.tx_mask_image}">
				<f:then>
				   <f:for each="{data_item.tx_mask_image}" as="file">
                  <f:image image="{file}" alt="{file.alternative}" title="{file.title}" width="200" />
                </f:for>
				</f:then>
				<f:else>
				  <img src="/fileadmin/user_upload/mitarbeiter/DummyBilder/key_facts.png"  alt="dummpy">
				</f:else>	
              </f:if>
            </div>
            <f:if condition="{data_item.tx_mask_position}">
              <div class="text">
                <f:switch expression="{data_item.tx_mask_position}">
                  <f:case value="1">
                    <f:if condition="{data_item.tx_mask_headline}">
                      <h3>{data_item.tx_mask_headline}</h3>
                    </f:if>
                    <f:if condition="{data_item.tx_mask_key_facts_promozeile_subline}">
                      <f:format.html><h4>{data_item.tx_mask_key_facts_promozeile_subline}</h4></f:format.html>
                    </f:if>
                    <f:if condition="{data_item.tx_mask_key_facts_promozeile_content}">
                      <f:format.html>{data_item.tx_mask_key_facts_promozeile_content}</f:format.html>
                    </f:if>
                  </f:case>
                  <f:case value="2">
                    <f:if condition="{data_item.tx_mask_key_facts_promozeile_subline}">
                      <f:format.html><h4>{data_item.tx_mask_key_facts_promozeile_subline}</h4></f:format.html>
                    </f:if>
                    <f:if condition="{data_item.tx_mask_headline}">
                      <h3>{data_item.tx_mask_headline}</h3>
                    </f:if>
                    <f:if condition="{data_item.tx_mask_key_facts_promozeile_content}">
                      <f:format.html>{data_item.tx_mask_key_facts_promozeile_content}</f:format.html>
                    </f:if>
                  </f:case>
                  <f:case value="3">
                    <f:if condition="{data_item.tx_mask_key_facts_promozeile_subline}">
                      <f:format.html><h4>{data_item.tx_mask_key_facts_promozeile_subline}</h4></f:format.html>
                    </f:if>
                    <f:if condition="{data_item.tx_mask_key_facts_promozeile_content}">
                      <f:format.html>{data_item.tx_mask_key_facts_promozeile_content}</f:format.html>
                    </f:if>
                    <f:if condition="{data_item.tx_mask_headline}">
                      <h3>{data_item.tx_mask_headline}</h3>
                    </f:if>
                  </f:case>
                </f:switch>
              </div>
            </f:if>
            </f:link.page>
          </div>
        </div>
      </f:for>
    </div></div>
  </div> </div>
</f:if>
