<f:if condition="{data.tx_mask_sonstige}">
  <f:switch expression="{data.tx_mask_sonstige}">
    <f:case value="1">
      <!-- 1/3 Breite -->
      <f:if condition="{data.tx_mask_expandable}">
        <div class="panel-group ein_drittel_breite module gutter-8" id="accordion" >
          <div class="content-container">
            <h2>
              <f:if condition="{data.tx_mask_expandable_headline}">
                <f:format.html parseFuncTSPath="lib.parseFunc">{data.tx_mask_expandable_headline} </f:format.html>
              </f:if>
            </h2>
            <f:for each="{data.tx_mask_expandable}" as="data_item" iteration="iterator">
              <f:if condition="{data_item.tx_mask_headline}">
                <div class="panel panel-default">
                  <div class="panel-heading" child="accordion-{iterator.index}">
                    <h4 class="panel-title">
                      <f:format.html parseFuncTSPath="lib.parseFunc">{data_item.tx_mask_headline}</f:format.html>
                    </h4>
                  </div>
                  <div id="accordion-{iterator.index}" class="panel-collapse collapse">
                    <div class="panel-body">
                      <f:if condition="{data_item.tx_mask_content}">
                        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data_item.tx_mask_content}</f:format.html>
                      </f:if>
                    </div>
                  </div>
                </div>
              </f:if>
            </f:for>
            <p>
              <f:if condition="{data.tx_mask_expandable_link}">
                <f:link.page pageUid="{data.tx_mask_expandable_link}">{data.tx_mask_expandable_name}</f:link.page>
              </f:if>
            </p>
          </div>
        </div>
      </f:if>
      </f:case>
      <f:case value="2"> 
        <!-- 2/3 Breite-->
        <f:if condition="{data.tx_mask_expandable}">
          <div class="panel-group zwei_drittel_breite module gutter-8" id="accordion2" role="tablist" aria-multiselectable="true">
            <div class="content-container">
              <f:if condition="{data.tx_mask_expandable_headline}">
                <h2>{data.tx_mask_expandable_headline}</h2>
              </f:if>
              <f:for each="{data.tx_mask_expandable}" as="data_item" iteration="iterator">
                <f:if condition="{data_item.tx_mask_headline}">
                  <div class="panel panel-default">
                    <div class="panel-heading" child="accordion2-{iterator.index}">
                      <h4 class="panel-title">{data_item.tx_mask_headline}</h4>
                    </div>
                    <div id="accordion2-{iterator.index}" class="panel-collapse collapse" >
                      <div class="panel-body">
                        <f:if condition="{data_item.tx_mask_content}">
                          <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data_item.tx_mask_content}</f:format.html>
                        </f:if>
                      </div>
                    </div>
                  </div>
                </f:if>
              </f:for>
              <f:if condition="{data.tx_mask_expandable_link}">
                <div class="col-xs-12"> <br>
                  <f:link.page class="button blue" pageUid="{data.tx_mask_expandable_link}"><span>{data.tx_mask_expandable_name}</span></f:link.page>
                </div>
              </f:if>
            </div>
          </div>
        </f:if>
      </f:case>
      <f:case value="3"> 
        <!-- 3/3 Breite -->
        <f:if condition="{data.tx_mask_expandable}">
          <div class="panel-group volle_breite module gutter-8" id="accordion3" role="tablist" aria-multiselectable="true">
            <div class="content-container">
              <div class="row">
                <f:if condition="{data.tx_mask_expandable_headline}">
                  <div class="col-xs-12 headline-row">
                    <h2>{data.tx_mask_expandable_headline}</h2>
                    <f:if condition="{data.tx_mask_expandable_copy}">
                      <f:format.nl2br>
                        <p>{data.tx_mask_expandable_copy}</p>
                      </f:format.nl2br>
                    </f:if>
                  </div>
                </f:if>
                <f:if condition="{data.tx_mask_expandable}">
                  <div class="col-xs-12 content-row">
                    <f:for each="{data.tx_mask_expandable}" as="data_item" iteration="iterator">
                      <f:if condition="{data_item.tx_mask_headline}">
                        <div class="panel panel-default ">
                          <div class="panel-heading" child="accordion3-{iterator.index}">
                            <h4 class="panel-title"> {data_item.tx_mask_headline} </h4>
                          </div>
                          <div id="accordion3-{iterator.index}" class="panel-collapse collapse">
                            <div class="panel-body">
                              <f:if condition="{data_item.tx_mask_content}">
                                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data_item.tx_mask_content}</f:format.html>
                              </f:if>
                              <f:if condition="{data_item.tx_mask_plugin}">
                                <f:for each="{data_item.tx_mask_plugin}" as="data_item_item">
                                  <f:cObject typoscriptObjectPath="lib.tx_mask.content">{data_item_item.uid}</f:cObject>
                                </f:for>
                              </f:if>
                            </div>
                          </div>
                        </div>
                      </f:if>
                    </f:for>
                  </div>
                </f:if>
              </div>
              <f:if condition="{data.tx_mask_expandable_link}">
                <div class="col-xs-12"> <br>
                  <f:link.page class="button blue" pageUid="{data.tx_mask_expandable_link}"><span>{data.tx_mask_expandable_name}</span></f:link.page>
                </div>
              </f:if>
            </div>
          </div>
        </f:if>
      </f:case>
  </f:switch>
</f:if>
