<div class="icon_modul module gutter-8">
  <div class="content-container">
    <div class="row">
      <div class="col-xs-12">
        <f:if condition="{data.tx_mask_iconmodul_headline}">
          <h3>
            <f:format.html parseFuncTSPath="lib.parseFunc">{data.tx_mask_iconmodul_headline}</f:format.html>
          </h3>
        </f:if>
      </div>
      <f:if condition="{data.tx_mask_species}">
        <f:switch expression="{data.tx_mask_species}">
          <f:case value="1">
            <f:if condition="{data.tx_mask_iconmodul}">
              <div class="col-xs-12">
                <div class="row sameheight">
                  <f:for each="{data.tx_mask_iconmodul}" as="data_item">
                    <div class="col-md-4 col-sm-6 col-xs-12 icon_modul_item">
                      <div class="top">
                        <f:if condition="{data_item.tx_mask_image}">
                          <div class="image">
                            <f:for each="{data_item.tx_mask_image}" as="file">
                              <f:image image="{file}" alt="{file.alternative}" title="{file.title}" width="200" />
                            </f:for>
                          </div>
                        </f:if>
                        <h4>
                          <f:if condition="{data_item.tx_mask_headline}">
                            <f:format.html parseFuncTSPath="lib.parseFunc">{data_item.tx_mask_headline}</f:format.html>
                          </f:if>
                        </h4>
                      </div>
                      <div class="copy setheight">
                        <f:if condition="{data_item.tx_mask_headline_content}">
                          <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data_item.tx_mask_headline_content}</f:format.html>
                        </f:if>
                        <p>
                          <f:if condition="{data_item.tx_mask_link}">
                            <f:link.page pageUid="{data_item.tx_mask_link}">{data_item.tx_mask_url_name}</f:link.page>
                          </f:if>
                        </p>
                      </div>
                    </div>
                  </f:for>
                </div>
              </div>
            </f:if>
          </f:case>
          <f:case value="2">
            <f:if condition="{data.tx_mask_iconmodul}">
              <div class="col-xs-12">
                <div class="row sameheight">
                  <f:for each="{data.tx_mask_iconmodul}" as="data_item">
                    <div class="col-sm-6 col-xs-12 icon_modul_item">
                      <div class="top">
                        <f:if condition="{data_item.tx_mask_image}">
                          <div class="image">
                            <f:for each="{data_item.tx_mask_image}" as="file">
                              <f:image image="{file}" alt="{file.alternative}" title="{file.title}" width="200" />
                            </f:for>
                          </div>
                        </f:if>
                        <h4>
                          <f:if condition="{data_item.tx_mask_headline}">
                            <f:format.html parseFuncTSPath="lib.parseFunc">{data_item.tx_mask_headline}</f:format.html>
                          </f:if>
                        </h4>
                      </div>
                      <div class="copy setheight">
                        <f:if condition="{data_item.tx_mask_headline_content}">
                          <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data_item.tx_mask_headline_content}</f:format.html>
                        </f:if>
                        <p>
                          <f:if condition="{data_item.tx_mask_link}">
                            <f:link.page pageUid="{data_item.tx_mask_link}">{data_item.tx_mask_url_name}</f:link.page>
                          </f:if>
                        </p>
                      </div>
                    </div>
                  </f:for>
                </div>
              </div>
            </f:if>
          </f:case>
        </f:switch>
      </f:if>
    </div>
  </div>
</div>
