<div class="paragraph module gutter-8">
  <div class="content-container">
    <div class="row">
      <f:if condition="{data.tx_mask_paragraph_modul}">
        <f:for each="{data.tx_mask_paragraph_modul}" as="data_item">
          <div class="col-xs-12">
            <div class="paragraph_content">
				<f:if condition="{data_item.tx_mask_paragraph_headline}">
					<f:if condition="{data_item.tx_mask_headline_typ_2}">
						<f:then>
							<f:switch expression="{data_item.tx_mask_headline_typ_2}">
							<f:case value="1"><h2>{data_item.tx_mask_paragraph_headline}</h2></f:case>
							<f:case value="2"><h1>{data_item.tx_mask_paragraph_headline}</h1></f:case>
							<f:case value="3"><h3>{data_item.tx_mask_paragraph_headline}</h3></f:case>
							</f:switch>
						</f:then>
						<f:else>
						<f:format.raw><h2>{data_item.tx_mask_paragraph_headline}</h2></f:format.raw>
						</f:else>
					</f:if>			
				</f:if>
              <f:if condition="{data_item.tx_mask_content}"><f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data_item.tx_mask_content}</f:format.html></f:if>
				<f:if condition="{data_item.tx_mask_cta_link}">
				<p>
				<f:if condition="{data_item.tx_mask_blank}">
					<f:switch expression="{data_item.tx_mask_blank}">
					<f:case value="2">
					<f:link.page target="_blank" class="button blue" pageUid="{data_item.tx_mask_cta_link}"><span>{data_item.tx_mask_cta_name}</span></f:link.page>
					</f:case>
					<f:case default="TRUE">
						<f:link.page class="button blue" pageUid="{data_item.tx_mask_cta_link}"><span>{data_item.tx_mask_cta_name}</span></f:link.page>
					</f:case>
				</f:switch>
				</f:if>		
				</p>
				</f:if>
            </div>
          </div>
        </f:for>
      </f:if>
    </div>
  </div>
</div>
