
<f:if condition="{data.tx_mask_kontaktbox}">
<f:if condition="{data.tx_mask_layout_kontakt}">
<f:switch expression="{data.tx_mask_layout_kontakt}">
<f:case value="1">
<div class="kontaktbox layout_1 module gutter-8">
</f:case>
<f:case value="2">
<div class="kontaktbox layout_2 module gutter-8">
</f:case>
<f:case value="3">
<div class="kontaktbox layout_3 module gutter-8">
</f:case>
<f:case value="4">
<div class="kontaktbox layout_4 module gutter-8">
</f:case>
<f:case value="5">
<div class="kontaktbox default module gutter-8">
</f:case>
</f:switch>
</f:if>
<div class="content-container sameheight">
<div class="row">
<f:if condition="{data.tx_mask_headline_kontaktbox}">
  <div class="col-xs-12 headline-row">
    <h2>{data.tx_mask_headline_kontaktbox}</h2><f:if condition="{data.tx_mask_headline_subline}"><f:format.nl2br><p>{data.tx_mask_headline_subline}</p></f:format.nl2br></f:if>
  </div>
</f:if>
<div class="col-xs-12 content-row">
<div class="row">
<f:for each="{data.tx_mask_kontaktbox}" as="data_item">
<f:if condition="{data.tx_mask_layout_kontakt_template}">
<f:switch expression="{data.tx_mask_layout_kontakt_template}">
<f:case value="1">
<div class="com-md-4 col-sm-6 col-xs-12 smallheadline">
<div class="teaser_item">
<div class="kontakt_wrapper">
  </f:case>
  <f:case value="2">
  <div class="col-sm-6 col-xs-12">
    <div class="teaser_item">
      <div class="kontakt_wrapper">
        </f:case>
        <f:case value="3">
        <div class="col-xs-12">
          <div class="teaser_item">
            <div class="kontakt_wrapper">
              </f:case>
              </f:switch>
              </f:if>
              <f:if condition="{data_item.tx_mask_person}">
                <f:for each="{data_item.tx_mask_person}" as="data_item_item">
                  <f:if condition="{data_item_item.tx_mask_headline}">
                    <f:then>
                      <h3 class="setheight">{data_item_item.tx_mask_headline}</h3>
                    </f:then>
                    <f:else>
                      <h3 class="setheight">wir beraten Sie gerne</h3>
                    </f:else>
                  </f:if>
                  <f:if condition="{data_item_item.tx_mask_presse_subline}">
                    <p>{data_item_item.tx_mask_presse_subline}</p>
                  </f:if>
                  <f:if condition="{data_item_item.tx_mask_image}">
                    <div class="kontaktbox_image">
                      <f:for each="{data_item_item.tx_mask_image}" as="file">
                        <f:image image="{file}" alt="{file.alternative}" title="{file.title}" class="img-responsive" />
                      </f:for>
                    </div>
                  </f:if>
                  <f:if condition="{data_item_item.tx_mask_name}">
                    <div class="kontaktbox_name">
                      <h4>{data_item_item.tx_mask_name}</h4>
                    </div>
                  </f:if>
                  <f:if condition="{data_item_item.tx_mask_adreese}">
                    <div class="kontaktbox_street">
                      <f:format.html parseFuncTSPath="lib.parseFunc"> {data_item_item.tx_mask_adreese} </f:format.html>
                    </div>
                  </f:if>
                  <div class="kontaktbox_blue">
                    <f:if condition="{data_item_item.tx_mask_telefon}">
                      <h5 class="number">{data_item_item.tx_mask_telefon}</h5>
                    </f:if>
                    <f:if condition="{data_item_item.tx_mask_fax}">
                      <h5 class="fax">{data_item_item.tx_mask_fax} </h5>
                    </f:if>
                    <f:if condition="{data_item_item.tx_mask_email}"> <a href="mailto:{data_item_item.tx_mask_email}">
                      <h5 class="email">{data_item_item.tx_mask_email} </h5>
                      </a> </f:if>
                    <f:if condition="{data_item_item.tx_mask_website}">
                      <h5 class="website"> {data_item_item.tx_mask_website}</h5>
                    </f:if>
                  </div>
                  <f:if condition="{data_item_item.tx_mask_kontakt_link}">
                    <f:link.page pageUid="{data_item_item.tx_mask_kontakt_link}" class="kontaktbox_more show_callback_form"> <span>{data_item_item.tx_mask_kontakt_name}</span> </f:link.page>
                  </f:if>
                </f:for>
              </f:if>
              
            </div>
          </div>
        </div>
        </f:for>
	</div>
      </div>
    </div>
  </div>
</div>
</f:if>
