<div class="module login-window marginal gutter-8">
  <div class="content-container">
    <div class="row">
      <div class="col-xs-12" style="padding-bottom: 20px;">
        <form action="de-de/" method="post" id="form_2">
          <div>
            <input type="hidden" name="???" value="Powermail" />
          </div>
          <h4>Bewerber Log In</h4>
          <fieldset class="formular">
            <div id="input" class=" ">
              <input required="required" type="text" name="" value="" placeholder="Benutzername / E-Mail Adresse" />
            </div>
            <div id="input" class=" ">
              <input required="required" type="text" name="" value="" placeholder="Passwort" />
            </div>
            <div id="submit" >
              <input type="submit" name="" value="Einloggen" />
            </div>
          </fieldset>
          <p><a href="#" >Passwort vergessen?</a></p>
          <p><a href="#" >Bewerber Profil anlegen</a></p>
        </form>
      </div>
    </div>
  </div>
</div>
