<div class="sss teasermodul_te_08 module gutter-8">
<div class="content-container">
<div class="row sameheight">
<div class="col-sm-8 col-xs-12 headline-row with-text-and-link">
  <f:if condition="{data.tx_mask_headline}">
    <f:format.html parseFuncTSPath="lib.parseFunc">
      <h2>{data.tx_mask_headline}</h2>
    </f:format.html>
  </f:if>
  <f:if condition="{data.tx_mask_subline}">
    <f:format.html parseFuncTSPath="lib.parseFunc">
      <p>{data.tx_mask_subline}</p>
    </f:format.html>
  </f:if>
  <f:link.page class="more_button" pageUid="{data.tx_mask_more_link}">{data.tx_mask_more}</f:link.page>
</div>
<div class="col-xs-12 content-row">
  <div class="row">
    <f:if condition="{data.tx_mask_teasermodule_te_08}">
    <f:for each="{data.tx_mask_teasermodule_te_08}" as="data_item">
    <f:if condition="{data.tx_mask_teasermodul_3er_content}">
    <f:switch expression="{data.tx_mask_teasermodul_3er_content}">
    <f:case value="1">
    <div class="col-sm-4 col-xs-12">
      </f:case>
      <f:case value="2">
      <div class="col-sm-6 col-xs-12">
        </f:case>
        <f:case value="3">
        <div class="col-xs-12">
          </f:case>
          </f:switch>
          </f:if>
          <div class="teaser_item">
            <div class="teasermodul_te_08_image" style="position:relative;">
              <f:for each="{data_item.tx_mask_teaser_image}" as="file">
                <f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
              </f:for>
			  <f:switch expression="{data_item.tx_mask_typ}">
							  <f:case value="3"><img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/pdf_icon_white.png" alt="pdf-logo" title="pdf-logo"></f:case>
							  <f:case value="4"> <img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/pdf_icon_blue.png" alt="pdf-logo" title="pdf-logo"></f:case>
							  <f:case value="5"><img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/play_icon_white.png" alt="video-logo" title="video-logo"></f:case>
							  <f:case value="6"><img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/play_icon_blue.png" alt="video-logo" title="video-logo"></f:case>
			</f:switch>
            </div>
            <div class="teasermodul_te_08_content setheight">
              <f:format.html parseFuncTSPath="lib.parseFunc">
                <h3>{data_item.tx_mask_teaser_headline}</h3>
              </f:format.html>
              <f:format.html>{data_item.tx_mask_teaser_subline}</f:format.html>
			  <f:switch expression="{data_item.tx_mask_typ}">
						<f:case value="1"><f:link.page class="button" target="_blank" pageUid="{data_item.tx_mask_cta_link}"> <span>{data_item.tx_mask_cta}</span></f:link.page></f:case>
						<f:case value="2"> <f:link.page class="button" pageUid="{data_item.tx_mask_cta_link}"> <span>{data_item.tx_mask_cta}</span></f:link.page></f:case>
						<f:case value="3"><f:link.page class="button" target="_blank" pageUid="{data_item.tx_mask_cta_link}"> <span>{data_item.tx_mask_cta}</span></f:link.page></f:case>
						<f:case value="4"> <f:link.page class="button" target="_blank" pageUid="{data_item.tx_mask_cta_link}"> <span>{data_item.tx_mask_cta}</span></f:link.page></f:case>
						<f:case value="5"><f:link.page class="button html5lightbox" pageUid="{data_item.tx_mask_cta_link}"> <span>{data_item.tx_mask_cta}</span></f:link.page></f:case>
						<f:case value="6"><f:link.page class="button html5lightbox" pageUid="{data_item.tx_mask_cta_link}"> <span>{data_item.tx_mask_cta}</span></f:link.page></f:case>
						<f:case default="TRUE"><f:link.page class="button" pageUid="{data_item.tx_mask_cta_link}"> <span>{data_item.tx_mask_cta}</span></f:link.page></f:case>
					</f:switch>
            </div>
          </div>
        </div>
        </f:for>
        </f:if>
        <div> </div>
      </div>
    </div>
  </div>
	</div>
	</div>

