<div class="teaserboxen_vollbild_drei_raster_carousel module gutter-8" >
  <div class="content-container">
    <div class="row">
      <div class="col-xs-12 headline-row with-text-and-link" >
        <f:if condition="{data.tx_mask_carousel_headline}">
          <h2>
            <f:format.html parseFuncTSPath="lib.parseFunc">{data.tx_mask_carousel_headline}</f:format.html>
          </h2>
        </f:if>
        <f:if condition="{data.tx_mask_carousel_subline}">
          <p>
            <f:format.nl2br>{data.tx_mask_carousel_subline}</f:format.nl2br>
          </p>
        </f:if>
        <f:link.page pageUid="{data.tx_mask_carousel_cta_link}"  class="arrow_right">{data.tx_mask_carousel_cta_name}</f:link.page>
      </div>
      <div id="teaserboxen_vollbild_drei_raster_carousel" class="owl-carousel sameheight content-row">
        <f:if condition="{data.tx_mask_owl_items}">
          <f:for each="{data.tx_mask_owl_items}" as="data_item">
            <f:switch expression="{data_item.tx_mask_owl_headline_groesse}">
              <f:case value="gross">
                <div class="big">
                  <f:link.page pageUid="{data_item.tx_mask_owl_link}">
                    <div class="teaserboxen_vollbild_drei_raster_image  ">
                      <f:for each="{data_item.tx_mask_owl_image}" as="file">
                        <f:image class="lazy" src="NULL" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}"/>
                      </f:for>
                    </div>
                    <div class="teaserboxen_vollbild_drei_raster_content_big setheight blue ">
                      <h3>
                        <f:format.html parseFuncTSPath="lib.parseFunc">{data_item.tx_mask_owl_headline}</f:format.html>
                      </h3>
                      <f:format.html parseFuncTSPath="lib.parseFunc">
                        <p>{data_item.tx_mask_owl_subline}</p>
                      </f:format.html>
                    </div>
                  </f:link.page>
                </div>
              </f:case>
              <f:case value="klein">
                <div class="small">
                  <f:link.page pageUid="{data_item.tx_mask_owl_link}">
                    <div class="teaserboxen_vollbild_drei_raster_image ">
                      <f:for each="{data_item.tx_mask_owl_image}" as="file">
                        <f:image class="lazy" src="NULL" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}"/>
                      </f:for>
                    </div>
                    <div class="teaserboxen_vollbild_drei_raster_content setheight blue ">
                      <h3>
                        <f:format.html parseFuncTSPath="lib.parseFunc">{data_item.tx_mask_owl_headline}</f:format.html>
                      </h3>
                      <f:format.html parseFuncTSPath="lib.parseFunc">
                        <p>{data_item.tx_mask_owl_subline}</p>
                      </f:format.html>
                    </div>
                  </f:link.page>
                </div>
              </f:case>
            </f:switch>
          </f:for>
        </f:if>
      </div>
    </div>
  </div>
</div>
