<f:if condition="{data.tx_mask_teaserboxen_2er_raster}">
  <div class="teaserboxen_zwei_vollbild module gutter-8">
    <div class="content-container">
      <div class="row">
        <div class="col-xs-12 headline-row">
          <f:if condition="{data.tx_mask_headline_zweier}">
            <h2>
              <f:format.html parseFuncTSPath="lib.parseFunc">{data.tx_mask_headline_zweier}</f:format.html>
            </h2>
          </f:if>
          <f:if condition="{data.tx_mask_teaserboxen_zwei_vollbild_copy}">
            <f:format.html  parseFuncTSPath="lib.parseFunc">
              <p>{data.tx_mask_teaserboxen_zwei_vollbild_copy}</p>
            </f:format.html>
          </f:if>
          <f:link.page pageUid="{data.tx_mask_cta_zweier_link}">{data.tx_mask_cta_zweier}</f:link.page>
        </div>
		</div>
	  </div>
        <div class="content-container-fluid">
        <div class="row">
        <div class="col-xs-12 sameheight content-row">
          <f:for each="{data.tx_mask_teaserboxen_2er_raster}" as="data_item">
            <f:switch expression="{data_item.tx_mask_position}">
              <f:case value="1">
                <div class="row vollbild_left" >
				
                 <f:for each="{data_item.tx_mask_image}" as="file">
                    <div class="col-sm-6 col-sm-push-6 col-xs-12 setheight" style='background-image:url("{f:uri.image(src:file.uid, treatIdAsReference:1)}");' >
					<img src="{f:uri.image(src:file.uid, treatIdAsReference:1)}" alt="{file.alternative}" title="{file.title}" class="visible-xs"/> 
				
					</div>
                  </f:for>
				  
                  <div class="col-sm-6 col-sm-pull-6 col-xs-12 setheight blue" >
                   <div class="vertical_align">
                    <div class="teaserboxen_zwei_vollbild_content">
                      <h3>
                        <f:format.html parseFuncTSPath="lib.parseFunc">{data_item.tx_mask_headline}</f:format.html>
                      </h3>
                      <p>
                        <f:format.nl2br>{data_item.tx_mask_subline}</f:format.nl2br>
                      </p>
					  <f:switch expression="{data_item.tx_mask_typ}">
						<f:case value="1"><f:link.page class="button" target="_blank" pageUid="{data_item.tx_mask_cta_link}"> <span>{data_item.tx_mask_cta_name}</span></f:link.page></f:case>
						<f:case value="2"> <f:link.page class="button" pageUid="{data_item.tx_mask_cta_link}"> <span>{data_item.tx_mask_cta_name}</span></f:link.page></f:case>
						<f:case value="3"><f:link.page class="button" target="_blank" pageUid="{data_item.tx_mask_cta_link}"> <span>{data_item.tx_mask_cta_name}</span></f:link.page></f:case>
						<f:case value="4"> <f:link.page class="button" target="_blank" pageUid="{data_item.tx_mask_cta_link}"> <span>{data_item.tx_mask_cta_name}</span></f:link.page></f:case>
						<f:case value="5"><f:link.page class="button html5lightbox" pageUid="{data_item.tx_mask_cta_link}"> <span>{data_item.tx_mask_cta_name}</span></f:link.page></f:case>
						<f:case value="6"><f:link.page class="button html5lightbox" pageUid="{data_item.tx_mask_cta_link}"> <span>{data_item.tx_mask_cta_name}</span></f:link.page></f:case>
						<f:case default="TRUE"><f:link.page class="button" pageUid="{data_item.tx_mask_cta_link}"> <span>{data_item.tx_mask_cta_name}</span></f:link.page></f:case>
					</f:switch>
                      
                    </div>
                  </div>
				</div>
				<f:switch expression="{data_item.tx_mask_typ}">
				<div class="icons">
							  <f:case value="3"><img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/pdf_icon_white.png" alt="pdf-logo" title="pdf-logo"></f:case>
							  <f:case value="4"> <img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/pdf_icon_blue.png" alt="pdf-logo" title="pdf-logo"></f:case>
							  <f:case value="5"><img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/play_icon_white.png" alt="video-logo" title="video-logo"></f:case>
							  <f:case value="6"><img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/play_icon_blue.png" alt="video-logo" title="video-logo"></f:case>
				</div>
				</f:switch>	
                </div>
              </f:case>
              <f:case value="2">
                <div class="row vollbild_left">	
				
                  <f:for each="{data_item.tx_mask_image}" as="file">
                    <div class="col-sm-6 col-xs-12 setheight" style='background-image:url("{f:uri.image(src:file.uid, treatIdAsReference:1)}");' >
					<img  src="{f:uri.image(src:file.uid, treatIdAsReference:1)}" alt="{file.alternative}" title="{file.title}" class="visible-xs"/> 
					
					</div>
                  </f:for>
				  
                  <div class="col-sm-6 col-xs-12 setheight blue" >
                   <div class="vertical_align">
                    <div class="teaserboxen_zwei_vollbild_content">
                      <h3>
                        <f:format.html parseFuncTSPath="lib.parseFunc">{data_item.tx_mask_headline}</f:format.html>
                      </h3>
                      <p>
                        <f:format.nl2br>{data_item.tx_mask_subline}</f:format.nl2br>
                      </p>
                       <f:switch expression="{data_item.tx_mask_typ}">
						<f:case value="1"><f:link.page class="button" target="_blank" pageUid="{data_item.tx_mask_cta_link}"> <span>{data_item.tx_mask_cta_name}</span></f:link.page></f:case>
						<f:case value="2"> <f:link.page class="button" pageUid="{data_item.tx_mask_cta_link}"> <span>{data_item.tx_mask_cta_name}</span></f:link.page></f:case>
						<f:case value="3"><f:link.page class="button" target="_blank" pageUid="{data_item.tx_mask_cta_link}"> <span>{data_item.tx_mask_cta_name}</span></f:link.page></f:case>
						<f:case value="4"> <f:link.page class="button" target="_blank" pageUid="{data_item.tx_mask_cta_link}"> <span>{data_item.tx_mask_cta_name}</span></f:link.page></f:case>
						<f:case value="5"><f:link.page class="button html5lightbox" pageUid="{data_item.tx_mask_cta_link}"> <span>{data_item.tx_mask_cta_name}</span></f:link.page></f:case>
						<f:case value="6"><f:link.page class="button html5lightbox" pageUid="{data_item.tx_mask_cta_link}"> <span>{data_item.tx_mask_cta_name}</span></f:link.page></f:case>
						<f:case default="TRUE"><f:link.page class="button" pageUid="{data_item.tx_mask_cta_link}"> <span>{data_item.tx_mask_cta_name}</span></f:link.page></f:case>
					</f:switch>
                    </div>
                  </div>
				</div>
				<f:switch expression="{data_item.tx_mask_typ}">
				<div class="icons">
							  <f:case value="3"><img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/pdf_icon_white.png" alt="pdf-logo" title="pdf-logo"></f:case>
							  <f:case value="4"> <img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/pdf_icon_blue.png" alt="pdf-logo" title="pdf-logo"></f:case>
							  <f:case value="5"><img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/play_icon_white.png" alt="video-logo" title="video-logo"></f:case>
							  <f:case value="6"><img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/play_icon_blue.png" alt="video-logo" title="video-logo"></f:case>
				</div>
				</f:switch>				
                </div>
              </f:case>
            </f:switch>
          </f:for>
        </div>
      </div>
    </div>
  </div>
</f:if>
