<f:if condition="{data.tx_mask_teaserbox_volle_breite_1_n}">
  <div class="teaserboxen_volle_breite_tabs module gutter-8 carousel" id="custom-tab-slide">
    <div class="content-container">
      <div class="row">
        <div class="col-xs-12 headline-row">
          <f:if condition="{data.tx_mask_tab_headline}">
            <h2>
              <f:format.html parseFuncTSPath="">{data.tx_mask_tab_headline}</f:format.html>
            </h2>
          </f:if>
          <f:if condition="{data.tx_mask_tab_subline}">
            <f:format.nl2br>
              <p>{data.tx_mask_tab_subline}</p>
            </f:format.nl2br>
          </f:if>
        </div>
        <div class="col-xs-12 content-row">
          <ul class="nav nav-tabs responsive" id="myTab">
            <f:for each="{data.tx_mask_teaserbox_volle_breite_1_n}" as="data_item">
              <li class="tab"><a href='#{data_item.tx_mask_category_link}' data-toggle="tab">
                <f:format.html parseFuncTSPath="">{data_item.tx_mask_category_volle_breite}</f:format.html>
                </a></li>
            </f:for>
            <li class="tab_slider"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content background_height ">
      <f:for each="{data.tx_mask_teaserbox_volle_breite_1_n}" as="data_item">
        <div class="tab-pane fade" id="{data_item.tx_mask_category_link}">
          <f:if condition="{data_item.tx_mask_image_volle_breite}">
            <f:for each="{data_item.tx_mask_image_volle_breite}" as="file">
              <div class="tab_image get_height">
                <f:image additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" class="img-responsive lazy" />
                <f:comment>
                <!--<f:image additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" class="img-responsive" />-->
                </f:comment>
              </div>
            </f:for>
            <div class="tab_content content-container set_height">
              <div class="vertical_align">
                <div class="row">
                  <div class="col-xs-12 <f:switch expression='{data_item.tx_mask_color}'><f:case value='2'>blue_content</f:case></f:switch>">
                    <f:if condition="{data_item.tx_mask_headline_volle_breite}">
                      <span class="tab_slider_headline">{data_item.tx_mask_headline_volle_breite}</span>
                    </f:if>
                    <f:if condition="{data_item.tx_mask_subline_volle_breite}">
                      <f:format.html>{data_item.tx_mask_subline_volle_breite}</f:format.html>
                    </f:if>
                    <f:if condition="{data_item.tx_mask_cta_volle_breite_link}">
                      <f:link.page class="button" pageUid="{data_item.tx_mask_cta_volle_breite_link}"><span>{data_item.tx_mask_cta_volle_breite_name}</span></f:link.page>
                    </f:if>
                  </div>
                </div>
              </div>
            </div>
          </f:if>
          <f:if condition="{data_item.tx_mask_download_modul}">
            <div class="content-container">
              <f:for each="{data_item.tx_mask_download_modul}" as="data_item_item">
                <f:cObject typoscriptObjectPath="lib.tx_mask.content">{data_item_item.uid}</f:cObject>
              </f:for>
            </div>
          </f:if>
        </div>
      </f:for>
    </div>
  </div>
</f:if>
