<div class="teaserboxen_normal_drei_raster module gutter-8">
<style>
.teaserboxen_normal_drei_raster .image_icon_teaser_left{
width:30px!important;
}
</style>
<div class="content-container">
<div class="row sameheight">
  <f:if condition="{data.tx_mask_headline_drei_raster}">
    <div class="col-xs-12 headline-row">
      <h2><f:format.html parseFuncTSPath="lib.parseFunc">{data.tx_mask_headline_drei_raster}</f:format.html></h2>
      <f:if condition="{data.tx_mask_subline_drei_raster}"><f:format.nl2br><p>{data.tx_mask_subline_drei_raster}</p></f:format.nl2br></f:if>
      <f:link.page pageUid="{data.tx_mask_cta_link}">{data.tx_mask_cta}</f:link.page>
    </div>
  </f:if>
  <div class="col-xs-12 content-row">
    <div class="row">
      <f:if condition="{data.tx_mask_teaserboxen_normal_drei_raster}">
      <f:for each="{data.tx_mask_teaserboxen_normal_drei_raster}" as="data_item">
      <f:if condition="{data.tx_mask_teaserboxen_normal_drei_raster_content}">
		  <f:switch expression="{data.tx_mask_teaserboxen_normal_drei_raster_content}">
			  <f:case value="1">
			  <div class="col-sm-4 col-xs-6">
			  </f:case>
			  <f:case value="2">
			  <div class="col-xs-6">
			  </f:case>
			  <f:case value="3">
			   <div class="col-xs-12">
			  </f:case>
		  </f:switch>
        </f:if>
			<f:switch expression="{data_item.tx_mask_typ}">
						<f:case value="1">
							<f:link.page target="_blank" pageUid="{data_item.tx_mask_cta_link}">
								<div class="teaser_item">
									<div class="teaserboxen_normal_drei_raster_image" style="position:relative;">
									  <f:for each="{data_item.tx_mask_image}" as="file">
										<f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" class="img-responsive"  />
									  </f:for>
									</div>
									<f:if condition="{data_item.tx_mask_headline}">
									  <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
										<h3>
										  <f:format.html parseFuncTSPath="lib.parseFunc">{data_item.tx_mask_headline}</f:format.html>
										</h3>
									  </div>
									</f:if>
								  </div>
							</f:link.page>
						</f:case>
						<f:case value="2">
						<f:link.page pageUid="{data_item.tx_mask_cta_link}">
							<div class="teaser_item">
									<div class="teaserboxen_normal_drei_raster_image" style="position:relative;">
									  <f:for each="{data_item.tx_mask_image}" as="file">
										<f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" class="img-responsive"  />
									  </f:for>
									</div>
									<f:if condition="{data_item.tx_mask_headline}">
									  <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
										<h3>
										  <f:format.html parseFuncTSPath="lib.parseFunc">{data_item.tx_mask_headline}</f:format.html>
										</h3>
									  </div>
									</f:if>
								  </div>
							</f:link.page>
						</f:case>
						<f:case value="3">
						<f:link.page  target="_blank" pageUid="{data_item.tx_mask_cta_link}">
						<div class="teaser_item">
									<div class="teaserboxen_normal_drei_raster_image" style="position:relative;">
									  <f:for each="{data_item.tx_mask_image}" as="file">
										<f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" class="img-responsive"  />
									  </f:for>
										<img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/pdf_icon_white.png" alt="pdf-logo" title="pdf-logo">
									</div>
									<f:if condition="{data_item.tx_mask_headline}">
									  <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
										<h3>
										  <f:format.html parseFuncTSPath="lib.parseFunc">{data_item.tx_mask_headline}</f:format.html>
										</h3>
									  </div>
									</f:if>
								  </div>
							</f:link.page>						
						</f:case>
						<f:case value="4"> 
						<f:link.page  target="_blank" pageUid="{data_item.tx_mask_cta_link}">
						<div class="teaser_item">
									<div class="teaserboxen_normal_drei_raster_image" style="position:relative;">
									  <f:for each="{data_item.tx_mask_image}" as="file">
										<f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" class="img-responsive"  />
									  </f:for>
									  <img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/pdf_icon_blue.png" alt="pdf-logo" title="pdf-logo">
									</div>
									<f:if condition="{data_item.tx_mask_headline}">
									  <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
										<h3>
										  <f:format.html parseFuncTSPath="lib.parseFunc">{data_item.tx_mask_headline}</f:format.html>
										</h3>
									  </div>
									</f:if>
								  </div>
							</f:link.page>
						</f:case>
						<f:case value="5">
						<f:link.page class=" html5lightbox" pageUid="{data_item.tx_mask_cta_link}">
						<div class="teaser_item">
									<div class="teaserboxen_normal_drei_raster_image" style="position:relative;">
									  <f:for each="{data_item.tx_mask_image}" as="file">
										<f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" class="img-responsive"  />
									  </f:for>
									  <img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/play_icon_white.png" alt="video-logo" title="video-logo">
									</div>
									<f:if condition="{data_item.tx_mask_headline}">
									  <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
										<h3>
										  <f:format.html parseFuncTSPath="lib.parseFunc">{data_item.tx_mask_headline}</f:format.html>
										</h3>
									  </div>
									</f:if>
								  </div>
							</f:link.page>
						</f:case>
						<f:case value="6"><f:link.page class=" html5lightbox" pageUid="{data_item.tx_mask_cta_link}">
						<div class="teaser_item">
									<div class="teaserboxen_normal_drei_raster_image" style="position:relative;">
									  <f:for each="{data_item.tx_mask_image}" as="file">
										<f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" class="img-responsive"  />
									  </f:for>
										<img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/play_icon_blue.png" alt="video-logo" title="video-logo">
									</div>
									<f:if condition="{data_item.tx_mask_headline}">
									  <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
										<h3>
										  <f:format.html parseFuncTSPath="lib.parseFunc">{data_item.tx_mask_headline}</f:format.html>
										</h3>
									  </div>
									</f:if>
								  </div>
							</f:link.page>
						</f:case>
						<f:case default="TRUE">
						<f:link.page pageUid="{data_item.tx_mask_cta_link}">
						<div class="teaser_item">
									<div class="teaserboxen_normal_drei_raster_image" style="position:relative;">
									  <f:for each="{data_item.tx_mask_image}" as="file">
										<f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" class="img-responsive"  />
									  </f:for>
									</div>
									<f:if condition="{data_item.tx_mask_headline}">
									  <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
										<h3>
										  <f:format.html parseFuncTSPath="lib.parseFunc">{data_item.tx_mask_headline}</f:format.html>
										</h3>
									  </div>
									</f:if>
								  </div>
							</f:link.page>
						</f:case>
					</f:switch>
			</div>
          </f:for>
          </f:if>
        </div>
      </div>
    </div>
  </div>
</div>
