<div class="teaserboxen_vollbild_drei_raster module background gutter-8"  style='background-color:{data.tx_mask_background};' >
  <div class="content-container">
    <div class="row sameheight">
      <div class="col-xs-12 headline-row" >
        <f:if condition="{data.tx_mask_headline_voll}">
          <f:format.html parseFuncTSPath="lib.parseFunc">
            <h2>{data.tx_mask_headline_voll}</h2>
          </f:format.html>
        </f:if>
      </div>
      <div class="col-xs-12 content-row">
        <div class="row">
          <f:if condition="{data.tx_mask_teaser_klein}">
            <f:for each="{data.tx_mask_teaser_klein}" as="data_item" iteration="i">
              <f:if condition="{i.index}==0">
                <div class="col-sm-3 hidden-xs teaser">
					<f:switch expression="{data_item.tx_mask_typ_klein}">
					<f:case value="1">
						<f:link.page target="_blank" pageUid="{data_item.tx_mask_link}">
						<div class="teaserboxen_vollbild_drei_raster_image" style="position:relative">
						  <f:for each="{data_item.tx_mask_image}" as="file">
							<f:image class="lazy" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/0pixel.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
						  </f:for>
						</div>
						<div class="teaserboxen_vollbild_drei_raster_content setheight blue">
						  <f:format.html parseFuncTSPath="lib.parseFunc">
							<h3>{data_item.tx_mask_headline_klein}</h3>
						  </f:format.html>
						  <f:format.html parseFuncTSPath="lib.parseFunc">
							<p>{data_item.tx_mask_subline_klein}</p>
						  </f:format.html>
						</div>
					  </f:link.page>
					</f:case>
					<f:case value="2">
						<f:link.page pageUid="{data_item.tx_mask_link}">
							<div class="teaserboxen_vollbild_drei_raster_image" style="position:relative">
							  <f:for each="{data_item.tx_mask_image}" as="file">
								<f:image class="lazy" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/0pixel.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
							  </f:for>
							</div>
							<div class="teaserboxen_vollbild_drei_raster_content setheight blue">
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<h3>{data_item.tx_mask_headline_klein}</h3>
							  </f:format.html>
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<p>{data_item.tx_mask_subline_klein}</p>
							  </f:format.html>
							</div>
						  </f:link.page>
					</f:case>
					<f:case value="3">
						<f:link.page target="_blank" pageUid="{data_item.tx_mask_link}">
							<div class="teaserboxen_vollbild_drei_raster_image" style="position:relative">
							  <f:for each="{data_item.tx_mask_image}" as="file">
								<f:image class="lazy" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/0pixel.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
							  </f:for>
							  <img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/pdf_icon_white.png" alt="pdf-logo" title="pdf-logo">
							</div>
							<div class="teaserboxen_vollbild_drei_raster_content setheight blue">
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<h3>{data_item.tx_mask_headline_klein}</h3>
							  </f:format.html>
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<p>{data_item.tx_mask_subline_klein}</p>
							  </f:format.html>
							</div>
						  </f:link.page>
					</f:case>
					<f:case value="4">
						<f:link.page target="_blank"  pageUid="{data_item.tx_mask_link}">
							<div class="teaserboxen_vollbild_drei_raster_image" style="position:relative">
							  <f:for each="{data_item.tx_mask_image}" as="file">
								<f:image class="lazy" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/0pixel.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
							  </f:for>
							  <img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/pdf_icon_blue.png" alt="video-logo" title="video-logo">
							</div>
							<div class="teaserboxen_vollbild_drei_raster_content setheight blue">
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<h3>{data_item.tx_mask_headline_klein}</h3>
							  </f:format.html>
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<p>{data_item.tx_mask_subline_klein}</p>
							  </f:format.html>
							</div>
						  </f:link.page>
					</f:case>
					<f:case value="5">
					<f:link.page  class="html5lightbox"pageUid="{data_item.tx_mask_link}">
							<div class="teaserboxen_vollbild_drei_raster_image" style="position:relative">
							  <f:for each="{data_item.tx_mask_image}" as="file">
								<f:image class="lazy" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/0pixel.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
							  </f:for>
							  <img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/play_icon_white.png" alt="pdf-logo" title="pdf-logo">
							</div>
							<div class="teaserboxen_vollbild_drei_raster_content setheight blue">
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<h3>{data_item.tx_mask_headline_klein}</h3>
							  </f:format.html>
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<p>{data_item.tx_mask_subline_klein}</p>
							  </f:format.html>
							</div>
						  </f:link.page>
					</f:case>
					<f:case value="6">
					<f:link.page  class="html5lightbox"pageUid="{data_item.tx_mask_link}">
							<div class="teaserboxen_vollbild_drei_raster_image" style="position:relative">
							  <f:for each="{data_item.tx_mask_image}" as="file">
								<f:image class="lazy" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/0pixel.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
							  </f:for>
							  <img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/play_icon_blue.png" alt="pdf-logo" title="pdf-logo">
							</div>
							<div class="teaserboxen_vollbild_drei_raster_content setheight blue">
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<h3>{data_item.tx_mask_headline_klein}</h3>
							  </f:format.html>
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<p>{data_item.tx_mask_subline_klein}</p>
							  </f:format.html>
							</div>
						  </f:link.page>
					</f:case>
					<f:case default="TRUE">
						<f:link.page target="_blank" pageUid="{data_item.tx_mask_link}">
							<div class="teaserboxen_vollbild_drei_raster_image" style="position:relative">
							  <f:for each="{data_item.tx_mask_image}" as="file">
								<f:image class="lazy" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/0pixel.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
							  </f:for>
							</div>
							<div class="teaserboxen_vollbild_drei_raster_content setheight blue">
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<h3>{data_item.tx_mask_headline_klein}</h3>
							  </f:format.html>
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<p>{data_item.tx_mask_subline_klein}</p>
							  </f:format.html>
							</div>
						  </f:link.page>
						  </f:case>
					</f:switch>
			       </div>
              </f:if>
            </f:for>
          </f:if>
		  <!-- Teaser-BIG-->
          <div class="col-sm-6 col-xs-12 teaser">		  
				<f:switch expression="{data.tx_mask_typ_gross}">
				<f:case value="1">
					<f:link.page target="_blank" pageUid='{data.tx_mask_link_gross}'>
						  <div class="teaserboxen_vollbild_drei_raster_image" style="position:relative">
							<f:for each="{data.tx_mask_image_gross}" as="file">
							  <f:image class="lazy" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/0pixel.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
							</f:for>
						  </div>
						  <div class="teaserboxen_vollbild_drei_raster_content_big setheight blue">
						   
							<f:format.html parseFuncTSPath="lib.parseFunc">
							  <h3>{data.tx_mask_headline_gross}</h3>
							</f:format.html>
							<f:format.html parseFuncTSPath="lib.parseFunc">
							  <p>{data.tx_mask_subline_gross}</p>
							</f:format.html>
						  </div>
					</f:link.page>
				</f:case>
				<f:case value="2">
					<f:link.page pageUid='{data.tx_mask_link_gross}'>
						  <div class="teaserboxen_vollbild_drei_raster_image" style="position:relative">
							<f:for each="{data.tx_mask_image_gross}" as="file">
							  <f:image class="lazy" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/0pixel.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
							</f:for>
						  </div>
						  <div class="teaserboxen_vollbild_drei_raster_content_big setheight blue">
						   
							<f:format.html parseFuncTSPath="lib.parseFunc">
							  <h3>{data.tx_mask_headline_gross}</h3>
							</f:format.html>
							<f:format.html parseFuncTSPath="lib.parseFunc">
							  <p>{data.tx_mask_subline_gross}</p>
							</f:format.html>
						  </div>
					</f:link.page>
				</f:case>
				<f:case value="3">
					<f:link.page target="_blank" pageUid='{data.tx_mask_link_gross}'>
						  <div class="teaserboxen_vollbild_drei_raster_image" style="position:relative">
							<f:for each="{data.tx_mask_image_gross}" as="file">
							  <f:image class="lazy" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/0pixel.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
							</f:for>
							<img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/pdf_icon_white.png" alt="pdf-logo" title="pdf-logo">
						  </div>
						  <div class="teaserboxen_vollbild_drei_raster_content_big setheight blue">  
							<f:format.html parseFuncTSPath="lib.parseFunc">
							  <h3>{data.tx_mask_headline_gross}</h3>
							</f:format.html>
							<f:format.html parseFuncTSPath="lib.parseFunc">
							  <p>{data.tx_mask_subline_gross}</p>
							</f:format.html>
						  </div>
					</f:link.page>
				
				</f:case>
				<f:case value="4">
				<f:link.page target="_blank" pageUid='{data.tx_mask_link_gross}'>
						  <div class="teaserboxen_vollbild_drei_raster_image" style="position:relative">
							<f:for each="{data.tx_mask_image_gross}" as="file">
							  <f:image class="lazy" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/0pixel.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
							</f:for>
							<img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/pdf_icon_white.png" alt="pdf-logo" title="pdf-logo">
						  </div>
						  <div class="teaserboxen_vollbild_drei_raster_content_big setheight blue">  
							<f:format.html parseFuncTSPath="lib.parseFunc">
							  <h3>{data.tx_mask_headline_gross}</h3>
							</f:format.html>
							<f:format.html parseFuncTSPath="lib.parseFunc">
							  <p>{data.tx_mask_subline_gross}</p>
							</f:format.html>
						  </div>
					</f:link.page>
				</f:case>
				<f:case value="5">
					  <f:link.page class="html5lightbox" pageUid='{data.tx_mask_link_gross}'>
						  <div class="teaserboxen_vollbild_drei_raster_image" style="position:relative">
							<f:for each="{data.tx_mask_image_gross}" as="file">
							  <f:image class="lazy" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/0pixel.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
							</f:for>
							<img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/play_icon_white.png" alt="video-logo" title="video-logo">
						  </div>
						  <div class="teaserboxen_vollbild_drei_raster_content_big setheight blue">  
							<f:format.html parseFuncTSPath="lib.parseFunc">
							  <h3>{data.tx_mask_headline_gross}</h3>
							</f:format.html>
							<f:format.html parseFuncTSPath="lib.parseFunc">
							  <p>{data.tx_mask_subline_gross}</p>
							</f:format.html>
						  </div>
					</f:link.page>
				</f:case>
				<f:case value="6">
					<f:link.page class="html5lightbox" pageUid='{data.tx_mask_link_gross}'>
						  <div class="teaserboxen_vollbild_drei_raster_image" style="position:relative">
							<f:for each="{data.tx_mask_image_gross}" as="file">
							  <f:image class="lazy" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/0pixel.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
							</f:for>
							<img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/play_icon_blue.png" alt="video-logo" title="video-logo">
						  </div>
						  <div class="teaserboxen_vollbild_drei_raster_content_big setheight blue">  
							<f:format.html parseFuncTSPath="lib.parseFunc">
							  <h3>{data.tx_mask_headline_gross}</h3>
							</f:format.html>
							<f:format.html parseFuncTSPath="lib.parseFunc">
							  <p>{data.tx_mask_subline_gross}</p>
							</f:format.html>
						  </div>
					</f:link.page>
					</f:case>
				<f:case default="TRUE">
				  <f:link.page pageUid='{data.tx_mask_link_gross}'>
					  <div class="teaserboxen_vollbild_drei_raster_image" style="position:relative">
						<f:for each="{data.tx_mask_image_gross}" as="file">
						  <f:image class="lazy" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/0pixel.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
						</f:for>
					  </div>
					  <div class="teaserboxen_vollbild_drei_raster_content_big setheight blue"> 
						<f:format.html parseFuncTSPath="lib.parseFunc">
						  <h3>{data.tx_mask_headline_gross}</h3>
						</f:format.html>
						<f:format.html parseFuncTSPath="lib.parseFunc">
						  <p>{data.tx_mask_subline_gross}</p>
						</f:format.html>
					  </div>
				</f:link.page>
				</f:case>
				</f:switch>		
          </div>
          <f:if condition="{data.tx_mask_teaser_klein}">
            <f:for each="{data.tx_mask_teaser_klein}" as="data_item" iteration="i">
              <f:if condition="{i.index}==0">
                <div class="visible-xs col-xs-6 teaser">
                 <f:switch expression="{data_item.tx_mask_typ_klein}">
					<f:case value="1">
						<f:link.page target="_blank" pageUid="{data_item.tx_mask_link}">
						<div class="teaserboxen_vollbild_drei_raster_image" style="position:relative">
						  <f:for each="{data_item.tx_mask_image}" as="file">
							<f:image class="lazy" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/0pixel.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
						  </f:for>
						</div>
						<div class="teaserboxen_vollbild_drei_raster_content setheight blue">
						  <f:format.html parseFuncTSPath="lib.parseFunc">
							<h3>{data_item.tx_mask_headline_klein}</h3>
						  </f:format.html>
						  <f:format.html parseFuncTSPath="lib.parseFunc">
							<p>{data_item.tx_mask_subline_klein}</p>
						  </f:format.html>
						</div>
					  </f:link.page>
					</f:case>
					<f:case value="2">
						<f:link.page pageUid="{data_item.tx_mask_link}">
							<div class="teaserboxen_vollbild_drei_raster_image" style="position:relative">
							  <f:for each="{data_item.tx_mask_image}" as="file">
								<f:image class="lazy" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/0pixel.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
							  </f:for>
							</div>
							<div class="teaserboxen_vollbild_drei_raster_content setheight blue">
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<h3>{data_item.tx_mask_headline_klein}</h3>
							  </f:format.html>
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<p>{data_item.tx_mask_subline_klein}</p>
							  </f:format.html>
							</div>
						  </f:link.page>
					</f:case>
					<f:case value="3">
						<f:link.page target="_blank" pageUid="{data_item.tx_mask_link}">
							<div class="teaserboxen_vollbild_drei_raster_image" style="position:relative">
							  <f:for each="{data_item.tx_mask_image}" as="file">
								<f:image class="lazy" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/0pixel.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
							  </f:for>
							  <img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/pdf_icon_white.png" alt="pdf-logo" title="pdf-logo">
							</div>
							<div class="teaserboxen_vollbild_drei_raster_content setheight blue">
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<h3>{data_item.tx_mask_headline_klein}</h3>
							  </f:format.html>
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<p>{data_item.tx_mask_subline_klein}</p>
							  </f:format.html>
							</div>
						  </f:link.page>
					</f:case>
					<f:case value="4">
						<f:link.page target="_blank"  pageUid="{data_item.tx_mask_link}">
							<div class="teaserboxen_vollbild_drei_raster_image" style="position:relative">
							  <f:for each="{data_item.tx_mask_image}" as="file">
								<f:image class="lazy" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/0pixel.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
							  </f:for>
							  <img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/pdf_icon_blue.png" alt="video-logo" title="video-logo">
							</div>
							<div class="teaserboxen_vollbild_drei_raster_content setheight blue">
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<h3>{data_item.tx_mask_headline_klein}</h3>
							  </f:format.html>
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<p>{data_item.tx_mask_subline_klein}</p>
							  </f:format.html>
							</div>
						  </f:link.page>
					</f:case>
					<f:case value="5">
					<f:link.page  class="html5lightbox"pageUid="{data_item.tx_mask_link}">
							<div class="teaserboxen_vollbild_drei_raster_image" style="position:relative">
							  <f:for each="{data_item.tx_mask_image}" as="file">
								<f:image class="lazy" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/0pixel.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
							  </f:for>
							  <img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/play_icon_white.png" alt="pdf-logo" title="pdf-logo">
							</div>
							<div class="teaserboxen_vollbild_drei_raster_content setheight blue">
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<h3>{data_item.tx_mask_headline_klein}</h3>
							  </f:format.html>
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<p>{data_item.tx_mask_subline_klein}</p>
							  </f:format.html>
							</div>
						  </f:link.page>
					</f:case>
					<f:case value="6">
					<f:link.page  class="html5lightbox"pageUid="{data_item.tx_mask_link}">
							<div class="teaserboxen_vollbild_drei_raster_image" style="position:relative">
							  <f:for each="{data_item.tx_mask_image}" as="file">
								<f:image class="lazy" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/0pixel.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
							  </f:for>
							  <img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/play_icon_blue.png" alt="pdf-logo" title="pdf-logo">
							</div>
							<div class="teaserboxen_vollbild_drei_raster_content setheight blue">
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<h3>{data_item.tx_mask_headline_klein}</h3>
							  </f:format.html>
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<p>{data_item.tx_mask_subline_klein}</p>
							  </f:format.html>
							</div>
						  </f:link.page>
					</f:case>
					<f:case default="TRUE">
						<f:link.page target="_blank" pageUid="{data_item.tx_mask_link}">
							<div class="teaserboxen_vollbild_drei_raster_image" style="position:relative">
							  <f:for each="{data_item.tx_mask_image}" as="file">
								<f:image class="lazy" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/0pixel.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
							  </f:for>
							</div>
							<div class="teaserboxen_vollbild_drei_raster_content setheight blue">
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<h3>{data_item.tx_mask_headline_klein}</h3>
							  </f:format.html>
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<p>{data_item.tx_mask_subline_klein}</p>
							  </f:format.html>
							</div>
						  </f:link.page>
						  </f:case>
					</f:switch>
                </div>
              </f:if>
              <f:if condition="{i.index}==1">
                <div class="col-sm-3 col-xs-6 teaser">
				<f:switch expression="{data_item.tx_mask_typ_klein}">
					<f:case value="1">
						<f:link.page target="_blank" pageUid="{data_item.tx_mask_link}">
						<div class="teaserboxen_vollbild_drei_raster_image" style="position:relative">
						  <f:for each="{data_item.tx_mask_image}" as="file">
							<f:image class="lazy" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/0pixel.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
						  </f:for>
						</div>
						<div class="teaserboxen_vollbild_drei_raster_content setheight blue">
						  <f:format.html parseFuncTSPath="lib.parseFunc">
							<h3>{data_item.tx_mask_headline_klein}</h3>
						  </f:format.html>
						  <f:format.html parseFuncTSPath="lib.parseFunc">
							<p>{data_item.tx_mask_subline_klein}</p>
						  </f:format.html>
						</div>
					  </f:link.page>
					</f:case>
					<f:case value="2">
						<f:link.page pageUid="{data_item.tx_mask_link}">
							<div class="teaserboxen_vollbild_drei_raster_image" style="position:relative">
							  <f:for each="{data_item.tx_mask_image}" as="file">
								<f:image class="lazy" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/0pixel.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
							  </f:for>
							</div>
							<div class="teaserboxen_vollbild_drei_raster_content setheight blue">
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<h3>{data_item.tx_mask_headline_klein}</h3>
							  </f:format.html>
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<p>{data_item.tx_mask_subline_klein}</p>
							  </f:format.html>
							</div>
						  </f:link.page>
					</f:case>
					<f:case value="3">
						<f:link.page target="_blank" pageUid="{data_item.tx_mask_link}">
							<div class="teaserboxen_vollbild_drei_raster_image" style="position:relative">
							  <f:for each="{data_item.tx_mask_image}" as="file">
								<f:image class="lazy" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/0pixel.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
							  </f:for>
							  <img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/pdf_icon_white.png" alt="pdf-logo" title="pdf-logo">
							</div>
							<div class="teaserboxen_vollbild_drei_raster_content setheight blue">
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<h3>{data_item.tx_mask_headline_klein}</h3>
							  </f:format.html>
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<p>{data_item.tx_mask_subline_klein}</p>
							  </f:format.html>
							</div>
						  </f:link.page>
					</f:case>
					<f:case value="4">
						<f:link.page target="_blank"  pageUid="{data_item.tx_mask_link}">
							<div class="teaserboxen_vollbild_drei_raster_image" style="position:relative">
							  <f:for each="{data_item.tx_mask_image}" as="file">
								<f:image class="lazy" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/0pixel.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
							  </f:for>
							  <img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/pdf_icon_blue.png" alt="video-logo" title="video-logo">
							</div>
							<div class="teaserboxen_vollbild_drei_raster_content setheight blue">
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<h3>{data_item.tx_mask_headline_klein}</h3>
							  </f:format.html>
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<p>{data_item.tx_mask_subline_klein}</p>
							  </f:format.html>
							</div>
						  </f:link.page>
					</f:case>
					<f:case value="5">
					<f:link.page  class="html5lightbox"pageUid="{data_item.tx_mask_link}">
							<div class="teaserboxen_vollbild_drei_raster_image" style="position:relative">
							  <f:for each="{data_item.tx_mask_image}" as="file">
								<f:image class="lazy" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/0pixel.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
							  </f:for>
							  <img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/play_icon_white.png" alt="pdf-logo" title="pdf-logo">
							</div>
							<div class="teaserboxen_vollbild_drei_raster_content setheight blue">
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<h3>{data_item.tx_mask_headline_klein}</h3>
							  </f:format.html>
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<p>{data_item.tx_mask_subline_klein}</p>
							  </f:format.html>
							</div>
						  </f:link.page>
					</f:case>
					<f:case value="6">
					<f:link.page  class="html5lightbox"pageUid="{data_item.tx_mask_link}">
							<div class="teaserboxen_vollbild_drei_raster_image" style="position:relative">
							  <f:for each="{data_item.tx_mask_image}" as="file">
								<f:image class="lazy" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/0pixel.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
							  </f:for>
							  <img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/play_icon_blue.png" alt="pdf-logo" title="pdf-logo">
							</div>
							<div class="teaserboxen_vollbild_drei_raster_content setheight blue">
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<h3>{data_item.tx_mask_headline_klein}</h3>
							  </f:format.html>
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<p>{data_item.tx_mask_subline_klein}</p>
							  </f:format.html>
							</div>
						  </f:link.page>
					</f:case>
					<f:case default="TRUE">
						<f:link.page target="_blank" pageUid="{data_item.tx_mask_link}">
							<div class="teaserboxen_vollbild_drei_raster_image" style="position:relative">
							  <f:for each="{data_item.tx_mask_image}" as="file">
								<f:image class="lazy" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/0pixel.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
							  </f:for>
							</div>
							<div class="teaserboxen_vollbild_drei_raster_content setheight blue">
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<h3>{data_item.tx_mask_headline_klein}</h3>
							  </f:format.html>
							  <f:format.html parseFuncTSPath="lib.parseFunc">
								<p>{data_item.tx_mask_subline_klein}</p>
							  </f:format.html>
							</div>
						  </f:link.page>
						  </f:case>
					</f:switch>
                </div>
              </f:if>
            </f:for>
          </f:if>
        </div>
      </div>
    </div>
  </div>
</div>