<f:if condition="{data.tx_mask_login} == 2">
<f:then>
<div class="aktionteaser_hl-02-hm-01 login-box gutter-4">
</f:then>
<f:else>
<div class="aktionteaser_hl-02-hm-01 gutter-4">
  </f:else>
  </f:if>
  <div class="content-container">
    <div class="row white sameheight">
  
        <f:if condition="{data.tx_mask_login}">
          <f:switch expression="{data.tx_mask_login}">
            <f:case value="1">
              <f:if condition="{data.tx_mask_teaser_buehne}">
                <f:for each="{data.tx_mask_teaser_buehne}" as="data_item">
                  
				  <f:if condition="{data_item.tx_mask_target_blank}">
<f:switch expression="{data_item.tx_mask_target_blank}">
<f:case value="1">
					<f:link.page pageUid="{data_item.tx_mask_link}">
                      <div class="col-sm-4 col-xs-12">
                       <div class="teaser_item">
                        <div class="aktionteaser_hl-02-hm-01_image">
                          <f:for each="{data_item.tx_mask_image}" as="file">
                              <f:image additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/default-lazy.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" class="img-responsive lazy" />
                              <f:comment>
                              <!--<f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" class="img-responsive lazy" />-->
                              </f:comment>
                          </f:for>
                        </div>
                        <div class="aktionteaser_hl-02-hm-01_content set_height setheight">
                          <span>
                            <f:format.html parseFuncTSPath="lib.parseFunc">{data_item.tx_mask_headline}</f:format.html>
                          </span>
                        </div>
						  </div>
                      </div>
                    </f:link.page>
</f:case>
<f:case value="2">
 <f:link.page target="_blank" pageUid="{data_item.tx_mask_link}">
                      <div class="col-sm-4 col-xs-12">
                       <div class="teaser_item">
                        <div class="aktionteaser_hl-02-hm-01_image">
                          <f:for each="{data_item.tx_mask_image}" as="file">
                              <f:image additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/default-lazy.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" class="img-responsive lazy" />
                              <f:comment>
                              <!--<f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" class="img-responsive lazy" />-->
                              </f:comment>
                          </f:for>
                        </div>
                        <div class="aktionteaser_hl-02-hm-01_content set_height setheight">
                          <span>
                            <f:format.html parseFuncTSPath="lib.parseFunc">{data_item.tx_mask_headline}</f:format.html>
                          </span>
                        </div>
						  </div>
                      </div>
                    </f:link.page>
</f:case>
</f:switch>
</f:if>
				  
                   
               
                </f:for>
              </f:if>
            </f:case>
            <f:case value="2">
              <f:if condition="{data.tx_mask_teaser_buehne}">
                <f:for each="{data.tx_mask_teaser_buehne}" as="data_item" iteration="i">
                  <f:if condition="{i.index} < 2">
                   
                      <f:link.page pageUid="{data_item.tx_mask_link}">
                        <div class="col-sm-4 col-xs-12">
                          <div class="teaser_item">
                          <div class="aktionteaser_hl-02-hm-01_image">
                            <f:for each="{data_item.tx_mask_image}" as="file">
                              <f:image additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" src="/fileadmin/user_upload/gfx/default-lazy.png" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" class="img-responsive lazy" />
                                <f:comment>
                              <!--<f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" class="img-responsive" />-->
                                </f:comment>
                            </f:for>
                          </div>
                          <div class="aktionteaser_hl-02-hm-01_content set_height">
                            <span>
                              <f:format.html parseFuncTSPath="lib.parseFunc">{data_item.tx_mask_headline}</f:format.html>
                            </span>
                          </div>
                        </div>
                        </div>
                      </f:link.page>
                    
                  </f:if>
                </f:for>
                <div class="col-sm-4 col-xs-12 login-box-header">
                  <form action="de-de/" method="post" id="form_2">
                    <div>
                      <input type="hidden" name="???" value="Powermail" />
                    </div>
                    <h4>Bewerber Log In</h4>
                    <fieldset class="formular">
                      <div id="input" class=" ">
                        <input required="required" type="text" name="" value="" placeholder="Benutzername / E-Mail Adresse"/>
                      </div>
                      <div id="input" class=" ">
                        <input required="required" type="text" name="" value="" placeholder="Passwort"/>
                      </div>
                      <div id="submit" >
                        <input type="submit" name="" value="Einloggen" />
                      </div>
                    </fieldset>
                    <p><a href="#" >Passwort vergessen?</a></p>
                    <p><a href="#" >Bewerber Profil anlegen</a></p>
                  </form>
                </div>
              </f:if>
            </f:case>
          </f:switch>
        </f:if>
      
    </div>
  </div>
</div>
