<div class="teaserzeile_te_07 module gutter-8">
  <div class="content-container">
    <f:if condition="{data.tx_mask_teaserzeile_headline_top}"> 
		<div class="row">
		<div class="col-xs-12 headline-row with-p">
			<h2>{data.tx_mask_teaserzeile_headline_top}</h2>
		</div> 
		</div>
	</f:if>
    <div class="row sameheight">
       <f:switch expression="{data.tx_mask_position}">
          <f:case value="1">
            <div class="col-lg-7 col-lg-push-5 col-sm-6 col-sm-push-6 col-xs-12 setheight" >
              <f:for each="{data.tx_mask_teaserzeile_img}" as="file">
                <f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" class="img-responsive" />
              </f:for>
			  <f:switch expression="{data.tx_mask_teaserzeile_cta_typ}">
							  <f:case value="3"><img class="image_icon_teaser_right" src="/fileadmin/user_upload/gfx/pdf_icon_white.png" alt="pdf-logo" title="pdf-logo"></f:case>
							  <f:case value="4"> <img class="image_icon_teaser_right" src="/fileadmin/user_upload/gfx/pdf_icon_blue.png" alt="pdf-logo" title="pdf-logo"></f:case>
							  <f:case value="5"><img class="image_icon_teaser_right" src="/fileadmin/user_upload/gfx/play_icon_white.png" alt="video-logo" title="video-logo"></f:case>
							  <f:case value="6"><img class="image_icon_teaser_right" src="/fileadmin/user_upload/gfx/play_icon_blue.png" alt="video-logo" title="video-logo"></f:case>
							</f:switch>
            </div>
            <div class="col-lg-5 col-lg-pull-7 col-sm-6 col-sm-pull-6 col-xs-12 setheight blue" >
              <div class="teaserzeile_te_07_content">
                <h2><f:format.html parseFuncTSPath="lib.parseFunc">{data.tx_mask_teaserzeile_headline}</f:format.html></h2>
                <p><f:format.nl2br>{data.tx_mask_teaserzeile_subline}</f:format.nl2br></p>
               <f:switch expression="{data.tx_mask_teaserzeile_cta_typ}">
						<f:case value="1"><f:link.page class="button" target="_blank" pageUid="{data.tx_mask_teaserzeile_cta_link}"> <span>{data.tx_mask_teaserzeile_cta}</span></f:link.page></f:case>
						<f:case value="2"> <f:link.page class="button" pageUid="{data.tx_mask_teaserzeile_cta_link}"> <span>{data.tx_mask_teaserzeile_cta}</span></f:link.page></f:case>
						<f:case value="3"><f:link.page class="button" target="_blank" pageUid="{data.tx_mask_teaserzeile_cta_link}"> <span>{data.tx_mask_teaserzeile_cta}</span></f:link.page></f:case>
						<f:case value="4"> <f:link.page class="button" target="_blank" pageUid="{data.tx_mask_teaserzeile_cta_link}"> <span>{data.tx_mask_teaserzeile_cta}</span></f:link.page></f:case>
						<f:case value="5"><f:link.page class="button html5lightbox" pageUid="{data.tx_mask_teaserzeile_cta_link}"> <span>{data.tx_mask_teaserzeile_cta}</span></f:link.page></f:case>
						<f:case value="6"><f:link.page class="button html5lightbox" pageUid="{data.tx_mask_teaserzeile_cta_link}"> <span>{data.tx_mask_teaserzeile_cta}</span></f:link.page></f:case>
						<f:case default="TRUE"><f:link.page class="button" pageUid="{data.tx_mask_teaserzeile_cta_link}"> <span>{data.tx_mask_teaserzeile_cta}</span></f:link.page></f:case>
					</f:switch>
              </div>
            </div>
          </f:case>
          <f:case value="2">
            <div class="col-lg-7 col-sm-6 col-xs-12 setheight" >
              <f:for each="{data.tx_mask_teaserzeile_img}" as="file">
                <f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1"  />
              </f:for>
			  <f:switch expression="{data.tx_mask_teaserzeile_cta_typ}">
							  <f:case value="3"><img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/pdf_icon_white.png" alt="pdf-logo" title="pdf-logo"></f:case>
							  <f:case value="4"> <img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/pdf_icon_blue.png" alt="pdf-logo" title="pdf-logo"></f:case>
							  <f:case value="5"><img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/play_icon_white.png" alt="pdf-logo" title="pdf-logo"></f:case>
							  <f:case value="6"><img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/play_icon_blue.png" alt="pdf-logo" title="pdf-logo"></f:case>
							</f:switch>
            </div>
            <div class="col-lg-5 col-sm-6 col-xs-12 setheight blue" >
              <div class="teaserzeile_te_07_content"><h2><f:format.html parseFuncTSPath="lib.parseFunc">{data.tx_mask_teaserzeile_headline}</f:format.html></h2>
                <p><f:format.nl2br>{data.tx_mask_teaserzeile_subline}</f:format.nl2br></p>
                <f:switch expression="{data.tx_mask_teaserzeile_cta_typ}">
						<f:case value="1"><f:link.page class="button" target="_blank" pageUid="{data.tx_mask_teaserzeile_cta_link}"> <span>{data.tx_mask_teaserzeile_cta}</span></f:link.page></f:case>
						<f:case value="2"> <f:link.page class="button" pageUid="{data.tx_mask_teaserzeile_cta_link}"> <span>{data.tx_mask_teaserzeile_cta}</span></f:link.page></f:case>
						<f:case value="3"><f:link.page class="button" target="_blank" pageUid="{data.tx_mask_teaserzeile_cta_link}"> <span>{data.tx_mask_teaserzeile_cta}</span></f:link.page></f:case>
						<f:case value="4"> <f:link.page class="button" target="_blank" pageUid="{data.tx_mask_teaserzeile_cta_link}"> <span>{data.tx_mask_teaserzeile_cta}</span></f:link.page></f:case>
						<f:case value="5"><f:link.page class="button html5lightbox" pageUid="{data.tx_mask_teaserzeile_cta_link}"> <span>{data.tx_mask_teaserzeile_cta}</span></f:link.page></f:case>
						<f:case value="6"><f:link.page class="button html5lightbox" pageUid="{data.tx_mask_teaserzeile_cta_link}"> <span>{data.tx_mask_teaserzeile_cta}</span></f:link.page></f:case>
						<f:case default="TRUE"><f:link.page class="button" pageUid="{data.tx_mask_teaserzeile_cta_link}"> <span>{data.tx_mask_teaserzeile_cta}</span></f:link.page></f:case>
					</f:switch>
              </div>
            </div>
          </f:case>
    </f:switch>
    </div>
  </div>
</div>
