<div class="teaserbox_volle_breite_te_06 module gutter-8">
  <style>
  .teaserbox_volle_breite_te_06 .image_icon_teaser_right{
    min-height: 30px !important;
    }
  </style>
  <div class="content-container">
    <div class="row">
      <div class="col-xs-12">
        <div class="teaserbox_volle_breite_te_06_image" >
          <f:for each="{data.tx_mask_teaserbox_voll_image}" as="file">
            <f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" class="img-responsive"/>
          </f:for>
		  
				<f:switch expression="{data.tx_mask_teaserbox_voll_cta_typ}">
							  <f:case value="3"><img class="image_icon_teaser_right" src="/fileadmin/user_upload/gfx/pdf_icon_white.png" alt="pdf-logo" title="pdf-logo"></f:case>
							  <f:case value="4"> <img class="image_icon_teaser_right" src="/fileadmin/user_upload/gfx/pdf_icon_blue.png" alt="pdf-logo" title="pdf-logo"></f:case>
							  <f:case value="5"><img class="image_icon_teaser_right" src="/fileadmin/user_upload/gfx/play_icon_white.png" alt="video-logo" title="video-logo"></f:case>
							  <f:case value="6"><img class="image_icon_teaser_right" src="/fileadmin/user_upload/gfx/play_icon_blue.png" alt="video-logo" title="video-logo"></f:case>
							</f:switch>
        </div>
        <div class="teaserbox_volle_breite_te_06_content"
            
			
			<f:if condition="{data.tx_mask_teaserbox_volle_breite_te_06_color}">
			  <f:switch expression="{data.tx_mask_teaserbox_volle_breite_te_06_color}">
				<f:case value="1">id="whiteheadline"</f:case>
				<f:case value="2">id="blueheadline"</f:case>
			  </f:switch>
			</f:if>
			>
			<f:format.html parseFuncTSPath="lib.parseFunc"><h2>{data.tx_mask_teaserbox_voll_headline}</h2> </f:format.html>
			<f:format.html>{data.tx_mask_teaserbox_voll_subline}</f:format.html>
			<f:if condition="{data.tx_mask_teaserbox_voll_cta_link}">
			<f:switch expression="{data.tx_mask_teaserbox_voll_cta_typ}">
						<f:case value="1"><f:link.page class="button" target="_blank" pageUid="{data.tx_mask_teaserbox_voll_cta_link}"> <span>{data.tx_mask_teaserbox_voll_cta}</span></f:link.page></f:case>
						<f:case value="2"> <f:link.page class="button" pageUid="{data.tx_mask_teaserbox_voll_cta_link}"> <span>{data.tx_mask_teaserbox_voll_cta}</span></f:link.page></f:case>
						<f:case value="3"><f:link.page class="button" target="_blank" pageUid="{data.tx_mask_teaserbox_voll_cta_link}"> <span>{data.tx_mask_teaserbox_voll_cta}</span></f:link.page></f:case>
						<f:case value="4"> <f:link.page class="button" target="_blank" pageUid="{data.tx_mask_teaserbox_voll_cta_link}"> <span>{data.tx_mask_teaserbox_voll_cta}</span></f:link.page></f:case>
						<f:case value="5"><f:link.page class="button html5lightbox" pageUid="{data.tx_mask_teaserbox_voll_cta_link}"> <span>{data.tx_mask_teaserbox_voll_cta}</span></f:link.page></f:case>
						<f:case value="6"><f:link.page class="button html5lightbox" pageUid="{data.tx_mask_teaserbox_voll_cta_link}"> <span>{data.tx_mask_teaserbox_voll_cta}</span></f:link.page></f:case>
						<f:case default="TRUE"><f:link.page class="button" pageUid="{data.tx_mask_teaserbox_voll_cta_link}"> <span>{data.tx_mask_teaserbox_voll_cta}</span></f:link.page></f:case>
					</f:switch>
		  </f:if>
      </div>
    </div>
  </div>
</div>
</div>