<div class="teaserboxen_bildbox_zwei_raster module gutter-8">
  <div class="content-container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <f:for each="{data.tx_mask_image_big}" as="file">
          <f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" class="img-responsive" />
        </f:for>
      </div>
      <f:if condition="{data.tx_mask_bildbox}">
        <div class="teaserboxen_bildbox_zwei_raster_bilder">
          <div class="content-container ">
            <div class="row beige">
              <f:for each="{data.tx_mask_bildbox}" as="data_item">
                <f:if condition="{data_item.tx_mask_new_tab}">
                  <f:switch expression="{data_item.tx_mask_new_tab}">
                    <f:case value="1">
                      <div class="col-sm-6 col-xs-12">
                        <div class="teaser_item" style="position: relative;">
                          <f:link.page pageUid="{data_item.tx_mask_cta_link}" target="_blank">
                            <f:for each="{data_item.tx_mask_image}" as="file">
                              <f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" style="width:100%;height:100%;"/>
                            </f:for>
                            <div class="teaserboxen_bildbox_zwei_raster_bilder_content blue">
                              <h3>{data_item.tx_mask_headline}</h3>
                            </div>
                          </f:link.page>
                        </div>
                      </div>
                    </f:case>
                    <f:case value="2">
                      <div class="col-sm-6 col-xs-12">
                       <div class="teaser_item">
                        <f:link.page pageUid="{data_item.tx_mask_cta_link}">
                          <f:for each="{data_item.tx_mask_image}" as="file">
                            <f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" style="width:100%;height:100%;"/>
                          </f:for>
                          <div class="teaserboxen_bildbox_zwei_raster_bilder_content blue">
                            <h3>{data_item.tx_mask_headline}</h3>
                          </div>
                        </f:link.page>
						  </div>
                      </div>
                    </f:case>
					<f:case value="3">
                      <div class="col-sm-6 col-xs-12">
                       <div class="teaser_item">
                        <f:link.page pageUid="{data_item.tx_mask_cta_link}" target="_blank">
                          <div style="position:relative;">
						  <f:for each="{data_item.tx_mask_image}" as="file">
                            <f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" style="width:100%;height:100%;"/>
                          </f:for>
						  <img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/pdf_icon_white.png" alt="pdf-logo" title="pdf-logo">
						  </div>
                          <div class="teaserboxen_bildbox_zwei_raster_bilder_content blue">
                            <h3>{data_item.tx_mask_headline}</h3>
                          </div>
                        </f:link.page>
						  </div>
                      </div>
                    </f:case>
					<f:case value="4">
                      <div class="col-sm-6 col-xs-12">
                       <div class="teaser_item">
                        <f:link.page pageUid="{data_item.tx_mask_cta_link}" target="_blank">
                          <div style="position:relative;">
						  <f:for each="{data_item.tx_mask_image}" as="file">
                            <f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" style="width:100%;height:100%;"/>
                          </f:for>
						  <img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/pdf_icon_blue.png" alt="pdf-logo" title="pdf-logo">
						  </div>
                          <div class="teaserboxen_bildbox_zwei_raster_bilder_content blue">
                            <h3>{data_item.tx_mask_headline}</h3>
                          </div>
                        </f:link.page>
						  </div>
                      </div>
                    </f:case>
					<f:case value="5">
                      <div class="col-sm-6 col-xs-12">
                       <div class="teaser_item">
                        <f:link.page pageUid="{data_item.tx_mask_cta_link}"  class="html5lightbox">
                           <div style="position:relative;">
						  <f:for each="{data_item.tx_mask_image}" as="file">
                            <f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" style="width:100%;height:100%;"/>
                          </f:for>
						  <img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/play_icon_white.png" alt="pdf-logo" title="pdf-logo">
						  </div>
                          <div class="teaserboxen_bildbox_zwei_raster_bilder_content blue">
                            <h3>{data_item.tx_mask_headline}</h3>
                          </div>
                        </f:link.page>
						  </div>
                      </div>
                    </f:case>
					<f:case value="6">
                      <div class="col-sm-6 col-xs-12">
                       <div class="teaser_item">
                        <f:link.page pageUid="{data_item.tx_mask_cta_link}"  class="html5lightbox">
                           <div style="position:relative;">
						  <f:for each="{data_item.tx_mask_image}" as="file">
                            <f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" style="width:100%;height:100%;"/>
                          </f:for>
						  <img class="image_icon_teaser_left" src="/fileadmin/user_upload/gfx/play_icon_blue.png" alt="pdf-logo" title="pdf-logo">
						  </div>
                          <div class="teaserboxen_bildbox_zwei_raster_bilder_content blue">
                            <h3>{data_item.tx_mask_headline}</h3>
                          </div>
                        </f:link.page>
						  </div>
                      </div>
                    </f:case>
                  </f:switch>
                </f:if>
              </f:for>
            </div>
          </div>
        </div>
      </f:if>
    </div>
  </div>
</div>