<div class="bilder_accordion module gutter-8">
  <div class="content-container">
    <div class="row sameheight">
      <div class="col-xs-12 headline-row">
        <f:if condition="{data.tx_mask_teaserboxen_vierer_raster_headline}">
          <f:format.html parseFuncTSPath="lib.parseFunc">
            <h2>{data.tx_mask_teaserboxen_vierer_raster_headline}</h2>
          </f:format.html>
        </f:if>
        <f:if condition="{data.tx_mask_teaserboxen_vierer_raster_copy}">
          <f:format.html parseFuncTSPath="lib.parseFunc">
            <p>{data.tx_mask_teaserboxen_vierer_raster_copy}</p>
          </f:format.html>
        </f:if>
        <f:if condition="{data.tx_mask_teaserboxen_vierer_raster_url}">
          <p>
            <f:link.page class="button blue" pageUid="{data.tx_mask_teaserboxen_vierer_raster_url}"><span>{data.tx_mask_teaserboxen_vierer_raster_name}</span> </f:link.page>
          </p>
        </f:if>
        <div class="search_box_products"></div>
      </div>
      <div class="col-xs-12 content-row">
        <div class="row">
          <f:if condition="{data.tx_mask_vierer_raster}">
            <f:for each="{data.tx_mask_vierer_raster}" as="data_item" iteration="i">
              <f:if condition="{data_item.tx_mask_image_size}">
                <f:switch expression="{data_item.tx_mask_image_size}">
                  <f:case value="1">
                    <div id="teaser_{i.index}" class="col-sm-6 col-xs-12 big teaser">
                      <f:if condition="{data_item.tx_mask_teaserboxen_vierer_raster_headline_link}">
                        <f:then>
                          <f:switch expression="{data_item.tx_mask_blank}">
                            <f:case value="2">
                              <f:link.page target="_blank" pageUid="{data_item.tx_mask_teaserboxen_vierer_raster_headline_link}">
                                <div class="teaserboxen_normal_drei_raster_image">
                                  <f:if condition="{data_item.tx_mask_vierer_raster_image}">
                                    <f:for each="{data_item.tx_mask_vierer_raster_image}" as="file">
                                      <f:comment>
                                      <!--<f:image image="{file}" alt="{file.alternative}" title="{file.title}" class="img-responsive lazy" />-->
                                      </f:comment>
                                      <f:image src="" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" alt="{file.alternative}" title="{file.title}" class="img-responsive lazy" />

                                    </f:for>
                                  </f:if>
                                </div>
                                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                                  <f:if condition="{data_item.tx_mask_vierer_raster_headline}">
                                    <h3>
                                      <f:format.html parseFuncTSPath="lib.parseFunc">{data_item.tx_mask_vierer_raster_headline}</f:format.html>
                                    </h3>
                                  </f:if>
                                </div>
                              </f:link.page>
                            </f:case>
                            <f:case default="TRUE">
                              <f:link.page pageUid="{data_item.tx_mask_teaserboxen_vierer_raster_headline_link}">
                                <div class="teaserboxen_normal_drei_raster_image">
                                  <f:if condition="{data_item.tx_mask_vierer_raster_image}">
                                    <f:for each="{data_item.tx_mask_vierer_raster_image}" as="file">
                                      <f:image src="" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" alt="{file.alternative}" title="{file.title}" class="img-responsive lazy" />
                                      <f:comment>
                                      <!--<f:image image="{file}" alt="{file.alternative}" title="{file.title}" class="img-responsive lazy" />-->
                                      </f:comment>
                                    </f:for>
                                  </f:if>
                                </div>
                                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                                  <f:if condition="{data_item.tx_mask_vierer_raster_headline}">
                                    <h3>
                                      <f:format.html parseFuncTSPath="lib.parseFunc">{data_item.tx_mask_vierer_raster_headline}</f:format.html>
                                    </h3>
                                  </f:if>
                                </div>
                              </f:link.page>
                            </f:case>
                          </f:switch>
                        </f:then>
                        <f:else>
                          <div class="teaserboxen_normal_drei_raster_image">
                            <f:if condition="{data_item.tx_mask_vierer_raster_image}">
                              <f:for each="{data_item.tx_mask_vierer_raster_image}" as="file">
                                <f:image src="" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" alt="{file.alternative}" title="{file.title}" class="img-responsive lazy" />
                                <f:comment>
                                <!--<f:image image="{file}" alt="{file.alternative}" title="{file.title}" class="img-responsive lazy" />-->
                                </f:comment>
                              </f:for>
                            </f:if>
                          </div>
                          <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                            <f:if condition="{data_item.tx_mask_vierer_raster_headline}">
                              <h3>
                                <f:format.html parseFuncTSPath="lib.parseFunc">{data_item.tx_mask_vierer_raster_headline}</f:format.html>
                              </h3>
                            </f:if>
                          </div>
                        </f:else>
                      </f:if>
                    </div>
                  </f:case>
                  <f:case value="2">
                    <div id="teaser_{i.index}" class="col-sm-3 col-xs-6 small teaser">
                      <f:if condition="{data_item.tx_mask_parameter}">
                        <f:then>
                          <f:link.page pageUid="{data_item.tx_mask_teaserboxen_vierer_raster_headline_link}" additionalParams="{tab: '{data_item.tx_mask_parameter}'}">
                            <div class="teaserboxen_normal_drei_raster_image">
                              <f:if condition="{data_item.tx_mask_vierer_raster_image}">
                                <f:for each="{data_item.tx_mask_vierer_raster_image}" as="file">
                                  <f:image src="" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" alt="{file.alternative}" title="{file.title}" class="img-responsive lazy" />
                                  <f:comment>
                                  <!--<f:image image="{file}" alt="{file.alternative}" title="{file.title}" class="img-responsive lazy" />-->
                                  </f:comment>
                                </f:for>
                              </f:if>
                            </div>
                            <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                              <f:if condition="{data_item.tx_mask_vierer_raster_headline}">
                                <h3>
                                  <f:format.html parseFuncTSPath="lib.parseFunc">{data_item.tx_mask_vierer_raster_headline}</f:format.html>
                                </h3>
                              </f:if>
                            </div>
                          </f:link.page>
                        </f:then>
                        <f:else>
                          <f:link.page pageUid="{data_item.tx_mask_teaserboxen_vierer_raster_headline_link}">
                            <div class="teaserboxen_normal_drei_raster_image">
                              <f:if condition="{data_item.tx_mask_vierer_raster_image}">
                                <f:for each="{data_item.tx_mask_vierer_raster_image}" as="file">
                                  <f:image src="" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" alt="{file.alternative}" title="{file.title}" class="img-responsive lazy" />
                                  <f:comment>
                                  <!--<f:image image="{file}" alt="{file.alternative}" title="{file.title}" class="img-responsive lazy" />-->
                                  </f:comment>
                                </f:for>
                              </f:if>
                            </div>
                            <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                              <f:if condition="{data_item.tx_mask_vierer_raster_headline}">
                                <h3>
                                  <f:format.html parseFuncTSPath="lib.parseFunc">{data_item.tx_mask_vierer_raster_headline}</f:format.html>
                                </h3>
                              </f:if>
                            </div>
                          </f:link.page>
                        </f:else>
                      </f:if>
                    </div>
                  </f:case>
                </f:switch>
              </f:if>
            </f:for>
            <f:for each="{data.tx_mask_vierer_raster}" as="data_item" iteration="i">
              <f:if condition="{data_item.tx_mask_vierer_raster_content}">
                <div id="detail_{i.index}" class="col-xs-12 block-accordion detail " style="display:none;">
                  <div class="accordion_close_button"></div>
                  <div class="block-accordion_content">
                    <f:for each="{data_item.tx_mask_vierer_raster_content}" as="data_item_item">
                      <f:if condition="{data_item_item.tx_mask_vierer_raster_content_images}">
                        <f:for each="{data_item_item.tx_mask_vierer_raster_content_images}" as="file">
                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 ">
                            <f:image src="" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" alt="{file.alternative}" title="{file.title}" class="img-responsive lazy" />
                            <f:comment>
                            <!--<f:image image="{file}" alt="{file.alternative}" title="{file.title}" class="img-responsive lazy" />-->
                            </f:comment>
                          </div>
                        </f:for>
                      </f:if>
                      <div class="col-xs-12">
                        <h2>{data_item_item.tx_mask_vierer_raster_content_headline}</h2>
                      </div>
                      <f:if condition="{data_item_item.tx_mask_vierer_raster_content_content}">
                        <div class="col-sm-8 col-xs-12">
                          <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data_item_item.tx_mask_vierer_raster_content_content}</f:format.html>
                          <f:if condition="{data_item_item.tx_mask_vierer_raster_content_url}">
                            <f:link.page pageUid="{data_item_item.tx_mask_vierer_raster_content_url}" class="button"> <span>{data_item_item.tx_mask_vierer_raster_content_name}</span> </f:link.page>
                          </f:if>
                        </div>
                      </f:if>
                      <div class="col-sm-4 col-xs-12">
                        <f:if condition="{data_item_item.tx_mask_vierer_raster_content_images_right}">
                          <f:for each="{data_item_item.tx_mask_vierer_raster_content_images_right}" as="file">
                            <div class="full-width detail-image">
                              <f:image src="" additionalAttributes="{data-src:'{f:uri.image(src:file.uid,treatIdAsReference:1)}'}" alt="{file.alternative}" title="{file.title}" class="img-responsive lazy" />
                              <f:comment>
                              <f:image image="{file}" alt="{file.alternative}" title="{file.title}" class="img-responsive lazy" />
                              </f:comment>
                            </div>
                          </f:for>
                        </f:if>
                      </div>
                    </f:for>
                  </div>
                </div>
              </f:if>
            </f:for>
          </f:if>
        </div>
      </div>
    </div>
  </div>
</div>
