<div class="frame content-container">
<f:if condition="{data.tx_mask_ga_content_top}">
<f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_mask_ga_content_top}</f:format.html>
</f:if>

<f:if condition="{data.tx_mask_ga_content}">
<f:format.html parseFuncTSPath=""><p>{data.tx_mask_ga_content}</p></f:format.html>
</f:if>

<f:if condition="{data.tx_mask_ga_content_last}">
<f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_mask_ga_content_last}</f:format.html>
</f:if>
</div>