<div class="multilevel_step_1 module gutter-8" >
	<div class="content-container">
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<f:if condition="{data.tx_mask_multilevel_step_1_left}">
					<f:for each="{data.tx_mask_multilevel_step_1_left}" as="data_item">
						<f:cObject typoscriptObjectPath="lib.tx_mask.content">{data_item.uid}</f:cObject>
					</f:for>
				</f:if>
			</div>
			<div class="col-sm-6 col-xs-12">
				<f:if condition="{data.tx_mask_multilevel_step_1_right}">
					<f:for each="{data.tx_mask_multilevel_step_1_right}" as="data_item">
						<f:cObject typoscriptObjectPath="lib.tx_mask.content">{data_item.uid}</f:cObject>
					</f:for>
				</f:if>
			</div>
		</div>
	</div>
</div>