<f:if condition="{data.tx_mask_multilevel_step_3}">
<div class="multilevel_step_3 product_category_headline_tabs module gutter-8">
<div class="content-container">
  <div class="row">
    <f:for each="{data.tx_mask_multilevel_step_3}" as="data_item">
    <f:if condition="{data_item.tx_mask_active}">
    <f:switch expression="{data_item.tx_mask_active}">
    <f:case value="1">
    <div class="col-md-3 col-sm-6 col-xs-12 teaser">
      </f:case>
      <f:case value="2">
      <div class="col-md-3 col-sm-6 col-xs-12 tabs_active teaser">
        </f:case>
        </f:switch>
        </f:if>
        <f:if condition="{data_item.tx_mask_link}">
          <f:then>
            <f:if condition="{data_item.tx_mask_headline}">
              <f:link.page pageUid="{data_item.tx_mask_link}">
                <div class="headline_tab">{data_item.tx_mask_headline}</div>
              </f:link.page>
            </f:if>
          </f:then>
          <f:else>
            <f:if condition="{data_item.tx_mask_headline}">
              <div class="headline_tab">{data_item.tx_mask_headline}</div>
            </f:if>
          </f:else>
        </f:if>
      </div>
      </f:for>
    </div>
  </div>
</div>
</f:if>
