<div class="multilevel_step_2 module gutter-8" >
  <div class="content-container">
    <div class="row">
      <div class="col-xs-12">
        <f:if condition="{data.tx_mask_multilevel_step_2_top}">
          <f:for each="{data.tx_mask_multilevel_step_2_top}" as="data_item">
            <f:cObject typoscriptObjectPath="lib.tx_mask.content">{data_item.uid}</f:cObject>
          </f:for>
        </f:if>
      </div>
      <div class="col-xs-12">
        <f:if condition="{data.tx_mask_multilevel_step_2_bottom}">
          <f:for each="{data.tx_mask_multilevel_step_2_bottom}" as="data_item">
            <f:cObject typoscriptObjectPath="lib.tx_mask.content">{data_item.uid}</f:cObject>
          </f:for>
        </f:if>
      </div>
    </div>
  </div>
</div>
