<f:switch expression="{data.tx_mask_multilevel_step_4_anker_background}">
<f:case value="1">
<div class="multilevel_step_4_anker module gutter-8">
</f:case>
<f:case value="2">
<div class="multilevel_step_4_anker bg_blue module gutter-8">
  </f:case>
  </f:switch>
  <div class="content-container">
    <div class="row">
      <f:if condition="{data.tx_mask_multilevel_step_4_anker}">
        <div class="col-md-8 col-xs-12">
          <div class="step_anker_content" >
            <f:for each="{data.tx_mask_multilevel_step_4_anker}" as="data_item" iteration="i">
              <div id="anker_{i.index}" class="step_anker_content_list" >
                <f:if condition="{data_item.tx_mask_content}">
                  <f:for each="{data_item.tx_mask_content}" as="data_item_item">
                    <f:cObject typoscriptObjectPath="lib.tx_mask.content">{data_item_item.uid}</f:cObject>
                  </f:for>
                </f:if>
              </div>
            </f:for>
          </div>
        </div>
        <div class="col-md-4 col-xs-12 step_anker">
          <nav class="side_sticky_nav" class="navbar navbar-default">
          <ul class="nav nav-pills">
            <f:for each="{data.tx_mask_multilevel_step_4_anker}" as="data_item" iteration="i">
              <f:if condition="{data_item.tx_mask_headline}">
                <li class="nav-item"><a class="nav-link" href="#anker_{i.index}"><span>{data_item.tx_mask_headline}</span></a></li>
              </f:if>
            </f:for>
          </ul>
          </nav>
        </div>
      </f:if>
    </div>
  </div>
</div>
