<f:if condition="{data.tx_mask_categories_items}">
<div class="news_feed module gutter-8">
 <div class="content-container">
    <div class="row">
		<div class="col-xs-12">
			<ul>
			<f:for each="{data.tx_mask_categories_items}" as="data_item">
			<li id="{data_item.tx_mask_items_categorie}" class="active">{data_item.tx_mask_items_name}</li>
			</f:for>
			<li class="tab_slider"></li>
			</ul>
			<f:if condition="{data.tx_mask_news_cta_link}">
				<f:link.page class="button" pageUid="{data.tx_mask_news_cta_link}"><span>{data.tx_mask_news_cta_name}</span></f:link.page>
			</f:if>
		</div>
    </div>
  </div>
  <div class="news-line-slide"></div>
</div>
</f:if>