<div class="breadcrumb module">
  <div class="content_modul">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7">
        <ul class="breadcrumb_ul">
          <li><a href="#">Produkte & Lösungen</a></li>
          <li><a href="#">Produkte</a></li>
          <li><a href="#">Produktkategorie</a></li>
          <li><a href="#">Produkt Subkategorie</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="product_category_headline_tabs module">
  <div class="content_modul">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-7">
        <div class="headline_tab">Teaser Headline / max. 24 Z.</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-7">
        <div class="headline_tab">Teaser Headline / max. 24 Z.</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-7">
        <div class="headline_tab">Teaser Headline / max. 24 Z.</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-7">
        <div class="headline_tab">Teaser Headline / max. 24 Z.</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-7">
        <div class="headline_tab">Teaser Headline / max. 24 Z.</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-7">
        <div class="headline_tab">Teaser Headline / max. 24 Z.</div>
      </div>
    </div>
  </div>
</div>
<div class="product_teaser_row bilder_accordion direct_flyout module">
  <div class="content_modul">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7 headline-row">
        <div class="fylout_icon"> </div>
        <div class="flyout_container">
          <ul>
            <li>Subkategorie Lorem ipsum dolor sit
              <div class="flyout_container">
                <ul>
                  <li>Subkategorie Lorem ipsum dolor sit
                    <div class="flyout_container">
                      <ul>
                        <li>Subkategorie Lorem ipsum dolor sit</li>
                        <li>Subkategorie Lorem ipsum dolor sit</li>
                        <li>Subkategorie Lorem ipsum dolor sit</li>
                        <li>Subkategorie Lorem ipsum dolor sit</li>
                        <li>Subkategorie Lorem ipsum dolor sit</li>
                        <li>Subkategorie Lorem ipsum dolor sit</li>
                      </ul>
                    </div>
                  </li>
                  <li>Subkategorie Lorem ipsum dolor sit</li>
                  <li>Subkategorie Lorem ipsum dolor sit</li>
                  <li>Subkategorie Lorem ipsum dolor sit</li>
                  <li>Subkategorie Lorem ipsum dolor sit</li>
                  <li>Subkategorie Lorem ipsum dolor sit</li>
                </ul>
              </div>
            </li>
            <li>Subkategorie Lorem ipsum dolor sit</li>
            <li>Subkategorie Lorem ipsum dolor sit</li>
            <li>Subkategorie Lorem ipsum dolor sit</li>
            <li>Subkategorie Lorem ipsum dolor sit</li>
            <li>Subkategorie Lorem ipsum dolor sit</li>
          </ul>
        </div>
        <h2>Produktsubkategorie Lorem Ipsum Dolor</h2>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding content-row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small nopadding_5 teaser">
          <div class="teaserboxen_normal_drei_raster_image"> <img class="img-responsive" src="/fileadmin/user_upload/artikel_4.jpg" width="278" height="204" alt=""> </div>
          <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
            <h3> Headline </h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small nopadding_5 teaser">
          <div class="teaserboxen_normal_drei_raster_image"> <img class="img-responsive" src="/fileadmin/user_upload/artikel_4.jpg" width="278" height="204" alt=""> </div>
          <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
            <h3> Headline </h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small nopadding_5 teaser">
          <div class="teaserboxen_normal_drei_raster_image"> <img class="img-responsive" src="/fileadmin/user_upload/artikel_4.jpg" width="278" height="204" alt=""> </div>
          <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
            <h3> Headline </h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small nopadding_5 teaser">
          <div class="teaserboxen_normal_drei_raster_image"> <img class="img-responsive" src="/fileadmin/user_upload/artikel_4.jpg" width="278" height="204" alt=""> </div>
          <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
            <h3> Headline </h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small nopadding_5 teaser">
          <div class="teaserboxen_normal_drei_raster_image"> <img class="img-responsive" src="/fileadmin/user_upload/artikel_4.jpg" width="278" height="204" alt=""> </div>
          <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
            <h3> Headline </h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small nopadding_5 teaser">
          <div class="teaserboxen_normal_drei_raster_image"> <img class="img-responsive" src="/fileadmin/user_upload/artikel_4.jpg" width="278" height="204" alt=""> </div>
          <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
            <h3> Headline </h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small nopadding_5 teaser">
          <div class="teaserboxen_normal_drei_raster_image"> <img class="img-responsive" src="/fileadmin/user_upload/artikel_4.jpg" width="278" height="204" alt=""> </div>
          <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
            <h3> Headline </h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small nopadding_5 teaser">
          <div class="teaserboxen_normal_drei_raster_image"> <img class="img-responsive" src="/fileadmin/user_upload/artikel_4.jpg" width="278" height="204" alt=""> </div>
          <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
            <h3> Headline </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
