<div class="breadcrumb module">
  <div class="content_modul">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7">
        <ul class="breadcrumb_ul">
          <li><a href="#">Produkte & Lösungen</a></li>
          <li><a href="#">Produkte</a></li>
          <li><a href="#">Produktkategorie</a></li>
          <li><a href="#">Produktgruppe</a></li>
          <li><a href="#">Produktserie</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container_marginal">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content_marginal module">
    <div class="row">
      <div class="content_modul">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 subcontent-wrap ">
          <div class="webcode module">
            <div class="content_modul">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7 headline-row with-p">
                  <h2>WebCode Übersicht Headline Lorem Ipsum</h2>
                  <p>Über die Webcodes finden Sie direkt die richtigen Produkte und Dokumente Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding content-row">
                  <div class="table_details">
                    <table>
                      <tbody>
                        <tr>
                          <td>Y01234xxABC</td>
                          <td>Produktbezeichnung komlett sehr lang 2 Zeilen max. Lorem ipsum dolor sit amet</td>
                        </tr>
                        <tr>
                          <td>Y01234xxABC</td>
                          <td>Produktbezeichnung komlett sehr lang 2 Zeilen max. Lorem ipsum dolor sit amet</td>
                        </tr>
                        <tr>
                          <td>Y01234xxABC</td>
                          <td>Produktbezeichnung komlett sehr lang 2 Zeilen max. Lorem ipsum dolor sit amet</td>
                        </tr>
                        <tr>
                          <td>Y01234xxABC</td>
                          <td>Produktbezeichnung komlett sehr lang 2 Zeilen max. Lorem ipsum dolor sit amet</td>
                        </tr>
                        <tr>
                          <td>Y01234xxABC</td>
                          <td>Produktbezeichnung komlett sehr lang 2 Zeilen max. Lorem ipsum dolor sit amet</td>
                        </tr>
                        <tr>
                          <td>Y01234xxABC</td>
                          <td>Produktbezeichnung komlett sehr lang 2 Zeilen max. Lorem ipsum dolor sit amet</td>
                        </tr>
                        <tr>
                          <td>Y01234xxABC</td>
                          <td>Produktbezeichnung komlett sehr lang 2 Zeilen max. Lorem ipsum dolor sit amet</td>
                        </tr>
                        <tr>
                          <td>Y01234xxABC</td>
                          <td>Produktbezeichnung komlett sehr lang 2 Zeilen max. Lorem ipsum dolor sit amet</td>
                        </tr>
                        <tr>
                          <td>Y01234xxABC</td>
                          <td>Produktbezeichnung komlett sehr lang 2 Zeilen max. Lorem ipsum dolor sit amet</td>
                        </tr>
                        <tr>
                          <td>Y01234xxABC</td>
                          <td>Produktbezeichnung komlett sehr lang 2 Zeilen max. Lorem ipsum dolor sit amet</td>
                        </tr>
                        <tr>
                          <td>Y01234xxABC</td>
                          <td>Produktbezeichnung komlett sehr lang 2 Zeilen max. Lorem ipsum dolor sit amet</td>
                        </tr>
                        <tr>
                          <td>Y01234xxABC</td>
                          <td>Produktbezeichnung komlett sehr lang 2 Zeilen max. Lorem ipsum dolor sit amet</td>
                        </tr>
                        <tr>
                          <td>Y01234xxABC</td>
                          <td>Produktbezeichnung komlett sehr lang 2 Zeilen max. Lorem ipsum dolor sit amet</td>
                        </tr>
                        <tr>
                          <td>Y01234xxABC</td>
                          <td>Produktbezeichnung komlett sehr lang 2 Zeilen max. Lorem ipsum dolor sit amet</td>
                        </tr>
                        <tr>
                          <td>Y01234xxABC</td>
                          <td>Produktbezeichnung komlett sehr lang 2 Zeilen max. Lorem ipsum dolor sit amet</td>
                        </tr>
                        <tr>
                          <td>Y01234xxABC</td>
                          <td>Produktbezeichnung komlett sehr lang 2 Zeilen max. Lorem ipsum dolor sit amet</td>
                        </tr>
                        <tr>
                          <td>Y01234xxABC</td>
                          <td>Produktbezeichnung komlett sehr lang 2 Zeilen max. Lorem ipsum dolor sit amet</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
