<div class="breadcrumb module">
  <div class="content_modul">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7">
        <ul class="breadcrumb_ul">
          <li><a href="#">Produkte & Lösungen</a></li>
          <li><a href="#">Produkte</a></li>
          <li><a href="#">Produktkategorie</a></li>
          <li><a href="#">Produktgruppe</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="filter_module module">
  <div class="content_modul">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7 headline-row with-text">
        <h2 class="two_thirds">Produktserie Lorem Ipsum Dolorem Sit Amet</h2>
        <p class="two_thirds"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>
      </div>
    </div>
  </div>
</div>
<div class="product_series module">
  <div class="content_modul">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7 headline-row">
        <h2>7 Serien (12345 Produkte)</h2>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding content-row"> <a href="#">
        <div class="list_item">
          <div class="images_block">
            <div class="small_images"> <img src="/fileadmin/user_upload/gfx/item_list_small.jpg"> <img src="/fileadmin/user_upload/gfx/item_list_small.jpg"> <img src="/fileadmin/user_upload/gfx/item_list_small.jpg"> <img src="/fileadmin/user_upload/gfx/item_list_small.jpg"> <img src="/fileadmin/user_upload/gfx/item_list_small.jpg"> </div>
            <div class="main_img"><img src="/fileadmin/user_upload/gfx/item_list_img.jpg"></div>
          </div>
          <div class="text_block">
            <h3>Produkt Serie / einzeilig / max. 99 Zeichen / Lorem ipsum dolor sit amet, consetetur sadipscing</h3>
            <ul>
              <li>Webhighlight Bullet / max. 150 Zeichen pro Zeile / Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</li>
              <li>Webhighlight Bullet / max. 150 Zeichen pro Zeile / Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</li>
              <li>Webhighlight Bullet / max. 150 Zeichen pro Zeile / Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</li>
              <li>Webhighlight Bullet / max. 150 Zeichen pro Zeile / Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</li>
              <li>Webhighlight Bullet / max. 150 Zeichen pro Zeile / Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</li>
            </ul>
          </div>
        </div>
        </a> <a href="#">
        <div class="list_item">
          <div class="images_block">
            <div class="small_images"> <img src="/fileadmin/user_upload/gfx/item_list_small.jpg"> <img src="/fileadmin/user_upload/gfx/item_list_small.jpg"> <img src="/fileadmin/user_upload/gfx/item_list_small.jpg"> <img src="/fileadmin/user_upload/gfx/item_list_small.jpg"> <img src="/fileadmin/user_upload/gfx/item_list_small.jpg"> </div>
            <div class="main_img"><img src="/fileadmin/user_upload/gfx/item_list_img.jpg"></div>
          </div>
          <div class="text_block">
            <h3>Produkt Serie / einzeilig / max. 99 Zeichen / Lorem ipsum dolor sit amet, consetetur sadipscing</h3>
            <ul>
              <li>Webhighlight Bullet / max. 150 Zeichen pro Zeile / Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</li>
              <li>Webhighlight Bullet / max. 150 Zeichen pro Zeile / Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</li>
              <li>Webhighlight Bullet / max. 150 Zeichen pro Zeile / Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</li>
              <li>Webhighlight Bullet / max. 150 Zeichen pro Zeile / Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</li>
              <li>Webhighlight Bullet / max. 150 Zeichen pro Zeile / Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</li>
            </ul>
          </div>
        </div>
        </a> <a href="#">
        <div class="list_item">
          <div class="images_block">
            <div class="small_images"> <img src="/fileadmin/user_upload/gfx/item_list_small.jpg"> <img src="/fileadmin/user_upload/gfx/item_list_small.jpg"> <img src="/fileadmin/user_upload/gfx/item_list_small.jpg"> <img src="/fileadmin/user_upload/gfx/item_list_small.jpg"> <img src="/fileadmin/user_upload/gfx/item_list_small.jpg"> </div>
            <div class="main_img"><img src="/fileadmin/user_upload/gfx/item_list_img.jpg"></div>
          </div>
          <div class="text_block">
            <h3>Produkt Serie / einzeilig / max. 99 Zeichen / Lorem ipsum dolor sit amet, consetetur sadipscing</h3>
            <ul>
              <li>Webhighlight Bullet / max. 150 Zeichen pro Zeile / Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</li>
              <li>Webhighlight Bullet / max. 150 Zeichen pro Zeile / Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</li>
              <li>Webhighlight Bullet / max. 150 Zeichen pro Zeile / Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</li>
              <li>Webhighlight Bullet / max. 150 Zeichen pro Zeile / Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</li>
              <li>Webhighlight Bullet / max. 150 Zeichen pro Zeile / Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</li>
            </ul>
          </div>
        </div>
        </a> <a href="#">
        <div class="list_item">
          <div class="images_block">
            <div class="small_images"> <img src="/fileadmin/user_upload/gfx/item_list_small.jpg"> <img src="/fileadmin/user_upload/gfx/item_list_small.jpg"> <img src="/fileadmin/user_upload/gfx/item_list_small.jpg"> <img src="/fileadmin/user_upload/gfx/item_list_small.jpg"> <img src="/fileadmin/user_upload/gfx/item_list_small.jpg"> </div>
            <div class="main_img"><img src="/fileadmin/user_upload/gfx/item_list_img.jpg"></div>
          </div>
          <div class="text_block">
            <h3>Produkt Serie / einzeilig / max. 99 Zeichen / Lorem ipsum dolor sit amet, consetetur sadipscing</h3>
            <ul>
              <li>Webhighlight Bullet / max. 150 Zeichen pro Zeile / Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</li>
              <li>Webhighlight Bullet / max. 150 Zeichen pro Zeile / Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</li>
              <li>Webhighlight Bullet / max. 150 Zeichen pro Zeile / Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</li>
              <li>Webhighlight Bullet / max. 150 Zeichen pro Zeile / Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</li>
              <li>Webhighlight Bullet / max. 150 Zeichen pro Zeile / Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</li>
            </ul>
          </div>
        </div>
        </a> <a href="#">
        <div class="list_item">
          <div class="images_block">
            <div class="small_images"> <img src="/fileadmin/user_upload/gfx/item_list_small.jpg"> <img src="/fileadmin/user_upload/gfx/item_list_small.jpg"> <img src="/fileadmin/user_upload/gfx/item_list_small.jpg"> <img src="/fileadmin/user_upload/gfx/item_list_small.jpg"> <img src="/fileadmin/user_upload/gfx/item_list_small.jpg"> </div>
            <div class="main_img"><img src="/fileadmin/user_upload/gfx/item_list_img.jpg"></div>
          </div>
          <div class="text_block">
            <h3>Produkt Serie / einzeilig / max. 99 Zeichen / Lorem ipsum dolor sit amet, consetetur sadipscing</h3>
            <ul>
              <li>Webhighlight Bullet / max. 150 Zeichen pro Zeile / Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</li>
              <li>Webhighlight Bullet / max. 150 Zeichen pro Zeile / Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</li>
              <li>Webhighlight Bullet / max. 150 Zeichen pro Zeile / Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</li>
              <li>Webhighlight Bullet / max. 150 Zeichen pro Zeile / Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</li>
              <li>Webhighlight Bullet / max. 150 Zeichen pro Zeile / Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</li>
            </ul>
          </div>
        </div>
        </a>
        <div class="center"><a href="#" class="button blue"><span>mehr serien laden</span></a></div>
      </div>
    </div>
  </div>
</div>
