<div class="breadcrumb module">
  <div class="content_modul">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7">
        <ul class="breadcrumb_ul">
          <li><a href="#">Produkte & Lösungen</a></li>
          <li><a href="#">Produkte</a></li>
          <li><a href="#">Produktkategorie</a></li>
          <li><a href="#">Produkt Subkategorie</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="product_category_headline_tabs module">
  <div class="content_modul">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-7">
        <div class="headline_tab">Teaser Headline / max. 24 Z.</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-7">
        <div class="headline_tab">Teaser Headline / max. 24 Z.</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-7">
        <div class="headline_tab">Teaser Headline / max. 24 Z.</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-7">
        <div class="headline_tab">Teaser Headline / max. 24 Z.</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-7">
        <div class="headline_tab">Teaser Headline / max. 24 Z.</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-7">
        <div class="headline_tab">Teaser Headline / max. 24 Z.</div>
      </div>
    </div>
  </div>
</div>
<div class="product_headline_flyout_extended direct_flyout module">
  <div class="content_modul">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7 headline-row">
        <div class="fylout_icon"> </div>
        <div class="flyout_container">
          <ul>
            <li>Subkategorie Lorem ipsum dolor sit
              <div class="flyout_container">
                <ul>
                  <li>Subkategorie Lorem ipsum dolor sit
                    <div class="flyout_container">
                      <ul>
                        <li>Subkategorie Lorem ipsum dolor sit</li>
                        <li>Subkategorie Lorem ipsum dolor sit</li>
                        <li>Subkategorie Lorem ipsum dolor sit</li>
                        <li>Subkategorie Lorem ipsum dolor sit</li>
                        <li>Subkategorie Lorem ipsum dolor sit</li>
                        <li>Subkategorie Lorem ipsum dolor sit</li>
                      </ul>
                    </div>
                  </li>
                  <li>Subkategorie Lorem ipsum dolor sit</li>
                  <li>Subkategorie Lorem ipsum dolor sit</li>
                  <li>Subkategorie Lorem ipsum dolor sit</li>
                  <li>Subkategorie Lorem ipsum dolor sit</li>
                  <li>Subkategorie Lorem ipsum dolor sit</li>
                </ul>
              </div>
            </li>
            <li>Subkategorie Lorem ipsum dolor sit</li>
            <li>Subkategorie Lorem ipsum dolor sit</li>
            <li>Subkategorie Lorem ipsum dolor sit</li>
            <li>Subkategorie Lorem ipsum dolor sit</li>
            <li>Subkategorie Lorem ipsum dolor sit</li>
          </ul>
        </div>
        <h2 class="two_thirds">2/3 HL flyout für screenheadline</h2>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7 content-row">
        <div class="product_hero_extended"> <img src="/fileadmin/user_upload/gfx/product_hero.jpg" />
          <div class="thumbnails_left"> <img src="/fileadmin/user_upload/gfx/product_hero_extended_thumbnail.jpg" /> <img src="/fileadmin/user_upload/gfx/product_hero_extended_thumbnail.jpg" /> <img src="/fileadmin/user_upload/gfx/product_hero_extended_thumbnail.jpg" /> </div>
          <div class="info_bar">
            <ul>
              <li><img src="/fileadmin/user_upload/gfx/icon_product_detail.png" width="36" height="8" /> detailinfos</li>
              <li><img src="/fileadmin/user_upload/gfx/icon_media.png" width="32" height="27"/> video & multimedia</li>
              <li><img src="/fileadmin/user_upload/gfx/icon_download_white.png" width="27" height="33"/> downloads</li>
              <li><img src="/fileadmin/user_upload/gfx/icon_accessories_white.png" width="30" height="30"/> zubehör</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding content-row copy">
        <p>Copy lang: Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, <a href="">consetetur sadipscing</a> elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
      </div>
    </div>
  </div>
</div>
<div class="product_teaser_row bilder_accordion module">
  <div class="content_modul">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small nopadding_5 teaser">
        <div class="teaserboxen_normal_drei_raster_image"> <img class="img-responsive" src="/fileadmin/user_upload/artikel_4.jpg" width="278" height="204" alt=""> </div>
        <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
          <h3> Headline </h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small nopadding_5 teaser">
        <div class="teaserboxen_normal_drei_raster_image"> <img class="img-responsive" src="/fileadmin/user_upload/artikel_4.jpg" width="278" height="204" alt=""> </div>
        <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
          <h3> Headline </h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small nopadding_5 teaser">
        <div class="teaserboxen_normal_drei_raster_image"> <img class="img-responsive" src="/fileadmin/user_upload/artikel_4.jpg" width="278" height="204" alt=""> </div>
        <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
          <h3> Headline </h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small nopadding_5 teaser">
        <div class="teaserboxen_normal_drei_raster_image"> <img class="img-responsive" src="/fileadmin/user_upload/artikel_4.jpg" width="278" height="204" alt=""> </div>
        <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
          <h3> Headline </h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="similar_products without_icon teaserboxen_vollbild_drei_raster_carousel module">
  <div class="content_modul">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7 headline-row">
        <h2>Systeme, die dieses Produkt enthalten Headline Lorem Ipsum</h2>
      </div>
      <div id="teaserboxen_vollbild_drei_raster_carousel" class="owl-carousel sameheight content-row">
        <div class="big"> <a href="/r-stahlen/produkte/">
          <div class="teaserboxen_vollbild_drei_raster_image  "> <img src="/fileadmin/user_upload/slider_1.jpg" width="570" height="204" alt=""> </div>
          <div class="teaserboxen_vollbild_drei_raster_content_big setheight blue">
            <h2> Lorem ipsum dolor sit amet, </h2>
            <p> Kompetenzen etc Lorem ipsum dolor sit amet, Shortcopy Angebot, Kompetenzen etc Lorem ipsum dolor sit amet, </p>
          </div>
          </a> </div>
        <div class="small"> <a href="/r-stahlen/produkte/">
          <div class="teaserboxen_vollbild_drei_raster_image "> <img src="/fileadmin/user_upload/slider_2.jpg" width="278" height="204" alt=""> </div>
          <div class="teaserboxen_vollbild_drei_raster_content setheight blue">
            <h3> Lorem ipsum dolor sit amet, </h3>
            <p> Kompetenzen etc Lorem ipsum dolor sit amet, Shortcopy Angebot, Kompetenzen etc Lorem ipsum dolor sit amet, </p>
          </div>
          </a> </div>
        <div class="small"> <a href="/r-stahlen/produkte/">
          <div class="teaserboxen_vollbild_drei_raster_image "> <img src="/fileadmin/user_upload/slider_2.jpg" width="278" height="204" alt=""> </div>
          <div class="teaserboxen_vollbild_drei_raster_content setheight blue">
            <h3> Lorem ipsum dolor sit amet, </h3>
            <p> Kompetenzen etc Lorem ipsum dolor sit amet, Shortcopy Angebot, Kompetenzen etc Lorem ipsum dolor sit amet, </p>
          </div>
          </a> </div>
        <div class="big"> <a href="/r-stahlen/produkte/">
          <div class="teaserboxen_vollbild_drei_raster_image  "> <img src="/fileadmin/user_upload/slider_1.jpg" width="570" height="204" alt=""> </div>
          <div class="teaserboxen_vollbild_drei_raster_content_big setheight blue">
            <h2> Lorem ipsum dolor sit amet, </h2>
            <p> Kompetenzen etc Lorem ipsum dolor sit amet, Shortcopy Angebot, Kompetenzen etc Lorem ipsum dolor sit amet, </p>
          </div>
          </a> </div>
      </div>
    </div>
  </div>
</div>
