<div class="breadcrumb module">
  <div class="content_modul">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7">
        <ul class="breadcrumb_ul">
          <li><a href="#">Produkte & Lösungen</a></li>
          <li><a href="#">Produkte</a></li>
          <li><a href="#">Produktkategorie</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="teaserboxen_normal_drei_raster direct_flyout module">
  <div class="content_modul">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7 headline-row">
        <div class="fylout_icon"> </div>
        <div class="flyout_container">
          <ul>
            <li>Subkategorie Lorem ipsum dolor sit
              <div class="flyout_container">
                <ul>
                  <li>Subkategorie Lorem ipsum dolor sit
                    <div class="flyout_container">
                      <ul>
                        <li>Subkategorie Lorem ipsum dolor sit</li>
                        <li>Subkategorie Lorem ipsum dolor sit</li>
                        <li>Subkategorie Lorem ipsum dolor sit</li>
                        <li>Subkategorie Lorem ipsum dolor sit</li>
                        <li>Subkategorie Lorem ipsum dolor sit</li>
                        <li>Subkategorie Lorem ipsum dolor sit</li>
                      </ul>
                    </div>
                  </li>
                  <li>Subkategorie Lorem ipsum dolor sit</li>
                  <li>Subkategorie Lorem ipsum dolor sit</li>
                  <li>Subkategorie Lorem ipsum dolor sit</li>
                  <li>Subkategorie Lorem ipsum dolor sit</li>
                  <li>Subkategorie Lorem ipsum dolor sit</li>
                </ul>
              </div>
            </li>
            <li>Subkategorie Lorem ipsum dolor sit</li>
            <li>Subkategorie Lorem ipsum dolor sit</li>
            <li>Subkategorie Lorem ipsum dolor sit</li>
            <li>Subkategorie Lorem ipsum dolor sit</li>
            <li>Subkategorie Lorem ipsum dolor sit</li>
          </ul>
        </div>
        <h2>Produktkategorie Titel Lorem Ipsum</h2>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7 content-row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 nopadding_5"> <a href="/r-stahlen/produkte/">
          <div class="teaserboxen_normal_drei_raster_image"> <img class="img-responsive" src="/fileadmin/user_upload/branche_1.jpg" width="370" height="268" alt=""> </div>
          <div class="teaserboxen_normal_drei_raster_image_content setheight blue" style="height: 68px;">
            <h3> Öl &amp; Gas  Industrie </h3>
          </div>
          </a> </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 nopadding_5"> <a href="/r-stahlen/produkte/">
          <div class="teaserboxen_normal_drei_raster_image"> <img class="img-responsive" src="/fileadmin/user_upload/branche_1.jpg" width="370" height="268" alt=""> </div>
          <div class="teaserboxen_normal_drei_raster_image_content setheight blue" style="height: 68px;">
            <h3> Öl &amp; Gas  Industrie </h3>
          </div>
          </a> </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 nopadding_5"> <a href="/r-stahlen/produkte/">
          <div class="teaserboxen_normal_drei_raster_image"> <img class="img-responsive" src="/fileadmin/user_upload/branche_1.jpg" width="370" height="268" alt=""> </div>
          <div class="teaserboxen_normal_drei_raster_image_content setheight blue" style="height: 68px;">
            <h3> Öl &amp; Gas  Industrie </h3>
          </div>
          </a> </div>
      </div>
    </div>
  </div>
</div>
<div class="similar_products without_icon teaserboxen_vollbild_drei_raster_carousel module">
  <div class="content_modul">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7 headline-row">
        <h2>Systeme, die dieses Produkt enthalten Headline Lorem Ipsum</h2>
      </div>
      <div id="teaserboxen_vollbild_drei_raster_carousel" class="owl-carousel sameheight content-row">
        <div class="big"> <a href="/r-stahlen/produkte/">
          <div class="teaserboxen_vollbild_drei_raster_image  "> <img src="/fileadmin/user_upload/slider_1.jpg" width="570" height="204" alt=""> </div>
          <div class="teaserboxen_vollbild_drei_raster_content_big setheight blue">
            <h2> Lorem ipsum dolor sit amet, </h2>
            <p> Kompetenzen etc Lorem ipsum dolor sit amet, Shortcopy Angebot, Kompetenzen etc Lorem ipsum dolor sit amet, </p>
          </div>
          </a> </div>
        <div class="small"> <a href="/r-stahlen/produkte/">
          <div class="teaserboxen_vollbild_drei_raster_image "> <img src="/fileadmin/user_upload/slider_2.jpg" width="278" height="204" alt=""> </div>
          <div class="teaserboxen_vollbild_drei_raster_content setheight blue">
            <h3> Lorem ipsum dolor sit amet, </h3>
            <p> Kompetenzen etc Lorem ipsum dolor sit amet, Shortcopy Angebot, Kompetenzen etc Lorem ipsum dolor sit amet, </p>
          </div>
          </a> </div>
        <div class="small"> <a href="/r-stahlen/produkte/">
          <div class="teaserboxen_vollbild_drei_raster_image "> <img src="/fileadmin/user_upload/slider_2.jpg" width="278" height="204" alt=""> </div>
          <div class="teaserboxen_vollbild_drei_raster_content setheight blue">
            <h3> Lorem ipsum dolor sit amet, </h3>
            <p> Kompetenzen etc Lorem ipsum dolor sit amet, Shortcopy Angebot, Kompetenzen etc Lorem ipsum dolor sit amet, </p>
          </div>
          </a> </div>
        <div class="big"> <a href="/r-stahlen/produkte/">
          <div class="teaserboxen_vollbild_drei_raster_image  "> <img src="/fileadmin/user_upload/slider_1.jpg" width="570" height="204" alt=""> </div>
          <div class="teaserboxen_vollbild_drei_raster_content_big setheight blue">
            <h2> Lorem ipsum dolor sit amet, </h2>
            <p> Kompetenzen etc Lorem ipsum dolor sit amet, Shortcopy Angebot, Kompetenzen etc Lorem ipsum dolor sit amet, </p>
          </div>
          </a> </div>
      </div>
    </div>
  </div>
</div>
