<div class="breadcrumb module">
  <div class="content_modul">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7">
        <ul class="breadcrumb_ul">
          <li><a href="#">Produkte & Lösungen</a></li>
          <li><a href="#">Produkte</a></li>
          <li><a href="#">Produktkategorie</a></li>
          <li><a href="#">Produktgruppe</a></li>
          <li><a href="#">Produktserie</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="filter_module module">
  <div class="content_modul">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7 headline-row with-text">
        <h2 class="two_thirds">Produktsubkategorie Lorem Ipsum Dolor</h2>
        <p class="two_thirds"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>
      </div>
    </div>
  </div>
</div>
<div class="product_item_table module background">
  <div class="content_modul">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding content-row">
        <div class="detail">
          <div class="top">
            <div class="checkbox_div">
              <input type="checkbox" name="product_1" id="product_1" value="1">
              <label for="product_1"></label>
            </div>
            <h3>Produkt Name Sehr Lang Lorem ipsum dolor sit amet, consetetur sadipscing elitrconsetetur sadipscing</h3>
          </div>
          <div class="bottom">
            <div class="left">
              <div class="images"><img src="/fileadmin/user_upload/gfx/product_accessories_img.jpg"></div>
              <div class="description">
                <div class="data">
                  <table>
                    <tbody>
                      <tr>
                        <td>Typ:</td>
                        <td>8146/1051-K0254</td>
                        <td>Order No.:</td>
                        <td>239942</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="copy">
                  <p>Produkt Ausführung / 4 Zeilen / max. 277 Zeichen<br>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliq
                    uyam erat, sed diam voluptua. scing elitr, sed diam nonumy eirmod</p>
                </div>
              </div>
            </div>
            <div class="right">
              <div class="table_details smaller">
                <table>
                  <tr>
                    <td>Bezeichnung 1</td>
                    <td>LED-Rohrleuchte</td>
                  </tr>
                  <tr>
                    <td>Typ</td>
                    <td>6036/1248-050-0180-11</td>
                  </tr>
                  <tr>
                    <td>Bestellnummer</td>
                    <td>224011</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="detail">
          <div class="top">
            <div class="checkbox_div">
              <input type="checkbox" name="product_2" id="product_2" value="1">
              <label for="product_2"></label>
            </div>
            <h3>Produkt Name Sehr Lang Lorem ipsum dolor sit amet, consetetur sadipscing elitrconsetetur sadipscing</h3>
          </div>
          <div class="bottom">
            <div class="left">
              <div class="images"><img src="/fileadmin/user_upload/gfx/product_accessories_img.jpg"></div>
              <div class="description">
                <div class="data">
                  <table>
                    <tbody>
                      <tr>
                        <td>Typ:</td>
                        <td>8146/1051-K0254</td>
                        <td>Order No.:</td>
                        <td>239942</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="copy">
                  <p>Produkt Ausführung / 4 Zeilen / max. 277 Zeichen<br>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliq
                    uyam erat, sed diam voluptua. scing elitr, sed diam nonumy eirmod</p>
                </div>
              </div>
            </div>
            <div class="right">
              <div class="table_details smaller">
                <table>
                  <tr>
                    <td>Bezeichnung 1</td>
                    <td>LED-Rohrleuchte</td>
                  </tr>
                  <tr>
                    <td>Typ</td>
                    <td>6036/1248-050-0180-11</td>
                  </tr>
                  <tr>
                    <td>Bestellnummer</td>
                    <td>224011</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="detail">
          <div class="top">
            <div class="checkbox_div">
              <input type="checkbox" name="product_3" id="product_3" value="1">
              <label for="product_3"></label>
            </div>
            <h3>Produkt Name Sehr Lang Lorem ipsum dolor sit amet, consetetur sadipscing elitrconsetetur sadipscing</h3>
          </div>
          <div class="bottom">
            <div class="left">
              <div class="images"><img src="/fileadmin/user_upload/gfx/product_accessories_img.jpg"></div>
              <div class="description">
                <div class="data">
                  <table>
                    <tbody>
                      <tr>
                        <td>Typ:</td>
                        <td>8146/1051-K0254</td>
                        <td>Order No.:</td>
                        <td>239942</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="copy">
                  <p>Produkt Ausführung / 4 Zeilen / max. 277 Zeichen<br>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliq
                    uyam erat, sed diam voluptua. scing elitr, sed diam nonumy eirmod</p>
                </div>
              </div>
            </div>
            <div class="right">
              <div class="table_details smaller">
                <table>
                  <tr>
                    <td>Bezeichnung 1</td>
                    <td>LED-Rohrleuchte</td>
                  </tr>
                  <tr>
                    <td>Typ</td>
                    <td>6036/1248-050-0180-11</td>
                  </tr>
                  <tr>
                    <td>Bestellnummer</td>
                    <td>224011</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="detail">
          <div class="top">
            <div class="checkbox_div">
              <input type="checkbox" name="product_4" id="product_4" value="1">
              <label for="product_4"></label>
            </div>
            <h3>Produkt Name Sehr Lang Lorem ipsum dolor sit amet, consetetur sadipscing elitrconsetetur sadipscing</h3>
          </div>
          <div class="bottom">
            <div class="left">
              <div class="images"><img src="/fileadmin/user_upload/gfx/product_accessories_img.jpg"></div>
              <div class="description">
                <div class="data">
                  <table>
                    <tbody>
                      <tr>
                        <td>Typ:</td>
                        <td>8146/1051-K0254</td>
                        <td>Order No.:</td>
                        <td>239942</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="copy">
                  <p>Produkt Ausführung / 4 Zeilen / max. 277 Zeichen<br>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliq
                    uyam erat, sed diam voluptua. scing elitr, sed diam nonumy eirmod</p>
                </div>
              </div>
            </div>
            <div class="right">
              <div class="table_details smaller">
                <table>
                  <tr>
                    <td>Bezeichnung 1</td>
                    <td>LED-Rohrleuchte</td>
                  </tr>
                  <tr>
                    <td>Typ</td>
                    <td>6036/1248-050-0180-11</td>
                  </tr>
                  <tr>
                    <td>Bestellnummer</td>
                    <td>224011</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="detail">
          <div class="top">
            <div class="checkbox_div">
              <input type="checkbox" name="product_5" id="product_5" value="1">
              <label for="product_5"></label>
            </div>
            <h3>Produkt Name Sehr Lang Lorem ipsum dolor sit amet, consetetur sadipscing elitrconsetetur sadipscing</h3>
          </div>
          <div class="bottom">
            <div class="left">
              <div class="images"><img src="/fileadmin/user_upload/gfx/product_accessories_img.jpg"></div>
              <div class="description">
                <div class="data">
                  <table>
                    <tbody>
                      <tr>
                        <td>Typ:</td>
                        <td>8146/1051-K0254</td>
                        <td>Order No.:</td>
                        <td>239942</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="copy">
                  <p>Produkt Ausführung / 4 Zeilen / max. 277 Zeichen<br>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliq
                    uyam erat, sed diam voluptua. scing elitr, sed diam nonumy eirmod</p>
                </div>
              </div>
            </div>
            <div class="right">
              <div class="table_details smaller">
                <table>
                  <tr>
                    <td>Bezeichnung 1</td>
                    <td>LED-Rohrleuchte</td>
                  </tr>
                  <tr>
                    <td>Typ</td>
                    <td>6036/1248-050-0180-11</td>
                  </tr>
                  <tr>
                    <td>Bestellnummer</td>
                    <td>224011</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="similar_products without_icon teaserboxen_vollbild_drei_raster_carousel module">
  <div class="content_modul">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7 headline-row">
        <h2>Systeme, die dieses Produkt enthalten Headline Lorem Ipsum</h2>
      </div>
      <div id="teaserboxen_vollbild_drei_raster_carousel" class="owl-carousel sameheight content-row">
        <div class="big"> <a href="/r-stahlen/produkte/">
          <div class="teaserboxen_vollbild_drei_raster_image  "> <img src="/fileadmin/user_upload/slider_1.jpg" width="570" height="204" alt=""> </div>
          <div class="teaserboxen_vollbild_drei_raster_content_big setheight blue">
            <h2> Lorem ipsum dolor sit amet, </h2>
            <p> Kompetenzen etc Lorem ipsum dolor sit amet, Shortcopy Angebot, Kompetenzen etc Lorem ipsum dolor sit amet, </p>
          </div>
          </a> </div>
        <div class="small"> <a href="/r-stahlen/produkte/">
          <div class="teaserboxen_vollbild_drei_raster_image "> <img src="/fileadmin/user_upload/slider_2.jpg" width="278" height="204" alt=""> </div>
          <div class="teaserboxen_vollbild_drei_raster_content setheight blue">
            <h3> Lorem ipsum dolor sit amet, </h3>
            <p> Kompetenzen etc Lorem ipsum dolor sit amet, Shortcopy Angebot, Kompetenzen etc Lorem ipsum dolor sit amet, </p>
          </div>
          </a> </div>
        <div class="small"> <a href="/r-stahlen/produkte/">
          <div class="teaserboxen_vollbild_drei_raster_image "> <img src="/fileadmin/user_upload/slider_2.jpg" width="278" height="204" alt=""> </div>
          <div class="teaserboxen_vollbild_drei_raster_content setheight blue">
            <h3> Lorem ipsum dolor sit amet, </h3>
            <p> Kompetenzen etc Lorem ipsum dolor sit amet, Shortcopy Angebot, Kompetenzen etc Lorem ipsum dolor sit amet, </p>
          </div>
          </a> </div>
        <div class="big"> <a href="/r-stahlen/produkte/">
          <div class="teaserboxen_vollbild_drei_raster_image  "> <img src="/fileadmin/user_upload/slider_1.jpg" width="570" height="204" alt=""> </div>
          <div class="teaserboxen_vollbild_drei_raster_content_big setheight blue">
            <h2> Lorem ipsum dolor sit amet, </h2>
            <p> Kompetenzen etc Lorem ipsum dolor sit amet, Shortcopy Angebot, Kompetenzen etc Lorem ipsum dolor sit amet, </p>
          </div>
          </a> </div>
      </div>
    </div>
  </div>
</div>
