<div class="breadcrumb module">
    <div class="content_modul">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7">
                <ul class="breadcrumb_ul">
                    <li><a href="#">Produkte & Lösungen</a></li>
                    <li><a href="#">Produkte</a></li>
                    <li><a href="#">Produktkategorie</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--product_headline_flyout_extended script and css
-->
<style>

</style>
<script>
</script>
<div class="product_headline_flyout_extended direct_flyout module">
    <div class="content_modul">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7 headline-row">
                <div class="fylout_icon"> </div>
                <div class="flyout_container">
                    <ul>
                        <li>Subkategorie Lorem ipsum dolor sit
                            <div class="flyout_container">
                                <ul>
                                    <li>Subkategorie Lorem ipsum dolor sit
                                        <div class="flyout_container">
                                            <ul>
                                                <li>Subkategorie Lorem ipsum dolor sit</li>
                                                <li>Subkategorie Lorem ipsum dolor sit</li>
                                                <li>Subkategorie Lorem ipsum dolor sit</li>
                                                <li>Subkategorie Lorem ipsum dolor sit</li>
                                                <li>Subkategorie Lorem ipsum dolor sit</li>
                                                <li>Subkategorie Lorem ipsum dolor sit</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>Subkategorie Lorem ipsum dolor sit</li>
                                    <li>Subkategorie Lorem ipsum dolor sit</li>
                                    <li>Subkategorie Lorem ipsum dolor sit</li>
                                    <li>Subkategorie Lorem ipsum dolor sit</li>
                                    <li>Subkategorie Lorem ipsum dolor sit</li>
                                </ul>
                            </div>
                        </li>
                        <li>Subkategorie Lorem ipsum dolor sit</li>
                        <li>Subkategorie Lorem ipsum dolor sit</li>
                        <li>Subkategorie Lorem ipsum dolor sit</li>
                        <li>Subkategorie Lorem ipsum dolor sit</li>
                        <li>Subkategorie Lorem ipsum dolor sit</li>
                    </ul>
                </div>
                <h2>Produktkategorie Headline Lorem Ipsum</h2>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7 content-row">
                <div class="product_hero_extended"> <img src="/fileadmin/user_upload/gfx/product_hero.jpg" />
                    <div class="thumbnails_left">
                        <a href="/fileadmin/user_upload/gfx/product_hero.jpg" class="html5lightbox"><img src="/fileadmin/user_upload/gfx/product_hero_extended_thumbnail.jpg" /></a>
                        <a href="/fileadmin/user_upload/gfx/product_hero.jpg" class="html5lightbox"><img src="/fileadmin/user_upload/gfx/product_hero_extended_thumbnail.jpg" /></a>
                        <a href="/fileadmin/user_upload/gfx/product_hero.jpg" class="html5lightbox"><img src="/fileadmin/user_upload/gfx/product_hero_extended_thumbnail.jpg" /></a>
                    </div>
                    <div class="info_bar">
                        <ul>
                            <li detail="detailinfos"><img src="/fileadmin/user_upload/gfx/icon_product_detail.png" width="36" height="8" /> <span>detailinfos</span></li>
                            <li detail="multimedia"><img src="/fileadmin/user_upload/gfx/icon_media.png" width="32" height="27" /> <span>video & multimedia</span></li>
                            <li detail="downloads"><img src="/fileadmin/user_upload/gfx/icon_download_white.png" width="27" height="33" /> <span>downloads</span></li>
                            <li detail="accessories"><img src="/fileadmin/user_upload/gfx/icon_accessories_white.png" width="30" height="30" /> <span>zubehör</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding content-row copy add_content detailinfos">
                <p>Copy lang: Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, <a href="">consetetur sadipscing</a> elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
                <ul>
                    <li> Webhighlight Bullet Lorem ipsum dolor sit amet, consetetur sadipscing elitr</li>
                    <li>Webhighlight Bullet Lorem ipsum dolor sit amet, consetetur sadipscing elitr</li>
                    <li>Webhighlight Bullet Lorem ipsum dolor sit amet, consetetur sadipscing elitr</li>
                    <li>Webhighlight Bullet Lorem ipsum dolor sit amet, consetetur sadipscing elitr</li>
                    <li>Webhighlight Bullet Lorem ipsum dolor sit amet, consetetur sadipscing elitr</li>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding content-row add_content multimedia">
                <a href="https://www.youtube.com/watch?v=gFhE29ir1Xs" class="html5lightbox">
                    <div class="padding-7 col-lg-4 col-md-4 col-sm-4 col-xs-12 video"><img src="/fileadmin/user_upload/gfx/product_hero.jpg" /></div>
                </a>
                <a class="html5lightbox" href="https://www.youtube.com/watch?v=gFhE29ir1Xs">
                    <div class="padding-7 col-lg-4 col-md-4 col-sm-4 col-xs-12 video"><img src="/fileadmin/user_upload/gfx/product_hero.jpg" /> </div>
                </a>
                <a href="https://www.youtube.com/watch?v=gFhE29ir1Xs" class="html5lightbox">
                    <div class="padding-7 col-lg-4 col-md-4 col-sm-4 col-xs-12 video"><img src="/fileadmin/user_upload/gfx/product_hero.jpg" /></div>
                </a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding content-row add_content downloads">
                <div class="product_download module">
                    <div class="content_modul">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7 content-row">
                                <ul>
                                    <li id="datenblaetter" class="active">Datenblätter</li>
                                    <li id="zertifikate" class="">Zertifikate</li>
                                    <li id="bedienungsanleitungen" class="">Bedienungsanleitungen</li>
                                    <li id="ausschreibungstexte" class="">Ausschreibungstexte</li>
                                    <li id="3ddaten">3D Daten</li>
                                    <li class="tab_slider" style="width: 121px; left: 0px;"></li>
                                </ul>
                                <div class="product_download-line-slide"></div>
                                <div class="details_container">
                                    <div id="datenblaetter_detail" class="detail" style="display: block;">
                                        <table class="donwloadtable">
                                            <thead>
                                                <tr>
                                                    <th>Gerät (optional)</th>
                                                    <th>Sprache / Länderversion</th>
                                                    <th>Dokumentversion</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td rowspan="1">Lorem ipsum dolor</td>
                                                    <td rowspan="1"><img src="/fileadmin/user_upload/gfx/flag_england.jpg"> English / UK</td>
                                                    <td rowspan="1">V 1.1 - DD.MM.YYYY</td>
                                                    <td><a class="button blue" href="/r-stahlen/produkte/"><span>PDF (2,7 MB)</span></a></td>
                                                </tr>
                                                <tr>
                                                    <td>Lorem ipsum dolor</td>
                                                    <td><img src="/fileadmin/user_upload/gfx/flag_germany.jpg">German / Germany</td>
                                                    <td>V 1.1 - DD.MM.YYYY</td>
                                                    <td><a class="button blue" href="/r-stahlen/produkte/"><span>PDF (2,7 MB)</span></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="zertifikate_detail" class="detail" style="display: none;">
                                        <table class="donwloadtable">
                                            <thead>
                                                <tr>
                                                    <th>Gerät (optional)</th>
                                                    <th>Sprache / Länderversion</th>
                                                    <th>Dokumentversion</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td rowspan="1">Lorem ipsum dolor</td>
                                                    <td rowspan="1"><img src="/fileadmin/user_upload/gfx/flag_england.jpg"> English / UK</td>
                                                    <td rowspan="1">V 1.1 - DD.MM.YYYY</td>
                                                    <td><a class="button blue" href="/r-stahlen/produkte/"><span>PDF (2,7 MB)</span></a></td>
                                                </tr>
                                                <tr>
                                                    <td>Lorem ipsum dolor</td>
                                                    <td><img src="/fileadmin/user_upload/gfx/flag_germany.jpg">German / Germany</td>
                                                    <td>V 1.1 - DD.MM.YYYY</td>
                                                    <td><a class="button blue" href="/r-stahlen/produkte/"><span>PDF (2,7 MB)</span></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="bedienungsanleitungen_detail" class="detail" style="display: none;">
                                        <table class="donwloadtable">
                                            <thead>
                                                <tr>
                                                    <th>Gerät (optional)</th>
                                                    <th>Sprache / Länderversion</th>
                                                    <th>Dokumentversion</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td rowspan="1">Lorem ipsum dolor</td>
                                                    <td rowspan="1"><img src="/fileadmin/user_upload/gfx/flag_england.jpg"> English / UK </td>
                                                    <td rowspan="1">V 1.1 - DD.MM.YYYY</td>
                                                    <td><a class="button blue" href="/r-stahlen/produkte/"><span>PDF (2,7 MB)</span></a></td>
                                                </tr>
                                                <tr>
                                                    <td>Lorem ipsum dolor</td>

                                                    <td><img src="/fileadmin/user_upload/gfx/flag_germany.jpg">German / Germany</td>
                                                    <td>V 1.1 - DD.MM.YYYY</td>
                                                    <td><a class="button blue" href="/r-stahlen/produkte/"><span>PDF (2,7 MB)</span></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding content-row copy">
                <p>Copy lang: Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, <a href="">consetetur sadipscing</a> elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
            </div>
        </div>
    </div>
</div>
<div class="product_teaser_row bilder_accordion module">
    <div class="content_modul">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small nopadding_5 teaser">
                <div class="teaserboxen_normal_drei_raster_image"> <img class="img-responsive" src="/fileadmin/user_upload/artikel_4.jpg" width="278" height="204" alt=""> </div>
                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                    <h3> Headline </h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small nopadding_5 teaser">
                <div class="teaserboxen_normal_drei_raster_image"> <img class="img-responsive" src="/fileadmin/user_upload/artikel_4.jpg" width="278" height="204" alt=""> </div>
                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                    <h3> Headline </h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small nopadding_5 teaser">
                <div class="teaserboxen_normal_drei_raster_image"> <img class="img-responsive" src="/fileadmin/user_upload/artikel_4.jpg" width="278" height="204" alt=""> </div>
                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                    <h3> Headline </h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small nopadding_5 teaser">
                <div class="teaserboxen_normal_drei_raster_image"> <img class="img-responsive" src="/fileadmin/user_upload/artikel_4.jpg" width="278" height="204" alt=""> </div>
                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                    <h3> Headline </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="similar_products without_icon teaserboxen_vollbild_drei_raster_carousel module">
    <div class="content_modul">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7 headline-row">
                <h2>Systeme, die dieses Produkt enthalten Headline Lorem Ipsum</h2>
            </div>
            <div id="teaserboxen_vollbild_drei_raster_carousel" class="owl-carousel sameheight content-row">
                <div class="big">
                    <a href="/r-stahlen/produkte/">
                        <div class="teaserboxen_vollbild_drei_raster_image  "> <img src="/fileadmin/user_upload/slider_1.jpg" width="570" height="204" alt=""> </div>
                        <div class="teaserboxen_vollbild_drei_raster_content_big setheight blue">
                            <h2> Lorem ipsum dolor sit amet, </h2>
                            <p> Kompetenzen etc Lorem ipsum dolor sit amet, Shortcopy Angebot, Kompetenzen etc Lorem ipsum dolor sit amet, </p>
                        </div>
                    </a>
                </div>
                <div class="small">
                    <a href="/r-stahlen/produkte/">
                        <div class="teaserboxen_vollbild_drei_raster_image "> <img src="/fileadmin/user_upload/slider_2.jpg" width="278" height="204" alt=""> </div>
                        <div class="teaserboxen_vollbild_drei_raster_content setheight blue">
                            <h3> Lorem ipsum dolor sit amet, </h3>
                            <p> Kompetenzen etc Lorem ipsum dolor sit amet, Shortcopy Angebot, Kompetenzen etc Lorem ipsum dolor sit amet, </p>
                        </div>
                    </a>
                </div>
                <div class="small">
                    <a href="/r-stahlen/produkte/">
                        <div class="teaserboxen_vollbild_drei_raster_image "> <img src="/fileadmin/user_upload/slider_2.jpg" width="278" height="204" alt=""> </div>
                        <div class="teaserboxen_vollbild_drei_raster_content setheight blue">
                            <h3> Lorem ipsum dolor sit amet, </h3>
                            <p> Kompetenzen etc Lorem ipsum dolor sit amet, Shortcopy Angebot, Kompetenzen etc Lorem ipsum dolor sit amet, </p>
                        </div>
                    </a>
                </div>
                <div class="big">
                    <a href="/r-stahlen/produkte/">
                        <div class="teaserboxen_vollbild_drei_raster_image  "> <img src="/fileadmin/user_upload/slider_1.jpg" width="570" height="204" alt=""> </div>
                        <div class="teaserboxen_vollbild_drei_raster_content_big setheight blue">
                            <h2> Lorem ipsum dolor sit amet, </h2>
                            <p> Kompetenzen etc Lorem ipsum dolor sit amet, Shortcopy Angebot, Kompetenzen etc Lorem ipsum dolor sit amet, </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>