<div class="module">
  <div class="content_modul">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7"> <a href="#" class="button slide_button" detail_id="text_1"><span>mehr zeigen</span></a>
        <p id="text_1" class="slide_p">Produkt Ausführung Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. scing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam.</p>
      </div>
    </div>
  </div>
</div>
<div class="breadcrumb module">
  <div class="content_modul">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7">
        <ul class="breadcrumb_ul">
          <li><a href="#">Produkte & Lösungen</a></li>
          <li><a href="#">Produkte</a></li>
          <li><a href="#">Produktkategorie</a></li>
          <li><a href="#">Produktgruppe</a></li>
          <li><a href="#">Produktserie</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="product_detail module">
  <div class="content_modul">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 description padding-7">
        <h3>Rohrleuchte mit LED Reihe 6036 zweizeilig Lorem Ipsum Dolor</h3>
        <h3 class="grey">Reihe 6036</h3>
        <div class="icons_area">
          <div class="icon">
            <div class="img"><img src="/fileadmin/user_upload/gfx/icon_detail_1.png" /> </div>
            <div class="hover">Tool-Tipp: Lorem ispum</div>
          </div>
          <div class="icon">
            <div class="img"><img src="/fileadmin/user_upload/gfx/icon_detail_2.png" /></div>
            <div class="hover">Tool-Tipp: Lorem ispum</div>
          </div>
          <div class="icon">
            <div class="img"><img src="/fileadmin/user_upload/gfx/icon_detail_3.png" /></div>
            <div class="hover">Tool-Tipp: Lorem ispum</div>
          </div>
        </div>
        <div class="highlights">
          <ul>
            <li>Äußerst robustes Leuchtendesign für harsche 
              Umgebungsbedingungen</li>
            <li>Sehr leichte und vibrationsfeste LED-Leuchte</li>
            <li>Extrem lange Lebensdauer durch Einsatz von LEDs</li>
            <li>Hochleistungs-LEDs im innovativen Design</li>
            <li>Geringer Einschaltstrom</li>
          </ul>
        </div>
        <div class="table_details">
          <table>
            <tr>
              <td>Bezeichnung 1</td>
              <td>LED-Rohrleuchte</td>
            </tr>
            <tr>
              <td>Typ</td>
              <td>6036/1248-050-0180-11</td>
            </tr>
            <tr>
              <td>Bestellnummer</td>
              <td>224011</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 product-media padding-7">
        <div id="product-images-carousel" class="owl-carousel nav-blue carousel_gallerie product_carousels">
          <div class="item"><img src="/fileadmin/user_upload/gfx/product_img.jpg" /><a href="/fileadmin/user_upload/gfx/product_img.jpg" class="html5lightbox" data-width="1140" data-height="800"></a></div>
          <div class="item"><img src="/fileadmin/user_upload/gfx/product_img.jpg" /><a href="/fileadmin/user_upload/gfx/product_img.jpg" class="html5lightbox" data-width="1140" data-height="800"></a></div>
          <div class="item"><img src="/fileadmin/user_upload/gfx/product_img.jpg" /><a href="/fileadmin/user_upload/gfx/product_img.jpg" class="html5lightbox" data-width="1140" data-height="800"></a></div>
        </div>
        <div id="product-videos-carousel" class="owl-carousel nav-blue carousel_videos product_carousels">
          <div class="item"><img src="/fileadmin/user_upload/gfx/product_img.jpg" /><a href="https://www.youtube.com/watch?v=gFhE29ir1Xs" class="html5lightbox" data-width="1140" data-height="800"></a></div>
          <div class="item"><img src="/fileadmin/user_upload/gfx/product_img.jpg" /><a href="https://www.youtube.com/watch?v=gFhE29ir1Xs" class="html5lightbox" data-width="1140" data-height="800"></a></div>
          <div class="item"><img src="/fileadmin/user_upload/gfx/product_img.jpg" /><a href="https://www.youtube.com/watch?v=gFhE29ir1Xs" class="html5lightbox" data-width="1140" data-height="800"></a></div>
        </div>
        <div id="product-3d-carousel" class="owl-carousel nav-blue carousel_3d product_carousels">
          <div class="item"><img src="/fileadmin/user_upload/gfx/product_img_3d.jpg" /><a href="/fileadmin/user_upload/gfx/product_img_3d.jpg" class="html5lightbox" data-width="1140" data-height="800"></a></div>
          <div class="item"><img src="/fileadmin/user_upload/gfx/product_img_3d.jpg" /><a href="/fileadmin/user_upload/gfx/product_img_3d.jpg" class="html5lightbox" data-width="1140" data-height="800"></a></div>
          <div class="item"><img src="/fileadmin/user_upload/gfx/product_img_3d.jpg" /><a href="/fileadmin/user_upload/gfx/product_img_3d.jpg" class="html5lightbox" data-width="1140" data-height="800"></a></div>
        </div>
        <div id="product-dimensions-carousel" class="owl-carousel nav-blue carousel_dimensions product_carousels">
          <div class="item"><img src="/fileadmin/user_upload/gfx/product_img_dimensionen.jpg" /><a href="/fileadmin/user_upload/gfx/product_img_dimensionen.jpg" class="html5lightbox" data-width="1140" data-height="800"></a></div>
          <div class="item"><img src="/fileadmin/user_upload/gfx/product_img_dimensionen.jpg" /><a href="/fileadmin/user_upload/gfx/product_img_dimensionen.jpg" class="html5lightbox" data-width="1140" data-height="800"></a></div>
          <div class="item"><img src="/fileadmin/user_upload/gfx/product_img_dimensionen.jpg" /><a href="/fileadmin/user_upload/gfx/product_img_dimensionen.jpg" class="html5lightbox" data-width="1140" data-height="800"></a></div>
        </div>
        <div class="images"> <a href="#">
          <div class="gallerie active" carousel="product-images-carousel"><img src="/fileadmin/user_upload/gfx/product_img_small.jpg"/>
            <div class="title">Gallerie</div>
          </div>
          </a> <a href="#">
          <div class="video"  carousel="product-videos-carousel"><img src="/fileadmin/user_upload/gfx/product_img_small.jpg"/>
            <div class="title">Videos</div>
          </div>
          </a> <a href="#">
          <div class="3d" carousel="product-3d-carousel"><img src="/fileadmin/user_upload/gfx/product_img_small.jpg"/>
            <div class="title">3D Ansicht</div>
          </div>
          </a> <a href="#">
          <div class="dimensionen" carousel="product-dimensions-carousel"><img src="/fileadmin/user_upload/gfx/product_img_small.jpg"/>
            <div class="title">Dimensionen</div>
          </div>
          </a> </div>
        <a class="button blue" href="/r-stahlen/produkte/"><span>Broschüre anfordern</span></a> </div>
    </div>
  </div>
</div>
<div class="product_tech_specs panel-group volle_breite module" id="accordion3" role="tablist" aria-multiselectable="true">
  <div class="content_modul">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7 headline-row">
        <h2>technische daten</h2>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding content-row">
        <div class="panel panel-default padding-7">
          <div class="panel-heading" child="accordion3-0">
            <h4 class="panel-title"> prüfbescheinugungen </h4>
          </div>
          <div id="accordion3-0" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Zertifikate / Zulassungen</p>
              <table class="contenttable">
                <thead>
                  <tr>
                    <th>Typ</th>
                    <th>Beschleunings-Nummer</th>
                    <th>Dokumentenart<span class="Apple-tab-span"> </span></th>
                    <th>Sprache</th>
                    <th>Prüfstelle</th>
                    <th>Geltungsbereich</th>
                    <th>XXX</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td rowspan="1">8146/1</td>
                    <td rowspan="1">535482352</td>
                    <td rowspan="1">Zertifikate&nbsp;</td>
                    <td rowspan="1"></td>
                    <td rowspan="1">CSA</td>
                    <td rowspan="1">Europäische Union (ATEX)</td>
                    <td rowspan="1"></td>
                    <td rowspan="1"></td>
                  </tr>
                  <tr>
                    <td>8146/1</td>
                    <td>68762&nbsp;</td>
                    <td>Zertifikate&nbsp;</td>
                    <td></td>
                    <td>GL</td>
                    <td>Kanada</td>
                    <td><em><br>
                      </em></td>
                    <td><em><a href="/fileadmin/user_upload/artikel_9.jpg" title="jpg">13mb</a></em></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="panel panel-default padding-7">
          <div class="panel-heading" child="accordion3-1">
            <h4 class="panel-title"> elektrische daten </h4>
          </div>
          <div id="accordion3-1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Zertifikate / Zulassungen</p>
              <div class="table_details">
                <table>
                  <tbody>
                    <tr>
                      <td>Bezeichnung 1</td>
                      <td>LED-Rohrleuchte</td>
                    </tr>
                    <tr>
                      <td>Typ</td>
                      <td>6036/1248-050-0180-11</td>
                    </tr>
                    <tr>
                      <td>Bestellnummer</td>
                      <td>224011</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="product_download module background">
  <div class="content_modul">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7 headline-row">
        <h2>downloads</h2>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding content-row">
        <ul>
          <li id="datenblaetter" class="active">Datenblätter</li>
          <li id="zertifikate" class="">Zertifikate</li>
          <li id="bedienungsanleitungen" class="">Bedienungsanleitungen</li>
          <li id="ausschreibungstexte" class="">Ausschreibungstexte</li>
          <li id="3ddaten">3D Daten</li>
          <li class="tab_slider" style="width: 89px; left: 0px;"></li>
        </ul>
        <div class="product_download-line-slide"></div>
        <div class="details_container">
          <div id="datenblaetter_detail" class="detail">
            <table class="donwloadtable">
              <thead>
                <tr>
                  <th>Gerät (optional)</th>
                  <th>Sprache / Länderversion</th>
                  <th>Dokumentversion</span></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td rowspan="1">Lorem ipsum dolor</td>
                  <td rowspan="1"><img src="/fileadmin/user_upload/gfx/flag_england.jpg" /> English / UK</td>
                  <td rowspan="1">V 1.1 - DD.MM.YYYY</td>
                  <td><a class="button blue" href="/r-stahlen/produkte/"><span>PDF (2,7 MB)</span></a></td>
                </tr>
                <tr>
                  <td>Lorem ipsum dolor</td>
                  <td><img src="/fileadmin/user_upload/gfx/flag_germany.jpg" />German / Germany</td>
                  <td>V 1.1 - DD.MM.YYYY</td>
                  <td><a class="button blue" href="/r-stahlen/produkte/"><span>PDF (2,7 MB)</span></a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="zertifikate_detail" class="detail">
            <table class="donwloadtable">
              <thead>
                <tr>
                  <th>Gerät (optional)</th>
                  <th>Sprache / Länderversion</th>
                  <th>Dokumentversion</span></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td rowspan="1">Lorem ipsum dolor</td>
                  <td rowspan="1"><img src="/fileadmin/user_upload/gfx/flag_england.jpg" /> English / UK</td>
                  <td rowspan="1">V 1.1 - DD.MM.YYYY</td>
                  <td><a class="button blue" href="/r-stahlen/produkte/"><span>PDF (2,7 MB)</span></a></td>
                </tr>
                <tr>
                  <td>Lorem ipsum dolor</td>
                  <td><img src="/fileadmin/user_upload/gfx/flag_germany.jpg" />German / Germany</td>
                  <td>V 1.1 - DD.MM.YYYY</td>
                  <td><a class="button blue" href="/r-stahlen/produkte/"><span>PDF (2,7 MB)</span></a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="bedienungsanleitungen_detail" class="detail">
            <table class="donwloadtable">
              <thead>
                <tr>
                  <th>Gerät (optional)</th>
                  <th>Sprache / Länderversion</th>
                  <th>Dokumentversion</span></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td rowspan="1">Lorem ipsum dolor</td>
                  <td rowspan="1"><img src="/fileadmin/user_upload/gfx/flag_england.jpg" /> English / UK </td>
                  <td rowspan="1">V 1.1 - DD.MM.YYYY</td>
                  <td><a class="button blue" href="/r-stahlen/produkte/"><span>PDF (2,7 MB)</span></a></td>
                </tr>
                <tr>
                  <td>Lorem ipsum dolor</td>
                  <td><img src="/fileadmin/user_upload/gfx/flag_germany.jpg" />German / Germany</td>
                  <td>V 1.1 - DD.MM.YYYY</td>
                  <td><a class="button blue" href="/r-stahlen/produkte/"><span>PDF (2,7 MB)</span></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="product_accessories module background">
  <div class="content_modul">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7 headline-row">
        <h2>zubehör</h2>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding content-row">
        <ul>
          <li id="notwendig" class="active">Notwendig</li>
          <li id="passend" class="">Passend</li>
          <li class="tab_slider"></li>
        </ul>
        <div class="product_accessories-line-slide"></div>
        <div class="details_container">
          <div class="detail" category="notwendig">
            <div class="images"><img src="/fileadmin/user_upload/gfx/product_accessories_img.jpg" /></div>
            <div class="description">
              <h3>Produkt Name Sehr Lang Lorem ipsum dolor sit amet, consetetur sadipscing elitrconsetetur sadipscing</h3>
              <div class="data">
                <table>
                  <tr>
                    <td>Typ</td>
                    <td>8146/1051-K0254</td>
                  </tr>
                  <tr>
                    <td>Order No.</td>
                    <td>239942</td>
                  </tr>
                </table>
              </div>
              <div class="copy">
                <p>Produkt Ausführung Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. scing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam.</p>
              </div>
            </div>
          </div>
          <div class="detail" category="notwendig">
            <div class="images"><img src="/fileadmin/user_upload/gfx/product_accessories_img.jpg" /></div>
            <div class="description">
              <h3>Produkt Name Sehr Lang Lorem ipsum dolor sit amet, consetetur sadipscing elitrconsetetur sadipscing</h3>
              <div class="data">
                <table>
                  <tr>
                    <td>Typ</td>
                    <td>8146/1051-K0254</td>
                  </tr>
                  <tr>
                    <td>Order No.</td>
                    <td>239942</td>
                  </tr>
                </table>
              </div>
              <div class="copy">
                <p>Produkt Ausführung Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. scing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam.</p>
              </div>
            </div>
          </div>
          <div class="detail" category="notwendig">
            <div class="images"><img src="/fileadmin/user_upload/gfx/product_accessories_img.jpg" /></div>
            <div class="description">
              <h3>Produkt Name Sehr Lang Lorem ipsum dolor sit amet, consetetur sadipscing elitrconsetetur sadipscing</h3>
              <div class="data">
                <table>
                  <tr>
                    <td>Typ</td>
                    <td>8146/1051-K0254</td>
                  </tr>
                  <tr>
                    <td>Order No.</td>
                    <td>239942</td>
                  </tr>
                </table>
              </div>
              <div class="copy">
                <p>Produkt Ausführung Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. scing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam.</p>
              </div>
            </div>
          </div>
          <div class="detail" category="notwendig">
            <div class="images"><img src="/fileadmin/user_upload/gfx/product_accessories_img.jpg" /></div>
            <div class="description">
              <h3>Produkt Name Sehr Lang Lorem ipsum dolor sit amet, consetetur sadipscing elitrconsetetur sadipscing</h3>
              <div class="data">
                <table>
                  <tr>
                    <td>Typ</td>
                    <td>8146/1051-K0254</td>
                  </tr>
                  <tr>
                    <td>Order No.</td>
                    <td>239942</td>
                  </tr>
                </table>
              </div>
              <div class="copy">
                <p>Produkt Ausführung Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. scing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam.</p>
              </div>
            </div>
          </div>
          <div class="detail" category="notwendig">
            <div class="images"><img src="/fileadmin/user_upload/gfx/product_accessories_img.jpg" /></div>
            <div class="description">
              <h3>Produkt Name Sehr Lang Lorem ipsum dolor sit amet, consetetur sadipscing elitrconsetetur sadipscing</h3>
              <div class="data">
                <table>
                  <tr>
                    <td>Typ</td>
                    <td>8146/1051-K0254</td>
                  </tr>
                  <tr>
                    <td>Order No.</td>
                    <td>239942</td>
                  </tr>
                </table>
              </div>
              <div class="copy">
                <p>Produkt Ausführung Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. scing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam.</p>
              </div>
            </div>
          </div>
          <div class="detail" category="passend">
            <div class="images"><img src="/fileadmin/user_upload/gfx/product_accessories_img.jpg" /></div>
            <div class="description">
              <h3>Produkt Name Sehr Lang Lorem ipsum dolor sit amet, consetetur sadipscing elitrconsetetur sadipscing</h3>
              <div class="data">
                <table>
                  <tr>
                    <td>Typ</td>
                    <td>8146/1051-K0254</td>
                  </tr>
                  <tr>
                    <td>Order No.</td>
                    <td>239942</td>
                  </tr>
                </table>
              </div>
              <div class="copy">
                <p>Produkt Ausführung Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. scing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam.</p>
              </div>
            </div>
          </div>
          <div class="detail" category="passend">
            <div class="images"><img src="/fileadmin/user_upload/gfx/product_accessories_img.jpg" /></div>
            <div class="description">
              <h3>Produkt Name Sehr Lang Lorem ipsum dolor sit amet, consetetur sadipscing elitrconsetetur sadipscing</h3>
              <div class="data">
                <table>
                  <tr>
                    <td>Typ</td>
                    <td>8146/1051-K0254</td>
                  </tr>
                  <tr>
                    <td>Order No.</td>
                    <td>239942</td>
                  </tr>
                </table>
              </div>
              <div class="copy">
                <p>Produkt Ausführung Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. scing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="center"><a href="#" class="button"><span>mehr produkte laden</span></a></div>
      </div>
    </div>
  </div>
</div>
<div class="similar_products teaserboxen_vollbild_drei_raster_carousel module">
  <div class="content_modul">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7 headline-row">
        <h2>ähnliche produkte</h2>
      </div>
      <div id="teaserboxen_vollbild_drei_raster_carousel" class="owl-carousel sameheight content-row">
        <div class="big"> <a href="/r-stahlen/produkte/">
          <div class="teaserboxen_vollbild_drei_raster_image  "> <img src="/fileadmin/user_upload/slider_1.jpg" width="570" height="204" alt=""> </div>
          <div class="teaserboxen_vollbild_drei_raster_content_big setheight blue">
            <h2> Lorem ipsum dolor sit amet, </h2>
            <p> Kompetenzen etc Lorem ipsum dolor sit amet, Shortcopy Angebot, Kompetenzen etc Lorem ipsum dolor sit amet, </p>
          </div>
          </a> </div>
        <div class="small"> <a href="/r-stahlen/produkte/">
          <div class="teaserboxen_vollbild_drei_raster_image "> <img src="/fileadmin/user_upload/slider_2.jpg" width="278" height="204" alt=""> </div>
          <div class="teaserboxen_vollbild_drei_raster_content setheight blue">
            <h3> Lorem ipsum dolor sit amet, </h3>
            <p> Kompetenzen etc Lorem ipsum dolor sit amet, Shortcopy Angebot, Kompetenzen etc Lorem ipsum dolor sit amet, </p>
          </div>
          </a> </div>
        <div class="small"> <a href="/r-stahlen/produkte/">
          <div class="teaserboxen_vollbild_drei_raster_image "> <img src="/fileadmin/user_upload/slider_2.jpg" width="278" height="204" alt=""> </div>
          <div class="teaserboxen_vollbild_drei_raster_content setheight blue">
            <h3> Lorem ipsum dolor sit amet, </h3>
            <p> Kompetenzen etc Lorem ipsum dolor sit amet, Shortcopy Angebot, Kompetenzen etc Lorem ipsum dolor sit amet, </p>
          </div>
          </a> </div>
        <div class="big"> <a href="/r-stahlen/produkte/">
          <div class="teaserboxen_vollbild_drei_raster_image  "> <img src="/fileadmin/user_upload/slider_1.jpg" width="570" height="204" alt=""> </div>
          <div class="teaserboxen_vollbild_drei_raster_content_big setheight blue">
            <h2> Lorem ipsum dolor sit amet, </h2>
            <p> Kompetenzen etc Lorem ipsum dolor sit amet, Shortcopy Angebot, Kompetenzen etc Lorem ipsum dolor sit amet, </p>
          </div>
          </a> </div>
      </div>
    </div>
  </div>
</div>
<div class="product_detail_teaser teaserbox_volle_breite_te_06 module background">
  <div class="content_modul">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7 headline-row">
        <h2>systeme von R. stahl:<br>
          Lighting Solution </h2>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7 content-row">
        <div class="teaserbox_volle_breite_te_06_image"> <img class="img-responsive" src="/fileadmin/user_upload/gfx/product_detail_teaser_dummy.jpg" width="1140" height="408" alt="">
          <div class="teaserbox_volle_breite_te_06_content">
            <h2>H2: headline <br>
              max. 3 zeilen<br>
              max. 88 zeichen</h2>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetuer&nbsp;</li>
              <li>Lorem ipsum dolor sit amet, consectetuer&nbsp;</li>
              <li>Lorem ipsum dolor sit amet, consectetuer&nbsp;</li>
            </ul>
          </div>
          <a class="button" href="/r-stahlen/intern-freigabe/teaser/"><span>Call to Action Button</span></a> </div>
      </div>
    </div>
  </div>
</div>
