<div class="page_items">
<f:if condition="{data.tx_mask_page_navigation}">
	<f:for each="{data.tx_mask_page_navigation}" as="data_item">	
		<f:if condition="{data_item.tx_mask_previous_item}">
			<div class="previous_item">
				<f:for each="{data_item.tx_mask_previous_item}" as="data_item_item">
					<f:if condition="{data_item_item.tx_mask_item_link}">
						<f:link.page pageUid="{data_item_item.tx_mask_item_link}">{data_item_item.tx_mask_item_name}</f:link.page>
					</f:if>
				</f:for>
			</div>
		</f:if>
		<f:if condition="{data_item.tx_mask_next_item}">
			<div class="next_item">
				<f:for each="{data_item.tx_mask_next_item}" as="data_item_item">
					<f:if condition="{data_item_item.tx_mask_item_link}">
						<f:link.page pageUid="{data_item_item.tx_mask_item_link}">{data_item_item.tx_mask_item_name}</f:link.page>
					</f:if>
				</f:for>
			</div>
		</f:if>
		<div class="anker_item"></div>
		<f:if condition="{data_item.tx_mask_all_item}">
			<div class="all_item">
				<f:for each="{data_item.tx_mask_all_item}" as="data_item_item">
					<f:if condition="{data_item_item.tx_mask_item_link}">
						<f:link.page pageUid="{data_item_item.tx_mask_item_link}">{data_item_item.tx_mask_item_name}</f:link.page><br />
					</f:if>
				</f:for>
			</div>
		</f:if>
	</f:for>
</f:if>
</div>