<style>

    @media all and (min-width: 767px) {
        .module .cat_wrapper .headline-row.second_nesting h3 {
            margin-top: 70px;
            margin-bottom: 24px;
        }
        .module .cat_wrapper > .headline-row + .row div[class*="col-"]:first-child .second_nesting h3 {
            margin-top: 40px;
        }
        /*.module.product_cat a.teaserboxen_normal_drei_raster_image_content .teaserboxen_normal_drei_raster_image_content {
            width: 100% !important;
        }
        .module.product_cat a.teaserboxen_normal_drei_raster_image_content .teaserboxen_normal_drei_raster_image_content h3 {
            width: auto;
        }*/
    }
    @media all and (max-width: 991px) {
        .module .cat_wrapper .headline-row.second_nesting h3 {
            font-size: 36px !important;
            line-height: 41px !important;
        }
    }
    @media all and (max-width: 767px) {
        .module .cat_wrapper .headline-row.second_nesting h3 {
            font-size: 22px !important;
            line-height: 23px !important;
        }
    }

</style>
<div class="product_headline_flyout_extended direct_flyout module gutter-8">
    <div class="content-container">
        <div class="row">
            <div class="col-xs-12 headline-row ">
                <h1 class="short_h2">Die R. STAHL Produkte</h1>
            </div>
        </div>
    </div>
</div>
<div class="filter_module product_cat module gutter-8">
    <div class="content-container">
        <div class="cat_wrapper">
            <div class="headline-row">
                <a href="#" title="Title Name"><h2>aBeleuchten</h2></a>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="headline-row second_nesting">
                        <a href="#" title="Title Name"><h3>Langfeldleuchten</h3></a>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small teaser">
                            <a class="cat-item" href="#">
                                <div class="teaserboxen_normal_drei_raster_image">
                                    <img class="img-responsive" src="http://stahl-cms.dev.havasww-digital.de/fileadmin/tx_aimeos/WEB_HighRes/92/84/19284/ex-kabelundleitungseinfuehrungen-aderleitungsdurchfuehrung-exd-rstahl.jpg" width="278" height="204" alt="">
                                </div>
                                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                                    <h3>Produkte</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small teaser">
                            <a class="cat-item" href="#">
                                <div class="teaserboxen_normal_drei_raster_image">
                                    <img class="img-responsive" src="http://stahl-cms.dev.havasww-digital.de/fileadmin/tx_aimeos/WEB_HighRes/92/84/19284/ex-kabelundleitungseinfuehrungen-aderleitungsdurchfuehrung-exd-rstahl.jpg" width="278" height="204" alt="">
                                </div>
                                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                                    <h3>Produkte ProdukteProdukte</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small teaser">
                            <a class="cat-item" href="#">
                                <div class="teaserboxen_normal_drei_raster_image">
                                    <img class="img-responsive" src="http://stahl-cms.dev.havasww-digital.de/fileadmin/tx_aimeos/WEB_HighRes/92/84/19284/ex-kabelundleitungseinfuehrungen-aderleitungsdurchfuehrung-exd-rstahl.jpg" width="278" height="204" alt="">
                                </div>
                                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                                    <h3>Produkte</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small teaser">
                            <a class="cat-item" href="#">
                                <div class="teaserboxen_normal_drei_raster_image">
                                    <img class="img-responsive" src="http://stahl-cms.dev.havasww-digital.de/fileadmin/tx_aimeos/WEB_HighRes/92/84/19284/ex-kabelundleitungseinfuehrungen-aderleitungsdurchfuehrung-exd-rstahl.jpg" width="278" height="204" alt="">
                                </div>
                                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                                    <h3>Produkte</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small teaser">
                            <a class="cat-item" href="#">
                                <div class="teaserboxen_normal_drei_raster_image">
                                    <img class="img-responsive" src="http://stahl-cms.dev.havasww-digital.de/fileadmin/tx_aimeos/WEB_HighRes/92/84/19284/ex-kabelundleitungseinfuehrungen-aderleitungsdurchfuehrung-exd-rstahl.jpg" width="278" height="204" alt="">
                                </div>
                                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                                    <h3>Produkte</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small teaser">
                            <a class="cat-item" href="#">
                                <div class="teaserboxen_normal_drei_raster_image">
                                    <img class="img-responsive" src="http://stahl-cms.dev.havasww-digital.de/fileadmin/tx_aimeos/WEB_HighRes/92/84/19284/ex-kabelundleitungseinfuehrungen-aderleitungsdurchfuehrung-exd-rstahl.jpg" width="278" height="204" alt="">
                                </div>
                                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                                    <h3>Produkte ProdukteProdukte</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small teaser">
                            <a class="cat-item" href="#">
                                <div class="teaserboxen_normal_drei_raster_image">
                                    <img class="img-responsive" src="http://stahl-cms.dev.havasww-digital.de/fileadmin/tx_aimeos/WEB_HighRes/92/84/19284/ex-kabelundleitungseinfuehrungen-aderleitungsdurchfuehrung-exd-rstahl.jpg" width="278" height="204" alt="">
                                </div>
                                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                                    <h3>Produkte</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small teaser">
                            <a class="cat-item" href="#">
                                <div class="teaserboxen_normal_drei_raster_image">
                                    <img class="img-responsive" src="http://stahl-cms.dev.havasww-digital.de/fileadmin/tx_aimeos/WEB_HighRes/92/84/19284/ex-kabelundleitungseinfuehrungen-aderleitungsdurchfuehrung-exd-rstahl.jpg" width="278" height="204" alt="">
                                </div>
                                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                                    <h3>Produkte</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="headline-row second_nesting">
                        <a href="#" title="Title Name"><h3>Rohrleuchten</h3></a>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small teaser">
                            <a class="cat-item" href="#">
                                <div class="teaserboxen_normal_drei_raster_image">
                                    <img class="img-responsive" src="http://stahl-cms.dev.havasww-digital.de/fileadmin/tx_aimeos/WEB_HighRes/92/84/19284/ex-kabelundleitungseinfuehrungen-aderleitungsdurchfuehrung-exd-rstahl.jpg" width="278" height="204" alt="">
                                </div>
                                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                                    <h3>Produkte</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small teaser">
                            <a class="cat-item" href="#">
                                <div class="teaserboxen_normal_drei_raster_image">
                                    <img class="img-responsive" src="http://stahl-cms.dev.havasww-digital.de/fileadmin/tx_aimeos/WEB_HighRes/92/84/19284/ex-kabelundleitungseinfuehrungen-aderleitungsdurchfuehrung-exd-rstahl.jpg" width="278" height="204" alt="">
                                </div>
                                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                                    <h3>Produkte ProdukteProdukte</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small teaser">
                            <a class="cat-item" href="#">
                                <div class="teaserboxen_normal_drei_raster_image">
                                    <img class="img-responsive" src="http://stahl-cms.dev.havasww-digital.de/fileadmin/tx_aimeos/WEB_HighRes/92/84/19284/ex-kabelundleitungseinfuehrungen-aderleitungsdurchfuehrung-exd-rstahl.jpg" width="278" height="204" alt="">
                                </div>
                                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                                    <h3>Produkte</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small teaser">
                            <a class="cat-item" href="#">
                                <div class="teaserboxen_normal_drei_raster_image">
                                    <img class="img-responsive" src="http://stahl-cms.dev.havasww-digital.de/fileadmin/tx_aimeos/WEB_HighRes/92/84/19284/ex-kabelundleitungseinfuehrungen-aderleitungsdurchfuehrung-exd-rstahl.jpg" width="278" height="204" alt="">
                                </div>
                                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                                    <h3>Produkte</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="filter_module product_cat module gutter-8">
    <div class="content-container">
        <div class="cat_wrapper">
            <div class="headline-row">
                <a href="#" title="Title Name"><h2>aAbzweigdosen und Klemmenkästen</h2></a>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="headline-row second_nesting">
                        <a href="#" title="Title Name"><h3>Ex e Abzweigdosen und Klemmenkästen GRP</h3></a>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small teaser">
                            <a class="cat-item" href="#">
                                <div class="teaserboxen_normal_drei_raster_image">
                                    <img class="img-responsive" src="http://stahl-cms.dev.havasww-digital.de/fileadmin/tx_aimeos/WEB_HighRes/92/84/19284/ex-kabelundleitungseinfuehrungen-aderleitungsdurchfuehrung-exd-rstahl.jpg" width="278" height="204" alt="">
                                </div>
                                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                                    <h3>Produkte</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small teaser">
                            <a class="cat-item" href="#">
                                <div class="teaserboxen_normal_drei_raster_image">
                                    <img class="img-responsive" src="http://stahl-cms.dev.havasww-digital.de/fileadmin/tx_aimeos/WEB_HighRes/92/84/19284/ex-kabelundleitungseinfuehrungen-aderleitungsdurchfuehrung-exd-rstahl.jpg" width="278" height="204" alt="">
                                </div>
                                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                                    <h3>Produkte ProdukteProdukte</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small teaser">
                            <a class="cat-item" href="#">
                                <div class="teaserboxen_normal_drei_raster_image">
                                    <img class="img-responsive" src="http://stahl-cms.dev.havasww-digital.de/fileadmin/tx_aimeos/WEB_HighRes/92/84/19284/ex-kabelundleitungseinfuehrungen-aderleitungsdurchfuehrung-exd-rstahl.jpg" width="278" height="204" alt="">
                                </div>
                                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                                    <h3>Produkte</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small teaser">
                            <a class="cat-item" href="#">
                                <div class="teaserboxen_normal_drei_raster_image">
                                    <img class="img-responsive" src="http://stahl-cms.dev.havasww-digital.de/fileadmin/tx_aimeos/WEB_HighRes/92/84/19284/ex-kabelundleitungseinfuehrungen-aderleitungsdurchfuehrung-exd-rstahl.jpg" width="278" height="204" alt="">
                                </div>
                                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                                    <h3>Produkte</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small teaser">
                            <a class="cat-item" href="#">
                                <div class="teaserboxen_normal_drei_raster_image">
                                    <img class="img-responsive" src="http://stahl-cms.dev.havasww-digital.de/fileadmin/tx_aimeos/WEB_HighRes/92/84/19284/ex-kabelundleitungseinfuehrungen-aderleitungsdurchfuehrung-exd-rstahl.jpg" width="278" height="204" alt="">
                                </div>
                                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                                    <h3>Produkte</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small teaser">
                            <a class="cat-item" href="#">
                                <div class="teaserboxen_normal_drei_raster_image">
                                    <img class="img-responsive" src="http://stahl-cms.dev.havasww-digital.de/fileadmin/tx_aimeos/WEB_HighRes/92/84/19284/ex-kabelundleitungseinfuehrungen-aderleitungsdurchfuehrung-exd-rstahl.jpg" width="278" height="204" alt="">
                                </div>
                                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                                    <h3>Produkte ProdukteProdukte</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small teaser">
                            <a class="cat-item" href="#">
                                <div class="teaserboxen_normal_drei_raster_image">
                                    <img class="img-responsive" src="http://stahl-cms.dev.havasww-digital.de/fileadmin/tx_aimeos/WEB_HighRes/92/84/19284/ex-kabelundleitungseinfuehrungen-aderleitungsdurchfuehrung-exd-rstahl.jpg" width="278" height="204" alt="">
                                </div>
                                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                                    <h3>Produkte</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small teaser">
                            <a class="cat-item" href="#">
                                <div class="teaserboxen_normal_drei_raster_image">
                                    <img class="img-responsive" src="http://stahl-cms.dev.havasww-digital.de/fileadmin/tx_aimeos/WEB_HighRes/92/84/19284/ex-kabelundleitungseinfuehrungen-aderleitungsdurchfuehrung-exd-rstahl.jpg" width="278" height="204" alt="">
                                </div>
                                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                                    <h3>Produkte</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="headline-row second_nesting">
                        <a href="#" title="Title Name"><h3>Ex e Klemmenkästen Edelstahl</h3></a>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small teaser">
                            <a class="cat-item" href="#">
                                <div class="teaserboxen_normal_drei_raster_image">
                                    <img class="img-responsive" src="http://stahl-cms.dev.havasww-digital.de/fileadmin/tx_aimeos/WEB_HighRes/92/84/19284/ex-kabelundleitungseinfuehrungen-aderleitungsdurchfuehrung-exd-rstahl.jpg" width="278" height="204" alt="">
                                </div>
                                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                                    <h3>Produkte</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small teaser">
                            <a class="cat-item" href="#">
                                <div class="teaserboxen_normal_drei_raster_image">
                                    <img class="img-responsive" src="http://stahl-cms.dev.havasww-digital.de/fileadmin/tx_aimeos/WEB_HighRes/92/84/19284/ex-kabelundleitungseinfuehrungen-aderleitungsdurchfuehrung-exd-rstahl.jpg" width="278" height="204" alt="">
                                </div>
                                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                                    <h3>Produkte ProdukteProdukte</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small teaser">
                            <a class="cat-item" href="#">
                                <div class="teaserboxen_normal_drei_raster_image">
                                    <img class="img-responsive" src="http://stahl-cms.dev.havasww-digital.de/fileadmin/tx_aimeos/WEB_HighRes/92/84/19284/ex-kabelundleitungseinfuehrungen-aderleitungsdurchfuehrung-exd-rstahl.jpg" width="278" height="204" alt="">
                                </div>
                                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                                    <h3>Produkte</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small teaser">
                            <a class="cat-item" href="#">
                                <div class="teaserboxen_normal_drei_raster_image">
                                    <img class="img-responsive" src="http://stahl-cms.dev.havasww-digital.de/fileadmin/tx_aimeos/WEB_HighRes/92/84/19284/ex-kabelundleitungseinfuehrungen-aderleitungsdurchfuehrung-exd-rstahl.jpg" width="278" height="204" alt="">
                                </div>
                                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                                    <h3>Produkte</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>