<div class="breadcrumb module">
  <div class="content_modul">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7">
        <ul class="breadcrumb_ul">
          <li><a href="#">Produkte & Lösungen</a></li>
          <li><a href="#">Produkte</a></li>
          <li><a href="#">Produktkategorie</a></li>
          <li><a href="#">Produktgruppe</a></li>
          <li><a href="#">Produktserie</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="products_compare_table module">
  <div class="content_modul">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7 headline-row">
        <h2>Produkt-Vergleichstabelle</h2>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding content-row">
        <div class="table_wrapper">
          <div class="close_table">Vergleichsansicht schließen</div>
          <div class="left_column">
            <div class="head">
              <div class="options"></div>
            </div>
            <div>Merkmalbezeichnung</div>
            <div>Description 1</div>
            <div>Description 2</div>
            <div> Description 3</div>
            <div>Cable armour</div>
            <div>Cable armour2</div>
            <div>Cable armour3</div>
            <div>Min. braid thickness</div>
          </div>
          <div id="item_carousel" class="owl-carousel">
            <div class="product_item">
              <div class="head">
                <div class="image"><img src="/fileadmin/user_upload/gfx/item_list_img.jpg"/>
                  <div class="change_pos">
                    <div class="left"></div>
                    <div class="right"></div>
                  </div>
                  <div class="remove"></div>
                </div>
                <div class="product_name">Produktname komplett<br>
                  max. 3 Zeilen<br>
                  max. 79 Zeichen</div>
              </div>
              <div>0</div>
              <div>Cable Glands</div>
              <div>Compound Barrier</div>
              <div> </div>
              <div>all armourings</div>
              <div>without lead sheath</div>
              <div>with barrier seal</div>
              <div>0,20 mm</div>
            </div>
            <div class="product_item">
              <div class="head">
                <div class="image"><img src="/fileadmin/user_upload/gfx/item_list_img.jpg"/>
                  <div class="change_pos">
                    <div class="left"></div>
                    <div class="right"></div>
                  </div>
                  <div class="remove"></div>
                </div>
                <div class="product_name">Produktname komplett<br>
                  max. 3 Zeilen<br>
                  max. 79 Zeichen</div>
              </div>
              <div>1</div>
              <div>Cable Glands</div>
              <div>Compound Barrier</div>
              <div> </div>
              <div>all armourings</div>
              <div>without lead sheath</div>
              <div>with barrier seal</div>
              <div>0,20 mm</div>
            </div>
            <div class="product_item">
              <div class="head">
                <div class="image"><img src="/fileadmin/user_upload/gfx/item_list_img.jpg"/>
                  <div class="change_pos">
                    <div class="left"></div>
                    <div class="right"></div>
                  </div>
                  <div class="remove"></div>
                </div>
                <div class="product_name">Produktname komplett<br>
                  max. 3 Zeilen<br>
                  max. 79 Zeichen</div>
              </div>
              <div>2</div>
              <div>Cable Glands</div>
              <div>Compound Barrier</div>
              <div> </div>
              <div>all armourings</div>
              <div>without lead sheath</div>
              <div>with barrier seal</div>
              <div>0,20 mm</div>
            </div>
            <div class="product_item">
              <div class="head">
                <div class="image"><img src="/fileadmin/user_upload/gfx/item_list_img.jpg"/>
                  <div class="change_pos">
                    <div class="left"></div>
                    <div class="right"></div>
                  </div>
                  <div class="remove"></div>
                </div>
                <div class="product_name">Produktname komplett<br>
                  max. 3 Zeilen<br>
                  max. 79 Zeichen</div>
              </div>
              <div>3</div>
              <div>Cable Glands</div>
              <div>Compound Barrier</div>
              <div> </div>
              <div>all armourings</div>
              <div>without lead sheath</div>
              <div>with barrier seal</div>
              <div>0,20 mm</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
.products_compare_table{
	display: none !important;
}


.slider_filter{
	float: left;
	width: 100%;
	max-width: 570px;
	background-color: #31549e;
	height: 162px;
	padding: 85px 60px 74px;
	position: relative;
}
.slider_wrapper{
	position: relative;
	width: 100%;
	padding: 0 20px;
}
.slider_filter .slider_line{
	height: 5px;
	background-color: #fff;
	width: 100%;
	position: relative; 
}
.slider_filter .slider_line .slider_mark{
	position: absolute;
	width: 2px;
	background-color: #fff;
	height: 21px;
	left: 0;
	top: 5px;
}

.slider_mark::after{
    content: "";
    position: absolute;
    font-size: 17px;
    color: #fff;
    font-family: "UniversLTW01-67BoldCn";
    bottom: -29px;
    transform: translateX(-50%);
}
.slider_filter .slider_line .slider_mark.v100.minus{
	left: 0;
	height: 34px;
}

.slider_filter .slider_line .slider_mark.v100.minus::after{
    content: "-100";
}

.slider_filter .slider_line .slider_mark.v75.minus{
	left: 12.5%;
}

.slider_filter .slider_line .slider_mark.v50.minus{
	left: 25%;
	height: 34px;
}
.slider_filter .slider_line .slider_mark.v50.minus::after{
    content: "-50";
}

.slider_filter .slider_line .slider_mark.v25.minus{
	left: 37.5%;
}

.slider_filter .slider_line .slider_mark.v0{
	left: 50%;
	height: 34px;
}
.slider_filter .slider_line .slider_mark.v0::after{
    content: "0";
}


.slider_filter .slider_line  .slider_mark.v25{
	left: 62.5%;
}


.slider_filter .slider_line .slider_mark.v50{
	left: 75%;
	height: 34px;
}
.slider_filter .slider_line .slider_mark.v50::after{
    content: "50";
}


.slider_filter .slider_line  .slider_mark.v75{
	left: 87.5%;
}

.slider_filter .slider_line .slider_mark.v100{
	left: calc(100% - 2px);
	height: 34px;
}
.slider_filter .slider_line .slider_mark.v100::after{
    content: "100";
}
.value_mark{
    position: absolute;
    bottom: 5px;
	left: 50%;
	margin-left: -21px;
}
.value_mark .box{
	width: 42px;
	height: 42px;
	font-size: 21px;
	color: #929292;
	font-family: "UniversLTW01-67BoldCn";
	background-color: #fff;
	border: 2px solid #d0d0d0;
	text-align: center;
	padding-top: 4px;
}

.value_mark .triangle {
    width: 0px;
    height: 0px;
    border-left: 21px solid transparent;
    border-right: 21px solid transparent;
    border-top: 21px solid #eb7d00;
}
.slider_line_active{
	position: absolute;
	left: 0;
	top: 0;
	height: 5px;
	background-color: #eb7d00;
}
@media (max-width: 475px) {
.slider_filter {
    padding: 85px 5px 74px;
}


}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenLite.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/utils/Draggable.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/plugins/CSSPlugin.min.js"></script> 
<script>
$(document).ready(function(e) {
	var ie = detectIE();
    var split_number = 12;
    if (!ie) {
        split_number = 4;
    }

    function detectIE() {
        var ua = window.navigator.userAgent;

        var msie = ua.indexOf('MSIE ');
        if (msie > 0) {
            // IE 10 or older => return version number
            return parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
        }

        var trident = ua.indexOf('Trident/');
        if (trident > 0) {
            // IE 11 => return version number
            var rv = ua.indexOf('rv:');
            return parseInt(ua.substring(rv + 3, ua.indexOf('.', rv)), 10);
        }

        var edge = ua.indexOf('Edge/');
        if (edge > 0) {
            // Edge (IE 12+) => return version number
            return parseInt(ua.substring(edge + 5, ua.indexOf('.', edge)), 10);
        }

        // other browser
        return false;
    }
	
	var line_width = ($(".slider_line").width() - 2) / 2;
	var mark_1_save_val = 0;
	var mark_2_save_val = 0;
	
	// mark 1
    var mark_1 = Draggable.create(".value_mark.i_1", {
		type:"x",
		edgeResistance:1,
		bounds:".slider_wrapper",
		lockAxis:true,
		throwProps:true,
		onDrag: synchronize_value_mark_1,
	});
	function synchronize_value_mark_1()
	{
		var position = parseInt($('.value_mark.i_1').css('transform').split(',')[split_number]);
		mark_1_save_val = position;
		var value = (position / line_width) * 100;
		value = parseInt(Math.round(value).toFixed(0));
		$(".value_mark.i_1 .box").text(value);
		refresh_active_line();
		
	};
	
	
	// mark 2
	var mark_2 = Draggable.create(".value_mark.i_2", {
		type:"x",
		edgeResistance:1,
		bounds:".slider_wrapper",
		lockAxis:true,
		throwProps:true,
		onDrag: synchronize_value_mark_2,
	});
	function synchronize_value_mark_2()
	{
		var position = parseInt($('.value_mark.i_2').css('transform').split(',')[split_number]);
		mark_2_save_val = position;
		var value = (position / line_width) * 100;
		value = parseInt(Math.round(value).toFixed(0));
		$(".value_mark.i_2 .box").text(value);
		refresh_active_line();
	};
	
	function refresh_active_line()
	{
		var val_1 = (parseInt($(".value_mark.i_1 .box").text()) + 100) / 2;
		var val_2 = (parseInt($(".value_mark.i_2 .box").text()) + 100) / 2;
		if(val_1 > val_2){
			$(".slider_line_active").css("left", val_2 + "%");
			val_1 = (val_1 - 100) * (-1);
			$(".slider_line_active").css("right", val_1 + "%");
		}
		else{
			$(".slider_line_active").css("left", val_1 + "%");
			val_2 = (val_2 - 100) * (-1);
			$(".slider_line_active").css("right", val_2 + "%");
		}
	}
	
	var mark_1_var = $(".value_mark.i_1");
	var mark_2_var = $(".value_mark.i_2");
	var old_line_width = line_width;
	
	$(window).resize(function(e) {
		line_width = ($(".slider_line").width() - 2) / 2;
		var resize_change = line_width / old_line_width;
		var resize_change_mark_1 = mark_1_save_val * resize_change;
		TweenLite.to(mark_1_var, 0, {
            x: resize_change_mark_1
        });
		
		var resize_change_mark_2 = mark_2_save_val * resize_change;
		TweenLite.to(mark_2_var, 0, {
            x: resize_change_mark_2
        });
    });
});
</script>
<div class="slider_filter">
  <div class="slider_wrapper">
    <div class="slider_line">
      <div class="slider_line_active"></div>
      <div class="slider_mark v100 minus"></div>
      <div class="slider_mark v75 minus"></div>
      <div class="slider_mark v50 minus"></div>
      <div class="slider_mark v25 minus"></div>
      <div class="slider_mark v0"></div>
      <div class="slider_mark v25"></div>
      <div class="slider_mark v50"></div>
      <div class="slider_mark v75"></div>
      <div class="slider_mark v100"></div>
      <div class="value_mark i_1">
        <div class="box">0</div>
        <div class="triangle"></div>
      </div>
      <div class="value_mark i_2">
        <div class="box">0</div>
        <div class="triangle"></div>
      </div>
    </div>
  </div>
</div>
