<div class="download module gutter-8">
<div class="content-container">
<div class="row sameheight">
  <f:if condition="{data.tx_mask_download_module_headline}">
    <f:then>
      <div class="col-xs-12">
        <f:if condition="{data.tx_mask_download_module_headline}"><h2>{data.tx_mask_download_module_headline}</h2></f:if>
        <f:if condition="{data.tx_mask_download_module_copy}"><f:format.html >{data.tx_mask_download_module_copy}</f:format.html></f:if>
      </div>
    </f:then>
    <f:else>
      <div class="row">
        <f:if condition="{data.tx_mask_download_module_copy}">
          <div class="col-xs-12">
            <f:if condition="{data.tx_mask_download_module_copy}">
              <f:format.html >{data.tx_mask_download_module_copy}</f:format.html>
            </f:if>
          </div>
        </f:if>
      </div>
    </f:else>
  </f:if>
  <f:if condition="{data.tx_mask_download_module}">
  <div class="col-xs-12">
    <div class="row">
      <f:for each="{data.tx_mask_download_module}" as="data_item">
      <f:if condition="{data.tx_mask_download_module_template}">
      <f:switch expression="{data.tx_mask_download_module_template}">
      <f:case value="1">
      <div class="col-md-3 col-sm-6 col-xs-12">
        </f:case>
        <f:case value="2">
        <div class="col-sm-6 col-xs-12">
          </f:case>
          <f:case value="3">
          <div class="col-xs-12">
            </f:case>
            </f:switch>
            </f:if>
            <f:if condition="{data.tx_mask_download_module_typ}">
              <f:switch expression="{data.tx_mask_download_module_typ}">
                <f:case value="1">
                  <f:if condition="{data_item.tx_mask_headline}">
                    <f:format.html parseFuncTSPath="lib.parseFunc">
                      <h2 class="setheightheadline">{data_item.tx_mask_headline}</h2>
                    </f:format.html>
                  </f:if>
                </f:case>
                <f:case value="2">
                  <div class="full-width setheightheadline">
                    <f:if condition="{data_item.tx_mask_headline}">
                      <f:format.html parseFuncTSPath="lib.parseFunc">
                        <h2 style="font-size: 30px; line-height: 34px; font-weight: normal;">{data_item.tx_mask_headline}</h2>
                      </f:format.html>
                    </f:if>
                    <f:if condition="{data_item.tx_mask_subline}">
                      <f:format.html parseFuncTSPath="lib.parseFunc">
                        <p>{data_item.tx_mask_subline}</p>
                      </f:format.html>
                    </f:if>
                  </div>
                </f:case>
              </f:switch>
            </f:if>
            <div class="download_item">
              <f:if condition="{data.tx_mask_download_module_typ}">
                <f:switch expression="{data.tx_mask_download_module_typ}">
                  <f:case value="1">
                    <div class="download_img">
                      <f:if condition="{data_item.tx_mask_image}">
                        <f:then>
                          <f:for each="{data_item.tx_mask_image}" as="file">
                            <f:image image="{file}" alt="{file.alternative}" title="{file.title}" class="img-responsive" />
                          </f:for>
                        </f:then>
                        <f:else> <img class="img-responsive" src="/fileadmin/user_upload/278x102.png" alt="dummy"> </f:else>
                      </f:if>
                      <f:link.page pageUid="{data_item.tx_mask_cta_link}" target="_blank">
                        <f:if condition="{data_item.tx_mask_format}">
                          <f:switch expression="{data_item.tx_mask_format}">
                            <f:case value="1"><img class="format_button" src="/fileadmin/user_upload/gfx/pdf_white_down.png"> </f:case>
                            <f:case value="2"><img class="format_button" src="/fileadmin/user_upload/gfx/doc_white_down.png"> </f:case>
                            <f:case value="3"><img class="format_button" src="/fileadmin/user_upload/gfx/zip_white_down.png"> </f:case>
                            <f:case value="4"><img class="format_button" src="/fileadmin/user_upload/gfx/xls_white_down.png"> </f:case>
                            <f:case value="5"><img class="format_button" src="/fileadmin/user_upload/gfx/jpg_white_down.png"> </f:case>
                            <f:case value="6"><img class="format_button" src="/fileadmin/user_upload/gfx/ppt_white_down.png"> </f:case>
                            <f:case value="7"><img class="format_button" src="/fileadmin/user_upload/gfx/ldt_white_down.png"> </f:case>
                            <f:case value="8"><img class="format_button" src="/fileadmin/user_upload/gfx/pxf_white_down.png"> </f:case>
                            <f:case value="9"><img class="format_button" src="/fileadmin/user_upload/gfx/eprt_white_down.png"> </f:case>
                            <f:case value="10"><img class="format_button" src="/fileadmin/user_upload/gfx/igs_white_down.png"> </f:case>
                            <f:case value="11"><img class="format_button" src="/fileadmin/user_upload/gfx/step_white_down.png"> </f:case>
                          </f:switch>
                        </f:if>
                      </f:link.page>
                    </div>
                    <div class="download_link setheight blue">
                      <f:link.page pageUid="{data_item.tx_mask_cta_link}" target="_blank">
                        <f:if condition="{data_item.tx_mask_subline}">
                          <f:format.html parseFuncTSPath="lib.parseFunc">
                            <h4>{data_item.tx_mask_subline}</h4>
                          </f:format.html>
                        </f:if>
                      </f:link.page>
                    </div>
                  </f:case>
                  <f:case value="2">
                    <div class="download_img">
                      <f:if condition="{data_item.tx_mask_image}">
                        <f:then>
                          <f:for each="{data_item.tx_mask_image}" as="file">
                            <f:image image="{file}" alt="{file.alternative}" title="{file.title}" class="img-responsive" />
                          </f:for>
                        </f:then>
                        <f:else> <img class="img-responsive" src="/fileadmin/user_upload/278x102.png" alt="dummy"> </f:else>
                      </f:if>
                    </div>
                    <div class="download_link setheight blue" style="min-height:72px;">
                      <f:if condition="{data_item.tx_mask_cta_link}">
                        <f:link.page class="button_download" pageUid="{data_item.tx_mask_cta_link}"  target="_blank">
                          <f:if condition="{data_item.tx_mask_format}">
                            <f:switch expression="{data_item.tx_mask_format}">
                              <f:case value="1"><img src="/fileadmin/user_upload/gfx/pdf_white.png"> </f:case>
                              <f:case value="2"><img src="/fileadmin/user_upload/gfx/doc_white.png"> </f:case>
                              <f:case value="3"><img src="/fileadmin/user_upload/gfx/zip_white.png"> </f:case>
                              <f:case value="4"><img src="/fileadmin/user_upload/gfx/xls_white.png"> </f:case>
                              <f:case value="5"><img src="/fileadmin/user_upload/gfx/jpg_white.png"> </f:case>
                              <f:case value="6"><img src="/fileadmin/user_upload/gfx/ppt_white.png"> </f:case>
                              <f:case value="7"><img src="/fileadmin/user_upload/gfx/ldt_white.png"> </f:case>
                              <f:case value="8"><img src="/fileadmin/user_upload/gfx/pxf_white.png"> </f:case>
                              <f:case value="9"><img src="/fileadmin/user_upload/gfx/eprt_white.png"> </f:case>
                              <f:case value="10"><img src="/fileadmin/user_upload/gfx/igs_white.png"> </f:case>
                              <f:case value="11"><img src="/fileadmin/user_upload/gfx/step_white.png"> </f:case>
                            </f:switch>
                          </f:if>
                          {data_item.tx_mask_cta_name} </f:link.page>
                      </f:if>
                    </div>
                  </f:case>
                </f:switch>
              </f:if>
            </div>
          </div>
          </f:for>
        </div>
      </div>
      </f:if>
    </div>
  </div>
</div>
