<div class="call_to_action_button module gutter-8" >
<div class="content-container">
	<div class="row">
	<div class="col-xs-12">
		<f:if condition="{data.tx_mask_call_to_action_background}">
			<f:switch expression="{data.tx_mask_call_to_action_background}">
				<f:case value="1">
					<f:if condition="{data.tx_mask_call_to_action_position}">
						<f:switch expression="{data.tx_mask_call_to_action_position}">
							<f:case value="1">
								<f:if condition="{data.tx_mask_call_to_action_link}">
									<div class="position_left"><f:then><f:link.page class="button" pageUid="{data.tx_mask_call_to_action_link}"><span>{data.tx_mask_call_to_action_name}</span></f:link.page></f:then>
										<f:else><a href="javascript: history.go(-1)" class="button"> <span>{data.tx_mask_call_to_action_name}</span></a></f:else>
									</div>
								</f:if>
							</f:case>
							<f:case value="2">
								<f:if condition="{data.tx_mask_call_to_action_link}">
									<div class="position_center"><f:then><f:link.page class="button" pageUid="{data.tx_mask_call_to_action_link}"><span>{data.tx_mask_call_to_action_name}</span></f:link.page></f:then>
										<f:else><a href="javascript: history.go(-1)" class="button"> <span>{data.tx_mask_call_to_action_name}</span></a></f:else>
									</div>
								</f:if>
							</f:case>
							<f:case value="3">
								<f:if condition="{data.tx_mask_call_to_action_link}">
									<div class="position_right"><f:then><f:link.page class="button" pageUid="{data.tx_mask_call_to_action_link}"><span>{data.tx_mask_call_to_action_name}</span></f:link.page></f:then>
										<f:else><a href="javascript: history.go(-1)" class="button"> <span>{data.tx_mask_call_to_action_name}</span></a></f:else>
									</div>
								</f:if>
							</f:case>
						</f:switch>
					</f:if>
				</f:case>
				<f:case value="2">
					<f:if condition="{data.tx_mask_call_to_action_position}">
						<f:switch expression="{data.tx_mask_call_to_action_position}">
							<f:case value="1">
								<f:if condition="{data.tx_mask_call_to_action_link}">
									<div class="position_left">
									<f:then><f:link.page class="button blue" pageUid="{data.tx_mask_call_to_action_link}"><span>{data.tx_mask_call_to_action_name}</span></f:link.page></f:then>
										<f:else><a href="javascript: history.go(-1)" class="button blue"> <span>{data.tx_mask_call_to_action_name}</span></a></f:else>
									</div>
								</f:if>
							</f:case>
							<f:case value="2">
								<f:if condition="{data.tx_mask_call_to_action_link}">
									<div class="position_center">
									<f:then><f:link.page class="button blue" pageUid="{data.tx_mask_call_to_action_link}"><span>{data.tx_mask_call_to_action_name}</span></f:link.page></f:then>
										<f:else><a href="javascript: history.go(-1)" class="button blue"> <span>{data.tx_mask_call_to_action_name}</span></a></f:else>
									</div>
								</f:if>
							</f:case>
							<f:case value="3">
								<f:if condition="{data.tx_mask_call_to_action_link}">
									<div class="position_right">
										<f:then><f:link.page class="button blue" pageUid="{data.tx_mask_call_to_action_link}"><span>{data.tx_mask_call_to_action_name}</span></f:link.page></f:then>
										<f:else><a href="javascript: history.go(-1)" class="button blue"> <span>{data.tx_mask_call_to_action_name}</span></a></f:else>
									</div>
								</f:if>
							</f:case>
						</f:switch>
					</f:if>
					</f:case>
			</f:switch>
		</f:if>
	</div>
	</div>
</div>
</div>