<div class="image_map module">
	<div class="image_map_info">
		<div style="float:left;">
			X: <input type="text" class="image_map_info_x" />
		</div>
		<div style="float:left; margin-left: 10px;">
			Y: <input type="text" class="image_map_info_y" />
		</div>
	</div>
	<f:if condition="{data.tx_mask_image_map}">
		<f:for each="{data.tx_mask_image_map}" as="file">
			<f:image image="{file}" alt="{file.alternative}" title="{file.title}" class="img-responsive"/>
		</f:for>
	</f:if>
	
	<div class="image_map_inner">
		<f:if condition="{data.tx_mask_image_map_point}">
			<f:for each="{data.tx_mask_image_map_point}" as="data_item" iteration="i">
				<div class="image_map_point" style="left: {data_item.tx_mask_image_map_point_x}%; top: {data_item.tx_mask_image_map_point_y}%;">
						<div class="image_map_point_pin">
						{f:if(condition: data_item.tx_mask_desktop, then: '<img src="fileadmin/user_upload/gfx/image_map_pin.png" class="img-responsive hidden-xs hidden-sm" />')}
						{f:if(condition: data_item.tx_mask_tablet, then: '<img src="fileadmin/user_upload/gfx/image_map_pin.png" class="img-responsive hidden-xs hidden-md hidden-lg" />')}
						{f:if(condition: data_item.tx_mask_phone, then: '<img src="fileadmin/user_upload/gfx/image_map_pin.png" class="img-responsive hidden-sm hidden-md hidden-lg" />')}
						</div>	
				
					<div class="image_map_point_detail_wrapper">
						<div class="image_map_point_details">
							<f:if condition="{data_item.tx_mask_image_map_point_title}">
								<h4>{data_item.tx_mask_image_map_point_title}</h4>
							</f:if>
							<f:if condition="{data_item.tx_mask_image_map_point_text}">
								<p>{data_item.tx_mask_image_map_point_text}</p>
							</f:if>
							<f:if condition="{data_item.tx_mask_image_map_point_link}">
								<f:link.page pageUid="{data_item.tx_mask_image_map_point_link}" class="more">{data_item.tx_mask_image_map_point_link_text}</f:link.page>
							</f:if>
						</div>
					</div>
				</div>
				<!--<f:if condition="{data_item.tx_mask_image_map_point_x}">
					<f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{data_item.tx_mask_image_map_point_x}</f:format.number>
				</f:if>


				<f:if condition="{data_item.tx_mask_image_map_point_y}">
					<f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{data_item.tx_mask_image_map_point_y}</f:format.number>
				</f:if>-->
			</f:for>
		</f:if>
	</div>
</div>