<div class="location_template module gutter-8">
  <div class="content-container">
    <div class="row sameheight">
      <f:if condition="{data.tx_mask_location_headline_pd}">
        <div class="col-xs-12 headline-row "><h2>{data.tx_mask_location_headline_pd}</h2><f:if condition="{data.tx_mask_location_subline_pd}"><f:format.nl2br><p>{data.tx_mask_location_subline_pd}</p></f:format.nl2br></f:if></div>
      </f:if>
      <div class="col-xs-12 content-row">
        <div class="location_content">
          <div class="row">
            <div class="col-md-3 col-xs-12 setheight location_content_person">
              <f:if condition="{data.tx_mask_location_content_person}">
                <f:for each="{data.tx_mask_location_content_person}" as="data_item">
                  <f:if condition="{data_item.tx_mask_items_person}">
                    <f:for each="{data_item.tx_mask_items_person}" as="data_item_item">
                      <f:cObject typoscriptObjectPath="lib.tx_mask.content">{data_item_item.uid}</f:cObject>
                    </f:for>
                  </f:if>
                </f:for>
              </f:if>
            </div>
            <div class="col-md-9 col-xs-12 setheight location_content_form">
              <f:if condition="{data.tx_mask_location_content_form}">
                <f:for each="{data.tx_mask_location_content_form}" as="data_item">
                  <f:if condition="{data_item.tx_mask_items_form}">
                    <f:for each="{data_item.tx_mask_items_form}" as="data_item_item">
                      <f:cObject typoscriptObjectPath="lib.tx_mask.content">{data_item_item.uid}</f:cObject>
                    </f:for>
                  </f:if>
                </f:for>
              </f:if>
            </div>
          </div>
        </div>
        <f:if condition="{data.tx_mask_location_content_more}">
          <div class="location_content_more">
            <div class="row">
              <div class="col-xs-12 location_content_more_form">
                <f:for each="{data.tx_mask_location_content_more}" as="data_item">
                  <f:if condition="{data_item.tx_mask_items_call_back}">
                    <f:for each="{data_item.tx_mask_items_call_back}" as="data_item_item">
                      <f:cObject typoscriptObjectPath="lib.tx_mask.content">{data_item_item.uid}</f:cObject>
                    </f:for>
                  </f:if>
                </f:for>
              </div>
            </div>
          </div>
        </f:if>
      </div>
    </div>
  </div>
</div>
