<div class="thx_rma module gutter-8">
  <div class="content-container">
    <div class="row">
      <div class="col-xs-12 thx">
        <div class="row">
          <div class="col-sm-1 col-xs-2">
            <f:if condition="{data.tx_mask_image}">
              <f:for each="{data.tx_mask_image}" as="file">
                <f:image image="{file}" alt="{file.alternative}" title="{file.title}" width="200" class="img-responsive" />
                <br />
              </f:for>
            </f:if>
          </div>
          <div class="col-sm-11 col-xs-10">
            <f:if condition="{data.tx_mask_message}">
              <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_mask_message}</f:format.html>
              <br />
            </f:if>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
