<div class="teaserblock_mit_versatz module gutter-8">
  <div class="content-container">
    <div class="row">
      <f:if condition="{data.tx_mask_teaserblock_mit_versatz_headline}">
        <div class="col-xs-12 headline-row"><h2>{data.tx_mask_teaserblock_mit_versatz_headline}</h2><f:if condition="{data.tx_mask_teaserblock_mit_versatz_link}">
            <f:link.page pageUid="{data.tx_mask_teaserblock_mit_versatz_link}">{data.tx_mask_teaserblock_mit_versatz_name}</f:link.page></f:if></div>
      </f:if>
      <div class="col-xs-12 content-row headline-with-link">
        <div class="row">
          <div class="col-sm-8 col-xs-12">
            <div class="teaserblock_mit_versatz_carousel owl-carousel">
              <f:if condition="{data.tx_mask_teaserblock_mit_versatz_big}">
                <f:for each="{data.tx_mask_teaserblock_mit_versatz_big}" as="data_item">
				
				<f:if condition="{data_item.tx_mask_link} > 1"> 
				     <f:then>
                 <f:link.page pageUid="{data_item.tx_mask_link}">
                  <div class="full-width">
                      <f:if condition="{data_item.tx_mask_teaserblock_mit_versatz_image}">
                        <f:for each="{data_item.tx_mask_teaserblock_mit_versatz_image}" as="file">
                          <f:image image="{file}" alt="{file.alternative}" title="{file.title}" class="img-responsive"  />
                        </f:for>
                      </f:if>
                      <f:if condition="{data_item.tx_mask_headline}">
                        <div class="teaserboxen_normal_drei_raster_image_content blue">
                          <div><h3> {data_item.tx_mask_headline}</h3></div><f:if condition="{data_item.tx_mask_content}"><div>
                              <f:format.nl2br><p>{data_item.tx_mask_content}</p></f:format.nl2br>
                            </div>
                          </f:if>
                        </div>
					  </f:if>
                  </div>
                  </f:link.page>
				  </f:then>
				  
				  	<f:else>
							 <f:link.page pageUid="{data_item.tx_mask_link}" target="_blank" >
                  <div class="full-width">
                      <f:if condition="{data_item.tx_mask_teaserblock_mit_versatz_image}">
                        <f:for each="{data_item.tx_mask_teaserblock_mit_versatz_image}" as="file">
                          <f:image image="{file}" alt="{file.alternative}" title="{file.title}" class="img-responsive"  />
                        </f:for>
                      </f:if>
                      <f:if condition="{data_item.tx_mask_headline}">
                        <div class="teaserboxen_normal_drei_raster_image_content blue">
                          <div><h3> {data_item.tx_mask_headline}</h3></div><f:if condition="{data_item.tx_mask_content}"><div>
                              <f:format.nl2br><p>{data_item.tx_mask_content}</p></f:format.nl2br>
                            </div>
                          </f:if>
                        </div>
					  </f:if>
                  </div>
                  </f:link.page>
						</f:else>			
					</f:if>
				  
                </f:for>
              </f:if>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="row">
              <f:if condition="{data.tx_mask_teaserblock_mit_versatz}">
                <f:for each="{data.tx_mask_teaserblock_mit_versatz}" as="data_item">
                  <div class="col-xs-12 teaser">
				  <f:if condition="{data_item.tx_mask_link} > 1"> 
				     <f:then>
						  <f:link.page pageUid="{data_item.tx_mask_link}">{data.tx_mask_link}
							  <f:if condition="{data_item.tx_mask_teaserblock_mit_versatz_image}">
								<f:for each="{data_item.tx_mask_teaserblock_mit_versatz_image}" as="file">
								  <f:image image="{file}" alt="{file.alternative}" title="{file.title}"  class="img-responsive" />
								</f:for>
							  </f:if>
							  <f:if condition="{data_item.tx_mask_headline}" ><div class="teaserboxen_normal_drei_raster_image_content blue"><h3> {data_item.tx_mask_headline}</h3></div>
							  </f:if>
							</f:link.page>
							  
						</f:then>
						<f:else>
							<f:link.page pageUid="{data_item.tx_mask_link}" target="_blank">{data.tx_mask_link}
							  <f:if condition="{data_item.tx_mask_teaserblock_mit_versatz_image}">
								<f:for each="{data_item.tx_mask_teaserblock_mit_versatz_image}" as="file">
								  <f:image image="{file}" alt="{file.alternative}" title="{file.title}"  class="img-responsive" />
								</f:for>
							  </f:if>
							  <f:if condition="{data_item.tx_mask_headline}" ><div class="teaserboxen_normal_drei_raster_image_content blue"><h3> {data_item.tx_mask_headline}</h3></div>
							  </f:if>
							</f:link.page>
						</f:else>			
					</f:if>
							
				  
                    
                  </div>
                </f:for>
              </f:if>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
