<div class="text_bild_module module gutter-8">
    <f:if condition="{data.tx_mask_text_bild_modul_headline}">
        <div class="content-container">
            <div class="row">
                <div class="col-xs-12">
                    <f:if condition="{data.tx_mask_text_bild_modul_headline}"><h2>{data.tx_mask_text_bild_modul_headline}</h2></f:if>
                    <f:if condition="{data.tx_mask_text_bild_modul_copy}"><f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_mask_text_bild_modul_copy}</f:format.html></f:if>
                    <f:if condition="{data.tx_mask_text_bild_modul_new}"><p class="more_newsletter">{data.tx_mask_text_bild_modul_new}</p></f:if>
                </div>
            </div>
        </div>
    </f:if>
    <f:if condition="{data.tx_mask_text_bild_modul_more}">
        <f:for each="{data.tx_mask_text_bild_modul_more}" as="data_item">
            <div class="text_bild_module_content ">
                <div class="content-container">
                    <div class="row">
                        <f:if condition="{data_item.tx_mask_text_bild_module_position}">
                            <f:switch expression="{data_item.tx_mask_text_bild_module_position}">
                                <f:case value="1">
                                    <div class="col-sm-4 col-xs-12">
                                        <f:if condition="{data_item.tx_mask_text_bild_module_image}">
                                            <f:for each="{data_item.tx_mask_text_bild_module_image}" as="file">
                                                <f:image image="{file}" alt="{file.alternative}" title="{file.title}" class="img-responsive" />
                                            </f:for>
                                        </f:if>
                                    </div>
                                    <div class="col-sm-8 col-xs-12">
                                        <f:if condition="{data_item.tx_mask_text_bild_module_text}">
                                            <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data_item.tx_mask_text_bild_module_text}</f:format.html>
                                        </f:if>

                                    </div>

                                </f:case>
                                <f:case value="2">
                                    <div class="col-sm-7 col-xs-12">
                                        <f:if condition="{data_item.tx_mask_text_bild_module_text}">
                                            <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data_item.tx_mask_text_bild_module_text}</f:format.html>
                                        </f:if>
                                    </div>
                                    <div class="col-sm-5 col-xs-12">
                                        <f:if condition="{data_item.tx_mask_text_bild_module_image}">
                                            <f:for each="{data_item.tx_mask_text_bild_module_image}" as="file">
                                                <f:image image="{file}" alt="{file.alternative}" title="{file.title}" class="img-responsive" />
                                            </f:for>
                                        </f:if>
                                    </div>
                                </f:case>
                            </f:switch>
                        </f:if>
                    </div>
                </div>
            </div>


        </f:for>
    </f:if>
</div>
