<f:if condition="{data.tx_mask_teaser_externe}">
  <div class="teaser_externe_footer">
    <div class="content_modul">
      <div class="row">
        <f:for each="{data.tx_mask_teaser_externe}" as="data_item" iteration="iterator" >
		<f:if condition="{iterator.isLast}">
			  <f:then>
			    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				<a href="mailto:?subject=<f:cObject typoscriptObjectPath='lib.pageidtitel'/>-STAHL&amp;body=<f:cObject typoscriptObjectPath='lib.pageid'/>">
					  <!--<a href="mailto:?subject=<f:cObject typoscriptObjectPath='lib.pageidtitel'/>&body='<f:cObject typoscriptObjectPath='lib.pageid'/>'" >-->
					  <figure class="box">
						<f:for each="{data_item.tx_mask_icon}" as="file">
						  <f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
						</f:for>
					  </figure>
					  <h3><f:format.html parseFuncTSPath="lib.parseFunc">{data_item.tx_mask_headline}</f:format.html></h3>
						</a>
				 </div>
			</f:then>
			<f:else>
				<f:if condition="{iterator.index}==2">
					<f:then>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 expert_mail_newsletter">
							<f:link.page pageUid="{data_item.tx_mask_link}">
							  <figure class="box">
								<f:for each="{data_item.tx_mask_icon}" as="file">
								  <f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
								</f:for>
							  </figure>
							  <h3><f:format.html parseFuncTSPath="lib.parseFunc">{data_item.tx_mask_headline}</f:format.html></h3>
							</f:link.page>
						 </div>
					</f:then>
					<f:else>
				
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 ">
							<f:link.page pageUid="{data_item.tx_mask_link}">
							  <figure class="box">
								<f:for each="{data_item.tx_mask_icon}" as="file">
								  <f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" width="120" height="119"/>
								</f:for>
							  </figure>
							  <h3><f:format.html parseFuncTSPath="lib.parseFunc">{data_item.tx_mask_headline}</f:format.html></h3>
							</f:link.page>
						 </div>
	
						</f:else>
				 </f:if>
			</f:else>
		</f:if>
        
        </f:for>
      </div>
    </div>
  </div>
</f:if>
 
