<f:if condition="{data.tx_mask_social_media}">

<div class="teaser_some_footer">
<div class="content_modul">
    <div class="row">
	<ul>
	<f:for each="{data.tx_mask_social_media}" as="data_item">
	<li>
	<f:link.page target="_blank" pageUid="{data_item.tx_mask_link}"><figure class="box">
   <f:for each="{data_item.tx_mask_icons}" as="file">
		<f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1"  />
	</f:for>
		</figure>
		<h3>{data_item.tx_mask_name}</h3>
		</f:link.page>
	</li>
	</f:for>
	</ul>
	</div>
	<div class="footer_app">
	<img src="fileadmin/user_upload/gfx/app_logo.png" alt="APP Store"/>
		<f:if condition="{data.tx_mask_app_store}"><f:format.html>{data.tx_mask_app_store}</f:format.html></f:if>
	</div>
</div>
</div>
</f:if>