{namespace c=HDNET\Calendarize\ViewHelpers}

<f:alias map="{event: index.originalObject}">
<div class="article" itemscope="itemscope" itemtype="http://schema.org/Article">
		
	
			
			
			<div class="footer">
				<div class="category">
					
						<!-- categories -->
<span class="news-list-category">
	
		
				<f:link.action action="detail" arguments="{index: index}" format="ics" >ICS/iCal
					</f:link.action>
			
	
</span>
					
				</div>
				<div class="date"><f:render partial="DateInformation" arguments="{index: index}"/></div>
				<div class="zurueck">
				
				<!-- Link Back -->
				<div class="news-backlink-wrap">
				
					<c:link.list><f:translate key="back"/></c:link.list>
				
				</div>
					
				</div>
			</div>
			<div class="header">
				<h3><f:render partial="{index.configuration.partialIdentifier}/Title" arguments="{index: index}"/></h3>
			</div>
			
							

			
	<!-- fal media files -->
	<div class="news-img-wrap">
		
			<div class="outer">
				
					


	
			
					<f:if condition="{event.images}">
		<div class="images">
			<f:for each="{event.images}" as="image" iteration="i">
				<f:image src="{image.originalResource.publicUrl}" alt="" maxWidth="300" />
			</f:for>
		</div>
	</f:if>
				


				
				
				
			</div>
		
	</div>





			<!-- main text -->
			<div class="news-text-wrap" itemprop="articleBody"><f:format.html>{event.description}</f:format.html></div>

			

			

	</div>
</f:alias>
