{namespace c=HDNET\Calendarize\ViewHelpers}
{namespace t=GeorgRinger\News\ViewHelpers}
<f:alias map="{event: index.originalObject}">

<f:if condition="{event.layout}=='NE-02'">
   <f:then>

   <div class="article ne_02  <t:ReplaceString string='{event.organizer}' searchFor=' ' replaceWith='_' />">
	<div class="header_cate">
		<span class="news-list-date"><f:render partial="DateInformation" arguments="{index: index}" /></span>
		<span class="news-list-category">{event.organizer}</span>
	</div>
	<div class="header">
		<h3><f:render partial="{index.configuration.partialIdentifier}/Title" arguments="{index: index}" /></h3>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 nopadding">
		<div class="news-img-wrap">
			<div class="outer">
				<div class="media calendarize-item">
				<f:if condition="{event.images}">
				<f:then>
					<f:for each="{event.images}" as="image" iteration="i">
	
						<f:if condition="{i.isFirst}">
							<!--<c:link.index index="{index}">-->
								<f:image src="{image.originalResource.publicUrl}" alt="" maxWidth="132" maxHeight="102" class="img-responsive" />
							<!--</c:link.index>-->
						</f:if>
					</f:for>				
				</f:then>
				<f:else>
					<img class="img-responsive" src="/fileadmin/user_upload/mitarbeiter/Allgemein/ex-rstahl.png" width="132" height="97" alt="">
				</f:else>
				
				</f:if>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
		<div class="teaser-text">
			<f:if condition="{event.abstract}">
					<f:then>
						<f:format.html parseFuncTSPath="lib.parseFunc"><p>{event.abstract}</p></f:format.html>
					</f:then>
					<f:else>
						<f:format.crop maxCharacters="180" append="&nbsp;[...]">
							<f:format.stripTags>{event.description}</f:format.stripTags>
						</f:format.crop>
					</f:else>
				</f:if>
			<f:if condition="{event.description}"><c:link.index index="{index}" class="more">	<f:translate key="more" /></c:link.index></f:if>
		</div>
	</div>
</div></f:then>
    <f:else>
	   <div class="article ne_03 <t:ReplaceString string='{event.organizer}' searchFor=' ' replaceWith='_' />">

	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 nopadding">
		<div class="news-img-wrap">
			<div class="outer">
				<div class="media calendarize-item">
					<f:for each="{event.images}" as="image" iteration="i">
						<f:if condition="{i.isFirst}">
							<!--<c:link.index index="{index}">-->
								<f:image src="{image.originalResource.publicUrl}" alt="" maxWidth="132" maxHeight="102" class="img-responsive" />
							<!--</c:link.index>-->
						</f:if>
					</f:for>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
		<div class="header_cate">
		<span class="news-list-date"><f:render partial="DateInformation" arguments="{index: index}" /></span>
		<span class="news-list-category">{event.organizer}</span>
	</div>
		<div class="header">
		<f:if condition="{event.description}"><c:link.index index="{index}" class="more">
			<f:render partial="{index.configuration.partialIdentifier}/Title" arguments="{index: index}" />
		</c:link.index>
		</f:if>
		</div>
	</div>
</div>
	</f:else>
</f:if>
</f:alias>