{namespace c=HDNET\Calendarize\ViewHelpers}
{namespace t=GeorgRinger\News\ViewHelpers}
<f:alias map="{event: index.originalObject}">

<div class="col-sm-4 col-xs-12 content_box_horizontal">
	<div class="teaser-text">
			<p><span class="news-list-category">{event.organizer}</span></p>
			<p><span class="news-list-date"><f:render partial="DateInformation" arguments="{index: index}" /></span></p>
			<h3><f:render partial="{index.configuration.partialIdentifier}/Title" arguments="{index: index}" /></h3>
			<f:if condition="{event.description}"><c:link.index index="{index}" class="more">	<f:translate key="more" /></c:link.index></f:if>
	</div>
</div>

</f:alias>