<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
	=====================
		Templates/News/List.html
-->

<f:section name="content">
  <f:if condition="{news}">
    <f:switch expression="{settings.templateLayout}">
      <f:case value="0">
        <div class="content-container">
          <div class="row">
            <div class="col-xs-12">
              <n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}">
                <f:for each="{paginatedNews}" as="newsItem">
                  <f:render partial="List/Item" arguments="{newsItem: newsItem, settings:settings}"/>
                </f:for>
              </n:widget.paginate>
            </div>
          </div>
        </div>
      </f:case>
      <f:case value="1">
        <div class="col-xs-12">
          <f:for each="{news}" as="newsItem" iteration="iteration">
            <f:if condition="{iteration.index} == 0">
			 <f:if condition="{media}">
			 <f:then>
				<f:render partial="Detail/FalMediaContainer" arguments="{media: newsItem.falRelatedFiles, settings:settings}" />
			</f:then>
			<f:else>
				<img src="/fileadmin/user_upload/bildbox.png"  class="img-responsive">
			</f:else>
			
			  
			 </f:if>
            </f:if>
          </f:for>
          <!--<img style="width:100%;height:100%;" src="/fileadmin/user_upload/bildbox.png" width="1300" height="342" alt="">--> 
        </div>
        <div class="newsbox_bildboxraster">
        <div class="content-container">
          <div class="row">
            <div class="col-xs-12">
               <div class="newsbox_bildboxraster_content">
                <f:for each="{news}" as="newsItem" iteration="iteration">
                  <f:render partial="List/Item_home_l" arguments="{newsItem: newsItem,iteration: iteration, settings:settings}"/>
                </f:for>
				</div>
              </div>
            </div>
          </div>
        </div>
      </f:case>
      <f:case value="2">
        <div class="content-container">
          <div class="row">
            <div class="col-xs-12 headline-row">
              <h2 class=" replace_news_subline">Alle Produkt news Ansehen</h2>
              <span class="more_news replace_news_header">Aktuelle Produkt Newssss</span> </div>
            <div class="col-xs-12 content-row headline-with-link">
			<div class="row">
              <f:for each="{news}" as="newsItem"  iteration="iteration">
                <f:render partial="List/Item_home" arguments="{newsItem: newsItem,iteration: iteration, settings:settings}"/>
              </f:for>
			  </div>
            </div>
          </div>
        </div>
        </div>
      </f:case>
      <f:case value="3">
        <div class="content-container">
          <div class="row sameheight">
            <div class="col-xs-12 headline-row">
              <h2 class=" replace_news_subline">Alle Produkt news Ansehen</h2>
              <span class="more_news replace_news_header">Aktuelle Produkt Newssss</span> </div>
            <div class="col-xs-12 content-row newsbox-horizontal headline-with-link ">
			<div class="row">
              <f:for each="{news}" as="newsItem"  iteration="iteration">
                <f:render partial="List/Item_home_zweier" arguments="{newsItem: newsItem,iteration: iteration, settings:settings}"/>
              </f:for>
			 </div>
            </div>
          </div>
        </div>
      </f:case>
      <f:case value="4">
        <div class="content-container">
          <div class="row sameheight">
            <div class="col-xs-12 headline-row">
              <h2 class=" replace_news_subline">Alle Produkt news Ansehen</h2>
              <span class="more_news replace_news_header">Aktuelle Produkt Newssss</span> </div>
            <div class="col-xs-12 content-row newsbox-horizontal headline-with-link">
			<div class="row">
              <f:for each="{news}" as="newsItem"  iteration="iteration">
                <f:render partial="List/Item_home_vertikal" arguments="{newsItem: newsItem,iteration: iteration, settings:settings}"/>
              </f:for>
            </div>
			</div>
          </div>
        </div>
      </f:case>
      <f:case value="5">
        <div class="content-container">
          <div class="row">
            <div class="col-xs-12">
              <n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}" initial="{offset:settings.offset,limit:settings.limit}">
                <f:for each="{paginatedNews}" as="newsItem" iteration="iterator">
                  <f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                </f:for>
              </n:widget.paginate>
            </div>
          </div>
        </div>
      </f:case>
      <f:case value="6">
        <div class="news_years_view">
          <n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}">
            <f:for each="{paginatedNews}" as="newsItem">
              <f:render partial="List/Item" arguments="{newsItem: newsItem, settings:settings}"/>
            </f:for>
          </n:widget.paginate>
        </div>
      </f:case>
      <f:case value="7">
        <div class="news_feed blue">
          <n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}">
            <f:for each="{paginatedNews}" as="newsItem">
              <f:render partial="List/Item" arguments="{newsItem: newsItem, settings:settings}"/>
            </f:for>
          </n:widget.paginate>
        </div>
      </f:case>
      <f:case value="8">
        <div class="news_feed"></div>
      </f:case>
    </f:switch>
  </f:if>
</f:section>
</html>