<?php

/**
 * @copyright Copyright (c) Metaways Infosystems GmbH, 2012
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 */
$enc = $this->encoder();


$listTarget = $this->config( 'client/html/catalog/medialist/url/target' );
$listController = $this->config( 'client/html/catalog/medialist/url/controller', 'Catalog' );
$listAction = $this->config( 'client/html/catalog/medialist/url/action', 'medialist' );
$listConfig = $this->config( 'client/html/catalog/medialist/url/config', array() );
$listType = $this->config( 'client/html/catalog/medialist/type', 'datasheet' );

$listParams = array('f_listtype'=>$listType);
$params = $this->param();

$filters = $this->get('listMediaFilters', array());
$attrTypes = $this->get( 'attributeTypes', array() );

 foreach( array('f_sort', 'f_listtype') as $name ) {
        if(isset($params[$name]) && !empty($params[$name])) {
            $listParams[$name] = $params[$name]; 
        }
 }
$url = $this->url( $listTarget, $listController, $listAction, $listParams, array(), $listConfig );

$phrase = $enc->attr( $this->param( 'f_search' ) );
$name = $enc->attr( $this->formparam( 'f_search' ) );
$hint = $this->translate( 'client/html', 'WebCode' );
$selValue=false;
if(!empty($phrase)){
    $selValue=true;
}

?>
        <form class="aimeos media-catalog-filter" method="POST" action="<?php echo $enc->attr( $url ); ?>">
        <?php foreach ($listParams as $key => $val) : ?>
              <?php if(is_array($val)) : ?>
                  <?php foreach ($val as $k => $v) : ?>
                      <input type="hidden" name="ai[<?php echo $key ?>][<?php echo $k ?>]" value="<?php echo $v ?>" />
                  <?php endforeach; ?>
              <?php else: ?>
                   <input type="hidden" name="ai[<?php echo $key ?>]" value="<?php echo $val ?>" />
              <?php endif; ?>
        <?php endforeach; ?>
<div class="media-filter-search">
    <input class="value" type="text" name="<?php echo $name; ?>" value="<?php echo $phrase; ?>" placeholder="<?php echo $hint; ?>"></input>
    <button class="mediabutton" type="button"><?php echo $enc->html( $this->translate( 'client/html', 'Go' ), $enc::TRUST ); ?></button>
</div>        
        
<?php foreach( $filters as $type => $attrItems ) : ?>
                <?php list($firstItem) = array_values($attrItems); ?>
                <?php $isAttribute = $firstItem instanceof MShop_Attribute_Item_Interface || $firstItem instanceof MShop_Text_Item_Interface; ?>
                <?php $isText = $firstItem instanceof MShop_Text_Item_Interface; ?>
                <?php if($isAttribute): ?>
	                <div class="select_box_1">
	                <legend><?php echo $enc->html( $this->translate( 'client/html',$attrTypes[$type]), $enc::TRUST ); ?></legend>
	                <select class="selecter selecter-element download_select_attribute" id="attr-<?php echo $enc->attr( $type ); ?>" name="<?php echo $enc->attr( $this->formparam( array( 'f_attrib_id', $type ) )); ?>">
				        <?php foreach($attrItems as $attribute): ?>
    				        <?php if(isset($params['f_attrib_id'][$type]) && $params['f_attrib_id'][$type]==$attribute->getId()) : $selValue=true; ?>
    				           <option value="<?php echo $enc->attr( $attribute->getId() ); ?>" <?php echo (isset($params['f_attrib_id'][$type]) && $params['f_attrib_id'][$type]==$attribute->getId()) ? "selected" : "" ; ?>><?php echo $enc->html( $isText ? $attribute->getContent() : $attribute->getLabel(), $enc::TRUST ); ?></option>
    				        <?php endif;?>
				        <?php endforeach; ?>
				        <option value=""><?php echo $enc->html( $this->translate( 'client/html','Select'), $enc::TRUST ); ?></option>
				        <?php foreach($attrItems as $attribute): ?>
    				        <?php if(!isset($params['f_attrib_id'][$type]) || $params['f_attrib_id'][$type]!=$attribute->getId()) : ?>
    				        	<option value="<?php echo $enc->attr( $attribute->getId() ); ?>" ><?php echo $enc->html( $isText ? $attribute->getContent() : $attribute->getLabel(), $enc::TRUST ); ?></option>
    				        <?php endif;?>
				        <?php endforeach; ?>
				    </select>
				    </div>
			    <?php endif; ?>
<?php endforeach; ?>

        <div class="attribute-checkbox">
<?php /*?>        
            <div class="checkbox_div">
                <input type="checkbox" name ="<?php echo $enc->attr( $this->formparam( array( 'is_german') )); ?>" value="1" <?php echo isset($params['is_german'])?'checked':'' ?>><span><?php echo $enc->html($this->translate( 'client/html','Only German'), $enc::TRUST ); ?></span></input>
            </div>
<?php */ ?>            
            <div class="checkbox_div">
                <input type="checkbox" name ="<?php echo $enc->attr( $this->formparam( array( 'is_certificate') )); ?>" value="1" <?php echo isset($params['is_certificate'])?'checked':'' ?>><span><?php echo $enc->html($this->translate( 'client/html','Certificate'), $enc::TRUST ); ?></span></input>
            </div>
            <div class="checkbox_div">
                <input type="checkbox" name ="<?php echo $enc->attr( $this->formparam( array( 'is_declaration') )); ?>" value="1" <?php echo isset($params['is_declaration'])?'checked':'' ?>><span><?php echo $enc->html($this->translate( 'client/html','Declaration of conformity'), $enc::TRUST ); ?></span></input>
            </div>
            <?php /*
            <div class="checkbox_div">
                <input type="checkbox" name ="<?php echo $enc->attr( $this->formparam( array( 'is_control_drawing') )); ?>" value="1" <?php echo isset($params['is_control_drawing'])?'checked':'' ?>><span><?php echo $enc->html($this->translate( 'client/html','Control Drawings'), $enc::TRUST ); ?></span></input>
            </div>
            */?>
        </div>
        
        <?php if($selValue) :?>
            <div>
    		    <button type="button" class="button blue clear"><span><?php echo $enc->html( $this->translate( 'client/html','Clear selection'), $enc::TRUST ); ?></span></button>
    	    </div>
	    <?php endif;?>
        
              
        </form>


