<?php

/**
 * @copyright Copyright (c) Metaways Infosystems GmbH, 2012
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 */
$enc = $this->encoder();


$listTarget = $this->config( 'client/html/catalog/medialist/url/target' );
$listController = $this->config( 'client/html/catalog/medialist/url/controller', 'Catalog' );
$listAction = $this->config( 'client/html/catalog/medialist/url/action', 'medialist' );
$listConfig = $this->config( 'client/html/catalog/medialist/url/config', array() );
$listType = $this->config( 'client/html/catalog/medialist/type', 'data_sheets' );

$listParams = array('f_listtype'=>$listType);
$params = $this->param();

$filters = $this->get('listMediaFilters', array());

    foreach( array('f_attrid', 'f_sort', 'f_listtype') as $name ) {
        if(isset($params[$name]) && !empty($params[$name])) {
            $listParams[$name] = $params[$name]; 
        }
    }
$url = $this->url( $listTarget, $listController, $listAction, $listParams, array(), $listConfig );
 
$phrase = $enc->attr( $this->param( 'f_search' ) );
$name = $enc->attr( $this->formparam( 'f_search' ) );
$hint = $this->translate( 'client/html', 'WebCode' );
$selValue=false;
if(!empty($phrase)){
    $selValue=true;
}

?>
        <form class="aimeos media-catalog-filter" method="POST" action="<?php echo $enc->attr( $url ); ?>">
        <?php foreach ($listParams as $key => $val) : ?>
              <?php if(is_array($val)) : ?>
                  <?php foreach ($val as $k => $v) : ?>
                      <input type="hidden" name="ai[<?php echo $key ?>][<?php echo $k ?>]" value="<?php echo $v ?>" />
                  <?php endforeach; ?>
              <?php else: ?>
                   <input type="hidden" name="ai[<?php echo $key ?>]" value="<?php echo $val ?>" />
              <?php endif; ?>
        <?php endforeach; ?>
        
<div class="media-filter-search">
    <input class="value" type="text" name="<?php echo $name; ?>" value="<?php echo $phrase; ?>" placeholder="<?php echo $hint; ?>"></input>
    <button class="mediabutton" type="button"><?php echo $enc->html( $this->translate( 'client/html', 'Go' ), $enc::TRUST ); ?></button>
</div>
        
<?php foreach( $filters as $type => $attrItems ) : ?>
                <?php list($firstItem) = array_values($attrItems); ?>
                <?php $isProduct = $firstItem instanceof MShop_Product_Item_Interface; ?>
                <?php $isAttribute = $firstItem instanceof MShop_Catalog_Item_Interface || $firstItem instanceof MShop_Product_Item_Interface; ?>
                <?php if($isAttribute): ?>
	                <div class="select_box_1">
	                <legend><?php echo $enc->html( $this->translate( 'client/html', $isProduct ? 'Sub Series': ($type>3? 'Sub ':'').'Category'), $enc::TRUST ); ?></legend>
	                <?php $nameValue = $isProduct ? array( 'd_prodid') : array('f_catids', $type) ;  ?>
	                <select class="selecter selecter-element download_select" id="attr-<?php echo $enc->attr( $type ); ?>" name="<?php echo $enc->attr( $this->formparam( $nameValue ) ); ?>">
	                    <?php foreach($attrItems as $attribute): ?>
		                <?php   $id = $attribute->getId(); ?>
		                <?php $isChecked = (isset( $params['f_catids'] ) && $params['f_catids'][$type]==$id) || (isset($params['d_prodid']) && $params['d_prodid']==$id)  ; ?>
		                	<?php if($isChecked): $selValue=true; ?>
    		                <option value="<?php echo $id; ?>" <?php echo ($isChecked ? 'selected' : ''); ?> >
    		                            <?php $dName = reset($attribute->getRefItems('text', $isProduct? 'TitleProductSubSeries' :'DisplayName')); ?> 
                                        <?php echo $enc->html( ($dName && !empty($dName->getContent())) ? $dName->getContent() :  $attribute->getName(), $enc::TRUST ); ?>
    		                </option>
    		                <?php endif;?>
			            <?php endforeach; ?>
	                    <option value=""><?php echo $enc->html( $this->translate( 'client/html','Title Selection'), $enc::TRUST ); ?></option>
	                    <?php foreach($attrItems as $attribute): ?>
		                <?php   $id = $attribute->getId(); ?>
		                <?php $isChecked = (isset( $params['f_catids'] ) && $params['f_catids'][$type]==$id) || (isset($params['d_prodid']) && $params['d_prodid']==$id)  ; ?>
		                    <?php if(!$isChecked): ?>
    		                <option value="<?php echo $id; ?>" <?php echo ($isChecked ? 'selected' : ''); ?> >
    		                            <?php $dName = reset($attribute->getRefItems('text', $isProduct? 'TitleProductSubSeries' :'DisplayName')); ?> 
                                        <?php echo $enc->html( ($dName && !empty($dName->getContent())) ? $dName->getContent() :  $attribute->getName(), $enc::TRUST ); ?>
    		                </option>
    		                <?php endif;?>
			            <?php endforeach; ?>
				    </select>
				    </div>
			    <?php endif; ?>
<?php endforeach; ?>
   
            <?php if($selValue) :?>
            <div>
    		    <button type="button" class="button blue clear"><span><?php echo $enc->html( $this->translate( 'client/html','Clear selection'), $enc::TRUST ); ?></span></button>
    	    </div>
	        <?php endif;?>   
        </form>


