
<f:layout name="Default" />

<f:section name="main">
<f:flashMessages />
	<div class="owl-carousel location_carousel">
		<f:for each="{contactPersons}" as="contactPerson">
			<div class="carousel-item">
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
					<f:if condition="{contactPerson.image}">
						<f:then>
							<div class="hero_image">
								 <f:image src="{contactPerson.image.uid}" alt="{contactPerson.image.alternative}" title="{contactPerson.image.title}" treatIdAsReference="1" class="img-responsive" />
							</div>
						</f:then>
						<f:else>
							<img class="img-responsive" src="/fileadmin/user_upload/kontaktbox.png" width="340" height="303" alt="">
						</f:else>
					</f:if>
				</div>
				<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
					<h4>{contactPerson.firstName} {contactPerson.lastName}</h4>
					<f:if condition="{contactPerson.position}">
						{contactPerson.position}<br>
					</f:if>
					<br>
					<f:if condition="{contactPerson.mail}">
						<f:then>
							<h5 class="email"><a href="mailto:{contactPerson.mail}">{contactPerson.mail}</a></h5>
						</f:then>
						<f:else>
							<h5>&nbsp;</h5>
						</f:else>
					</f:if>
					<f:if condition="{contactPerson.phone}">
						<f:then>
							<h5 class="number">{contactPerson.phone}</h5>
						</f:then>
						<f:else>
							<h5>&nbsp;</h5>
						</f:else>
					</f:if>
					<f:if condition="{contactPerson.mobile}">
						<f:then>
							<a href="tel:{contactPerson.mobile}"><h5 class="number">{contactPerson.mobile}</h5></a>
						</f:then>
						<f:else>
							<h5>&nbsp;</h5>
						</f:else>
					</f:if>		
				</div>
			</div>
		</f:for>
	</div>
<div class="clearfix"></div>
</f:section>