/***********************breadcrumb***********************/
.breadcrumb {
	background-color: transparent;
}
.breadcrumb ul {
	float: left;
	width: 100%;
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}
.breadcrumb ul li, .breadcrumb ul li a {
	color: #d0d0d0;
	font-size: 15px;
	font-family: "UniversLTW01-57Condense 723821";
	display: inline-block;
	float: left;
	padding: 0;
}
.breadcrumb ul li {
	padding-left: 7px;
}
.breadcrumb ul li:first-child {
	padding-left: 0;
}
.breadcrumb ul li, .breadcrumb ul li a::after {
	content: " >";
	padding-left: 5px;
	padding-right: 1px;
}
.breadcrumb ul li:last-child a::after {
	display: none;
}
.breadcrumb ul li, .breadcrumb ul li a:hover {
	color: #eb7d00;
}
.breadcrumb ul li, .breadcrumb ul li a:hover::after {
	color: #d0d0d0;
}
/***********************product_detail***********************/
.product_detail {
}
.product_detail .description.padding-7 {
	padding-left: 7.5px !important;
	padding-right: 15px !important;
}
.product_detail .product-media.padding-7 {
	padding-left: 15px !important;
	padding-right: 7.5px !important;
}
.product_detail h3 {
	font-size: 34px;
	line-height: 34px;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.product_detail h3.grey {
	color: #929292;
	text-transform: none;
}
.product_detail .icons_area {
	float: left;
	width: 100%;
	margin-top: 4px;
	margin-bottom: 58px;
	display: block;
}
.product_detail .icon {
	float: left;
	display: block;
	margin-left: 30px;
	position: relative;
}
.product_detail .icon .hover {
	position: absolute;
	font-size: 17px;
	font-family: "UniversLTW01-57Condense 723821";
	color: #929292;
	background-color: #ededed;
	display: none;
	height: 34px;
	width: 170px;
	right: 5px;
	top: 0;
	padding: 3px 5px;
	transform: translate3d(100%, 50%, 0);
	z-index: 2;
}
.product_detail .icon:hover .hover {
	display: block;
}
.product_detail .icons_area div:first-child {
	margin-left: 0;
}
.product_detail .highlights {
	width: 100%;
	float: left;
	margin-bottom: 40px;
}
.product_detail .highlights li {
	padding-left: 23px;
	padding-bottom: 15px;
}
.product_detail .table_details {
	float: left;
	width: 100%;
}
.product_detail .table_details thead tr th {
	color: #ffffff;
	font-size: 17px;
	font-family: "UniversLTW01-67BoldCn";
	text-align: center;
	background-color: #13387e;
	font-weight: normal;
	line-height: 21px;
	border-right: 1px solid #fff;
	border-left: 2px solid #fff;
	padding: 24px 0;
}
.product_detail .table_details thead tr th:last-child {
	border: 0 none;
	background-color: #fff;
}
.product_detail .table_details tr td {
	width: 12.5%;
	font-size: 17px;
	color: #000101;
	height: 53px;
	vertical-align: middle;
	padding: 0 10px;
	border-right: 1px solid #d0d0d0;
	font-family: "UniversLTW01-67BoldCn";
	line-height: 17px;
}
.product_detail .table_details tr td:last-child {
	color: #020202;
	font-style: normal !important;
	font-family: "UniversLTW01-57Condense 723821";
	padding-left: 20px;
}
.product_detail .table_details tr td:first-child {
	color: #04285c;
	width: 2.7%;
}
.product_detail .table_details tr td a {
	color: #13387e;
}
.product_detail .table_details tr td:last-child em {
	font-style: normal !important;
}
.product_detail .table_details tr {
	border-bottom: 1px solid #000101;
}
.product_detail .table_details tr:first-child {
	border-top: 3px solid #04285c;
}
.product_detail .table_details tr:nth-child(2n) {
	background-color: #ededed;
}
.product_detail .table_details tr:last-child {
	border-bottom: 0 none;
}
.product_detail .table_details tr td:last-child {
	border-right: 0 none;
}
.product_detail .table_details table thead > tr {
	border-bottom: 2px solid #000 !important;
}
.product_detail .table_details table thead > tr > td:first-child {
	border-left: 0 none;
}
.product_detail .table_details table thead > tr > td:last-child {
	border-right: 0 none;
}
.product_detail .table_details table tbody tr {
	border-top: 1px solid #000;
}
#product-images-carousel, #product-images-carousel .item {
	width: 100%;
	float: left;
}
#product-images-carousel .item {
	position: relative;
}
#product-images-carousel .item a {
	width: 34px;
	height: 34px;
	position: absolute;
	cursor: poitner;
	background: url('/fileadmin/user_upload/gfx/lightbox_icon.png') no-repeat scroll;
	background-size: 34px 34px;
	top: 17px;
	right: 17px;
}
.product-media .images {
	float: left;
	width: calc(100% + 5px);
	margin-left: -2px;
}
.product-media .images > a > div {
	width: 25%;
	float: left;
	display: block;
	border-top: 4px solid #fff;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
	position: relative;
}
.product-media .images > a > div > img {
	width: 100%;
	height: auto;
	float: left;
}
.product-media .images > a > div > .title {
	width: 100%;
	float: left;
	height: 34px;
	padding: 4px 10px;
	color: #fff;
	font-size: 17px;
	font-family: "UniversLTW01-67BoldCn";
	background-color: #072a5b;
}
.product-media .images > a > div.video::after {
	content: "";
	background: url('/fileadmin/user_upload/gfx/icon_play.png') no-repeat scroll;
	width: 34px;
	height: 34px;
	background-size: 34px 34px;
	position: absolute;
	left: 50%;
	margin-left: -17px;
	top: calc(50% - 17px);
	margin-top: -17px;
}
.product-media .images > a:hover > div > .title {
	background-color: #eb7d00;
}
.product_tech_specs .headline-row > h2::before, .product_download .headline-row > h2::before, .product_accessories .headline-row > h2::before, .similar_products .headline-row > h2::before {
	content: "";
	background: url('/fileadmin/user_upload/gfx/icon_tech_specs.png') no-repeat scroll;
	width: 61px;
	height: 34px;
	background-size: 61px 34px;
	position: static;
	display: block;
	float: left;
	margin-top: 13px;
	margin-right: 37px;
}
.product_download {
	background-color: #ededed;
}
.product_download .headline-row > h2::before {
	background-image: url('/fileadmin/user_upload/gfx/icon_download.png');
	width: 36px;
	height: 45px;
	background-size: 36px 45px;
}
.product_download .content_modul ul, .product_accessories .content_modul ul {
	max-width: none;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	position: relative;
	z-index: 2;
	border: 0;
	padding-top: 5px;
	float: left;
	width: 100%;
}
.product_download-line-slide, .product_accessories-line-slide {
	width: 100vw;
	float: left;
	height: 3px;
	background-color: #fff;
	margin-bottom: 42px;
	border-top: 1px solid #f7f7f7;
	border-bottom: 1px solid #f7f7f7;
	transform: translateX(-20%);
}
.product_download ul li, .product_accessories ul li {
	border: 0 none;
	margin-bottom: 14px;
	font-size: 17px;
	line-height: 21px;
	font-family: "UniversLTW01-57Condense 723821";
	text-transform: uppercase;
	padding: 24px 0px;
	margin: 0 24px;
	border: 0 none;
	float: left;
	list-style: none;
	cursor: pointer;
	padding-bottom: 38px;
}
.product_download ul li:first-child, .product_accessories ul li:first-child {
	margin-left: 0;
	padding-left: 0;
}
.product_download ul li:last-child, .product_accessories ul li:last-child {
	margin-right: 0;
	padding-right: 0;
}
.product_download ul li.tab_slider, .product_accessories ul li.tab_slider {
	padding: 0;
	height: 19px;
	border: 2px solid #fff;
	bottom: -11px;
	margin-left: -2px;
}
/*.product_download a.button {
	position: absolute;
	right: 7.5px;
	margin-top: 19px;
	z-index: 2;
}*/
.product_download .details_container, .product_download .detail {
	width: 100%;
	float: left;
}
.product_download .detail {
	display: none;
}
.product_download .donwloadtable {
	width: 100%;
	table-layout: fixed;
}
.product_download .donwloadtable thead tr th {
	color: #ffffff;
	font-size: 17px;
	font-family: "UniversLTW01-67BoldCn";
	text-align: center;
	background-color: #13387e;
	font-weight: normal;
	line-height: 21px;
	border-right: 7.5px solid #ededed;
	border-left: 7.5px solid #ededed;
	padding: 24px 0;
	text-align: left;
	padding-left: 28px;
}
.product_download .donwloadtable thead tr th:first-child {
	border-left: 0 none;
}
.product_download .donwloadtable thead tr th:last-child {
	border-right: 0 none;
	visibility: hidden;
}
.product_download .donwloadtable tbody tr {
	color: #020202;
	font-family: "UniversLTW01-57Condense 723821";
	font-size: 17px;
}
.product_download .donwloadtable tbody tr td {
	padding: 3px 28px;
	border-bottom: 1px solid #020202;
}
.product_download .donwloadtable tbody tr td:last-child {
	border-bottom: 0 none;
}
.product_download .donwloadtable tbody tr:last-child td {
	border-bottom: 0 none;
}
.product_download .donwloadtable tbody tr td a.button.blue {
	background-image: url('/fileadmin/user_upload/gfx/button_arrowx2_blue_down.png');
	background-size: 16px 23px;
	padding: 10px 39px 10px 12px;
	background-position: 93.3% 8px;
}
.product_download .donwloadtable tbody tr td a.button.blue span {
	position: relative;
	top: 2px;
}
.product_download .donwloadtable tbody tr td a span::before {
	content: "";
	background: url('/fileadmin/user_upload/gfx/pdf_icon.png') no-repeat scroll;
	background-size: 57px 20px;
	cursor: pointer;
	width: 57px;
	height: 20px;
	display: block;
	float: left;
	margin-right: 10px;
	margin-top: -2px;
}
.product_download .donwloadtable tbody tr td > img {
	width: 44px;
	height: 29px;
	margin-right: 14px;
}
.product_accessories {
	background-color: #4e6eb4;
}
.product_accessories .headline-row h2 {
	color: #ffffff;
}
.product_accessories .headline-row > h2::before {
	background-image: url('/fileadmin/user_upload/gfx/icon_accessories.png');
	width: 44px;
	height: 44px;
	background-size: 44px 44px;
}
.product_accessories ul li {
	color: #fff;
}
.product_accessories .detail {
	float: left;
	width: 100%;
	padding: 15px;
	background-color: #fff;
	margin-bottom: 17px;
	cursor: pointer;
}
.product_accessories .detail h3 {
	font-size: 21px;
	line-height: 25px;
	margin-top: -5px;
}
.product_accessories .detail .images {
	float: left;
	max-width: 138px;
	border: 1px solid #d0d0d0;
}
.product_accessories .detail .images img {
	width: 100%;
	height: auto;
	float: left;
}
.product_accessories .detail .description {
	float: left;
	width: calc(100% - 138px);
	padding-left: 34px;
	padding-right: 80px;
}
.product_accessories .detail .description {
	background: url('/fileadmin/user_upload/gfx/accessories_arrow.png') no-repeat scroll;
	background-size: 12px 22px;
	background-position: right 30px top 42px;
}
.product_accessories .detail .copy {
	float: right;
	width: calc(100% - 260px);
	margin-top: 13px;
	padding-left: 27px;
}
.product_accessories .detail .copy p {
	font-size: 12px;
	line-height: 17px;
	color: #929292;
}
.product_accessories .detail .data {
	float: left;
	width: auto;
	max-width: 250px;
	margin-top: 7px;
}
.product_accessories .detail .data table {
	color: #929292;
	font-size: 17px
}
.product_accessories .detail .data table tr td {
	padding: 3px 32px 3px 0;
}
.product_accessories .detail .data table tr td:first-child {
	font-family: "UniversLTW01-67BoldCn";
}
.product_accessories .detail .data table tr td:last-child {
	font-family: "UniversLTW01-57Condense 723821";
}
.center {
	width: 100%;
	float: left;
	text-align: center;
}
.center a.button {
	display: inline-block;
	float: none;
}
.product_accessories .center a.button {
	margin-top: 51px;
	margin-bottom: -6px;
}
.similar_products .headline-row > h2::before {
	background-image: url('/fileadmin/user_upload/gfx/icon_similar.png');
	width: 50px;
	height: 45px;
	background-size: 50px 45px;
}
.product_detail_teaser {
	background-color: #ededed;
}
.product_detail_teaser .headline-row h2 {
	color: #072a5b;
}
