bold {
	font-weight: bold;
}
.product_filter bold, .product_filter b {
	font-weight: bold;
	display: block;
	margin-top: 29px;
	margin-bottom: 12px;
}
.product_filter bold:first-child, .product_filter b:first-child {
	margin-top: 0;
}
.product_filter p b, .product_filter p bold {
	margin-top: auto;
	margin-bottom: auto;
    display: inline;
}
/*** PRODUCTS CATALOG FIX ***/
.teaserboxen_normal_drei_raster_image_content h3 > a, .direct_flyout .flyout_container ul li > a {
	color: #fff;
}
.direct_flyout .flyout_container ul li:hover > a {
	color: #eb7d00;
}
.direct_flyout .flyout_container ul li:hover > .flyout_container {
	display: block;
	top: auto;
	margin-top: -52px;
}
.flyout_container ul li.go_back {
	color: #eb7d00 !important;
}
.flyout_container ul li.go_back:hover::after {
	display: none !important;
}
.teaserboxen_normal_drei_raster.direct_flyout.module .teaserboxen_normal_drei_raster_image_content {
	cursor: pointer !important;
}
.flyout_container ul li.go_back::before {
	content: "";
	background: url(/fileadmin/user_upload/gfx/arrow_back_hover.png) no-repeat scroll center center rgba(0,0,0,0);
	background-size: cover;
	width: 14px;
	height: 24px;
	float: left;
	margin-right: 17px;
	top: -4px;
	position: relative;
}
.product_teaser_row.bilder_accordion .teaserboxen_normal_drei_raster_image {
	max-height: 198px;
	overflow: hidden;
}
.container > form[method="POST"] {
	width: 100%;
	max-width: 1155px;
	margin: 0 auto;
	position: relative;
}
.container > form[method="POST"] .catalog-filter-search {
	position: absolute;
	right: 0;
	z-index: 4;
}
.catalog-filter-attribute {
	float: left;
}
.product_series .content-row > .list_item {
	margin-bottom: 15px;
}
.product_series .list_item h3 > a {
	color: #072a5b;
}
/*new*/
form.aimeos.catalog-filter {
	width: 100%;
	float: none;
	position: relative;
	#max-width: 1166px;
	margin: 0 auto;
	padding-left: 8px;
	padding-right: 8px;
	/*background-color: #fff;*/
}
.subcontent-wrap form.aimeos.catalog-filter{
	float: left;
}
/*.catalog-filter .catalog-filter-attribute .attribute-lists, .catalog-filter-attribute, .catalog-filter .catalog-filter-attribute .attribute-lists, .module.gutter-8.product_filter, #content, body .catalog-filter-attribute .stahl-global-filter, body .catalog-filter-attribute .stahl-category-filter{
	background-color: #fff !important;
}*/
form.aimeos.catalog-filter > .module > .content-container {
	padding-left: 0;
	padding-right: 0;
}
.content-webcode{
	max-width: 1166px; 
	margin:auto; 
	position:relative; 
	#min-height: 40px;
}
.module .headline-row.headline-search-filter {
    margin-bottom: 20px !important;
}

.catalog-filter .catalog-filter-attribute .attribute-lists {
    margin: auto;
    max-width: 1166px;
    float: none !important;
}

.product_hero_extended {
    padding-top: 45px;
}









/* SEARCH */
.catalog-filter-search {
	/*
        margin-right: 68px;
	left: inheжrit !important;
    */
}
.catalog-filter-search {
	padding-bottom: 34px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 99;
}
.catalog-filter-search h2 {
	display: none;
}
.catalog-filter-search input {
	width: 360px;
	/*width: 292px;*/
	border: 2px solid #eaeaeb;
	border-radius: 0;
	padding-right: 83px;
	/*float: left;*/
	margin: 0;
	height: 68px;
}
.catalog-filter-search input:focus {
	outline: 0 none;
}
.catalog-filter-search > button.standardbutton {
	position: absolute;
	width: 68px;
	height: 68px;
	top: 0;
	right: 0;
	/*right: -68px;*/
	border: 0 none;
	padding: 0;
	background: url('/fileadmin/user_upload/gfx/searchx2.png') no-repeat scroll center center rgba(0,0,0,0);
	background-size: 21px 21px;
	background-color: #04285c;
	background-position: center center;
}
/*.catalog-filter-search > button.standardbutton {*/
	/*left: inherit !important;*/
/*}*/
.catalog-filter-search > button.standardbutton:hover {
	background-color: #eb7d00;
}





.catalog-filter-search {
	/*top: 0;*/
	/*right: 0;*/
	/*z-index: 499;*/
	/*position: absolute;*/
	/*position: absolute !important;*/
	/*right: 0 !important;*/
	/*top: 0 !important;*/
	/*max-width: calc(100% - 95px);*/
}
/*.product_filter .catalog-filter-search {*/
    /*left: 62% !important;*/
    /*width: 480px;*/
/*}*/
/*.product_filter  .catalog-filter-search > button.standardbutton {*/
   /*left: 60.5% !important; */
/*}*/
.catalog-filter-search > button.standardbutton + a {
	position: absolute;
	bottom: 2px;
	width: 100%;
	left: 0;
	color: #aeaeae;
	font-size: 17px;
	line-height: 21px;
	text-transform: uppercase;
	font-family: "UniversLTW01-67BoldCn";
	font-weight: normal !important;
}
.catalog-filter-search > button.standardbutton + a::after {
	width: 6px;
	height: 12px;
	display: inline-block;
	content: "";
	background: url(/fileadmin/user_upload/gfx/accessories_arrow.png) no-repeat scroll center center rgba(0,0,0,0);
	background-size: cover;
	margin-left: 10px;
}
form.aimeos.catalog-filter h3 {
	padding: 0;
}
.direct_flyout .flyout_container ul li.hide_arrow:hover::after {
	display: none;
}
.product_series .list_item h3 {
	padding-top: 0 !important;
}
.product_series .list_item .text_block ul {
	padding-top: 1px !important;
}
.product_series .catalog-list-pagination .pagination, .product_item_table .catalog-list-pagination .pagination {
	width: 100%;
	float: left;
}
.button .selected-item, .button .total-items {
	float: none;
	display: inline-block;
}
.button[disabled] {
	opacity: 0.5 !important;
	cursor: pointer;
}
.product_item_table .col-xs-12.content-row + .col-xs-12 button {
	margin-top: 34px;
}
.product_series .catalog-list-pagination .browser, .product_item_table .catalog-list-pagination .browser {
	display: none;
}
.product_item_table .detail span.checkbox-alt {
	display: none;
	font-family: "UniversLTW01-57Condense 723821";
	background-color: #072a5b;
	color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	width: 410px;
	padding: 5px 15px;
	max-width: calc(100vw - 74px);
	transform: translateY(-121%);
}
#product-compare > .col-xs-12:first-child button[type=submit] + div {
	font-family: "UniversLTW01-57Condense 723821";
	color: #fff;
	float: left;
	clear: both;
	margin-top: -23px;
	margin-bottom: 26px;
	display: none;
}
#product-compare .checkbox_div label:hover + span.checkbox-alt {
	display: block;
}
#product-compare > .col-xs-12:first-child button[disabled] + div {
	display: none;
}
.product_item_table .detail .top h3 {
	padding-top: 0;
	width: auto;
}
.product_item_table .detail .top h3 a {
	color: #072a5b;
}
#product-compare > .col-xs-12:first-child button {
	margin: 34px 0;
}
.products_compare_table .table_wrapper .product_item > .head > .image img {
	max-height: 102px;
	width: auto !important;
}
.products_compare_table .close_table a {
	color: #04285c;
}
body .frame.default + .products_compare_table {
	margin-top: -196px !important;
	z-index: 3;
}
.product_tech_specs#accordion3 .table_details {
	margin-bottom: 34px;
}
.product_tech_specs#accordion3 .table_details tr:first-child {
	border-top: 1px solid #000 !important;
}
.product_detail .table_details tr:nth-child(odd) {
	background-color: #fff !important;
}
.product_tech_specs#accordion3 .table_details tr:nth-child(even) {
	background-color: #ededed !important;
}
.product_tech_specs#accordion3 .table_details tr:nth-child(odd) {
	background-color: #fff !important;
}
.product_tech_specs#accordion3 .table_details > table {
	margin-left: 0;
	margin-right: 0;
	min-width: 100%;
}
.webcode.module .table_details tr td {
	width: auto;
}
.webcode.module .catalog-filter-search {
	float: left;
}
button, button:active, button:focus, button:visited, input, input:focus, input:active {
	outline: none !important;
}
table.donwloadtable, .frame.default table.donwloadtable {
	margin-left: 0;
	margin-right: 0;
}
.product_download #certificate_detail .donwloadtable tbody tr td:last-child {
	min-width: 250px !important;
	width: 250px !important;
}
#certificate_detail table.donwloadtable {
	table-layout: auto;
}
.product_download #certificate_detail .donwloadtable tbody tr td {
	width: 15.3%;
}
.product_download #certificate_detail .donwloadtable tbody tr td a.button.blue {
	width: 100%;
}
.frame.default .product_accessories .detail h3 {
	padding-top: 0;
}
.product_accessories.module .detail .data {
	margin-top: 23px;
}
.product_accessories .detail .description {
	min-height: 138px;
}
.product_accessories.module .detail .description {
	background-position: right 30px top 50%;
}
.product_accessories .detail:hover {
	background-color: #ededed;
	transition: background 0.15s ease-in-out;
	-webkit-transition: background 0.15s ease-in-out;
	-ms-transition: background 0.15s ease-in-out;
	-moz-transition: background 0.15s ease-in-out;
}
.attribute-lists a.filter_clear {
	content: "";
	background: url('/fileadmin/user_upload/gfx/accordion_close_blue.png') no-repeat scroll center center rgba(0,0,0,0);
	background-size: 15px 15px;
	background-color: #fff;
	width: 15px;
	height: 15px;
	background-position: center center;
	cursor: pointer;
	position: absolute;
	right: 15px;
	top: 18px;
}
.catalog-filter-attribute .stahl-global-filter.complete fieldset .attribute-selected::after, .catalog-filter-attribute .stahl-category-filter.complete fieldset .attribute-selected::after {
	display: none;
}
.catalog-filter-attribute .attribute-lists > div > fieldset > ul > li:hover > input[type="checkbox"]::after, .catalog-filter-attribute .attribute-lists > div > fieldset > fieldset > ul > li:hover > input[type="checkbox"]::after {
	background-image: none;
}
.catalog-filter-attribute .attribute-lists > div > fieldset > ul > li > input[type="checkbox"]:checked::after, .catalog-filter-attribute .attribute-lists > div > fieldset > fieldset > ul > li > input[type="checkbox"]:checked::after {
	background: url('/fileadmin/user_upload/gfx/checkbox.png') no-repeat scroll center center rgba(0,0,0,0);
	background-size: 27px 23px;
	background-color: #fff;
	background-position: center center;
	opacity: 1;
}
.teaserboxen_normal_drei_raster_image img {
	height: auto;
	width: 100% !important;
	overflow: hidden !important;
	margin: 0 auto !important;
}
.teaserboxen_normal_drei_raster.direct_flyout.module img {
	height: auto !important;
}
.catalog-filter .catalog-filter-attribute .attribute-lists {
	width: 100%;
	float: left;
}
.attr-list.checkbox-list > button {
	display: block;
	padding: 15px 55px 15px 17px;
	border: 2px solid #fff;
	background: url('/fileadmin/user_upload/gfx/button_arrowx2_blue.png') no-repeat scroll;
	background-color: rgba(0,0,0,0.0);
	background-size: 23px 16px;
	background-position: 93.3% 15px;
	color: #1c2e4f;
	border-color: #1c2e4f;
	margin: 0 auto;
	margin-bottom: 8px;
	clear: both;
	float: left;
	margin-left: 50%;
	transform: translateX(-50%);
	margin-top: 5px;
	min-width: 174px;
}
.attr-list.checkbox-list > button > span {
	display: block;
	float: left;
	line-height: 17px;
	font-family: 'UniversLTW01-67BoldCn';
	text-transform: uppercase;
	font-size: 17px;
}
.attr-list.checkbox-list > button:hover {
	color: #fff !important;
	background-color: #eb7d00;
	border-color: #fff;
	background-image: url('/fileadmin/user_upload/gfx/button_arrowx2.png');
}
.head-search {
	display: none !important;
}
.in-page-share {
	z-index: 500 !important;
}
.catalog-filter-attribute.global_complete > .attribute-lists > .stahl-category-filter {
	display: block !important;
}
.catalog-filter-attribute.global_complete > .attribute-lists > .stahl-global-filter {
	background-color: #ededed;
	min-height: 118px;
}
.catalog-filter-attribute.global_complete > .attribute-lists > .stahl-global-filter fieldset > legend {
	text-align: left !important;
	height: 45px !important;
	padding: 17px 34px 0 !important;
}
.catalog-filter-attribute.global_complete > .attribute-lists > .stahl-global-filter fieldset > legend::after {
	display: none !important;
}
.catalog-filter-attribute.global_complete > .attribute-lists > .stahl-global-filter fieldset .attribute-selected::after {
	content: "";
	background: url('/fileadmin/user_upload/gfx/accordion_close_blue.png') no-repeat scroll center center rgba(0,0,0,0);
	background-size: 15px 15px;
	background-color: #fff;
	width: 15px;
	height: 15px;
	background-position: center center;
	cursor: pointer;
	position: absolute;
	right: 15px;
	top: 18px;
}
.catalog-filter-attribute .attribute-lists > div > fieldset ul li::after {
	content: "";
	width: 42px;
	height: 42px;
	background-color: #fff;
	border: 2px solid #cecece;
	position: absolute;
	cursor: pointer;
	left: 17px;
}
.catalog-filter-attribute .attribute-lists > div > fieldset ul li.checked::after {
	background: url('/fileadmin/user_upload/gfx/checkbox.png') no-repeat scroll center center rgba(0,0,0,0);
	background-size: 27px 23px;
	background-color: #fff;
	background-position: center center;
	opacity: 1;
}
.catalog-filter-attribute .attribute-lists > div > fieldset ul li input {
	z-index: 2;
	opacity: 0;
}
.catalog-filter-attribute .add_filter .center {
	top: -15px !important;
}
.catalog-filter-attribute .attribute-lists fieldset ul {
	z-index: 3 !important;
}
.product_category_headline_tabs .headline_tab > a {
	color: #fff;
}
.module .headline-row h2.short_h2 {
	#width: calc(100% - 444px) !important;
	max-width:100% !important;
}
.cat_wrapper .sameheight .col-lg-12:nth-child(1) h3{
	    margin-top: 8px !important;
}
.catalog-filter .module .cat_wrapper .headline-row.second_nesting h3 {
	margin-bottom: 8px !important;
}

.stahl-global-filter > fieldset:nth-child(1) {
	z-index: 20;
}
.stahl-global-filter > fieldset:nth-child(2) {
	z-index: 19;
}
.stahl-global-filter > fieldset:nth-child(3) {
	z-index: 18;
}
.stahl-global-filter > fieldset:nth-child(4) {
	z-index: 17;
}
.stahl-global-filter > fieldset:nth-child(5) {
	z-index: 16;
}
.stahl-global-filter > fieldset:nth-child(6) {
	z-index: 15;
}
.stahl-global-filter > fieldset:nth-child(7) {
	z-index: 14;
}
.stahl-global-filter > fieldset:nth-child(8) {
	z-index: 13;
}
.stahl-global-filter > fieldset:nth-child(9) {
	z-index: 12;
}
.stahl-global-filter > fieldset:nth-child(10) {
	z-index: 11;
}
.stahl-category-filter > fieldset:nth-child(1) {
	z-index: 10;
}
.stahl-category-filter > fieldset:nth-child(2) {
	z-index: 9;
}
.stahl-category-filter > fieldset:nth-child(3) {
	z-index: 8;
}
.stahl-category-filter > fieldset:nth-child(4) {
	z-index: 7;
}
.stahl-category-filter > fieldset:nth-child(5) {
	z-index: 6;
}
.stahl-category-filter > fieldset:nth-child(6) {
	z-index: 5;
}
.stahl-category-filter > fieldset:nth-child(7) {
	z-index: 4;
}
.stahl-category-filter > fieldset:nth-child(8) {
	z-index: 3;
}
.stahl-category-filter > fieldset:nth-child(9) {
	z-index: 2;
}
.stahl-category-filter > fieldset:nth-child(10) {
	z-index: 1;
}
ul.ui-autocomplete {
	padding: 11px 0;
	background-color: #fff;
	outline: none !important;
	border-radius: 0 !important;
	background-image: none;
	border: 1px solid #d0d0d0 !important;
}
ul.ui-autocomplete li.ui-menu-item {
	position: relative;
	cursor: pointer;
	float: left;
	width: 100%;
	list-style: none !important;
}
ul.ui-autocomplete li.ui-menu-item a {
	top: 0;
	left: 0;
	cursor: pointer;
	font-size: 17px;
	font-family: 'Univers LT W01_55 Roman1475956', 'Helvetica Neue';
	font-style: italic;
	font-weight: normal;
	color: #aeaeae !important;
	background-color: transparent !important;
	border: 0 none !important;
	outline: none !important;
	padding: 8px 15px;
}
ul.ui-autocomplete li.ui-menu-item a strong {
	font-family: 'UniversLTW01-67BoldCn';
	color: #072a5b;
}
ul.ui-autocomplete .ui-menu-item a {
	padding: 0;
}
ul.ui-autocomplete li.ui-menu-item a:hover, ul.ui-autocomplete .ui-menu-item a.ui-state-hover, ul.ui-autocomplete .ui-menu-item a.ui-state-active {
	background-color: #ededed !important;
	border: 0 none !important;
	outline: none !important;
	background-image: none !important;
	margin: 0;
}
/*** DOWNLOAD ***/
.product_download.medialist-datasheet, .product_download.medialist-certificate, .product_download.medialist-instruction, .product_download.medialist-3ddata {
	width: 100%;
	float: left;
	padding: 17px;
}
.media-filter-search > button.mediabutton {
	position: absolute;
	width: 68px;
	height: 68px;
	top: 0;
	right: -68px;
	border: 0 none;
	outline: 0 none;
	padding: 0;
	background: url(/fileadmin/user_upload/gfx/searchx2.png) no-repeat scroll center center rgba(0,0,0,0);
	background-size: 21px 21px;
	background-color: #04285c;
	background-position: center center;
}
.media-filter-search {
	float: right;
	position: relative;
	margin-right: 68px;
	padding-bottom: 34px;
}
.media-filter-search h2 {
	display: none;
}
.media-filter-search input {
	width: 292px;
	border: 2px solid #eaeaeb;
	border-radius: 0;
	float: left;
	margin: 0;
	height: 68px;
}
.media-filter-search input:focus {
	outline: 0 none;
}
.media-filter-search > button.mediabutton {
	position: absolute;
	width: 68px;
	height: 68px;
	top: 0;
	right: -68px;
	border: 0 none;
	outline: 0 none;
	padding: 0;
	background: url('/fileadmin/user_upload/gfx/searchx2.png') no-repeat scroll center center rgba(0,0,0,0);
	background-size: 21px 21px;
	background-color: #04285c;
	background-position: center center;
}
.media-filter-search > button.mediabutton:hover {
	background-color: #eb7d00;
}
.media-filter-search input {
	width: 292px;
	border: 2px solid #cecece;
	border-radius: 0;
	float: left;
	margin: 0;
	height: 68px;
}
#accordion3 .frame.default {
	padding: 0 !important;
}

@media (min-width: 992px) {
#accordion3 > .content_modul h2 {
	font-size: 60px !important;
	line-height: 68px !important;
	margin-bottom: 22px;
}
}
.product_download .select_box_1 {
	width: calc(100% - 377px);
	float: left;
	background-color: #ededed;
	margin-bottom: 27px;
	position: relative;
}
#accordion3 .panel.panel-default {
	position: relative;
	float: left;
	width: 100%;
}
.product_download .select_box_1:nth-child(1), #accordion3 .panel.panel-default:nth-child(1) {
	z-index: 10;
}
.product_download .select_box_1:nth-child(2), #accordion3 .panel.panel-default:nth-child(2) {
	z-index: 9;
}
.product_download .select_box_1:nth-child(3), #accordion3 .panel.panel-default:nth-child(3) {
	z-index: 8;
}
.product_download .select_box_1:nth-child(4), #accordion3 .panel.panel-default:nth-child(4) {
	z-index: 7;
}
.product_download .select_box_1:nth-child(5), #accordion3 .panel.panel-default:nth-child(5) {
	z-index: 6;
}
.product_download .select_box_1:nth-child(6), #accordion3 .panel.panel-default:nth-child(6) {
	z-index: 5;
}
.product_download .select_box_1:nth-child(7), #accordion3 .panel.panel-default:nth-child(7) {
	z-index: 4;
}
.product_download .select_box_1:nth-child(8), #accordion3 .panel.panel-default:nth-child(8) {
	z-index: 3;
}
.product_download .select_box_1:nth-child(9), #accordion3 .panel.panel-default:nth-child(9) {
	z-index: 2;
}
.product_download .select_box_1:nth-child(10), #accordion3 .panel.panel-default:nth-child(10) {
	z-index: 1;
}
.product_download .selecter {
	margin-left: -2px;
}
.product_download .attribute-checkbox .checkbox_div span::before {
	width: 42px;
	height: 42px;
	float: left;
	overflow: hidden;
	position: relative;
	margin-top: 0;
	padding-top: 0;
	cursor: pointer;
	top: -7px;
}
@-moz-document url-prefix() {
 .product_download .attribute-checkbox .checkbox_div span::before {
 top: 0;
}
}
.product_download .attribute-checkbox .checkbox_div span::before {
	content: "";
	background-color: #fff;
	border: 2px solid #cecece;
	cursor: pointer;
	margin-right: 10px;
}
.product_download .attribute-checkbox .checkbox_div span {
	color: #04285c;
	font-size: 17px;
	font-family: "UniversLTW01-57Condense 723821";
	position: relative;
	top: 7px;
}
.product_download .checkbox_div {
	width: auto;
	float: left;
	display: block;
	cursor: pointer;
	margin-right: 34px;
	margin-bottom: 27px;
}
.product_download .checkbox_div input {
	position: absolute;
	margin: 0;
}
.product_download .attribute-checkbox input:checked + span::before {
	background: url(/fileadmin/user_upload/gfx/checkbox.png) no-repeat scroll center center rgba(0,0,0,0);
	background-size: 27px 23px;
	background-color: #fff;
	background-position: center center;
	opacity: 1;
}
.product_download .select_box_1 > legend {
	font-size: 30px;
	line-height: 34px;
	font-weight: normal;
	text-transform: uppercase;
	color: #072a5b;
	font-family: 'UniversLTW01-67BoldCn';
	border-bottom: 0;
	margin-bottom: 9px;
}
.product_download .attribute-checkbox {
	width: 100%;
	float: left;
}
.product_download .selecter, .product_download .selecter {
	width: 100%;
	max-width: 500px;
}
.product_download .selecter, .product_download .selecter .selecter-selected {
	background-color: #fff;
}
.product_download .selecter .selecter-selected.placeholder, .product_download .selecter .selecter-selected {
	background-position: 95% 52% !important;
	line-height: 21px;
	padding: 4px 64px 4px 4px;
}
.product_download .selecter.open {
	background: none repeat scroll 0 0 #fff;
}
.product_download .selecter .selecter-item {
	line-height: 21px;
	padding: 9px 21px;
}
.product_download .selecter {
	min-height: 51px;
	height: auto;
	opacity: 1;
}
.panel-body .product_download .donwloadtable {
	float: left;
	margin-top: 34px;
	table-layout: auto !important;
}
.panel-body .product_download .donwloadtable tbody tr td:last-child {
	min-width: 240px;
}
.panel-body .product_download .donwloadtable tbody tr td:nth-last-child(2),
.product_download .donwloadtable tbody tr td:nth-last-child(2){
	min-width: 140px;
}
.product_download .donwloadtable tbody tr td a.button.blue {
	width: 100%;
}
.product_download .selecter .selecter-item:hover {
	background-color: #fff;
}
/*** home search ***/
.bilder_accordion.module .headline-row form.aimeos.catalog-filter {
	width: initial;
	/*width: 387px;*/
	max-width: 1125px;
	margin: 7px auto -13px !important;
	/*margin: 13px auto -13px !important;*/
	height: 75px;
	position: absolute;
	right: 0px;
	top: 0;
}
.bilder_accordion.module .headline-row form.aimeos.catalog-filter .catalog-filter-search {
	#position: relative;
	#margin-right: 43px;
}
.backendlayout-pagets__product .bilder_accordion.module.first h2 {
	width: calc(100% - 390px) !important;
	float: left !important;
}
.slider.hm_01 + .breadcrumb.module.first {
	margin-top: -39px !important;
	margin-bottom: 0 !important;
}
.breadcrumb.module.first + div {
	padding-top: 10px !important;
}
#teaserboxen_vollbild_drei_raster_carousel .owl-nav.disabled, #teaserboxen_vollbild_drei_raster_carousel .owl-dots.disabled {
	display: block !important;
}
.product_download .donwloadtable tbody tr td > img {
	margin-top: 2px;
	margin-bottom: 2px;
}
.frame.default > .product_category_headline_tabs.module {
	margin: 0 !important;
}
/*** add to module css ***/
body .catalog-filter-attribute .attribute-lists > div > fieldset > ul > li {
	width: 25% !important;
	float: left !important;
	height: auto;
}
body .catalog-filter-attribute .attribute-lists > div > fieldset > ul > li.option_disabled {
	opacity: 0.35;
	pointer-events: none;
}
body .catalog-filter-attribute .attribute-lists > div > fieldset, body .catalog-filter-attribute .attribute-lists > div > fieldset > fieldset {
	position: static;
}
body .catalog-filter-attribute .attribute-lists > div > fieldset > ul {
	display: block;
	width: 1140px;
	left: 0;
	position: absolute;
	float: left;
	margin-bottom: 0;
}
body .catalog-filter-attribute .stahl-global-filter, body .catalog-filter-attribute .stahl-category-filter {
	padding: 0;
}
body .catalog-filter-attribute .attribute-lists > div > fieldset > ul, body .catalog-filter-attribute .attribute-lists > div > fieldset > fieldset > ul {
	padding-top: 15px;
}
body .catalog-filter-attribute > .attribute-selected {
	display: block;
    max-width: 1166PX;
    margin: auto;
}
.module h1.head-line-h1,
.catalog-filter .product_headline_flyout_extended.module .headline-row h1.head-line-h1 {
	font-size: 34px !important;
	line-height: 34px !important;
	padding-bottom: 7px !important;
	padding-top: 10px !important;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
body .product_headline_flyout_extended.module .headline-row h2, body .direct_flyout.module .headline-row h2, body .filter_module.module .headline-row h2, body .product_series.module .headline-row h2, body .product_item_table.module .headline-row h2, body .products_compare_table.module .headline-row h2 {
	font-size: 34px !important;
	line-height: 34px !important;
	padding-bottom: 7px !important;
	padding-top: 10px !important;
	max-width:600px;
}
body .headline-minHeight, body .headline-row.headline-search-filter > h2, body .headline-row.headline-search-filter > h3 {
	min-height: 85px;
}
body .headline-row.headline-search-filter h2 {
	width: calc(100% - 444px);
}
body .product_series.module .headline-row h2, body .product_item_table.module .headline-row h2, body .products_compare_table.module .headline-row h2 {
	margin-bottom: -27px !important;
}
body .product_item_table.module .headline-row h2{
	margin-bottom: -34px !important;
}

body .product_item_table.module .headline-row + .col-xs-12 > .button{
	margin-bottom: 34px;
	margin-right: 34px;
}
.catalog-filter-attribute .attribute-lists > div > fieldset.checked > legend {
	height: auto;
	padding-bottom: 7px;
	pointer-events: none;
}
.catalog-filter-attribute .attribute-lists > div > fieldset.checked > legend::after {
	display: none;
}

@media (max-width: 767px) {
body .product_headline_flyout_extended.module .headline-row h2, body .direct_flyout.module .headline-row h2, body .filter_module.module .headline-row h2, body .product_series.module .headline-row h2, body .product_item_table.module .headline-row h2, body .products_compare_table.module .headline-row h2 {
	font-size: 22px !important;
	line-height: 23px !important;
}
body .headline-row.headline-search-filter > h2, body .headline-row.headline-search-filter > h3 {
	min-height: 102px;
}
.bilder_accordion.module .headline-row form.aimeos.catalog-filter {
	margin: 36px auto -36px !important;
	width: 100%;
}
ul.ui-autocomplete {
	width: 100% !important;
}
ul.ui-autocomplete li.ui-menu-item {
	border-bottom: 1px solid rgba(174, 174, 174, 0.12);
}
ul.ui-autocomplete li.ui-menu-item a {
	white-space: normal !important;
}
body .products_compare_table.module .headline-row {
	padding-left: 16px !important;
	padding-right: 16px !important;
}
body .headline-minHeight {
	min-height: 85px;
}
}
a.selected-all {
	position: relative;
	background-color: #5070b2;
	color: #fff;
	border: none;
	background-image: none;
	padding: 17px;
	display: block;
	float: left;
	line-height: 17px;
	font-family: 'UniversLTW01-67BoldCn';
	text-transform: uppercase;
	font-size: 17px;
	font-weight: normal;
}
.slide_p, .slide_p > p.two_thirds {
	float: left;
	width: 100% !important;
	margin-top: 47px;
}
.slide_p > * {
	width: 100%;
	float: left;
}
a.slide_button + .slide_p {
	margin-top: 12px;
}
html body .module .headline-row a.slide_button {
	margin-top: 4px !important;
	margin-bottom: 0 !important;
}
.slide_p > p.two_thirds:first-child, .slide_p > p:first-child {
	margin-top: 0 !important;
}
.slide_p > p.two_thirds:last-child, .slide_p > p:last-child {
	margin-bottom: -18px !important;
}
body .module .headline-row a.slide_button {
	clear: both;
}
body .filter_module.module .headline-row {
	margin-bottom: -12px !important;
}
body .filter_module.module .headline-row + .headline-row {
	margin-top: 133px !important;
	margin-bottom: -63px !important;
}
.slide_p .highlights ul {
	margin-bottom: -11px;
	margin-top: -6px;
}
.slide_p > .highlights:last-child ul, .slide_p > .highlights:last-child ul li, html body .slide_p > p:last-child {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}
.products_compare_table .table_wrapper .product_item > .head > .product_name .data td {
	display: block;
	float: left;
	text-align: left;
	padding: 4px 10px;
}
.products_compare_table .table_wrapper .product_item > .head > .product_name .data td:nth-child(odd) {
	clear: both;
	padding-right: 2px;
}
.products_compare_table .table_wrapper .product_item > .head > .product_name .data td:nth-child(even) {
	padding-left: 2px;
}
body .products_compare_table .table_wrapper .left_column > .head, body .products_compare_table .table_wrapper .product_item > .head {
	height: 185px;
}
.options-alt, .move-alt, .delete-alt, .close-alt {
	display: none;
	font-family: "UniversLTW01-57Condense 723821";
	background-color: #072a5b;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px 15px;
	max-width: calc(100vw - 74px);
	transform: translate(0, -121%);
	z-index: 100;
	width: auto;
}
.move-alt, .delete-alt, .close-alt {
	transform: translate(0, -121%);
}
.options-alt {
	left: 37px;
	top: 17px;
	width: 210px;
}
.products_compare_table .table_wrapper .product_item > .head > .image img {
	margin: 0 auto;
}
body .products_compare_table .table_wrapper .product_item > .head > .image .remove {
	right: 20px;
}
body .products_compare_table .table_wrapper .product_item > .head > .image .change_pos {
	left: 18px;
}
.products_compare_table .table_wrapper .product_item > .head > .product_name br {
	display: none;
}
body .products_compare_table .table_wrapper .product_item > .head > .product_name > a {
	float: none;
	width: 170px;
	display: block;
	margin: 0 auto;
	color: #fff;
}
body .products_compare_table .table_wrapper .product_item > .head > .product_name > a:hover {
	color: #eb7d00;
}
.products_compare_table .table_wrapper .owl-item.move_mark .product_item > .head > .image .change_pos, .products_compare_table .table_wrapper .product_item > .head > .image .change_pos:hover {
	background-image: url("/fileadmin/user_upload/gfx/change_position_icon_active.png");
}
.products_compare_table .table_wrapper .owl-item.stop_hover .product_item > .head > .image .change_pos {
	background-image: url("/fileadmin/user_upload/gfx/change_position_icon.png");
}
.products_compare_table .table_wrapper .owl-item.stop_hover .product_item > .head > .image .change_pos, .products_compare_table .table_wrapper .owl-item.stop_hover .product_item > .head > .image .remove {
	pointer-events: none;
}
.products_compare_table .table_wrapper .product_item > .head > .image .remove:hover {
	background-image: url("/fileadmin/user_upload/gfx/remove_icon_active.png");
}
.products_compare_table .left_column .head .options:hover + .options-alt {
	display: block;
}
body .products_compare_table .table_wrapper .product_item > .head > .image {
	max-width: 178px;
}
body .catalog-filter-attribute legend + .attribute-selected span {
	padding-right: 25px;
}
.products_compare_table .table_wrapper .product_item > .head > .product_name > a {
	padding: 0 10px;
	text-align: center;
	float: left;
	width: 100%;
}
.product-media .images > a > div {
	overflow: hidden;
}
.product_carousels .item {
	height: 370px;
	overflow: hidden;
}
.product_detail .product_carousels .item {
	height: auto;
}
.product_carousels .item > img {
	top: 50%;
	position: relative;
	transform: translateY(-50%);
}
body .product-media .images > a > div > img {
	width: 100%;
	min-width: 100%;
	left: 50%;
	position: relative;
	transform: translateX(-50%);
	height: 100px;
	opacity: 0;
}
body .product-media .images > a > div {
	background-size: cover;
	background-position: center center;
}
body .product-media .images > a > div.dimensionen > img {
	transition: none;
}
body .product-media .images > a > div.dimensionen:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-top: 1px solid #d0d0d0;
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
}
body .product-media .images > a > div.dimensionen:hover:after, body .product-media .images > a > div.dimensionen.active:after {
	border-color: #eb7d00;
}
.product_detail .icons_area .icon .img img {
	width: auto;
	height: auto;
	max-height: 68px;
}
body .product_detail .icon {
	margin: 0 30px 17px 0;
}
.filter_module.module + .catalog-filter-attribute {
	#margin-top: -68px;
	#max-width:100% !important;
}


.close_table_download  a{
    cursor: pointer;
    font-size: 17px;
    color: #04285c;
    font-family: "UniversLTW01-67BoldCn";
}
.close_table_download  a:hover{
    color: #04285c;
}
.close_table_download::before {
    background: url(/fileadmin/user_upload/gfx/carousel_vor_blue.png) no-repeat scroll;
    content: "";
    background-size: 26px 16px;
    cursor: pointer;
    width: 26px;
    height: 16px;
    float: left;
    margin-top: 4px;
    margin-right: 15px;
}
.direct_flyout .flyout_container ul li {
	padding-right: 34px;
}
.product_series > .content_modul > .row {
	margin-left: -7.5px;
	margin-right: -7.5px;
}
body .product_item_table .detail .data table tr td {
	padding: 3px 21px 3px 0;
}
body .product_headline_flyout_extended.module .add_content.content-row {
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
}
body .product_headline_flyout_extended.module .add_content.content-row .product_accessories {
	background-color: #fff !important;
	color: #072a5b;
	margin-bottom: 0 !important;
	padding: 0 15px !important;
}
body .product_headline_flyout_extended.module .add_content.content-row {
	margin-bottom: 17px;
}
body .product_headline_flyout_extended.module .add_content.content-row.multimedia {
	margin-bottom: 26.5px;
}
body .product_headline_flyout_extended.module .add_content.content-row.detailinfos {
	margin-bottom: 11px;
	padding-left: 8px;
	padding-right: 8px;
}
.product_headline_flyout_extended.module + .product_teaser_row.bilder_accordion.module {
	margin-top: 0 !important;
}
body .product_headline_flyout_extended.module .add_content.content-row .product_accessories .product_accessories-line-slide {
	background-color: #000;
	border: none;
	height: 1px;
	width: 100%;
	transform: none;
}
body .product_headline_flyout_extended .add_content .product_download.module {
	margin-bottom: 14px !important;
}
body .product_headline_flyout_extended.module .add_content.content-row .product_accessories ul li {
	color: #072a5b;
}
body .product_headline_flyout_extended.module .add_content.content-row .product_accessories ul li.active, body .product_headline_flyout_extended.module .add_content.content-row .product_accessories ul li:hover {
	color: #eb7d00;
}
body .product_headline_flyout_extended.module .add_content.content-row .product_accessories .detail {
	background-color: rgb(237, 237, 237);
}
body .product_headline_flyout_extended.module .add_content.content-row .product_download .donwloadtable thead tr th {
	border-color: #fff;
}
body .product_headline_flyout_extended.module .add_content.content-row .product_accessories .content-row {
	margin-top: -17px !important;
}
body .catalog-filter-attribute .stahl-category-filter {
	display: block;
}
body #html5-close {
	margin-top: 15px !important;
}
.product_detail .icons_area + .table_details {
	margin-bottom: 24px;
}
.catalog-filter-attribute .stahl-global-filter {
	background-color: #ededed;
}
.product_item_table .detail .copy div div {
	font-size: 12px;
	line-height: 17px;
	color: #929292;
}
.product_item_table table tbody tr, .product_accessories table tbody tr, .products_compare_table table tbody tr {
	border-top: 0 none;
}
body .product_accessories .detail {
	cursor: auto;
}
body .product_accessories .detail .data {
	max-width: 360px;
}
body .product_accessories .detail .copy {
	width: calc(100% - 370px);
}
body .product_accessories.module .detail .description {
	background-image: none;
}
body .product_accessories.module .detail .data {
	margin-top: 7px;
}
body .product_accessories .detail:hover {
	background-color: #fff;
}
body .product_detail .icons_area {
	margin-bottom: 17px;
}
body .aimeos.webcode-list .catalog-filter-search {
	position: relative !important;
}
.aimeos.webcode-list .pagination {
	margin: 0;
}
#accordion3 .panel-collapse.download-media > .panel-body {
	background-color: #ededed;
}
.download-media .panel-body {
	float:left;
	width:100%;
}
#accordion3 .panel-collapse.download-media .media-filter-search {
	margin-top: -6px;
}
#accordion3 .panel-default:last-child .panel-collapse.download-media .panel-body {
	padding-bottom: 27px;
}
#accordion3 .panel-collapse.download-media a.button.blue {
	margin: 10px 0;
}
#accordion3 .panel-collapse.download-media .product_download .donwloadtable tbody tr td:nth-child(3) {
	max-width: 260px;
}
#accordion3 .panel-collapse.download-media .panel-body > p {
	max-width: 720px;
	margin-bottom: 27px;
}
#accordion3 .panel-collapse.download-media > .panel-body {
	padding: 33px 17px;
}
body .catalog-filter-attribute .attribute-lists > div > fieldset > ul > li > label, body .catalog-filter-attribute .attribute-lists > div > fieldset > fieldset > ul > li > label {
	font-size: 18px;
	line-height: 18px;
	width: calc(100% - 52px);
	padding-left: 17px;
	padding-top: 12px;
}
body .product_series .list_item .images_block .small_images div img {
	float: left;
	width: 100%;
	max-width: 27px;
	height: auto;
	cursor: pointer;
	margin-left: 1px;
}
body .product_hero_extended .thumbnails_left > a > div > img {
	width: 100%;
	height: auto;
	border: 1px solid #d0d0d0;
	margin-bottom: 10px;
}
body .product_hero_extended > div > img {
	width: 100%;
	height: auto;
}
body .download-media .selecter .selecter-options {
	max-height: 65vh;
	overflow-y: auto;
	overflow-x: hidden;
}
body .stahl-category-filter > fieldset:nth-child(n + 5) {
	display: block;
}
body .stahl-category-filter > fieldset.more_filter {
	display: none;
}
.products_compare_table .table_wrapper .product_item > div.image:last-child {
	height: auto;
	margin-bottom: 0;
}
body .products_compare_table .table_wrapper .left_column > div, body .products_compare_table .table_wrapper .product_item > div {
	padding: 10px;
}
body .product_download .donwloadtable {
	table-layout: auto;
}
body .product_download .donwloadtable tbody tr td a span::before {
	display: none;
}
span.file-ext {
	background-color: #072a5b;
	margin-top: -2px;
	color: #ededed;
	padding: 2px 3px 2px 5px;
	border-radius: 4px;
	letter-spacing: 2px;
	font-size: 14px !important;
	font-weight: bold !important;
	margin-right: 10px;
	text-transform: uppercase !important;
	font-family: "UniversLTW01-57Condense 723821" !important;
	display: block;
	float: left;
}
table.donwloadtable a:hover span.file-ext:hover, span.file-ext:hover {
	background-color: #eb7d00;
	color: #fff;
}
a:hover span.file-ext, a span.file-ext:hover {
	background-color: #fff;
	color: #eb7d00;
}
body .product_download .donwloadtable tbody tr td:last-child {
	width: 270px;
}
.results_info {
	width: 100%;
	float: left;
	font-size: 30px;
	line-height: 34px;
	font-weight: normal;
	text-transform: uppercase;
	color: #072a5b;
	font-family: 'UniversLTW01-67BoldCn';
	border-bottom: 0;
	margin-bottom: 9px;
	margin-top: 28px;
}
body .product_category_headline_tabs .headline_tab.active {
	background-color: #eb7d00;
	pointer-events: none;
}
body .product_headline_flyout_extended .add_content div.video {
	padding-top: 7.5px;
	padding-bottom: 7.5px;
}
body .table_details tr td {
	width: auto;
}
body .table_details tr td:first-child {
	width: 320px;
	min-width: 320px;
}
body .product_tech_specs#accordion3 .table_details > table {
	table-layout: fixed;
}
body .product_detail .table_details tr td:first-child {
	min-width: 0;
}
body .table_details tr td, body .product_detail .table_details tr td {
	height: auto;
	padding: 17px 10px;
}
body .without-filter-box {
	margin-bottom: 0 !important;
}
.product_filter + .products_compare_table {
	margin-top: -204px !important;
}

@media (min-width: 992px) {
body .stahl-global-filter > fieldset:nth-child(4n + 1), body .stahl-category-filter > fieldset:nth-child(4n + 1) {
	clear: both;
}
body .catalog-filter-attribute .attribute-lists > div > fieldset > ul > li:nth-child(4n + 1) {
	clear: both;
}
}

@media (max-width: 991px) {
/*.product_filter .catalog-filter-search > button.standardbutton {*/
    /*!*left: 53.5% !important;*!*/
/*}*/
.product_filter + .products_compare_table {
	margin-top: -68px!important;
}
body .stahl-global-filter > fieldset:nth-child(2n + 1), body .stahl-category-filter > fieldset:nth-child(2n + 1) {
	clear: both;
}
body .catalog-filter-attribute .attribute-lists > div > fieldset > ul > li:nth-child(2n + 1) {
	clear: both;
}
	body .product_item_table.module .headline-row h2 {
    margin-bottom: 0 !important;
}
}

@media (max-width: 767px) {

.product_filter .catalog-filter .catalog-filter-search input {
	margin-right: 0;
	max-width: none;
	width: 267px;
}
body .product_accessories .detail .copy {
	width: 100%;
	padding-left: 0;
}
body .product_accessories.module .detail .data {
	margin-top: 0;
}
body .slider.hm_01 .hero_image.hidden-lg > img {
	width: 100%;
	height: auto;
}
body .slider.hm_01 {
	max-height: none;
	height: auto;
}
html body .product_download.module .headline-row.only-headline {
	margin-bottom: 0 !important;
}
html .module.product_download .content-row, .module.product_accessories .content-row {
	margin-top: 17px !important;
}
body .product_accessories .detail > .images {
	max-width: none;
	width: 100%;
}
body .product_accessories .detail .description {
	max-width: none;
	width: 100%;
	margin-top: 17px;
	padding-left: 0;
	padding-right: 0;
}
body .table_details tr td:first-child {
	width: auto;
	min-width: 0;
}
}
/*** add to module css END***/
/*** responsive anpassungen ***/
form .catalog-filter-search input {
	max-width: 100%;
}
.frame.default .module p {
	padding-top: 17px;
}
.frame.default .module.product_headline_flyout_extended p {
	padding-top: 0;
}
.catalog-filter-attribute .stahl-global-filter, .catalog-filter-attribute .stahl-category-filter {
	padding-left: 22px;
	padding-right: 22px;
}
.product_download .selecter {
	visibility: visible;
	opacity: 1;
	height: auto;
	min-height: 51px;
	#display: block;
}

@media (max-width: 1150px) {
.product_item_table.module .left, .product_item_table.module .right {
	width: 100%;
}
.product_item_table.module .right {
	margin-top: 17px;
}
/*body .teaserboxen_normal_drei_raster.direct_flyout.module .content-row {*/
	/*padding-left: 0 !important;*/
	/*padding-right: 0 !important;*/
/*}*/
}

@media (max-width: 991px) {
	.page-6.pagelevel-3 .module.gutter-8.product_filter.first form.aimeos.catalog-filter {
		padding-top: 90px;
	}
	.catalog-filter .module .headline-row.only-headline h1 {
		margin-bottom: 0;
		font-size: 45px;
		line-height: 1;
	}
/*.product_filter .catalog-filter-search {*/
    /*left: 59% !important;*/
    /*width: 480px;*/
/*}*/
.filter_module.module + .catalog-filter-attribute {
	margin-top: 0;
}
html body .module .headline-row a.slide_button {
	margin-bottom: 26px !important;
}
.catalog-filter .catalog-filter-search > button.standardbutton {
	width: 51px;
	height: 51px;
	/*padding-right: 65px;*/
	/*right: -51px;*/
}

.catalog-filter .catalog-filter-search input {
	height: 51px;
	width: 100%;
	max-width: 300px;
	padding-right: 65px;
	min-width: 275px;
	/*width: 262px;*/
}
form .catalog-filter-search {
	margin-right: 51px;
}
.product_tech_specs.module .headline-row > h2::before, .product_download.module .headline-row > h2::before, .product_accessories.module .headline-row > h2::before, .similar_products.module .headline-row > h2::before {
	width: 48px;
	height: 27px;
	background-size: 48px 27px;
	margin-top: 7px;
}
.product_tech_specs.module .headline-row > h2::before {
	width: 36px;
	height: 20px;
	background-size: 36px 20px;
}
.product_download.module .headline-row > h2::before {
	width: 22px;
	height: 27px;
	background-size: 22px 27px;
}
.product_accessories.module .headline-row > h2::before {
	width: 24px;
	height: 24px;
	background-size: 24px 24px;
}
.catalog-filter-attribute .attribute-lists > div > fieldset, .catalog-filter-attribute .attribute-lists > div > fieldset > fieldset {
	width: 50% !important;
}
.product_download .selecter .selecter-item {
	line-height: 21px;
	padding: 10px 0;
}
#teaserboxen_vollbild_drei_raster_carousel .owl-nav.disabled {
	display: none !important;
}
.catalog-filter .catalog-filter-attribute .attribute-lists {
	width: 100%;
	margin-left: 0;
}
body .catalog-filter-attribute .attribute-lists > div > fieldset > ul {
	margin-left: 0;
	max-height: 60vh;
	overflow-y: auto;
}
body .catalog-filter-attribute .attribute-lists > div > fieldset > ul > li {
	width: 50% !important;
}
}

@media (max-width: 767px) {
.direct_flyout.module .fylout_icon + .flyout_container {
	transition: left 0.5s ease-in-out;
	left: 8px;
	transform: translateZ(0);
}
.catalog-filter .module .headline-row.only-headline h1 {
	/*font-size: 24px;*/
	/*line-height: 29px;*/
	font-size: 34px;
	line-height: 34px;
	/*padding-bottom: 7px !important;*/
	/*padding-top: 10px !important;*/
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
.catalog-filter-search input {
	font-size: 12px;
	padding-left: 10px;
}
.direct_flyout.module .flyout_container ul {
	width: calc(100% - 15px);
}
.direct_flyout.module .flyout_container.left_1 {
	left: calc(-100% + 8px);
}
.direct_flyout.module .flyout_container.left_1.left_2 {
	left: calc(-200% + 8px);
}
.direct_flyout.module .flyout_container ul li > .flyout_container {
	padding-left: 30px;
	width: calc(100% + 15px);
	top: 52px;
}
.direct_flyout.module .flyout_container ul li > .flyout_container ul li > .flyout_container {
	top: 52px;
	width: calc(100% + 30px);
	right: calc(-100% - 15px);
}
.direct_flyout.module .flyout_container ul li > .flyout_container ul li > .flyout_container ul {
	width: 100%;
}
.direct_flyout.module .flyout_container ul li > .flyout_container ul {
	width: calc(100% + 15px);
}
form .catalog-filter-search {
	margin-right: 73px;
}
.product_filter .catalog-filter-search {
	width: initial;
	display: inline-block;
	margin-right: 0;
	position: relative;
	/*left: 8px !important;*/
	/*float: left;*/
	/*margin-right: 0;*/
	/*max-width: none;*/
	/*left: 0 !important;*/
	/*right: auto !important;*/
	/*width: calc(100% - 67px);*/
	/*position: relative !important;*/
}
.direct_flyout.module, .filter_module.module {
	padding-top: 68px !important;
}
body .module.nobottom {
	padding-top: 0 !important;
}
.catalog-filter-search + .module {
	padding-top: 102px !important;
}
.module .headline-row h2.short_h2 {
	width: calc(100% - 66px) !important;
}
.module p.two_thirds {
	width: 100% !important;
}
#product-compare > .col-xs-12:first-child button, .product_item_table .col-xs-12.content-row + .col-xs-12 button, #product-compare .checkbox_div {
	display: none;
}
.product_item_table.module .detail {
	padding: 15px;
	background-image: none;
}
.product_item_table.module .detail .images {
	max-width: none;
}
.product_item_table.module .detail .images, .product_item_table.module .detail .description {
	width: 100%;
}
.product_item_table.module .detail .description {
	width: 100%;
	padding-left: 0;
	margin-top: 7px;
}
.product_item_table.module .detail .top h3 {
	width: calc(100% - 44px);
	padding-left: 0;
	padding-top: 7px;
}
body .product_item_table.module .headline-row h2 {
	padding-bottom: 0 !important;
	padding-top: 2px !important;
}
body .product_item_table .center a.button {
	margin-top: 10px;
	margin-bottom: -18px;
}
.product_item_table.module .nopadding.content-row {
	padding-left: 7.5px !important;
	padding-right: 7.5px !important;
}
.product_detail.module .icons_area {
	margin-bottom: 24px;
}
.product_tech_specs.module .headline-row > h2::before, .product_download.module .headline-row > h2::before, .product_accessories.module .headline-row > h2::before, .similar_products.module .headline-row > h2::before {
	margin-top: 3px;
	margin-right: 20px;
}
.breadcrumb.module.first {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.breadcrumb.module.first .content_modul, .breadcrumb.module.first .content_modul > .row > .padding-7 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.media-filter-search {
	width: 100%;
	float: left;
}
.media-filter-search > button.mediabutton {
	left: 0;
	position: relative;
}
.product_download .select_box_1 {
	width: 100%;
}
.product_download .checkbox_div {
	margin-bottom: 17px;
}
.media-filter-search input {
	max-width: calc(100% - 68px);
}
body .catalog-filter-attribute .attribute-lists > div > fieldset > ul > li {
	width: 100% !important;
}
body .direct_flyout.module.module .headline-row.only-headline {
	margin-bottom: -3px !important;
}
body .teaserboxen_normal_drei_raster.module .headline-row.only-headline {
	/*margin-bottom: 68px !important;*/
	padding-bottom: 45px !important;
}
body .breadcrumb.module.first .content_modul {
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-left: -1px;
}
.direct_flyout.module .fylout_icon {
	margin-left: 0;
}
.slider.hm_01 + .breadcrumb.module.first {
	margin-top: -38px !important;
}
html body .module .headline-row a.slide_button + .slide_p {
	margin-top: 20px;
	margin-bottom: 4px;
}
html body .module .headline-row a.button {
	margin-bottom: 21px !important;
}
.products_compare_table .table_wrapper .left_column > div, .products_compare_table .table_wrapper .product_item > div {
	padding-bottom: 10px;
	word-break: break-all;
}
}

@media (max-width: 500px) {
 .catalog-filter .catalog-filter-attribute .attribute-lists::-webkit-scrollbar {
 -webkit-appearance: none !important;
}
.catalog-filter .catalog-filter-attribute .attribute-lists::-webkit-scrollbar:vertical {
 width: 12px !important;
}
.catalog-filter .catalog-filter-attribute .attribute-lists::-webkit-scrollbar:horizontal {
 height: 12px !important;
}
.catalog-filter .catalog-filter-attribute .attribute-lists::-webkit-scrollbar-thumb {
 background-color: #eb7d00 !important;
 border: 2px solid #ffffff !important;
}
.catalog-filter .catalog-filter-attribute .attribute-lists::-webkit-scrollbar-thumb:vertical {
border-top: 0 none !important;
 border-bottom: 0 none !important;
}
.catalog-filter .catalog-filter-attribute .attribute-lists::-webkit-scrollbar-thumb:horizontal {
 border-left: 0 none !important;
 border-right: 0 none !important;
 display: none !important;
}
.catalog-filter .catalog-filter-attribute .attribute-lists ::-webkit-scrollbar-track {
 background-color: #ffffff !important;
}
.catalog-filter .catalog-filter-attribute .attribute-lists {
	max-height: 50vh;
	overflow-y: auto;
	position: relative;
	width: 100%;
	overflow-x: hidden;
	background-color: #d0d0d0;
}
body .catalog-filter-attribute .attribute-lists > div > fieldset > ul {
	max-height: none;
	overflow-y: visible;
}
.product_series.module .list_item .images_block {
	width: 100%;
	padding-bottom: 17px;
}
.product_series.module .list_item .text_block {
	width: 100%;
	padding-left: 0;
}
.product_series.module .center a.button {
	margin-top: 2px;
}
.catalog-filter-attribute .attribute-lists > div > fieldset, .catalog-filter-attribute .attribute-lists > div > fieldset > fieldset {
	width: 100% !important;
}
.catalog-filter-search {
	width: 100% !important;
	/*left: 15px !important;*/
	/*right: auto !important;*/
	/*width: calc(100% - 16px) !important;*/
	/*max-width: none !important;*/
}
.catalog-filter-search > button.standardbutton {
	right: 0 !important;
}
.catalog-filter .catalog-filter-search input {
	width: 100% !important;
}
/*.product_filter .catalog-filter-search > button.standardbutton {*/
    /*left: 85.5% !important;*/
/*}*/
}

@media (max-width: 370px) {
.product_filter .catalog-filter-search {
    width: 295px !important;
}
}