<?php

/**
* @copyright Copyright (c) Metaways Infosystems GmbH, 2014
* @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
*/

$mediaItems = $this->get( 'mediaItems', array() );
$itemData = $this->get( 'itemData', array() ); 
$enc = $this->encoder();
$flags = $this->config( 'client/html/catalog/detail/additional/download/flags', array());
$flagsPath=$this->config( 'client/html/catalog/detail/additional/download/flagspath', '' );
$langCode = $this->get( 'langCode', '' );
?>
<table class="donwloadtable">
    <thead>
        <tr>
            <th><?php echo $enc->html( $this->translate( 'client/html', 'Scope' ), $enc::TRUST ); ?></th>
            <th><?php echo $enc->html( $this->translate( 'client/html', 'Certificate number' ), $enc::TRUST ); ?></th>
            <th><?php echo $enc->html( $this->translate( 'client/html', 'Certification body' ), $enc::TRUST ); ?></th>
            <th><?php echo $enc->html( $this->translate( 'client/html', 'Kind of document' ), $enc::TRUST ); ?></th>
            <th><?php echo $enc->html( $this->translate( 'client/html', 'Product Variant' ), $enc::TRUST ); ?></th>
            <th><?php echo $enc->html( $this->translate( 'client/html', 'Language' ), $enc::TRUST ); ?></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <?php foreach( $itemData as $id => $item ) : ?>
        <?php   if( isset( $mediaItems[$id] ) ) { $item = $mediaItems[$id];} ?>
        <?php  $el = reset($item->getRefItems( 'text', 'DVS_DOKST')); ?>
        <?php  $elZp = reset($item->getRefItems( 'text', 'ZPB_VEROE')); ?>
        <?php if($el && $elZp && (!in_array($el->getContent(),array('FR - freigegeben','RE - Released')) || !in_array($elZp->getContent(),array('extern')))): ?>
        <?php continue; ?>
        <?php endif;?>

        <tr>
            <td rowspan="1">
                <?php $el = reset($item->getRefItems( 'text', 'ZPB_GELTUNG')); ?>
                <?php if($el): ?>
                <?php echo $el->getContent(); ?>
                <?php endif;?>
            </td>

            <td rowspan="1">
                <?php $el = reset($item->getRefItems( 'text', 'DVS_DOKNR')); ?>
                <?php if($el): ?>
                <?php echo $el->getContent(); ?>
                <?php endif;?>
            </td>
            <td rowspan="1">
                <?php $el = reset($item->getRefItems( 'text', 'ZPB_IAUTH')); ?>
                <?php if($el): ?>
                <?php echo $el->getContent(); ?>
                <?php endif;?>
            </td>
            <td rowspan="1">
                <?php $el = reset($item->getRefItems( 'text', array('ZPB_EX-ZERT','ZKO_ART'))); ?>
                <?php if($el): ?>
                <?php echo $el->getContent(); ?>
                <?php endif;?>
            </td>
            <td rowspan="1">
                <?php foreach ($item->getRefItems( 'attribute', 'ZPB_TYP') as $el): ?>
                <?php if($el): ?>
                <?php echo $el->getLabel(); ?>
                <?php endif;?>
                 <?php endforeach; ?>
            </td>
            <td rowspan="1" style="white-space: nowrap">
                <?php $el = reset($item->getRefItems( 'text', 'DVS_LANGUAGE')); ?>
                <?php if($el): ?>
                <?php $langs=(array)explode('</br>',$el->getContent()); ?>
                <?php foreach ($langs as $lang ): ?>
                <div class="language">
                    <?php 
                    $langFlag = convertUmlaute($lang);
                    if(isset($flags[$langFlag])): ?>
                    <img src="<?php echo $flagsPath.$flags[$langFlag]; ?>" />
                    <?php endif; ?>
                    <span><?php echo $lang; ?></span>
                </div>
                <?php endforeach; ?>
                <?php endif;?>
            </td>

            <td>
                <a target="_blank" class="button blue" title="<?php echo $enc->attr( $item->getName() ); ?>" href="<?php echo $this->content( $item->getUrl() ); ?>">
                    <?php $size = reset($item->getRefItems( 'text', 'asset.size')); ?>
                    <span class="file-ext">
                        <?php $el = reset($item->getRefItems( 'text', array('asset.extension'))); ?>
                        <?php $ext='';?>
                        <?php if($el): ?>
                        <?php $ext=$el->getContent(); ?>
                        <?php endif;?>
                        <?php echo $ext;?>
                    </span>   
                    <span>
                        <?php if($size): ?>
                            <?php echo $size->roundContentForDowload($langCode) ; ?>
                        <?php endif;?>
                    </span>
                </a>
            </td>
        </tr>
        <?php endforeach; ?>    
    </tbody>
</table>

