<?php

/**
 * @copyright Copyright (c) Metaways Infosystems GmbH, 2014
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 */

$mediaItems = $this->get( 'mediaItems', array() );
$itemData = $this->get( 'itemData', array() ); 
$enc = $this->encoder();
$langCode = $this->get( 'langCode', '' );
//echo 'langCode: '.$langCode;
?>
<table class="donwloadtable">
              <thead>
                <tr>
                    <th><?php echo $enc->html( $this->translate( 'client/html', 'Description' ), $enc::TRUST ); ?></th>
                    <th></th>
                 </tr>
              </thead>
              <tbody>
                <?php foreach( $itemData as $id => $item ) : ?>
                <?php   if( isset( $mediaItems[$id] ) ) { $item = $mediaItems[$id];} ?>
                    <tr>
                      <td rowspan="1">
                <?php $el = reset($item->getRefItems( 'text', 'AT_AssetDescription')); ?>
                <?php if($el): ?>
                    <?php $valstr=str_replace('</br>',', ',$el->getContent()); ?> 	
                    <?php echo (strlen($valstr)<=65 ? $valstr: substr($valstr, 0, 65).' ...'); ?>
                <?php else: ?>
                    <?php $el = reset($item->getRefItems( 'text', 'asset.filename')); ?>
                    <?php if($el): ?>
                        <?php echo $el->getContent(); ?>
                    <?php endif;?>
                <?php endif;?>
                      </td>
                      <td>
                          <a target="_blank" class="button blue" title="<?php echo $enc->attr( $item->getName() ); ?>" href="<?php echo $this->content( strpos($item->getUrl(), 'WEB_HighRes') !== false ?  str_replace('upload', 'fileadmin', $item->getUrl()) : $item->getUrl() ); ?>">
                              <?php $size = reset($item->getRefItems( 'text', 'asset.size')); ?>
                              <span class="file-ext">
                              <?php $el = reset($item->getRefItems( 'text', array('asset.extension'))); ?>
                                    <?php $ext='';?>
                                    <?php if($el): ?>
                                        <?php $ext=$el->getContent(); ?>
                                    <?php endif;?>
                                    <?php echo $ext;?>
                              </span>      
                              <span>
                               <?php if($size): ?>
                                   <?php echo $size->roundContentForDowload($langCode) ; ?>
                               <?php endif;?>
                              </span>
                          </a>
                      </td>
                    </tr>
                <?php endforeach; ?>    
             </tbody>
</table>
