<div class="cookie">
	<div class="content-container">
		<div class="row">
			<div class="col-xs-11">
				<f:if condition="{f:cObject(typoscriptObjectPath: 'lib.language')} == 'de'">
				<f:then>
						<p>R. STAHL verwendet Cookies, um Ihnen den bestmöglichen Service auf unserer Website zu gewährleisten. Durch das Weitersurfen auf der Seite stimmen Sie der Cookie-Nutzung zu. Weitere Informationen finden Sie in unserer  <a href="/global/footermenu/datenschutz/" target="_blank">Datenschutzerklärung.</a></p>
				</f:then>
				<f:else>
						<p>R. STAHL uses cookies to offer you the best possible service on our website. By closing the window you will acknowledge our cookie policy. For more information please refer to our  <a href="/en/global/footermenu/data-protection/" target="_blank">Data Privacy Statement.</a></p>
				</f:else>
			</f:if>
			
			
			
			
			</div>
			<div class="col-xs-1">
				<div id="yes"><img src="/fileadmin/user_upload/gfx/cookie_close.png" alt="cookies-close"></div>
			</div>
		</div>
	</div>
</div>

<f:cObject typoscriptObjectPath="location"/>
<div class="expert_mail_newsletter_content">
	<div class="expert_mail_newsletter_registration"><div class="expert_mail_newsletter_registration_close "></div>
			<f:cObject typoscriptObjectPath="newsletter"/>
	</div>
	<div class="fame-shbg"></div>
</div>
<div class="body-bg{f:if(condition:settings.navigation.type, then:' body-bg-{settings.navigation.type}')}">
    <f:render partial="Navigation/Main" arguments="{_all}"/>
	<div id="content" class="main-section">
        <section>
	<!--TYPO3SEARCH_begin-->
            <f:render section="Main"/>
	<!--TYPO3SEARCH_end-->
        </section>
    </div>
    <f:render partial="Structure/Footer" arguments="{_all}"/>
</div>
<f:cObject typoscriptObjectPath="siteimproveanalytics" />