
    @import url("https://fast.fonts.net/lt/1.css?apiType=css&c=c5e952fc-464d-458a-845f-63bb587ea85f&fontids=1476068,1476084,1476088");
    @font-face{
        font-family:"Univers LT W01_55 Roman1475956";
        src:url("Fonts/1476068/66eda158-3ba0-48af-b3fa-aee1812af78b.eot?#iefix");
        src:url("Fonts/1476068/66eda158-3ba0-48af-b3fa-aee1812af78b.eot?#iefix") format("eot"),url("Fonts/1476068/8a6b09f4-d0d5-488e-8f4e-4aae2c1567fb.woff2") format("woff2"),url("Fonts/1476068/20e9f687-a6c7-4276-bf9c-49c4971d1829.woff") format("woff"),url("Fonts/1476068/7c8bcb2b-7680-47d4-a730-f97d8c2b9a6d.ttf") format("truetype");
    }
    @font-face{
        font-family:"UniversLTW01-57Condense 723821";
        src:url("Fonts/1476084/9c3a6678-eed3-43fe-881e-ed5ed84cc25f.eot?#iefix");
        src:url("Fonts/1476084/9c3a6678-eed3-43fe-881e-ed5ed84cc25f.eot?#iefix") format("eot"),url("Fonts/1476084/9e5dedcd-cb31-41e5-8794-200dea9e45c4.woff2") format("woff2"),url("Fonts/1476084/8d750c79-4b6b-4c7e-b6f1-1313e68ac957.woff") format("woff"),url("Fonts/1476084/93e84ca2-0073-4c69-9b03-7021723fb65c.ttf") format("truetype");
    }
    @font-face{
        font-family:"UniversLTW01-67BoldCn";
        src:url("Fonts/1476088/1f3a645d-c7d1-45f5-939c-36b85559c1b0.eot?#iefix");
        src:url("Fonts/1476088/1f3a645d-c7d1-45f5-939c-36b85559c1b0.eot?#iefix") format("eot"),url("Fonts/1476088/6e1c07fa-9573-44a4-acdd-7c75b13c0680.woff2") format("woff2"),url("Fonts/1476088/f305deb9-40c3-43ca-bca5-818a9a968bf1.woff") format("woff"),url("Fonts/1476088/e2d73ec4-5db4-4a45-afb6-88f2ed626cf6.ttf") format("truetype");
    }
