<?php

/**
 * @copyright Copyright (c) Metaways Infosystems GmbH, 2013
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 */
$enc = $this->encoder();
$contentUrl = $this->config( 'client/html/common/content/baseurl' );

$listTarget = $this->config( 'client/html/catalog/list/url/target' );
$listController = $this->config( 'client/html/catalog/list/url/controller', 'catalog' );
$listAction = $this->config( 'client/html/catalog/list/url/action', 'list' );
$listConfig = $this->config( 'client/html/catalog/list/url/config', array() );

$filter = $this->get( 'filter', array() );
$attrMap = $this->get( 'attrMap', array() );
$attrIds = $this->param( 'f_attridm', array() );
$filterAvailable = $this->get('filterAvailable', array());
//echo print_r($filterAvailable,1);
$attributes = isset($attrMap[$filter->getAttribute()]) ? $attrMap[$filter->getAttribute()] : array();

if(empty($filter->getValues()) && !empty($filter->getDirection())){
 switch ($filter->getDirection()){
    case '+': ksort($attributes); 
              break;
    default: krsort($attributes);
    } 
}
//echo print_r($attributes,1);
$found=false;
if($filter->getParentId()){
    $filterKeys = (array)explode(';',$filter->getKeys());
    foreach ($attrIds as $attr){
        if(in_array($attr,$filterKeys)){
            $found = true;
        }
    }
}
$params = $this->param(); unset( $params['target'] );
if(!empty($params['curr_page'])){
    $listTarget=$params['curr_page'];
}
//echo print_r($params,1)
?>
    <?php $selected = array(); $current = $params;?> 
    <?php foreach($attributes as $kay => $attribute): ?>
        <?php if(isset($attrIds[$attribute->getType()][$attribute->getId()])) :
                $selected_name = $attribute->getName();
                if($unitvalueExt = $attribute->getUnitvalueExt()){
                    $selected_name .= ' '.$unitvalueExt;
                }
            ?>
            <?php $selected[]=$enc->html( $selected_name, $enc::TRUST ); ?>
            <?php if( empty($current['f_search'])) { unset($current['f_search']); } ?>
            <?php if( isset($current['f_attridm'][$attribute->getType()][$attribute->getId()]) ) { 
                     unset( $current['f_attridm'][$attribute->getType()][$attribute->getId()] );
                     if($filter->hasChildren()){ 
                         foreach( $filter->getChildren() as $id => $child ){
                            $attrChild=isset($attrMap[$child->getAttribute()]) ? $attrMap[$child->getAttribute()] : array();
                            foreach($attrChild as $attr){
                                if( isset($current['f_attridm'][$attribute->getType()][$attr->getId()]) ){
                                     unset( $current['f_attridm'][$attribute->getType()][$attr->getId()] );
                                }
                                if( isset($current['f_attrid'][$attr->getId()]) ){
                                     unset( $current['f_attrid'][$attr->getId()] );
                                }
                                if( is_array( $current['f_attrtype'] ) ) { 
                                     unset( $current['f_attrtype'][$attr->getType()] ); 
                                }
                            }
                         }
                     } 
                  } ?>
        <?php endif; ?>
        <?php if($filter->getBrackets()==1 && strpos($attribute->getName(),'(')!==false): ?>
        <?php    unset($attributes[$key]);?>
        <?php endif;?>
    <?php endforeach; ?>

<?php if(!empty($attributes)):?>
<fieldset class="attr-<?php echo $filter->getAttribute(); ?>" data-filter="<?php echo $filter->getId(); ?>" <?php echo ((!$found && $filter->getParentId()) || empty($attributes)) ? 'style="display:none"' : '' ?>>
        <legend><?php echo $enc->html( strip_tags($filter->getName()), $enc::TRUST ); ?></legend>

<?php if(!empty($selected)) : ?>
<div class="attribute-selected">
    <span><?php echo implode('; ',$selected); ?> </span><a class="filter_clear" href="<?php echo $enc->attr( $this->url( $listTarget, $listController, $listAction, $current, array(), $listConfig ) ); ?>"></a>
</div>
<?php endif; ?>


<ul class="attr-list checkbox-list">
<button type="button"><span><?php echo $enc->html( $this->translate( 'client/html', 'Apply filter'), $enc::TRUST ); ?></span></button>
    <?php foreach($attributes as $attribute): ?>
	    <?php if($attribute->getName()!='') :?>
		    <?php   $id = $attribute->getId(); ?>
		    <li class="attr-item" data-id="<?php echo $enc->attr( $id ); ?>">
		        <input class="attr-item" id="attr-<?php echo $enc->attr( $id ); ?>" name="<?php echo 'ai[f_attridm]['.$attribute->getType().']['.$id.']'; ?>" type="checkbox" value="<?php echo $enc->attr( $attribute->getName( 'url' ) ); ?>" <?php echo ( isset( $attrIds[$attribute->getType()][$id] ) ? 'checked="checked"' : '' ); ?> <?php echo !in_array($id,array_keys($filterAvailable))?'disabled':'' ?> />
		        <label class="attr-name" for="attr-<?php echo $enc->attr( $id ); ?>">
		            <span>
                        <?php echo $enc->html( $attribute->getName(), $enc::TRUST ); ?>
                        <?php if($unitvalueExt = $attribute->getUnitvalueExt()):?>
                            <span class="unitvalue-ext"><?php echo $unitvalueExt; ?></span>
                        <?php endif;?>
                    </span>
		        </label>
		    </li>
	    <?php endif; ?>
    <?php endforeach; ?>

</ul>
</fieldset>

<?php if($filter->hasChildren()): ?>
<?php   foreach( $filter->getChildren() as $id => $child ) : ?>
<?php       $filterType = !empty($child->getWebType()) ?  $child->getWebType() : 'default'; ?>
<?php       echo $this->partial( 'client/html/catalog/filter/attribute/'.strtolower($filterType), 'catalog/filter/attribute/default-item-default.html', array( 'filter' => $child, 'attrMap' => $attrMap, 'filterAvailable' => $filterAvailable) ); ?>
<?php   endforeach; ?>
<?php endif; ?>
<?php endif; ?>

