<?php

/**
 * @copyright Copyright (c) Metaways Infosystems GmbH, 2013
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 */
$enc = $this->encoder();
$contentUrl = $this->config( 'client/html/common/content/baseurl' );

$filter = $this->get( 'filter', array() );
$attrType = $this->get( 'attrType', array() );
$attrIds = $this->param( 'f_attrid', array() );

?>
<fieldset class="attr-<?php echo $filter->getAttribute(); ?>">
        <legend><?php echo $enc->html( $filter->getName(), $enc::TRUST ); ?></legend>
<ul class="attr-list checkbox-list">
<?php $attributes = $attrType[$filter->getAttribute()]; ?>
<?php foreach($attributes as $attribute): ?>
<?php   $id = $attribute->getId(); ?>
            <li class="attr-item" data-id="<?php echo $enc->attr( $id ); ?>">
                <input class="attr-item" id="attr-<?php echo $enc->attr( $id ); ?>" name="<?php echo $enc->attr( $this->formparam( array( 'f_attrid', $id ) ) ); ?>" type="checkbox" value="<?php echo $enc->attr( $attribute->getName( 'url' ) ); ?>" <?php echo ( isset( $attrIds[$id] ) ? 'checked="checked"' : '' ); ?> />
                <label class="attr-name" for="attr-<?php echo $enc->attr( $id ); ?>"><!--
                    --><div class="media-list"><!--
<?php               foreach( $attribute->getListItems( 'media', 'icon' ) as $listItem ) : ?>
<?php                   if( ( $item = $listItem->getRefItem() ) !== null ) : ?>
<?php                       echo '-->' . $this->media( $item, $contentUrl, array( 'class' => 'media-item' ) ) . '<!--'; ?>
<?php                   endif; ?>
<?php               endforeach; ?>
                    --></div>
                    <span><?php echo $enc->html( $attribute->getName(), $enc::TRUST ); ?></span><!--
                --></label>
            </li>
<?php endforeach; ?>

</ul>
</fieldset>