<?php
$enc = $this->encoder();
$contentUrl = $this->config( 'client/html/common/content/baseurl' );

$attributes = $this->get( 'attributes', array() );
$attrType = $this->get( 'attrType', '' );
$attrIds = $this->param( 'f_attrid', array() );
?>
<div class="attr-list">
    <select class="attr-item" id="attr-<?php echo $enc->attr( $attrType ); ?>" name="<?php $selected_id != 0 ? $enc->attr( $this->formparam( array( 'f_attrid', $selected_id ) ) ) : '' ?>">
        <option value="" class="all-options">All</option>
        <?php foreach($attributes as $attribute): ?>
        <option data-id="<?php echo $enc->attr( $attribute->getId() ); ?>" value="<?php echo $enc->attr( $attribute->getName( 'url' ) ); ?>" <?php echo ( isset( $attrIds[$attribute->getId()] ) ? 'selected' : '' ); ?>><?php echo $enc->html( $attribute->getName(), $enc::TRUST ); ?></option>
        <?php endforeach; ?>
    </select>
</div>



