<?php

/**
 * @copyright Copyright (c) Metaways Infosystems GmbH, 2013
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 */
$enc = $this->encoder();
$contentUrl = $this->config( 'client/html/common/content/baseurl' );

$listTarget = $this->config( 'client/html/catalog/list/url/target' );
$listController = $this->config( 'client/html/catalog/list/url/controller', 'catalog' );
$listAction = $this->config( 'client/html/catalog/list/url/action', 'list' );
$listConfig = $this->config( 'client/html/catalog/list/url/config', array() );

$filter = $this->get( 'filter', array() );
$attrMap = $this->get( 'attrMap', array() );
$attrIds = $this->param( 'f_attrid', array() );
$attrTypes = $this->param( 'f_attrtype', array() );
$filterAvailable = $this->get('filterAvailable', array());
//echo print_r($filterAvailable,1);
$found=false;
if($filter->getParentId()){
    $filterKeys = (array)explode(';',$filter->getKeys());
    foreach ($attrIds as $attr){
        if(in_array($attr,$filterKeys)){
            $found = true;
        }
    }
}
if(!empty($filter->getValues())){
    $filterValues = (array)explode(';',$filter->getValues());
}

$conditionValues = $conditionValuesIds = array();

$attributes = isset($attrMap[$filter->getAttribute()]) ? $attrMap[$filter->getAttribute()] : array();

if(empty($filter->getValues())){
 switch ($filter->getDirection()){
    case '+': uksort($attributes,"strnatcmp"); 
              break;
    default: uksort($attributes,"strnatcmp");
             $attributes = array_reverse($attributes,true);
             break; 
    } 
}


$list = isset($filterValues) ? $filterValues : $attributes;
$params = $this->param(); unset( $params['target'] );
if(!empty($params['curr_page'])){
    $listTarget=$params['curr_page'];
}

?>
<?php $selected = array(); $current = $params;?> 
        <?php foreach($list as $listItem): ?>
        <?php  if(isset($filterValues)){
                   if(isset($attributes[$listItem])){
                       $attribute = $attributes[$listItem];
                   } else {
                       continue;
                   }
               }else {
                   $attribute = $listItem;
               }
               if($filter->getBrackets()==1 && strpos($attribute->getName(),'(')!==false){
                   continue;
               }else{
                   $conditionValues[]= $attribute->getName();
                   $conditionValuesIds[]=$attribute->getId();
               }
        ?>
        <?php $id = $attribute->getId(); ?>
        <?php if(isset($attrIds[$id]) || (!empty($filter->getCondition()) && isset($attrTypes[$attribute->getType()]) && explode(';',$attrTypes[$attribute->getType()])[0]==$attribute->getName())) :
                    $selected_name = $attribute->getName();
                    if($unitvalueExt = $attribute->getUnitvalueExt()){
                        $selected_name .= ' '.$unitvalueExt;
                    }
                ?>
            <?php $selected[]=$enc->html( $selected_name, $enc::TRUST ); ?>
            <?php if( empty($current['f_search'])) { unset($current['f_search']); } ?>
            <?php if( isset($current['f_attrid'][$attribute->getId()]) ) { unset( $current['f_attrid'][$attribute->getId()] ); } ?>
            <?php if( is_array( $current['f_attrtype'] ) ) { 
                      unset( $current['f_attrtype'][$attribute->getType()] );
                      if($filter->hasChildren()){ 
                         foreach( $filter->getChildren() as $id => $child ){
                            $attrChild=isset($attrMap[$child->getAttribute()]) ? $attrMap[$child->getAttribute()] : array();
                            foreach($attrChild as $attr){
                                if( isset($current['f_attrid'][$attr->getId()]) ){
                                     unset( $current['f_attrid'][$attr->getId()] );
                                }
                                if( is_array( $current['f_attrtype'] ) ) { 
                                     unset( $current['f_attrtype'][$attr->getType()] ); 
                                }
                            }
                         }
                     }  
                  } ?>
        <?php endif; ?>
    <?php endforeach; ?>


<fieldset class="attr-<?php echo $filter->getAttribute(); ?>" data-filter="<?php echo $filter->getId(); ?>" <?php echo ((!$found && $filter->getParentId()) || empty($attributes) || empty($conditionValues) ) ? 'style="display:none"' : '' ?>>
        <legend><?php echo $enc->html( strip_tags($filter->getName()), $enc::TRUST ); ?></legend>
        
<?php if(!empty($selected)) : ?>
<div class="attribute-selected">
    <span><?php echo implode('; ',$selected); ?> </span><a class="filter_clear" href="<?php echo $enc->attr( $this->url( $listTarget, $listController, $listAction, $current, array(), $listConfig ) ); ?>"></a>
</div>
<?php endif; ?>        
        
<ul class="attr-list radio-list">
	<?php if($filter->getCondition()=='<='){
              $conditionValues=array_reverse($conditionValues);
           } 
	?>
    <?php foreach($list as $listItem): ?>
        <?php  if(isset($filterValues)){
                   if(isset($attributes[$listItem])){
                       $attribute = $attributes[$listItem];
                   } else {
                       continue;
                   }
               }else {
                   $attribute = $listItem;
               } 
        ?>
        <?php if($attribute->getName()!='') :?>
            <?php $id = $attribute->getId(); ?>
            <?php $name= !empty($filter->getCondition()) ? array( 'f_attrtype', $attribute->getType()) : array( 'f_attrid', $id); ?>
            <?php $value= $attribute->getName( 'url' );
                  if(!empty($filter->getCondition())){
                      if(isset($filterValues)){
                          $value = implode(';',array_slice($conditionValues,array_search($attribute->getName(),$conditionValues)));
                      }
                      if(isset($conditionValues) && !empty($conditionValues) && !isset($filterValues)){
                          $value = implode(';',array_slice($conditionValues,array_search($attribute->getName(),$conditionValues)));
                          $valueIds = array_slice($conditionValuesIds,array_search($id,$conditionValuesIds));
                      }
                  }
            ?>
            <?php $checked = isset($attrIds[$id]) || (!empty($filter->getCondition()) && isset($attrTypes[$attribute->getType()]) && explode(';',$attrTypes[$attribute->getType()])[0]==$attribute->getName())? 'checked="checked"' : '' ; ?>
            <?php $disabled = !in_array($id,array_keys($filterAvailable))?'disabled':''; ?>
            <?php if(isset($valueIds)):?>
            <?php   $disabled = !in_array($id,$valueIds)?'disabled':'';?>
            <?php endif;?>
            <li class="attr-item" data-id="<?php echo $enc->attr( $id ); ?>">
                <input class="attr-item" id="attr-<?php echo $enc->attr( $id ); ?>" name="<?php echo $enc->attr( $this->formparam( $name ) ); ?>" type="radio" value="<?php echo $enc->attr( $value ); ?>" <?php echo $checked; ?> <?php echo $disabled ?>/>
                <label class="attr-name" for="attr-<?php echo $enc->attr( $id ); ?>">
                    <span><?php echo $enc->html( $attribute->getName(), $enc::TRUST ); ?></span>
                    <?php if($unitvalueExt = $attribute->getUnitvalueExt()):?>
                        <span class="unitvalue-ext"><?php echo $unitvalueExt; ?></span>
                    <?php endif;?>
                </label>
            </li>
        <?php endif; ?>
    <?php endforeach; ?>

</ul>
</fieldset>

<?php if($filter->hasChildren()): ?>
<?php   foreach( $filter->getChildren() as $id => $child ) : ?>
<?php       $filterType = !empty($child->getWebType()) ?  $child->getWebType() : 'default'; ?>
<?php       echo $this->partial( 'client/html/catalog/filter/attribute/'.strtolower($filterType), 'catalog/filter/attribute/default-item-default.html', array( 'filter' => $child, 'attrMap' => $attrMap, 'filterAvailable' => $filterAvailable) ); ?>
<?php   endforeach; ?>
<?php endif; ?>


