<?php

/**
 * @copyright Copyright (c) Metaways Infosystems GmbH, 2013
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 */
$enc = $this->encoder();
$contentUrl = $this->config( 'client/html/common/content/baseurl' );

$filter = $this->get( 'filter', array() );
$attrMap = $this->get( 'attrMap', array() );
$attrIds = $this->param( 'f_attrslider', array() );

$listTarget = $this->config( 'client/html/catalog/list/url/target' );
$listController = $this->config( 'client/html/catalog/list/url/controller', 'catalog' );
$listAction = $this->config( 'client/html/catalog/list/url/action', 'list' );
$listConfig = $this->config( 'client/html/catalog/list/url/config', array() );
$params = $this->param(); unset( $params['target'] );

$attributes1 = isset($attrMap[$filter->getAttribute()]) ? $attrMap[$filter->getAttribute()] : array();
$attributes2 = isset($attrMap[$filter->getSubAttribute()]) ? $attrMap[$filter->getSubAttribute()] : array();

$common_array = array_merge(array_keys($attributes1), array_keys($attributes2));
$common_array = array_unique($common_array);
sort($common_array,SORT_NUMERIC);

$slider_min = $slider_max = 0;
$step =10;
if(!empty($common_array)){
    $slider_min = round(preg_replace('([^0-9.,\+\-])', '', min($common_array)),1);
    $slider_max = round(preg_replace('([^0-9.,\+\-])', '', max($common_array)),1);
}

$start =  $slider_min; //floor($slider_min/$step) * $step;
$end  = $slider_max; //ceil($slider_max/$step) * $step;
$selected = false;
$current = $params;

if(isset($attrIds[0])){
    $slider_min =$attrIds[0];
    $selected = $slider_min;
    unset($current['f_attrslider'],$current['f_search']);
}

$steps_count = ($end-$start)/$step;

$found=false;
if($filter->getParentId()){
    $filterKeys = (array)explode(';',$filter->getKeys());
    foreach ($attrIds as $attr){
        if(in_array($attr,$filterKeys)){
            $found = true;
        }
    }
}

if(!empty($params['curr_page'])){
    $listTarget=$params['curr_page'];
}
?>
<?php if(!empty($common_array)):?>
    <script>
        var mx = <?php echo ($slider_max/$step) * $step; ?>;
        var sliderArrayValues = <?php echo json_encode($common_array);?>;
    </script>
    <fieldset class="attr-<?php echo $filter->getAttribute(); ?>" data-filter="<?php echo $filter->getId(); ?>" <?php echo (!$found && $filter->getParentId()) ? 'style="display:none"' : '' ?>>
        <legend><?php echo $enc->html( $filter->getName(), $enc::TRUST ); ?></legend>
        <?php if($selected) : ?>
        <div class="attribute-selected">
            <span><?php echo $selected; ?> </span><a class="filter_clear" href="<?php echo $enc->attr( $this->url( $listTarget, $listController, $listAction, $current, array(), $listConfig ) ); ?>"></a>
        </div>
        <?php endif; ?>

        <div class="attr-list slider-list">

                 <input id="slider-min" type="hidden" name="<?php echo $enc->attr( $this->formparam( array( 'f_attrslider', reset($attributes1)->getType()) ) ); ?>" value="<?php echo $slider_min; ?>" <?php echo !$selected?'disabled="disabled"':''?>/>
                 <input id="slider-max" type="hidden" name="<?php echo $enc->attr( $this->formparam( array( 'f_attrslider', reset($attributes2)->getType()) ) ); ?>" value="<?php echo $slider_max; ?>" <?php echo !$selected?'disabled="disabled"':''?>/>
                 <input id="slider" type="hidden"  checked-attr="unchecked"  name="<?php echo $enc->attr( $this->formparam( array( 'f_attrslider', 0 )) ); ?>" value="<?php echo $slider_min; ?>" <?php echo !$selected?'disabled="disabled"':''?>/>
                <?php /*?> <input class="attr-item" id="attr-<?php echo $enc->attr( $id ); ?>" name="<?php echo $enc->attr( $this->formparam( array( 'f_attrid', $id ) ) ); ?>" type="hidden" value="<?php echo $enc->attr( $attribute->getName( 'url' ) ); ?>"/>
                 <input class="attr-item" id="attr-<?php echo $enc->attr( $id ); ?>" name="<?php echo $enc->attr( $this->formparam( array( 'f_attrid', $id ) ) ); ?>" type="hidden" value="<?php echo $enc->attr( $attribute->getName( 'url' ) ); ?>"/>
                <?php */?>
                <div class="slider_filter">
                  <div class="slider_wrapper">
                    <div class="slider_line">
                      <div class="slider_line_active"></div>
                      <div class="slider_mark" style="left: 1px; height: 34px;"><span><?php echo $start; ?></span></div>
                      <?php if($steps_count):?>
                        <?php for ($i=1; $i<$steps_count; $i++):?>
                            <div class="slider_mark" style="left: <?php echo 100/$steps_count*$i ?>%;"><span></span></div>
                        <?php endfor;?>
                      <?php endif; ?>
                      <div class="slider_mark" style="left: calc(100% - 2px); height: 34px;"><span><?php echo $end; ?></span></div>
                      <div class="value_mark i_1">
                        <div class="box"><?php echo $slider_min; ?></div>
                        <div class="triangle"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button"><span><?php echo $enc->html( $this->translate( 'client/html', 'Apply filter'), $enc::TRUST ); ?></span></button>
        </div>
    </fieldset>
<?php endif; ?>



