<?php

/**
 * @copyright Copyright (c) Metaways Infosystems GmbH, 2012
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 */
$enc = $this->encoder();

$itemData = $this->get('itemData',array());
$catalogList = $this->get('catalogList',array());
$params = $this->param();

$detailTarget = $this->config( 'client/html/catalog/detail/url/target' );
$detailController = $this->config( 'client/html/catalog/detail/url/controller', 'catalog' );
$detailAction = $this->config( 'client/html/catalog/detail/url/action', 'detail' );
$detailConfig = $this->config( 'client/html/catalog/detail/url/config', array() );

$listTarget = $this->config( 'client/html/catalog/list/url/target' );
$listController = $this->config( 'client/html/catalog/list/url/controller', 'catalog' );
$listAction = $this->config( 'client/html/catalog/list/url/action', 'list' );
$listConfig = $this->config( 'client/html/catalog/list/url/config', array() );

$categoryTarget =  $this->get( 'categoryTarget',1);
$categoryWebcodePath =  $this->get( 'categoryWebcodePath',array());
$phrase = $enc->attr( $this->param( 'f_search' ) );
$name = $enc->attr( $this->formparam( 'f_search' ) );
$urlSort = $this->direction.$this->sort;
$direction_reverse = ($this->direction === '-') ? '+' : '-';

$hint = $this->translate( 'client/html', 'Please enter at least three characters' );

$webcodelistTarget = $this->config( 'client/html/catalog/webcodelist/url/target' );
$webcodelistController = $this->config( 'client/html/catalog/webcodelist/url/controller', 'Catalog' );
$webcodelistAction = $this->config( 'client/html/catalog/webcodelist/url/action', 'webcodelist' );
$webcodelistConfig = $this->config( 'client/html/catalog/webcodelist/url/config', array() );


$webcodelistUrlParams = [];
foreach (['f_search','f_catid'] as $param_name){
    if(!empty($params[$param_name])){
        $webcodelistUrlParams[$param_name] = $params[$param_name];
    }
}
$webcodelistUrl = $enc->attr( $this->url( $webcodelistTarget, $webcodelistController, $webcodelistAction, $webcodelistUrlParams, array(), $webcodelistConfig ) );

$pagerAjaxUrlParams = $webcodelistUrlParams;
$pagerAjaxUrlParams['l_page'] = $this->get('pagiPageNext',1);
$pagerAjaxUrlParams['f_sort_wc'] = $urlSort;
$pagerAjaxUrl = $enc->attr($this->url($webcodelistTarget, $webcodelistController, $webcodelistAction, $pagerAjaxUrlParams, array(), $this->config( 'client/html/catalog/webcodelist/ajax/config') ));

$sortNameUrlParams = $webcodelistUrlParams;
$sortNameUrlParams['f_sort_wc'] = $direction_reverse.'name';
$sortNameUrl = $enc->attr($this->url( $webcodelistTarget, $webcodelistController, $webcodelistAction, $sortNameUrlParams, array(), $webcodelistConfig));

$sortWebcodeUrlParams = $webcodelistUrlParams;
$sortWebcodeUrlParams['f_sort_wc'] = $direction_reverse.'webcode';
$sortWebcodeUrl = $enc->attr($this->url( $webcodelistTarget, $webcodelistController, $webcodelistAction, $sortWebcodeUrlParams, array(), $webcodelistConfig));

$url0 = $GLOBALS['TSFE']->cObj->typoLink_URL(array('parameter' => 6,'forceAbsoluteUrl' => true));
$langCode = $this->get( 'langCode', '' );
$title = array_shift(array_values( $GLOBALS['TSFE']->rootLine ));

?>

<div class="breadcrumb for_content">
  <div class="content-container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="breadcrumb_ul">
          <li class=""/>
          <li class=""/>
          <li class=""> <a title="<?php echo $this->translate( 'client/html','Products'); ?>" href="<?php echo $url0; ?>"> <?php echo $this->translate( 'client/html','Products'); ?> </a> </li>
          <?php if(!empty($categoryWebcodePath) && isset($categoryTarget)):?>
          <?php foreach ($categoryWebcodePath as $cat): ?>
              <li class=""> <a title="Category" href="<?php echo $enc->attr( $this->url( $categoryTarget, $listController, $listAction, array('f_catid'=>$cat->getId()), array(), $listConfig ) ); ?>">
                <?php $dName = reset($cat->getRefItems('text', 'DisplayName')); ?>
                <?php echo $enc->html( ($dName && !empty($dName->getContent())) ? $dName->getContent() :  $cat->getName(), $enc::TRUST ); ?> </a>
              </li>
          <?php endforeach; ?>
          <?php endif;?>
          <li class="active"> <?php echo $title['title']; ?> </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="aimeos webcode-list">
<?php if( isset( $this->listErrorList ) ) : ?>
<ul class="error-list">
  <?php foreach( (array) $this->listErrorList as $errmsg ) : ?>
  <li class="error-item"><?php echo $enc->html( $errmsg ); ?></li>
  <?php endforeach; ?>
</ul>
<?php endif; ?>
<div class="container_marginal">
  <div class="content_marginal gutter-8">
    <div class="content-container">
      <div class="row">
        <div class="col-sm-8 col-xs-12 subcontent-wrap ">
          <div class="row">
            <div class="webcode module gutter-8">
              <div class="content-container">
                <div class="row">
                  <div class="col-xs-12 headline-row with-p">
                    <h2><?php echo $enc->html( $this->translate( 'client/html', 'Webcode overview' ), $enc::TRUST ); ?></h2>
                    <p><?php echo $enc->html( $this->translate( 'client/html', 'To access complete information on individual products, click on the respective Webcode from the list given below.' ), $enc::TRUST ); ?></p>
                  </div>
                  <form class="aimeos catalog-filter" method="POST" action="<?php echo $enc->attr( $webcodelistUrl ) ?>">
                    <section class="catalog-filter-search">
                      <h2><?php echo $enc->html( $this->translate( 'client/html', 'Search' ), $enc::TRUST ); ?></h2>
                      <input class="webcodevalue" type="text" name="<?php echo $name; ?>" value="<?php echo $phrase; ?>" data-hint="<?php echo $hint; ?>"  placeholder="<?php echo $this->translate( 'client/html', 'Product name or webcode' ); ?>"/>
                      <button class="standardbutton" type="submit"><?php //echo $enc->html( $this->translate( 'client/html', 'Go' ), $enc::TRUST ); ?></button>
                    </section>
                    <div class="row">
                      <div class="col-xs-12 content-row">
                        <div class="table_details">
                          <table>

                              <?php if($this->itemTotal): ?>
                              <thead>
                                <?php $classSort = ($this->direction === '-') ? 'sort-asc' : 'sort-desc'; ?>
                                <tr>
                                      <th>
                                          <a href="<?php echo $sortNameUrl; ?>" class="sort <?php echo $this->sort == 'name' ? $classSort : ''; ?>"><?php echo $enc->html( $this->translate( 'client/html', 'Product name' ), $enc::TRUST ); ?></a></th>
                                      <th><a href="<?php echo $sortWebcodeUrl; ?>" class="sort <?php echo $this->sort == 'webcode' ? $classSort : ''; ?>"><?php echo $enc->html( $this->translate( 'client/html', 'Webcode' ), $enc::TRUST ); ?></a></th>
                                </tr>
                              </thead>
                              <?php endif; ?>

                            <tbody>
                              <?php foreach ($itemData as $productItem) : ?>
                              <?php $webcode = reset($productItem->getRefItems('text', 'AT_WebCode')); ?>
                              <?php /*if(!$webcode):?>
                              <?php continue;?>
                              <?php endif;*/?>
                              <tr>
                                <td><a href="<?php echo $enc->attr( $this->url( $catalogList[$productItem->getId()]['target'], $detailController, $detailAction, array('f_catid'=>$catalogList[$productItem->getId()]['catalog'], 'd_prodid' => $productItem->getId(),'listType'=>'downloads'), array(), $detailConfig ) ); ?>">
                               <?php if(count($productItem->getRefItems('text', 'TitleProductSubSeries'))>1): ?>
                                    <?php foreach ($productItem->getRefItems('text', 'TitleProductSubSeries') as $lProduct): ?>
                                        <?php if($lProduct->getLanguageId()==$langCode):?>
                                        	<?php $dName = $lProduct;?>
                                        <?php endif;?>
                                    <?php endforeach;?>
                                <?php else: ?>
                	                <?php $dName = reset($productItem->getRefItems('text', 'TitleProductSubSeries')); ?>
                                <?php endif; ?>
                                <?php echo $enc->html( ($dName && !empty($dName->getContent())) ? $dName->getContent() :  $productItem->getName(), $enc::TRUST ); ?> </a></td>
                                <td><?php echo $webcode->getContent(); ?></td>
                              </tr>
                              <?php endforeach; ?>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                      <?php if($this->itemTotal && empty($params['f_catid'])): ?>
                          <div class="catalog-list-pagination">
                              <nav class="pagination">
                                  <?php if ($this->get('pagiPageLast', 1) > 1 && $this->get('listPageCurr',
                                          1) != $this->get('pagiPageLast', 1)
                                  ) : ?>
                                      <div class="center"><a href="javascript:void(0);" class="button blue" onclick="AimeosWebcodeFilter.pager(this, '<?php echo $pagerAjaxUrl ?>');"><span><?php echo $enc->html($this->translate('client/html','load more'), $enc::TRUST); ?></span></a></div>
                                  <?php endif; ?>
                              </nav>
                          </div>
                      <?php endif; ?>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>