<div class="searchall module gutter-8">
  <div class="content-container">
    <div class="row">
      <div class="tx_solr ">
        <f:render section="main" />
      </div>
    </div>
  </div>
</div>
