<?php

/**
 * @copyright Copyright (c) Metaways Infosystems GmbH, 2014
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 */

$mediaItems = $this->get( 'detailProductMediaItems', array() );
$items = $this->get( 'downloadMap', array() );

$enc = $this->encoder();

if(!function_exists("convertUmlaute")) {
    function convertUmlaute($str)
    {
    $string = str_replace("ä", "ae", trim($str));
    $string = str_replace("ü", "ue", $string);
    $string = str_replace("ö", "oe", $string);
    $string = str_replace("Ä", "Ae", $string);
    $string = str_replace("Ü", "Ue", $string);
    $string = str_replace("Ö", "Oe", $string);
    $string = str_replace("ß", "ss", $string);
    return $string;
    }
} 
?>
<?php if(!empty($items)  && $this->detailProductItem->getType() =='default' && $this->detailProductItemParent &&
                $this->detailProductItemParent->getType()=='select') :?>
<div class="product_download module background gutter-8">
    <div class="content-container">
        <div class="row">
        <?php if( count( $items ) > 0 ) : ?>
              <div class="col-xs-12 headline-row">
                <h2><?php echo $enc->html( $this->translate( 'client/html', 'Downloads' ), $enc::TRUST ); ?></h2>
              </div>
                <div class="col-xs-12 content-row">
                    <ul class="nav-tabs">
                        <?php $first=true; ?>
	                    <?php foreach( $items as $id => $itemData ) : ?>
						<li id="<?php echo $id; ?>" class="<?php echo ($first ? 'active' : ''); $first=false; ?>"><a href="#"><?php echo $enc->html( $this->translate( 'client/html', str_replace('_',' ',$id) ), $enc::TRUST ); ?></a></li>
	                    <?php endforeach; ?>
	                        <li class="tab_slider" style="width: 89px; left: 0px;"></li>
                    </ul>
                    <div class="product_download-line-slide"></div>
                    <div class="details_container">
	                    <?php foreach( $items as $id => $itemData ) : ?>
	                        <div id="<?php echo $id.'_detail'; ?>" class="detail">
		                        <?php echo $this->partial( 'client/html/catalog/detail/additional/download/template/'.strtolower($id), 'catalog/detail/additional/download/default-body-default.html', array( 'mediaItems' => $mediaItems, 'itemData' => $itemData, 'langCode' => $this->get( 'langCode', '' )) ); ?>
	                        </div>
	                    <?php endforeach; ?>
                    </div>
                </div>
        <?php endif; ?>
<?php echo $this->get( 'downloadBody' ); ?>
        </div>
    </div>
</div>
<?php endif; ?>
