<?php

/**
 * @copyright Copyright (c) Metaways Infosystems GmbH, 2014
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 */

$subAttrDeps = $this->get( 'subAttributeDependencies', array() );
$attrMap = $this->get( 'attributeMap', array() );
$attrTypes = $this->get( 'attributeTypes', array() );
$attrGroups = $this->get( 'attributeGroups', array() );
$unitValues = $this->get( 'unitValues', array() );
$langCode = $this->get( 'langCode',''); 
$enc = $this->encoder();
$atexCodes = $this->get( 'atexCodes','');
?>
<?php if( count( $attrMap ) > 0 && $this->detailProductItem->getType() =='default' && $this->detailProductItemParent &&
                $this->detailProductItemParent->getType()=='select' ) : ?>
<div class="product_tech_specs panel-group volle_breite module gutter-8" id="accordion3" role="tablist" aria-multiselectable="true">
<div class="content-container">
    <div class="row">
        <div class="col-xs-12 headline-row">
            <h2><?php echo $enc->html( $this->translate( 'client/html', 'Technical data' ), $enc::TRUST ); ?></h2>
        </div>
        <div class="col-xs-12 content-row">
            <?php foreach( $attrMap as $group => $groupItems ) : ?>
                 <?php if(empty($groupItems)):?>
                 <?php continue;?>
                 <?php endif;?>
                 <div class="panel panel-default">
                     <div class="panel-heading" child="accordion3-0">
		                  <h4 class="panel-title"> <?php if ($attrGroups[$group]){  
                          $gr = reset($attrGroups[$group]->getRefItems( 'text', 'DisplayName'));
                          echo $enc->html($gr ? $gr->getContent(): $attrGroups[$group]->getName());
                            }?> 
                      </h4>
		             </div>
		            <div id="accordion3-0" class="panel-collapse collapse">
		                <?php echo $this->partial( 'client/html/catalog/detail/additional/attributegroups/template/'.strtolower($attrGroups[$group]->getCode()), 'catalog/detail/additional/attributegroup/default-body-default.html', array( 'groupItems' => $groupItems, 'attrTypes' => $attrTypes, 'unitValues' => $unitValues,'langCode'=>$langCode,'atexCodes'=>$atexCodes) ); ?>
		            </div>
                 </div>
            <?php endforeach; ?>
        </div>
    </div>
</div>
</div>
<?php endif; ?>
