<?php

/**
 * @copyright Copyright (c) Metaways Infosystems GmbH, 2012
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 */

$enc = $this->encoder();
$params = $this->param();
$langCode = $this->get( 'langCode', '' );
?>
<?php if( isset( $this->detailProductItem ) && !isset($params['listType']) && !isset($params['d_prodid'])) : ?>
<div class="filter_module module gutter-8">
  <div class="content-container">
    <div class="row">
      <div class="col-xs-12 headline-row with-text">
        <h2 class="two_thirds">
        <?php if(count($this->detailProductItem->getRefItems('text', 'TitleProductSubSeries'))>1): ?>
              <?php foreach ($this->detailProductItem->getRefItems('text', 'TitleProductSubSeries') as $lProduct): ?>
                   <?php if($lProduct->getLanguageId()==$langCode):?>
                        <?php $dName = $lProduct;?>
                   <?php endif;?>
              <?php endforeach;?>
        <?php else: ?>
              <?php $dName = reset($this->detailProductItem->getRefItems('text', 'TitleProductSubSeries')); ?>
        <?php endif; ?>	
        <?php echo $enc->html( ($dName && !empty($dName->getContent())) ? $dName->getContent() :  $this->detailProductItem->getName(), $enc::TRUST ); ?>
        </h2>
        <p class="two_thirds" style="display:none;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
      </div>
    </div>
  </div>
</div>
<?php endif; ?>
<?php echo $this->basicBody; ?>
