<?php

/**
 * @copyright Copyright (c) Metaways Infosystems GmbH, 2012
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 */

$basketTarget = $this->config( 'client/html/basket/standard/url/target' );
$basketController = $this->config( 'client/html/basket/standard/url/controller', 'basket' );
$basketAction = $this->config( 'client/html/basket/standard/url/action', 'index' );
$basketConfig = $this->config( 'client/html/basket/standard/url/config', array() );

$reqstock = (int) $this->config( 'client/html/basket/standard/require-stock', true );
$enc = $this->encoder();

?>
<div class="catalog-detail-basket" data-reqstock="<?php echo $reqstock; ?>">
<?php if( isset( $this->detailProductItem ) ) : ?>
	<div class="price price-main price-actual price-prodid-<?php echo $this->detailProductItem->getId(); ?>">
<?php	echo $this->partial( 'client/html/common/partials/price', 'common/partials/price-default.html', array( 'prices' => $this->detailProductItem->getRefItems( 'price', 'default', 'default' ) ) ); ?>
	</div>
<?php endif; ?>

<form method="POST" action="<?php echo $enc->attr( $this->url( $basketTarget, $basketController, $basketAction, array(), array(), $basketConfig ) ); ?>">
<!-- catalog.detail.basket.csrf -->
<?php //echo $this->csrf()->formfield(); ?>
<!-- catalog.detail.basket.csrf -->
<?php //echo $this->get( 'basketBody' ); ?>
	</form>
</div>
