<?php

/**
 * @copyright Copyright (c) Metaways Infosystems GmbH, 2012
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 */

$enc = $this->encoder();

$id = $css = '';
if( isset( $this->detailProductItem ) )
{
	$id = $this->detailProductItem->getId();
	$conf = $this->detailProductItem->getConfig();
	$css = ( isset( $conf['css-class'] ) ? $conf['css-class'] : '' );
}

?>
<?php if( isset( $this->detailErrorList ) ) : ?>
	<ul class="error-list">
<?php foreach( (array) $this->detailErrorList as $errmsg ) : ?>
		<li class="error-item"><?php echo $enc->html( $errmsg ); ?></li>
<?php endforeach; ?>
	</ul>
<?php endif; ?>
<?php echo $this->get( 'detailBody' ); ?>

