<?php

/**
 * @copyright Copyright (c) Metaways Infosystems GmbH, 2013
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 */

$enc = $this->encoder();
$productItems = $this->get( 'suggestItems', array() );
$positionItems = $this->get( 'suggestPosItems', array() );
$missingItems = $this->get( 'missingItems', array() );
$attrTypes = $this->get( 'attributeTypes', array() );
$params = $this->param();

$similar = false;
if(isset($positionItems['similar'])) {
    $similar = $positionItems['similar'];
    unset($positionItems['similar']);
}
 
?>
<?php if( !empty( $positionItems ) && $this->detailProductItem->getType() =='default' && $this->detailProductItemParent &&
                $this->detailProductItemParent->getType()=='select') : ?>
<div class="product_accessories module background gutter-8">
  <div class="content-container">
    <div class="row">
        <div class="col-xs-12 headline-row">
            <h2><?php echo $this->translate( 'client/html', 'Accessories' ); ?></h2>
      </div>
      <div class="col-xs-12 content-row">
      <div class="product_accessories-line-slide"></div>
        <div class="details_container">
            <?php   foreach( $positionItems as $type => $positionItem ) : ?>
            <?php if( count( $positionItem )) : ?>
                <?php echo $this->partial( 'client/html/catalog/detail/additional/suggest/template/'.strtolower($type), 'catalog/detail/additional/suggest/default-body-default.html', array( 'productItems' => $productItems, 'positionItem' => $positionItem, 'type'=>$type, 'attributeTypes' => $attrTypes,'missingItems'=>$missingItems) ); ?>
            <?php endif; ?>
            <?php endforeach; ?>
        </div>
        <!-- div class="center"><a href="#" class="button"><span>mehr produkte laden</span></a></div-->
       </div> 
<?php //echo $this->suggestBody; ?>
    </div>
  </div>
</div>
<?php endif; ?>


<?php if($similar && $this->detailProductItem->getType() =='default' && $this->detailProductItemParent &&
                $this->detailProductItemParent->getType()=='select' ) :?>
<div class="similar_products teaserboxen_vollbild_drei_raster_carousel module gutter-8">
  <div class="content-container">
    <div class="row">
      <div class="col-xs-12 headline-row">
        <h2><?php echo $this->translate( 'client/html', 'Similar products' ); ?></h2>
      </div>
      <div id="teaserboxen_vollbild_drei_raster_carousel" class="owl-carousel sameheight content-row">
                <?php echo $this->partial( 'client/html/catalog/detail/additional/suggest/template/similar', 'catalog/detail/additional/suggest/default-body-default.html', array( 'productItems' => $productItems, 'positionItem' => $similar, 'type'=>'similar', 'attributeTypes' => $attrTypes) ); ?>
      </div>
    </div>
  </div>
</div>
<?php endif; ?>
