  html 
  {
    width: 100%;
    height: 100%;
   	overflow: hidden;
  }

  body 
  {
  	left:0px;
  	padding:0px;
  	margin: 0px;
  	width: 100%;
   	height: 100%;
   	overflow: hidden;
  }

  /*********************************/
  /***** Start Small Container *****/
  /*********************************/

  #start_chat_container
  {
    width: 350px;
    height: 350px;
  }
  
  /************************************/
  /***** Start Expanded Container *****/
  /************************************/

  #chat_container_expanded
  {
  	width: 350px;
   	height: 350px;
   	display: block;
  }

  #chat_container_expanded_background
  {
    width: 300px;
    height: 340px;
    background-color: #FFFFFF;
    position: absolute;
    top: 10px;
    left: 25px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 2px #B0B0B0;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 0px 10px 2px #B0B0B0;  /* Firefox 3.5 - 3.6 */
    box-shadow:        0px 0px 10px 2px #B0B0B0;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    padding: 10px;
    font-size: 17px;
    font-family: 'robotobold';
    color: #000005;
  }

  /**********************************/
  /***** End Expanded Container *****/
  /**********************************/


  /****************************/
  /***** Start Text Class *****/
  /****************************/

  #nameText
  {
    padding-top: 25px;
  }

  .text_field
  {
  	width: 100%;
  	text-align: left;
  	font-family: 'robotoregular';
  	font-size: 16px;
  	box-sizing:border-box;
    padding-top: 15px;
  }

  /**************************/
  /***** End Text Class *****/
  /**************************/


  /****************************(***/
  /***** Start username input *****/
  /********************************/

  #text_input
  {
  	width: 230px;
  	border-radius: 5px;
  	border: 1px solid lightgray;
  	padding: 5px;
  	font-family: 'robotoregular';
  	font-size: 14px;
  	color: #000000;
  	margin: auto;
  	display: block;
    margin-top: 5px;
    -webkit-box-shadow:2px 3px 5px 0px #B0B0B0;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    2px 3px 5px 0px #B0B0B0;  /* Firefox 3.5 - 3.6 */
    box-shadow:        2px 3px 5px 0px #B0B0B0;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }

  input:focus{
      outline: 0;
  }

  /******************************/
  /***** End username input *****/
  /******************************/


  /*************************/
  /***** Start warning *****/
  /*************************/
  #popup_warning{
    width: 100%;
    font-family: 'robotomedium';
    font-size: 16px;
    color: #000000;
    margin-top: 10px;
  }

  /************************/
  /***** End warning *****/
  /************************/

  /*****************************/
  /***** Start chat button *****/
  /*****************************/

  #start_chat_button
  {
  	width: auto;
  	height: auto;
    padding: 10px;
  	border-radius: 10px;
    background-color: #0b3354;
    -webkit-box-shadow:2px 3px 5px 0px #B0B0B0;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    2px 3px 5px 0px #B0B0B0;  /* Firefox 3.5 - 3.6 */
   	box-shadow:        2px 3px 5px 0px #B0B0B0;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
   	vertical-align: middle;
   	margin: auto;
   	display: table;
    margin-top:5px;
    cursor: pointer;
    text-align: center;
    font-family: 'robotomedium';
    font-size: 23px;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px gray; 
  }

  #start_chat_button:enabled
  {
    background-color: #0b3354;
    outline:none;
  }

  #start_chat_button:disabled
  {
    background-color: #999;
    cursor: auto;
  }

  #start_chat_button:focus {
      outline:none;
  }

  /***************************/
  /***** End chat button *****/
  /***************************/

  /*********************************/
  /***** Start name alert text *****/
  /*********************************/
  .nameAlertText
  {
    font-family: 'robotomedium';
    font-size: 12px;
    color: red;
    padding-top: 5px;
  }