  html 
  {
    width: 100%;
    height: 100%;
   	overflow: hidden;
  }

  body 
  {
  	left:0px;
  	padding:0px;
  	margin: 0px;
  	width: 100%;
  	height: 100%;
  	min-width: 400px;
  	min-height: 500px;
   	height: 100%;
   	overflow: hidden;
  }
  
pre {
  font-family: 'robotoregular';
  font-size:14px;
  margin:0px;
  padding:0px;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

#actual_chat_container
{
 	width: 100%;
 	height: 100%;
 	min-width: 400px;
  	min-height: 500px;
	box-sizing:border-box;
}

#background_container
{
 	width: 96%;
 	height: 96%;
 	min-width: 400px;
  	min-height: 500px;
	background-color: #dfdfdf;
    position: absolute;
    top: 2%;
    left: 2%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 2px #B0B0B0;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 0px 10px 2px #B0B0B0;  /* Firefox 3.5 - 3.6 */
    box-shadow:        0px 0px 10px 2px #B0B0B0;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    padding: 15px;
    box-sizing:border-box;
}

/******************************/
/***** Start User details *****/
/******************************/
#user_details_container
{
	width: 100%;
	height:10%;
	box-sizing: border-box;
	background: -webkit-linear-gradient(left,#60b2ea, white); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(left,#60b2ea, white); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(left,#60b2ea, white); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(left,#60b2ea, white); /* Standard syntax */
  	background-color: #60b2ea;
	font-family: 'robotoregular';
	font-size: 14px;
	-webkit-box-shadow: 0px 2px 10px 0px #B0B0B0;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow:    0px 2px 10px 0px #B0B0B0;  /* Firefox 3.5 - 3.6 */
 	 box-shadow:        0px 2px 10px 0px #B0B0B0;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
 	 border-radius: 10px;
}

#user_image
{
	height: 70%;
	float: left;
	padding-left: 15px;
	padding-top: 5px;
	box-sizing: border-box;
}

#user_image img
{
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	vertical-align: middle;
	display: block;
}

#user_details
{
	height: 70%;
	padding-top: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	float: left;
}

#user_details_status
{
	width: 100%;
	font-family: 'robotomedium';
	color: #FFFFFF;
	font-size: 16px;
}

#ipocc_status
{
	float: left;
}

.online_bullet
{
	width:10px;
	height:10px;
	border-radius:50%;
	background-color: green;
	background: -webkit-linear-gradient(left,green, white); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(left,green, white); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(left,green, white); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(left,green, white); /* Standard syntax */
	float: left;
	margin: auto;
	display: block;
	margin-top:5px;
	margin-right: 5px;
}

.offline_bullet
{
	width:10px;
	height:10px;
	border-radius:50%;
	background-color: red;
	background: -webkit-linear-gradient(left,red, white); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(left,red, white); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(left,red, white); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(left,red, white); /* Standard syntax */
	float: left;
	margin: auto;
	display: block;
	margin-top:5px;
	margin-right: 5px;
}


#user_details_date
{
	height: 30%;
	width: 100%;
	font-family: 'robotoitalic';
	text-align: right;
	font-size: 12px;
	margin-right: 10px;
	float: right;
}

/****************************/
/***** End User details *****/
/****************************/


/********************************/
/***** Start Chat container *****/
/********************************/
#chat_container
{
	width: 100%;
	height:65%;
	padding:10px;
	box-sizing: border-box;
}

#chat_arhive_container
{
	width: 100%;
	height: 100%;
	background-color: white;
	border-radius: 10px;
	-webkit-box-shadow: 3px 3px 9px 0px gray;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow:    3px 3px 9px 0px gray;  /* Firefox 3.5 - 3.6 */
 	 box-shadow:         3px 3px 9px 0px gray;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

#scrollable_chat_container
{
	width: 100%;
	max-height:100%;
	overflow-y:auto;
	overflow-x:none;
}

/* custom scroll bar */
#scrollable_chat_container::-webkit-scrollbar{
width:10px;
background-color:none;
} 

#scrollable_chat_container::-webkit-scrollbar-thumb{
background-color:lightgray;
border-radius:15px;
}
#scrollable_chat_container::-webkit-scrollbar-thumb:hover{
background-color:lightgray;
}
#scrollable_chat_container::-webkit-scrollbar-thumb:active{
background-color:lightgray;
} 
#scrollable_chat_container::-webkit-scrollbar-track{
border-radius:15px;
-webkit-box-shadow:0 0 1px gray inset;
} 

/* Chat classes */
.chat_message_date
{
	text-align: right;
	font-size: 12px;
	font-family: 'robotoregular';
	color: #5A646E;

}

.chat_agent_message_date
{
	color: #FFFFFF;
}

/* User messages */
.user_messages
{
	float: right;
	width: 90%;
	overflow: hidden;
	margin: 5px;
}

.chat_message_texts
{
	font-family: 'robotoregular';
	font-size: 14px;
	padding: 5px;
	border-radius: 5px;
	margin-left: 5px;
	margin-right: 5px;
	max-width: 70%;
}

.chat_user_message
{
	float: right;
	background-color: #ecf4fa;
	color: #5A646E;
	word-wrap: break-word;
	overflow-wrap:break-word;
}

.chat_user_message pre
{
	width: 100%;
	float: right;
}

.chat_user_image
{
	float: right;
    width: 25px;
	height: 25px;
	border-radius: 50%;
    overflow: hidden;
    display:table-cell;
    vertical-align: middle;
    position: relative;
}

.chat_user_image img
{
	max-width: 100%;
    max-height: 100%;
    display: inline-block;
    margin: auto auto;
    vertical-align: middle;
}

/* Agent messages */
.agent_messages
{
	float: left;
	width: 90%;
	margin: 5px;
	overflow: hidden;
}

.chat_agent_message
{
	float: left;
	background-color: #60b2ea;
	color: #FFFFFF;
	word-wrap: break-word;
	overflow-wrap:break-word;
}

.chat_agent_message pre
{
	width: 100%;
	float: left;
}

.chat_agent_image
{
	float: left;
	width: 25px;
	height: 25px;
	border-radius: 50%;
    overflow: hidden;
    display:table-cell;
    vertical-align: middle;
    position: relative;
}

.chat_agent_image img
{
	max-width: 100%;
    max-height: 100%;
    display: inline-block;
    margin: auto auto;
    vertical-align: middle;
}

/* Is typing message */
.typing_user_message
{
	float: left;
	background-color: #ededed;
	color: #5A646E;
	font-family: 'robotoregular';
}

.type_bullet
{
	width:5px;
	height:5px;
	border-radius:50%;
	background-color: gray;
	float: left;
	position: absolute;
	bottom: 5px;
}

.black_space
{
	float: left;
}

/******************************/
/***** End Chat container *****/
/******************************/

/***************************************/
/***** Start New message container *****/
/***************************************/
#new_message_container
{
	width: 100%;
	height:20%;
}

#textarea_container
{
	width: 100%;
	height: 80%;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	border-radius: 10px;
	box-sizing: border-box;
	font-size: 14px;
	color: black;
	font-family: 'robotoregular';
	float: left;	
}

#new_message_textarea
{
	width: 100%;
	height: 100%;
	resize: none;
	padding: 5px;
	box-sizing: border-box;
	font-size: 14px;
	font-family: 'robotoregular';
	border: none; 
	border-radius: 10px;
	-webkit-box-shadow: 0px 2px 10px 0px #B0B0B0;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow:    0px 2px 10px 0px #B0B0B0;  /* Firefox 3.5 - 3.6 */
 	 box-shadow:        0px 2px 10px 0px #B0B0B0;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
 	 outline:0px none transparent;
}

#new_message_textarea:focus{
    outline: 0;
}

#send_message_button
{
	width: auto;
	height: auto;
	float: right;
	text-align: center;
	margin-right:13px;
	padding-top: 5px;
	padding-bottom: 5px;
	box-sizing: border-box;
	font-family: 'robotoregular';
	background-color: #999;
	display: table-cell;
	border-radius: 5px;
	color: #FFFFFF;
	-webkit-box-shadow: 3px 3px 2px 0px gray;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow:    3px 3px 2px 0px gray;  /* Firefox 3.5 - 3.6 */
 	 box-shadow:         3px 3px 2px 0px gray;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
 	 cursor: pointer;
}

#send_message_button:enabled
{
	background-color: #0b3354;
    outline:none;
}

#send_message_button:disabled
{
	background-color: #999;
	cursor: auto;
}

#send_message_button:focus {
    outline:none;
}

#emoticon_button
{
	width: 32px;
	height: 32px;
	float: right;
	text-align: center;
	margin-right:13px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'robotoregular';
	display: table-cell;
	border-radius: 5px;
	color: white;
	-webkit-box-shadow: 3px 3px 2px 0px gray;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow:    3px 3px 2px 0px gray;  /* Firefox 3.5 - 3.6 */
 	 box-shadow:         3px 3px 2px 0px gray;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
 	 cursor: pointer;
}

#emoticon_button img
{
	width: 28px;
	height: 28px;
	background-repeat: no-repeat;
	background-color: #0b3354;
}

#emoticon_button:enabled
{
	background-color: #dfdfdf;
    outline:none;
}

#emoticon_button:disabled
{
	background-color: #999;
	cursor: auto;
}

#emoticon_button:focus {
    outline:none;
}

#emoticon_container
{
	background-color: #dfdfdf;
	width: auto;
	height: auto;
	right: 15px;
	position: absolute;
	padding: 5px;
	border-radius: 8px;
	margin: 10px;
	margin-right: 12px;
	-webkit-box-shadow: 3px 3px 2px 0px gray;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow:    3px 3px 2px 0px gray;  /* Firefox 3.5 - 3.6 */
 	 box-shadow:         3px 3px 2px 0px gray;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

#emoticon_container_top,
#emoticon_container_bottom
{
	width: auto;
	height: auto;
	bottom: 0px;
	left: 0px;
	position: relative;
}
/*************************************/
/***** End New message container *****/
/*************************************/



/**************************************/
/***** Start Close chat container *****/
/**************************************/
#close_buttons_container
{
	width: 100%;
	height:5%;
}

#close_button
{	
	width: auto;
	height: auto;
	border-radius: 5px;
	text-align: center;
	background-color: #0b3354;
	color: #FFFFFF;
	margin: auto;
	font-family: 'robotoregular';
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	box-sizing: border-box;
	-webkit-box-shadow: 3px 3px 2px 0px gray;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow:    3px 3px 2px 0px gray;  /* Firefox 3.5 - 3.6 */
 	 box-shadow:         3px 3px 2px 0px gray;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
 	 cursor: pointer;
}

/*#close_button:enabled
{
	background-color: #0b3354;
    outline:none;
}

#close_button:disabled
{
	background-color: #999;
	cursor: auto;
}*/

#close_button:focus {
    outline:none;
}

/************************************/
/***** End Close chat container *****/
/************************************/
