
<f:layout name="Default" />

<f:section name="main">
<f:flashMessages />
<f:if condition="{locations}">
	<f:then>
		<div class="owl-carousel location_carousel">
			<f:for each="{locations}" as="location">
				<div class="carousel-item">
					<h4>{location.name}</h4>
						<f:if condition="{location.address1}">
							{location.address1}<br>
						</f:if>
						<f:if condition="{location.address2}">
							{location.address2}<br>
						</f:if>
						<f:if condition="{location.zipcode}">
							{location.zipcode} 
						</f:if>
						<f:if condition="{location.city}">
							{location.city}
						</f:if>
						<f:if condition="{location.zipcode}">
							<f:then>
								<br>
							</f:then>
							<f:else>
								<f:if condition="{location.city}">
									<br>
								</f:if>
							</f:else>
						</f:if>
						<f:if condition="{location.phone}">
							<a href="tel:{location.phone}"><h5 class="number">{location.phone}</h5></a>
						</f:if>
						<f:if condition="{location.fax}">
							<h5 class="fax">{location.fax}</h5>
						</f:if>
						<f:if condition="{location.mail}">
							<h5 class="email"><a href="mailto:{location.mail}">{location.mail}</a></h5>
						</f:if>
						<f:if condition="{location.website}">
							<h5 class="website"><a href="{location.website}" target="_blank">{location.website}</a></h5>
						</f:if>
					<!--<div class="button_container_bottom">
						<a href="/index.php?id=45" class="button"><f:translate key="tx_locationsearch_contact_form" /></a>
					</div>-->
				</div>
			</f:for>
		</div>
		<div class="clearfix"></div>
	</f:then>
	<f:else>
		<f:translate key="tx_locationsearch_no_locations" />
	</f:else>
</f:if>
</f:section>