
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Location</h1>

<f:flashMessages />

<table  class="tx_locationsearch" >
	<tr>
		<th><f:translate key="tx_locationsearch_domain_model_location.name" /></th>
		<th><f:translate key="tx_locationsearch_domain_model_location.address1" /></th>
		<th><f:translate key="tx_locationsearch_domain_model_location.address2" /></th>
		<th><f:translate key="tx_locationsearch_domain_model_location.zipcode" /></th>
		<th><f:translate key="tx_locationsearch_domain_model_location.city" /></th>
		<th><f:translate key="tx_locationsearch_domain_model_location.phone" /></th>
		<th><f:translate key="tx_locationsearch_domain_model_location.mobile" /></th>
		<th><f:translate key="tx_locationsearch_domain_model_location.fax" /></th>
		<th><f:translate key="tx_locationsearch_domain_model_location.mail" /></th>
		<th><f:translate key="tx_locationsearch_domain_model_location.website" /></th>
		<th><f:translate key="tx_locationsearch_domain_model_location.subgroup" /></th>
		<th><f:translate key="tx_locationsearch_domain_model_location.pobox" /></th>
		<th><f:translate key="tx_locationsearch_domain_model_location.poboxzip" /></th>
		<th><f:translate key="tx_locationsearch_domain_model_location.worldwide" /></th>
		<th><f:translate key="tx_locationsearch_domain_model_location.europe" /></th>
		<th><f:translate key="tx_locationsearch_domain_model_location.germany" /></th>
		<th><f:translate key="tx_locationsearch_domain_model_location.directions" /></th>
		<th><f:translate key="tx_locationsearch_domain_model_location.language" /></th>
		<th><f:translate key="tx_locationsearch_domain_model_location.additional" /></th>
		<th><f:translate key="tx_locationsearch_domain_model_location.tab_adr_kurzbez" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{locations}" as="location">
		<tr>
			<td><f:link.action action="show" arguments="{location : location}"> {location.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.address1}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.address2}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.zipcode}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.city}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.phone}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.mobile}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.fax}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.mail}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.website}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.subgroup}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.pobox}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.poboxzip}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.worldwide}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.europe}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.germany}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.directions}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.language}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.additional}</f:link.action></td>
			<td><f:link.action action="show" arguments="{location : location}"> {location.tabAdrKurzbez}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{location : location}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{location : location}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Location</f:link.action>
</f:section>