
{namespace vh=In2code\Powermail\ViewHelpers}
{namespace jhcaptcha = Haffner\JhCaptcha\ViewHelpers}

<div id="powermail_fieldwrap_{field.uid}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 powermail_fieldwrap powermail_fieldwrap_input powermail_fieldwrap_{field.uid} {field.css} form-group">
    <label for="recaptcha_{field.marker}_{field.uid}" class="powermail_label" title="{field.description}">
        <vh:string.RawAndRemoveXss>{field.title}</vh:string.RawAndRemoveXss><f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if>
    </label>
    <jhcaptcha:reCaptcha html-id="{field.marker}_{field.uid}"/>
    <f:form.textfield 
            property="{field.marker}"
            value="{vh:Misc.PrefillField(field:field, mail:mail)}"
            class="powermail_field powermail_input powermail_captcha powermail_captcha_code{vh:Validation.ErrorClass(field:field, class:'powermail_field_error')}"
            additionalAttributes="{vh:Validation.ValidationDataAttribute(field:field)}"
            id="recaptcha_{field.marker}_{field.uid}"  required="TRUE"/>
</div>
