.image_icon_teaser_left,.teaserboxen_normal_drei_raster .image_icon_teaser_left{
  position:absolute; 
  left:15px; 
  bottom:15px;
  width: 30px !important;
  visibility: visible !important;
  height:auto !important;
}
.image_icon_teaser_right{
  position:absolute; 
  right:15px; 
  bottom:15px;
  width:30px !important;
  visibility: visible !important;
  max-height: 30px!important; 
    min-height: 20px!important; 
}
.vollbild_left{
	position:relative;
}

.aktionteaser_hl-02-hm-01 a:hover .aktionteaser_hl-02-hm-01_image .image_icon_teaser_left, 
.teaserboxen_volle_breite_tabs .tab-pane:hover .tab_image .image_icon_teaser_left, 
.teaserbox_volle_breite_te_06:hover .teaserbox_volle_breite_te_06_image .image_icon_teaser_left, 
.teaserboxen_bildbox_zwei_raster_bilder .teaser_item:hover a .image_icon_teaser_left,
.teaserboxen_normal_drei_raster .teaser_item:hover .teaserboxen_normal_drei_raster_image .image_icon_teaser_left, 
.teaserblock_mit_versatz .teaser a:hover .image_icon_teaser_left, 
.teaserblock_mit_versatz a:hover .full-width .image_icon_teaser_left,
.teaserboxen_vollbild_drei_raster .teaser a:hover .teaserboxen_vollbild_drei_raster_image .image_icon_teaser_left, 
.teaserboxen_vollbild_drei_raster_carousel a:hover .teaserboxen_vollbild_drei_raster_image .image_icon_teaser_left,  
.teasermodul_te_08 .teaser_item:hover .teasermodul_te_08_image .image_icon_teaser_left, 
.filter_module .cat-item:hover .image_icon_teaser_left,
.aktionteaser_hl-02-hm-01 a:hover .aktionteaser_hl-02-hm-01_image .image_icon_teaser_right, 
.teaserboxen_volle_breite_tabs .tab-pane:hover .tab_image .image_icon_teaser_right, 
.teaserbox_volle_breite_te_06:hover .teaserbox_volle_breite_te_06_image .image_icon_teaser_right, 
.teaserboxen_bildbox_zwei_raster_bilder .teaser_item:hover a .image_icon_teaser_right,
.teaserboxen_normal_drei_raster .teaser_item:hover .teaserboxen_normal_drei_raster_image .image_icon_teaser_right, 
.teaserblock_mit_versatz .teaser a:hover .image_icon_teaser_right, 
.teaserblock_mit_versatz a:hover .full-width .image_icon_teaser_right,
.teaserboxen_vollbild_drei_raster .teaser a:hover .teaserboxen_vollbild_drei_raster_image .image_icon_teaser_right, 
.teaserboxen_vollbild_drei_raster_carousel a:hover .teaserboxen_vollbild_drei_raster_image .image_icon_teaser_right,  
.teasermodul_te_08 .teaser_item:hover .teasermodul_te_08_image .image_icon_teaser_right, 
.filter_module .cat-item:hover .image_icon_teaser_right{
	-webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important; 
}


.catalog-filter .catalog-filter-attribute .attribute-lists {
  background-color: white;
  padding-top: 1px;
  margin-top: -1px;
}
.news .article .news-img-wrap img {
  width: 100% !important;
}
.powermail_captcha_code{
	display:none;
}
.person_mobile_content {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #d4dff3;
}
.person_mobile {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}
.person_mobile_content .kontaktbox_more.show_callback_form, .person_mobile_contact {
  display: none;
}
.person_mobile_content .tx_locationsearch_callback_form {
  display: block;
}
.right .powermail_fieldwrap_type_submit {
  display: block;
}
.left .powermail-text-only {
  display:none;
}

.tx-powermail {
  text-align: left;
}
.tx-powermail .container-fluid {
  padding: 0;
}
.margin_left p {
  color: #fff;
}
.tx-powermail input.form-control, .tx-powermail textarea.form-control {
  resize: none;
  background-color: #ededed;
  border: 2px solid #ededed;
  box-shadow: none;
  color: #072a5b;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 17px;
  height: 252px;
}
.location_content .tx-powermail input.form-control, .location_content .tx-powermail textarea.form-control, .location_content_more .tx-powermail input.form-control, .location_content_more .tx-powermail textarea.form-control {
  background-color: #fff;
  border: 2px solid #fff;
}
.tx-powermail .powermail_fieldset .powermail_fieldwrap.layout3 {
  width: 25%;
}
.powermail_fieldwrap.layout3 {
  display: block !important;
}
.powermail_fieldwrap.layout3.form-group:nth-child(2n) {
  margin-left: 0;
  padding-left: 1px;
}
.powermail_fieldset_19 .powermail_fieldwrap.layout3.form-group:nth-child(2n) {
  padding-left: 8px;
}
.powermail_fieldset_19 .powermail_fieldwrap.layout3.form-group:nth-child(2n + 1) {
  margin-left: 0;
  padding-left: 0;
}
.tx-powermail input.form-control {
  height: 51px;
}
.in-page-share .layout_sticky_more {
  display: none;
}
.in-page-share {
  z-index: 10000;
}
.in-page-share ul li.active {
  background: #eb7d00;
}
.sharing.gray {
  background: #ededed !important;
}
.sharing.contact.gray .icon-facebook {
  background-position: -50px 0;
}
.sharing.person.gray .icon-twitter {
  background-position: -150px 0;
}
.sharing.chat.gray .icon-googleplus {
  background-position: -250px 0;
}
.layout_sticky_more {
  display: none;
  position: fixed;
  right: 68px;
  background: #eb7d00;
  margin-top: -5px;
  z-index: 5;
  width: auto;
  padding: 24px 30px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
.layout_sticky_more.active {
  display: table;
}
.layout_sticky_content_close {
  background: url(/fileadmin/user_upload/gfx/accordion_close_blue.png) no-repeat scroll;
  background-size: 15px 15px;
  cursor: pointer;
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 500;
  padding: 17px;
  background-position: center center;
}
.layout_sticky_more span {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  color: #fff;
}
/**********************************************************************/

.expert_mail_newsletter_content {
  display: none;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999999;
}
.checkbox.parsley-error .checkboxstyle label {
  border: 2px solid red;
}
.tx-powermail .powermail_fieldset .powermail_field_error, .tx-powermail .powermail_fieldset .parsley-error, .tx-powermail .powermail_fieldset .powermail_form .parsley-error:focus, .tx-powermail .powermail_fieldset div.error {
  background-color: transparent !important;
  color: #A94442;
}

.tx-powermail .powermail_form.powermail_form_67 .powermail_fieldset .radio.parsley-error,
.tx-powermail .powermail_form.powermail_form_67 .powermail_fieldset .checkbox.parsley-error,
.tx-powermail .powermail_form.powermail_form_66 .powermail_fieldset .radio.parsley-error,
.tx-powermail .powermail_form.powermail_form_66 .powermail_fieldset .checkbox.parsley-error,
.tx-powermail .powermail_form.powermail_form_65 .powermail_fieldset .radio.parsley-error,
.tx-powermail .powermail_form.powermail_form_65 .powermail_fieldset .checkbox.parsley-error{
  background-color:#ededed !important;
}

.powermail_form.powermail_form_67 .radio.parsley-error .radiostyle label,
.powermail_form.powermail_form_66 .radio.parsley-error .radiostyle label,
.powermail_form.powermail_form_65 .radio.parsley-error .radiostyle label{
  border: 2px solid #e94e0f;
}

.powermail_form.powermail_form_67 .powermail_fieldwrap_temperaturbereichminus01.col-xs-12,
.powermail_form.powermail_form_67 .powermail_fieldwrap_temperaturbereichplus01.col-xs-12,
.powermail_form.powermail_form_66 .powermail_fieldwrap_temperaturbereichplus01.col-xs-12,
.powermail_form.powermail_form_66 .powermail_fieldwrap_temperaturbereichminus01.col-xs-12{
  padding-left:0px;
  padding-right:0px;
}

.expert_mail_newsletter_content .text_bild_module {
  margin: 0 !important;
  padding: 50px 50px 0 50px!important;
}
.expert_mail_newsletter_registration {
  background: #fff;
  border: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  top: 5vh;
  width: 960px;
  z-index: 9999;
  max-height: 90vh;
  overflow-y: auto;
}
.expert_mail_newsletter_registration .module {
  margin: 0 !important;
}
.expert_mail_newsletter_registration_close {
  background: url('/fileadmin/user_upload/gfx/accordion_close_blue.png') no-repeat scroll;
  background-size: 15px 15px;
  cursor: pointer;
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  right: 17px;
  top: 17px;
  z-index: 500;
}
.fame-shbg {
  background: #000;
  height: 100%;
  left: 0;
  -webkit-opacity: .7;
  -moz-opacity: .7;
  opacity: .7;
  position: absolute;
  top: 0;
  width: 100%;
}
.text_bild_module_content {
  float: left;
  width: 100%;
  margin-bottom: 35px;
}
.text_bild_module > .text_bild_module_content:last-child {
  margin-bottom: 0;
}
.module > .text_bild_module {
  margin-top: -6px;
}
.frame.module.content_modul .tx-powermail .powermail_fieldwrap_formularabschicken {
  margin-bottom: 0;
  clear: both;
}
.frame.module.content_modul .tx-powermail form {
  padding-bottom: 0;
}
.expert_mail_newsletter_registration .text_bild_module_content, .expert_mail_newsletter_registration .text_bild_module_content:last-child {
  margin-bottom: 35px;
}
.expert_mail_newsletter_registration .powermail_fieldset_23, .expert_mail_newsletter_registration .powermail_fieldset_149, .expert_mail_newsletter_registration .text_bild_module_content, .expert_mail_newsletter_registration .tx-powermail h3 {
  display: none;
}
.expert_mail_newsletter_registration .powermail_fieldset_23.active, .expert_mail_newsletter_registration .powermail_fieldset_149.active, .expert_mail_newsletter_registration .text_bild_module_content.active, .expert_mail_newsletter_registration .tx-powermail h3.active {
  display: block;
}
.expert_mail_newsletter_registration .content_modul {
  float: left !important
}
.expert_mail_newsletter_content .tx-powermail {
  background-color: #ededed;
  padding: 50px;
  color: #000;
}
.expert_mail_newsletter_content .tx-powermail .selecter, .expert_mail_newsletter_content .tx-powermail .selecter .selecter-selected, .expert_mail_newsletter_content .tx-powermail input.form-control {
  background-color: #fff;
  border: 2px solid #fff;
  padding: 5px;
}
.expert_mail_newsletter_content .frame.default, .expert_mail_newsletter_content .frame.invisible {
  padding: 0;
}
.expert_mail_newsletter_content .form-horizontal .checkbox {
  padding-top: 0px;
  padding-bottom: 34px;
}
.expert_mail_newsletter_content .powermail_fieldwrap_type_check {
  margin-top: 10px;
  margin-bottom: 10px;
}
.more_newsletter, .expert_mail_newsletter_content .powermail-text-only {
  font-size: 17px;
  line-height: 21px;
  text-transform: uppercase;
  font-family: "UniversLTW01-67BoldCn";
  color: #072a5b !important;
  float: left;
  margin-bottom: 7px;
  margin-top: 4px;
  padding-left: 0px !important;
  cursor: pointer;
}
.more_newsletter:hover, .more_newsletter.active, .expert_mail_newsletter_content .powermail-text-only.active, .expert_mail_newsletter_content .powermail-text-only:hover {
  color: #eb7d00 !important;
}

.more_newsletter::before, .expert_mail_newsletter_content .powermail_fieldwrap_optional_bestellen .powermail-text-only::before {
  content: "";
  background: url(/fileadmin/user_upload/gfx/arrow_link.png) no-repeat scroll;
  width: 12px;
  height: 12px;
  display: inline-block;
  background-position: center center !important;
  margin-right: 7px;
  transition: all .5s ease-in-out;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.more_newsletter:hover::before, .expert_mail_newsletter_content .powermail_fieldwrap_optional_bestellen .powermail-text-only:hover::before {
  content: "";
  background: url(/fileadmin/user_upload/gfx/arrow_link_orange.png) no-repeat scroll;
  width: 12px;
  height: 12px;
  display: inline-block;
  background-position: center center !important;
  margin-right: 7px;
  transition: all .5s ease-in-out;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.more_newsletter.active::before, .expert_mail_newsletter_content .powermail_fieldwrap_optional_bestellen .powermail-text-only.active::before {
  background: url(/fileadmin/user_upload/gfx/arrow_link_orange.png) no-repeat scroll;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.expert_mail_newsletter_content .tx-powermail .powermail_fieldwrap_type_submit {
  margin-top: 17px;
}
.expert_mail_newsletter_content .tx-powermail .selecter .selecter-selected {
  padding: 5px 2px;
}

/**********************Anprechpartner Sticky***************************/
.tx-location-search .kontakt_wrapper {
  max-width: 300px;
  width: 100%;
  text-align: left;
}
.tx-location-search h5 {
  display: block !important;
}
.location_content .kontaktbox .kontakt_wrapper {
  width: 100%;
  margin: 0px;
  background-color: transparent;
}

.location_content h3 {
  padding: 15px 17px 20px !important;
  color: #072a5b;
  text-align: left;
  font-size: 17px;
  line-height: 21px;
}
.location_content h4 {
  padding: 0px 17px;
  font-size: 21px;
  color: #072a5b;
  margin-bottom: 12px;
}
.location_content .kontaktbox_street {
  font-size: 17px;
  padding-left: 17px;
  padding-bottom: 34px;
}
.person .tx-location-search {
  border: 2px solid #fff;
}
.location_content, .location_content_more {
  float: left;
  width: 100%;
}
.location_content_more {
  padding-top: 34px;
  display: none;
}
.location_content_more.change_pos {
  padding-top: 0px;
  padding-bottom: 34px;
  display: none;
}
.sharing.person .kontakt_wrapper > h3{
  padding-right: 20px !important;
}
.tx-location-search .location_content_more .tx-powermail .powermail_fieldwrap_type_submit {
  margin-top: 0px !important;
}
.tx-location-search .kontaktbox_image {
  padding-bottom: 17px;
  float: left;
  width: 50%;
}
.location_content_more .tx_locationsearch_back_button {
  position: absolute;
  top: 88px;
  right: 9px;
  width: auto;
  height: auto;
  display: block;
  font-size: 17px;
  font-weight: bold;
  z-index: 10;
}
.person .layout_sticky_content {
  margin-top: -75px;
}
.chat .layout_sticky_content {
  margin-top: -75px;
}
.contact .tx_locationsearch_back_button > span {
  display: none !important;
}
/**********************Anprechpartner, Contact Mobile***************************/
.contact_mobile {
  display: none;
}
.location_template .kontaktbox_blue h5, .location_template .kontaktbox_blue h5 > a, .location_template .kontaktbox_blue a > h5 {
  color: #fff !important;
}

@media (min-width: 992px) {
.layout_sticky_content.active {
  max-height: 64vh;
  overflow-y: auto;
}
}

@media (max-width: 991px) {
img.person_mobile_contact {
  display: block;
  background-image: url(/fileadmin/user_upload/gfx/Icons_sprite_200.png);
  width: 30px;
  height: 31px;
  background-size: 480px 231px;
  background-position: -100px 0;
  background-repeat: no-repeat;
}
.person_mobile_content, .contact_mobile {
  position: fixed;
  z-index: 1;
  min-height: 100vh;
  transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  display: block !important;
  height: auto;
  overflow-y: auto;
  /* force hardware acceleration */
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
.contact_mobile {
  z-index: 3;
  background-color: #ededed;
}
.contact_mobile .tx-powermail input.form-control, .contact_mobile .tx-powermail textarea.form-control {
  background-color: #fff;
}
.person_mobile_content.mobile_slide, .contact_mobile.mobile_slide {
  top: 0;
  /* force hardware acceleration */
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
.person_mobile, .contact_mobile {
  height: 100vh;
  overflow-y: auto;
  max-width: none;
  -webkit-overflow-scrolling: touch;
  padding-top: 34px;
}
.contact_mobile .frame.default.content_modul {
  padding-bottom: 70px;
  padding-left: 11px;
  padding-right: 11px;
}
.layout_sticky_content_close {
  padding: 20px;
  background-position: center center;
  z-index: 3;
}
.contact_mobile .layout_sticky_content_close .tx_locationsearch_locations .top_cta_container > input {
  display: none !important;
}
.tx_locationsearch_locations .top_cta_container > input {
  display: none !important;
}
.person_mobile {
  padding: 0 8px 34px;
  position: relative;
}
.person_mobile > .tx-location-search > .tx_locationsearch_direct_contact {
  padding-bottom: 40px;
}
.person_mobile .tx-location-search .kontaktbox_image, .person_mobile .tx_locationsearch_direct_contact .kontakt_wrapper h4, .person_mobile .kontaktbox_street {
  padding-left: 0;
}
.person_mobile .kontaktbox_blue {
  float: left;
  width: 100%;
  padding-bottom: 18px;
}
.person_mobile .kontaktbox_blue > h5:last-child {
  padding-bottom: 11px;
}
.person_mobile .layout_sticky_content_close {
  top: 0;
  right: 1px;
  z-index: 10;
  position: absolute;
  display: none;
}
.contact_mobile .layout_sticky_content_close {
  top: 0;
  right: 1px;
  z-index: 10;
}
.person_mobile .kontakt_wrapper > h3 {
  padding-right: 30px;
}
.person_mobile .email > a, .person_mobile .tx-location-search .kontaktbox_blue > h5.number, .person_mobile .tx-location-search .kontaktbox_blue > h5.number a {
  color: #fff !important;
}
body > .tx-location-search .owl-nav {
  bottom: 0;
  position: absolute;
  left: 0;
  width: 100%;
}
body > .tx-location-search .owl-dots {
  bottom: 20px;
}
body > .tx-location-search .tx_locationsearch_locations input {
  margin-left: 0 !important;
}
#tx_locationsearch_locations_contactpersons .carousel-item h4 {
  margin-bottom: 6px !important;
}
#tx_locationsearch_locations_contactpersons .carousel-item h4 + br {
  display: none;
}
body.apple_device > .tx-location-search .owl-dots {
  bottom: 21px;
}
.location_content_more .tx_locationsearch_back_button {
  top: 22px;
  right: 17px;
}
}

@media (max-width: 767px) {
.tx-powermail .powermail_fieldset .powermail_fieldwrap.layout3 {
  width: 100% !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.location_template .location_content .kontaktbox_more.show_callback_form {
  position: relative !important;
  margin-left: 17px !important;
}
.location_template .kontaktbox_blue {
  float: left;
  width: 100%;
  padding-bottom: 4px;
  background-color: #2f52a0;
}
.location_template .kontaktbox_blue > h5:last-child {
  padding-bottom: 10px !important;
}
}

@media (max-width: 568px) {
.location_template .location_content_more .tx-powermail {
  padding-top: 24px;
}
.location_template .location_content_more .tx_locationsearch_back_button {
  top: 10px;
  right: 17px;
}
.location_template .location_content_more .tx_locationsearch_back_button > span {
  font-size: 12px;
}
.location_template .tx_locationsearch_back_button span::before {
  background-size: 6px 11px;
  width: 6px;
  height: 11px;
  margin-right: 7px;
  margin-top: 9px;
}
#tx_locationsearch_locations_locationsearch label {
  line-height: 20px;
}
#tx_locationsearch_locations_sub_container {
  height: calc(100vh - 200px) !important;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  max-height: calc(100vh - 232px) !important;
}
.person_mobile .tx-location-search .kontaktbox_image {
  width: 100%;
  padding-right: 0;
}
.tx_locationsearch_locations .tx_locationsearch_back_button {
  position: fixed;
  bottom: 8px;
  left: 8px;
}
#tx_locationsearch_locations_locationsearch {
  height: calc(100vh - 180px) !important;
  overflow-y: auto;
  min-height: 0 !important;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  width: 100%;
}
#tx_locationsearch_locations_contactpersons .carousel-item > .col-lg-5.col-xs-12 {
  margin-top: 17px;
  margin-bottom: 10px;
}
#tx_locationsearch_locations_contactpersons > .tx-location-search {
  position: relative;
}
#tx_locationsearch_locations_locationlist .owl-prev {
  margin-left: -11px !important;
}
#tx_locationsearch_locations_locationlist .owl-next {
  margin-right: -13px !important;
}
.contact_mobile .tx-powermail .powermail_fieldset .powermail_fieldwrap {
  width: 100% !important;
  position: relative;
  float: left;
}
.person_mobile .kontakt_wrapper > h3, .contact_mobile form > h3, .tx_locationsearch_locations .tab_navigation h3 {
  font-size: 26px;
  line-height: 31px;
}
.person_mobile .tx_locationsearch_callback_form h3 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 29px;
}
.person_mobile .kontaktbox_blue {
  padding-bottom: 28px;
}
}

@media (max-width: 350px) {
.tx_locationsearch_locations .tx_locationsearch_back_button {
  bottom: 69px !important;
}
#tx_locationsearch_locations_locationlist {
  overflow-y: auto;
  height: calc(100vh - 180px) !important;
  -webkit-overflow-scrolling: touch;
}
#tx_locationsearch_locations_locationsearch {
  height: calc(100vh - 180px) !important;
  overflow-y: auto;
}
}
/**********************************************************************/
.in-page-share.closed .layout_sticky_more {
  right: -150px;
}
.layout_sticky_content.active {
  display: block !important;
}
.in-page-share.closed .layout_sticky_content {
  display: none!important;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
.layout_sticky_content {
  display: none;
  position: fixed;
  right: 68px;
  z-index: 60;
  margin-top: -3px;
  background: #ededed;
}
.sharing.contact .layout_sticky_content, .tx_locationsearch_callback_form {
  width: 100%;
  max-width: 800px;
  outline: 2px solid #fff;
}
.in-page-share .tx_locationsearch_callback_form {
  max-width: none;
  width: 800px;
  outline: none;
}
.in-page-share .tx-location-search .kontakt_wrapper {
  max-width: none;
  width: 300px;
}
.tx_locationsearch_callback_form .row > .tx_locationsearch_back_button {
  display: none !important;
}
.layout_sticky_content .tx-powermail .form-horizontal .form-group, .location_content .tx-powermail .form-horizontal .form-group {
  min-height: 0;
  margin-bottom: 16px;
}
.tx_locationsearch_callback_form .tx-powermail .form-horizontal .form-group {
  margin-left: 0;
  padding: 0px;
}
.tx_locationsearch_callback_form .tx-powermail .form-horizontal .form-group:nth-child(odd) {
  padding-left: 5px;
}
.tx_locationsearch_callback_form .tx-powermail .form-horizontal .form-group:nth-child(even) {
  padding-right: 5px;
}
.layout_sticky_content .tx-powermail input.form-control, .layout_sticky_content .tx-powermail textarea.form-control, .layout_sticky_content .selecter, .layout_sticky_content .selecter .selecter-selected {
  background-color: #ffffff !important
}
nav .layout_sticky_content .tx-powermail h3::before, nav .location_content .tx-powermail h3::before, .location_content .tx-powermail h3::before, .tx_locationsearch_callback_form .tx-powermail h3::before {
  background-size: 22px 22px;
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-right: 15px;
}
.tx_locationsearch_callback_form h3::before {
  width: 22px !important;
  height: 21px !important;
  background-position: 0 0 !important;
  background-size: 22px 22px !important;
}
.location_content .tx-powermail h3::before {
  position: relative;
  top: 4px;
}
nav .layout_sticky_content .tx-powermail h3::before {
  position: relative;
  top: 4px;
  left: 2px;
}
nav .layout_sticky_content .tx-powermail h3::before, nav .location_content .tx-powermail h3::before, .location_content .tx-powermail h3::before {
  content: " ";
  background-image: url(/fileadmin/user_upload/gfx/Icons_sprite_200.png);
  width: 30px;
  height: 21px;
  background-size: 480px 231px;
  background-position: -50px 0;
}
.location_content_more .tx-powermail h3::before, .tx_locationsearch_callback_form .tx-powermail h3::before {
  content: " ";
  background-image: url(/fileadmin/user_upload/gfx/phone_icon_blue.png)!important;
  background-size: 22px 22px;
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-right: 15px;
  background-position: 0;
}
.location_content_more .tx-powermail h3::before, .location_content .tx-powermail h3::before {
  display: inline-block;
  margin-right: 15px;
}
.location_content .powermail_fieldwrap_type_submit {
  position: absolute;
  bottom: -70px;
}
.location_content_more .powermail_fieldwrap_type_submit {
  position: relative;
  bottom: 0px;
}
.location_content .kontaktbox_more {
  position: absolute;
  bottom: -1px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  max-width: 270px;
  width: 100%;
}
.location_content .powermail_column.powermail_check_column img, .layout_sticky_content .powermail_column.powermail_check_column img {
  display: none;
}
.location_content .powermail_fieldwrap_type_submit {
  margin-top: 10px !important;
  margin-bottom: 0px !important;
}
.tx-powermail .layout1.powermail_fieldwrap_type_submit {
  margin-top: 0px;
}
nav .layout_sticky_content h3, .location_content .tx-powermail h3, .location_content_more .tx-powermail h3 {
  padding: 0px !important;
  color: #072a5b;
  text-align: left;
  font-size: 17px;
  margin-bottom: 34px !important;
  display: inline-block;
  line-height: 21px;
}
nav .layout_sticky_content h3, .location_content .tx-powermail h3, .location_content_more .tx-powermail h3 {
  margin-bottom: 17px !important;
  margin-top: 10px !important;
}
nav .tx_locationsearch_direct_contact .kontakt_wrapper h3 {
  margin: 17px !important;
  right: 0;
  line-height: 21px;
}
.tx_locationsearch_direct_contact .kontakt_wrapper h4 {
  padding: 0px 17px;
  font-size: 21px;
  color: #072a5b;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.layout_sticky_content .frame.default {
  color: #072a5b;
  padding: 0px;
}
.location_content .frame.default, .location_content_more .frame.default {
  padding: 0px;
}
.location_content_more .tx-powermail {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 75px 0 55px 0;
}
.layout_sticky_content form, .location_content_form form {
  padding: 17px 34px;
  position: relative;
}
.layout_sticky_content form {
  padding: 7px 17px 0px 17px;
  position: relative;
}
.location_content_person > .frame, .location_content_form > .frame, .location_content_more_form > .frame {
  background-color: #d4dff3;
  height: inherit;
}
.location_content_person {
  max-width: 24.8%;
  margin-right: 2px;
}
.location_template.module .location_content_person {
  margin-right: 0;
  border-right: 2px solid #fff;
  padding-right: 0;
}
.select_new .selecter {
  margin-top: 0px!important
}
 .tx-powermail ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
 color:    #b3b2b2;
}
.tx-powermail :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    #b3b2b2;
 opacity:  1;
}
.tx-powermail ::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    #b3b2b2;
 opacity:  1;
}
.tx-powermail :-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    #b3b2b2;
}
.tx-powermail .layout2 input.form-control, .tx-powermail .layout2 textarea.form-control {
  background-color: #d4dff3;
  border-color: #d4dff3;
}
.tx-powermail .layout2 ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
 color:    #fff;
}
.tx-powermail .layout2 :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    #fff;
 opacity:  1;
}
.tx-powermail .layout2 ::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    #fff;
 opacity:  1;
}
.tx-powermail .layout2 :-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    #fff;
}
/* ERRORS */
.tx-powermail input.form-control.parsley-error, .tx-powermail textarea.form-control.parsley-error, .tx-powermail select.selecter-element .parsley-error {
  border-color: #e94e0f;
  color: #e94e0f !important;
  background-color: inherit;
}
.g-recaptcha.parsley-error{
  border:2px solid #e94e0f;
  float:left;
  
  
}
.tx-powermail input.form-control.parsley-error::-webkit-input-placeholder { /* WebKit, Blink, Edge */
 color:    #e94e0f;
}
.tx-powermail input.form-control.parsley-error:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    #e94e0f;
 opacity:  1;
}
.tx-powermail input.form-control.parsley-error::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    #e94e0f;
 opacity:  1;
}
.tx-powermail input.form-control.parsley-error:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    #e94e0f;
}
.tx-powermail .powermail_fieldset .parsley-errors-list, .tx-powermail .powermail_fieldset .parsley-errors-list.filled {
  display: none;
}
.tx-powermail .form-horizontal .form-group {
  min-height: 0;
  margin-bottom: 16px;
}
.location_template.module .col-sm-6.col-xs-12.powermail_fieldwrap_anrede {
  padding-right: 4px;
}
.location_template.module .col-sm-6.col-xs-12.powermail_fieldwrap_titel {
  padding-left: 4px;
}
.tx-powermail .powermail_fieldset .powermail_fieldwrap {
  margin-right: 0;
}
.tx-powermail .powermail-text-only {
  height: 51px;
}
.tx-powermail .powermail-text-only {
  line-height: 17px;
  color: #b3b2b2;
  padding-left: 15px;
}
.tx-powermail .powermail_fieldwrap_pflichtfelder .powermail-text-only {
  text-align: right;
}
.tx-powermail .powermail_column {
  float: left;
}
.location_content .tx-powermail .powermail_column, .layout_sticky_content .tx-powermail .powermail_column {
  float: left;
  padding-left: 46px;
}
.tx-powermail .powermail_check_column {
  padding-right: 30px;
}
.tx-powermail .powermail_create {
  padding-bottom: 331px;
}
.tx-powermail .powermail_create h3 {
  margin: 0;
  padding: 0;
  line-height: 58px;
}
.tx-powermail .powermail_create p {
  padding-top: 26px;
}
.tx-powermail input[type='submit'] {
  width: auto;
  margin: 0;
}
.sharing .tx-powermail .powermail_fieldwrap_type_submit {
  margin-top: 0px;
}
.layout1 .powermail_fieldwrap_type_submit {
  margin-top: 0px;
}
fieldset {
  width: 100%;
  float: left;
}
.tx-powermail .col-xs-12 > h3 {
  margin-top: -6px;
}
.powermail_fieldwrap_leer, .powermail_fieldwrap_leer_01, .powermail_fieldwrap_leer_02, .powermail_fieldwrap_leer_03, .powermail_fieldwrap_leer_04, .powermail_fieldwrap_leer_05, .powermail_fieldwrap_leer_06, .powermail_fieldwrap_leer_07, .powermail_fieldwrap_leer_08, .powermail_fieldwrap_leer_09, .powermail_fieldwrap_leer_10 {
  display: none;
}
select.selecter-element, .powermail_legend {
  display: none;
}
.selecter-element {
  opacity: 0;
  position: absolute;
  display: none;
}
.selecter {
  display: block;
  float: left;
  margin: 0;
  position: relative;
  width: 100%;
  margin-top: 0px;
  z-index: 49;
  background-color: #ededed;
  padding: 10px;
  height: 51px;
  border: 2px solid #ededed;
}
.selecter.disabled {
  opacity: .4;
}
.selecter-element.parsley-error + .filled + .selecter,.selecter-element.parsley-error .selecter{
  border: 2px solid #e94e0f;
}
.selecter-element.parsley-error + .filled + .selecter span {
  color: #e94e0f !important;
}
.selecter.open {
  background: none repeat scroll 0 0 #d0d0d0;
}
.selecter .selecter-options {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 #d0d0d0;
  color: #a2a2a2;
  display: none;
  line-height: 38px;
  margin: 0 -10px;
  padding: 5px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 50;
}
.selecter .selecter-group {
  background: none repeat scroll 0 0 #fff;
  border-bottom: 1px solid #e3e3e3;
  color: #999;
  display: block;
  font-size: 11px;
  padding: 5px 10px 4px;
  text-transform: uppercase;
}
.selecter .selecter-item {
  cursor: pointer;
  display: block;
  font-size: 18px;
  line-height: 38px;
  margin: 0;
  overflow: hidden;
  padding-left: 21px;
  text-overflow: ellipsis;
}
.selecter .selecter-item.first {
  border-radius: 0;
  color: #b3b2b2;
  display: none;
}
.selecter .selecter-item.last {
  border-bottom: 0 none;
}
.location_content .selecter .selecter-selected, .location_content_more .selecter .selecter-selected {
  background: url("/fileadmin/default/images/selecter_arrow_grey_down.png") no-repeat scroll 95% 52% #fff;
}
.location_content .selecter, .location_content_more .selecter {
  background: #fff;
  border: 2px solid #fff;
}
.selecter .selecter-selected {
  background: url("/fileadmin/default/images/selecter_arrow_grey_down.png") no-repeat scroll 95% 52% #ededed;
  cursor: pointer;
  float: left;
  font-size: 18px;
  color: #003057;
  width: 100%;
  outline: none;
}
.selecter .selecter-selected.placeholder {
  color: #b3b2b2;
}
.selecter.open .selecter-selected {
  background: url("/fileadmin/default/images/selecter_arrow_grey_up.png") no-repeat scroll 95% 52% #fff;
}
.select_option {
  float: left;
  margin-top: 28px;
  width: 100%;
}
.layout2 .selecter {
  color: #072a5b;
  background-color: transparent;
}
.layout2 .selecter .selecter-selected {
  font-family: 'UniversLTW01-67BoldCn' !important;
}
.layout2 .selecter .selecter-selected.placeholder {
  color: #072a5b;
}
.layout2 .selecter .selecter-selected {
  background: url("/fileadmin/default/images/selecter_arrow_blue_down.png") no-repeat scroll 95% 52% transparent;
  font-size: 30px;
  width: 100%;
  line-height: 1.1;
}
.layout2 .selecter .selecter-options .arrow {
  position: absolute;
  width: 32px;
  height: 15px;
  top: -15px;
  left: 15px;
  content: "";
  background: url("/fileadmin/default/images/dropdown_open_arrow_blue.png") no-repeat scroll 95% 52% transparent;
}
.layout2 .selecter .selecter-options {
  background-color: #31549e;
  color: #fff;
  font-family: 'UniversLTW01-67BoldCn' !important;
  padding: 0;
  margin: 25px 0 0 0;
  margin-left: -10px;
}
.layout2 .selecter .selecter-item {
  padding-left: 17px;
  padding-right: 17px;
  margin: 20px;
}
.layout2 .selecter .selecter-item:hover, .layout2 .selecter .selecter-item.selected {
  background-color: #fff;
  color: #eb7d00;
  width: auto;
}
/* RMA Form */
.powermail_form.layout3 .nolabel {
  display: none;
}
.tx-powermail .powermail_message {
  padding: 5px 0 10px 30px;
}
/* OVERRIDES */
.frame.invisible {
  display: none;
  visibility: visible;
}
.checkbox .label_checkbox, .radio .label_radiobox{
  padding-left: 40px;
  color: #072a5b;
  padding-top: 5px;
}

.form-horizontal .checkbox ,
.form-horizontal .radio {
  padding-top: 0px;
  padding-bottom: 34px;
}
.checkbox label ,
.radio label{
  display: inline-block;
}
.checkbox .label_checkbox 
.radio .label_radiobox{
  padding-left: 40px;
  color: #072a5b;
}
.checkboxstyle ,
.radiostyle{
  position: absolute;
}
input[type=checkbox] {
  -webkit-appearance: checkbox !important;
  -moz-appearance: field !important;
  appearance: field !important;
  width: auto;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 0px;
}

input[type=radio] {
  -webkit-appearance: radio !important;
  -moz-appearance: field !important;
  appearance: field !important;
  width: auto;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 0px;
}
.radiostyle input,
.checkboxstyle input {
  visibility: hidden;
}
.radiostyle label,
.checkboxstyle label {
  width: 32px;
  height: 32px;
  border: 2px solid #d0d0d0;
}
.radio label{
border-radius: 50%;
}
.radiostyle input[type=radio]:checked + label ,
.checkboxstyle input[type=checkbox]:checked + label {
  background-image: url(/fileadmin/default/images/check_orange.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80% auto;
}


/*******************HMI*********************/
.powermail_fieldwrap_type_check{
  width:100% !important;
} 


.powermail_fieldwrap_einsatztbereicheradio .radio,
.powermail_fieldwrap_einsatztbereicheradio .control-label,
.powermail_fieldwrap_uid1345 .radio,
.powermail_fieldwrap_uid1345 .control-label,
.powermail_fieldwrap_einsatztbereicheradio .checkbox,
.powermail_fieldwrap_uid1345 .checkbox {
  display:block;
  min-height:105px;
  width: 25%;
  float: left;
  border: 1px solid #fff;
  padding:17px 17px !important;
}

.powermail_fieldwrap_einsatztbereicheradio .control-label,
.powermail_fieldwrap_uid1345 .control-label{
    padding:26px 17px !important;
    background-color: #ededed;
    text-align:left;       
}

.powermail_fieldwrap_einsatztbereicheradio .radiostyle,
.powermail_fieldwrap_uid1345 .radiostyle,
.powermail_fieldwrap_einsatztbereicheradio .checkboxstyle,
.powermail_fieldwrap_uid1345 .checkboxstyle{
    width: 34px;
    margin: 0 auto;
    position: relative;
}

.powermail_fieldwrap_einsatztbereicheradio .radiostyle label,
.powermail_fieldwrap_uid1345 .radiostyle label,
.powermail_fieldwrap_einsatztbereicheradio .checkboxstyle label,
.powermail_fieldwrap_uid1345 .checkboxstyle label{

    background-color:#ededed;
}

.powermail_fieldwrap_einsatztbereicheradio .label_radiobox,
.powermail_fieldwrap_uid1345 .label_radiobox,
.powermail_fieldwrap_einsatztbereicheradio .label_checkbox,
.powermail_fieldwrap_uid1345 .label_checkbox{
    width: 100%;
    text-align:center;
    padding-left: 0px;
}


.powermail_fieldwrap_einsatztbereicheradio .radio:nth-child(1),
.powermail_fieldwrap_einsatztbereicheradio .radio:nth-child(3),
.powermail_fieldwrap_einsatztbereicheradio .radio:nth-child(5),
.powermail_fieldwrap_einsatztbereicheradio .radio:nth-child(6),
.powermail_fieldwrap_einsatztbereicheradio .radio:nth-child(7),
.powermail_fieldwrap_uid1345 .radio:nth-child(1),
.powermail_fieldwrap_uid1345 .radio:nth-child(3),
.powermail_fieldwrap_uid1345 .radio:nth-child(5),
.powermail_fieldwrap_uid1345 .radio:nth-child(6),
.powermail_fieldwrap_uid1345 .radio:nth-child(7),
.powermail_fieldwrap_einsatztbereicheradio .checkbox:nth-child(1),
.powermail_fieldwrap_einsatztbereicheradio .checkbox:nth-child(3),
.powermail_fieldwrap_einsatztbereicheradio .checkbox:nth-child(5),
.powermail_fieldwrap_einsatztbereicheradio .checkbox:nth-child(6),
.powermail_fieldwrap_einsatztbereicheradio .checkbox:nth-child(7),
.powermail_fieldwrap_uid1345 .checkbox:nth-child(1),
.powermail_fieldwrap_uid1345 .checkbox:nth-child(3),
.powermail_fieldwrap_uid1345 .checkbox:nth-child(5),
.powermail_fieldwrap_uid1345 .checkbox:nth-child(6),
.powermail_fieldwrap_uid1345 .checkbox:nth-child(7)
{
  background-color:#f8ed43;
}
.powermail_fieldwrap_einsatztbereicheradio .radio:nth-child(2),
.powermail_fieldwrap_uid1345 .radio:nth-child(2),
.powermail_fieldwrap_einsatztbereicheradio .checkbox:nth-child(2),
.powermail_fieldwrap_uid1345 .checkbox:nth-child(2){
  background-color:#FFF59B;
}

.powermail_fieldwrap_einsatztbereicheradio .radio:nth-child(4),
.powermail_fieldwrap_uid1345 .radio:nth-child(4),
.powermail_fieldwrap_einsatztbereicheradio .checkbox:nth-child(4),
.powermail_fieldwrap_uid1345 .checkbox:nth-child(4){
  background-color:#ededed;
}

.powermail_fieldwrap_zertifikatcheckboxen,
.powermail_fieldwrap_uid1347{
  width:100%;
}

.powermail_fieldwrap_zertifikatcheckboxen .checkbox,
.powermail_fieldwrap_uid1347 .checkbox{
  width:20%;
  float:left;
  border: 1px solid #fff;
  background: #ededed;
  padding-top: 25px;
  min-height: 154px !important;

}

.powermail_fieldwrap_zertifikatcheckboxen .checkboxstyle,
.powermail_fieldwrap_uid1347 .checkboxstyle{
  position: relative;
  margin:0 auto;
  width:34px;
}

.powermail_fieldwrap_zertifikatcheckboxen .checkbox .label_checkbox,
.powermail_fieldwrap_uid1347 .checkbox .label_checkbox{

  padding-left:40px;
  padding-right:40px;
  text-align:center;
  padding-top: 5px;
  width: 100%;
}

.powermail_fieldwrap_zertifikatcheckboxen .checkbox:nth-child(3) .label_checkbox,
.powermail_fieldwrap_uid1347 .checkbox:nth-child(3) .label_checkbox{

  padding-left:0px;
  padding-right:0px;
}

.powermail_fieldwrap_anderetextbox,
.powermail_fieldwrap_uid1348{
    width:100%;
    border: 1px solid #fff;
}


.powermail_fieldwrap_technologienhmis .radio,
.powermail_fieldwrap_uid1350 .radio{
  width:50%;
  float:left;
  padding: 17px 17px;
  background-color:#ededed;
  border:1px solid #fff;
  height: 250px;
} 

.powermail_fieldwrap_technologienhmis .input-container .radio:after,
.powermail_fieldwrap_uid1350 .input-container .radio:after{
  content: '';
  width: 100%;
  float: left;
  height: 155px;
  background-repeat: no-repeat;
  margin-top: 25px;
}

.powermail_fieldwrap_technologienhmis .input-container .radio:nth-child(1):after,
.powermail_fieldwrap_uid1350 .input-container .radio:nth-child(1):after{
  background-image:url('/fileadmin/user_upload/Testbilder/fp_kvm-classic_s_24.png');
}
.powermail_fieldwrap_technologienhmis .input-container .radio:nth-child(2):after,
.powermail_fieldwrap_uid1350 .input-container .radio:nth-child(2):after{
  background-image:url('/fileadmin/user_upload/Testbilder/fp_thin-client_s.png');
}
.powermail_fieldwrap_technologienhmis .input-container .radio:nth-child(3):after,
.powermail_fieldwrap_uid1350 .input-container .radio:nth-child(3):after{
  background-image:url('/fileadmin/user_upload/Testbilder/fp_open-hmi_panel-pc_s.png');
}
.powermail_fieldwrap_technologienhmis .input-container .radio:nth-child(4):after,
.powermail_fieldwrap_uid1350 .input-container .radio:nth-child(4):after{
  background-image:url('/fileadmin/user_upload/Testbilder/fp_eagle_s.png');
}
.powermail_fieldwrap_technologienhmis .input-container .radio:nth-child(5):after,
.powermail_fieldwrap_uid1350 .input-container .radio:nth-child(5):after{
  background-image:url('/fileadmin/user_upload/Testbilder/fp_serie-200.png');
}
.powermail_fieldwrap_technologienhmis .input-container .radio:nth-child(6):after,
.powermail_fieldwrap_uid1350 .input-container .radio:nth-child(6):after{
  background-image:url('/fileadmin/user_upload/Testbilder/fp_falcon_65_s.png');
}



.powermail_fieldwrap_displaygroesse .radio,
.powermail_fieldwrap_exbereich .radio,
.powermail_fieldwrap_aussenbereichinnenbereich .radio,
.powermail_fieldwrap_displaygroesse2 .radio,
.powermail_fieldwrap_exbereich2 .radio,
.powermail_fieldwrap_aussenbereichinnenbereich2 .radio,
.powermail_fieldwrap_uid1352 .radio{

  width:50%;
  float:left;
  padding: 17px 17px;
  background-color:#ededed;
  border:1px solid #fff;
} 

.powermail_fieldwrap_checkboxeneinsetzen,
.powermail_fieldwrap_checkboxeneinsetzen2,
.powermail_fieldwrap_uid1354{

  width:100%;
}

.powermail_fieldwrap_checkboxeneinsetzen .checkbox,
.powermail_fieldwrap_technologien .checkbox,
.powermail_fieldwrap_checkboxeneinsetzen2 .checkbox,
.powermail_fieldwrap_technologien2 .checkbox,
.powermail_fieldwrap_uid1354 .checkbox{

  width:50%;
  float:left;
  padding: 17px 17px;
  background-color:#ededed;
  border:1px solid #fff;
}

.powermail_fieldwrap_schalttafelradiobutton .radio,
.powermail_fieldwrap_uid1364 .radio{

  width:50%;
  float:left;
  padding: 17px 17px;
  background-color:#ededed;
  border:1px solid #fff;
}

.powermail_fieldwrap_temperaturbereichminus01,
.powermail_fieldwrap_temperaturbereichplus01,
.powermail_fieldwrap_uid1357,
.powermail_fieldwrap_uid1361{
    background: #ededed;
    margin-left: 8px !important;
    width: 35%;
}

.powermail_fieldwrap_to01,
.powermail_fieldwrap_uid1359  {
  width:12%;
  text-align:center;
}

/*
.powermail_fieldwrap_temperaturbereichminus01 .powermail_input.form-control,
.powermail_fieldwrap_temperaturbereichplus01 .powermail_input.form-control{

  width:20% !important;
  background:#fff !important;
}

*/

.powermail_fieldwrap_minus,
.powermail_fieldwrap_plus,
.powermail_fieldwrap_uid1356,
.powermail_fieldwrap_uid1360 {
  width:3%;  
}

.powermail_fieldwrap_celsius,
.powermail_fieldwrap_celsius01,
.powermail_fieldwrap_uid1358,
.powermail_fieldwrap_uid1362
  {
  width:5%;
}

.powermail_fieldwrap_minus .powermail-text-only,
.powermail_fieldwrap_plus .powermail-text-only,
.powermail_fieldwrap_uid1356 .powermail-text-only,
.powermail_fieldwrap_uid1360 .powermail-text-only {
    line-height: 54px;
    color: #b3b2b2;
    padding-left: 5px;
}

.powermail_fieldwrap_applikationtextbox,
   .powermail_fieldwrap_uid1366{
  width:70%;
  border:1px solid #fff;
  padding-right:0px !important;
}

.powermail_fieldwrap_ststueck,
.powermail_fieldwrap_uid1367 {
  width:30%;
  padding-left:0px !important;
  border:1px solid #fff;
}

.tx-powermail .powermail_fieldwrap_ststueck .powermail-text-only,
.tx-powermail .powermail_fieldwrap_uid1367 .powermail-text-only{
   background:#ededed;
   color:#072a5b !important;
}


.powermail_fieldwrap_radiobuttonkontaktfirstrow,
.powermail_fieldwrap_radiobuttonkontaktfirstrow2,
.powermail_fieldwrap_uid1371
{
  margin-bottom:0px !important;
}


.powermail_fieldwrap_radiobuttonkontaktfirstrow  .radio,
.powermail_fieldwrap_radiobuttonkontaktfirstrow2  .radio,
.powermail_fieldwrap_uid1371  .radio,
.powermail_fieldwrap_radiobuttonkontaktsecondrow  .radio,
.powermail_fieldwrap_radiobuttonkontaktsecondrow2  .radio,
.powermail_fieldwrap_uid1373 .radio{ 
  width:33.33333%;
  float:left;
  padding: 17px 17px;
  background-color:#ededed;
  border:1px solid #fff;

}



.powermail_fieldwrap_subheadline01,
.powermail_fieldwrap_uid1372 {
  width:100%;
  margin-bottom:0px !important;
  border:1px solid #fff;

}

.powermail_fieldwrap_subheadline01 .input-container .powermail-text-only,
.powermail_fieldwrap_uid1372 .input-container .powermail-text-only{
  line-height:24px;
  height:auto;
  width:100%;
  padding-top:10px;
  padding-bottom:10px;
  font-size: 17px;
}

.powermail_fieldwrap_subheadline01  .input-container,
.powermail_fieldwrap_uid1372  .input-container{
  width:100%;
  background-color:#ededed;
  height:auto;
}

.powermail_fieldwrap_anderegruende01,
.powermail_fieldwrap_uid1374{
  width:100%;
  margin-top:15px;
}


.powermail_form_52 .btn-group,
.powermail_form_54 .btn-group
{
  display:none;
}

.powermail_form_52 .btn.btn-warning,
.powermail_form_54 .btn.btn-warning{
  float:left;
}

.powermail_form_52 .btn.btn-primary.pull-right,
.powermail_form_54 .btn.btn-primary.pull-right{
  float:right;
}


.powermail_form_52 .btn.btn-primary.pull-right,
.powermail_form_54 .btn.btn-primary.pull-right{
  
    background: url(/fileadmin/user_upload/gfx/carousel_next_bluex2.png) no-repeat scroll;
    background-size: 23px 16px;
    background-position: 93.3% 13px;
    padding: 13px 44px 6px 15px;
    border: 2px solid #072a5b;
    color: #072a5b;
    display: block;
    float: left;
    line-height: 17px;
    font-family: 'UniversLTW01-67BoldCn';
    text-transform: uppercase;
    font-size: 0px;
    margin-left: 17px;
    width: 120px;
    outline: 0 none !important;
    margin-top: 17px;
    margin-right: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.powermail_form_52 .btn.btn-warning,
.powermail_form_54 .btn.btn-warning{
  
    background: url(/fileadmin/user_upload/gfx/carousel_vor_bluex2.png) no-repeat scroll;
    background-size: 23px 16px;
    background-position: 7.3% 13px;
    padding: 13px 0px 6px 30px;
    border: 2px solid #072a5b;
    color: #072a5b;
    display: block;
    float: left;
    line-height: 17px;
    font-family: 'UniversLTW01-67BoldCn';
    text-transform: uppercase;
    font-size: 0px;
    margin-left: 10px;
    width: 120px;
    outline: 0 none !important;
    margin-top: 17px;
    margin-right: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
}


.powermail_form_52 .btn.btn-primary.pull-right:hover,
.powermail_form_54 .btn.btn-primary.pull-right:hover{
  
    background-color: #eb7d00 !important;
    background-image: url(/fileadmin/user_upload/gfx/button_arrowx2.png) !important;
    box-shadow: none !important;
    color: #fff !important;
    border: 2px solid #eb7d00 !important;
}


.powermail_form_52 .btn.btn-warning:hover,
.powermail_form_54 .btn.btn-warning:hover{
  
    background-color: #eb7d00 !important;
    background-image: url(/fileadmin/user_upload/gfx/carousel_vorx2.png) !important;
    box-shadow: none !important;
    color: #fff !important;
    border: 2px solid #eb7d00 !important;
}



.powermail_form_52 .btn.btn-primary.pull-right:before{
  content:"WEITER";
  font-size:17px;
}



.powermail_form_52 .btn.btn-warning:after{
  content:"ZURÜCK";
  font-size:17px;
  
}


/*** ENGLISCH **/

.powermail_form_54 .btn.btn-primary.pull-right:before{
  content:"NEXT";
  font-size:17px;
  
}

.powermail_form_54 .btn.btn-warning:after{
  content:"BACK";
  font-size:17px;
  
}








/*****************************HMI LABEL HEADLINE**************************************/

.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline1,
.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline2,
.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline3,
.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline4,
.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline5,
.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline6,
.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline7,
.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline8,
.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline9,
.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline10,
.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline11,
.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline12,
.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline13,
.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline14,
.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline15,
.powermail_fieldwrap_uid1344,
.powermail_fieldwrap_uid1346,
.powermail_fieldwrap_uid1349,
.powermail_fieldwrap_uid1351,
.powermail_fieldwrap_uid1353,
.powermail_fieldwrap_uid1355,
.powermail_fieldwrap_uid1363,
.powermail_fieldwrap_uid1365,
.powermail_fieldwrap_uid1368,
.powermail_fieldwrap_uid1370,
.powermail_fieldwrap_uid1375 
{

  width:100%;
  float:left;
}


.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline1 .powermail-text-only,
.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline2 .powermail-text-only,
.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline3 .powermail-text-only,
.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline4 .powermail-text-only,
.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline5 .powermail-text-only,
.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline6 .powermail-text-only,
.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline7 .powermail-text-only,
.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline8 .powermail-text-only,
.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline9 .powermail-text-only,
.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline10 .powermail-text-only,
.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline11 .powermail-text-only,
.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline12 .powermail-text-only,
.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline13 .powermail-text-only,
.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline14 .powermail-text-only,
.powermail_fieldwrap_type_text.powermail_fieldwrap_groupheadline15 .powermail-text-only,
.powermail_fieldwrap_uid1344 .powermail-text-only,
.powermail_fieldwrap_uid1346 .powermail-text-only,
.powermail_fieldwrap_uid1349 .powermail-text-only,
.powermail_fieldwrap_uid1351 .powermail-text-only,
.powermail_fieldwrap_uid1353 .powermail-text-only,
.powermail_fieldwrap_uid1355 .powermail-text-only,
.powermail_fieldwrap_uid1363 .powermail-text-only,
.powermail_fieldwrap_uid1365 .powermail-text-only,
.powermail_fieldwrap_uid1368 .powermail-text-only,
.powermail_fieldwrap_uid1370 .powermail-text-only,
.powermail_fieldwrap_uid1375 .powermail-text-only{
  
    font-size: 20px;
    line-height: 34px;
    font-weight: normal;
    color: #072a5b !important;
    padding-left:0px;
    margin-top: 40px;
    height: auto;
}



/*********************** HMI MEDIA QUERIES ********************************/

@media (max-width: 991px){

   .powermail_fieldwrap_einsatztbereicheradio .radio,
   .powermail_fieldwrap_einsatztbereicheradio .control-label,
   .powermail_fieldwrap_uid1345 .radio,
   .powermail_fieldwrap_uid1345 .control-label{
     width: 50%; 
     text-align: center;
   }

   .powermail_fieldwrap_zertifikatcheckboxen,
   .powermail_fieldwrap_uid1347{
     width:100%;
   }

   .powermail_fieldwrap_zertifikatcheckboxen .checkbox,
   .powermail_fieldwrap_uid1347 .checkbox{
     width:33.33333%;
     float:left;
     border: 1px solid #fff;
     background: #ededed;
     padding-top: 34px;
     min-height: 154px !important;
   }

   
   .powermail_fieldwrap_radiobuttonkontaktfirstrow  .radio,
   .powermail_fieldwrap_uid1371 .radio,
   .powermail_fieldwrap_radiobuttonkontaktsecondrow  .radio,
   .powermail_fieldwrap_schalttafelradiobutton .radio,
   .powermail_fieldwrap_uid1364 .radio,
   .powermail_fieldwrap_uid1373 .radio{ 
     min-height:90px;
   }

   .powermail_fieldwrap_to01,
   .powermail_fieldwrap_uid1359  {
    width:100%;
    text-align:center;
   }

   .powermail_fieldwrap_temperaturbereichminus01,
   .powermail_fieldwrap_temperaturbereichplus01,
   .powermail_fieldwrap_uid1357,
   .powermail_fieldwrap_uid1361{
    width: 80%;
   }

 
}


@media (max-width: 767px){

   .powermail_fieldwrap_einsatztbereicheradio .radio,
   .powermail_fieldwrap_einsatztbereicheradio .control-label,
   .powermail_fieldwrap_uid1345 .radio,
   .powermail_fieldwrap_uid1345 .control-label{
     width: 100%;
     margin-bottom: 0px;
   }

   .powermail_fieldwrap_zertifikatcheckboxen .checkbox,
   .powermail_fieldwrap_uid1347 .checkbox{
     width:100%;    
   }

   
   .powermail_fieldwrap_technologienhmis .radio,
   .powermail_fieldwrap_uid1350 .radio{
     width:100%;    
     height: 250px;
   } 

   .powermail_fieldwrap_displaygroesse .radio,
   .powermail_fieldwrap_schalttafelradiobutton .radio,
   .powermail_fieldwrap_checkboxeneinsetzen .checkbox,
   .powermail_fieldwrap_exbereich .radio,
   .powermail_fieldwrap_aussenbereichinnenbereich .radio,
   .powermail_fieldwrap_technologien .checkbox,
   .powermail_fieldwrap_uid1364 .radio,
   .powermail_fieldwrap_uid1352 .radio,
   .powermail_fieldwrap_uid1354 .checkbox{
     width:100%; 
   } 
   
 
   .tx-powermail .form-horizontal .form-group.powermail_fieldwrap_radiobuttonkontaktfirstrow,
   .tx-powermail .form-horizontal .form-group.powermail_fieldwrap_radiobuttonkontaktsecondrow,
   .tx-powermail .form-horizontal .form-group.powermail_fieldwrap_subheadline01,
   .tx-powermail .form-horizontal .form-group.powermail_fieldwrap_radiobuttonkontaktfirstrow  .radio,
   .tx-powermail .form-horizontal .form-group.powermail_fieldwrap_uid1371 .radio,
   .tx-powermail .form-horizontal .form-group.powermail_fieldwrap_uid1371,
   .tx-powermail .form-horizontal .form-group.powermail_fieldwrap_uid1372,
   .tx-powermail .form-horizontal .form-group.powermail_fieldwrap_uid1372 .input-container,
   .tx-powermail .form-horizontal .form-group.powermail_fieldwrap_uid1373,
   .tx-powermail .form-horizontal .form-group.powermail_fieldwrap_uid1374,
   .tx-powermail .form-horizontal .form-group.powermail_fieldwrap_radiobuttonkontaktsecondrow  .radio,
   .tx-powermail .form-horizontal .form-group.powermail_fieldwrap_uid1373 .radio,
   .powermail_fieldwrap_subheadline01 .input-container,
   .powermail_fieldwrap_anderegruende01{ 
     width:100%;
     margin-bottom:0px !important;
   }


   .powermail_fieldwrap_radiobuttonkontaktfirstrow  .radio,
   .powermail_fieldwrap_radiobuttonkontaktsecondrow  .radio,
   .powermail_fieldwrap_schalttafelradiobutton .radio,
   .powermail_fieldwrap_uid1364 .radio,
   .powermail_fieldwrap_uid1371 .radio,
   .powermail_fieldwrap_uid1373 .radio{ 
      min-height:63px;
   }



}






/******************************* KAMERA ********************************/

/*
.powermail_fieldwrap_einsatzort{
  margin-bottom:0px !important;
}
*/

.powermail_fieldwrap_einsatzort .radio,
.powermail_fieldwrap_uid1741 .radio{
  float:left;
  width:50%;
  background:#ededed;
  padding: 17px 17px;
}

.powermail_fieldwrap_einsatzort .radio:nth-child(7),
.powermail_fieldwrap_uid1741 .radio:nth-child(7){
  width:100%;
  padding-bottom:30px;
}

.powermail_fieldwrap_cctvsystemloesungoderkomponente,
.powermail_fieldwrap_uid1742{

  margin-bottom:50px !important;
}

.powermail_fieldwrap_cctvsystemloesungoderkomponente .radio,
.powermail_fieldwrap_uid1742 .radio{
  float:left;
  width:50%;
  background:#ededed;
  padding: 17px 17px;
  min-height: 90px;
}



.powermail_fieldwrap_einsatzort .control-label,
.powermail_fieldwrap_cctvsystemloesungoderkomponente .control-label,
.powermail_fieldwrap_artderkameras .control-label,
.powermail_fieldwrap_einsatzbereich .control-label,
.powermail_fieldwrap_rueckruf .control-label,
.powermail_fieldwrap_decazoneinstalliert .control-label,
.powermail_fieldwrap_wuenschensieeinenrueckruf .control-label,
.powermail_fieldwrap_uid1741 .control-label,
.powermail_fieldwrap_uid1742 .control-label,
.powermail_fieldwrap_uid1747 .control-label,
.powermail_fieldwrap_uid1748 .control-label{
    display: block;
    width: 100%;
    float: left;
    text-align: left;
    background: #ededed;
    padding: 17px 17px;
    color: #072a5b;
    margin-bottom:0px;
}

/*
.powermail_fieldwrap_cctvsystemloesungoderkomponente .control-label,
.powermail_fieldwrap_einsatzbereich .control-label{
  padding-top:40px;
}
*/

.powermail_fieldwrap_artderkameras,
.powermail_fieldwrap_uid1747{
  width:100%;
  /*margin-bottom:0px !important;*/
}

.powermail_fieldwrap_artderkameras .checkbox:nth-child(5),
.powermail_fieldwrap_decazoneinstalliert .checkbox:nth-child(9),
.powermail_fieldwrap_uid1747 .checkbox:nth-child(5){

  width:100%;
}

.powermail_fieldwrap_artderkameras .checkbox,
.powermail_fieldwrap_einsatzbereich .radio,
.powermail_fieldwrap_rueckruf,
.powermail_fieldwrap_decazoneinstalliert .checkbox,
.powermail_fieldwrap_wuenschensieeinenrueckruf .radio,
.powermail_fieldwrap_uid1747 .checkbox,
.powermail_fieldwrap_uid1748 .radio{

  width:50%;
  float:left;
  padding:17px 17px;
  background:#ededed;
}

.powermail_fieldwrap_einsatzbereich .radio:nth-child(5),
.powermail_fieldwrap_einsatzbereich .radio:nth-child(6),
.powermail_fieldwrap_uid1748 .radio:nth-child(3){
  padding-bottom:30px;
}

.powermail_fieldwrap_uid1748 .radio:nth-child(3){

  width:100%;
}



.powermail_fieldwrap_gefordertertemperaturbereich,
.powermail_fieldwrap_andereeinsatzbereich,
.powermail_fieldwrap_uid1750,
.powermail_fieldwrap_uid1749{

  margin-bottom:16px !important;
}

.powermail_fieldwrap_weitereinformationen,
.powermail_fieldwrap_uid1756{
  margin-bottom:50px !important;
}


.powermail_fieldwrap_artdercctvloesung,
.powermail_fieldwrap_videoaufzeichnunggewuenscht,
.powermail_fieldwrap_uid1745,
.powermail_fieldwrap_uid1746{

  width:50%;
  margin-bottom:16px !important;
}


.powermail_fieldwrap_videoaufzeichnunggewuenscht .radio,
.powermail_fieldwrap_artdercctvloesung .radio,
.powermail_fieldwrap_uid1745 .radio,
.powermail_fieldwrap_uid1746 .radio{
  padding:17px 17px;
  background:#ededed;
  float:left;
  width:100%;
}

.powermail_fieldwrap_videoaufzeichnunggewuenscht .control-label,
.powermail_fieldwrap_artdercctvloesung .control-label,
.powermail_fieldwrap_uid1745 .control-label,
.powermail_fieldwrap_uid1746 .control-label{

  display:block;
  width:100%;
  float:left;
  padding:17px 17px;
  text-align:left;
  background:#ededed;
  color: #072a5b;
  margin-bottom:0px;
}

.powermail_fieldwrap_anzahlgeplanterkameras,
.powermail_fieldwrap_uid1744{
  width:100%;
}


.powermail_fieldwrap_anzahlgeplanterkameras .powermail_input.form-control,
.powermail_fieldwrap_uid1744 .powermail_input.form-control{
  width: 49.33333%;
  float:left;
}


.powermail_fieldwrap_projektinformationenheadline,
.powermail_fieldwrap_kontaktdaten,
.powermail_fieldwrap_uid1743,
.powermail_fieldwrap_uid1757{
  margin-bottom:30px !important;
  width:100%;
}

.tx-powermail .powermail_fieldwrap_projektinformationenheadline .powermail-text-only,
.tx-powermail .powermail_fieldwrap_kontaktdaten .powermail-text-only,
.tx-powermail .powermail_fieldwrap_uid1743 .powermail-text-only,
.tx-powermail .powermail_fieldwrap_uid1757 .powermail-text-only{

    width: 100%;
    float: left;
    padding:0px;
    color: #072a5b;
    text-align: left;
    font-size: 30px;
    line-height: 34px;
    border-bottom: 2px solid #ededed;
}

.tx-powermail .powermail_fieldwrap_uploadheadline.form-group,
.tx-powermail .powermail_fieldwrap_uid1754.form-group{

  width:100%;
  float:left;
  margin-bottom:0px !important;
 
}

.tx-powermail .powermail_fieldwrap_uploadheadline .powermail-text-only,
.tx-powermail .powermail_fieldwrap_uid1754 .powermail-text-only{
  display: block;
  text-align: left;
  background: #ededed;
  color: #072a5b;
  font-weight:bold;
}

.powermail_fieldwrap_uploadfunction,
.powermail_fieldwrap_uid1755{

    width: 100%;
    float: left;
    display: block;  
    padding-left:8px;
    padding-right:8px;
}

.powermail_fieldwrap_uploadfunction .input-container,
.powermail_fieldwrap_uid1755 .input-container{

    width: 35%;
    float: left;
    background: #ededed;
    min-height:80px;
    margin-bottom:0px;
}

.powermail_fieldwrap_uploadfunction .input-container input[type="file"],
.powermail_fieldwrap_uid1755 .input-container input[type="file"]{
  
   padding:10px; 
  background:#ededed;
}

.powermail_fieldwrap_uploadfunction .control-label,
.powermail_fieldwrap_uid1755 .control-label{

    display: inline-block;
    float: right;
    text-align: left;
    width: 65%;
    background: #ededed;
    color: #072a5b;
    font-size:13px;
    min-height:80px;
    margin-bottom:0px;
    padding:18px;
 
}

.powermail_form_61 .checkbox.parsley-error,
.powermail_form_61 .radio.parsley-error,
.powermail_form_62 .checkbox.parsley-error,
.powermail_form_62 .radio.parsley-error
{
   background-color:#ededed !important;
}

.powermail_form_61 .checkbox.parsley-error .checkboxstyle label,
.powermail_form_61 .radio.parsley-error .radiostyle label,
.powermail_form_62 .checkbox.parsley-error .checkboxstyle label,
.powermail_form_62 .radio.parsley-error .radiostyle label{
   border:2px solid #e94e0f;
}





/******************************* KAMERA MEDIA QUERIES **********************************/



@media (max-width: 767px){


     .powermail_fieldwrap_einsatzort .radio,
     .powermail_fieldwrap_cctvsystemloesungoderkomponente .radio,
     .powermail_fieldwrap_anzahlgeplanterkameras .powermail_input.form-control,
     .powermail_fieldwrap_videoaufzeichnunggewuenscht,
     .powermail_fieldwrap_artdercctvloesung,
     .powermail_fieldwrap_artderkameras .checkbox,
     .powermail_fieldwrap_einsatzbereich .radio,
     .powermail_fieldwrap_uploadfunction .control-label,
     .powermail_fieldwrap_uploadfunction .input-container,
     .powermail_fieldwrap_decazoneinstalliert .checkbox,
     .powermail_fieldwrap_decazoneinstalliert .control-label,
     .powermail_fieldwrap_wuenschensieeinenrueckruf .control-label,
     .powermail_fieldwrap_wuenschensieeinenrueckruf .radio,
     .powermail_fieldwrap_uid1741 .radio,
     .powermail_fieldwrap_uid1742 .radio,
     .powermail_fieldwrap_uid1744 .powermail_input.form-control,
     .powermail_fieldwrap_uid1745,
     .powermail_fieldwrap_uid1746,
     .powermail_fieldwrap_uid1747 .checkbox,
     .powermail_fieldwrap_uid1748 .radio,
     .powermail_fieldwrap_uid1755 .control-label,
     .powermail_fieldwrap_uid1755 .input-container{
            width:100%;
      }

  
     .tx-powermail .powermail_fieldwrap_kamerakontaktdatenleer.layout3.form-group,
     .tx-powermail .powermail_fieldwrap_uid1759.layout3.form-group{
            display:none !important;
      }

      .powermail_fieldwrap_projektinformationenheadline,
      .powermail_fieldwrap_kontaktdaten,
      .powermail_fieldwrap_uid1743,
      .powermail_fieldwrap_uid1757{
         margin-top:25px;
      }

}

#c12792 .tx-powermail .powermail-text-only,
#c12790 .tx-powermail .powermail-text-only,
#c12812 .tx-powermail .powermail-text-only{
       line-height:51px;
}




/**************************************************************
     multilevel  
***************************************************************/
.multilevel_step_1 .frame.default, .multilevel_step_2 .frame.default {
  padding: 0px;
}
.multilevel_step_1 .content-row, .multilevel_step_1 .module, .multilevel_step_2 .content-row, .multilevel_step_2 .module {
  margin: 0px !important;
}
.multilevel_step_2 .module {
  margin-top: 17px !important;
}
/***********************marginal-spalte************************/
.subcontent-wrap .module {
  margin-bottom: 68px !important;
}
.right-content-wrap .module {
  margin-bottom: 0px !important;
}
.right-content-wrap > .download.module .col-lg-12.col-md-12.col-sm-12.col-xs-12.padding-7 > p:first-child {
  margin-top: 2px;
  margin-bottom: 8px;
}
.margin_left_special .icon_modul_item {
  padding-bottom: 17px;
}
.top a {
  color: #072a5b;
}
.top a:hover {
  color: #ff8700;
}
.location_template.module .location_content .kontaktbox_more.show_callback_form {
  max-width: 270px !important;
}
.right-content-wrap #accordion {
  margin-top: 17px !important;
  margin-bottom: 17px !important;
}
.right-content-wrap #accordion.last {
  margin-bottom: 0 !important;
}
.location_template.module .location_content .powermail_fieldwrap_type_submit {
  position: relative;
  bottom: 0;
}
body.ie_browser .location_template.module .location_content .powermail_fieldwrap_type_submit {
  top: 10px;
}

.anfrage.layout1{
  margin-left:-11px;
  margin-top:15px;
} 
.layout_sticky_content .anfrage.layout1{
  margin-left:-15px;
  margin-top:11px;
}
@media (max-width: 1024px) {
.location_template.module .col-sm-6.col-xs-12.powermail_fieldwrap_anrede {
  padding-right: 8px;
}
.location_template.module .col-sm-6.col-xs-12.powermail_fieldwrap_titel {
  padding-left: 8px;
}
}

@media (min-width: 992px) {
.location_template.module .location_content_person {
  width: 300px !important;
  max-width: 100%;
}
.location_template.module .location_content_form {
  width: calc(100% - 300px);
  padding-left: 0;
}
}

@media (max-width: 991px) {
.tx_locationsearch_callback_form {
  max-width: none;
  outline: none;
}
.location_template.module .kontaktbox_more.show_callback_form {
  position: relative !important;
  float: left !important;
}
.location_template.module .location_content_person {
  border-right: 0 none;
  padding-right: 8px;
}
.location_template.module .tx-location-search .kontakt_wrapper, .location_template.module .location_content_person {
  max-height: none;
  height: auto !important;
}
.location_template.module .location_content_form form, .location_content_more_form form {
  padding: 9px !important;
}
.location_template.module .location_content .powermail_fieldwrap_type_submit {
  margin-bottom: 17px !important;
}
.location_content .kontaktbox_more {
  margin-left: 17px;
}
.location_content_more .tx-powermail {
  max-width: none;
  padding: 0;
}
}

@media (max-width: 400px) {
.location_template.module .location_content .kontaktbox_more.show_callback_form {
  padding-right: 30px !important;
  width: calc(100% - 34px) !important;
  background-position: 96.3% 15px;
}
}
/*** PRINT CSS ***/
body.print_styles {
  width: 210mm !important;
  max-width: 210mm !important;
}
body img.print_logo {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 120px !important;
  height: auto !important;
}

@media print {
@page {
  size: 210mm 297mm;
  margin: 10mm 25mm 20mm;
  margin-bottom: 20mm;
}
html, body {
  width: 210mm !important;
  max-width: 210mm !important;
}
body {
  color: black !important;
  overflow-x: hidden;
  padding-top: 80px;
}
body img.print_logo {
  display: block;
}
.teaserboxen_zwei_vollbild .setheight.blue {
  display: block;
}
.module {
  width: 100% !important;
  max-width: 100% !important;
  page-break-inside: avoid !important;
}
.slider {
}
.module .headline-row h2, html body .module .headline-row h3, h2, h3 {
  padding-top: 15px !important;
}
.content_top {
  padding-bottom: 15px;
}
.location_template.module .location_content_form {
  display: none !important;
}
.location_template.module .location_content_person {
  height: auto !important;
  min-width: 300px;
}
.location_template.module .location_content_person .tx-location-search {
  display: block !important;
}
#content {
  margin-top: 0 !important;
  padding-bottom: 0 !important;
  overflow: hidden !important;
}
#move-to-top, .catalog-filter-search, .product_hero_extended .info_bar, .expert_mail_newsletter_content, .tx-location-search {
  display: none !important;
}
body .content_modul {
  float: left !important;
  margin-left: 0 !important;
}
a[href]:after {
  content: none !important;
}
img {
  border: 0 none !important;
  border-image-width: 0 !important;
}
footer {
  display: none !important;
  height: 0 !important;
}
body h3 {
  font-size: 14px !important;
  line-height: 22px !important;
}
.product_series .list_item .images_block > .main_img img, .product_series .list_item .images_block > .main_img {
  width: 136px;
}
.calendarize .table-bordered tbody tr td {
  max-width: 28px;
  height: 38px;
  padding: 0px;
}
.slider .hero_content {
  position: relative !important;
  float: left !important;
  width: 100% !important;
  text-align: left !important;
  margin-bottom: -21px !important;
}
.slider .hero-wrapper {
  position: relative !important;
  float: left !important;
  top: 0 !important;
}
body .slider .hero-wrapper_content {
  left: 0 !important;
  max-width: none !important;
  top: 0 !important;
}
.slider .hero-wrapper_content_block, .slider .hero-wrapper_content_block h1, .slider .hero-wrapper_content_block h2, .slider .hero-wrapper_content_block h3 {
  max-width: none !important;
}
.slider .hero-wrapper_content_block {
  padding: 68px 0 0 !important;
}
.slider .hero-wrapper_content_block h1 {
  padding-bottom: 0 !important;
  margin-top: -7px !important;
  margin-bottom: 13px !important;
  color: #072a5b !important;
}
.breadcrumb {
  display: none !important;
}
.container_marginal .slider .hero-wrapper_content_block {
  padding: 68px 26px 0 !important;
}
.slider .hero-wrapper_content_block p {
  max-width: none;
  padding-top: 0px !important;
  padding-bottom: 0 !important;
  margin-bottom: 20px !important;
  margin-top: -5px !important;
  color: #072a5b !important;
}
.slider .hero-wrapper_content_block a.button {
  margin-bottom: 21px !important;
  color: #072a5b !important;
  border-color: #072a5b !important;
  background: url(/fileadmin/user_upload/gfx/button_arrowx2_blue.png) no-repeat scroll !important;
  background-color: rgba(0,0,0,0.0) !important;
  background-size: 23px 16px !important;
  background-position: 93.3% 15px !important;
}
.slider .hero-wrapper_content_block a.button:hover {
  color: #fff !important;
  background-color: #eb7d00;
  border-color: #fff;
  background-image: url('/fileadmin/user_upload/gfx/button_arrowx2.png');
}
body .aktionteaser_hl-02-hm-01 {
  margin-top: 63px !important;
}
.slider .owl-next {
  background-image: url(/fileadmin/user_upload/gfx/carousel_next_bluex2.png) !important;
}
.slider .owl-prev {
  background-image: url(/fileadmin/user_upload/gfx/carousel_vor_bluex2.png) !important;
}
body .slider .owl-dots > div {
  background-color: #072a5b !important;
}
body .slider .owl-nav {
  bottom: 25px !important;
}
body .slider .owl-dots {
  bottom: 7px !important;
}
body .slider .owl-carousel .owl-item > div:not(.video) > div:last-child, body .slider .owl-carousel .owl-item > .video {
  padding-bottom: 54px !important;
}
body .slider + .key_facts.module {
  margin-top: 68px !important;
}
.hero-wrapper_content {
  width: 100% !important;
  position: relative !important;
}
.hero-wrapper_content_block h1, .hero_anker_headline h1, .slider.small_video .hero_video_headline h1 {
  font-size: 40px;
  line-height: 45px;
  max-width: calc(100% - 70px);
}
.module.first {
  margin-top: 68px !important;
}
.tx-location-search {
  display: none !important;
}
.right-content-wrap .calendarize .prev, .right-content-wrap .calendarize .next {
  display: none !important;
}
.teasermodul_te_08_image {
  float: left;
}
.in-page-share {
  display: none;
}
#topnavi, .ex_explorer_logo {
  display: none;
}
.teasermodul_te_08_content a {
  position: relative;
  left: 0;
  bottom: initial;
  max-width: 100%;
  margin-bottom: 17px;
}
.teasermodul_te_08_content {
  height: auto !important;
  padding: 15px 17px 0 17px;
}
.container {
  width: 1170px;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 7.5px;
  padding-right: 7.5px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  float: left;
}
.col-sm-12 {
  width: 100%;
}
.col-sm-11 {
  width: 91.66666667%;
}
.col-sm-10 {
  width: 83.33333333%;
}
.col-sm-9 {
  width: 75%;
}
.col-sm-8 {
  width: 66.66666667%;
}
.col-sm-7 {
  width: 58.33333333%;
}
.col-sm-6 {
  width: 50%;
}
.col-sm-5 {
  width: 41.66666667%;
}
.col-sm-4 {
  width: 33.33333333%;
}
.col-sm-3 {
  width: 25%;
}
.col-sm-2 {
  width: 16.66666667%;
}
.col-sm-1 {
  width: 8.33333333%;
}
.col-sm-pull-12 {
  right: 100%;
}
.col-sm-pull-11 {
  right: 91.66666667%;
}
.col-sm-pull-10 {
  right: 83.33333333%;
}
.col-sm-pull-9 {
  right: 75%;
}
.col-sm-pull-8 {
  right: 66.66666667%;
}
.col-sm-pull-7 {
  right: 58.33333333%;
}
.col-sm-pull-6 {
  right: 50%;
}
.col-sm-pull-5 {
  right: 41.66666667%;
}
.col-sm-pull-4 {
  right: 33.33333333%;
}
.col-sm-pull-3 {
  right: 25%;
}
.col-sm-pull-2 {
  right: 16.66666667%;
}
.col-sm-pull-1 {
  right: 8.33333333%;
}
.col-sm-pull-0 {
  right: auto;
}
.col-sm-push-12 {
  left: 100%;
}
.col-sm-push-11 {
  left: 91.66666667%;
}
.col-sm-push-10 {
  left: 83.33333333%;
}
.col-sm-push-9 {
  left: 75%;
}
.col-sm-push-8 {
  left: 66.66666667%;
}
.col-sm-push-7 {
  left: 58.33333333%;
}
.col-sm-push-6 {
  left: 50%;
}
.col-sm-push-5 {
  left: 41.66666667%;
}
.col-sm-push-4 {
  left: 33.33333333%;
}
.col-sm-push-3 {
  left: 25%;
}
.col-sm-push-2 {
  left: 16.66666667%;
}
.col-sm-push-1 {
  left: 8.33333333%;
}
.col-sm-push-0 {
  left: auto;
}
.col-sm-offset-12 {
  margin-left: 100%;
}
.col-sm-offset-11 {
  margin-left: 91.66666667%;
}
.col-sm-offset-10 {
  margin-left: 83.33333333%;
}
.col-sm-offset-9 {
  margin-left: 75%;
}
.col-sm-offset-8 {
  margin-left: 66.66666667%;
}
.col-sm-offset-7 {
  margin-left: 58.33333333%;
}
.col-sm-offset-6 {
  margin-left: 50%;
}
.col-sm-offset-5 {
  margin-left: 41.66666667%;
}
.col-sm-offset-4 {
  margin-left: 33.33333333%;
}
.col-sm-offset-3 {
  margin-left: 25%;
}
.col-sm-offset-2 {
  margin-left: 16.66666667%;
}
.col-sm-offset-1 {
  margin-left: 8.33333333%;
}
.col-sm-offset-0 {
  margin-left: 0%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left;
}
.col-md-12 {
  width: 100%;
}
.col-md-11 {
  width: 91.66666667%;
}
.col-md-10 {
  width: 83.33333333%;
}
.col-md-9 {
  width: 75%;
}
.col-md-8 {
  width: 66.66666667%;
}
.col-md-7 {
  width: 58.33333333%;
}
.col-md-6 {
  width: 50%;
}
.col-md-5 {
  width: 41.66666667%;
}
.col-md-4 {
  width: 33.33333333%;
}
.col-md-3 {
  width: 25%;
}
.col-md-2 {
  width: 16.66666667%;
}
.col-md-1 {
  width: 8.33333333%;
}
.col-md-pull-12 {
  right: 100%;
}
.col-md-pull-11 {
  right: 91.66666667%;
}
.col-md-pull-10 {
  right: 83.33333333%;
}
.col-md-pull-9 {
  right: 75%;
}
.col-md-pull-8 {
  right: 66.66666667%;
}
.col-md-pull-7 {
  right: 58.33333333%;
}
.col-md-pull-6 {
  right: 50%;
}
.col-md-pull-5 {
  right: 41.66666667%;
}
.col-md-pull-4 {
  right: 33.33333333%;
}
.col-md-pull-3 {
  right: 25%;
}
.col-md-pull-2 {
  right: 16.66666667%;
}
.col-md-pull-1 {
  right: 8.33333333%;
}
.col-md-pull-0 {
  right: auto;
}
.col-md-push-12 {
  left: 100%;
}
.col-md-push-11 {
  left: 91.66666667%;
}
.col-md-push-10 {
  left: 83.33333333%;
}
.col-md-push-9 {
  left: 75%;
}
.col-md-push-8 {
  left: 66.66666667%;
}
.col-md-push-7 {
  left: 58.33333333%;
}
.col-md-push-6 {
  left: 50%;
}
.col-md-push-5 {
  left: 41.66666667%;
}
.col-md-push-4 {
  left: 33.33333333%;
}
.col-md-push-3 {
  left: 25%;
}
.col-md-push-2 {
  left: 16.66666667%;
}
.col-md-push-1 {
  left: 8.33333333%;
}
.col-md-push-0 {
  left: auto;
}
.col-md-offset-12 {
  margin-left: 100%;
}
.col-md-offset-11 {
  margin-left: 91.66666667%;
}
.col-md-offset-10 {
  margin-left: 83.33333333%;
}
.col-md-offset-9 {
  margin-left: 75%;
}
.col-md-offset-8 {
  margin-left: 66.66666667%;
}
.col-md-offset-7 {
  margin-left: 58.33333333%;
}
.col-md-offset-6 {
  margin-left: 50%;
}
.col-md-offset-5 {
  margin-left: 41.66666667%;
}
.col-md-offset-4 {
  margin-left: 33.33333333%;
}
.col-md-offset-3 {
  margin-left: 25%;
}
.col-md-offset-2 {
  margin-left: 16.66666667%;
}
.col-md-offset-1 {
  margin-left: 8.33333333%;
}
.col-md-offset-0 {
  margin-left: 0%;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  float: left;
}
.col-lg-12 {
  width: 100%;
}
.col-lg-11 {
  width: 91.66666667%;
}
.col-lg-10 {
  width: 83.33333333%;
}
.col-lg-9 {
  width: 75%;
}
.col-lg-8 {
  width: 66.66666667%;
}
.col-lg-7 {
  width: 58.33333333%;
}
.col-lg-6 {
  width: 50%;
}
.col-lg-5 {
  width: 41.66666667%;
}
.col-lg-4 {
  width: 33.33333333%;
}
.col-lg-3 {
  width: 25%;
}
.col-lg-2 {
  width: 16.66666667%;
}
.col-lg-1 {
  width: 8.33333333%;
}
.col-lg-pull-12 {
  right: 100%;
}
.col-lg-pull-11 {
  right: 91.66666667%;
}
.col-lg-pull-10 {
  right: 83.33333333%;
}
.col-lg-pull-9 {
  right: 75%;
}
.col-lg-pull-8 {
  right: 66.66666667%;
}
.col-lg-pull-7 {
  right: 58.33333333%;
}
.col-lg-pull-6 {
  right: 50%;
}
.col-lg-pull-5 {
  right: 41.66666667%;
}
.col-lg-pull-4 {
  right: 33.33333333%;
}
.col-lg-pull-3 {
  right: 25%;
}
.col-lg-pull-2 {
  right: 16.66666667%;
}
.col-lg-pull-1 {
  right: 8.33333333%;
}
.col-lg-pull-0 {
  right: auto;
}
.col-lg-push-12 {
  left: 100%;
}
.col-lg-push-11 {
  left: 91.66666667%;
}
.col-lg-push-10 {
  left: 83.33333333%;
}
.col-lg-push-9 {
  left: 75%;
}
.col-lg-push-8 {
  left: 66.66666667%;
}
.col-lg-push-7 {
  left: 58.33333333%;
}
.col-lg-push-6 {
  left: 50%;
}
.col-lg-push-5 {
  left: 41.66666667%;
}
.col-lg-push-4 {
  left: 33.33333333%;
}
.col-lg-push-3 {
  left: 25%;
}
.col-lg-push-2 {
  left: 16.66666667%;
}
.col-lg-push-1 {
  left: 8.33333333%;
}
.col-lg-push-0 {
  left: auto;
}
.col-lg-offset-12 {
  margin-left: 100%;
}
.col-lg-offset-11 {
  margin-left: 91.66666667%;
}
.col-lg-offset-10 {
  margin-left: 83.33333333%;
}
.col-lg-offset-9 {
  margin-left: 75%;
}
.col-lg-offset-8 {
  margin-left: 66.66666667%;
}
.col-lg-offset-7 {
  margin-left: 58.33333333%;
}
.col-lg-offset-6 {
  margin-left: 50%;
}
.col-lg-offset-5 {
  margin-left: 41.66666667%;
}
.col-lg-offset-4 {
  margin-left: 33.33333333%;
}
.col-lg-offset-3 {
  margin-left: 25%;
}
.col-lg-offset-2 {
  margin-left: 16.66666667%;
}
.col-lg-offset-1 {
  margin-left: 8.33333333%;
}
.col-lg-offset-0 {
  margin-left: 0%;
}
}

@media print and (color) {
* {
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}
}

@media (max-width: 767px) {
.tx-powermail .powermail_fieldwrap_pflichtfelder .powermail-text-only {
  text-align: left;
  padding-left: 0;
}
}
