/* Foundation v2.1.4 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

table th {
	font-weight: bold;
}
table td, table th {
	padding: 9px 10px;
	text-align: left;
}

/* Mobile */
@media only screen and (max-width: 991px) {
table.responsive {
	margin-bottom: 0;
}
.pinned {
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
	overflow: hidden;
	overflow-x: scroll;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	background-color: #fff;
}
.pinned .donwloadtable{
	background-color: #ededed;
}
.pinned table {
	border-right: none;
	border-left: none;
	width: 100%;
}
.pinned table th, .pinned table td {
	white-space: nowrap;
}
.pinned td:last-child {
	border-bottom: 0;
}
div.table-wrapper {
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
	border-right: 1px solid #ccc;
}
div.table-wrapper div.scrollable table {
	margin-left: 200px;
}
div.table-wrapper div.scrollable {
	overflow: scroll;
	overflow-y: hidden;
}
table.responsive td, table.responsive th {
	position: relative;
	white-space: nowrap;
	overflow: hidden;
}
table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td {
	display: none;
}
.pinned .contenttable thead tr th:first-child{
	 padding: 34px 17px 35px !important;
}
.pinned .contenttable{
	margin-left: -2px !important;
}
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */
