/** IE SCROLLBAR FIX **/
body {
	-ms-overflow-style: scrollbar;
}
.for_calc_height {
	display: block !important;
	position: absolute;
	top: -9999px;
	left: -9999px;
}
#content + .content_bottom {
	top: -125px;
}
.backendlayout-pagets__default_clean .news .article .news-img-wrap img {
	width: auto !important;
	height:auto !important;
}


/******************************** RESPONSIVE **********************************/
@media (min-width: 1451px) {
body .slider .hero-wrapper_content {
	top: 55px !important;
}
body .slider.small_video .hero-wrapper_content {
	#top: auto !important;
	#bottom:-68px !important;
}
}

@media (min-width: 992px) {
	body.page-6.pagelevel-3 .filter_module.product_cat.module {
		margin-bottom: 70px !important;
	}
.slider .hero-wrapper {
	display: block;
	height: 100%;
	top: 0;
	position: relative;
}
.slider .hero-wrapper_content {
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	max-width: none;
}
.slider .hero-wrapper_content_block {
	padding-top: 0;
	padding-left: 0;
}
.mainmenu .dropdown-menu li a {
	white-space: nowrap;
/*	font-family: "UniversLTW01-57Condense 723821"; */
	letter-spacing: normal;
}
.mainmenu ul li.dropdown:last-child .dropdown-menu li a {
	white-space: normal;
}
}

@media (max-width: 1450px) and (min-width: 992px) {
.slider .hero-wrapper {
	display: block;
	height: 100%;
	top: 0;
	position: relative;
}
.slider .hero-wrapper_content {
	display: block;
	position: absolute;
	top: 17.4%;
	left: 0;
	width: 100%;
	max-width: none;
}
body .slider .hero-wrapper_content_block h1, 
body .slider .hero-wrapper_content_block .slider_header,
body .slider .hero-wrapper_content_block h2 {
	padding-top: 0;
	margin-top: -7px;
	font-size: 45px;
	line-height: 48px;
	padding-bottom: 14px;
}
.slider .hero-wrapper_content_block p {
	font-size: 15px;
	padding-top: 0;
	margin-top: -5px;
	padding-bottom: 19px;
}
.slider a.button {
	padding: 12px 50px 12px 14px;
	background-position: right 17px top 49%;
}
.aktionteaser_hl-02-hm-01 {
	margin-top: 0;
}
.slider .owl-carousel .owl-nav {
	bottom: 42px;
}
.slider .owl-carousel .owl-dots {
	bottom: 23px;
}
.slider .owl-carousel .hero-wrapper_content {
	padding-bottom: 50px;
}
.hero-wrapper_content_block {
	max-width: 540px;
}
body .module .headline-row h2, body .teasermodul_te_08.module .headline-row h2, body .paragraph.module body .paragraph_content h2, body .paragraph.module .paragraph_content h3, body .download .setheightheadline h2 {
	font-size: 45px !important;
	line-height: 48px !important;
}
html body .module .headline-row {
	top: -8px !important;
	margin-bottom: 9px !important;
}
body .module.first {
	margin-top: 34px !important;
}
html body .module.teaserboxen_volle_breite_tabs .headline-row.only-headline {
	margin-bottom: 21px !important;
}
html body .module .headline-row.with-cta a {
	margin-top: 23px !important;
}
html body .module .headline-row > p, html body .module .headline-row > a:not(.slide_button) {
	margin-top: 22px !important;
	margin-bottom: 7px !important;
}
html body .module .headline-row.with-text-and-link {
	margin-bottom: 14px !important;
}
html body .module .headline-row.only-headline {
	margin-bottom: 53px !important;
}
}

@media (max-width: 1280px) {
.mainmenu ul.nav-pills > li, body.language-1 .mainmenu ul.nav-pills > li {
	padding: 0 10px;
}
.navbar .logo_background > img, .navbar .logo_background a img {
	left: 0;
	margin-left: 49px;
}
.mainmenu a {
	font-size: 20px;
}
}

@media (max-width: 1200px) {
.news_feed .content_modul ul {
	padding-left: 15px;
	padding-right: 15px;
}
.navitop_language {
	float: right;
	width: 71px;
}
.navitop_right_side {
	width: calc(50% - 61px);
}
.mainmenu .dropdown-menu li {
	padding: 8px 0;
}
}

@media (max-width: 1090px) {
.teaserboxen_vollbild_drei_raster_content h3 {
	font-size: 21px !important;
	line-height: 21px;
	margin-top: 3px;
	margin-bottom: 26px;
}
.teaserboxen_vollbild_drei_raster_content p {
	font-size: 15px;
}
.teaserboxen_vollbild_drei_raster_content_big h3 {
	font-size: 34px;
	line-height: 37px;
}
}

@media (max-width: 1280px) and (min-width: 1051px) {
    .search {
        left: calc(738px + 17.1%);
    }
    .ex_explorer_logo {
        left: calc(831px + 17.1%);
    }
    #move-to-top {
        left: auto;
        left: calc(788px + 17.1%);
    }
}

@media (min-width: 1100px) {
.mainmenu ul li.dropdown:last-child .dropdown-menu li a {
	white-space: nowrap;
}
}

@media (max-width: 1050px) and (min-width: 992px) {
.search {
	left: auto;
	right: 93px;
}
.ex_explorer_logo.sticky {
	left: auto;
	right: 10px;
}
#move-to-top {
	left: auto;
	right: 39px;
}
}
@media all and (min-width: 992px) and (max-width: 1090px) {
    .ex_explorer_logo {
        left: inherit;
        right: 15px !important;
    }
    .search {
        right: 69px;
    }
}
@media (min-width: 992px) {
	.nav.nav-pills.produkte_mobile,
	.nav.nav-pills.unternehmen_mobile
	{
		display:none ;
	}
	
}
@media (max-width: 991px) {
	.nav.nav-pills.produkte_mobile,
	.nav.nav-pills.unternehmen_mobile{
		display:block ;
	}
	.nav.nav-pills.produkte,
	.nav.nav-pills.unternehmen{
		display:none !important;
	}
}
/******** 	 P R O D U C T   P A G E  produce by Ros.	 ********/
@media all and (min-width: 767px) and (max-width: 996px) {
	.catalog-filter .module .headline-row > h1.head-line-h1,
	.catalog-filter .filter_module.module .headline-row > h2{
		max-width:  -webkit-calc(100% - 50%);
		max-width: -moz-calc(100% - 50%);
		max-width: calc(100% - 50%);
	}
	.catalog-filter .module .headline-row > h1.short_h1 {
		max-width:  -webkit-calc(100% - 45%);
		max-width: -moz-calc(100% - 45%);
		max-width: calc(100% - 45%);
	}
	.page-5 .module .headline-row.headline-search-filter h2 {
		width: calc(100% - 45%);
	}
}

@media all and (max-width: 991px) {
	.catalog-filter .module .cat_wrapper .headline-row.second_nesting h3 {
		font-size: 36px !important;
		line-height: 41px !important;
	}
	.bilder_accordion.module .headline-row form.aimeos.catalog-filter,
	.catalog-filter .module .headline-row.only-headline h2 {
		width: 100% !important;
		-ms-word-wrap: break-word;
		word-wrap: break-word;
	}
	body .headline-row.headline-search-filter h2 {
		-ms-word-wrap: break-word;
		word-wrap: break-word;
	}
	.dropdown-menu.second-level.scroll-pane.jspScrollable{
		left: 0%;
		max-height: calc(100vh - 328px);
		overflow-y: scroll;
		padding-bottom: 100px;
	}
	
	.dropdown-menu.second-level.scroll-pane.jspScrollable .third-level,
	.dropdown-menu.second-level.scroll-pane.jspScrollable .fourth-level{
		display:none;
	}
}
@media all and (max-width: 767px) {
	.catalog-filter .module .headline-row > h1.head-line-h1,
	.catalog-filter .filter_module.module .headline-row > h2{
		max-width: none;
	}
	.catalog-filter .product_headline_flyout_extended.module {
		margin: 0 0 30px 0 !important;
	}
	body .headline-row.headline-search-filter h2 {
		width: 100% !important;
	}
	.catalog-filter .filter_module.product_cat {
		padding-top: 0 !important;
		margin: 0 0 30px 0 !important;
	}
	.catalog-filter .module .cat_wrapper .headline-row.second_nesting h3 {
		font-size: 22px !important;
		line-height: 23px !important;
	}
	.catalog-filter .module .headline-row.only-headline {
		max-width: none;
	}
}
@media (max-width: 1050px) and (min-width: 768px) {
.kontaktbox h3, .kontaktbox h4 {
	font-size: 19px;
}
}
.in-page-share .slider_btn {
	display: block;
	background-color: #04295d;
	width: 19px;
	height: 69px;
	position: absolute;
	top: 50%;
	margin-top: -35px;
	cursor: pointer;
}
.in-page-share ul {
	margin-bottom: 0;
}
.in-page-share .slider_btn > img {
	width: 9px;
	height: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -4px;
	margin-top: -8px;
}
.in-page-share.closed .slider_btn {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.in-page-share.closed {
	right: -68px;
}
.navitop_left_side {
	left: 1px;
}

@media (max-width: 1240px) {
.teaserboxen_zwei_vollbild_content {
	padding: 20px 80px;
}
.teaserbox_volle_breite_te_06 h2 {
	font-size: 28px;
	line-height: 26px;
	margin-bottom: 10px;
}
.teaserboxen_normal_drei_raster_image_content h3 {
	font-size: 21px !important;
	line-height: 21px;
}
.teaserboxen_normal_drei_raster_image_content > div + div > p {
	margin-top: 13px !important;
}
}

@media (max-width: 1210px) {
.ex_explorer_logo {
	right: 25px;
}
.hero_anker_headline h1 {
	width: 73%;
}
}

@media (max-width: 1200px) {
.navbar .language_url .navitop_left_side ul li:last-child {
	padding-right: 0;
	padding-left: 12px;
}
.language_url .navitop_right_side .navbar-main li {
	padding: 0 8px;
}
.navitop_language {
	margin-left: -10px;
}
.slider.small_video .hero_image + .row {
	right: auto;
	left: 16.5%;
	width: 1056px;
	max-width: calc(100% - 160px);
}
.slider.small_video .hero_video_headline h1 {
	font-size: 40px;
	line-height: 45px;
}
.content_toggle_content {
	width: auto;
	left: auto;
}
.content_toggle_headline {
	left: auto;
}
}

@media (max-width: 1150px) {
.content_modul, .frame.default.content_modul {
	padding-left: 20px;
	padding-right: 20px;
}
body .content_marginal > .row > .content_modul {
	margin-left: -36px;
	margin-right: -22px;
}
.block-accordion_content > .col-lg-2 {
	padding: 0 15px;
}
.block-accordion_content {
	padding: 34px 53px 34px 53px;
}
.hero_anker_headline + .row {
	bottom: 16px;
}
.product_hero_extended .thumbnails_left {
	width: calc(17.8% - 68px);
}
}

@media (max-width: 1150px) and (min-width: 768px) {
.content_modul .right-content-wrap .module .content_modul {
	padding: 0;
}
}

@media (max-width: 860px) and (min-width: 768px) {
.kontaktbox_more {
	font-size: 14px;
}
}

@media (max-width: 1150px) and (min-width: 992px) {
.col-md-8.subcontent-wrap .content_modul {
	padding-right: 0;
}
main.col-md-4 .content_modul {
	padding-left: 0;
}
}

@media (max-width: 1125px) {
.content_marginal.module > .row {
	float: left;
	width: calc(100% + 30px);
	margin-left: -31px;
	margin-right: -31px;
}
.breadcrumb > .content_modul {
	margin-left: -15px;
}
}

@media (max-width: 1050px) {
.key_facts_promozeile .text h4, .key_facts_promozeile .text p {
	font-size: 15px;
}
}

@media (max-width: 1024px) {
.select_new {
	max-width: 200px !important;
	width: 100%;
}
.layout1 .select_new {
	max-width: none !important;
	width: 100%;
}
.location_content .kontaktbox_more {
	max-width: 220px !important;
}
.language_url .navitop_right_side .navbar-main li {
	padding: 0 7px;
	margin-top: 14px;
}
.navitop_right_side .navbar-main {
	margin-right: 0px;
}
}

@media (max-width: 1020px) {
body.language-1 .mainmenu ul.nav-pills > li {
	padding: 0 7px;
}
}

@media (max-width: 991px) {
	.slider.small_video .vorschau_video {
	padding-bottom:34px;
}

.left .powermail-text-only {
	display:block !important;
}
.right .powermail-text-only {
	display:none;
}
.iframe_jobs {
	float: left; 
	margin-bottom: 0px;
}
.pagination li a, .pagination li.current a, .pagination li.active a {
	padding: 6px 7px !important;
}
.pagination li, .pagination li.current {
	margin: 5px 4px !important;
}
.pagination {
	margin-left: -4px;
}
.pagination li.previous, .pagination li.next, .pagination li.previous:hover, .pagination li.next:hover {
	width: 9px;
	height: 17.5px;
	margin-top: 13px !important;
}
.right-content-wrap .calendarize table tbody tr td span, .right-content-wrap .calendarize table tbody tr td span:hover {
	border-radius: 0;
}
.news_newsbox .content_newsbox_horizontal {
	margin-top: 0;
	padding: 0;
}
.news_newsbox .newsbox_bildboxraster {
	position: relative;
	float: left;
	bottom: auto;
	left: auto;
}
.newsbox_bildboxraster_content {
	padding: 17px 0;
}
.TE-04_vertical {
	padding: 17px 8px;
}
.TE-04_vertical .teaser-text, .news_vertikal .content_newsbox_horizontal {
	padding: 0;
}
.anker_header_modul {
	margin-top: 34px;
}
.tabelle_elements .contenttable tr td {
	padding: 5px 5px 5px 10px !important;
}
.tabelle_elements .contenttable tr td:nth-child(2) h3 {
	min-width: 260px;
	font-size: 19px;
	line-height: 21px;
}
.expert_mail_newsletter_registration {
	max-width: 90vw;
}
body .expert_mail_newsletter_content .text_bild_module {
	padding: 40px 10px 0 !important;
}
body .expert_mail_newsletter_content .tx-powermail {
	padding: 17px;
}
.expert_mail_newsletter_content .powermail_fieldwrap_leer, .expert_mail_newsletter_content .powermail_fieldwrap_leer_01, .expert_mail_newsletter_content .powermail_fieldwrap_leer_02, .expert_mail_newsletter_content .powermail_fieldwrap_leer_03, .expert_mail_newsletter_content .powermail_fieldwrap_leer_04, .expert_mail_newsletter_content .powermail_fieldwrap_leer_05, .expert_mail_newsletter_content .powermail_fieldwrap_leer_06 {
	display: none;
}
body .filter_module.module .headline-row + .headline-row {
	margin-top: 65px !important;
}
.news_newsbox .outer {
	display: none;
}
.newsbox_bildboxraster .outer {
	display: block
}
.news_newsbox > .content_modul .newsbox_bildboxraster {
	position: relative;
	float: left;
	bottom: 0px;
	width: 100%;
}
.location_content_person, .tx-location-search .kontakt_wrapper {
	max-width: 100% !important;
	margin-bottom: 15px;
	max-height: 650px;
}
.location_content_form .tx-powermail input[type='submit'] {
	display: none;
}
.layout1 .select_new {
	max-width: 50% !important;
}
.teaserbox_volle_breite_te_06 h2 {
	font-size: 25px;
	line-height: 25px;
	margin-bottom: 5px;
}
.navitop_language {
	top: -2px;
}
.navbar .logo_background {
	height: 48px;
}
.navbar .logo_background > img, .navbar .logo_background a img {
	width: 86px;
}
#content {
	margin-top: 126px;
}
}

@media (max-width: 991px) {
	.product-media .images > a > div {
		width: calc(33.3% - 4px);
	}
	body > script + .ui-autocomplete.input_tx-solr-search-form-pi-results {
		top: 178px !important;
		/*width: 100% !important;*/
		/*left: 0 !important;*/
	}
	.table_overflow {
		width: 100%;
		float: left;
		position: relative;
		overflow-y: auto;
		padding-top: 11px;
	}
	.table_overflow.second_scroll {
		position: absolute;
		top: 0;
		height: 11px;
		overflow-y: hidden;
		padding-top: 0;
	}
	.scroll_wrap {
		width: 100%;
		float: left;
		position: relative;
	}
	.frame.default .contenttable, .frame.invisible .contenttable {
		table-layout: auto;
	}
	.teaserboxen_zwei_vollbild_content {
		padding: 20px 20px;
	}
	.teaserbox_volle_breite_te_06 .teaserbox_volle_breite_te_06_content {
		position: relative;
		top: 0;
		left: 0;
		padding-top: 14px;
		color: #072a5b;
	}
	.teaserbox_volle_breite_te_06_content#whiteheadline h2, .teaserbox_volle_breite_te_06_content#whiteheadline p, .teaserbox_volle_breite_te_06_content#whiteheadline li {
		color: #072a5b !important;
	}
	.teaserbox_volle_breite_te_06_content .button {
		position: relative;
		bottom: auto;
		left: auto;
		background: url(/fileadmin/user_upload/gfx/button_arrowx2_blue.png) no-repeat scroll;
		background-color: rgba(0,0,0,0.0);
		background-size: 23px 16px;
		background-position: right 17px top 49%;
		color: #072a5b;
		border-color: #072a5b;
	}
	.teaserbox_volle_breite_te_06_image > img {
		min-height: 0;
		width: 100%;
		height: auto;
	}
	.teaserbox_volle_breite_te_06_image .button:hover {
		color: #fff !important;
		background-color: #eb7d00;
		border-color: #fff;
		background-image: url(/fileadmin/user_upload/gfx/button_arrowx2.png);
	}
	.number, .email, .fax, .website {
		background-size: 20px 20px;
		padding: 10px 0px 10px 50px;
		font-size: 15px;
	}
	.number::before, .email::before {
		background-size: 360px 173px;
	}
	.number::before {
		background-position: -75px 0;
		width: 22px;
		height: 23px;
		top: 7px;
	}
	.email::before {
		width: 23px;
		height: 23px;
		top: 11px;
	}
	.fax::before {
		left: 16px;
		top: 8px;
		width: 24px;
		height: 24px;
		background-size: 24px 24px;
	}
	.website::before {
		background: url(/fileadmin/user_upload/gfx/website.png) no-repeat scroll;
		content: "";
		position: absolute;
		left: 17px;
		top: 7px;
		width: 22px;
		height: 22px;
		background-size: cover;
	}
	#tx_locationsearch_locations_locationlist .number, #tx_locationsearch_locations_locationlist .email, #tx_locationsearch_locations_locationlist .fax, #tx_locationsearch_locations_locationlist .website {
		padding: 11px 0px 9px 38px;
	}
	#content section > .breadcrumb:first-child + .container .searchall.module.first {
		margin-top: 0 !important;
	}
	/*** PAGE NAVI ***/
	.page_items .previous_item, .page_items .next_item, .page_items .all_item, .page_items .anker_item {
		width: 25%;
		background-clip: content-box;
		padding-right: 1px;
		bottom: 0;
		top: auto;
		margin-top: 0;
		height: 68px;
		z-index: 499;
		cursor: pointer;
	}
	.page_items .next_item {
		padding-right: 0;
	}
	.page_items .all_item {
		left: 25%;
	}
	.page_items .anker_item {
		left: 50%;
		display: block;
	}
	.step_anker {
		background-color: #d4dff3;
		position: fixed !important;
		bottom: -35vh;
		z-index: 498;
		transition: visibility 0s, bottom 0.4s ease-in-out;
		height: auto;
		-webkit-overflow-scrolling: touch;
		width: 100vw;
		left: 0 !important;
		padding-bottom: 50px;
		max-height: 35vh;
		overflow-y: scroll;
		visibility: hidden;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.bg_blue .step_anker {
		background-color: #2f52a0;
	}
	.step_anker.display {
		visibility: visible;
	}
	.step_anker.mobile_slide {
		bottom: 69px;
		top: auto;
	}
	.right .selecter, .right .selecter .selecter-selected {
		background-color: #fff !important;
	}
	#move-to-top {
		background-image: url('/fileadmin/user_upload/gfx/back_to_top_mobile.png');
		background-size: 32px 19px;
		width: 32px;
		height: 19px;
		right: 50%;
		left: auto;
		top: 82px;
		margin-right: -15px !important;
	}
	.navbar .language_url .navitop_left_side ul {
		padding-top: 0px;
	}
	.left .powermail_fieldwrap_type_submit {
		display: block !important;
	}
	.mainmenu .dropdown-menu {
		margin-left: -34px;
	}
	/*** basic ***/
	.hero_image {
	}
	.navitop_right_side .navbar-main {
		float: left;
		margin-right: 0px;
	}
	.language_url .navitop_right_side .navbar-main li a {
		font-size: 10px;
		line-height: 12px;
	}
	/***  hero-wrapper_content_block ***/
	.hero-wrapper_content_block h1, .hero_anker_headline h1, .slider.small_video .hero_video_headline h1 {
		font-size: 40px;
		line-height: 45px;
		max-width: calc(100% - 70px);
	}
	.slider.small_video .hero_video_headline h1 {
		max-width: 100%;
	}
	.hero-wrapper_content_block p {
		max-width: calc(100% - 70px);
	}
	.hero_anker_headline h1 {
		width: calc(70% - 30px);
	}
	/*** aktionteaser_hl-02-hm-01 ***/
	.aktionteaser_hl-02-hm-01 {
		margin-top: 2px;
	}
	.white .nopadding_4:last-child {
		padding-right: 2px;
	}
	.white .nopadding_4:first-child {
		padding-left: 2px;
	}
	/*** teaserboxen_volle_breite_tabs ***/
	.teaserboxen_volle_breite_tabs {
		padding: 25px 0;
	}
	.teaserboxen_volle_breite_tabs .content_modul h2, .news_special h2 {
		font-size: 36px;
		line-height: 41px;
		margin-bottom: 6px;
	}
	.news_special h2 {
		margin-bottom: 5px;
	}
	.teaserboxen_volle_breite_tabs .tab_content .vertical_align .tab_slider_headline {
		font-size: 32px;
		line-height: 36px;
		margin-bottom: 6px;
	}
	/*** teaserboxen_normal_drei_raster ***/
	.teaserboxen_normal_drei_raster {
		padding: 25px 0;
	}
	.teaserboxen_normal_drei_raster h2 {
		font-size: 36px;
		line-height: 41px;
		margin-bottom: 13px;
	}
	.teaserboxen_normal_drei_raster_image_content h3 {
		font-size: 21px !important;
		line-height: 20px;
	}
	/*** teaserboxen_zwei_vollbild ***/
	.teaserboxen_zwei_vollbild {
		padding: 25px 0;
	}
	.teaserboxen_zwei_vollbild > .content_modul > div > div > h2, .teaserboxen_vollbild_drei_raster_carousel > .content_modul > div > div > h2 {
		font-size: 36px;
		line-height: 41px;
	}
	.teaserboxen_zwei_vollbild > .content_modul > div > div > h2 {
		margin-bottom: 18px;
	}
	.teaserboxen_zwei_vollbild_content h3 {
		font-size: 36px;
		line-height: 41px;
		margin-bottom: 6px;
	}
	.teaserboxen_vollbild_drei_raster_carousel > .content_modul > div > div > h2 {
		margin-bottom: 19px;
	}
	.teaserboxen_vollbild_drei_raster_carousel h2 + p + a {
		margin-top: 14px;
	}
	.teaserboxen_vollbild_drei_raster {
		padding-top: 35px;
	}
	.news_special {
		margin-bottom: -2px;
		margin-top: -3px;
	}
	.teaserboxen_vollbild_drei_raster h2 {
		margin-bottom: 19px;
	}
	/*** teaserboxen_vollbild_drei_raster ***/

	.navbar-nav > li {
		float: left;
	}
	.person_mobile_content .tx_locationsearch_callback_form {
		display: block;
	}
	.person_mobile_content .kontaktbox_more.show_callback_form {
		display: none;
	}
	.person_mobile_content .tx_locationsearch_callback_form .tx-powermail .form-horizontal .form-group {
		padding: 0px !important;
	}
	.person_mobile_content .frame.default.content_modul {
		padding-left: 0px;
		padding-right: 0px;
	}
	.person_mobile_content .tx_locationsearch_callback_form .form-horizontal .form-group {
		margin-left: -15px;
		width: 100% !important;
	}
	.person_mobile_content {
		z-index: 3;
		overflow-y: auto;
	}
	.search {
		position: absolute;
		right: 121px;
		top: 20px;
		left: auto;
	}
	.person_mobile {
		right: 0;
		padding: 15px;
		width: 100%;
	}
	img.person_mobile_contact {
		width: 34px;
		height: 30px;
		display: block;
		position: absolute;
		left: -57px;
		top: 0;
	}
	.navbar-toggle {
		cursor: pointer;
		background: url('/fileadmin/user_upload/gfx/burgerx2.png') no-repeat;
		height: 30px;
		width: 34px;
		background-size: cover;
	}
	.mainmenu {
		left: 140px;
		right: 44px;
		top: 0;
	}
	.mainmenu .navbar-toggle {
		margin-top: 21px;
	}
	.navbar-collapse {
		position: absolute;
		top: 0;
		left: 0;
	}
	.language_url .navitop_right {
	}
	.language_url .navitop_right .navitop_right_side {
		display: none;
	}
	.navitop_language {
		position: fixed;
		top: -4px;
		right: 0 !important;
	}
	.language_url .navitop_right .navitop_left_side {
		position: fixed;
		width: auto;
		top: -5px;
		left: 50% !important;
		transform: translateX(-50%) !important;
		margin-left: 0 !important;
		min-width: 257px;
	}
	.navbar .language_url {
		height: 56px;
	}
	.language_url .navitop_left_side:after {
		top: auto;
		bottom: 11px;
	}
	nav.navbar-collapse, nav.navbar-collapse.collapse ul li ul.dropdown-menu {
		width: 100%;
		max-height: 100vh;
		overflow-y: auto;
		position: fixed;
		height: 100%;
		background-color: rgba(0,0,0,0.90);
		display: none;
		padding-left: 20%;
		padding-top: 150px;
		z-index: 1;
		transition: left 0.25s ease-in-out;
		-webkit-transition: left 0.25s ease-in-out;
		-moz-transition: left 0.25s ease-in-out;
		-ms-transition: left 0.25s ease-in-out;
		-o-transition: left 0.25s ease-in-out;
	}
	.logo_flyout_1 {
		position: absolute;
		left: -27px;
		top: 55px;
		display: block;
	}
	.logo_flyout_1 > img {
		width: 184px;
		height: auto;
		margin-top: 17px;
		margin-left: -34px;
	}
	nav.navbar-collapse .close_button {
		width: 32px;
		height: 32px;
		top: 74px;
		cursor: pointer;
		display: block;
		z-index: 999;
		position: fixed;
		right: 19px;
	}
	nav.navbar-collapse.collapse {
		top: 0 !important;
		padding-top: 136px;
		overflow-y: hidden !important;
	}
	nav.navbar-collapse.collapse.in {
		display: block;
	}
	nav.navbar-collapse.collapse ul li {
		display: block;
		width: 100%;
	}
	nav.navbar-collapse.collapse ul li a {
		font-size: 34px;
	}
	nav.navbar-collapse.collapse ul li a > span::after {
		content: "\00a0";
		background: url('/fileadmin/user_upload/gfx/arrow_right_flyout_white.png') no-repeat scroll;
		width: 13px;
		height: 24px;
		display: inline-block;
		margin-left: 18px;
		position: relative;
		top: 13px;
		background-size: cover;
	}
	nav.navbar-collapse.collapse ul li.active > a > span::after, nav.navbar-collapse.collapse ul li a:hover > span::after {
		background-image: url("/fileadmin/user_upload/gfx/arrow_right_hover.png");
	}
	nav.navbar-collapse.collapse ul li.active > a, nav.navbar-collapse.collapse ul li a:hover {
		color: #eb7d00;
	}
	nav.navbar-collapse.collapse ul li a.a_center:hover:after {
		background: url('/fileadmin/user_upload/gfx/arrow_right_flyout_orange.png') no-repeat scroll;
	}
	nav.navbar-collapse.collapse ul li a.a_center > span::after {
		left: -35px;
		transform: rotate(180deg);
		position: absolute;
		margin-left: 0px;
	}
	nav ul li > a > span {
		position: relative;
		display: inline-block;
	}
	.mainmenu ul.nav-pills > li {
		padding-left: 0;
	}
	.mainmenu a {
		padding: 0 0 47px 0 !important;
	}
	.flyout_1 ul.nav.nav-pills {
		position: relative;
		left: 0%;
		margin-bottom: 234px;
	}
	nav.navbar-collapse.collapse ul li ul.dropdown-menu {
		display: block;
		z-index: 2;
		width: calc(100% + 34px);
		background: none;
		position: fixed;
		left: calc(100% + 34px);
		top: 228px;
		padding-top: 0;
		border-top: 1px solid #fff;
	}
	ul.nav.nav-pills {
		transition: left 0.25s ease-in-out;
		-webkit-transition: left 0.25s ease-in-out;
		-moz-transition: left 0.25s ease-in-out;
		-ms-transition: left 0.25s ease-in-out;
		-o-transition: left 0.25s ease-in-out;
	}
	ul.nav.nav-pills.menu_left {
		left: -100vw !important;
		padding-top: 100px;
	}
	nav.navbar-collapse.in ul li.dropdown ul {
		padding-top: 25px;
	}
	nav.navbar-collapse.in ul li.dropdown ul.menu_center, nav.navbar-collapse.in ul {
		left: 0%;
		max-height: calc(100vh - 328px);
		overflow-y: scroll;
		padding-bottom: 100px;
	}
	nav.navbar-collapse.in ul:not(.menu_center) {
		max-height: calc(100vh - 254px);
		overflow-y: scroll;
		padding-bottom: 100px;
		overflow-x: hidden !important;
		width: 100%;
	}
	nav.navbar-collapse.in ul.menu_left:not(.menu_center) {
		width: calc(200% + 82px);
	}
	nav.navbar-collapse.in ul li.dropdown ul li {
		padding-top: 10px;
		padding-bottom: 10px
	}
	nav.navbar-collapse.collapse ul li a.a_center {
		margin-left: -36px;
		transition: all 0.25s ease-in-out;
		-webkit-transition: all 0.25s ease-in-out;
		-moz-transition: all 0.25s ease-in-out;
		-ms-transition: all 0.25s ease-in-out;
		-o-transition: all 0.25s ease-in-out;
		position: fixed;
		top: 151px;
		left: 20%;
		color: #eb7d00;
	}
	nav.navbar-collapse.collapse ul li a.a_center span {
		position: static;
	}
	a.flyout_2_link {
		content: "";
		width: 30px;
		height: 30px;
		position: fixed;
		right: 60px;
		margin-top: 10px;
		cursor: pointer;
		display: none;
		z-index: 20;
	}
	a.flyout_2_link > img {
		height: auto;
	}
	.mainmenu .dropdown-menu li {
		padding: 0 20px 0 0;
	}
	.flyout_2_link, .flyout_2_link > img {
		display: block;
	}
	.mainmenu a:hover, .mainmenu li:hover > a {
		color: #fff;
	}
	.meta_wrapper {
		display: block;
	}
	.dummy {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		margin: 25px 0 0 !important;
	}
	.bilder_accordion + .dummy {
		margin: 25px 0 !important;
	}
	.teaserboxen_volle_breite_tabs .nav-tabs {
		padding-top: 0;
	}
	.teaserboxen_zwei_vollbild {
		margin: 25px 0;
		padding: 0;
	}
	.teaserboxen_vollbild_drei_raster_carousel {
		padding-top: 0;
		margin-top: 25px;
	}
	.teaserboxen_normal_drei_raster, .teaserboxen_volle_breite_tabs {
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.teaserboxen_normal_drei_raster {
		margin-top: 32px;
	}
	.bilder_accordion, .aktionteaser_hl-02-hm-01 {
		padding-bottom: 0;
	}
	.hero-wrapper_content_block h1 {
		padding-bottom: 16px;
	}
	.news_feed.blue ul li, .news_feed ul li, .product_download .content_modul ul li, .product_accessories .content_modul ul li {
		width: 100%;
		float: left;
		margin: 0;
		padding: 20px 42px !important;
		position: relative;
	}
	.news_feed ul li.tab_slider, .product_download .content_modul ul li.tab_slider, .product_accessories .content_modul ul li.tab_slider {
		display: none !important;
	}
	.news_feed.blue ul li.active::after, .news_feed ul li.active::after, .product_download .content_modul ul li.active::after, .product_accessories .content_modul ul li.active::after {
		content: "";
		width: 27px;
		height: 60px;
		background-color: #eb7d00;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
	}
	.news-line-slide, .product_download-line-slide, .product_accessories-line-slide {
		display: none;
	}
	.news_feed .content_modul ul, .product_download .content_modul ul, .product_accessories .content_modul ul {
		padding: 17px 0 16px;
	}
	.news_feed .content-container ul {
		margin-left: -18px;
		padding-top: 7px;
		padding-bottom: 7px;
	}
	.news_feed a.button {
		position: static;
		right: auto;
		margin-top: 0;
		z-index: 2;
		margin-left: 42px;
		margin-bottom: 34px;
	}
	.product_hero_extended .info_bar ul li {
		width: calc(25% - 13px);
		float: none;
		margin-right: 9px;
		padding: 7px 0;
	}
	.product_hero_extended .info_bar ul li:last-child {
		margin-right: 0;
	}
}

@media (max-width: 944px) {
	.product_hero_extended .info_bar ul li span {
		display: none;
	}
}

@media (max-width: 936px) {
	.key_facts_promozeile .text {
		padding-top: 0;
	}
	.slider.small_video .hero_image + .row {
		bottom: 136px;
	}
	.news_special.news_special_home.module .padding_special {
		padding-left: 5.2%;
	}
}

@media (min-width: 768px) {
	.content_top .calendarize,
	.content_top .news.module  {
		display: none !important;
	}

	.paragraph.module .row > .padding-7 {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
}

@media (max-width: 767px) {
	.right-content-wrap .calendarize,
	.right-content-wrap .news.module{
		display: none !important;
	}
	.image_map .image_map_inner .image_map_point .image_map_point_pin {
		width: 40px;
		height: 40px;
	}
	#rma_form_select a.rma_form + a {
		margin-top: 17px;
		clear: both;
	}
	.news-single .footer .zurueck {
		padding-right: 16px;
	}
	.navitop_language ul li {
		font-size: 17px;
	}
	.navitop_language ul li.active::after {
		left: 28px;
	}
	.product_item_table .detail .copy {
		padding-right: 0;
	}
	.langnavi {
		margin-left: -3px;
	}
	.product_item_table .detail .data table {
		font-size: 15px;
	}
	.product_item_table .detail .data table tr td:nth-child(3) {
		clear: both;
	}
	.content_toggle_content .col-md-3.col-xs-6 {
		padding-left: 8px;
		padding-right: 8px;
	}
	.home_header_horizontal p.setheight {
		height: auto !important;
	}
	.anker_image {
		display: none;
	}
	.product_download .details_container {
		margin-top: 8px;
	}
	.news_vertikal .home_header_horizontal p {
		padding-top: 7px !important;
	}
	.headline-row > .aimeos.catalog-filter, .headline-row .catalog-filter-search {
		right: auto !important;
		left: 0 !important;
	}
	.headline-row .catalog-filter-search {
		left: auto !important;
		max-width: none;
		width: initial;
		display: inline-block;
		margin-right: 0 !important;
		/*width: calc(100% - 67px);*/
	}
	.catalog-filter .catalog-filter-search input {
		width: 100%;
		min-width: 270px;
	}
	.teaserblock_mit_versatz_carousel .owl-nav {
		z-index: 0;
	}
	.step_anker.mobile_slide {
		bottom: 35px;
	}
	.anker_image > img {
		max-width: none;
	}
	.anker_item {
		padding-bottom: 34px;
	}
	.page_items .anker_item {
		padding-bottom: 0;
	}
	.anker_header_modul {
		margin-top: 68px;
		padding-bottom: 0;
	}
	.expert_mail_newsletter_content .tx-powermail .powermail-text-only {
		line-height: 24px;
	}
	.expert_mail_newsletter_content .text_bild_module_content .nopadding_7 {
		padding: 10px 5px 0;
	}
	.expert_mail_newsletter_content .tx-powermail .powermail_fieldwrap_type_submit {
		padding-right: 20px !important;
	}
	.expert_mail_newsletter_content form input[type='submit'] {
		max-width: 100%;
		font-size: 15px;
		padding: 14px 55px 16px 11px;
	}
	.tabelle_elements table.contenttable {
		table-layout: fixed;
		width: auto;
		min-width: 590px;
	}
	.right-content-wrap .news {
		margin-left: 0;
	}
	body .owl-next, body .owl-prev {
		display: none !important;
	}
	.owl-dot {
		width: 8px;
		height: 8px;
	}
	.multilevel_step_1 .bilder_accordion.module > .content_modul > .row, .multilevel_step_2 .bilder_accordion.module > .content_modul > .row, .multilevel_step_3 .bilder_accordion.module > .content_modul > .row, .multilevel_step_4 .bilder_accordion.module > .content_modul > .row {
		margin: 0 -15px 0 -14px;
	}
	.download.module .col-lg-3.col-md-3.col-sm-6.col-xs-12 {
		padding-bottom: 30px;
	}
	.download.module .col-lg-3.col-md-3.col-sm-6.col-xs-12:last-child {
		padding-bottom: 7.5px;
	}
	.col-lg-4.col-md-4.col-sm-4.col-xs-12.right-content-wrap .download.module .nopadding .nopadding_5 .nopadding {
		padding: 0 7.5px !important;
	}
	.multilevel_step_4_anker .step_anker_content_list {
		margin-left: 0;
		width: 100%;
	}
	.multilevel_step_4_anker .col-lg-8.col-md-8.col-sm-12.col-xs-12 {
		padding: 0 7.5px;
	}
	ul.nav-tabs > li {
		width: 100%;
		float: left;
		display: block;
		padding: 0 !important;
		margin: 0;
	}
	ul.nav-tabs > li:first-child {
		margin-top: 17px;
	}
	.product_download ul li:first-child, .product_accessories ul li:first-child, .tab_navigation ul li:first-child {
		margin-left: 0;
	}
	.product_download ul li, .product_accessories ul li {
		height: auto;
	}
	ul.nav-tabs > li a {
		padding: 9px 17px !important;
		float: left;
	}
	.product_download ul.nav-tabs > li a {
		padding: 9px 0 !important;
	}
	ul.nav-tabs > li.active a:before {
		content: "";
		width: 27px;
		height: 100%;
		position: absolute;
		top: 50%;
		background-color: #eb7d00;
		left: -20px;
		transform: translateY(-50%);
	}
	.product_download ul.nav-tabs > li.active a:before, .product_accessories ul.nav-tabs > li.active a:before {
		left: -37px;
	}
	ul.nav-tabs li.tab_slider {
		display: none;
	}
	.teaserboxen_volle_breite_tabs .nav-tabs {
		bottom: auto;
		margin-bottom: 17px;
	}
	body .content_marginal > .row > .content_modul {
		margin-left: -25px;
		margin-right: -21px;
	}
	.contact_mobile .form-horizontal .form-group {
		width: 100% !important;
	}
	.news_special_horizontal .content_box_horizontal_two:first-child {
		padding-right: 8px;
	}
	.news_special_horizontal .content_box_horizontal_two:last-child {
		padding-left: 8px;
	}
	.news_newsbox .content_newsbox_horizontal {
		margin-top: 10px;
	}
	.padding_special, .news_special.news_special_home.module .padding_special {
		padding-left: 0;
		margin-top: -17px;
		padding-bottom: 56px;
		padding-right: 0;
	}
	.more_news {
		padding: 16px 0 19px 0;
	}
	.news_special {
		margin-top: -7px;
	}
	.news_special h2 {
		padding-top: 57px;
	}
	.article_special {
		padding: 17px 0 10px 0;
	}
	.home_header h3 {
		font-size: 24px;
		line-height: 26px;
		padding: 0px 0 27px 0!important;
	}
	.home_date_right {
		padding-bottom: 4px;
	}
	.teaserboxen_vollbild_drei_raster_carousel .owl-nav {
		margin-top: 76px;
	}
	img.sticky_logo {
		margin-left: 20px !important;
	}
	.main_element.sticky .logo_background > a img {
		margin-left: -220px;
	}
	.navbar .logo_background > img, .navbar .logo_background a img {
		margin-left: 34px;
	}
	.row {
		margin: 0px;
	}
	.navitop_right_side {
		display: none;
	}
	.teaserboxen_volle_breite_tabs .content_modul h2, .teaserboxen_vollbild_drei_raster_carousel > .content_modul > div > div > h2, .teaserboxen_vollbild_drei_raster h2, .teaserboxen_zwei_vollbild > .content_modul > div > div > h2, .teaserboxen_normal_drei_raster h2, .news_special h2 {
		font-size: 32px;
		line-height: 31px;
	}
	.navbar-nav > li {
		float: left;
	}
	.teaserboxen_vollbild_drei_raster_content {
		padding: 16px 17px 25px;
	}
	.language_url .navitop_right .navitop_left_side, .hero-wrapper_content {
		left: 0;
	}
	.language_url .navitop_right .navitop_left_side {
		margin-left: 28px;
	}
	.hero-wrapper_content_block {
		padding: 22px 28px 28px;
	}
	.teaser_externe_footer .row > div:nth-child(1), .teaser_externe_footer .row > div:nth-child(2) {
		margin-bottom: 30px;
	}
	.teaserboxen_zwei_vollbild .row.sameheight > div:first-child {
		margin-bottom: 34px;
	}
	.teaserboxen_zwei_vollbild .row.sameheight > div:last-child {
		margin-bottom: 0;
	}
	.teaser_some_footer .content_modul {
		padding-left: 0;
		padding-right: 0;
	}
	.hero-wrapper_content_block h1, .hero_anker_headline h1, .hero-wrapper_content_block h1, .slider.small_video .hero_video_headline h1 {
		font-size: 24px;
		line-height: 29px;
		padding-bottom: 21px;
	}
	h1 {
		font-size: 24px;
		line-height: 29px;
	}
	.slider.hm_01 .hero-wrapper_content_block h1 {
		padding-bottom: 28px;
	}
	.hero_anker_headline h1 {
		padding: 28px !important;
		left: 0;
		width: calc(100% - 30px);
		margin-top: -40px;
	}
	.hero-wrapper_content_block p {
		padding-bottom: 34px;
	}
	.teaserboxen_vollbild_drei_raster .teaserboxen_vollbild_drei_raster_content {
		padding: 18px 10px 24px;
	}
	.padding-7 {
		padding-left: 7.5px !important;
		padding-right: 7.5px !important;
	}
	.aktionteaser_hl-02-hm-01 .white a .nopadding_4 {
		padding-left: 7.5px !important;
		padding-right: 7.5px !important;
	}
	.teaserboxen_zwei_vollbild_content {
		padding: 31px 8px 34px !important;
	}
	.teaserboxen_normal_drei_raster h2 + a {
		margin-bottom: 12px;
	}
	.teaserboxen_vollbild_drei_raster_carousel h2 + p + a {
		margin-top: 3px;
		margin-bottom: 19px;
	}
	.teaserboxen_zwei_vollbild > .content_modul > div > div > h2 + a {
		margin-bottom: 19px;
	}
	.teaserboxen_vollbild_drei_raster {
		padding-top: 35px;
	}
	.news_special {
		margin-bottom: -2px;
	}
	.teaserboxen_vollbild_drei_raster_content_big {
		padding: 16px 17px 25px;
	}
	.teaserboxen_vollbild_drei_raster .teaserboxen_vollbild_drei_raster_content {
		padding: 18px 17px 24px;
	}
	.teaserboxen_zwei_vollbild_content h2 {
		font-size: 34px;
		line-height: 34px;
	}
	.teaser_some_footer .footer_app p {
		line-height: 18px;
		padding: 0 10px;
	}
	.article_special {
		background-position: right 0 top 50%;
	}
	.teaserboxen_normal_drei_raster h2 {
		margin-bottom: 12px;
	}
	.teaserboxen_zwei_vollbild > .content_modul > div > div > h2 {
		margin-bottom: 12px;
	}
	.news_special h2 {
		margin-bottom: 0;
	}
	.aktionteaser_hl-02-hm-01_content span {
		font-size: 16px;
		line-height: 15px;
	}
	.news_feed .content_modul .row > div {
		margin-left: -7px !important;
		padding-left: 0 !important;
	}
	.news_feed .content_modul ul li {
		padding-right: 0;
	}
	.product_headline_flyout_extended .add_content a > div {
		padding-bottom: 17px;
	}
	.product_headline_flyout_extended .add_content:last-child a > div {
		padding-bottom: 0;
	}
	.product_hero_extended .thumbnails_left {
		position: relative;
		width: calc(100% + 15px);
		left: 0;
		top: 15px;
		margin-left: -7.5px;
		margin-right: -7.5px;
		display: block;
		float: left;
	}
	.product_hero_extended .thumbnails_left > a {
		width: 33.3%;
		float: left;
		display: block;
		padding: 0 7.5px;
	}
	.product_hero_extended .info_bar {
		position: relative;
		float: left;
		margin-top: 0;
		bottom: auto;
	}
	.product_hero_extended .info_bar {
		/*height: 34px;*/
		height: auto;
	}
	.product_hero_extended .info_bar ul {
		padding-top: 4px;
		margin: auto;
		padding: 0;
	}
	.product_hero_extended .info_bar ul li {
		padding: 7px 0;
	}
	.product_hero_extended .info_bar ul li[detail="detailinfos"] img {
		width: 26px;
		height: auto;
	}
	.product_hero_extended .info_bar ul li[detail="multimedia"] img {
		width: 24px;
		height: auto;
	}
	.product_hero_extended .info_bar ul li[detail="downloads"] img {
		width: 17px;
		height: auto;
	}
	.product_hero_extended .info_bar ul li[detail="tontabelle"] img {
		width: 22px;
		height: auto;
	}
	.news_feed.news_special.news_vertikal.module .home_header_horizontal p.setheight, .news_special_horizontal .home_header_horizontal p.setheight {
		height: auto !important;
		font-size: 17px;
		line-height: 21px;
	}
	.news_special_horizontal .home_header_horizontal a.more_two {
		margin-bottom: 41px;
	}
	.TE-04_vertical h3 {
		margin-top: 10px;
		margin-bottom: 41px;
	}
	.TE-04_vertical .content_box_horizontal:last-child h3 {
		margin-bottom: 0;
	}
	.news_vertikal .home_header_horizontal a.more {
		margin-bottom: 51px;
	}
	.news_special_horizontal .content_box_horizontal_two:last-child a.more_two {
		margin-bottom: -6px;
	}
	.news_special_horizontal .content_newsbox_horizontal {
		padding: 11px 0 11px;
	}
	.news_special.news_special_home.module .padding_special > div:last-child {
		margin-bottom: -12px !important;
	}
	.news_special.news_special_home.module .padding_special {
		padding-bottom: 0 !important;
	}
	.news_feed .content_modul .headline-row > * {
		margin-left: 15px;
	}
	.news_vertikal .content_box_horizontal:last-child a.more {
	}
	.content_box_horizontal {
		min-height: 0 !important;
	}
	.news_vertikal .content_box_horizontal:last-child a.more {
		margin-bottom: 19px;
	}
}

@media screen and (max-width: 910px) {
.teaserboxen_vollbild_drei_raster_content_big h3 {
	font-size: 27px;
	line-height: 27px;
}
.teaserboxen_vollbild_drei_raster_content_big p {
	font-size: 15px;
}
}

@media screen and (orientation:landscape) and (max-width: 767px) {
.slider.hm_01 {
	min-height: 480px !important;
}
.slider.small_video .hero_video_headline h1 {
	padding-right: 10px;
}
}

@media only screen and (min-width: 300px) and (max-width: 800px) and (orientation: landscape) {
}

@media only screen and (max-width: 668px) {

ul.ui-autocomplete li.ui-menu-item a {
    font-size: 15px;
		 white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
.suche_list_modul input[type="text"], .search .tx-solr-search-form input[type="text"] {
    padding-left: 5px !important;
    padding-right: 5px !important;
    font-size: 15px !important;
	 white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
/************************Menu*****************************/

.navbar .language_url .navitop_left_side ul {
	border-bottom: none;
	margin-left: 0;
}
.language_url .navitop_right .navitop_left_side {
	top: 4px;
	padding: 0;
	text-align: center;
}
.navbar-nav {
	margin: 2.5px -15px;
}
.navbar .language_url .navbar-main li a {
}
.nav-pills > li {
	float: none;
}
.language_url .navitop_left_side:after {
	bottom: 1px;
}
/***********************************************************/
}

@media only screen and (max-width: 640px) {
.hero-wrapper {
	top: 130px;
}
.slider .owl-nav {
	bottom: 53px;
}
.slider .owl-dots {
	bottom: 34px;
}
.teaserboxen_vollbild_drei_raster_content h3, .teaserboxen_vollbild_drei_raster_content h2 {
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 10px;
}
p, li, .anker_content {
	font-size: 15px;
	line-height: 17px;
}
body .module.filter_module .headline-row > p {
	line-height: 17px !important;
}
p.small, p.medium, p.full, .bild_video_einbettung figure figcaption {
	font-size: 15px !important;
	line-height: 17px !important;
	width: 100% !important;
}
footer ul.nav.navbar-nav.navbar-main li {
	font-size: 17px;
	padding: 0 5px;
}
.hero_anker_headline + .row > div > div {
	width: 50%;
	margin-top: 20px;
}
.hero_anker_headline + .row {
	bottom: 16px;
	top: 230px;
	max-height: calc(100vh - 200px);
	overflow-y: scroll;
}
}

@media only screen and (max-width: 570px) {
}

@media (max-width: 550px) {
	body > script + .ui-autocomplete.input_tx-solr-search-form-pi-results {
		top: 203px !important;
	}
}

@media only screen and (max-width: 540px) {
.teaser_some_footer figure, .teaser_externe_footer figure > img {
	height: auto;
}
.teaser_externe_footer figure > img {
	width: 90px;
	height: auto;
}
.teaser_externe_footer figure.box::before {
	width: 90px;
	height: 90px;
}
.teaser_externe_footer {
	padding: 34px 0px 18px;
}
.teaser_externe_footer h3 {
	font-size: 14px;
	line-height: 18px;
	margin-top: 12px;
}
.teaser_some_footer .col-lg-2 {
	width: 33.3%;
}
.teaser_some_footer .col-lg-2:nth-child(4), .teaser_some_footer .col-lg-2:nth-child(5) {
}
.teaser_some_footer .col-lg-2:nth-child(4) {
	margin-left: 16.6%;
}
.teaser_some_footer .col-lg-2:nth-child(5) {
	margin-right: 16.6%;
}
.teaserboxen_zwei_vollbild_content {
	padding: 20px 40px;
}
.search {
	right: 71px;
}
img.person_mobile_contact {
	left: -44px;
}
.mainmenu {
	right: 4px;
}
.nav-footer li {
	display: block;
	width: 100%;
	padding-top: 8px;
	border: 0 none;
}
.nav-footer li a {
	float: none;
}
.teaserboxen_normal_drei_raster_image_content h3 {
	font-size: 16px !important;
	line-height: 17px;
}
.teaserboxen_normal_drei_raster_image_content > div + div > p {
	margin-top: 15px !important;
	line-height: 15px;
	font-size: 12px;
}
}

@media only screen and (max-width: 500px) {
	.image_map .image_map_inner .image_map_point .image_map_point_pin {
    width: 30px;
    height: 30px;
}
.news .article .news-img-wrap {
    float: left !important;
	width:100%;
    margin: 0px 12px 17px 0;
}
nav.navbar-collapse.collapse ul li a > span::after {
	top: 2px;
}
nav.navbar-collapse.collapse ul li a {
	font-size: 30px;
	line-height: 29px;
}
.mainmenu a {
	padding: 0 0 27px 0 !important;
}
nav.navbar-collapse {
	padding-left: 25px;
}
.logo_flyout_1 {
	left: -27px;
	top: 22px;
}
nav.navbar-collapse.collapse ul li a.a_center {
	top: 152px;
}
nav.navbar-collapse.collapse ul li a.a_center::after {
	top: 2px;
}
nav.navbar-collapse.collapse ul li ul.dropdown-menu {
	top: 216px;
}
a.flyout_2_link {
	margin-top: -2px;
}
.navbar .language_url .navitop_left_side li {
	padding: 0 17px;
}
.navitop_language {
	top: -4px;
	right: -20px !important;
}
}

@media only screen and (max-width: 490px) {
}

@media only screen and (max-width: 450px) {
ul.ui-autocomplete li.ui-menu-item a {
    font-size: 13px;
}
.suche_list_modul input[type="text"], .search .tx-solr-search-form input[type="text"] {
    font-size: 13px !important;
}
.product-media .images > a > div {
	width: calc(50% - 5px);
}
.meta_navi_mobile > div {
	font-size: 12px;
	line-height: 16px;
}
.page_items .anker_item {
	height: 34px;
}
.page_items .all_item {
	height: 34px;
	background-size: 21% !important;
}
.page_items .previous_item, .page_items .next_item {
	height: 34px;
	background-size: 12% !important;
}
footer .copyright {
	padding-bottom: 66px;
}
}

@media only screen and (max-width: 400px) {
.news_list .article {
    padding: 10px 10px 10px 10px;
}
.news-list-category, 
.news-list-date {
    line-height: 21px !important;
	}
.news_list .article .header_cate,
.news_list .article .header{
    padding-left: 8px;
    padding-right: 8px; 
}
.news_list .article .col-lg-2 {
    width: 100%;
}

.news_list .article .col-lg-10 {
    width: 100%;
    padding-left: 8px;
}
body > script + .ui-autocomplete.input_tx-solr-search-form-pi-results {
	top: 194px !important;
}
nav.navbar-collapse.collapse ul li a {
	font-size: 22px;
	line-height: 28px;
}
nav.navbar-collapse.collapse ul li a > span::after, nav.navbar-collapse.collapse ul li a.a_center > span::after {
	width: 9px;
	height: 16px;
	margin-left: 14px;
	background-size: cover !important;
	top: 4px;
}
nav.navbar-collapse.collapse ul li a.a_center > span::after {
	left: -35px;
	transform: rotate(180deg);
	position: absolute;
}
nav.navbar-collapse.collapse ul li ul.dropdown-menu {
	top: 216px;
}
a.flyout_2_link {
	right: 20px;
}
.teaserboxen_normal_drei_raster_image_content h3 {
	font-size: 15px !important;
	line-height: 15px;
}
.teaserboxen_normal_drei_raster_image_content {
	padding: 10px;
}
.teaserboxen_normal_drei_raster .teaserboxen_normal_drei_raster_image_content {
	min-height: 50px;
}
.slider.hm_01 .hero-wrapper_content_block h1 {
	padding-bottom: 62px;
}
nav.navbar-collapse.collapse ul li a.a_center {
	top: 151px;
}
nav.navbar-collapse.collapse ul li ul.dropdown-menu {
	top: 195px;
	padding-top: 10px;
}

}

@media only screen and (max-width: 390px) {
.search, .search > img {
	height: 25px;
	width: 25px;
}
.search::after, .navbar-toggle {
	width: 28px;
	height: 25px;
	background-size: 28px 25px;
}
.navbar-toggle {
	background-size: cover;
}
.search {
	right: 63px;
	top: 22px;
}
.search > .lupe {
	width: 25px;
	height: 25px;
}
#move-to-top {
	top: 81px;
}
img.person_mobile_contact {
	left: -40px;
	width: 25px !important;
	height: 25px !important;
	background-size: 387px 186px !important;
	background-position: -80px 0 !important;
}
.mainmenu {
	right: 0;
}
.mainmenu .navbar-toggle {
	margin-top: 22px;
}
.step_anker.mobile_slide {
	bottom: 35px;
}
}

@media only screen and (max-width: 375px) {
}

@media only screen and (max-width: 321px) {
}
.frame.well {
	padding: 0 !important;
	float: left !important;
	width: 100% !important;
	background: none !important;
	border: 0 none !important;
	margin: 0 0 134px 0 !important;
}
/**** NEW ABSTÄNDE IMPORTANT *****/

/**** DESKTOP *****/
.module {
	float: left !important;
	width: 100% !important;
	margin: 0 0 136px 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	position: relative !important;
}
.content_bottom {
	margin-top: 136px;
	width: 100%;
	float: left;
}
.content_top {
	width: 100%;
	float: left;
}
.content_marginal.module {
	width: 100% !important;
	margin: 0 auto !important;
}
.content_marginal.module.marginal_bottom > .row {
	margin-bottom: 68px !important;
}
.content_marginal .row > .content_modul {
	width: auto;
	margin: 0;
	padding: 0;
	display: block;
	max-width: none;
}
.module.background {
	padding-top: 68px !important;
	padding-bottom: 68px !important;
}
.news_special {
	background: #4e6eb4;
	width: 100%;
	float: left;
	padding-bottom: 34px !important;
	padding-top: 68px !important;
	margin: 0 !important;
}
.newsbox-horizontal {
	margin-bottom: 68px;
}
.content_newsbox_horizontal {
	padding: 17px 15px;
}
.content_box_horizontal {
	min-height: 210px;
}
.home_header_horizontal a.more, .home_header_horizontal a.more_two {
	text-transform: uppercase;
	color: #fff;
	font-size: 21px;
	line-height: 24px;
	padding-top: 8px !important;
	font-family: 'UniversLTW01-67BoldCn';
}
.home_header_horizontal a.more_two::after {
	content: "";
	background: url('/fileadmin/user_upload/gfx/arrow_link_white.png') no-repeat scroll;
	width: 6px;
	height: 12px;
	background-size: cover;
	display: inline-block;
	margin-left: 10px;
}
.home_header_horizontal a.more::after {
	content: "";
	background: url('/fileadmin/user_upload/gfx/arrow_link.png') no-repeat scroll;
	width: 6px;
	height: 12px;
	display: inline-block;
	margin-left: 6px;
}
.home_date_right_horizontal, .home_category_right_horizontal, .news-list-category, .news-list-date {
	color: #072a5b;
	font-size: 12px;
	line-height: 21px;
	font-family: 'UniversLTW01-67BoldCn';
	text-transform: uppercase;
}
.news-list-category, .news-list-date {
	color: #929292;
	line-height: 15px;
}
.home_date_right_horizontal {
	text-align: right;
}
.home_header_horizontal p {
	color: #fff;
	font-size: 21px;
	line-height: 24px;
	padding-top: 8px !important;
	font-family: 'UniversLTW01-67BoldCn';
	text-decoration: underline;
}
.content_box_horizontal:hover, .content_box_horizontal_two:hover {
	background-color: #ededed;
	background-clip: content-box;
}
.content_box_horizontal:hover .home_header_horizontal p, .content_box_horizontal_two:hover .home_header_horizontal p, .content_box_horizontal_two:hover .home_header_horizontal .more_two {
	color: #072a5b!important;
}
.content_box_horizontal_two:hover .home_header_horizontal a.more_two::after {
	content: "";
	background: url('/fileadmin/user_upload/gfx/arrow_link.png') no-repeat scroll;
	width: 6px;
	height: 12px;
	background-size: cover;
	display: inline-block;
	margin-left: 10px;
}
.content_box_horizontal:hover .home_category_right_horizontal, .content_box_horizontal:hover .home_date_right_horizontal, .content_box_horizontal_two:hover .home_category_right_horizontal, .content_box_horizontal_two:hover .home_date_right_horizontal {
	color: #7c97cb !important;
}
.frame.default > .module {
	margin: -34px 0 102px 0 !important;
}
.module .headline-row {
	width: 100% !important;
	float: left !important;
	position: relative !important;
	top: -12px !important;
	margin-bottom: 5px !important;
}
.module .headline-row h2 {
	font-size: 60px !important;
	line-height: 68px !important;
	padding-bottom: 0 !important;
	padding-top: 0 !important;
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}
.module .content-row {
	float: left !important;
	position: relative !important;
	width: 100% !important;
}
.news_feed.module {
	margin-bottom: 68px !important;
}
body.page-6.pagelevel-3 .module.product_filter.first, body.page-6.pagelevel-3 .filter_module.product_cat.module.nobottom,
body .module.last, body .news_feed.module.last, .content_bottom .row > .module:last-child, body .module.nobottom {
	margin-bottom: 0 !important;
}
/* Don't add this negative margin-bottom to (class="module product_filter first")( Pages produkte/beleuchten/... and other )  */
/*.module.gutter-8.product_filter.first {*/
	/*margin-bottom: 0 !important;*/
	/*margin-bottom: -40px !important;*/
/*}*/
.module.first {
	margin-top: 34px !important;
}
/*** new ***/
body .module .headline-row > p, body .module .headline-row > a:not(.slide_button), .module .headline-row > a:not(.slide_button), .module .headline-row > span.more_news a:not(.slide_button) {
	margin-top: 17px !important;
	margin-bottom: 12px !important;
	line-height: 21px !important;
	display: block;
	float: left;
	width: 100%;
	padding: 0 !important;
}
.module .headline-row > span.more_news a:not(.slide_button) {
	color: #fff;
}
.module .news_vertikal .headline-row > span.more_news a:not(.slide_button) {
	color: #072a5b;
}
.module .headline-row > span.more_news a:not(.slide_button):hover {
	color: #eb7d00;
}
.module .headline-row > span.more_news a:not(.slide_button)::after {
	content: "";
	background: url(/fileadmin/user_upload/gfx/arrow_right_white.png) no-repeat scroll;
	width: 6px;
	height: 12px;
	display: inline-block;
	margin-left: 10px;
	background-size: cover;
}
.news_vertikal .headline-row > span.more_news a:not(.slide_button)::after {
	content: "";
	background: url(/fileadmin/user_upload/gfx/arrow_link.png) no-repeat scroll;
	width: 6px;
	height: 12px;
	display: inline-block;
	margin-left: 10px;
	background-size: cover;
}
.module .headline-row > span.more_news a:not(.slide_button):hover::after {
	background-image: url(/fileadmin/user_upload/gfx/arrow_right_hover.png);
}
.module .headline-row > span.more_news {
	padding: 0;
}
.module .headline-row > span.more_news::after {
	display: none;
}
body .module .headline-row a.button {
	margin-top: 17px !important;
	margin-bottom: 12px !important;
	line-height: 21px !important;
	display: block;
	float: left;
	max-width: 229px;
	padding: 15px 55px 15px 17px !important;
}
body .module .headline-row.with-cta a {
	margin-top: 18px !important;
}
body .direct_flyout.module .flyout_container ul li a {
	margin-top: 0 !important;
	line-height: 28px;
}
body .module .headline-row.only-p p {
	margin-bottom: 16px !important;
	margin-top: 7px !important;
}
body .module .headline-row.with-p p {
	margin-bottom: 16px !important;
}
body .module .headline-row.only-cta a {
	margin-top: 8px !important;
}
body .module .headline-row.only-headline {
	margin-bottom: 44px !important;
}
body .module .news_special_home .headline-row.only-headline, body .news_special.news_vertikal .headline-row.only-headline, body .news_special_horizontal .headline-row.only-headline {
	margin-bottom: 5px !important;
}
body .module.teaserboxen_volle_breite_tabs .headline-row.only-headline {
	margin-bottom: 5px !important;
}
.teaserboxen_vollbild_drei_raster_carousel .owl-nav {
	margin-top: 41px;
}
/**** bilder_accordion  *****/
.bilder_accordion.module .content-row, .kontaktbox.module .content-row {
	top: -8px !important;
	margin-bottom: -16px !important;
	font-size: 0;
}
.right-content-wrap .kontaktbox.module .content-row {
	top: 0 !important;
	margin-bottom: 0 !important;
}
/**** teaserboxen_volle_breite_tabs module  *****/
.teaserboxen_volle_breite_tabs.module .content-row {
	float: left !important;
	position: relative !important;
	margin-top: -7px !important;
}
/**** teaserboxen_normal_drei_raster module  *****/
.teaserboxen_normal_drei_raster.module .content-row {
	top: -8px !important;
	margin-bottom: -16px !important;
}
.col-sm-4.col-xs-12.right-content-wrap .teaserboxen_normal_drei_raster.module .content-row {
	top: 0 !important;
	margin-bottom: 0 !important;
}
/**** teaserboxen_vollbild_drei_raster_carousel *****/
.teaserboxen_vollbild_drei_raster_carousel.module {
	padding-bottom: 4px !important;
}
/**** teaserboxen_vollbild_drei_raster module  *****/
.teaserboxen_vollbild_drei_raster.module .content-row {
	top: -8px !important;
	margin-bottom: -16px !important;
}
/**** teaserboxen_bildbox_zwei_raster module  *****/
.teaserboxen_bildbox_zwei_raster.module {
	margin-bottom: 220px !important;
}
/**** teasermodul_te_08 module  *****/


.teasermodul_te_08.module .content-row {
	top: -8px !important;
	margin-bottom: -16px !important;
}
/**********************news_newsbox***********************/

.news_newsbox.module .content-row {
	margin-top: 34px !important;
}

/**** TABLET *****/
@media (max-width: 991px) {
.news_newsbox .col-xs-12 > img{
	display:none;
}
.news.news-single.module.last.first{
margin-top: 17px !important;
}
.language_url .navitop_left_side:after {
	left: 0;
}
.logo_flyout_1 {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	background-color: #000;
	z-index: 999;
}
.table_overflow::-webkit-scrollbar {
 -webkit-appearance: none !important;
}
 .table_overflow::-webkit-scrollbar:vertical {
 width: 12px !important;
}
 .table_overflow::-webkit-scrollbar:horizontal {
 height: 12px !important;
}
 .table_overflow::-webkit-scrollbar-thumb {
 background-color: #eb7d00 !important;
 border: 2px solid #ffffff !important;
}
.table_overflow::-webkit-scrollbar-thumb:vertical {
border-top: 0 none !important;
 border-bottom: 0 none !important;
}
.table_overflow::-webkit-scrollbar-thumb:horizontal {
 border-left: 0 none !important;
 border-right: 0 none !important;
}
 .table_overflow ::-webkit-scrollbar-track {
 background-color: #ffffff !important;
}
 input:-webkit-autofill {
 display: none !important;
}
.teaserbox_volle_breite_te_06 h2 {
	color: #072a5b;
}
.slider.anker + .key_facts.module.first {
	margin-top: 68px !important;
}
.location_template.module .powermail_fieldwrap_formularabschicken {
	display: none;
}
.slider + .aktionteaser_hl-02-hm-01 {
	margin-bottom: 30px;
}
.product_download .donwloadtable {
	table-layout: auto;
}
.product_download .donwloadtable tbody tr td {
	min-width: 250px;
}
.product_download .donwloadtable tbody tr td:last-child {
	min-width: 270px !important;
}
.module {
	margin-bottom: 68px !important;
}
.content_bottom {
	margin-top: 68px;
}
.product_filter.without-filter-box + .products_compare_table {
	margin-top: -99px !important;
}
.module.background {
	padding-top: 34px !important;
	padding-bottom: 33px !important;
}
.module .headline-row {
	top: -7px !important;
	margin-bottom: 20px !important;
}
.module .headline-row h2 {
	font-size: 36px !important;
	line-height: 41px !important;
}
.module .content-row {
	float: left !important;
	position: relative !important;
	margin-top: 0 !important;
}
.module .headline-row h2 + a {
	top: 25px !important;
}
.module .headline-row.with-text-and-link p {
	margin-top: 22px !important;
}
body .module .headline-row.with-text-and-link > a:not(.slide_button) {
	margin-bottom: 2px !important;
}
.module .headline-row.with-text-and-link a {
	margin-bottom: 2px !important;
}
.module.first {
	margin-top: 68px !important;
}
.news_feed.module.first{
	margin-top: 0 !important;
}
body .module .headline-row.with-cta a {
	margin-top: 23px !important;
	margin-bottom: 2px !important;
}
body .module .headline-row.only-headline {
	margin-bottom: 20px !important;
}
/**** teaserboxen_volle_breite_tabs module  *****/
.teaserboxen_volle_breite_tabs.module .content-row {
	margin-top: 0 !important;
}
/**** teaserboxen_vollbild_drei_raster_carousel *****/
.teaserboxen_vollbild_drei_raster_carousel.module {
	padding-bottom: 0 !important;
	margin-bottom: 73px !important;
}
/**** icon_modul  *****/
.icon_modul .icon_modul_item {
	margin-bottom: 35px;
}
.icon_modul .module {
	margin-bottom: 33px !important;
}
.margin_left {
	margin-left: -22px;
}
.icon_modul .top .image, .icon_modul .top h4 {
	width: auto;
}
.icon_modul .top .image {
	min-width: 82px;
}
.icon_modul .icon_modul_item:nth-child(3n) {
	clear: both;
}
#accordion3 .panel-collapse .contenttable {
	width: auto;
	margin-left: 0px;
}
#accordion3 .panel-collapse .contenttable tr td {
	width: auto;
}
#accordion3 .panel-collapse .contenttable thead tr th {
	padding: 24px 17px;
}
.key_facts_promozeile .text h3 {
	font-size: 26px;
}
.content_marginal main.col-md-4 {
	padding-left: 8px;
	padding-right: 7px;
}
.layout2 .selecter {
	padding-left: 10px !important;
	background-color: #ededed !important;
	color: #555555 !important;
}
.teaserboxen_bildbox_zwei_raster.module {
	margin-bottom: 151px !important;
}
.in-page-share {
	top: auto;
	bottom: -1px;
	margin-top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 204px;
	right: auto;
	display: none !important;
}
nav.in-page-share ul {
	padding-left: 0;
}
nav.in-page-share ul li {
	float: left;
	margin-left: 1px;
}
footer .copyright {
	padding-bottom: 100px;
}
.location_template.module .location_content_form .tx-powermail input[type='submit'] {
	display: block;
	position: relative;
	float: left;
	margin-top: -12px;
}
.location_template.module .location_content .tx-powermail .form-horizontal .form-group {
	position: relative;
	float: left;
	top: 0;
}
.location_template.module .tx-powermail .powermail-text-only {
	margin-top: -3px;
}
}

/**** MOBILE *****/

@media screen and (orientation:landscape) and (max-width: 767px) {
.main_element {
	padding: 4px 0;
}
.navbar .logo_background a img {
	width: 72px;
}
.navbar .logo_background {
	height: 41px;
}
.search {
	top: 10px;
}
.mainmenu .navbar-toggle {
	margin-top: 11px;
}
.search .tx-solr-search-form {
	top: 97px;
}
.navbar .language_url {
	height: 48px;
	position: relative;
	z-index: 21;
}
.navbar .language_url .navitop_left_side ul {
	margin-top: -2px;
}
.mainmenu {
	z-index: 23;
}
#move-to-top {
	top: 64px;
}
#content {
	margin-top: 97px;
}
body > script + .ui-autocomplete.input_tx-solr-search-form-pi-results {
	z-index: 1000 !important;
	top: 149px !important;
}
.search, .person_mobile_content, .contact_mobile {
	z-index: 24 !important;
}
}

@media screen and (max-width: 550px) and (orientation: landscape) {
body > script + .ui-autocomplete.input_tx-solr-search-form-pi-results {
	top: 173px !important;
}
}

@media screen and (max-width: 400px) and (orientation: landscape) {
body > script + .ui-autocomplete.input_tx-solr-search-form-pi-results {
	top: 165px !important;
}
}

@media (max-width: 767px) {
.ui-autocomplete {
	max-height: 32vh;
	overflow-y: auto;
}
.products_compare_table #item_carousel .owl-item.active .product_item > div {
	border-right: 0 none;
}
.module.product_download .content-row ul, .product_accessories.module .content-row ul {
	margin-left: 17px;
}
.teaserboxen_bildbox_zwei_raster .content-container-fluid > .row > .col-xs-12 {
	display: none;
}
.teaserblock_mit_versatz .col-sm-4.col-xs-12 .teaser:first-child {
	padding-top: 8px;
}
.right-content-wrap .kontaktbox.module .content-row > .col-lg-12 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.teaserboxen_zwei_vollbild .col-sm-6.col-xs-12 {
	height: auto !important;
	background-image: none !important;
}
.teaserboxen_zwei_vollbild .content-container-fluid .col-xs-12.sameheight.content-row > .row .col-xs-12.setheight.blue {
	margin-bottom: 34px;
}
.teaserboxen_zwei_vollbild .content-container-fluid .col-xs-12.sameheight.content-row > .row:last-child .col-xs-12.setheight.blue {
	margin-bottom: 0;
}
.teaserboxen_zwei_vollbild .row.sameheight > div > div {
	background-image: none !important;
	height: auto !important;
}
.teaserboxen_volle_breite_tabs .tab_image {
	position: relative;
}
.teaserboxen_volle_breite_tabs .tab_content {
	height: auto !important;
	display: block;
	min-height: 0;
}
.tab_content .vertical_align .tab_slider_headline, .tab_content .vertical_align h3, .tab_content .vertical_align p {
	color: #072a5b;
}
.teaserboxen_volle_breite_tabs .tab_content .vertical_align .button {
	margin-bottom: 0;
	color: #072a5b;
	border-color: #072a5b;
	background: url(/fileadmin/user_upload/gfx/button_arrowx2_blue.png) no-repeat scroll;
	background-color: rgba(0,0,0,0.0);
	background-size: 23px 16px;
	background-position: right 17px top 49%;
}
.teaserboxen_volle_breite_tabs .tab_content .vertical_align .button:hover {
	color: #fff !important;
	background-color: #eb7d00;
	border-color: #fff;
	background-image: url('/fileadmin/user_upload/gfx/button_arrowx2.png');
}
.teaserboxen_vollbild_drei_raster_carousel.module {
	margin-bottom: 59px !important;
}
.teaserboxen_vollbild_drei_raster_carousel .owl-nav {
	margin-top: 16px;
}
.teaserboxen_volle_breite_tabs .text_bild_module_content .col-lg-8.col-md-8.col-sm-8.col-xs-12.nopadding_7 > p:last-child {
	margin-bottom: -3px;
}
.teaserboxen_volle_breite_tabs .text_bild_module_content:last-child .col-lg-8.col-md-8.col-sm-8.col-xs-12.nopadding_7 > p:last-child {
	margin-bottom: 0;
}
.module .tab-content .text_bild_module {
	margin-top: 0;
}
.module .tab-content .text_bild_module img.img-responsive {
	margin-bottom: 12px;
}
.teaserboxen_vollbild_drei_raster_carousel .owl-item img {
	width: auto;
	height: 100%;
}
.teaserboxen_vollbild_drei_raster_carousel .owl-item {
	overflow: hidden;
}
.location_template.module .col-lg-6.col-md-6.col-sm-6.col-xs-12 {
	max-width: none !important;
}
.location_template.module .location_content select {
	font-family: 'Univers LT W01_55 Roman1475956', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.content_marginal.module.marginal_bottom > .row {
	margin-bottom: 0 !important;
}
body .right-content-wrap #accordion {
	margin-top: 68px !important;
}
.right-content-wrap {
	padding-left: 11px;
	padding-right: 6px;
}
.module .headline-row {
	top: -3px !important;
	margin-bottom: -7px !important;
}
.module .headline-row h2, .teasermodul_te_08.module .headline-row h2, .paragraph.module .paragraph_content h2, .paragraph.module .paragraph_content h3, .download .setheightheadline h2, h2, .text_bild_module h3 {
	font-size: 22px !important;
	line-height: 23px !important;
}
.bild_video_einbettung_content {
	margin-top: -3px;
}
.paragraph.module .paragraph_content h2, .paragraph.module .paragraph_content h3 {
	margin-bottom: 27px;
	margin-top: -3px;
}
.module .headline-row h2 + a {
	top: 28px !important;
}
.module .headline-row.with-text-and-link p {
	margin-top: 25px !important;
}
body .module .headline-row.with-cta a {
	margin-top: 26px !important;
	margin-bottom: -1px !important;
}
body .module .headline-row.with-text-and-link > a:not(.slide_button) {
	margin-bottom: -1px!important;
}
.module .headline-row.with-text-and-link a {
	margin-top: 15px !important;
	margin-bottom: -1px !important;
}
.teaserboxen_volle_breite_tabs .tab_content .vertical_align {
	padding-top: 31px;
}
.aktionteaser_hl-02-hm-01 > .content_modul > .row > .white {
	margin-left: 0;
	width: 100%;
}
.teaserboxen_vollbild_drei_raster_content_big h3, .teaserboxen_zwei_vollbild_content h3, .teaserboxen_volle_breite_tabs .tab_content .vertical_align h2, .teaserzeile_te_07 h2, .teasermodul_te_08 h3 {
	font-size: 22px !important;
	line-height: 23px !important;
}
.news_special {
	padding-top: 34px !important;
	padding-bottom: 0 !important;
}
.padding_special {
	padding-bottom: 22px !important;
}
.frame.default > .module {
	margin: -34px 0 34px 0 !important;
}
.teaserboxen_zwei_vollbild_content h2 {
	margin-bottom: 10px;
}
.teaserboxen_zwei_vollbild p {
	margin-bottom: 17px;
}
.teaserboxen_vollbild_drei_raster_content_big h3 {
	margin-bottom: 10px;
}
.teaserboxen_vollbild_drei_raster_content h3 {
	margin-bottom: 11px;
}
.margin_left {
	margin-left: -7px;
}
.icon_modul .icon_modul_item:nth-child(3n) {
	clear: none;
}
.block-accordion_content a.button {
	margin-bottom: 29px;
}
.block-accordion_content {
	padding: 34px 7.5px 34px;
}
.accordion_close_button {
	right: 25px;
	top: 17px;
}
.block-accordion_content > .col-lg-2, .block-accordion_content > .col-lg-2:first-child {
	padding: 0 7.5px 15px;
	width: 31%;
	max-width: none;
}
.block-accordion_content > div {
	padding-left: 7.5px;
	padding-right: 7.5px;
}
.block-accordion_content h2 {
	margin-top: 12px;
}
.key_facts_promozeile .key_facts_modul_item {
	padding-bottom: 17px;
}
.key_facts_promozeile .key_facts_modul_item:last-child {
	padding-bottom: 0;
}
.key_facts_promozeile .text {
	padding-top: 13px;
}
.teaserblock_mit_versatz .content_modul .margin_left > div:first-child {
	padding-right: 7px;
}
.teaserblock_mit_versatz .content_modul .margin_left > div:last-child {
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 17px;
}
#accordion2 .panel-collapse h3 {
	font-size: 24px;
	line-height: 25px;
}
#accordion3 .panel-title, #accordion2 .panel-title, #accordion .panel-title {
	font-size: 16px;
}
.content_toggle_content > .col-lg-3 {
	padding-bottom: 31px;
	padding-left: 7.5px;
	padding-right: 7.5px;
}
.content_toggle_content {
	width: auto;
	max-height: 60vh;
	overflow-y: scroll;
	top: 0;
	left: auto;
	padding-top: 61px;
	padding-left: 7px;
}
.content_toggle_content .row > div:nth-child(4) {
	clear: both;
}
.content_toggle_headline {
	top: -34px;
	height: 34px;
	left: 8px;
}
.content_toggle_headline::before {
	background-size: 18px 17px;
	width: 34px;
	height: 34px;
	padding: 12px;
}
.content_toggle_content a {
	font-size: 15px;
}
.content_toggle_headline h2 {
	font-size: 14px;
	line-height: 13px;
	padding: 4px 10px;
}
.content_toggle.module > .content_modul {
	padding: 0;
	width: calc(100% + 16px);
	margin-left: -8px;
}
.content_marginal main.col-md-4 {
	padding-left: 23px;
	padding-right: 22px;
}
.tx-powermail .powermail_fieldwrap_type_select.col-lg-12 > div {
	width: 100%;
}
.tx-powermail .powermail_fieldwrap_type_select.col-lg-12 .col-lg-6 {
	margin-bottom: 0 !important;
}
.contact_mobile .layout1.right .powermail_fieldwrap_type_submit {
	display: none;
}
.tx-powermail .form-horizontal .form-group {
	margin-bottom: 17px !important;
}
.selecter {
	margin-top: 0 !important;
}
.tx-powermail .powermail_fieldwrap_type_submit {
	margin-top: 17px !important;
}
.tx-powermail .form-horizontal .form-group.powermail_fieldwrap_pflichtfelder {
	margin-top: -3px;
	margin-bottom: -2px !important;
}
.teaserboxen_bildbox_zwei_raster_bilder {
	position: relative;
	bottom: 0;
	left: 0;
}
.teaserboxen_bildbox_zwei_raster_bilder .beige {
	background-color: #fff;
}
.teaserboxen_bildbox_zwei_raster_bilder > a .nopadding_5 {
	padding: 7.5px 0 !important;
}
.teaserboxen_bildbox_zwei_raster_bilder > a:first-child .nopadding_5 {
	padding-top: 15px !important;
}
.teaserboxen_bildbox_zwei_raster.module {
	margin-bottom: 61.5px !important;
}
.teaserzeile_te_07 img {
	height: 100%;
}
.slider.small_video .hero_image + .row {
	bottom: inherit;
	top: 0;
	left: 0;
	max-width: 100%;
	position: relative;
}
.slider.small_video .hero_video_headline h1 {
	top: 7px;
	color: #072a5b;
}
.slider.small_video .hero_image + .row > div > div:first-child {
	width: 100%;
}
.slider.small_video .hero_image + .row > div > div {
	padding: 0;
}
.slider.hm_01.small_video {
	margin-bottom: -34px;
	float: left;
	width: 100%;
	max-height: none;
}
.slider.small_video .vorschau_video {
	top: 0;
	margin-top: 2px;
}
.slider.small_video .hero_image + .row > div > div:last-child {
	width: 100%;
}
.icon_modul .icon_modul_item {
	margin-bottom: 68px;
}
.icon_modul .icon_modul_item:last-child {
	margin-bottom: 1px;
}
.teaserboxen_normal_drei_raster_image_content {
	display: table;
	width: 100%;
}
.teaserboxen_normal_drei_raster_image_content h3 {
	display: table-cell;
	vertical-align: middle;
}
.teaserboxen_vollbild_drei_raster_content_big p, .teaserboxen_vollbild_drei_raster_content p {
	font-size: 15px;
	line-height: 17px;
	margin-bottom: 0;
}
.teasermodul_te_08_content p {
	font-size: 15px;
	line-height: 17px;
	margin-bottom: 16px;
}
.teaserboxen_bildbox_zwei_raster_bilder_content {
	margin-top: -1px;
}
.teaserzeile_te_07 p {
	font-size: 15px;
	line-height: 17px;
	margin-bottom: 3px;
}
.teaserzeile_te_07_content {
	padding: 11px 17px 17px 17px;
	display: table-cell;
	vertical-align: middle;
	float: none;
}
.teaserzeile_te_07 .setheight {
	display: table;
}
.content_bottom {
	padding: 0;
}
.module.teaserblock_mit_versatz .content-row {
	width: 100% !important;
	padding-right: 7.5px;
}
body .module .headline-row, body .module .headline-row.only-headline {
	margin-bottom: 27px !important;
}
}

@media only screen and (max-width: 400px) {
.main_element .logo_background > a img.sticky_logo {
	top: 6px;
}
img.sticky_logo {
	margin-left: 0px !important;
}
.product_download .donwloadtable tbody tr td {
	min-width: 200px;
}
}

@media only screen and (max-width: 333px) {
.kontaktbox_more {
	width: auto;
}
.person_mobile .tx-location-search .kontaktbox_image {
	max-width: 200px;
}
}

@media only screen and (max-width: 323px) {
.key_facts_promozeile .text {
	padding-top: 0px;
}
}

/*** FORCE GPU ACCELERATION ***/
@media only screen and (max-width: 991px) {
.person_mobile_content, .contact_mobile {
	transform: translateZ(0) !important;
	-moz-transform: translateZ(0) !important;
	-ms-transform: translateZ(0) !important;
	-o-transform: translateZ(0) !important;
	-webkit-transform: translateZ(0) !important;
}
}
.module.without-headline .content-row {
	margin-top: 0 !important;
}
.bild_video_einbettung_content > br {
	display: none;
}
/*** bootstrap custom ***/

.full-width {
	width: 100%;
	float: left;
}
.content-container, .content-container-fluid {
	width: 100%;
	max-width: 1166px;
	padding-left: 8px;
	padding-right: 8px;
	margin-left: auto;
	margin-right: auto;
}
.frame.content-container {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.content-container-fluid {
	max-width: none;
	padding-left: 0;
	padding-right: 0;
}
/*** gutter-15 ***/
.gutter-15 .content-container {
	max-width: 1180px;
	padding-left: 15px;
	padding-right: 15px;
}
.gutter-15 .row {
	margin-left: -15px;
	margin-right: -15px;
}
.gutter-15 .col-xs-1, .gutter-15 .col-sm-1, .gutter-15 .col-md-1, .gutter-15 .col-lg-1, .gutter-15 .col-xs-2, .gutter-15 .col-sm-2, .gutter-15 .col-md-2, .gutter-15 .col-lg-2, .gutter-15 .col-xs-3, .gutter-15 .col-sm-3, .gutter-15 .col-md-3, .gutter-15 .col-lg-3, .gutter-15 .col-xs-4, .gutter-15 .col-sm-4, .gutter-15 .col-md-4, .gutter-15 .col-lg-4, .gutter-15 .col-xs-5, .gutter-15 .col-sm-5, .gutter-15 .col-md-5, .gutter-15 .col-lg-5, .gutter-15 .col-xs-6, .gutter-15 .col-sm-6, .gutter-15 .col-md-6, .gutter-15 .col-lg-6, .gutter-15 .col-xs-7, .gutter-15 .col-sm-7, .gutter-15 .col-md-7, .gutter-15 .col-lg-7, .gutter-15 .col-xs-8, .gutter-15 .col-sm-8, .gutter-15 .col-md-8, .gutter-15 .col-lg-8, .gutter-15 .col-xs-9, .gutter-15 .col-sm-9, .gutter-15 .col-md-9, .gutter-15 .col-lg-9, .gutter-15 .col-xs-10, .gutter-15 .col-sm-10, .gutter-15 .col-md-10, .gutter-15 .col-lg-10, .gutter-15 .col-xs-11, .gutter-15 .col-sm-11, .gutter-15 .col-md-11, .gutter-15 .col-lg-11, .gutter-15 .col-xs-12, .gutter-15 .col-sm-12, .gutter-15 .col-md-12, .gutter-15 .col-lg-12 {
	padding-left: 15px;
	padding-right: 15px;
}
/*** gutter-9 ***/
.gutter-9 .content-container {
	max-width: 1168px;
	padding-left: 9px;
	padding-right: 9px;
}
.gutter-9 .row {
	margin-left: -9px;
	margin-right: -9px;
}
.gutter-9 .col-xs-1, .gutter-9 .col-sm-1, .gutter-9 .col-md-1, .gutter-9 .col-lg-1, .gutter-9 .col-xs-2, .gutter-9 .col-sm-2, .gutter-9 .col-md-2, .gutter-9 .col-lg-2, .gutter-9 .col-xs-3, .gutter-9 .col-sm-3, .gutter-9 .col-md-3, .gutter-9 .col-lg-3, .gutter-9 .col-xs-4, .gutter-9 .col-sm-4, .gutter-9 .col-md-4, .gutter-9 .col-lg-4, .gutter-9 .col-xs-5, .gutter-9 .col-sm-5, .gutter-9 .col-md-5, .gutter-9 .col-lg-5, .gutter-9 .col-xs-6, .gutter-9 .col-sm-6, .gutter-9 .col-md-6, .gutter-9 .col-lg-6, .gutter-9 .col-xs-7, .gutter-9 .col-sm-7, .gutter-9 .col-md-7, .gutter-9 .col-lg-7, .gutter-9 .col-xs-8, .gutter-9 .col-sm-8, .gutter-9 .col-md-8, .gutter-9 .col-lg-8, .gutter-9 .col-xs-9, .gutter-9 .col-sm-9, .gutter-9 .col-md-9, .gutter-9 .col-lg-9, .gutter-9 .col-xs-10, .gutter-9 .col-sm-10, .gutter-9 .col-md-10, .gutter-9 .col-lg-10, .gutter-9 .col-xs-11, .gutter-9 .col-sm-11, .gutter-9 .col-md-11, .gutter-9 .col-lg-11, .gutter-9 .col-xs-12, .gutter-9 .col-sm-12, .gutter-9 .col-md-12, .gutter-9 .col-lg-12 {
	padding-left: 9px;
	padding-right: 9px;
}
/*** gutter-8 ***/
.gutter-8 .content-container {
	max-width: 1166px;
	padding-left: 8px;
	padding-right: 8px;
}
.gutter-8 .row {
	margin-left: -8px;
	margin-right: -8px;
}
.gutter-8 .col-xs-1, .gutter-8 .col-sm-1, .gutter-8 .col-md-1, .gutter-8 .col-lg-1, .gutter-8 .col-xs-2, .gutter-8 .col-sm-2, .gutter-8 .col-md-2, .gutter-8 .col-lg-2, .gutter-8 .col-xs-3, .gutter-8 .col-sm-3, .gutter-8 .col-md-3, .gutter-8 .col-lg-3, .gutter-8 .col-xs-4, .gutter-8 .col-sm-4, .gutter-8 .col-md-4, .gutter-8 .col-lg-4, .gutter-8 .col-xs-5, .gutter-8 .col-sm-5, .gutter-8 .col-md-5, .gutter-8 .col-lg-5, .gutter-8 .col-xs-6, .gutter-8 .col-sm-6, .gutter-8 .col-md-6, .gutter-8 .col-lg-6, .gutter-8 .col-xs-7, .gutter-8 .col-sm-7, .gutter-8 .col-md-7, .gutter-8 .col-lg-7, .gutter-8 .col-xs-8, .gutter-8 .col-sm-8, .gutter-8 .col-md-8, .gutter-8 .col-lg-8, .gutter-8 .col-xs-9, .gutter-8 .col-sm-9, .gutter-8 .col-md-9, .gutter-8 .col-lg-9, .gutter-8 .col-xs-10, .gutter-8 .col-sm-10, .gutter-8 .col-md-10, .gutter-8 .col-lg-10, .gutter-8 .col-xs-11, .gutter-8 .col-sm-11, .gutter-8 .col-md-11, .gutter-8 .col-lg-11, .gutter-8 .col-xs-12, .gutter-8 .col-sm-12, .gutter-8 .col-md-12, .gutter-8 .col-lg-12 {
	padding-left: 8px;
	padding-right: 8px;
}
/*** gutter-4 ***/
.gutter-4 {
	padding-left: 4px;  /* eq to standard 8px gutter */
	padding-right: 4px; /* eq to standard 8px gutter */
}
.gutter-4 .content-container {
	max-width: 1158px;
	padding-left: 4px;
	padding-right: 4px;
}
.gutter-4 .row {
	margin-left: -4px;
	margin-right: -4px;
}
.gutter-4 .col-xs-1, .gutter-4 .col-sm-1, .gutter-4 .col-md-1, .gutter-4 .col-lg-1, .gutter-4 .col-xs-2, .gutter-4 .col-sm-2, .gutter-4 .col-md-2, .gutter-4 .col-lg-2, .gutter-4 .col-xs-3, .gutter-4 .col-sm-3, .gutter-4 .col-md-3, .gutter-4 .col-lg-3, .gutter-4 .col-xs-4, .gutter-4 .col-sm-4, .gutter-4 .col-md-4, .gutter-4 .col-lg-4, .gutter-4 .col-xs-5, .gutter-4 .col-sm-5, .gutter-4 .col-md-5, .gutter-4 .col-lg-5, .gutter-4 .col-xs-6, .gutter-4 .col-sm-6, .gutter-4 .col-md-6, .gutter-4 .col-lg-6, .gutter-4 .col-xs-7, .gutter-4 .col-sm-7, .gutter-4 .col-md-7, .gutter-4 .col-lg-7, .gutter-4 .col-xs-8, .gutter-4 .col-sm-8, .gutter-4 .col-md-8, .gutter-4 .col-lg-8, .gutter-4 .col-xs-9, .gutter-4 .col-sm-9, .gutter-4 .col-md-9, .gutter-4 .col-lg-9, .gutter-4 .col-xs-10, .gutter-4 .col-sm-10, .gutter-4 .col-md-10, .gutter-4 .col-lg-10, .gutter-4 .col-xs-11, .gutter-4 .col-sm-11, .gutter-4 .col-md-11, .gutter-4 .col-lg-11, .gutter-4 .col-xs-12, .gutter-4 .col-sm-12, .gutter-4 .col-md-12, .gutter-4 .col-lg-12 {
	padding-left: 4px;
	padding-right: 4px;
}
.container-without-padding > .content-container, .container-without-padding > .col-xs-1, .container-without-padding > .col-sm-1, .container-without-padding > .col-md-1, .container-without-padding > .col-lg-1, .container-without-padding > .col-xs-2, .container-without-padding > .col-sm-2, .container-without-padding > .col-md-2, .container-without-padding > .col-lg-2, .container-without-padding > .col-xs-3, .container-without-padding > .col-sm-3, .container-without-padding > .col-md-3, .container-without-padding > .col-lg-3, .container-without-padding > .col-xs-4, .container-without-padding > .col-sm-4, .container-without-padding > .col-md-4, .container-without-padding > .col-lg-4, .container-without-padding > .col-xs-5, .container-without-padding > .col-sm-5, .container-without-padding > .col-md-5, .container-without-padding > .col-lg-5, .container-without-padding > .col-xs-6, .container-without-padding > .col-sm-6, .container-without-padding > .col-md-6, .container-without-padding > .col-lg-6, .container-without-padding > .col-xs-7, .container-without-padding > .col-sm-7, .container-without-padding > .col-md-7, .container-without-padding > .col-lg-7, .container-without-padding > .col-xs-8, .container-without-padding > .col-sm-8, .container-without-padding > .col-md-8, .container-without-padding > .col-lg-8, .container-without-padding > .col-xs-9, .container-without-padding > .col-sm-9, .container-without-padding > .col-md-9, .container-without-padding > .col-lg-9, .container-without-padding > .col-xs-10, .container-without-padding > .col-sm-10, .container-without-padding > .col-md-10, .container-without-padding > .col-lg-10, .container-without-padding > .col-xs-11, .container-without-padding > .col-sm-11, .container-without-padding > .col-md-11, .container-without-padding > .col-lg-11, .container-without-padding > .col-xs-12, .container-without-padding > .col-sm-12, .container-without-padding > .col-md-12, .container-without-padding > .col-lg-12 {
	padding-left: 0;
	padding-right: 0;
}
.container-without-padding > .row {
	margin-left: -16px;
	margin-right: -16px;
}

@media (max-width: 991px) {
.tx_locationsearch_locations, .person_mobile_content, .contact_mobile {
	top: calc(100vh + 200px);
}
}
/*** hover effects ***/
.bilder_accordion.module .teaserboxen_normal_drei_raster_image img, .aktionteaser_hl-02-hm-01_image img, .teaserboxen_volle_breite_tabs .tab_image img, .teaserbox_volle_breite_te_06_image img, .teaserboxen_bildbox_zwei_raster_bilder .teaser_item a img, .teaserboxen_normal_drei_raster .teaser_item .teaserboxen_normal_drei_raster_image img, .teaserblock_mit_versatz .teaser a img, .teaserblock_mit_versatz a .full-width img, .teaserzeile_te_07 .col-lg-7, .teaserboxen_vollbild_drei_raster .teaserboxen_vollbild_drei_raster_image img, .teaserboxen_vollbild_drei_raster_carousel a .teaserboxen_vollbild_drei_raster_image img, .teaserboxen_zwei_vollbild .content-container-fluid .col-xs-12 .row > div:first-child, .teasermodul_te_08 .teaser_item .teasermodul_te_08_image img,.filter_module .cat-item img {
	-webkit-transition: transform .3s ease-in-out;
	-moz-transition: transform .3s ease-in-out;
	-ms-transition: transform .3s ease-in-out;
	-o-transition: transform .3s ease-in-out;
	transition: transform .3s ease-in-out;
}
.bilder_accordion.module .teaser:hover img, .aktionteaser_hl-02-hm-01 a:hover .aktionteaser_hl-02-hm-01_image img, .teaserboxen_volle_breite_tabs .tab-pane:hover .tab_image img, .teaserbox_volle_breite_te_06:hover .teaserbox_volle_breite_te_06_image img, .teaserboxen_bildbox_zwei_raster_bilder .teaser_item:hover a img, .teaserboxen_normal_drei_raster .teaser_item:hover .teaserboxen_normal_drei_raster_image img, .teaserblock_mit_versatz .teaser a:hover img, .teaserblock_mit_versatz a:hover .full-width img, .teaserzeile_te_07 .row.sameheight:hover .col-lg-7, .teaserboxen_vollbild_drei_raster .teaser a:hover .teaserboxen_vollbild_drei_raster_image img, .teaserboxen_vollbild_drei_raster_carousel a:hover .teaserboxen_vollbild_drei_raster_image img, .teaserboxen_zwei_vollbild .content-container-fluid .col-xs-12 .row:hover > div:first-child, .teasermodul_te_08 .teaser_item:hover .teasermodul_te_08_image img ,.filter_module .cat-item:hover img{
	-webkit-transform: scale(1.1) rotate(.001deg);
	-moz-transform: scale(1.1) rotate(.001deg);
	-ms-transform: scale(1.1) rotate(.001deg);
	-o-transform: scale(1.1) rotate(.001deg);
	transform: scale(1.1) rotate(.001deg);
}
.aktionteaser_hl-02-hm-01_image, .teaserboxen_volle_breite_tabs .tab_image, .teaserbox_volle_breite_te_06_image, .teaserboxen_bildbox_zwei_raster_bilder .teaser_item, .teaserboxen_normal_drei_raster .teaser_item .teaserboxen_normal_drei_raster_image, .teaserblock_mit_versatz .teaser a, .teaserblock_mit_versatz a .full-width, .teaserzeile_te_07 .row.sameheight, .teaserboxen_vollbild_drei_raster .teaserboxen_vollbild_drei_raster_image, .teaserboxen_vollbild_drei_raster_carousel a .teaserboxen_vollbild_drei_raster_image, .teaserboxen_zwei_vollbild .content-container-fluid .col-xs-12 .row, .teasermodul_te_08 .teaser_item .teasermodul_te_08_image {
	overflow: hidden;
}
.teaserboxen_bildbox_zwei_raster_bilder .teaser_item {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 8px;
	margin-bottom: 8px;
}
.teaserboxen_bildbox_zwei_raster_bilder .teaser_item:hover .blue, .aktionteaser_hl-02-hm-01 .teaser_item:hover .aktionteaser_hl-02-hm-01_content, .teaserblock_mit_versatz .teaser a:hover .teaserboxen_normal_drei_raster_image_content, .teaserblock_mit_versatz a:hover .full-width .teaserboxen_normal_drei_raster_image_content, .teaserzeile_te_07 .row.sameheight:hover .blue, .teaserboxen_vollbild_drei_raster .teaser a:hover .blue, .teaserboxen_vollbild_drei_raster_carousel a:hover .blue, .teaserboxen_zwei_vollbild .content-container-fluid .col-xs-12 .row:hover .blue, .teasermodul_te_08 .teaser_item:hover .teasermodul_te_08_content {
	background-color: #eb7d00;
}
.teaserblock_mit_versatz .teaser a {
	width: 100%;
	float: left;
}
