h2.setheightheadline {
	font-size: 30px;
	line-height: 34px;
	font-weight: normal;
}
.news-related-files-link a {
	color: #2f52a0;
	text-decoration: underline;
}
/********************************************/
.form-horizontal .form-group {
	margin-left: 0;
	margin-right: 0;
	min-height: 60px;
}
label {
	display: none;
}
span.nobr {
	white-space: nowrap;
}
.tab-pane .paragraph.module p {
	color: #072a5b !important;
}
.tab-pane .paragraph.module {
	margin-top: 34px !important;
}
.tab-pane .paragraph.module h2 {
	font-size: 30px !important;
	line-height: 34px !important;
}
.tab-pane .download.module {
	margin: 0px !important;
}
/********************************************/

header {
	z-index: 500;
}
.frame.default h6, .frame.default h5 {
	display: none;
}
.frame.default .searchall.module .right-content-wrap h6, .frame.default .searchall.module .right-content-wrap h5 {
	font-size: 17px;
	line-height: 21px;
	text-transform: uppercase;
	display: block;
}
#move-to-top {
	background: url('/fileadmin/user_upload/gfx/back_to_top.png') no-repeat scroll;
	background-size: 24px 14px;
	cursor: pointer;
	width: 24px;
	height: 14px;
	position: fixed;
	right: auto;
	left: calc(966px + 17.1%);
	top: 89px;
	z-index: 501;
	display: none;
}
.content_marginal {
	/*	max-width: 1194px;
	left: 16px;*/
	width: 100%;
	margin: 0 auto;
}
.container {
	width: 100% !important;
	padding: 0px;
	float: left;
}
ul {
	padding-left: 20px;
}
ul li {
	padding: 5px 0px;
	color: #072a5b !important;
}
a:hover {
	color: #ff8700;
	text-decoration: none !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'UniversLTW01-67BoldCn' !important;
}
/***************************************************/
.nav > li > a:hover, .nav > li > a:focus {
	background-color: transparent !important;
}
.main_element {
	position: relative;
}
.navbar-main > li > a {
	line-height: 50px;
	padding: 0px 15px;
}
.mainmenu .navbar-main > li > a {
	padding: 0px 30px;
}
.mainmenu {
	position: absolute;
	top: 27px;
	left: 15%;
}
.mainmenu a {
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0px 30px !important;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
	width: 100%;
}
.dropdown-submenu {
	position: relative;
}
.dropdown:hover .dropdown-menu {
	display: block;
}
.dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
	display: block;
}
.dropdown-submenu > a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
	border-left-color: #ffffff;
}
.dropdown-submenu .pull-left {
	float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}
.navitop_right a {
	display: inline !important;
}
/************************************in-page-share **********************************/
.in-page-share {
	display: none;
	position: fixed;
	right: 0;
	z-index: 60;
	top: 50%;
	margin-top: -105px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}
.chat_off .in-page-share{
	margin-top: -70px;
}
/***************************H E R O**************************************/
.slider {
	position: relative;
	height: auto;
}
/*.slider > .owl-carousel, .slider .owl-stage-outer, .slider .owl-item, .slider .owl-stage, .slider .owl-item > div {
  height: calc(100vh - 269px);
  min-height: 620px;
}*/
.hero_content {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 100%;
	display: block;
}
.hero-wrapper {
	width: 100%;
	position: absolute;
	top: 40px;
}
.hero-wrapper_content {
	max-width: 880px;
	width: 100%;
	left: 16.15%;
	position: relative;
}
.hero-wrapper_content_block {
	max-width: 670px;
	width: 100%;
	color: #FFF;
	padding: 15px;
	position: relative;
}
.small_video .hero-wrapper_content_block {
	max-width: 100%;
	padding: 0px;
}
.hero-wrapper_content_block h1, .hero-wrapper_content_block p {
	padding-bottom: 34px;
	margin: 0;
}
.hero-wrapper_content_block h1 {
	text-transform: uppercase;
	font-size: 60px;
}
body .slider .owl-carousel .owl-item > div {
	position: relative;
}

@media (max-width: 991px) {
.slider .hero_content {
	position: relative;
	float: left;
	width: 100%;
	text-align: left;
	margin-bottom: -21px;
}
.slider .hero-wrapper {
	position: relative;
	float: left;
	top: 0;
}
.slider .hero-wrapper_content {
	left: 0;
	max-width: none;
}
.slider .hero-wrapper_content_block, .slider .hero-wrapper_content_block h1, .slider .hero-wrapper_content_block h2, .slider .hero-wrapper_content_block h3 {
	max-width: none;
}
.slider .hero-wrapper_content_block {
	padding: 68px 0 0;
}
.slider .hero-wrapper_content_block h1,
body .slider .hero-wrapper_content_block .slider_header{
	padding-bottom: 0;
	margin-top: -7px;
	margin-bottom: 13px;
	color: #072a5b !important;
}
.breadcrumb {
	display: none;
}
.container_marginal .slider .hero-wrapper_content_block {
	padding: 68px 0 0;
}
.slider .hero-wrapper_content_block p {
	max-width: none;
	padding-top: 0px;
	padding-bottom: 0;
	margin-bottom: 20px;
	margin-top: -5px;
	color: #072a5b !important;
}
.slider .hero-wrapper_content_block a.button {
	margin-bottom: 21px;
	color: #072a5b;
	border-color: #072a5b;
	background: url(/fileadmin/user_upload/gfx/button_arrowx2_blue.png) no-repeat scroll;
	background-color: rgba(0,0,0,0.0);
	background-size: 23px 16px;
	background-position: 93.3% 15px;
}
.slider .hero-wrapper_content_block a.button:hover {
	color: #fff !important;
	background-color: #eb7d00;
	border-color: #fff;
	background-image: url('/fileadmin/user_upload/gfx/button_arrowx2.png');
}
body .aktionteaser_hl-02-hm-01 {
	margin-top: 63px;
}
.slider .owl-next {
	background-image: url(/fileadmin/user_upload/gfx/carousel_next_bluex2.png) !important;
}
.slider .owl-prev {
	background-image: url(/fileadmin/user_upload/gfx/carousel_vor_bluex2.png) !important;
}
body .slider .owl-dots > div {
	background-color: #072a5b;
}
body .slider .owl-nav {
	bottom: 25px;
}
body .slider .owl-dots {
	bottom: 7px;
}
body .slider .owl-carousel .owl-item > div:not(.video) > div:last-child, body .slider .owl-carousel .owl-item > .video {
	padding-bottom: 54px;
}
body .slider + .key_facts.module {
	margin-top: 68px !important;
}
}

@media (max-width: 767px) {
.slider .hero-wrapper_content_block {
	padding: 34px 0 0;
}
.container_marginal .slider .hero-wrapper_content_block {
	padding: 34px 0 0;
}
.slider .hero-wrapper_content_block h1, 
body .slider .hero-wrapper_content_block .slider_header,
.slider .hero-wrapper_content_block h2 {
	margin-top: -4px;
	margin-bottom: 18px;
	line-height: 25px;
	font-size: 24px;
}
body .slider .hero-wrapper_content_block .slider_header{
	float:left;
	width:100%;
}
.slider.anker .hero_content {
	margin-bottom: -22px;
}
body .slider .owl-dots {
	bottom: -8px;
}
body .slider .owl-carousel .owl-item > div:not(.video) > div:last-child, body .slider .owl-carousel .owl-item > .video {
	padding-bottom: 27px;
}
}

@media (max-width: 640px) {
.slider .hero-wrapper_content_block p {
	margin-top: -3px;
	margin-bottom: 21px;
}
}
/********************************  start style filter slider  ***********************************/
.attr-list.slider-list {
	position: relative;
}
.attr-list.slider-list .slider_filter {
	z-index: 5;
}
.attr-list.slider-list button[type="button"] {
	width: 100%;
	color: #ffffff;
	font-size: 20px;
	top: -100%;
	padding: 17px 15px;
	/*border-color: #04295d;*/
	border: none;
	top: 97px;
	z-index: 1;
	left: 0;
	position: absolute;
	background-color: #04295d;
	-webkit-transition: top 0.3s ease-in-out, opacity 0.6s ease-in-out;
	-moz-transition: top 0.3s ease-in-out, opacity 0.6s ease-in-out;
	-ms-transition: top 0.3s ease-in-out, opacity 0.6s ease-in-out;
	transition: top 0.3s ease-in-out, opacity 0.6s ease-in-out;
}
.attr-list.slider-list.valueChange button[type="button"] {
	top: 162px;
}
.attr-list.slider-list button[type="button"]:hover {
	color: #ffffff;
	border-color: #eb7d00;
	background-color: #eb7d00;
}
.slider_filter .slider_line .slider_mark span {
	color: #fff;
	cursor: default;
}
.slider_filter .even_styles .slider_mark:nth-child(2n+2) {
	height: 34px;
}
.slider_filter .odd_styles .slider_mark:nth-child(2n+2) {
	height: 34px;
}

.slider_filter .value_mark {
	cursor: w-resize !important;
}
.slider_filter .slider_line .slider_mark span {
	margin-top: 37px;
	display: inline-block;
}
.products_compare_table{
	display: none !important;
}
div[class="products_compare_table module gutter-8 listtable"] {
	display: block !important;
}

.slider_filter{
	float: left;
	width: 100%;
	max-width: 570px;
	background-color: #31549e;
	height: 162px;
	padding: 85px 60px 74px;
	position: relative;
}
.slider_wrapper{
	position: relative;
	width: 100%;
	padding: 0 20px;
}
.slider_filter .slider_line{
	height: 5px;
	background-color: #fff;
	width: 100%;
	position: relative;
}
.slider_filter .slider_line .slider_mark{
	position: absolute;
	width: 2px;
	background-color: #fff;
	height: 21px;
	left: 0;
	top: 5px;
}

.slider_mark::after{
	content: "";
	position: absolute;
	font-size: 17px;
	color: #fff;
	font-family: "UniversLTW01-67BoldCn";
	bottom: -29px;
	transform: translateX(-50%);
}
.slider_filter .slider_line .slider_mark.v100.minus{
	left: 0;
	height: 34px;
}

.slider_filter .slider_line .slider_mark.v100.minus::after{
	content: "-100";
}

.slider_filter .slider_line .slider_mark.v75.minus{
	left: 12.5%;
}

.slider_filter .slider_line .slider_mark.v50.minus{
	left: 25%;
	height: 34px;
}
.slider_filter .slider_line .slider_mark.v50.minus::after{
	content: "-50";
}

.slider_filter .slider_line .slider_mark.v25.minus{
	left: 37.5%;
}

.slider_filter .slider_line .slider_mark.v0{
	left: 50%;
	height: 34px;
}
.slider_filter .slider_line .slider_mark.v0::after{
	content: "0";
}

.slider_filter .slider_line .slider_mark.v25{
	left: 62.5%;
}

.slider_filter .slider_line .slider_mark.v50{
	left: 75%;
	height: 34px;
}
.slider_filter .slider_line .slider_mark.v50::after{
	content: "50";
}

.slider_filter .slider_line .slider_mark.v75{
	left: 87.5%;
}

.slider_filter .slider_line .slider_mark.v100{
	left: calc(100% - 2px);
	height: 34px;
}
.slider_filter .slider_line .slider_mark.v100::after{
	content: "100";
}
.value_mark{
	position: absolute;
	bottom: 5px;
	left: 0;
	margin-left: -21px;
}
.value_mark .box{
	width: 42px;
	height: 42px;
	font-size: 21px;
	color: #929292;
	font-family: "UniversLTW01-67BoldCn";
	background-color: #fff;
	border: 2px solid #d0d0d0;
	text-align: center;
	padding-top: 4px;
}

.value_mark .triangle {
	width: 0px;
	height: 0px;
	border-left: 21px solid transparent;
	border-right: 21px solid transparent;
	border-top: 21px solid #eb7d00;
}
.slider_line_active{
	position: absolute;
	left: 0;
	top: 0;
	height: 5px;
	background-color: #eb7d00;
}
@media (max-width: 475px) {
	.slider_filter {
		padding: 85px 5px 74px;
	}

}

/********************************  end style filter slider  ***********************************/

/*******************************************************************/
.owl-next {
	background: url('/fileadmin/user_upload/gfx/carousel_nextx2.png') left top no-repeat !important;
	height: 32px;
	width: 45px;
	background-size: cover !important;
}
.owl-prev {
	background: url('/fileadmin/user_upload/gfx/carousel_vorx2.png') left top no-repeat !important;
	height: 32px;
	width: 45px;
	background-size: cover !important;
}
.owl-theme .owl-controls {
	margin-top: 10px;
	text-align: center;
	position: absolute;
	bottom: 10px;
	left: 50%;
}
/*************************F O O T E R*****************************/

footer {
	background-color: #072a5b;
}
/*************************Verantstaltung*************************/
.calendarize .table-bordered > tbody > tr > td, .calendarize .table-bordered > tbody > tr, .calendarize .table-bordered > tbody, .calendarize .table-bordered, .calendarize .table-bordered > thead > tr > td {
	border : 0px;
	text-align: center;
}
.selectedDay table td, .selectedDay table th {
	text-align: center;
}
.calendarize .table-bordered tbody tr td {
	max-width: 50px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
}
.selectedDay {
	background-color: #aac3e7;
	border-radius: 50%;
	cursor: pointer;
}
.selectedDay:hover {
	background-color: #eb7d00;
	color: #fff;
	border-radius: 50%;
}
.hasEvents {
	font-weight: bold;
	color: #072a5b;
	text-decoration: underline;
}
.hasEvents:hover .events{
	display:block !important;
}
.iframe_jobs {
	float: left; 
	margin-bottom: -108px;
	    padding-left: 8px;
    padding-right: 8px
}
.selectedDay {
}
/*** Danke Seite***/

.thx_rma .thx p {
	padding-left: 5px;
}
