{namespace n=GeorgRinger\News\ViewHelpers}

 <f:if condition="{iteration.index} == 0">
			<f:then>
		<n:excludeDisplayedNews newsItem="{newsItem}"/>
						
						<div class=" col-sm-6 col-xs-12 ">
						<div class="row">
							<div class=" col-xs-12 ">				
							<n:link newsItem="{newsItem}" settings="{settings}" class="more" title="{newsItem.title}"><f:render partial="Detail/FalMediaContainer" arguments="{media: newsItem.falMedia, settings:settings}" />
							<f:render partial="Detail/MediaContainer" arguments="{media: newsItem.media, settings:settings}" />
							<div class="home_date_left"><f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date></div>
							<div class="home_header"><h3>{newsItem.title}</h3></div>
							</n:link>
							</div>
						</div>
						</div>
						<div class="col-md-4 col-md-push-2 col-sm-5 col-sm-push-1 col-xs-12 padding_special">
			</f:then>
</f:if>
 <f:if condition="{iteration.index} > 0">
  <f:if condition="{iteration.index} < 5">

<f:then>

	<n:excludeDisplayedNews newsItem="{newsItem}"/>
							<div class="row">
							<div class="col-xs-12">				
							<n:link newsItem="{newsItem}" settings="{settings}" class="more" title="{newsItem.title}">
							<div class="article_special">
							<div class="home_date_right">
							<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
							</div>
							<div class="home_header_right"><h4>{newsItem.title}</h4>	
							</div>
							</div>
							</n:link>
							</div>
							</div>
						
			</f:then>
</f:if>
</f:if>