<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
	  {namespace t=GeorgRinger\News\ViewHelpers}
<!--
	=====================
		Partials/List/Item.html
-->


<div class=" article <t:ReplaceString string='{newsItem.firstCategory.title}' searchFor=' ' replaceWith='_' /> articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}" itemscope="itemscope"  itemtype="http://schema.org/Article">
	<n:excludeDisplayedNews newsItem="{newsItem}"/>
	<!-- header -->
	<div class="header_cate">
	<span class="news-list-date">
				<time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
					<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
					<meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" />
				</time>
			</span>

			<f:if condition="{newsItem.firstCategory}">
				<!-- first category -->
				<span class="news-list-category">{newsItem.firstCategory.title}</span>
			</f:if>
	</div>
	<div class="header">
		<h3>{newsItem.title}</h3>
	</div>
<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 nopadding">
<f:if condition="{newsItem.falMedia}">
    <f:then>
		<f:render partial="Detail/FalMediaContainer" arguments="{media: newsItem.falMedia, settings:settings}" />
	</f:then>
    <f:else>
	<f:for each="{newsItem.firstCategory.images}" as="image" > 	
		<f:image src="{image.uid}" alt="{image.title}" width='136' height="102" treatIdAsReference="1"/> 	
	</f:for >       
    </f:else>
</f:if>
</div>
	<!-- teaser -->
	 <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
	<div class="teaser-text">
		<span itemprop="description">{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</span>

		<n:link newsItem="{newsItem}" settings="{settings}" class="more" title="{newsItem.title}">
			<f:translate key="more-link"/>
		</n:link>
		
	</div>
</div>

</div>
</html>