{namespace n=GeorgRinger\News\ViewHelpers}

<f:if condition="{iteration.index} == 0">
  <f:then>
    <n:excludeDisplayedNews newsItem="{newsItem}"/>
      <div class="col-sm-3 col-xs-12  xxx content_box_horizontal" >
        <n:link newsItem="{newsItem}" settings="{settings}"  title="{newsItem.title}">
          <f:if condition="{newsItem.falMedia}">
    <f:then>
		<f:render partial="Detail/FalMediaContainer" arguments="{media: newsItem.falMedia, settings:settings}" />
	</f:then>
    <f:else>
	<f:for each="{newsItem.firstCategory.images}" as="image" > 	
		<f:image src="{image.uid}" alt="{image.title}" class="img-responsive"  treatIdAsReference="1"/> 	
	</f:for >       
    </f:else>
</f:if>
        <div class="row content_newsbox_horizontal" >
          <div class=" col-xs-8">
          <div class="home_category_right_horizontal">
          <f:if condition="{newsItem.firstCategory}">
            {newsItem.firstCategory.title}
          </f:if>
          </div>
          </div>
          <div class="col-xs-4">
          <div class="home_date_right_horizontal">
            <f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
          </div>
          </div>
          <div class="col-xs-12  ">
          <div class="home_header_horizontal ">
            <p class="setheight">{newsItem.title}</p><br>
            <n:link newsItem="{newsItem}" settings="{settings}" class="more" title="{newsItem.title}"><f:translate key="more-link"/></n:link>
          </div>
          </div>
        </div>
    
        </n:link>
      </div>
  </f:then>
</f:if>
<f:if condition="{iteration.index} > 0">
  <f:if condition="{iteration.index} < 3">
    <f:then>
    <n:excludeDisplayedNews newsItem="{newsItem}"/>
      <div class=" col-sm-3 col-xs-12 col-sm-offset-1  xxx content_box_horizontal" >
        <n:link newsItem="{newsItem}" settings="{settings}"  title="{newsItem.title}">
          <f:if condition="{newsItem.falMedia}">
    <f:then>
		<f:render partial="Detail/FalMediaContainer" arguments="{media: newsItem.falMedia, settings:settings}" />
	</f:then>
    <f:else>
	<f:for each="{newsItem.firstCategory.images}" as="image" > 	
		<f:image src="{image.uid}" alt="{image.title}" class="img-responsive"  treatIdAsReference="1"/> 	
	</f:for >       
    </f:else>
</f:if>
        <div class=" row content_newsbox_horizontal" >
          <div class="col-xs-8  ">
          <div class="home_category_right_horizontal">
          <f:if condition="{newsItem.firstCategory}">
            {newsItem.firstCategory.title}
          </f:if>
          </div>
          </div>
          <div class=" col-xs-4  ">
          <div class="home_date_right_horizontal">
            <f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
          </div>
          </div>
          <div class=" col-xs-12  ">
          <div class="home_header_horizontal ">
            <p class="setheight">{newsItem.title}</p><br>
            <n:link newsItem="{newsItem}" settings="{settings}" class="more" title="{newsItem.title}"><f:translate key="more-link"/></n:link>
          </div>
          </div>
        </div>
    
        </n:link>
      </div>
    </f:then>
    </f:if>
</f:if>