{namespace n=GeorgRinger\News\ViewHelpers}

<f:if condition="{iteration.index} == 0">
	<f:then>
		<n:excludeDisplayedNews newsItem="{newsItem}"/>
			
			<div class=" col-sm-6 col-xs-12  content_box_horizontal_two">
			<div class="row">	
				<n:link newsItem="{newsItem}" settings="{settings}"  title="{newsItem.title}">
				<div class=" col-sm-6 col-xs-12  ">				
					<f:render partial="Detail/FalMediaContainer"  arguments="{media: newsItem.falMedia, settings:settings}" />
					<f:render partial="Detail/MediaContainer"  arguments="{media: newsItem.media, settings:settings}" />
				</div>
				<div class=" col-sm-6 col-xs-12   ">
					<div class="content_newsbox_horizontal" >
						<div class=" col-xs-8 ">
							<div class="home_category_right_horizontal">
								<f:if condition="{newsItem.firstCategory}">
									{newsItem.firstCategory.title}
								</f:if>
							</div>
						</div>
						<div class="col-xs-4 ">
							<div class="home_date_right_horizontal">
								<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
							</div>
						</div>
						<div class="col-xs-12 ">
							<div class="home_header_horizontal">
								<p class="setheight">{newsItem.title}</p><br>
										<n:link newsItem="{newsItem}" settings="{settings}" class="more_two" title="{newsItem.title}">
			<f:translate key="more-link"/>
		</n:link>
							</div>
						</div>
					</div>
				</div>
				</n:link>
			</div>
			</div>
		
			<div class="col-sm-6 col-xs-12  content_box_horizontal_two">
			<div class="row">
	</f:then>
</f:if>
<f:if condition="{iteration.index} > 0">
	<f:if condition="{iteration.index} < 2">
		<f:then>
			<n:excludeDisplayedNews newsItem="{newsItem}"/>
				<n:link newsItem="{newsItem}" settings="{settings}"  title="{newsItem.title}">
				<div class=" col-sm-6 col-xs-12   ">				
						<f:render partial="Detail/FalMediaContainer" arguments="{media: newsItem.falMedia, settings:settings}" />
						<f:render partial="Detail/MediaContainer" arguments="{media: newsItem.media, settings:settings}" />
				</div>
				<div class="col-sm-6 col-xs-12   ">
					<div class="content_newsbox_horizontal" >
						<div class="col-xs-8 ">
							<div class="home_category_right_horizontal">
								<f:if condition="{newsItem.firstCategory}">
									{newsItem.firstCategory.title}
								</f:if>
							</div>
						</div>
						<div class="col-xs-4 ">
							<div class="home_date_right_horizontal" >
								<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
							</div>
						</div>
						<div class="col-xs-12 ">
							<div class="home_header_horizontal" >
								<p class="setheight">{newsItem.title}</p><br>
								<n:link newsItem="{newsItem}" settings="{settings}" class="more_two" title="{newsItem.title}">
									<f:translate key="more-link"/> 
								</n:link>
							</div>
						</div>
					</div>
				</div></div></div>
				</n:link>
		</f:then>
	</f:if>
</f:if>
