{namespace n=GeorgRinger\News\ViewHelpers}
<f:if condition="{iteration.index} == 0">
  <f:then>
    <n:excludeDisplayedNews newsItem="{newsItem}"/>
    <div class="col-xs-12 headline-row">
      <h2>{newsItem.title}</h2>
    </div>
    <div class="col-xs-12 content-row">
      <div class="row">
        <div class="col-lg-4 col-sm-3 col-xs-12" >
          <n:link newsItem="{newsItem}" settings="{settings}"  title="{newsItem.title}">
            <f:render partial="Detail/FalMediaContainer"  arguments="{media: newsItem.falMedia, settings:settings}" />
          </n:link>
        </div>
        <div class="col-lg-8 col-sm-9 col-xs-12" >
          <div class="content_newsbox_horizontal" >
            <div class="row">
              <div class="col-xs-6">
                <div class="home_category_right_horizontal">
                  <f:if condition="{newsItem.firstCategory}"> {newsItem.firstCategory.title} </f:if>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="home_date_right_horizontal">
                  <f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="home_header_horizontal ">
                  <f:format.html parseFuncTSPath="lib.parseFunc">{newsItem.teaser}</f:format.html>
                  <!--{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}-->
                  <n:link newsItem="{newsItem}" settings="{settings}" class="more" title="{newsItem.title}">
                    <f:translate key="more-link"/>
                  </n:link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </f:then>
</f:if>
