
<f:layout name="Default" />

<f:section name="main">
<f:flashMessages />
	<div class="owl-carousel location_carousel hidden-xs">
			<f:for each="{countries}" as="country" iteration="iterator">
				<f:if condition="{iterator.index} % 4">
					<f:then>
					</f:then>
					<f:else>
						<f:if condition="{iterator.index} > 0">
							<f:then>
								</div>
								<div class="carousel-item">
							</f:then>
							<f:else>
								<div class="carousel-item">
							</f:else>
						</f:if>
					</f:else>
				</f:if>
					<f:link.action action="ajaxGetLocationsForCountry" controller="Location" pageType="9999" pluginName="Locations" class="get_locations" additionalParams="{tx_locationsearch_locations: {country_uid: country.uid}}" onclick="return false">
						<h4>{country.name}</h4>
						<f:if condition="{country.locationNumber}==1">
							<f:then>
								{country.locationNumber} <f:translate key="tx_locationsearch_location" />
							</f:then>
							<f:else>
								{country.locationNumber} <f:translate key="tx_locationsearch_locations" />
							</f:else>
						</f:if>
					</f:link.action>
				<f:if condition="{iterator.isLast}">
					</div>
				</f:if>
			</f:for>
		</div>
	
	<div class="mobile_country_list visible-xs">
		<f:for each="{countries}" as="country" iteration="iterator">
			<f:link.action action="ajaxGetLocationsForCountry" controller="Location" pageType="9999" pluginName="Locations" class="get_locations" additionalParams="{tx_locationsearch_locations: {country_uid: country.uid}}" onclick="return false">
				<h4>{country.name}</h4>
				<f:if condition="{country.locationNumber}==1">
					<f:then>
						{country.locationNumber} <f:translate key="tx_locationsearch_location" />
					</f:then>
					<f:else>
						{country.locationNumber} <f:translate key="tx_locationsearch_locations" />
					</f:else>
				</f:if>
			</f:link.action>
		</f:for>
	</div>
	</div>
<div class="clearfix"></div>
</f:section>