
<f:layout name="Default" />

<f:section name="main">
<f:flashMessages />
<div class="tx_locationsearch_direct_contact">
	<div class="kontakt_wrapper">
		<h3><f:translate key="tx_locationsearch_contact_headline" /></h3>
		<div class="kontaktbox_image">

			<f:if condition="{contactPerson.image}">
				<f:then>
					<div class="hero_image">
						 <f:image src="{contactPerson.image.uid}" alt="{contactPerson.image.alternative}" title="{contactPerson.image.title}" treatIdAsReference="1" class="img-responsive" />
					</div>
				</f:then>
				<f:else>
					<!--<img class="img-responsive" src="/fileadmin/user_upload/kontaktbox.png" width="340" height="303" alt="">-->
				</f:else>
			</f:if>
		</div>
		<div class="kontaktbox_name">
			<h4>{contactPerson.firstName} {contactPerson.lastName}</h4>
		</div>


		<div class="kontaktbox_street">
			<f:if condition="{contactPerson.position}">
				<f:then>
					{contactPerson.position}
				</f:then>
				<f:else>
					<!--Geschäftsführer-->
				</f:else>
			</f:if>
			<!--<f:if condition="{contactPerson.location}">
				<f:if condition="{contactPerson.location.name}">
					{contactPerson.location.name}<br>
				</f:if>
				<f:if condition="{contactPerson.location.address1}">
					{contactPerson.location.address1}<br>
				</f:if>
				<f:if condition="{contactPerson.location.address2}">
					{contactPerson.location.address2}<br>
				</f:if>
				<f:if condition="{contactPerson.location.zipcode}">
					{contactPerson.location.zipcode} 
				</f:if>
				<f:if condition="{contactPerson.location.city}">
					{contactPerson.location.city}
				</f:if>
			</f:if>-->
		</div>
		<div class="clearfix"></div>
		
		<div class="kontaktbox_blue">
			<f:if condition="{contactPerson.phone}">
				<a href="tel:{contactPerson.phone}"><h5 class="number">{contactPerson.phone}</h5></a>
			</f:if>
			<f:if condition="{contactPerson.mobile}">
				<h5 class="fax">{contactPerson.mobile}</h5>
			</f:if>
			<f:if condition="{contactPerson.mail}">
				<h5 class="email"><a href="mailto:{contactPerson.mail}">{contactPerson.mail}</a></h5>
			</f:if>
		</div>

		<div class="kontaktbox_more show_callback_form">
			<a href="javascript:void(0)"><f:translate key="tx_locationsearch_callback" /></a>
		</div>
	</div>
	<div class="tx_locationsearch_callback_form">
		<f:cObject typoscriptObjectPath="callback_form"/>
		<a class="tx_locationsearch_back_button"><span><f:translate key="tx_locationsearch_back" /></span></a>
	</div>
	<div class="clearfix"></div>
</div>
</f:section>