<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Avaya WebChatDialog</title>
		<meta http-equiv="x-ua-compatible" content="IE=10"><!-- Use Internet Explorer 9 Standards mode -->

        <link rel="stylesheet" type="text/css" href="styles/fonts/Roboto/stylesheet.css"/>
        <link rel="stylesheet" type="text/css" href="styles/chatButtonStyles.css"/>

         <!-- javascript libraries -->
        <script type="text/javascript" src="components/angular/angular.js"></script>
        <script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>

		<!-- common functions library -->
		<script type="text/javascript" src="scripts/common/commonFunctions.js"></script>

        <!-- module declaration -->
        <script type="text/javascript" src="scripts/controllers/moduleDeclaration.js"></script>

        <!-- models -->
        <script type="text/javascript" src="scripts/models/language_model.js"></script>

        <!-- global variables factory -->
        <script type="text/javascript" src="scripts/common/factories.js"></script>

        <!-- controller -->
        <script type="text/javascript" src="scripts/common/chatManager.js"></script>
        <script type="text/javascript" src="scripts/controllers/startChatController.js"></script>
    </head>

    <body ng-app="WebChatClient" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div id="start_chat_container"  ng-controller="StartChatController" ng-init="load()">
            <div id="chat_container_small">
                <div id="start_chat_small_background" ng-click="expandForm()">{{startChatText}}</div>
            </div>

            <div id="chat_container_expanded">
                <div id="chat_container_expanded_background">
                    <div id="closeFormButton" ng-click="closeForm()">X</div>

                    <!-- username -->
                    <div id="nameText" class="text_field">{{languageJSON.nameText}}</div>
                    <input id="text_input" type="text" name="custUserName" ng-model="username" ng-keypress="enterPressed($event)" maxlength="31" autocomplete="off"></input>

                    <div class="nameAlertText" ng-show="noTopicAvailable == true">{{languageJSON.topicNotAvailableErrorMessage}}</div>
                    <div class="nameAlertText" ng-show="systemBusy == true">{{languageJSON.systemBusyErrorMessage}}</div>
                    <div class="nameAlertText" ng-show="hasNoName == true">{{languageJSON.noNameInsertedText}}</div>

                    <!-- Start button -->
                    <div class="text_field">{{languageJSON.pressButtonText}}</div>
                    <button id="start_chat_button" ng-click="startChat()" ng-init="disableStartButton = false" ng-disabled="disableStartButton == true || noTopicAvailable == true || systemBusy == true">{{languageJSON.startButtonText}}</button>
                    <div id="popup_warning">{{languageJSON.popupWarningText}}</div>
                </div>
            </div>
        </div>
    </body>
</html>

