<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=10"><!-- Use Internet Explorer 9 Standards mode -->

    <title>WebChatClient</title>

    <link rel="stylesheet" href="styles/fonts/Roboto/stylesheet.css" type="text/css" media="screen, projection">

    <!-- custom css -->
    <link rel="stylesheet" href="styles/webChatStyles.css" type="text/css" media="screen, projection">
    
    <!-- javascript libraries -->
    <script type="text/javascript" src="components/angular/angular.js"></script>
    <script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>
    
    <!-- common functions library -->
	<script type="text/javascript" src="scripts/common/commonFunctions.js"></script>

    <!-- module declaration -->
    <script type="text/javascript" src="scripts/controllers/moduleDeclaration.js"></script>

    <!-- models -->
    <script type="text/javascript" src="scripts/models/chat_message.js"></script>
    <script type="text/javascript" src="scripts/models/topic_model.js"></script>
    <script type="text/javascript" src="scripts/models/language_model.js"></script>

    <!-- global variables factory -->
    <script type="text/javascript" src="scripts/common/factories.js"></script>

    <!-- controller -->
    <script type="text/javascript" src="scripts/common/chatManager.js"></script>
    <script type="text/javascript" src="scripts/controllers/globalChatController.js"></script>
    <script type="text/javascript" src="scripts/controllers/userDetailsController.js"></script>
    <script type="text/javascript" src="scripts/controllers/messagesArhiveController.js"></script>
    <script type="text/javascript" src="scripts/controllers/newMessageController.js"></script>
    <script type="text/javascript" src="scripts/controllers/closeChatController.js"></script>

</head>

<body ng-app="WebChatClient" ondrop="drop(event)" ondragover="allowDrop(event)">
    <div id="actual_chat_container" ng-controller="GlobalChatController" ng-init="load()">
            <div id="background_container">
                <!-- User details container -->
                <div id="user_details_container" ng-controller="UserDetailsController">
                    <div id="user_image">
                        <img ng-src="{{IPOCC_status==languageJSON.ipoccStatusAvailableText && 'images/Hover_JoinAll.png' || 'images/Inactive_JoinAll.png'}}"/>
                    </div>
                    <div id="user_details">
                        <div id="user_details_status">
                            <div id="ipocc_status">{{username}}</div>
                        </div>
                    </div>
                    <div id="user_details_date">
                        {{languageJSON.chatStartDateText}} {{displayDate}}
                    </div>
                </div>

                <!-- Chat container -->
                <div id="chat_container" ng-controller="MessagesArhiveController">
                    <div id="chat_arhive_container">
                        <div id="scrollable_chat_container">
                            <div class="user_messages" ng-class="{'user_messages': userMessage.type=='{{custUserName}}' , 'agent_messages': userMessage.type!='{{custUserName}}' }" ng-repeat="userMessage in userMessages">
                                <div class="chat_user_image" ng-class="{'chat_user_image': userMessage.type=='{{custUserName}}' , 'chat_agent_image': userMessage.type!='{{custUserName}}' }" ng-if="userMessage.type!=custUserName"><img src="images/dp.gif"/></div>
                                <div class="chat_user_message chat_message_texts" ng-class="{'chat_user_message': userMessage.type=='{{custUserName}}' , 'chat_agent_message': userMessage.type!='{{custUserName}}' }"  ng-mouseover="showDate(userMessage)" ng-mouseleave="hideDate(userMessage)">
                                    	<pre ng-bind-html="trustAsHtml(userMessage.message)"></pre>
                                    <div class="chat_user_message_date chat_message_date" ng-class="{'chat_user_message_date': userMessage.type=='{{custUserName}}' , 'chat_agent_message_date': userMessage.type!='{{custUserName}}' }">
                                        {{userMessage.publishDate}}
                                    </div>
                                </div>
                            </div>
                            <div class="agent_messages" ng-show="errorMessage==''">
                                <div class="chat_agent_image"><img src="images/dp.gif"/></div>
                                <div class="typing_user_message chat_message_texts">
                                    <i>{{agentState}}</i>
                                </div>
                            </div>

                            <div id="error_code" class="agent_messages" ng-show="errorMessage!=''">
                                <div class="typing_user_message chat_message_texts">
                                    {{errorMessage}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Message container -->
                <div id="new_message_container" ng-controller="NewMessageController">
                    <!-- start dropdown -->
                    
                    <div id="emoticon_container" ng-show="showEmoticonContainer">
                        <div id="emoticon_container_top">
                            <span>            
                                <input name="submitmsg"  type="image" height="22" tabindex="1" class="chatBtns" src="images/emoticons/smile.png" ng-click="emoticons(':)')" title="Smile">
                                <input name="submitmsg"  type="image" height="22" tabindex="2" class="chatBtns" src="images/emoticons/sad.png" ng-click="emoticons(':(')" title="Sad">
                                <input name="submitmsg"  type="image" height="22" tabindex="3" class="chatBtns" src="images/emoticons/biggrin.png" ng-click="emoticons(':D')" title="Biggrin">
                                <input name="submitmsg"  type="image" height="22" tabindex="4" class="chatBtns" src="images/emoticons/confused.png" ng-click="emoticons(':S')" title="Confused">
                                <input name="submitmsg"  type="image" height="22" tabindex="5" class="chatBtns" src="images/emoticons/surprised.png" ng-click="emoticons(':O')" title="Surprised">        
                            </span>
                        </div>
                        <div id="emoticon_container_middle">
                            <span>    
                                <input name="submitmsg" type="image" height="22" tabindex="6" class="chatBtns" src="images/emoticons/wink.png" ng-click="emoticons(';)')" title="Wink">
                                <input name="submitmsg" type="image" height="22" tabindex="7" class="chatBtns" src="images/emoticons/eek.png" ng-click="emoticons('OO')" title="Eek">
                                <input name="submitmsg" type="image" height="22" tabindex="8" class="chatBtns" src="images/emoticons/razz.png" ng-click="emoticons(':P')" title="Razz">
                                <input name="submitmsg" type="image" height="22" tabindex="9" class="chatBtns" src="images/emoticons/cry.png"  ng-click="emoticons(';(')" title="Cry">
                                <input name="submitmsg" type="image" height="22" tabindex="10" class="chatBtns" src="images/emoticons/neutral.png" ng-click="emoticons(':|')" title="Neutral">
                            </span>
                        </div>
                        <div id="emoticon_container_bottom">
                            <span>    
                                <input name="submitmsg" type="image" height="22" tabindex="6" class="chatBtns" src="images/emoticons/cool.png" ng-click="emoticons('|;-)')" title="Cool">
                                <input name="submitmsg" type="image" height="22" tabindex="7" class="chatBtns" src="images/emoticons/evil.png" ng-click="emoticons('>:)')" title="Evil">
                                <input name="submitmsg" type="image" height="22" tabindex="8" class="chatBtns" src="images/emoticons/like.png" ng-click="emoticons('<3')" title="Like">
                                <input name="submitmsg" type="image" height="22" tabindex="9" class="chatBtns" src="images/emoticons/lol.png"  ng-click="emoticons('^^')" title="Lol">
                                <input name="submitmsg" type="image" height="22" tabindex="10" class="chatBtns" src="images/emoticons/mrgreen.png" ng-click="emoticons('O:)')" title="Angel">
                            </span>
                        </div>
                        <div id="emoticon_container_last">
                            <span>    
                                <input name="submitmsg" type="image" height="22" tabindex="6" class="chatBtns" src="images/emoticons/thumbdown.png" ng-click="emoticons('(n)')" title="Thumbdown">
                                <input name="submitmsg" type="image" height="22" tabindex="7" class="chatBtns" src="images/emoticons/thumbup.png" ng-click="emoticons('(y)')" title="Thumbup">
                            </span>
                        </div>
                    </div>
                    
                    <!-- end dropdown -->
                    <div id="textarea_container">
                       <textarea id="new_message_textarea" ng-model="message" ng-change="inputChanged()" ng-keypress="enterPressed($event)" ng-disabled="disableMessageBox"></textarea>
                    </div>
                    <button id="send_message_button" ng-click="postMessageText()" ng-init="activeSendButton = false" ng-disabled="activeSendButton">{{languageJSON.sendMessageButtonText}}
                    </button>
                    <!-- emoticon btn -->
                    
                    <button id="emoticon_button" ng-click="openEmoticonList()" ng-init="activeEmoticonButton" ng-show="activeEmoticonButton == true">
                    	<img src="images/emoticon.png" title="Select an emoticon"/>
                    </button>
                    <!-- end emoticon btn -->
                </div>

                <!-- Close chat container -->
                <div id="close_buttons_container" ng-controller="CloseChatController">
                    <button id="close_button" ng-click="closeChat()">{{languageJSON.closeChatButtonText}}</button>
                </div>
            </div>
        </div>
</body>
</html>