<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:s="http://typo3.org/ns/ApacheSolrForTypo3/Solrfluid/ViewHelpers">

    <f:layout name="Main"/>

    <f:section name="main">

        <div class="col-sm-8 col-xs-12 subcontent-wrap">

            <div class="suche_list_modul module gutter-8">
                <div class="row">
                    <div class="col-xs-12">

                        <f:render partial="Search/Form" section="Form" arguments="{search:search, additionalFilters:additionalFilters}" />
                        <p>
                            <f:if condition="{resultSet.usedQuery.keywordsCleaned}">
                                <span class="searched-for">
                                    <s:translate key="results_searched_for" arguments="{0:'\"{resultSet.usedQuery.keywordsCleaned}\"'}">Searched for %s</s:translate>
                                </span>
                            </f:if>

                            <f:if condition="{resultSet.hasSpellCheckingSuggestions}">
                                <f:then>
                                    <s:translate key="didYouMean">Did you mean</s:translate>
                                    <f:for each="{resultSet.spellCheckingSuggestions}" as="suggestion">
                                        <f:link.page additionalParams="{q:suggestion.suggestion}" noCacheHash="1">{suggestion.suggestion}</f:link.page>
                                    </f:for> ?
                                </f:then>
                            </f:if>

                            <f:if condition="{resultSet.usedSearch.numberOfResults}">


                                <span class="result-range">
                                    <s:pageBrowserRange>
                                        <s:translate key="results_range" arguments="{0:from, 1: to, 2: total}">Results %d until %d of %d</s:translate>
                                    </s:pageBrowserRange>
                                 </span>   
                                    <f:if condition="{resultSet.facets.available.type.options.products}">
                                    <span class="result-range-link">
                                        <f:translate key="LLL:fileadmin/default/templates/solr/Private/Language/de.locallang.xlf:results_direct_download"/> <f:link.typolink parameter="490" target="_blank"><s:translate key="LLL:fileadmin/default/templates/solr/Private/Language/de.locallang.xlf:results_direct_download_link"/></f:link.typolink>
                                    </span>
                                    </f:if>
                            </f:if>
                        </p>
                        <f:if condition="{hasSearched}">
                            <f:if condition="{resultSet.usedSearch.numberOfResults}">
                                <h2>{s:translate(key:'search_results',default:'Search Results')}</h2>
                                <f:then>
                                    <f:render partial="Result/PerPage" section="PerPage" arguments="{resultSet: resultSet}" />
                                </f:then>
                                <f:else>
                                    <h3>{s:translate(key:'no_results_found',default:'Nothing found')}</h3>
                                </f:else>
                            </f:if>
                            <s:widget.resultPaginate resultSet="{resultSet}">
                                <div start="{pagination.displayRangeStart}" class="results-list">
                                    <f:for each="{documents}" as="document">
                                        <f:render partial="Result/Document" section="Document" arguments="{resultSet:resultSet, document:document}" />
                                    </f:for>
                                </div>
                            </s:widget.resultPaginate>
                        </f:if>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-xs-12 right-content-wrap">
            <f:if condition="{hasSearched}">
                <f:render partial="Result/Sorting" section="Sorting" arguments="{resultSet:resultSet}" />
                <f:render partial="Result/Facets" section="Facets" arguments="{resultSet:resultSet}" />
            </f:if>
            <f:render partial="Search/LastSearches" section="LastSearches" arguments="{resultSet:resultSet}" />
            <f:render partial="Search/FrequentlySearched" section="FrequentlySearched" />
        </div>

    </f:section>