{namespace bk2k = BK2K\BootstrapPackage\ViewHelpers}
<f:switch expression="{data.section_frame}">
    <f:case value="1"><bk2k:var name="sectionClass" value="invisible module" /></f:case>
    <f:case value="5"><bk2k:var name="sectionClass" value="rulerbefore" /></f:case>
    <f:case value="6"><bk2k:var name="sectionClass" value="rulerafter" /></f:case>
    <f:case value="10"><bk2k:var name="sectionClass" value="col-xs-10 col-xs-push-1" /></f:case>
    <f:case value="11"><bk2k:var name="sectionClass" value="col-xs-9 col-xs-push-3" /></f:case>
    <f:case value="12"><bk2k:var name="sectionClass" value="col-xs-9" /></f:case>
    <f:case value="20"><bk2k:var name="sectionClass" value="well" /></f:case>
    <f:case value="21"><bk2k:var name="sectionClass" value="jumbotron" /></f:case>
	 <f:case value="22"><bk2k:var name="sectionClass" value="content-container" /></f:case>
    <f:case value="23"><bk2k:var name="sectionClass" value="module" /></f:case>
	<f:case value="24"><bk2k:var name="sectionClass" value="news_only_module module" /></f:case>
    <f:case value="66"><bk2k:var name="sectionClass" value="no_frame" /></f:case>
    <f:case default="TRUE"><bk2k:var name="sectionClass" value="default" /></f:case>
</f:switch>

<f:if condition="{sectionClass}=='no_frame'">
<f:then>
    <f:render section="Header" />
    <f:render section="Main" />
</f:then>
<f:else>
<div id="c{data.uid}" class="frame {sectionClass}">
    <f:if condition="{data._LOCALIZED_UID}"><a id="c{data._LOCALIZED_UID}"></a></f:if>
    <f:render section="Header" />
    <f:render section="Main" />
</div>
</f:else>
</f:if>
