<?php

/**
* @copyright Copyright (c) Metaways Infosystems GmbH, 2012
* @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
*/

$enc = $this->encoder();

$category = $this->get( 'category', array() );
$categoryList = $this->get( 'cetegoryItems', array() );
$langCode = $this->get( 'langCode', '' );
$detailTarget = $this->config( 'client/html/catalog/detail/url/target' );
$detailController = $this->config( 'client/html/catalog/detail/url/controller', 'catalog' );
$detailAction = $this->config( 'client/html/catalog/detail/url/action', 'detail' );
$detailConfig = $this->config( 'client/html/catalog/detail/url/config', array() );
//downloads
$items = $this->get( 'items', array() );
//accessories
$productItems = $this->get( 'suggestItems', array() );
$positionItems = $this->get( 'suggestPosItems', array() );

$url = $enc->attr( $this->url( $detailTarget, $detailController, $detailAction, array(), array(), $detailConfig ) );
$defaultImage=$this->config( 'client/html/common/defaultimage', '' );
$defaultImageBaseUrl='';//'/fileadmin/'.$this->config( 'client/html/common/images/baseurl', '' );

if(!function_exists("convertUmlaute")) {
    function convertUmlaute($str)
    {
    $string = str_replace("ä", "ae", trim($str));
    $string = str_replace("ü", "ue", $string);
    $string = str_replace("ö", "oe", $string);
    $string = str_replace("Ä", "Ae", $string);
    $string = str_replace("Ü", "Ue", $string);
    $string = str_replace("Ö", "Oe", $string);
    $string = str_replace("ß", "ss", $string);
    return $string;
    }
} 
?>

<div class="col-xs-12 content-row">
    <div class="product_hero_extended">
        <?php $mediaItem = reset($category->getRefItems( 'media','default', array('RF_TeaserExtended','RF_ClassificationFunction'))); ?>
        <?php if($mediaItem) :  ?>
        <?php echo str_replace('tx_aimeos//WEB_HighRes','tx_aimeos/WEB_HighRes',$this->media( $mediaItem,$defaultImageBaseUrl)); ?>
        <?php  else: ?>
        <img src="/fileadmin/user_upload/gfx/product_hero.jpg" />
        <?php   endif;  ?>
        <div class="thumbnails_left">
            <?php $mediaItems = $category->getRefItems( 'media','default', array('RF_Galerie') ); ?>
            <?php   if( count( $mediaItems ) > 1 ) :  ?>
            <?php    $i=0;  ?>
            <?php    foreach( $mediaItems as $id => $mediaItem ) : ?>
            <?php    $i++; if( $i > 3 ){ break;} ?>
            <a href="<?php echo $defaultImageBaseUrl.$mediaItem->getUrl(); ?>" class="html5lightbox">
                <?php echo str_replace('tx_aimeos//WEB_HighRes','tx_aimeos/WEB_HighRes',$this->media( $mediaItem,$defaultImageBaseUrl)); ?>
            </a> 
            <?php    endforeach; ?>
            <?php   endif;  ?>
        </div>
        <div class="info_bar">
            <ul>
                <?php if(count($category->getRefItems('text', 'AT_WebHighlights')) || count($category->getRefItems('media','default', 'AT_WebMarketingTextLong'))) : ?>
                <li detail="detailinfos"><img src="/fileadmin/user_upload/gfx/icon_product_detail.png" width="36" height="8" /> <span><?php echo $enc->html( $this->translate( 'client/html', 'detailinfos' ), $enc::TRUST ); ?></span></li>
                <?php endif; ?>
                <?php if(count($category->getRefItems('text', 'AT_Youtube')) || count($category->getRefItems( 'media','default', 'RF_Video')) ) : ?>
                <li detail="multimedia"><img src="/fileadmin/user_upload/gfx/icon_media.png" width="32" height="27" /> <span><?php echo $enc->html( $this->translate( 'client/html', 'video & multimedia' ), $enc::TRUST ); ?></span></li>
                <?php endif; ?>
                <?php if(count($items)) : ?>
                <li detail="downloads"><img src="/fileadmin/user_upload/gfx/icon_download_white.png" width="27" height="33" /> <span><?php echo $enc->html( $this->translate( 'client/html', 'Downloads' ), $enc::TRUST ); ?></span></li>
                <?php endif; ?>
                <?php if( count( $positionItems )) :?>
                <li detail="accessories"><img src="/fileadmin/user_upload/gfx/icon_accessories_white.png" width="30" height="30" /> <span><?php echo $this->translate( 'client/html', 'Accessories' ); ?></span></li>
                <?php endif; ?>
                <?php $directLink = reset($category->getRefItems('text', 'AT_DirectLink')); ?>
                <?php $directLinkTitel = reset($category->getRefItems('text', 'AT_DirectLink_Titel')); ?>
                <?php $directLinkIcon = reset($category->getRefItems('text', 'AT_DirectLink_Icon')); ?>
                <?php $directLinkTarget = reset($category->getRefItems('text', 'AT_DirectLink_Target')); ?>
                <?php $dName = $this->translate( 'client/html', $directLinkTitel?$directLinkTitel->getContent():'Tontabelle'); ?>
                <?php // deactivate until correct data come, #10572 
                if($directLink):?>
                    <li detail="tontabelle">
                        <a href="<?php echo $directLink->getContent(); ?>" target="<?php echo ($directLinkTarget?$directLinkTarget->getContent():'_blank'); ?>" title="<?php echo $dName; ?>">
                            <img src="<?php echo $directLinkIcon->getContent(); ?>" height="32" />
                            <span><?php echo $dName; ?></span>
                        </a>
                    </li>
                <?php endif;?>
            </ul>
        </div>
    </div>
</div>


<div class="col-xs-12 content-row add_content multimedia">
    <?php foreach( $category->getRefItems('text', 'AT_Youtube') as $textItem ) : ?>
    <?php $values = (array)explode('</br>',$textItem->getContent()); ?>
    <?php foreach ($values as $v) :?>
    <a href="<?php echo $enc->html( $v, $enc::TRUST ); ?>" class="html5lightbox">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 video">
            <?php $queryString = parse_url($v, PHP_URL_QUERY);
            parse_str($queryString, $getParams); ?>
            <?php if(isset($getParams['v']) && !empty($getParams['v'])) : ?>
            <img src="<?php echo 'http://img.youtube.com/vi/'.$getParams['v'].'/mqdefault.jpg'; ?>" />
            <?php else: ?>
            <img src="/fileadmin/user_upload/gfx/product_hero.jpg" />
            <?php endif;?>
        </div>
    </a>
    <?php endforeach; ?> 
    <?php endforeach; ?>
    <?php foreach( $category->getRefItems( 'media','default', 'RF_Video') as $mediaItem ) : ?>
    <a href="<?php echo $defaultImageBaseUrl.$mediaItem->getUrl(); ?>" class="html5lightbox">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 video">
            <img src="/fileadmin/user_upload/gfx/product_hero.jpg" />
        </div>
    </a> 
    <?php endforeach; ?>
</div>
<div class=" col-xs-12 content-row add_content downloads">
    <div class="product_download module gutter-8">
        <div class="content-container">
            <div class="row">
                <div class=" col-xs-12 content-row">
                    <ul class="nav-tabs">
                        <?php $first=true; ?>
                        <?php foreach( $items as $id => $itemData ) : ?>
                        <li id="<?php echo $id; ?>" class="<?php echo ($first ? 'active' : ''); $first=false; ?>"><a href="#"><?php echo $enc->html( $this->translate( 'client/html', str_replace('_',' ',$id) ), $enc::TRUST ); ?></a></li>
                        <?php endforeach; ?>
                        <li class="tab_slider" style="width: 121px; left: 0px;"></li>
                    </ul>
                    <div class="product_download-line-slide"></div>
                    <div class="details_container">
                        <?php foreach( $items as $id => $itemData ) : ?>
                        <div id="<?php echo $id.'_detail'; ?>" class="detail">
                            <?php echo $this->partial( 'client/html/catalog/detail/additional/download/template/'.strtolower($id), 'catalog/detail/additional/download/default-body-default.html', array( 'mediaItems' => $this->get( 'mediaItems', array() ), 'itemData' => $itemData, 'langCode' => $langCode) ); ?>
                        </div>
                        <?php endforeach; ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" col-xs-12 content-row add_content accessories">
    <div class="product_accessories module background gutter-8">
        <div class="content-container">
            <div class="row">
                <div class=" col-xs-12 content-row">
                    <div class="product_accessories-line-slide"></div>
                    <div class="details_container">
                        <?php   foreach( $positionItems as $type => $positionItem ) : ?>
                        <?php if( count( $positionItem )) : ?>
                        <?php echo $this->partial( 'client/html/catalog/detail/additional/suggest/template/'.strtolower($type), 'catalog/detail/additional/suggest/default-body-default.html', array( 'productItems' => $productItems, 'positionItem' => $positionItem, 'type'=>$type) ); ?>
                        <?php endif; ?>
                        <?php endforeach; ?>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>


<?php if( count(empty( $category->getRefItems('text', 'AT_WebMarketingTextShort'))) ) : ?>
<div class=" col-xs-12 content-row copy">    
    <?php foreach( $category->getRefItems('text', 'AT_WebMarketingTextShort') as $textItem ) : ?> 
    <p><?php echo $textItem->getContent(); ?></p>
    <?php endforeach; ?>
</div>
<?php endif; ?>

<div class=" col-xs-12 content-row copy add_content detailinfos">
    <p>
        <?php foreach( $category->getRefItems('text', 'AT_WebMarketingTextLong') as $textItem ) : ?> 
        <?php echo nl2br($textItem->getContent()); ?>
        <?php endforeach; ?>
    </p>


    <?php $highlights = reset( $category->getRefItems('text', 'AT_WebHighlights')); ?>
    <?php if ($highlights): ?>
    <ul>
        <?php $values = (array)explode('</br>',$highlights->getContent()); ?>
        <?php foreach ($values as $v) :?>
        <li><?php echo $enc->html( $v, $enc::TRUST ); ?></li>
        <?php endforeach; ?>
    </ul>   
    <?php endif; ?>
</div>




