<?php

/**
 * @copyright Copyright (c) Metaways Infosystems GmbH, 2012
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 */

$enc = $this->encoder();

$classes = '';
foreach( (array) $this->get( 'stageCatPath', array() ) as $cat )
{
	$config = $cat->getConfig();
	if( isset( $config['css-class'] ) ) {
		$classes .= ' ' . $config['css-class'];
	}
}

?>
<?php if( isset( $this->stageErrorList ) ) : ?>
	<ul class="error-list">
<?php foreach( (array) $this->stageErrorList as $errmsg ) : ?>
		<li class="error-item"><?php echo $enc->html( $errmsg ); ?></li>
<?php endforeach; ?>
	</ul>
<?php endif; ?>
<div class="breadcrumb gutter-8">
  <div class="content-container">
    <div class="row">
      <div class="col-xs-12">
<?php echo $this->get( 'stageBody' ); ?>
      </div>
    </div>
  </div>
</div>
