<?php

/**
 * @copyright Copyright (c) Metaways Infosystems GmbH, 2013
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 */

$enc = $this->encoder();

$listTarget = $this->config( 'client/html/catalog/list/url/target' );
$listController = $this->config( 'client/html/catalog/list/url/controller', 'catalog' );
$listAction = $this->config( 'client/html/catalog/list/url/action', 'list' );
$listConfig = $this->config( 'client/html/catalog/list/url/config', array() );
$detailTarget = $listTarget;//$this->config( 'client/html/catalog/detail/url/target' );
$detailController = $this->config( 'client/html/catalog/detail/url/controller', 'catalog' );
$detailAction = $this->config( 'client/html/catalog/detail/url/action', 'detail' );
$detailConfig = $this->config( 'client/html/catalog/detail/url/config', array() );

$params = $this->get( 'stageParams', array() );
$url0 = $GLOBALS['TSFE']->cObj->typoLink_URL(array('parameter' => 6,'forceAbsoluteUrl' => true));
$langCode = $this->get( 'langCode', '' );
$isWebcode = $enc->attr( $this->param('listType'))=='downloads' ? true: false;
?>

<ul class="breadcrumb_ul">
<li><a href="<?php echo $url0 ?>"><?php echo $this->translate( 'client/html','Products'); ?></a></li>
<?php if( isset( $this->stageCatPath ) ) : ?>
<?php	foreach( (array) $this->stageCatPath as $cat ) : ?>
<?php       if($cat->getStatus()==1): ?>
<?php		    $current= $params; $current['f_catid'] = $cat->getId(); unset($current['d_prodid'],$current['f_search'],$current['d_parent'],$current['l_page']) ?>
			<li><a href="<?php echo $enc->attr( $this->url( $listTarget, $listController, $listAction, $current, array(), $listConfig ) ); ?>">
					<?php $dName = reset($cat->getRefItems('text', 'DisplayName')); ?> 
		            <?php echo $enc->html( ($dName && !empty($dName->getContent())) ? $dName->getContent() :  $cat->getName(), $enc::TRUST ); ?>
			</a></li>
<?php       endif; ?>
<?php	endforeach; ?>

<?php if( isset( $this->stageProdPath ) ) : ?>
<?php   foreach( (array) $this->stageProdPath as $prod ) : ?>
<?php       $current= $params; $current['d_prodid'] = $prod->getId(); unset($current['f_search'],$current['l_page']); ?> 
<?php       if($current['d_parent']==$prod->getId()){unset($current['d_parent']);} ?>
            <li><a href="<?php echo $enc->attr( $this->url( $detailTarget, $detailController, $detailAction, $current, array(), $detailConfig ) ); ?>">
            
                <?php if(count($prod->getRefItems('text', 'TitleProductSubSeries'))>1): ?>
                    <?php foreach ($prod->getRefItems('text', 'TitleProductSubSeries') as $lProduct): ?>
                        <?php if($lProduct->getLanguageId()==$langCode):?>
                        	<?php $dName = $lProduct;?>
                        <?php endif;?>
                    <?php endforeach;?>
                <?php else: ?>
	                <?php $dName = reset($prod->getRefItems('text', 'TitleProductSubSeries')); ?>
                <?php endif; ?>
                <?php $aMaterialId = reset($prod->getRefItems('attribute', 'AT_SAP_MainMaterialID')); ?> 
                <?php echo $enc->html( ($dName && !empty($dName->getContent())) ? $dName->getContent() :  ($aMaterialId && !empty($aMaterialId->getName()) ? $aMaterialId->getName(): $prod->getName()), $enc::TRUST ); ?>
            </a></li>
<?php   endforeach; ?>
<?php if($isWebcode) :?>
<?php $current['listType']='downloads';?>
<li><a href="<?php echo $enc->attr( $this->url( $detailTarget, $detailController, $detailAction, $current, array(), $detailConfig ) ); ?>">
                <?php echo $enc->html('Downloads', $enc::TRUST ); ?>
            </a></li>
<?php endif; ?>
<?php endif; ?>

<?php endif; ?>
</ul>
<?php //echo $this->get( 'breadcrumbBody' ); ?>


