<?php

/**
 * @copyright Copyright (c) Metaways Infosystems GmbH, 2014
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 */

$positionItem = $this->get( 'positionItem', array() );
$productItems = $this->get( 'productItems', array() );
$missingItems = $this->get( 'missingItems', array() );
$type = $this->get( 'type', array() );
$attrTypes = $this->get( 'attributeTypes', array() );
$detailTarget = $this->config( 'client/html/catalog/detail/url/target' );
$detailController = $this->config( 'client/html/catalog/detail/url/controller', 'catalog' );
$detailAction = $this->config( 'client/html/catalog/detail/url/action', 'detail' );
$detailConfig = $this->config( 'client/html/catalog/detail/url/config', array() ); 
$enc = $this->encoder();
$defaultImageBaseUrl='';//'/fileadmin/'.$this->config( 'client/html/common/images/baseurl', '' );

?>
<?php   foreach( $positionItem as $id => $item ) : ?>
                <div class="detail" category="<?php echo $type; ?>">

<?php       if( isset( $productItems[$id] ) ) : $productItem = $productItems[$id]; ?>
<?php           $params = array( 'd_name' => $productItem->getName( 'url' ), 'd_prodid' => $productItem->getId() ); ?>

                    <?php $mediaItem = reset($productItem->getRefItems( 'media', 'default', 'RF_PrimaryImage' )); ?>
					<?php if($mediaItem) : ?>
    					<div class="images">
    		                <img src="<?php echo $defaultImageBaseUrl.$mediaItem->getUrl(); ?>"/>
    					</div>
					<?php else: ?>
                        <?php $mediaItem = reset($productItem->getRefItems( 'media', 'default', 'RF_AccessoiresImage' )); ?>
    					<?php if($mediaItem) : ?>
        					<div class="images">
                                <img src="<?php echo $defaultImageBaseUrl.$mediaItem->getUrl(); ?>"/>
                            </div>
                        <?php else: ?>
                            <?php if($pr = reset($productItem->getParentItems('product'))):?>
                               <?php if(isset($missingItems[$pr->getParentId()])): ?> 
                               <?php $mediaItem = reset($missingItems[$pr->getParentId()]->getRefItems( 'media', 'default', array('RF_PrimaryImage','RF_AccessoiresImage'))); ?>
                                <?php if($mediaItem) : ?>
	                                <div class="images">
	                                    <img src="<?php echo $defaultImageBaseUrl.$mediaItem->getUrl(); ?>"/>
	                                </div>
                                <?php endif; ?>
                                <?php endif; ?>
                            <?php endif; ?>
    					<?php endif; ?>
					<?php endif; ?>
					
					<div class="description">
					    <h3>
					     <?php $dName = reset($productItem->getRefItems('text', 'TitleProductVariant')); ?> 
                         <?php echo $enc->html( ($dName && !empty($dName->getContent())) ? $dName->getContent() :  $productItem->getName(), $enc::TRUST ); ?>
					    </h3>
					    <div class="data">
					       <table>
                              <?php foreach( $productItem->getRefItems( 'attribute', array('AT_SAP_MainMaterialID')) as $item ) : ?> 
<tr>
    <td><?php echo $enc->html( isset($attrTypes[$item->getType()]) ? $attrTypes[$item->getType()] : $item->getTypeLabel(), $enc::TRUST ).': '; ?></td>
    <td><?php echo $enc->html( $item->getLabel()); ?></td>
</tr>   
<?php endforeach; ?>
                            </table>
					    </div>
					    <div class="copy">
					    <p>
					    <?php foreach( $productItem->getRefItems( 'text', array('AT_Description')) as $item ) : ?> 
                            <?php echo $item->getContent(); ?>
                        <?php endforeach; ?>
					   </p>
					    </div>
					</div>
<?php       endif; ?>
</div>
<?php   endforeach; ?>

