<?php

/**
 * @copyright Copyright (c) Metaways Infosystems GmbH, 2014
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 */

$positionItem = $this->get( 'positionItem', array() );
$productItems = $this->get( 'productItems', array() );
$type = $this->get( 'type', array() );
$attrTypes = $this->get( 'attributeTypes', array() );
$detailTarget = $this->config( 'client/html/catalog/detail/url/target' );
$detailController = $this->config( 'client/html/catalog/detail/url/controller', 'catalog' );
$detailAction = $this->config( 'client/html/catalog/detail/url/action', 'detail' );
$detailConfig = $this->config( 'client/html/catalog/detail/url/config', array() ); 
$enc = $this->encoder();
$langCode = $this->get( 'langCode', '' );

?>

<?php foreach( $positionItem as $id => $item ) : ?>
                <?php  if( isset( $productItems[$id] ) ) { $productItem = $productItems[$id]; ?>
                <?php  $params = array( 'd_name' => $productItem->getName( 'url' ), 'd_prodid' => $productItem->getId() ); }?>
                <div class="big"> <a href="<?php echo $enc->attr( $this->url( $detailTarget, $detailController, $detailAction, $params, array(), $detailConfig ) ); ?>">
                        <?php $mediaItem = reset($productItem->getRefItems( 'media', 'default', 'RF_PrimaryImage' )); ?>
	                    <div class="teaserboxen_vollbild_drei_raster_image">
	                    <?php if($mediaItem) : ?>
	                        <img src="<?php echo $this->content( $mediaItem->getPreview() ); ?>"  width="570" height="204" alt=""/>
	                    <?php endif; ?>
	                    </div>
	                  <div class="teaserboxen_vollbild_drei_raster_content_big setheight blue">
	                    <h2>
                         <?php if(count($productItem->getRefItems('text', 'TitleProductSubSeries'))>1): ?>
                             <?php foreach ($productItem->getRefItems('text', 'TitleProductSubSeries') as $lProduct): ?>
                                 <?php if($lProduct->getLanguageId()==$langCode):?>
                                     <?php $dName = $lProduct;?>
                                 <?php endif;?>
                             <?php endforeach;?>
                         <?php else: ?>
                             <?php $dName = reset($productItem->getRefItems('text', 'TitleProductSubSeries')); ?>
                         <?php endif; ?>	
                         <?php echo $enc->html( ($dName && !empty($dName->getContent())) ? $dName->getContent() :  $productItem->getName(), $enc::TRUST ); ?>
	                    </h2>
	                    <p> 
	                    <?php foreach( $productItem->getRefItems( 'text', array('AT_ProductDescription')) as $item ) : ?> 
                            <?php echo $enc->html( $item->getContent()); ?>
                        <?php endforeach; ?>
                        </p>
	                  </div>
                  </a>
                  </div>
<?php endforeach; ?>

