<div class="mediaelement mediaelement-image ">
	<f:if condition="{settings.detail.media.image.lightbox.enabled}">
		<f:then>
			<a href="{f:uri.image(src:'uploads/tx_news/{mediaElement.content}', width:'{settings.detail.media.image.lightbox.width}', height:'{settings.detail.media.image.lightbox.height}')}" title="{mediaElement.caption}" class="{settings.detail.media.image.lightbox.class}" rel="{settings.detail.media.image.lightbox.rel}">
				<f:image src="uploads/tx_news/{mediaElement.content}" title="{mediaElement.title}" alt="{mediaElement.alt}"  />
			</a>
		</f:then>
		<f:else>
			<f:image src="uploads/tx_news/{mediaElement.content}" title="{mediaElement.title}" alt="{mediaElement.alt}"  />
		</f:else>
	</f:if>
</div>
<f:if condition="{mediaElement.caption}">
	<p class="news-img-caption">
		{mediaElement.caption}
	</p>
</f:if>