<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:if condition="{settings.cssFile}">
  <n:includeFile path="{settings.cssFile}" />
</f:if>
<f:switch expression="{settings.templateLayout}">
  <f:case value="0">
    <div class="news ">
      <f:render section="content" />
    </div>
  </f:case>
  <f:case value="1">
    <div class="news_newsbox gutter-8">
      <div class="content-container-fluid">
        <div class="row">
          <f:render section="content" />
        </div>
      </div>
    </div>
  </f:case>
  <f:case value="2">
    <div class="news_special news_special_home gutter-8">
      <f:render section="content" />
    </div>
  </f:case>
  <f:case value="3">
    <div class="news_special news_special_horizontal gutter-8">
      <f:render section="content" />
    </div>
  </f:case>
  <f:case value="4">
    <div class="news_feed news_special news_vertikal gutter-8">
      <f:render section="content" />
    </div>
  </f:case>
  <f:case value="5">
    <div class="news_list module gutter-8">
      <f:render section="content" />
    </div>
  </f:case>
  <f:case value="6">
    <div class="news module gutter-8">
      <div class="content-container">
        <div class="row">
          <div class="col-xs-12">
            <div class="news_years_view">
              <f:render section="content" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </f:case>
  <f:case value="7">
    <div class="news_feed  blue">
      <f:render section="content" />
    </div>
  </f:case>
  <f:case value="8">
    <div class="news_feed ">
      <f:render section="content" />
    </div>
  </f:case>
  <f:case default="TRUE">
    <div class="news">
      <f:render section="content" />
    </div>
  </f:case>
</f:switch>
</html>