
#tx-solr-search {
    width: 72%;
    float: left;
}

#tx-solr-search-functions {
    width: 25%;
    float: left;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* search form */

.tx-solr-search-form {
	float: left;
    width: 100%;
    padding-bottom: 18px;
}

.tx-solr-q {
    border: 1px solid #cfcecf;
    width: 80%;
	    padding: 0px !important;
	margin: 0px !important;
    float: left;
}

.tx-solr-submit {
    background-color: #cfcecf;
    border: none;
    padding: 0px !important;
	margin: 0px !important;
    color: #494949;
    font-weight: bold;
    width: 20% !important;
    float: left !important;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* pagination */

#tx-solr-pagination {
    margin: 20px 0;
    height: 20px;
}

#tx-solr-pagination-results-per-page {
    float: left;
}

#tx-solr-pagination-results-per-page select {
    margin-left: 5px;
}

.tx-solr-pagination-page-browser {
    float: right;
}

.tx-solr-pagination-page-browser ul {
    padding-top: 2px;
    margin-top: 10px;
    text-align: center;
    list-style: none inside none;
    width: 100%;
}

.tx-solr-pagination-page-browser li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0 5px 0 0
}

.tx-solr-pagination-page-browser .pages {
    width: 80%
}

.tx-solr-pagination-page-browser .pages ol {
    display: inline;
    margin: 0;
    padding: 0 10px
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* search functions */

#tx-solr-search-functions div.secondaryContentSection {
    padding: 0 0 10px 0;
    margin: 0 10px 2.4em 0;
    width: 100%;
}

#tx-solr-search-functions .secondaryContentSection .csc-header {
    padding-left: 10px;
}

#tx-solr-search-functions .secondaryContentSection .csc-header h1,
#tx-solr-search-functions .secondaryContentSection .csc-header h2,
#tx-solr-search-functions .secondaryContentSection .csc-header h3 {
    width: 100%;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* faceting */

#tx-solr-faceting .facets .csc-header {
    padding: 3px 0 3px 10px;
}

#tx-solr-faceting .facets .facet-option-list {
    padding: 5px 0 10px 0;
}

#tx-solr-faceting .facets .facet-type-numericRange .facet-option-list {
    width: 85%;
}

#tx-solr-faceting .facets .facet-label {
    background-color: #cfcecf;
    color: #fff;
    font-weight: bold;
}

#tx-solr-faceting .facets .facet-result-count {
    color: #999;
}

#tx-solr-faceting .facets .dateselector {
    margin-right: 5px;
    width: 85px;
}

#tx-solr-facets-in-use li {
    list-style-type: none;
    margin-left: 10px;
}

#tx-solr-facets-in-use .facets-remove-all {
    margin-top: 10px;
}

#tx-solr-faceting .facets li {
    list-style-type: none;
    margin-left: 0;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* sorting */

#tx-solr-sorting li {
    list-style-type: none;
    margin-left: 10px;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* results */

#tx-solr-search .tx-solr-search-word {
    font-weight: bold;
}

#tx-solr-search .results-list {
    margin-top: 10px;
}

#tx-solr-search .results-list li {
    list-style: none inside;
    margin-left: 0;
}

.results-entry {
    background-color: #ededed;
    margin-bottom: 20px;
	padding:15px;
}

.results-elevated {
    border: 1px solid #cfcecf;
    padding: 5px;
    background: #ffffef;
}

.results-elevated-label {
    font-size: 50%;
    color: #cfcecf;
    padding-bottom: 5px;
}

.results-topic {
    font-weight: bold;
    margin-bottom: 5px;
}

.result-content {
    clear: both;
}

.results-highlight {
    background: #fdee53;
}

#tx-solr-search ul.references li {
    list-style-type: disc;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* relevance */

.relevance {
    width: 100%;
    padding-bottom: 17px;
    float: left;
}

.relevance-label,
.relevance-bar,
.relevance-percent {
    float: left;
    margin-right: 3px;
}

.relevance-bar {
    height: 20px;
    padding-top: 3px;
}

.tx-solr-relevance-bar {
    width: 100px;
    height: 8px;
    border: 1px solid #ccc;
    font-size: 1px;
    padding: 1px;
}

.tx-solr-relevance,
.tx-solr-relevance-fill {
    margin-right: 0 !important;
    height: 8px;
    padding: 0;
    float: left;
}

.tx-solr-relevance {
    background-color: #f18f0b;
}

.tx-solr-relevance-fill {
    background-color: #ccc;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* frequent searches */

#tx-solr-frequent-searches ul {
    padding-right: 10px;
}

#tx-solr-frequent-searches li {
    list-style-type: none;
    margin-left: 10px;
    display: inline;
}

.tx-solr-frequent-term-14 {
    font-size: 14px;
}
.tx-solr-frequent-term-15 {
    font-size: 15px;
}
.tx-solr-frequent-term-16 {
    font-size: 16px;
}
.tx-solr-frequent-term-16 {
    font-size: 16px;
}
.tx-solr-frequent-term-17 {
    font-size: 17px;
}
.tx-solr-frequent-term-18 {
    font-size: 18px;
}
.tx-solr-frequent-term-19 {
    font-size: 19px;
}
.tx-solr-frequent-term-20 {
    font-size: 20px;
}
.tx-solr-frequent-term-21 {
    font-size: 21px;
}
.tx-solr-frequent-term-22 {
    font-size: 22px;
}
.tx-solr-frequent-term-23 {
    font-size: 23px;
}
.tx-solr-frequent-term-24 {
    font-size: 24px;
}
.tx-solr-frequent-term-25 {
    font-size: 25px;
}
.tx-solr-frequent-term-26 {
    font-size: 26px;
}
.tx-solr-frequent-term-27 {
    font-size: 27px;
}
.tx-solr-frequent-term-28 {
    font-size: 28px;
}
.tx-solr-frequent-term-29 {
    font-size: 29px;
}
.tx-solr-frequent-term-30 {
    font-size: 30px;
}
.tx-solr-frequent-term-31 {
    font-size: 31px;
}
.tx-solr-frequent-term-32 {
    font-size: 32px;
}
.tx-solr-frequent-term-33 {
    font-size: 33px;
}
.tx-solr-frequent-term-34 {
    font-size: 34px;
}
