<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:s="http://typo3.org/ns/ApacheSolrForTypo3/Solrfluid/ViewHelpers"
      data-namespace-typo3-fluid="true"
>

    <h5 class="facet-label"><s:translate key="{facet.label}" extensionName="solr">Content Type</s:translate></h5>
    <ul class="facet-option-list facet-type-options fluidfacet" data-facet-name="{facet.name}" data-facet-label="{facet.label}">
        <f:for each="{facet.options}" as="option" iteration="iteration">
            <li class="facet-option{f:if(condition:'{iteration.index} > 9', then:' tx-solr-facet-hidden')}" data-facet-item-value="{option.value}">
				+ <a class="facet solr-ajaxified" href="{s:uri.facet.addFacetItem(facet: facet, facetItem: option)}"><s:translate key="{option.label}" extensionName="solr" /></a>
            </li>
        </f:for>
        <f:if condition="{facet.options -> f:count()} > 10">
            <li>
                <a href="#" class="tx-solr-facet-show-all" data-label-more="{s:translate(key:'faceting_showMore', extensionName:'solr')}" data-label-less="{s:translate(key:'faceting_showFewer', extensionName:'solr')}">
                    <s:translate key="faceting_showMore" extensionName="solr">Show more</s:translate>
                </a>
            </li>
        </f:if>
    </ul>

</html>
