<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  xmlns:s="http://typo3.org/ns/ApacheSolrForTypo3/Solrfluid/ViewHelpers"
	  data-namespace-typo3-fluid="true"
		>

	<h5 class="facet-label">{facet.label}</h5>
	<div class="fluidfacet facet-type-numericRange"
		data-facet-name="{facet.name}"
		data-facet-label="{facet.label}"
		data-range-min="{facet.range.startInResponse}"
		data-range-max="{facet.range.endInResponse}"
		data-range-min-selected="{facet.range.startRequested}"
		data-range-max-selected="{facet.range.endRequested}"
		data-range-gap="{facet.gap}"
		data-facet-url="{s:uri.facet.setFacetItem(facet: facet, facetItemValue: '___FROM___-___TO___')}"
	>
	</div>
	<div id="facet-{facet.name}-value">
		<f:if condition="{facet.isUsed}">
			<f:then>{facet.range.startRequested} - {facet.range.endRequested}</f:then>
			<f:else>{facet.range.startInResponse} - {facet.range.endInResponse}</f:else>
		</f:if>
	</div>

</html>