<?php

/**
* @copyright Copyright (c) Metaways Infosystems GmbH, 2014
* @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
*/

$attrTypes = $this->get( 'attrTypes', array() );
$groupItems = $this->get( 'groupItems', array() );
$unitValues = $this->get( 'unitValues', array() );
$langCode = $this->get( 'langCode', '' );
$enc = $this->encoder();
$atexCodes = $this->get( 'atexCodes','');
?>
<div class="table_details">
    <table>
        <tbody>
            <?php foreach( $groupItems as $type => $attrItems ) : ?>
            <?php $values=array(); ?>
            <?php foreach( $attrItems as $attrItem ) : ?>
            <?php $val= method_exists($attrItem,'getContent') ? $attrItem->getContent(): ($langCode=='de' && is_numeric($attrItem->getName()) ? str_replace('.', ',', $attrItem->getName()): $attrItem->getName()); ?>
            <?php $values[]= $val;?>
            <?php endforeach; ?>
            <?php if(count($values)):?>
            <?php sort($values);?>
            <tr>
                <td><?php echo isset($attrTypes[$type]) ? $attrTypes[$type]: $attrItem->getTypeLabel(); ?></td>
                <td>
                    <?php if(in_array($attrItem->getType(),$atexCodes)): ?>
                        <img src="/fileadmin/tx_aimeos/icons/02198.png" alt="" title="" class="imgATEX">
                    <?php endif; ?>
                    <?php echo nl2br(implode(', ',$values)); ?>
                    <?php if(($attrItem->getUnit() || $attrItem->getUnitvalue()) && (isset($unitValues['UnitID'][$attrItem->getUnit()]) || isset($unitValues['UnitID'][$attrItem->getUnitvalue()]))):?>
                    <span><?php echo $unitValues['UnitID'][!empty($attrItem->getUnitvalue())?$attrItem->getUnitvalue():$attrItem->getUnit()]; ?></span>
                    <?php endif;?>
                </td>
            </tr>
            <?php endif; ?>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>
