<?php

/**
* @copyright Copyright (c) Metaways Infosystems GmbH, 2014
* @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
*/

$attrTypes = $this->get( 'attrTypes', array() );
$groupItems = $this->get( 'groupItems', array() ); 
$enc = $this->encoder();
?>
<div class="table_details">
    <table>
        <tbody>
            <?php foreach( $groupItems as $type => $attrItems ) : ?>
            <?php   foreach( $attrItems as $attrItem ) : $classes = ""; ?>
            <?php       if( isset( $subAttrDeps[ $attrItem->getId() ] ) ) : ?>
            <?php           $classes .= ' subproduct'; ?>
            <?php           foreach( $subAttrDeps[ $attrItem->getId() ] as $prodid ) { $classes .= ' subproduct-' . $prodid; } ?>
            <?php       endif; ?>
            <tr>
                <td><?php echo $enc->html(isset($attrTypes[$type]) ? $attrTypes[$type]: ''); ?></td>
                <td><?php echo $enc->html(method_exists($attrItem,'getContent') ? $attrItem->getContent(): $attrItem->getName() ); ?></td>
            </tr>
            <?php   endforeach; ?>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>