{namespace vh=In2code\Powermail\ViewHelpers}
<f:if condition="{field.css}">
	<f:then>
		<div class="col-xs-12 powermail_fieldwrap powermail_fieldwrap_type_select powermail_fieldwrap_{field.marker} {field.css} {settings.styles.framework.fieldAndLabelWrappingClasses}">
	</f:then>
</f:if>

<div class="col-sm-6 col-xs-12 powermail_fieldwrap powermail_fieldwrap_type_select powermail_fieldwrap_{field.marker} {field.css} {settings.styles.framework.fieldAndLabelWrappingClasses} select_new">
	<label for="powermail_field_{field.marker}" class="{settings.styles.framework.labelClasses}" title="{field.description}">
		<vh:string.RawAndRemoveXss>{field.title}</vh:string.RawAndRemoveXss><f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if>
	</label>
	<div class="{settings.styles.framework.fieldWrappingClasses}">
		<vh:Form.SelectField
				options="{field.modifiedSettings}"
				property="{field.marker}"
				class="powermail_select selecter {settings.styles.framework.fieldClasses} {vh:Validation.ErrorClass(field:field, class:'powermail_field_error')}"
				id="powermail_field_{field.marker}"
				additionalAttributes="{vh:Validation.ValidationDataAttribute(field:field)}"
				multiple="{field.multiselectForField}"
				value="{vh:Misc.PrefillField(field:field, mail:mail)}"
				defaultOption="{field.title}"				/>

		<f:if condition="{field.multiselect}">
			<f:if condition="{settings.validation.client}">
				<div class="powermail_field_error_container powermail_field_error_container_{field.marker}"></div>
			</f:if>
		</f:if>
	</div>
</div>
<f:if condition="{field.css}">
	<f:then>
		</div>
	</f:then>
</f:if>