{namespace vh=In2code\Powermail\ViewHelpers}

<div class="col-xs-12 powermail_fieldwrap powermail_fieldwrap_type_textarea powermail_fieldwrap_{field.marker} {field.css} {settings.styles.framework.fieldAndLabelWrappingClasses}">

	<label for="powermail_field_{field.marker}" class="{settings.styles.framework.labelClasses}" title="{field.description}">
		<vh:string.RawAndRemoveXss>{field.title}</vh:string.RawAndRemoveXss><f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if>
	</label>

	<div class="{settings.styles.framework.fieldWrappingClasses}">
		<f:form.textarea
				cols="20"
				rows="9"
				id="powermail_field_{field.marker}"
				property="{field.marker}"
				placeholder="{field.placeholder}"
				value="{vh:Misc.PrefillField(field:field, mail:mail)}"
				additionalAttributes="{vh:Validation.ValidationDataAttribute(field:field)}"
				class="powermail_textarea {settings.styles.framework.fieldClasses} {vh:Validation.ErrorClass(field:field, class:'powermail_field_error')}" />
		</div>
</div>
