<?php

/**
 * @copyright Copyright (c) Metaways Infosystems GmbH, 2012
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 */

$enc = $this->encoder();
$attrTypes = $this->get( 'attributeTypes', array() );
$attrValues = $this->get('detailProductAttributeItems', array()); 
$langCode = $this->get( 'langCode', '' );
?>
<?php if( isset( $this->detailProductItem ) ) : ?>
<div class="product_detail module gutter-8">
<div class="content-container">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 description">
    <h1 class="head-line-h1">
        <?php echo $enc->html($this->detailProductItemParent->getSubSeriesNameCalc($langCode,$this->detailProductItem) , $enc::TRUST ); ?>
    </h1>
    <h3 class="grey"></h3>

<?php if( $this->detailProductItemParent ) : ?>	
<div class="icons_area">
<?php   $mediaItems = $this->detailProductItemParent->getRefItems( 'media', 'default', array('RF_IconsCalc','RF_Icons','RF_ProductLogo') );?>
<?php   if( count( $mediaItems ) > 0 ) : ?>
<?php       foreach( $mediaItems as $id => $mediaItem ) : ?>
<?php       $previewUrl = $mediaItem->getUrl(); ?>
            <div class="icon">
                <div class="img">
                    <img src="<?php echo $previewUrl; ?>" height="68" width="68"/>
                 </div>
                 <div class="hover"><?php echo $mediaItem->getLabel(); ?></div>
            </div>
<?php       endforeach; ?>
<?php   endif; ?>
</div>


<div class="table_details">
    <table>
<?php foreach( $this->detailProductItem->getRefItems( 'attribute', 'AT_ProductDescription') as $item ) : ?> 
<tr>
    <td><?php echo $enc->html( isset($attrTypes[$item->getType()]) ? $attrTypes[$item->getType()] : $item->getTypeLabel(), $enc::TRUST ).': '; ?></td>
	<td><?php echo $enc->html( isset($attrValues[$item->getId()])? $attrValues[$item->getId()]->getName(): $item->getName()); ?></td>
</tr>	
<?php endforeach; ?>

<tr>
<?php foreach( $this->detailProductItem->getRefItems( 'text', 'AT_ProductType') as $item ) : ?> 
    <td><?php echo $enc->html( isset($attrTypes['AT_ProductType'])? $attrTypes['AT_ProductType'] : $item->getTypeLabel(), $enc::TRUST ).': '; ?></td>
    <td><?php echo $enc->html( $item->getContent()); ?></td>
<?php endforeach; ?>
</tr>
<?php foreach( $this->detailProductItem->getRefItems( 'attribute', 'AT_SAP_MainMaterialID') as $item ) : ?> 
<tr>
    <td><?php echo $enc->html( isset($attrTypes[$item->getType()]) ? $attrTypes[$item->getType()] : $item->getTypeLabel(), $enc::TRUST ).': '; ?></td>
	<td><?php echo $enc->html( isset($attrValues[$item->getId()])? $attrValues[$item->getId()]->getName(): $item->getName()); ?></td>
</tr>	
<?php endforeach; ?>
<?php $webCodePss = reset($this->detailProductItemParent->getRefItems( 'text', 'AT_WebCode' )); ?>
<?php   if( $webCodePss ) : ?>
<tr>
    <td><?php echo $enc->html( isset($attrTypes[$webCodePss->getType()]) ? $attrTypes[$webCodePss->getType()] : $webCodePss->getTypeLabel(), $enc::TRUST ).': '; ?></td>
    <td><?php echo $enc->html( $webCodePss->getContent()); ?></td>
</tr>
<?php endif; ?>
<?php echo $this->partial( 'catalog/html/common/partials/stock', 'common/partials/stock-default.html', array('productItem'=>$this->detailProductItem, 'mode'=>'detail') ); ?>
    </table>
</div>

<?php if( count(empty( $this->detailProductItemParent->getRefItems('text', 'AT_Highlights'))) || count(empty( $this->detailProductItem->getRefItems('text', 'AT_Highlights'))) ) : ?>
<div class="highlights">
<?php $highlights = count(empty( $this->detailProductItem->getRefItems('text', 'AT_Highlights')))?$this->detailProductItemParent->getRefItems('text', 'AT_Highlights'):$this->detailProductItemParent->getRefItems('text', 'AT_Highlights') ?>
<?php foreach( $highlights as $textItem ) : ?> 
            <ul>
            <?php $values = (array)explode('</br>',$textItem->getContent()); ?>
             <?php foreach ($values as $v) :?>
                   <li><?php echo $enc->html( $v, $enc::TRUST ); ?></li>
              <?php endforeach; ?>
            </ul>
<?php endforeach; ?>
</div>
<?php endif; ?>



<?php endif; ?>

<?php echo $this->basicBody; ?>
</div>
<?php endif; ?>
