<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  xmlns:s="http://typo3.org/ns/ApacheSolrForTypo3/Solrfluid/ViewHelpers">

<f:layout name="Main"/>

<f:section name="main">

	<div id="tx-solr-search">

		<f:render partial="Search/Form" section="Form" arguments="{search:search, additionalFilters:additionalFilters}" />

		<f:if condition="{resultSet.usedQuery.keywordsCleaned}">
			<span class="searched-for">
				<s:translate key="results_searched_for" arguments="{0:'\"{resultSet.usedQuery.keywordsCleaned}\"'}">Searched for %s</s:translate>
			</span>
		</f:if>

		<f:if condition="{resultSet.hasSpellCheckingSuggestions}">
			<f:then>
				<s:translate key="didYouMean">Did you mean</s:translate>
				<f:for each="{resultSet.spellCheckingSuggestions}" as="suggestion">
					<f:link.page additionalParams="{q:suggestion.suggestion}" noCacheHash="1">{suggestion.suggestion}</f:link.page>
				</f:for> ?
			</f:then>
		</f:if>

		<f:if condition="{resultSet.usedSearch.numberOfResults}">
			<span class="result-found">
				<s:translate key="results_found" arguments="{0:resultSet.usedSearch.numberOfResults, 1: resultSet.usedSearch.queryTime}">Found %d results in %d seconds</s:translate>
			</span>

			<span class="result-range">
				<s:pageBrowserRange>
					<s:translate key="results_range" arguments="{0:from, 1: to, 2: total}">Results %d until %d of %d</s:translate>
				</s:pageBrowserRange>
			</span>
		</f:if>

		<f:if condition="{hasSearched}">
			<f:if condition="{resultSet.usedSearch.numberOfResults}">
				<f:render partial="Result/PerPage" section="PerPage" arguments="{resultSet: resultSet}" />
			</f:if>
			<s:widget.resultPaginate resultSet="{resultSet}">
				<ol start="{pagination.displayRangeStart}" class="results-list">
					<f:for each="{documents}" as="document">
						<f:render partial="Result/Document" section="Document" arguments="{resultSet:resultSet, document:document}" />
					</f:for>
				</ol>
			</s:widget.resultPaginate>
		</f:if>

	</div>

	<div id="tx-solr-search-functions">
		<f:if condition="{hasSearched}">
			<f:render partial="Result/Sorting" section="Sorting" arguments="{resultSet:resultSet}" />
			<f:render partial="Result/Facets" section="Facets" arguments="{resultSet:resultSet}" />
		</f:if>
		<f:render partial="Search/LastSearches" section="LastSearches" arguments="{resultSet:resultSet}" />
		<f:render partial="Search/FrequentlySearched" section="FrequentlySearched" />
	</div>

</f:section>