<f:layout name="Default"/>
<f:section name="Header">

    <f:render partial="Header/All" arguments="{_all}" />

</f:section>
<f:section name="Main">

    <f:if condition="{records}">
        <div class="panel-group" id="accordion-{data.uid}" role="tablist" aria-multiselectable="true">
            <f:for each="{records}" as="record" iteration="iteration">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="accordion-heading-{data.uid}-{record.data.uid}">
                        <h4 class="panel-title">
                            <a class="{f:if(condition: iteration.isFirst, else:'collapsed')}"
                               role="button"
                               data-toggle="collapse"
                               data-parent="#accordion-{data.uid}"
                               href="#accordion-{data.uid}-{record.data.uid}"
                               aria-expanded="{f:if(condition: iteration.isFirst, then: 'true', else: 'false')}"
                               aria-controls="accordion-{data.uid}-{record.data.uid}">
                                {record.data.header}
                            </a>
                        </h4>
                    </div>
                    <div id="accordion-{data.uid}-{record.data.uid}" class="panel-collapse collapse " role="tabpanel" aria-labelledby="accordion-heading-{data.uid}-{record.data.uid}">
                        <div class="panel-body">

                            <f:if condition="{record.files}">
                                <f:then>
                                    <div class="row">
                                        <div class="{f:if(condition: '{record.data.mediaorient} == 0', else: 'col-md-push-6 ')}col-md-6">
                                            <f:render partial="Media/Gallery" arguments="{files: record.files, data: record.data, settings: settings}" />
                                        </div>
                                        <div class="{f:if(condition: '{record.data.mediaorient} == 0', else: 'col-md-pull-6 ')}col-md-6">
                                                <f:format.html>{record.data.bodytext}</f:format.html>
                                        </div>
                                    </div>
                                </f:then>
                                <f:else>
                                    <f:format.html>{record.data.bodytext}</f:format.html>
                                </f:else>
                            </f:if>

                        </div>
                    </div>
                </div>
            </f:for>
        </div>
    </f:if>

</f:section>

<f:section name="video">
    <div class="embed-responsive embed-responsive-16by9">
        <f:media class="embed-responsive-item" file="{media}" width="{settings.media.width}" height="{settings.media.height}" />
    </div>
</f:section>

<f:section name="image">
    <div class="image-wrap">
        <figure class="image">
            <f:link.typolink parameter="{media.link}">
                <f:media file="{media}" width="{settings.media.width}" height="{settings.media.height}" />
            </f:link.typolink>
            <f:if condition="{media.description}">
                <figcaption class="caption">{media.description}</figcaption>
            </f:if>
        </figure>
    </div>
</f:section>

<f:section name="text">
    <div class="text">
        <f:format.html>{text}</f:format.html>
    </div>
</f:section>
