<f:layout name="Default"/>
       
<f:section name="Header">
 <div class="sitemap">
    <f:render partial="Header/All" arguments="{_all}" />
</div>
</f:section>
<f:section name="Main">
 <div class="sitemap">
    <f:render section="Menu" arguments="{menu: menu}" />
</div>
</f:section>
<f:section name="Menu">

    <f:if condition="{menu}">

		<ul>
            <f:for each="{menu}" as="page">
                <li>
                    <f:link.page pageUid="{page.data.uid}">{page.data.title}</f:link.page>
                    <f:render section="Menu" arguments="{menu: page.children}" />
                </li>
            </f:for>
        </ul>
	
    </f:if>

</f:section>
