<f:if condition="{settings.breadcrumb.enable}">
  <f:if condition="{breadcrumb}">
    <div class="breadcrumb for_content gutter-8">
      <div class="content-container">
        <div class="row">
          <div class="col-xs-12">
            <ul class="breadcrumb_ul">
              <f:for each="{breadcrumb}" as="item">
                <li class="{f:if(condition: item.current, then: 'active')}">
                  <f:if condition="{item.current}">
                    <f:then>
                      <f:format.html parseFuncTSPath="lib.parseFunc">{item.title}</f:format.html>
                    </f:then>
                    <f:else>
                      <f:link.page pageUid="{item.data.uid}" title="{item.title}">
                        <f:format.html parseFuncTSPath="lib.parseFunc">{item.title}</f:format.html>
                      </f:link.page>
                    </f:else>
                  </f:if>
                </li>
              </f:for>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </f:if>
</f:if>
