<div id="move-to-top"></div>
<header id="topnavi" class="navbar navbar-{themeNavigationstyle}{f:if(condition:logoFile,then:' navbar-has-image')}{f:if(condition:themeNavigationtype, else:' navbar-top', then:' navbar-{themeNavigationtype} navbar-fixed-{themeNavigationtype}')}">
    <div class="row language_url">
        <div class="content_element">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navitop_right">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-2 col-md-offset-2 navitop_left_side">
                        <f:cObject typoscriptObjectPath="navitopleft" />
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-6 hidden-xs navitop_right_side">
                        <f:cObject typoscriptObjectPath="navitopright" />
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 navitop_language">
                        <f:cObject typoscriptObjectPath="language_switch" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main_element">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 logo_background">
                <a href="/"><img src="fileadmin/user_upload/gfx/logox2_main.png" alt="logo" class="img-responsive"></a>
                <a href="/"><img src="fileadmin/user_upload/gfx/logo_stickyx2.png" alt="logo" class="img-responsive sticky_logo" style="display: none"> </a>
            </div>
        </div>
        <div class="mainmenu">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <nav class="navbar-collapse collapse flyout_1" role="navigation">
                <div class="logo_flyout_1"><img src="/fileadmin/user_upload/gfx/logox2.png" alt="logo" class="img-responsive">
                </div>
                <div class="close_button flyout_1"><img src="/fileadmin/user_upload/gfx/close_buttonx2.png" alt="close" class="img-responsive">
                </div>
                <a href="" class="flyout_2_link"><img src="/fileadmin/user_upload/gfx/flyout_2_icon_big.png" alt="close" class="img-responsive" width="30" height="30">
                </a>
				
                <f:cObject typoscriptObjectPath="product_nav" />
				<f:cObject typoscriptObjectPath="product_nav_mobile" />
					<f:if condition="{f:cObject(typoscriptObjectPath: 'lib.language')} == 'de'">
				<f:then>
					   <f:cObject typoscriptObjectPath="corporate_nav" />
					   <f:cObject typoscriptObjectPath="corporate_nav_mobile" />
				</f:then>
				<f:else>
					   <f:cObject typoscriptObjectPath="corporate_nav_en" />
					    <f:cObject typoscriptObjectPath="corporate_nav_en_mobile" />
				</f:else>
				
			</f:if>
				
            </nav>
            <div class="meta_wrapper">
                <div class="meta_navi_mobile">
					<f:if condition="{f:cObject(typoscriptObjectPath: 'lib.language')} == 'de'">
						<f:then>
							    <div class="item vertrieb tx_locationsearch_open"> <img src="fileadmin/user_upload/gfx/meta_vertrieb.png" alt="meta_logo" /> vertriebs-
									<br /> standorte
								</div>
								<div class="item email expert_mail_newsletter"> <img src="fileadmin/user_upload/gfx/meta_email.png" alt="meta_logo" /> expert mail
									<br /> newsletter
								</div>
								<div class="item kontakt"> <img src="fileadmin/user_upload/gfx/meta_kontakt.png" alt="meta_logo"/> kontakt-
									<br /> formular </div>
								<div class="item beratung"> <img src="fileadmin/user_upload/gfx/meta_beratung.png" alt="meta_logo"/> Chat</div>
						</f:then>
						<f:else>
							    <div class="item vertrieb tx_locationsearch_open"> <img src="fileadmin/user_upload/gfx/meta_vertrieb.png" alt="meta_logo" /> ALL  <br /> DISTRIBUTION 
									
								</div>
								<div class="item email expert_mail_newsletter"> <img src="fileadmin/user_upload/gfx/meta_email.png" alt="meta_logo" /> expert mail
									<br /> newsletter
								</div>
								<div class="item kontakt"> <img src="fileadmin/user_upload/gfx/meta_kontakt.png" alt="meta_logo"/> Contact 
									<br /> form </div>
								<div class="item beratung"> <img src="fileadmin/user_upload/gfx/meta_beratung.png" alt="meta_logo"/> Chat</div>
						</f:else>
					</f:if>
				
                   
                </div>
            </div>
            <span class="navbar-header-border-bottom"></span> </div>
        <div class="search">
			<div class="lupe"></div>
            <img class="person_mobile_contact" src="fileadmin/user_upload/gfx/phone_icon_big.png" alt="meta_logo" />
			<div class="tx-solr-search-form">
                <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.language')} == 'de'">
                    <f:then>
                        <form method="get" id="tx-solr-search-form-pi-results" action="/de/global/suchergebnisse/" data-suggest="/?eID=tx_solr_suggest&amp;id=429&amp;L=1" accept-charset="utf-8">
                            <input type="hidden" name="L" value="0">
                            <input type="hidden" name="id" value="429">
                            <input type="text" class="tx-solr-q js-solr-q" name="q" value="" placeholder="Suchbegriff eingeben">
                            <input type="submit" class="tx-solr-submit" value="Suche">
                        </form>
                        <form id="tx-solr-search-form-pi-results_2" method="POST" action="/de/global/produkte/">
                           <input type="hidden" name="searchurl" id="searchurlx" value="/de/global/produkte/suchergebnisse/">
                           <input type="hidden" name="ajaxurl" id="ajaxurlx" value="/de/global/produkte/ajaxlist/?type=191351525&amp;ai[curr_page]=6">
                           <div class="content-webcode">
                              <section id="webcode_overview">
                                 <input class="value" type="text" name="ai[f_search]" value="" data-url="/de/global/produkte/search/?type=191351524" data-hint="Bitte geben Sie mindestens drei Zeichen ein" placeholder="Produktname oder Webcode eingeben" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                                 <input type="submit" class="tx-solr-submit-blue" value="Suche">
                                 <a class="webcode_overview" href="/de/global/produkte/webcode-uebersicht/">WebCode Übersicht</a>
                                 <!--<ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem"></ul>-->
                              </section>
                           </div>
                        </form>
                    </f:then>
                    <f:else>
                        <form method="get" id="tx-solr-search-form-pi-results" action="/en/global/search-results/" data-suggest="/?eID=tx_solr_suggest&amp;id=429&amp;L=1" accept-charset="utf-8">
                            <input type="hidden" name="L" value="1">
                            <input type="hidden" name="id" value="429">
                            <input type="text" class="tx-solr-q js-solr-q" name="q" value="" placeholder="Keyword ">
                            <input type="submit" class="tx-solr-submit" value="Search">
                        </form>
                        <form id="tx-solr-search-form-pi-results_2" method="POST" action="/en/global/products/">
                           <input type="hidden" name="searchurl" id="searchurlx" value="/en/global/products/search-results/">
                           <input type="hidden" name="ajaxurl" id="ajaxurlx" value="/en/global/products/ajaxlist-en/?type=191351525&amp;ai[curr_page]=6">
                           <div class="content-webcode">
                              <section id="webcode_overview">
                                 <input class="value " type="text" name="ai[f_search]" value="" data-url="/en/global/products/search-en/?type=191351524" data-hint="Please enter at least three characters" placeholder="Product name or webcode" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                                 <input type="submit" class="tx-solr-submit-blue" value="search">
                                <a class="webcode_overview" href="/en/global/products/webcode-overview/">Webcode overview</a>
                                 <!--<ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox"></ul>-->
                              </section>
                           </div>
                        </form>
                    </f:else>
                </f:if>
			</div>
        </div>
        <div class="person_mobile_content">
            <div class="person_mobile">

                <div class="layout_sticky_content_close"></div>
                <f:cObject typoscriptObjectPath="sticky_contact" />
            </div>
        </div>
        <div class="contact_mobile">
            <div class="layout_sticky_content_close"></div>
            <f:cObject typoscriptObjectPath="kontaktformular" />
        </div>
    </div>
    <div class="sticky_placeholder"></div>
</header>
<nav class="in-page-share">
    <ul>
        <li class="sharing contact"><div class="items"><span class="icon-facebook"></span></div>
            <div class="layout_sticky_more ">
			<f:if condition="{f:cObject(typoscriptObjectPath: 'lib.language')} == 'de'">
				<f:then>
						<span>Kontaktformular</span>
				</f:then>
				<f:else>
					<span>Contact Form</span>
				</f:else>
			</f:if>
			</div>
            
			<div class="layout_sticky_content">
                <div class="layout_sticky_content_close"></div>
                <f:cObject typoscriptObjectPath="kontaktformular" />
            </div>
        </li>
        <li class="sharing person">
            <div><span class="icon-twitter"></span></div>
            <div class="layout_sticky_more">
			
		
			<f:if condition="{f:cObject(typoscriptObjectPath: 'lib.language')} == 'de'">
				<f:then>
							<span>Direktkontakt</span>
				</f:then>
				<f:else>
					<span>Direct Contact</span>
				</f:else>
			</f:if>
			</div>
            <div class="layout_sticky_content">
                <div class="layout_sticky_content_close"></div>
                <f:cObject typoscriptObjectPath="sticky_contact" />
            </div>
        </li>
		<f:if condition="{f:cObject(typoscriptObjectPath: 'lib.language')} == 'de'">
				<f:then>
					 <f:cObject typoscriptObjectPath="avaya_chat_de" />
				</f:then>
				<f:else>
					 <f:cObject typoscriptObjectPath="avaya_chat_en" />
				</f:else>
			</f:if>
      
    </ul>
    <div class="slider_btn"><img src="fileadmin/user_upload/gfx/arrow_sticky_right.png" alt="slider button"/></div>
</nav>