<?php

/**
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 * @copyright Aimeos (aimeos.org), 2015
 */

$enc = $this->encoder();
$level = $this->get( 'level', 0 );
//$path = $this->get( 'path', array() );
$params = $this->get( 'params', array() );

$target = $this->config( 'client/html/catalog/list/url/target' );
$controller = $this->config( 'client/html/catalog/list/url/controller', 'catalog' );
$action = $this->config( 'client/html/catalog/list/url/action', 'list' );
$config = $this->config( 'client/html/catalog/list/url/config', array() );
$defaultImageBaseUrl = '';//'/fileadmin/' . $this->config('client/html/common/images/baseurl', '');
$catalogCategoryList = $this->get('catalogCategoryList',array());
$treeProducts = $this->get('treeProducts', array());
$langCode = $this->get( 'langCode', '' );
//\TYPO3\CMS\Extbase\Utility\DebuggerUtility::var_dump($catalogCategoryList);
$nodes = $this->get( 'nodes', array() );
//sorting nodes
$sorting = array();
foreach ($nodes as $node){
    $i = false;
    if($node instanceof MShop_Catalog_Item_Interface){
        $i = reset($node->getRefItems( 'attribute', array('DisplaySequence')));
    }else{
        if(isset($treeProducts[$node->getId()])){
            $i = reset($treeProducts[$node->getId()]->getRefItems( 'attribute', array('DisplaySequence')));
        }
    }
    $sorting[$i?$i->getName().$node->getId():$node->getId()] = $node;
}
ksort($sorting);
$hyphenation = array();
foreach ($this->config('client/html/catalog/words/hyphenation', array()) as $elm){
    $hyphenation[$elm['key']]=$elm['val'];
}

?>
         <div class="row  sameheight">
<?php foreach( $sorting as $item ) : ?>
    <?php if($item->getStatus() > 0 ) : ?>
        <?php $id = $item->getId(); $config = $item->getConfig(); ?>
        <?php $params['f_name'] = $item->getName( 'url' );?>
        <?php  $params['f_catid'] = $id; ?>
        <?php $target = isset($catalogCategoryList[$id])? $catalogCategoryList[$id] : 6;?>
        <?php $url = $this->url( $target, $controller, $action, $params, array(), $config ); ?>
        <?php $dName = reset($item->getRefItems('text', 'DisplayName')); ?>
        <?php if( count( $item->getChildren() ) > 0 ) : ?>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <?php if($item->getNode()->__get('level')==4):?>
            <div class="headline-row second_nesting">
                    <a class="cat-item" href="<?php echo $url; ?>">
                    <h3>
                    <?php $elName =  ($dName && !empty($dName->getContent())) ? $dName->getContent() :  $item->getName(); ?>
                    <?php echo $enc->html(strtr($elName,$hyphenation),$enc::TRUST); ?>
                    </h3>
                    </a>
            </div>
            <?php endif;?>
            <?php $values = array( 'nodes' => $item->getChildren(),'params' => $params, 'langCode'=>$langCode,'catalogCategoryList'=>$catalogCategoryList ); ?>
            <?php echo $this->partial( 'client/html/common/partials/tree', 'common/partials/home-default.html', $values ); ?>
            </div>
        <?php else: ?>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 small teaser">
                            <a class="cat-item" href="<?php echo $url ?>">
                                <div class="teaserboxen_normal_drei_raster_image">
                                <?php $mediaItems = $item->getRefItems('media', 'default',array('RF_Teaser')); ?>
                                <?php if (count($mediaItems)) :
                                    $mediaItem = reset($mediaItems);
                                    foreach ($mediaItems as $_mediaItem) {
                                        if ($_mediaItem->getLanguageId() == $langCode) {
                                            $mediaItem = $_mediaItem;
                                            break;
                                        }
                                    }
                                ?>
                                    <?php if ($mediaItem): ?>
                                    <?= $this->partial( 'client/html/common/partials/media-lazy', 
                                                       'common/partials/media-lazy.html', 
                                                       ['item' => $mediaItem, 
                                                               'itemAttributes' => [
                                                                       'class' => 'img-responsive lazy',
                                                                       'width' => '278',
                                                                       'height' => '204'
                                                               ]
                                                       ]); ?>
                                     <?php endif; ?>
                                 <?php else: ?>
                                                        <img class="img-responsive" src=""
                                                             data-src="/fileadmin/user_upload/artikel_4.jpg" width="278"
                                                             height="204" alt="">
                                                    <?php endif; ?>
                                
                                </div>
                                <div class="teaserboxen_normal_drei_raster_image_content setheight blue">
                                    <h3><?php $elName = ($dName && !empty($dName->getContent())) ? $dName->getContent() :  $item->getName(); ?>
                                        <?php echo $enc->html(strtr($elName,$hyphenation),$enc::TRUST); ?>
                                    </h3>
                                </div>
                            </a>
            </div> 
        <?php endif; ?>
    <?php endif; ?>
<?php endforeach; ?>
        </div>
