<?php

/**
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 * @copyright Aimeos (aimeos.org), 2015
 */

if( !isset( $this->item ) ) {
	return;
}

$enc = $this->encoder();
$boxAttributes = $this->get( 'boxAttributes', array() );
$itemAttributes = $this->get( 'itemAttributes', array() );

$item = $this->item;
$url = $item->getUrl();
$previewUrl = $item->getPreview();
$parts = explode( '/', $item->getMimetype() );

$boxattr = '';
foreach( $boxAttributes as $name => $value ) {
	$boxattr .= $name . ( $value != null ? '="' . $enc->attr( $value ) . '"' : '' ) . ' ';
}

$itemattr = '';
foreach( $itemAttributes as $name => $value ) {
	$itemattr .= $name . ( $value != null ? '="' . $enc->attr( $value ) . '"' : '' ) . ' ';
}

?>
<?php switch( $parts[0] ) : ?>
<?php	case 'image': ?>
	<img 
	<?php if(isset($itemAttributes['class']) && strpos($itemAttributes['class'],'lazy')):?>
	src="" data-src="<?php echo $enc->attr( $url ); ?>"
	<?php else:?>
	src="<?php echo $enc->attr( $url ); ?>"
	<?php endif;?> 
	title="<?php echo $enc->attr( $item->getName() ); ?>" <?php echo $itemattr; ?> />
<?php	break; ?>
<?php	default: ?>
<a href="<?php echo $enc->attr( $this->content( $url ) ); ?>" <?php echo $boxattr ?> ><!--
	--><img src="<?php echo $enc->attr( $this->content( $previewUrl ) ); ?>" title="<?php echo $enc->attr( $item->getName() ); ?>" <?php echo $itemattr ?> /><!--
<?php		echo $enc->html( $item->getName() ); ?>
--></a>
<?php endswitch; ?>
