<?php

/**
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 * @copyright Aimeos (aimeos.org), 2015
 */

$enc = $this->encoder();
$productItem = $this->get( 'productItem', null );
$mode = $this->get( 'mode', 'detail' );
?>
                      <?php if($productItem && ($stock=$productItem->getStockInfo())):?>
                      <?php $qty = $stock->getStockLevel();?>
                      <?php $backDate=new \DateTime($stock->getDateBack()); ?>
                      <?php $now = new \DateTime(); ?>
                      <?php $diff = $now->diff($backDate);?>
                      <?php $cl ='green'; $lb=''; ?>
                         <?php if($qty>=5):?>
                             <?php $lb= $enc->translate( 'client/html', 'Available in stock'); ?>
                         <?php elseif($qty>=1 && $qty<5): ?>
                             <?php $lb= $enc->translate( 'client/html', 'Only '.$qty.' items available'); ?>
                             <?php $cl ='yellow'; ?>
                         <?php else:?>
                              <?php $cl='orange'; ?>
                              <?php if($diff->days<=5):?>
                                 <?php $lb= $enc->translate( 'client/html', 'Available in the short term'); ?>
                              <?php elseif($diff->days>5 && $diff->days<=10):?>
                                 <?php $lb= $enc->translate( 'client/html', 'Available in 6 to 10 days'); ?>
                              <?php else: ?>
                                 <?php $lb= $enc->translate( 'client/html', 'On request'); ?>
                              <?php endif;?>
                         <?php endif;?>
                      <?php else:?>
                          <?php $lb= $enc->translate( 'client/html', 'On request'); ?>
                          <?php $cl='orange'; ?>
                      <?php endif;?>
                      <?php if($mode=='detail'):?>
                          <tr>
                             <td><?php echo $enc->translate( 'client/html', 'Availability'); ?></td>
                             <td><?php echo $lb; ?></div></td>
                         </tr>
                      <?php elseif($mode=='list'):?>
                          <div class="login-complete"><?php echo $enc->translate( 'client/html', 'Availability'); ?><span style="background-color: <?php echo $cl; ?>;"></span></div>
                          <div class="description"><?php echo $lb; ?></div>
                      <?php endif;?>
