<?php

/**
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 * @copyright Aimeos (aimeos.org), 2015
 */

$enc = $this->encoder();
$level = $this->get( 'level', 0 );
//$path = $this->get( 'path', array() );
$params = $this->get( 'params', array() );

$target = $this->config( 'client/html/catalog/list/url/target' );
$controller = $this->config( 'client/html/catalog/list/url/controller', 'catalog' );
$action = $this->config( 'client/html/catalog/list/url/action', 'list' );
$config = $this->config( 'client/html/catalog/list/url/config', array() );

$detailTarget = $target;//$this->config( 'client/html/catalog/detail/url/target' );
$detailController = $this->config( 'client/html/catalog/detail/url/controller', 'catalog' );
$detailAction = $this->config( 'client/html/catalog/detail/url/action', 'detail' );
$detailConfig = $this->config( 'client/html/catalog/detail/url/config', array() );

$treeProducts = $this->get('treeProducts', array());
$langCode = $this->get( 'langCode', '' );

$nodes = $this->get( 'nodes', array() );
//sorting nodes
$sorting = array();
foreach ($nodes as $node){
    $i = false;
    if($node instanceof MShop_Catalog_Item_Interface){
        $i = reset($node->getRefItems( 'attribute', array('DisplaySequence')));
    }else{
        if(isset($treeProducts[$node->getId()])){
            $i = reset($treeProducts[$node->getId()]->getRefItems( 'attribute', array('DisplaySequence')));
        }
    }
    $sorting[$i?$i->getName().$node->getId():$node->getId()] = $node;
}
ksort($sorting);

?>
<ul>
<?php foreach( $sorting as $item ) : ?>
    <?php if($item->getStatus() > 0 ) : ?>
        <?php $id = $item->getId(); $config = $item->getConfig(); ?>
        <?php $params['f_name'] = $item->getName( 'url' );?>
        <?php if($item instanceof MShop_Catalog_Item_Interface ) : ?>
            <?php  $params['f_catid'] = $id; unset($params['d_prodid']); ?>
            <?php $url = $this->url( $target, $controller, $action, $params, array(), $config ); ?>
        <?php else: ?>
            <?php  $params['d_prodid'] = $id; //unset($params['f_catid']); ?>
            <?php $url = $this->url( $detailTarget, $detailController, $detailAction, $params, array(), $detailConfig ); ?>
        <?php endif; ?>
        <li><a class="cat-item" href="<?php echo $enc->attr( $this->url( $target, $controller, $action, $params, array(), $config ) ); ?>">
                <?php if($item instanceof MShop_Catalog_Item_Interface ) : ?>
                    <?php $dName = reset($item->getRefItems('text', 'DisplayName')); ?>
                <?php else:?>
                <?php $productItem = isset($treeProducts[$item->getId()]) ? $treeProducts[$item->getId()] : null; ?>
                <?php if($productItem && count($productItem->getRefItems('text', 'TitleProductSubSeries'))>1): ?>
                    <?php foreach ($productItem->getRefItems('text', 'TitleProductSubSeries') as $lProduct): ?>
                        <?php if($lProduct->getLanguageId()==$langCode): ?>
                        	<?php $dName = $lProduct;?>
                        <?php endif;?>
                    <?php endforeach;?>
                <?php else: ?>
	                <?php $dName = $productItem ? reset($productItem->getRefItems('text', 'TitleProductSubSeries')): ''; ?>
                <?php endif; ?>                
                <?php endif;?> 
                <?php echo $enc->html( ($dName && !empty($dName->getContent())) ? $dName->getContent() :  $item->getName(), $enc::TRUST ); ?>
            </a>
                <?php if( $item instanceof MShop_Catalog_Item_Interface && count( $item->getChildren() ) > 0 ) : ?>
                    <?php $values = array( 'nodes' => $item->getChildren(),'params' => $params, 'level' => $level + 1, 'treeProducts'=> $this->get('treeProducts', array()), 'langCode'=>$langCode ); ?>
                        <div class="flyout_container">            
                        <?php echo $this->partial( 'client/html/common/partials/tree', 'common/partials/tree-default.html', $values ); ?>
                        </div>
                <?php endif; ?>
                <?php if( count( $item->getRefItems( 'product', null, 'default' )) > 0 ) : ?>
                    <?php $values = array( 'nodes' => $item->getRefItems( 'product', null, 'default' ),'params' => $params, 'level' => $level + 1, 'treeProducts'=> $this->get('treeProducts', array()),'langCode'=>$langCode ); ?>
                        <div class="flyout_container">
                        <?php echo $this->partial( 'client/html/common/partials/tree', 'common/partials/tree-default.html', $values ); ?>
                        </div>
                <?php endif; ?>
                
        </li>
    <?php endif; ?>
<?php endforeach; ?>
</ul>
