<div class="news">
  <div class="news_list calendarize gutter-8">
    <div class="content-container">
      <f:if condition="{settings.hidePagination}">
        <f:then>
          <div class="TE-04_vertical news_vertikal">
            <div class="row">
              <div class="col-xs-12 headline-row">
                <h2 class=" replace_news_subline">Alle Produkt news Ansehen</h2>
                <span class="more_news replace_news_header">Aktuelle Produkt Newssss</span> </div>
              <div class="col-xs-12 content-row">
               <div class="row">
                <f:render section="Main" />
				  </div>
              </div>
            </div>
          </div>
        </f:then>
        <f:else>
         <div class="row">
         	<div class="col-xs-12">
         		<f:render section="Main" />
         	</div>
         </div>
        </f:else>
      </f:if>
    </div>
  </div>
</div>
