.tx_locationsearch_locations {
	display: none;
	color: #fff;
	float: left;
	width: 100%;
	background: linear-gradient(left, #020b17 0%, #2a3139 50%, #2a3139 100%);
	background: -moz-linear-gradient(left, #020b17 0%, #2a3139 100%);
	background: -webkit-linear-gradient(left, #020b17 0%, #2a3139 100%);
	background: -ms-linear-gradient(left, #020b17 0%, #2a3139 100%);
	background: -o-linear-gradient(left, #020b17 0%, #2a3139 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#020b17, endColorstr=#2a3139, GradientType=1);
	padding-top: 20px;
	position: relative;
}
.tx_locationsearch_locations #locations_loading {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .8;
	background-image: url('/typo3conf/ext/location_search/Resources/Public/Images/loader.gif');
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 9;
}
.tx_locationsearch_locations #location_search_close {
	float: left;
	line-height: 50px;
	cursor: pointer;
	margin-left: 30px;
	background: url('/fileadmin/user_upload/gfx/accordion_close.png') no-repeat scroll;
	background-size: 15px 15px;
	cursor: pointer;
	width: 15px;
	height: 15px;
	display: block;
	font-size: 0;
}
.tx_locationsearch_locations p {
	color: #fff;
}
.tx_locationsearch_locations a, .tx_locationsearch_locations p > a {
	color: #fff;
}
.tx_locationsearch_locations a:hover, .tx_locationsearch_locations p>a:hover {
	color: #ff8700;
}
.tx_locationsearch_locations h3 {
	color: #fff;
}
.tx_locationsearch_locations a.button {
	cursor: pointer;
}
.tx_locationsearch_locations .top_cta_container {
	float: right;
}
#location_top {
	padding-left: 0;
	width: 0;
	transition: width .5s, padding-left .5s;
}
#location_top.open {
	padding-left: 20px;
	width: 250px;
}
.tx_locationsearch_locations .tab_navigation-line-slide {
	margin-bottom: 0;
}
.tx_locationsearch_locations .tab_navigation ul {
	float: left;
}
.tx_locationsearch_locations .tab_navigation ul li:hover {
	font-family: "UniversLTW01-57Condense 723821";
	padding-top: 24px;
}
.tx_locationsearch_locations .tab_navigation ul li.active:hover {
	font-family: "UniversLTW01-67BoldCn";
}
.tx_locationsearch_locations .tab_navigation ul li a {
	color: #fff;
}
.tx_locationsearch_locations .tab_navigation ul li.active a, .tx_locationsearch_locations .tab_navigation ul li a:active, .tx_locationsearch_locations .tab_navigation ul li a:hover, .tx_locationsearch_locations .tab_navigation ul li a:focus {
	color: #ff8700;
}
.tx_locationsearch_locations .tab_slider {
	display: none;
}
.tx_locationsearch_locations .mobile_regions {
	display: inline-block;
}
.tx_locationsearch_locations .mobile_country_list a {
	margin: 0;
}
#tx_locationsearch_locations_country_container a {
	color: #fff;
	padding: 20px 1px;
	display: block;
}
#tx_locationsearch_locations_country_container a:hover {
	color: #ff8700;
}
#tx_locationsearch_locations_country_container a h4 {
	margin-bottom: 0;
}
#tx_locationsearch_locations_sub_container {
	margin-top: 20px;
	padding-bottom: 20px;
	position: relative;
	height: 480px;
}
#tx_locationsearch_locations_sub_container ul {
	list-style: none;
	padding-left: 0;
	margin-left: -40px;
	margin-right: -40px;
}
#tx_locationsearch_locations_sub_container ul li {
	float: left;
	padding: 20px 40px;
	color: #fff;
}
#tx_locationsearch_locations_sub_container ul li a {
	color: #fff;
}
#tx_locationsearch_locations_sub_container ul li h4 {
	margin: 0;
}
.tx_locationsearch_back_button, #tx_locationsearch_locations_sub_container, #tx_locationsearch_locations_country_container, #tx_locationsearch_locations_locationlist, #tx_locationsearch_locations_locationsearch {
	display: none;
}
#tx_locationsearch_locations_locationsearch {
	position: relative;
	padding-top: 20px;
}
.tx_locationsearch_locations .button_container_bottom {
	position: absolute;
	bottom: 50px;
	width: 100%;
	text-align: center;
}
#tx_locationsearch_locations_locationsearch .button_container_bottom {
	bottom: auto;
}
#tx_locationsearch_locations_locationsearch .button_container_bottom a.button {
	background-color: transparent;
	text-transform: uppercase;
	cursor: pointer;
}
#tx_locationsearch_locations_locationsearch label {
	font-size: 21px;
	display: inline;
	float: left;
	line-height: 50px;
	font-weight: normal;
}
.tx_locationsearch_locations input {
	float: left;
	margin-top: 0;
	margin-left: 20px;
	color: #072a5b;
	padding-left: 20px;
}
.tx_locationsearch_locations a.button.blue {
	background: url('/fileadmin/user_upload/gfx/button_arrowx2.png') no-repeat scroll;
	background-size: 23px 16px;
	background-position: 93.3% 15px;
	color: #fff;
	background-color: #04285c;
	border: 0;
	padding: 16px 55px 17px 17px;
}
.tx_locationsearch_locations a.button.blue:hover {
	background-color: #eb7d00;
}
.tx_locationsearch_locations a.button.top {
	padding: 10px;
	background: none;
	border: 0;
}
.tx_locationsearch_locations a.button.top.active, .tx_locationsearch_locations a.button.top:hover {
	background-color: #04285c;
}
.tx_locationsearch_locations a.button.top.active:hover {
	background-color: #ff8700;
}
.tx_locationsearch_locations a.button.top img {
	width: 30px;
}
.tx_locationsearch_back_button {
	color: #929292;
	cursor: pointer;
	text-transform: uppercase;
}
.tx_locationsearch_back_button span::before {
	content: "";
	background: url('/typo3conf/ext/location_search/Resources/Public/Images/back-arrow.png') no-repeat scroll;
	background-size: 8px 15px;
	cursor: pointer;
	width: 8px;
	height: 15px;
	display: block;
	float: left;
	margin-right: 10px;
	margin-top: 4px;
}
.tx_locationsearch_locations .tx_locationsearch_back_button {
	position: absolute;
	left: 0px;
	bottom: 20px;
	color: #929292;
	cursor: pointer;
	text-transform: uppercase;
	z-index: 999;
}
.tx_locationsearch_locations .tx_locationsearch_back_button span::before {
	content: "";
	background: url('/typo3conf/ext/location_search/Resources/Public/Images/back-arrow.png') no-repeat scroll;
	background-size: 8px 15px;
	cursor: pointer;
	width: 8px;
	height: 15px;
	display: block;
	float: left;
	margin-right: 10px;
	margin-top: 4px;
}
.tx_locationsearch_locations .tx_locationsearch_back_button:hover span::before {
	background-image: url('/typo3conf/ext/location_search/Resources/Public/Images/back-arrow-hover.png');
}
.tx_locationsearch_direct_contact .tx_locationsearch_back_button {
	position: absolute;
	top: 20px;
	right: 20px;
	width: auto;
	height: auto;
}
#tx_locationsearch_locations_locationlist {
	padding-top: 20px;
}
#tx_locationsearch_locations_locationlist p {
	margin-bottom: 20px;
}
#tx_locationsearch_locations_locationlist .location_carousel, #tx_locationsearch_locations_locationlist .owl-carousel .owl-stage-outer, #tx_locationsearch_locations_locationlist .owl-carousel .owl-stage, #tx_locationsearch_locations_locationlist .owl-carousel .owl-stage .owl-item {
	height: 100%;
}
#tx_locationsearch_locations_locationlist .carousel-item {
	padding-bottom: 80px;
	position: relative;
	height: 100%;
}
#tx_locationsearch_locations_contactpersons .location_carousel .owl-stage-outer {
	margin-bottom: 20px;
}
.tx_locationsearch_locations .number, .tx_locationsearch_locations .email, .tx_locationsearch_locations .fax, .tx_locationsearch_locations .website {
	background-color: transparent;
	background-position: 0;
	padding: 15px 0px 9px 50px;
}
#tx_locationsearch_locations_locationlist .number, #tx_locationsearch_locations_locationlist .email, #tx_locationsearch_locations_locationlist .fax, #tx_locationsearch_locations_locationlist .website {
	background-color: transparent;
	background-position: 0;
	padding: 11px 0px 9px 50px;
	background-size: 24px 22px;
	font-size: 16px;
}
#tx_locationsearch_locations_locationlist a.button {
	background-position: 93.3% 15px;
	line-height: 17px;
	font-family: 'UniversLTW01-67BoldCn';
	text-transform: uppercase;
	font-size: 17px;
}
#tx_locationsearch_locations_locationlist .number {
	margin-top: 11px;
}
#show_country_locations.button {
	padding: 10px 55px 10px 17px;
}
#tx_locationsearch_locations_locationsearch .button_container_bottom a.button:hover {
	background-color: #ff8700;
}
#show_country_locations span {
	line-height: 28px;
}
#show_country_locations span::before {
	content: "";
	background: url('/typo3conf/ext/location_search/Resources/Public/Images/location-icon.png') no-repeat scroll;
	background-size: 24px 26px;
	cursor: pointer;
	width: 24px;
	height: 26px;
	display: block;
	float: left;
	margin-right: 15px;
}
.tx_locationsearch_callback_form {
	display: none;
}
/* OWL NAVIGATION POSITION */
.tx_locationsearch_locations #tx_locationsearch_locations_locationlist, #tx_locationsearch_locations_country_container, .tx-location-search, .tx-location-search .owl-carousel, .tx-location-search .owl-stage-outer {
	height: 100%;
}
.tx-location-search .owl-nav, .tx-location-search .owl-dots {
	position: absolute;
	bottom: 1px;
}
.tx-location-search .owl-nav, .tx-location-search .owl-dots .owl-dot {
	background-color: #fff;
}
.tx-location-search .owl-nav, .tx-location-search .owl-dots .owl-dot.active {
	background-color: #eb7d00;
}
.tx-location-search .owl-nav {
	bottom: 19px;
	z-index: 100;
}
#tx_locationsearch_locations_contactpersons .owl-carousel {
	position: static;
}
#tx_locationsearch_locations_contactpersons .tx-location-search .owl-nav {
	bottom: 41px;
}
#tx_locationsearch_locations_contactpersons .tx-location-search .owl-dots {
	bottom: 22px;
}

@media (max-width: 768px) {
.tx_locationsearch_locations {
	padding-top: 60px;
}
#tx_locationsearch_locations_locationsearch {
	min-height: calc(100vh - 250px);
}
#tx_locationsearch_locations_sub_container {
	height: auto;
}
.tx_locationsearch_locations .tab_navigation-line-slide {
	transform: translate(0, 0);
	margin-left: -8px;
	margin-right: -8px;
}
}

@media (max-width: 1024px) {
#tx_locationsearch_locations_locationsearch label {
	font-size: 16px;
}
.tx_locationsearch_locations .tx_locationsearch_back_button {
	left: 20px;
}
.tx_locationsearch_locations .tab_navigation ul li:first-child {
	margin: 0 24px;
}
}
.tx-location-search input {
	border-radius: 0 !important;
	-webkit-appearance: none !important;
}

/**************  location mobile ****************/
@media (max-width: 991px) {
.tx_locationsearch_locations {
	position: fixed;
	top: 100%;
	z-index: 501;
	min-height: 100vh;
	transition: all 0.7s ease-in-out;
	display: block;
	height: auto;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.tx_locationsearch_locations.mobile_slide {
	top: 0;
}
.tx_locationsearch_locations {
	width: 100vw;
	overflow-x: hidden;
}
.tx_locationsearch_locations .tab_navigation .content-container ul {
	padding-bottom: 3px;
	z-index: 3;
}
.tx_locationsearch_locations .tab_navigation-line-slide {
	margin-top: -10px;
}
.tx_locationsearch_locations .tab_navigation ul {
	margin-left: -22px;
}
.tx_locationsearch_locations .tab_navigation .content-container ul li {
	float: left;
}
.tx_locationsearch_locations .tab_navigation .content-container .row + div {
	overflow-x: auto;
	overflow-y: hidden;
	width: 100%;
}
.tab_navigation ul li.tab_slider {
	bottom: 0 !important;
}
.tx_locationsearch_locations .tab_navigation-line-slide {
	position: relative;
	z-index: 1;
}
.tx_locationsearch_locations a.button.top {
	display: none;
}
.tx_locationsearch_locations {
	padding-top: 30px;
}
#tx_locationsearch_locations_country_container > .tx-location-search {
	height: calc(100vh - 186px);
	overflow-y: scroll;
}
body > .tx-location-search .owl-nav > div {
	bottom: 14px;
	top: auto;
}
.tx_locationsearch_locations .tab_navigation .content_modul ul {
	margin-left: 0;
	margin-right: 0;
}
.tx_locationsearch_locations .tab_navigation-line-slide {
	transform: translateX(0);
}
/*.tx-location-search .carousel-item {
    width: 100% !important;
    min-width: 300px !important;
}*/
#tx_locationsearch_locations_locationlist {
	overflow-y: scroll;
	height: calc(100vh - 186px) !important;
}
#tx_locationsearch_locations_locationlist > .tx-location-search {
	min-height: 400px !important;
}
.tx_locationsearch_locations .button_container_bottom {
	margin-top: 20px;
	float: left;
	position: static;
}
.tx_locationsearch_locations .tx_locationsearch_back_button {
	bottom: -14px;
}
#tx_locationsearch_locations_sub_container {
	max-height: calc(100vh - 186px) !important;
}
}

@media only screen and (max-width: 500px) {
/*.tx_locationsearch_locations {;
	min-height: calc(100vh - 127px);
}
.tx_locationsearch_locations.mobile_slide {
	top: 127px;
}*/
}
