{namespace vh=In2code\Powermail\ViewHelpers}

<f:if condition="{page.css}=='layout1'">
    <f:then>
		<fieldset class="powermail_fieldset powermail_fieldset_{page.uid} {page.css}">
			<div class="col-md-6 col-xs-12 layout1 right">
			<div class="row">
			{vh:String.Upper(string:field.type)}
			<f:for each="{page.fields}" as="field" iteration="iterator">
					<f:if condition="{iterator.index} < 10">
						<f:render partial="Form/Field/{vh:String.Upper(string:field.type)}" arguments="{field:field}" />
					</f:if>	
			</f:for>
			</div>
			</div>
			<div class="col-md-6 col-xs-12 layout1 left">
			<div class="row">
			<f:for each="{page.fields}" as="field" iteration="iterator">
					<f:if condition="{iterator.index} >= 10">
						<f:render partial="Form/Field/{vh:String.Upper(string:field.type)}" arguments="{field:field}" />
					</f:if>	
			</f:for>
			</div>
			</div>
		</fieldset>
    </f:then>
	<f:else>
		<fieldset class="powermail_fieldset powermail_fieldset_{page.uid} {page.css}">
			<legend class="powermail_legend">{page.title}</legend>
			<f:for each="{page.fields}" as="field">
				<f:render partial="Form/Field/{vh:String.Upper(string:field.type)}" arguments="{field:field}" />
			</f:for>
		</fieldset>
</f:else>
</f:if>
 
