<?php

/**
 * @copyright Copyright (c) Metaways Infosystems GmbH, 2012
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 */
$enc = $this->encoder();

$itemData = $this->get('itemData',array());
$mediaItems = $this->get('mediaItems',array());

$attributeTypes = $this->get( 'attributeTypes', array() );
$listType = $this->config( 'client/html/catalog/medialist/type', 'datasheet' );
$listMediaFilters = $this->get('listMediaFilters', array());
$langCode = $this->get( 'langCode', '' );
$params = $this->param();
if(isset($params['f_listtype']) && !empty($params['f_listtype'])){
    $listType = $params['f_listtype'];
}
$contactUrl = $GLOBALS['TSFE']->cObj->typoLink_URL(array('parameter' => 388,'forceAbsoluteUrl' => true));

$isCertFilter=false;
if(isset($params['f_attrib_id'])){
    foreach($params['f_attrib_id'] as $item){
        if(!empty($item)){
            $isCertFilter=true;
        }
    }
}
if(!function_exists("convertUmlaute")) {
    function convertUmlaute($str)
    {
    $string = str_replace("ä", "ae", trim($str));
    $string = str_replace("ü", "ue", $string);
    $string = str_replace("ö", "oe", $string);
    $string = str_replace("Ä", "Ae", $string);
    $string = str_replace("Ü", "Ue", $string);
    $string = str_replace("Ö", "Oe", $string);
    $string = str_replace("ß", "ss", $string);
    return $string;
    }
}
//$listTypeTmpl = Client_Html_Catalog_Detail_Additional_Download_DefaultExt::replaceConfInternal($listType);
?>
<div class="aimeos media-list">
<?php if( isset( $this->listErrorList ) ) : ?>
    <ul class="error-list">
<?php foreach( (array) $this->listErrorList as $errmsg ) : ?>
        <li class="error-item"><?php echo $enc->html( $errmsg ); ?></li>
<?php endforeach; ?>
    </ul>
<?php endif; ?>
<div class="product_download medialist-<?php echo $listType ?>">
<?php echo $this->partial( 'client/html/catalog/medialist/filter/template/'.strtolower($listType), 'catalog/medialist/filter/body-filter-default.html', array('listMediaFilters'=>$listMediaFilters,'attributeTypes'=>$attributeTypes,'langCode'=>$langCode) ); ?>
<?php if( !empty($itemData) ) : ?>
    <?php echo $this->partial( 'client/html/catalog/medialist/download/template/'.strtolower($listType), 'catalog/detail/additional/download/default-body-default.html', array( 'mediaItems' => $mediaItems, 'itemData' => $itemData,'langCode'=>$langCode) ); ?>
<?php elseif((isset($params['d_prodid']) && !empty($params['d_prodid']))|| (isset($params['f_search']) && !empty($params['f_search'])) || ($isCertFilter) ):?>
<div class="results_info"><?php echo $enc->html( $this->translate( 'client/html','There is no file found'), $enc::TRUST ); ?>
    <br/>
    <a href="<?php echo $contactUrl;?>"><?php echo $enc->html( $this->translate( 'client/html','To Contact US'), $enc::TRUST ); ?></a ></div>
<?php endif; ?>
</div>
<?php echo $this->get( 'listBody' ); ?>

</div>
