
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<f:flashMessages />

<div class="tx_locationsearch_locations">
	<div class="tab_navigation">
		<div class="content-container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-xs-9">
					<h3><f:translate key="tx_locationsearch_all_locations" /></h3>
				</div>
				<div class="col-lg-6 col-md-6 col-xs-3">
					<div class="top_cta_container">
						<input type="text" placeholder="{f:translate(key:'tx_locationsearch_search_for_locations')}" id="location_top">
						<f:link.action action="ajaxGetLocationsForCountry" controller="Location" pageType="9999" class="button top" pluginName="Locations" id="get_locations_top" onclick="return false"><img src="/fileadmin/user_upload/gfx/searchx2.png"></f:link.action>
						<div id="location_search_close">x</div>
					</div>
				</div>
			</div>
			<div>
				<ul class="no_default">
					<f:for each="{regions}" as="region" iteration="i">
					
						<li><f:link.action action="ajaxGetCountriesForRegion" controller="Country" pageType="9999" pluginName="Locations" class="get_countries" additionalParams="{tx_locationsearch_locations: {region_uid: region.uid}}" onclick="return false">{region.name}</f:link.action></li>
					</f:for>
					<li class="tab_slider"></li>
				</ul>
				<div class="tab_navigation-line-slide"></div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div id="tx_locationsearch_locations_sub_container" class="content-container">
		<div id="tx_locationsearch_locations_country_container"></div>
		<div id="tx_locationsearch_locations_locationsearch">
			<label for="zipcode_top"><f:translate key="tx_locationsearch_zipcode_top" /></label>
			<input type="text" value="{search_preset}" placeholder="{f:translate(key:'tx_locationsearch_enter_zipcode')}" id="zipcode_top">
			<input type="hidden" id="country_top">
			<f:link.action action="ajaxGetContactPersonForZipcode" controller="ContactPerson" pageType="9999" pluginName="Locations" id="send_plz_top" class="button blue" onclick="return false"><span><f:translate key="tx_locationsearch_find" /></span></f:link.action>
			<div class="clearfix"></div>
			<div id="tx_locationsearch_locations_contactpersons"></div>
			<div class="button_container_bottom center">
				<a id="show_country_locations" class="button"><span><f:translate key="tx_locationsearch_show_locations" /></span></a>
			</div>
		</div>
		<div id="tx_locationsearch_locations_locationlist">
			
		</div>
		<a class="tx_locationsearch_back_button"><span><f:translate key="tx_locationsearch_back" /></span></a>
	</div>
	<div id="locations_loading"></div>
</div>
</f:section>