{namespace ExtImp=Tx_ExternalImport_ViewHelpers}

<f:render section="header" />

<ExtImp:be.container pageTitle="{f:translate(key: 'mlang_tabs_tab')}" enableClickMenu="false" loadPrototype="false" loadExtJs="true" loadExtJsTheme="true" includeCssFiles="{f:uri.resource(path:'StyleSheet/ExternalImport.css')}" includeJsFiles="{f:uri.resource(path:'JavaScript/Application.js')}" globalWriteAccess="{globalWriteAccess}" view="{view}" >
	<div class="typo3-fullDoc" id="external-import-module">
		<!-- Page header with buttons, path details and csh -->
		<div id="typo3-docheader">
			<div id="typo3-docheader-row1">
				<div class="buttonsleft">&nbsp;</div>
				<div class="buttonsright">
					<f:be.buttons.icon uri="{f:uri.action()}" icon="{refresh_icon}" title="{f:translate(key: 'refresh')}" />
					<f:be.buttons.shortcut />
				</div>
			</div>
			<div id="typo3-docheader-row2">
				<div class="docheader-row2-left">
					<f:be.menus.actionMenu>
                        <f:be.menus.actionMenuItem label="{f:translate(key: 'function_files')}" controller="Listing" action="files"/>
						<f:be.menus.actionMenuItem label="{f:translate(key: 'function_sync')}" controller="Listing" action="sync" />
						<f:be.menus.actionMenuItem label="{f:translate(key: 'function_nosync')}" controller="Listing" action="noSync"/>
					</f:be.menus.actionMenu>
				</div>
				<div class="docheader-row2-right">&nbsp;</div>
			</div>
		</div>
		<!-- Content of module, for instance listing, info or editing -->
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:flashMessages renderMode="div" />
				<f:render section="main" />
			</div>
		</div>
	</div>
</ExtImp:be.container>
