<!-- categories -->
<span class="news-list-category" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
	<f:for each="{categories}" as="category" iteration="categoryIterator" reverse="0">
		<f:if condition="{categoryIterator.isFirst}">
			<f:then>
				
					{category.title}

			</f:then>
			<f:else>
			
			</f:else>
		</f:if>
	</f:for>
</span>