<f:for each="{data.tx_mask_buehne}" as="data_item">
<f:if condition="{data_item.tx_mask_image}">
<f:for each="{data_item.tx_mask_image}" as="file">
  <f:image image="{file}" alt="{file.alternative}" title="{file.title}" style="width:200px;height:auto;" />
</f:for>
</f:if>
</f:for>