<f:if condition="{data.tx_mask_buehne_modul_l}">
	<f:for each="{data.tx_mask_buehne_modul_l}" as="data_item">
		<f:if condition="{data_item.tx_mask_image_modul_l}">
			<f:for each="{data_item.tx_mask_image_modul_l}" as="file">
				<f:image image="{file}" alt="{file.alternative}" title="{file.title}" width="200" />
			</f:for>
		</f:if>
	</f:for>
</f:if>