
                <f:for each="{data.tx_mask_iconmodul}" as="data_item">
              
                        <f:if condition="{data_item.tx_mask_image}">
                          <f:for each="{data_item.tx_mask_image}" as="file">
                            <f:image image="{file}" alt="{file.alternative}" title="{file.title}" width="100" />
                          </f:for>
                        </f:if>
                 
                      <h2>
                        <f:if condition="{data_item.tx_mask_headline}"><f:format.html parseFuncTSPath="lib.parseFunc">{data_item.tx_mask_headline}</f:format.html></f:if>
                      </h2>
          
             
                </f:for>
