<f:for each="{data.tx_mask_bild_video_einbettung}" as="data_item">



<f:if condition="{data_item.tx_mask_image}">
<f:for each="{data_item.tx_mask_image}" as="file">
<f:image image="{file}" alt="{file.alternative}" title="{file.title}" width="200" />
</f:for>
</f:if>

</f:for>