   
   <f:for each="{data.tx_mask_expandable}" as="data_item" iteration="iterator"> 
      <f:if condition="{data_item.tx_mask_headline}">

                        <h2 >
                          
                               {data_item.tx_mask_headline}
                            
                        </h2>
                  
      
      </f:if>   
    
  </f:for>
 