<f:if condition="{data.tx_mask_paragraph_modul}"> 
 <f:for each="{data.tx_mask_paragraph_modul}" as="data_item"> <li>
 <f:if condition="{data_item.tx_mask_content}"> <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data_item.tx_mask_content}</f:format.html><br /> </f:if>  
 </f:for> 
</f:if>