<f:if condition="{data.tx_mask_kontaktbox}">
<ul>
<f:for each="{data.tx_mask_kontaktbox}" as="data_item">
<li><f:if condition="{data_item.tx_mask_person}">
<ul>
<f:for each="{data_item.tx_mask_person}" as="data_item_item">
<li><f:if condition="{data_item_item.tx_mask_headline}">
{data_item_item.tx_mask_headline}<br />
</f:if>


<f:if condition="{data_item_item.tx_mask_image}">
<f:for each="{data_item_item.tx_mask_image}" as="file">
<f:image image="{file}" alt="{file.alternative}" title="{file.title}" width="200" /><br />
{file.description} / {file.identifier}<br />
</f:for>
</f:if>


<f:if condition="{data_item_item.tx_mask_presse_subline}">
<f:format.nl2br>{data_item_item.tx_mask_presse_subline}</f:format.nl2br><br />
</f:if>


<f:if condition="{data_item_item.tx_mask_name}">
{data_item_item.tx_mask_name}<br />
</f:if>


<f:if condition="{data_item_item.tx_mask_adreese}">
<f:format.nl2br>{data_item_item.tx_mask_adreese}</f:format.nl2br><br />
</f:if>


<f:if condition="{data_item_item.tx_mask_telefon}">
{data_item_item.tx_mask_telefon}<br />
</f:if>


<f:if condition="{data_item_item.tx_mask_email}">
{data_item_item.tx_mask_email}<br />
</f:if>


<f:if condition="{data_item_item.tx_mask_fax}">
{data_item_item.tx_mask_fax}<br />
</f:if>


<f:if condition="{data_item_item.tx_mask_website}">
{data_item_item.tx_mask_website}<br />
</f:if>


<f:if condition="{data_item_item.tx_mask_kontakt_name}">
{data_item_item.tx_mask_kontakt_name}<br />
</f:if>


<f:if condition="{data_item_item.tx_mask_kontakt_link}">
<f:link.page pageUid="{data_item_item.tx_mask_kontakt_link}">{data.tx_mask_kontakt_link}</f:link.page><br />
</f:if>


</li>
</f:for>
</ul>
</f:if>


</li>
</f:for>
</ul>
</f:if>