<f:for each="{data.tx_mask_teaserboxen_2er_raster}" as="data_item">

                  <h2>
                    <f:format.html parseFuncTSPath="lib.parseFunc">{data_item.tx_mask_headline}</f:format.html>
                  </h2>
                  
</f:for>