      <f:for each="{data.tx_mask_bildbox}" as="data_item">

                  <f:for each="{data_item.tx_mask_image}" as="file">
                    <f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" width="100"/>
                  </f:for>
                 
            </f:for>

