
                    <f:for each="{data.tx_mask_teaser_klein}" as="data_item" iteration="i">
                                    <f:for each="{data_item.tx_mask_image}" as="file">
                                        <f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" width="100" />
                                    </f:for>
                               
                    </f:for>


                        <f:for each="{data.tx_mask_image_gross}" as="file">
                            <f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" />
                        </f:for>
