<f:for each="{data.tx_mask_vierer_raster}" as="data_item">
   <f:if condition="{data_item.tx_mask_vierer_raster_image}"> <f:for each="{data_item.tx_mask_vierer_raster_image}" as="file"> <f:image image="{file}" alt="{file.alternative}" title="{file.title}" width="100" /></f:for> </f:if>   
</f:for> 