<div class="lightbox_contener module">
  <div class="content_modul">
    <div  class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-7 headline-row"> <a href="#lightbox_contener" class="html5lightbox" data-width="1140" data-height="800">
        <h2>CM-10: Lightbox Container</h2>
        </a> </div>
    </div>
  </div>
  <f:if condition="{data.tx_mask_lightbox_content}">
    <div id="lightbox_contener" style="display:none;">
      <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_mask_lightbox_content}</f:format.html>
      <br />
    </div>
  </f:if>
</div>
