
	<f:if condition="{data.tx_mask_image_map}">
		<f:for each="{data.tx_mask_image_map}" as="file">
			<f:image image="{file}" alt="{file.alternative}" title="{file.title}" width="200"/>
		</f:for>
	</f:if>
	