
						<f:for each="{data.tx_mask_teaserblock_mit_versatz_big}" as="data_item">
							
							
							<f:if condition="{data_item.tx_mask_teaserblock_mit_versatz_image}"> 	
								<f:for each="{data_item.tx_mask_teaserblock_mit_versatz_image}" as="file"> 
									<f:image image="{file}" alt="{file.alternative}" title="{file.title}" width="100"  />
								</f:for> 
							</f:if> 
												
						</f:for> 
									
			
				<f:for each="{data.tx_mask_teaserblock_mit_versatz}" as="data_item"> 
					
						<f:if condition="{data_item.tx_mask_teaserblock_mit_versatz_image}"> 
							<f:for each="{data_item.tx_mask_teaserblock_mit_versatz_image}" as="file"> 
								<f:image image="{file}" alt="{file.alternative}" title="{file.title}"  width="100" />
							</f:for> 
						</f:if>
				
				</f:for>
			