<f:for each="{data.tx_mask_text_bild_modul_more}" as="data_item"> 

			<f:for each="{data_item.tx_mask_text_bild_module_image}" as="file"> 
				<f:image image="{file}" alt="{file.alternative}" title="{file.title}" width="100" />
			</f:for> 

		
	</f:for>