<f:for each="{data.tx_mask_teaser_externe}" as="data_item">
                <f:for each="{data_item.tx_mask_icon}" as="file">
                  <f:image src="{file.uid}" alt="{file.alternative}" title="{file.title}" treatIdAsReference="1" width="25"/>
                </f:for>
 </f:for>
 
