<f:layout name="Module" />

<f:section name="header">
</f:section>

<f:section name="main">
    <f:if condition="{0: globalWriteAccess} == {0: 'all'}">
        <div id="external-import-full-sync-box">
            <h3><f:translate key="full_autosync" /></h3>
            <div id="external-import-full-sync"></div>
        </div>
    </f:if>
    <div id="external-import-grid"></div>
</f:section>