<f:layout name="Module" />

<f:section name="header">
</f:section>

<f:section name="main">
	<h2><f:translate key="function_sync" /></h2>
	<p><f:translate key="external_tables_intro" /></p>
	<p>&nbsp;</p>
	<div id="external-import-grid"></div>

</f:section>